[2017-08-25 18:22] #202 closed

[2017-08-25 18:26] ChackDan commented on #419
This has nothing to do with the PS command. file an issue with the owner of "VsDebuggerService-a0rq8lmmp7" extension.  It is having issues and not installing properly and on time. The VMSS has a timeout for extension deployment - I think it is 30 mins.. If the owner thinks that the extn code is fine, then file a CSS ticket for the VMSS team.

[2017-08-25 18:28] masnider commented on #425
@erinknight242 I just tried this in chrome and was successful. Can you try it again? Looks like a transient thing with MS download center.

[2017-08-25 18:30] masnider commented on #169
@haseeb-ahmed-tkxel - so were you able to get this working? Can you share the code that isn't working as you expect today and the errors that you're encountering?

[2017-08-25 18:42] masnider commented on #159
@dbreshears @MikkelHegn @vturecek AFAIK this works now, right guys?

[2017-08-25 18:47] masnider commented on #131
@TarasRoshko - the new Azure PS cmds (ex: https://docs.microsoft.com/en-us/powershell/module/azurerm.servicefabric/new-azurermservicefabriccluster?view=azurermps-4.3.1) should make this easier for you from the SF perspective. Since that only completes when the cmdlet can connect to the cluster. I think that addresses the main point of your issue here, so I'm going to close down this issue. If you

[2017-08-25 18:47] #131 closed

[2017-08-25 18:48] masnider commented on #66
@johnkattenhorn - any followup here? Were you able to get this working?

[2017-08-25 18:48] sondreb commented on #419
The extension was most likely installed after remote debugging the Azure Service Fabric cluster from Visual Studio. Looking at the automation script generated in the Azure portal, I can see the extension listed:

[code]

This extension is listed in the same section as the "ServiceFabricNode" extension.

And looking at that extension, it appears to be both:

"certificate" and "certificateSecondary"

[2017-08-25 18:49] masnider commented on #47
@rajaprad - we never heard back from you. I'm going to close this issue down. If you have any feedback or can let us know if this ended up working for you, just reopen this issue or create a new one with a specific repro.

[2017-08-25 18:49] #47 closed

[2017-08-25 18:49] erinknight242 commented on #425
Strange; it still happened for me after exiting Chrome and starting a new session, but when I opened an incognito window, it worked there.

[2017-08-25 18:53] erinknight242 commented on #425
I have profiles set up and switched to a different Person, and it worked there. It still does not work for my main account, though.

[2017-08-25 18:54] masnider commented on #425
It may be somehow logged in on Chrome with some weird live/msa id that's causing weird redirects?

[2017-08-25 18:56] masnider commented on #425
Fire up fiddler :)

[2017-08-25 18:58] erinknight242 commented on #425
Yeah that looks like it; I went to login.live.com and signed out, and then the link worked. I signed back in and it worked still.

So, I don't have an answer for why, but that looks like it took care of it. Thanks!

[2017-08-25 18:59] masnider commented on #425
No problem. Glad it was minor!

[2017-08-25 18:59] #425 closed

[2017-08-25 19:07] johnkattenhorn commented on #66
He @masnider - we moved all of our code back to full .NET as we couldn't solve it. We should try it again someday though.

[2017-08-25 19:13] MrMint commented on #325
Our goal was to use services to process messages off of service bus. We would have liked to be able to control the amount of concurrency/throughput by dynamically tweaking the instance count for the service. This would keep the code for each service simple, and leverage service fabric to meet our concurrency/throughput needs. We ended up ditching partitioning the stateless service as the inherit l

[2017-08-25 19:27] pchamakura commented on #346
Thank you @masnider . This issue is resolved and I'm closing it.

[2017-08-25 19:27] #346 closed

[2017-08-25 19:58] sondreb commented on #419
I ran the "Disable Debugging" command from the Cloud Explorer within Visual Studio 2017, it processes for a while and gave some sort of error message. But apparently it did run for a while and after that, the "VsDebuggerService" extension in the cluster ARM template ("Automation script") have disappeared. It's probably a year since remote debugging was run against that cluster.

Hopefully it shoul

[2017-08-25 21:32] dbreshears commented on #376
The utilities that update the manifests are installed by the SDK  (FABActUtil / AppManifestCleanup) and we invoke them via our build targets/tasks based on references from the SFApp project.    I will agree removing and not updating the manifest until build it is a bit counter-intuitive , however we don't have plans currently to implement this in the VS  design time experience.

[2017-08-25 23:20] JohnNilsson commented on #229
Nope, it's still stuck. Now it's getting really annoying though, since the runtime is stuck at the unsupported 5.5-version, and certificates are starting to expire. Hope to have it sorted in the next couple of days though, can report back here if it works out.

[2017-08-25 23:29] #370 closed

[2017-08-26 10:14] jfloodnet commented on #379
Thanks, make sense when you put it that way. Cheers

[2017-08-26 10:14] #379 closed

[2017-08-28 06:08] haseeb-ahmed-tkxel commented on #369
@masnider Yep! But it doesn't seem to do anything when working with Service Fabric... it was running fine when our app was a WebApp (ASP.NET WebAPI) and not a Service Fabric ApplicationType.

[2017-08-28 06:44] andrejohansson commented on #354
@masnider yes and no! The concrete answer is answered. But I am still interested in some guidance of how you guys setup large systems using Service Fabric. What is your rules for when to create a new actor/service and when do you take the leap to a new application?

[2017-08-28 08:59] AsValeO commented on #304
I've got exactly the same question.
Using standard Service Fabric **Remoting**
`new ServiceInstanceListener(this.CreateServiceRemotingListener)`
WPF - a client. How can it access service deployed in cloud?

Or is **Remoting** is not suitable in this case? If so, what kind of endpoind I should use to call service methods from WPF through the internet.

[2017-08-28 09:03] sondreb commented on #419
After running the "Disable Debugging" from Cloud Explorer in Visual Studio, it appears to have removed the VsDebuggerService from the virtual machines in the cluster, and now the PS command to add the certificate worked (takes more than an hour to run).

So if anyone in the future see a similar issue, make sure you just run the Disable Debugging if you have ever run remote debugging against the cl

[2017-08-28 09:03] #419 closed

[2017-08-28 13:08] aL3891 commented on #419
That's some detective work right there, we had the same issue but ended up rebuilding the cluster, and azure support was not able to find the solution either.

Great to know there is a potential workaround if we run in to it again

[2017-08-28 13:27] deepakjangid-MSFT commented on #397
From this error I am quite clear that the app is still linked with packages from nuget.org and not the ones shipped with C# sdk debian package. So these will not work on a **Linux** Service Fabric Cluster.
`
System.TypeInitializationException: The type initializer for 'System.Fabric.Common.AppTrace' threw an exception. ---> System.DllNotFoundException: FabricCommon.dll
`
On Linux the App link to l

[2017-08-28 15:12] DenisPitcher opened #426 "Issue publishing updated version of service - FABRIC_E_FILE_NOT_FOUND: File not found"
I had my service fabric up and running with a couple services.  I then tried renaming a service to a different type and name so that it was more compatible for use with the reverse proxy.

On attempting to publish a new version of my service from visual studio I encounter the following error

2>New-ServiceFabricApplication : Operation timed out.
2>At C:\Program Files\Microsoft SDKs\Service
2>Fabri

[2017-08-28 17:53] MikkelHegn commented on #419
@dbreshears @QingChenmsft Can you please coordinate the troubleshooting to figure out where to fix this? Thanks.

[2017-08-28 18:12] MikkelHegn commented on #354
There are no rules per se for this question, it really comes down to your specific scenario. I've seen application boundaries aligned with a bounded context in a domain-driven design which to some degree aligns with each application should only exposes one public endpoint.
If your application can have multiple instances of "something", then making use of Application Types is a good practice as wel

[2017-08-28 19:00] MikkelHegn commented on #206
Current versions are documented here: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started#install-the-sdk-and-tools

[2017-08-28 19:00] #206 closed

[2017-08-28 19:05] MikkelHegn commented on #408
Workaround is described in the linked issue

[2017-08-28 19:40] rishirsinha commented on #360
The system error code 5 in "Unable to change open service manager handle because 5" means access denied. This is caused by one of two issues

1. The powershell window you are running is not an admin window.
2. The user you are running is not admin on the remote machines.

Please verify both and if these are not the case let us know.

[2017-08-28 19:45] rishirsinha commented on #323
@GuptaParitosh Can you confirm that the issue is resolved? I will leave the issue up for the next week so that we can get a mutual resolution.

[2017-08-28 19:47] #95 closed

[2017-08-28 19:51] #211 closed

[2017-08-28 19:55] heeldin commented on #137
Trying to connect in a function will set the connection at the function’s scope which is lost once they return to their script again. I think this is the simplest we can get with PowerShell.
Setting it manually global is correct.
Another solution would be :
To create another cmdlet called “Set-ServiceFabricClusterConnection –ClusterConnection <ClusterConnection >” . This cmdlet will take a cluster

[2017-08-28 19:56] #137 closed

[2017-08-28 21:12] rishirsinha commented on #293
First of all apologies for the extremely delayed response. We looked at the files and these seem to be coming from some other component that is generating these files based on the changes of firewall rules when application upgrade is happening. Can you check to see if there is some component on the server machines which is doing the same?

[2017-08-29 00:38] endintiers commented on #369
Struggling with the same problem in Azure Functions...in that case AppDomain.CurrentDomain.BaseDirectory points to the Azure Functions runner binaries, not your binaries - so it doesn't find them. Need a different address but I'm not sure what that is in Service Fabric (or Azure Functions)

[2017-08-29 01:42] Jose-CF commented on #397
@deepakjangid-MSFT  Thank you for your answer. This gives some hints for sure.
Although I really tried also with the linux packages. T might be indeed the problem...

Something is pointing to FabricCommon library that cannot be found when running in Linux. Maybe the reference to the library is wrong (maybe FabricCommon.dll hardcoded and then cannot find libFabricCommon.so?) or maybe libFabricCommo

[2017-08-29 04:31] ConX-Ryan opened #427 "service fabric service runtime error netstandard 2.0"
**Could not load file or assembly 'netstandard, Version 2.0.0.0 ...'**
I am updating our projects to use EFCore 2.0 and I am having difficulty with the assemblies.

I am using A Stateful Service Project targeting 4.6.1, which should be compatible?
ServiceFabric 5.7.198
ServiceFabric.Services 2.7.198
I've made reference to NETStandard.Library.

Strangely enough I have not encountered this problem w

[2017-08-29 07:08] GuptaParitosh commented on #323
@rishirsinha Issue is resolved by updating the window 7. Please close this issue.
@rishirsinha  @AlanWarwick  Thanks for the help.

[2017-08-29 07:09] GuptaParitosh commented on #211
Thanks @AlanWarwick  Issue is resolved by updating Window 7

[2017-08-29 07:10] #323 closed

[2017-08-29 08:15] andrejohansson commented on #354
Primarily I would say the development lifecycle. I want a developer to be able to develop, run unit tests quickly using ncrunch. This works fine today. But then the next step to actually run your changes in a cluster  can take some time (even if the local cluster is set to 1 node) if the solution grows a bit. So I'm trying to find a nice balance between:

* Developer velocity (running in actual en

[2017-08-29 08:33] AndrewJWaite commented on #418
Thanks for the update @kavyako

Yes it is a stateless service

[2017-08-29 15:31] dealboy commented on #422
we have the same issue for an on premise SF installation (5.6.220.9494).
Only workaround found so far, restart all the nodes from the SF Explorer

[2017-08-29 16:01] zeodamian opened #428 "ServiceFabric node time not synchronized?"
We have now seen that a few events in our system, where one can _only_ come as a result of the other, had their timestamps, which use DateTime.UtcNow, not ordered as such.

The first event had a later timestamp than the following event.
In some cases around a second diff.
What you would expect with the delay in the handling between these events, is that the following event have come a few hundred

[2017-08-29 16:09] zeodamian commented on #417
This is where it was throwing:

[code]

which was run with a retry logic. no other transactions in outer scopes.

[2017-08-29 21:07] mathlesp opened #429 "Reverse Proxy 404 - FABRIC_E_SERVICE_DOES_NOT_EXIST"
The Reverse Proxy will sometime return error 404 - FABRIC_E_SERVICE_DOES_NOT_EXIST when it should not.

see: [https://social.msdn.microsoft.com/Forums/en-US/5992f5a4-74c0-42fc-875a-38477320bd9b/service-fabric-reverse-proxy-404-fabriceservicedoesnotexist?forum=AzureServiceFabric](https://social.msdn.microsoft.com/Forums/en-US/5992f5a4-74c0-42fc-875a-38477320bd9b/service-fabric-reverse-proxy-404-fab

[2017-08-29 21:36] masnider commented on #253
I'm closing this now. let us know if you still need help by reopening this or creating a new issue. Thanks!

[2017-08-29 21:36] #253 closed

[2017-08-29 21:36] AsValeO commented on #302
@pharring, thank you but unfortunately, this workaround not helped in my case.
v2.7.198/5.7.198
net4.7
Please add PackageReference support.

[2017-08-29 21:36] #265 closed

[2017-08-29 21:38] masnider commented on #288
@TVDKoni - We haven't heard back from you in a while about whether the http APIs were sufficient for you. If you can let us know, that'd be great. If we don't hear back from you in a while, we'll close this issue. You can reopen it if you have further questions. Thanks!

[2017-08-29 21:39] masnider commented on #307
@doverton51 - Hi there! It's been a couple releases since we fixed this. If you could get back to us and let us know if this has been resolved to your satisfaction that'd be great! If we don't hear back from you soon, we'll consider this closed.

[2017-08-29 21:45] dbreshears commented on #374
This has been fixed in the 1.6.1 version of the Microsoft.VisualStudio.Azure.Fabric.MSBuild Nuget package which ships as part of our latest tooling.  I see the filename output as part of Test-ServiceFabricApplicationPackage

When I publish the SFTest sample project to local cluster I get

[code]

[2017-08-29 21:45] #374 closed

[2017-08-29 21:45] ravipal commented on #302
@AsValeO, Starting from 1.7 tooling, PackageReference is supported on SDK style projects (<project Sdk="Microsoft.NET.Sdk">). For other projects the PackageReference will be supported in the next release with some limitations. My suggestion would be to convert your project to SDK style project, if you would like to use ProjectReference.

[2017-08-29 21:54] masnider commented on #311
@shlomchoh - were you ever able to resolve this? You should have just been able to run the commands on the nodes without installing the SDK. And installing the SDK yourself is never going to be supported.

If you give us more information we can try to recommend you what to do. If we don't hear back from you we'll close the issue down.

[2017-08-29 21:58] masnider commented on #399
I don't know of any plans for that. Generally we're moving away from doing more http.sys specific stuff since that inherently means that the app works only on Windows.

[2017-08-29 22:15] masnider commented on #404
Confirmed that this is a bug. We're tracking it internally now and will provide more information when we're shipping a fix. Thanks for reporting this!

[2017-08-29 22:16] TVDKoni commented on #288
Hi

We solved the issue by creating a VM and deploying from there. So please close.

Herzliche Grüsse / Kind regards

Koni / Konrad Brunner

From: Matt [mailto:notifications@github.com]
Sent: Tuesday, August 29, 2017 11:38 PM
To: Azure/service-fabric-issues <service-fabric-issues@noreply.github.com>
Cc: Konrad Brunner <Konrad.Brunner@trivadis.com>; Mention <mention@noreply.github.com>
Subject: Re:

[2017-08-29 22:17] masnider commented on #405
@Izzmo - what are the differences between the two environments? In the unit tests, what's injected/mocked?  In the tests that pass, is there actual replication? Does the same code work when there's > 1 replica?

[2017-08-29 22:18] masnider commented on #410
@Izzmo - Does this answer your question? I'm with Vas - I'd also be keeping this in a config package and deploying changes alongside your code via upgrades.

[2017-08-30 01:59] Izzmo commented on #410
I think so, I'll try it out and see how it goes. Thanks!

[2017-08-30 01:59] #410 closed

[2017-08-30 02:38] gramidt commented on #130
@MikkelHegn Was hoping to hear that the experimentation led to a feature being developed to help solve this common issue. It still seems weird to me that this isn't a first class citizen in Service Fabric, since a major benefit of a micro-service approach is to allow your teams to work in a more independent fashion without stepping on each others toes. For example, in many docker environments I've

[2017-08-30 06:06] haseeb-ahmed-tkxel commented on #369
@endintiers Thank man! Your solution + another made it work for me.  Here is what I did:

[code]

Than, after that I opened up the App.Config file and added the following XML in the "assemblyBinding" section.

[code]

I hope this helps anyone else having this issue. :-)

[2017-08-30 11:33] ashishnegi commented on #427
Please see if https://github.com/dotnet/standard/issues/328 thread' solution fixes this.
This does not look like a ServiceFabric issue.

[2017-08-30 13:41] Izzmo commented on #405
@masnider thanks for responding. So, this is a _very basic_ example where we aren't testing against anything in service fabric explicitly, so no mocks are needed.

As far as a call diagram goes, this specific `OrderRequest` class is being setup by a WebApi Controller and then passed into the microservice via a proxy. The microservice is a stateful service with 3 replicas.

Web Request -> Route to

[2017-08-30 15:40] robgonfer commented on #188
Hi @oanapl what is the right way to override this parameter and HealthCheckWaitDuration? I know is possible to set these 2 at the cluster level (in Azure portal) but have not found a way to do it at the application level. Is it something that can be configured in the service manifest or app manifest? Our deployment takes sometimes more than 1 hour and I am trying to bring that down.

Thanks.

[2017-08-30 19:08] rajaprad opened #430 "Unable to reset scaleset VM password during a cluster upgrade"
On every cluster upgrade my organisational policy and need is to change the VMSS Machine passwords.
This was working fine for sometime in the past and lately failing with the bellow error,

  "error": {
    "code": "PropertyChangeNotAllowed",
    "target": "adminPassword",
    "message": "**Changing property 'adminPassword' is not allowed**."
  }
}'

[2017-08-30 21:54] kavyako commented on #429
Do you get the 404 only immediately after the node is rebooted /app is redeployed? What happens if you wait for say 5 -10 minutes after node reboot, is the issue seen even after some time?
What version of service fabric are you on?

[2017-08-30 23:02] mathlesp commented on #429
1. We get the 404 anytime after the node is rebooted. However, we mainly did our test right after the node was reported as healthy in the cluster. Sometime the node will fix itself but we have seen the error persist for a long time (hours/days).
2. No issue reported by servie fabric explorer; the app looks healthy;
3. Both the cluster and the app are on the latest version (5.7.198.9494/2.7.198);

[2017-08-31 00:14] NickDarvey opened #431 "API Management host resolution"
We're using the Service Fabric + API Management integration and have a couple of services which are called rarely, however when they are called, we'd need them to respond promptly.

Right now, if the service is moved, it takes a long while to detect and our clients time out.

[code]

Is there any configuration of the integration we can tweak to actively scan for host addresses or reduce the timeou

[2017-08-31 04:39] bklooste opened #432 "NotifyDictionaryItemUpdatedEventArgs does not include pre change value"
We have an in memory index , however when the collection changes we don't have the original value so the only way we can update the index is via a brute force key scan to remove and read the item.

[2017-08-31 09:23] ConX-Ryan commented on #427
I eventually fixed this having to manually overwrite the .csproj file xml with the new project format.
`<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>net461</TargetFramework>
    <RuntimeIdentifier>win7-x64</RuntimeIdentifier>
    <IsServiceFabricServiceProject>True</IsServiceFabricServiceProject>
    <ApplicationIcon />
    <OutputType>Exe</OutputType>
    <StartupObje

[2017-08-31 12:28] Mardoxx commented on #371
Any updates? Pretty important if broken, no?

[2017-08-31 14:46] Mardoxx commented on #339
[URLs in general are case-sensitive (with the exception of machine names). There may be URLs, or parts of URLs, where case doesn't matter, but identifying these may not be easy. Users should always consider that URLs are case-sensitive.](https://www.w3.org/TR/WD-html40-970708/htmlweb.html)

[2017-08-31 16:16] awcab commented on #146
I just started seeing this yesterday with no known changes to the build config.  My certificates are still valid.

[2017-08-31 21:38] jricke commented on #214
I am experiencing this issue. Has there been a solution identified?

[2017-08-31 22:22] MikkelHegn commented on #214
@jricke: can you please add more info?
The error message indicates you're deploying an application type, where a config package in one of your service types is different than what's already in the cluster, but has the same version number.

[2017-08-31 22:36] awcab opened #433 "Certificate No Longer Working For Cluster Authentication"
I have a certificate that expires in May 2018 that I used to create my cluster.  It has been working fine since this past May.  However, it suddenly stopped working last week for no apparent reason.  I can no longer deploy or access the cluster with that certificate.  I've checked it several ways and it does not appear to be revoked or invalidated. I've tried both from VS and powershell with the s

[2017-08-31 22:53] jricke commented on #214
@MikkelHegn My error message is:

The content in CodePackage Name:Code and Version:0.1.20170829.4 in Service Manifest 'xPkg' has changed, but the version number is the same.

The files are being build by VSTS and are versioned using the Update Service Fabric App Versions task with the Update only when changed option selected.

All the projects have Determinstic=true in them as well as the build va

[2017-09-01 00:23] Mardoxx commented on #427
What was your csproj file like before you modified it?

[2017-09-01 00:42] ConX-Ryan commented on #427
[code]

the old format

[2017-09-01 09:00] bartbovendeerdt commented on #130
@MikkelHegn Could you outline a scenario how you would support Application A and Application B both using a version of the same ServiceType, without using 1 single solution due to multiple teams working on A, B and the ServiceType. We are currently working on a platform where there will be applications that will reuse certains ServiceTypes and we are unsure on how to reference the same ServiceType

[2017-09-01 13:24] enemaerke opened #434 "NodeAgentSFUtility crashed and node rebooted"
Just happened on our production cluster. Node 4 went missing but recovered after a reboot and the cluster rebalanced. From the EventLog we have the follow information:

Application: NodeAgentSFUtility.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.Runtime.InteropServices.COMException
   at System.Fabric.Interop.Native

[2017-09-01 16:21] MikkelHegn commented on #130
@gramidt How would that feature look like? Is it a Visual Studio feature? If so, what's the relationship between solutions, application (projects), services (projects) and repositories in that setup?
Today a VS solution maps to one repository, and can have multiple applications and services (projects) that are tied together. Is your ask to be able to pull in services (projects) from other
reposito

[2017-09-01 16:21] MikkelHegn commented on #130
@bartbovendeerdt I guess for your question the scenario would be SFNuget.

[2017-09-01 16:22] MikkelHegn commented on #130
Another point - remember that services in applications are still just types. VS puts you on a path where all service types are created as default services on application instance creation. You can control this and you can have application types with service types that are simply not instantiated upon application creation.

[2017-09-01 16:31] MikkelHegn commented on #214
@jricke The error is a hash comparison between the code package already in SF and the one you deploy. As these are deemed different by the cluster, without a version change, you see this error. A compressed vs. non-compressed code package will also cause this validation error.

It could be the PDB (symbol) files, which are part of your build output. These are not deterministic and will change. Mak

[2017-09-01 17:53] Liphi commented on #433
The best practice is to start cert roll over before certs expire. And a health warning has been implemented in recent service fabric versions to automatically detect and remind before certs expire.

[2017-09-01 17:59] awcab commented on #433
Hey @Liphi  did you notice my first sentence where the certificate doesn't expire until May of next year?  Is it typical to close issues in this manner?

cc: @masnider

[2017-09-01 18:05] Liphi commented on #433
Ah, overlooked that. So, ur cluster is on Azure, right? Cert expiration may not be the only reason to cause cert loading failure. Maybe the cert is somehow not installed or ACLed correctly when VM gets recreated and nodes get moved. Could u upgrade ur cluster to the latest Service Fabric version? In recent versions we've implemented detection and health warning for cert loading failure.

[2017-09-01 18:07] awcab commented on #433
Hi @Liphi , as I mentioned, this has been functioning well for months, so I believe it to be installed correctly.  It is installed the same way as the secondary certificate that is now working.  The cluster is on the latest version.  I am not getting any health warnings.

[2017-09-01 18:15] Liphi commented on #433
Since the deployment is on Azure, Azure may move nodes to other VMs if it needs, which is transparent to user. Usually such move should correctly install/ ACL the certs. For us to further diagnose, trace logs are needed, and I can check with the guy implementing the health warnings to see why ur case is not covered.

[2017-09-01 18:18] awcab commented on #433
Ok - lmk if the logs would be helpful and from where I can pull them.

[2017-09-01 18:34] Liphi commented on #433
One more question... u mentioned that after the issue happened u 'switched' to the secondary cert. I assume this 'switch' happened on the client side, not cluster side? If so, may I know when that secondary cert is added to the cluster config, before or after the issue happened? And is its expiration date before or after the primary cert?

[2017-09-01 18:51] awcab commented on #433
That's correct, I just changed to the secondary cert on the client side.  The secondary cert was added before the issue happened and at the same time the cluster was created, just like the primary cert.  They both expire in May 2018.

[2017-09-01 18:55] Liphi commented on #433
Which cert expires later?

[2017-09-01 18:56] awcab commented on #433
The secondary expires 2 days after the primary.

[2017-09-01 21:24] jricke commented on #214
@MikkelHegn I started the build definition using the Service Fabric template. I'm also moving the PDB's to a PDB folder and removing them from the application directory. The Service Fabric App Versioning task will give a warning if PDB's exist in the package directory when trying to compare. This warning does not show when the PDB's are moved. I don't see any changes listed when the versioning tas

[2017-09-01 21:39] jricke commented on #214
@MikkelHegn I did a diff with WinMerge and the folders came up no different.

Here is the error: The content in CodePackage Name:Code and Version:0.1.20170829.4 in Service Manifest 'Sem.ServiceFabric.ChromePkg' has changed, but the version number is the same.

Here is the Diff:
![image](https://user-images.githubusercontent.com/11906948/29988595-e97680aa-8f33-11e7-982c-b6c2bb572a29.png)

I'm not s

[2017-09-03 11:28] zeodamian commented on #413
Some update:

Even locally this problem appears, but it has been to a lesser extent.

After resetting local cluster from tray icon, it has actually behaved perfectly.

**Cloud cluster, how is it reset? I would like to try this on it too.**
Because right now, every 5 minutes or so, there's an actor that tries to call a stateful service, and cannot get a reference to primary. We have retrial on it (

[2017-09-03 11:51] tarynt commented on #251
I ran into this too.

Digging through the source it seems that a new ServicePartitionClient will always hit FabricClient.ServiceManagementClient.ResolveServicePartitionAsync for the first request. This is required because the underlying factory cache uses PartitionId as a key rather than making use of the extra information provided in ServicePartitionInformation (Singleton, Named & Int64Range).

T

[2017-09-04 03:49] francescocristallo commented on #387
I just had the same problem
In Service Fabric Explorer I saw this warning:

Unhealthy event: SourceId='System.PLB', Property='MovementEfficacy_Consecutively_Via_FM', HealthState='Warning', ConsiderWarningAsError=false. Movements that the Load Balancer issued were dropped before execution:Check for relevant unhealthy replicas and paused, deactivating, or unealthly nodes in the cluster and consider

[2017-09-04 07:22] nrandell opened #435 "Lots of invalid operation errors on a development machine"
This is related to this stack overflow question (https://stackoverflow.com/questions/45960452/how-to-find-out-why-debug-shows-many-exceptions-in-service-fabric)

Using the latest libraries and local dev cluster 5.7.198.9494 in both 1 and 5 node configurations I'm seeing an InvalidOperationException occur which gives the reason: `Transaction NNNNNNN is committing or rolling back or has already comm

[2017-09-04 10:33] CodedBeard opened #436 "Cluster Node stuck disabled"
I built a new 5.7 Service fabric cluster in Azure (5 Node Silver) which worked fine for the first day. The day after, one of the nodes status changed to "Disabled".

When I looked at the status, the node reported:
[code]
It has now been 4 days since this status message appeared, and the node has been disabled the entire time. I've tried manually activating the node through cluster explorer and Pow

[2017-09-04 11:36] doverton51 commented on #307
@masnider - apologies but I'm no longer working on the Service Fabric project I was on at the time, so I've no way of verifying. From my side of things please consider it closed if you believe you've fixed it.

[2017-09-04 22:00] Mardoxx commented on #436
At least the 3rd person with this issue and invariably the answer is to recreate.
This happened to me too when I was messing around with it 3mo ago or so. I'm using my own standalone cluster for development now, but would love to know a solution for this just in case it happens to me in prod a few months down the line..

[2017-09-05 10:53] CodedBeard commented on #436
@Mardoxx Nope, didn't even get to testing scaling operations.

[2017-09-05 12:50] Shridharfly opened #437 "System.Runtime.InteropServices.COMException while using service fabric"
I am creating an application in Azure Service Fabric Web API and I am facing the following issue:

Exception:

    System.Runtime.InteropServices.COMException occurred
      ErrorCode=-2146233628
      HResult=-2146233628
      Message=Field of ByRef type. (Exception from HRESULT: 0x801312E4)
      Source=mscorlib
      StackTrace:
           at System.Reflection.Emit.TypeBuilder.TermCreateClass(R

[2017-09-05 17:49] milvuko commented on #422
The C# code below deletes the service DNS name:
        static void DeleteServiceDnsName(string clusterEndpoint, string serviceDnsName)
        {
            Uri name = new Uri("fabric:/System/DnsService");
            System.Fabric.FabricClient client = new System.Fabric.FabricClient(clusterEndpoint);
            client.PropertyManager.DeletePropertyAsync(name, serviceDnsName).Wait();
        }

[2017-09-05 18:35] mani-ramaswamy commented on #400
Thanks for reporting this issue. It has been fixed.

[2017-09-05 18:35] #400 closed

[2017-09-05 18:39] masnider commented on #307
@doverton51 thanks for getting back to us. We'll close it down. If other people see this they can reopen or file a new issue.

[2017-09-05 18:39] #307 closed

[2017-09-06 05:45] Shridharfly commented on #437
----------
Update:

Before I hit the URL, I can observe the following regarding service fabric.

In service fabric explorer:

![comexception - sfexplorer](https://user-images.githubusercontent.com/3060602/30096186-abe867f2-92f4-11e7-834e-b1b219fce0ff.PNG)

In Diagnostic Events window:

        {
      "Timestamp": "2017-09-06T10:49:34.7442479+05:30",
      "ProviderName": "Microsoft-ServiceFabric-

[2017-09-06 07:22] NickDarvey opened #438 "Copy-ServiceFabricApplicationPackage requires re-authorization"
**Repro**
[code]

**Expected**
Application package is copied to image store.

**Actual**
Interactive prompt for authorization occurs, again.
If it's authorized, it continues to copy the application package. f it's not authorized (user cancels), or if the PowerShell script is running headless, or if inside the Visual Studio PowerShell Interactive Window; it fails with:
[code]

and with `-Verbose`:

[2017-09-06 07:34] gorygregory commented on #334
Hi, this is still occurring sporadically on VS 2015 ver 14.0.25431.01 Update 3 and SF version 5.7. I have not found a reliable way to fix, it appears to be some combination of restarting VS, resetting the local cluster, reinstalling packages and restarting my development environment.

How do I collect build logs to send you?

[2017-09-06 09:11] navilwayne commented on #425
Trying to install Service fabric Tools & SDK  for VS2015, but getting error **This product did not install successfully: This product requires Service Fabric Runtime version 5.7.198.9494 to be installed**.

@MikkelHegn recommended me to put question here. Can  (@masnider)  you please help me to resolve issue.
Downloading Set Up from below link
https://docs.microsoft.com/en-us/azure/service-fabric/

[2017-09-06 10:15] Soarc commented on #273
I'm facing similar issue. I want to use service fabric reverse proxy with identityserver4.
I'm accessing my identity service like this
http://localhost:19081/myapp/IdentityService/.well-known/openid-configuration
But because identity service has no idea about proxy, it returns endpoint urls like this
http://localhost:5549/connect/authorize
I was able to fix host and port to correct ones using Micr

[2017-09-06 11:30] himanshussingh opened #439 "Install Error: How to install Service Fabric Runtime Version 5.7?"
Hi I tried installing Microsoft Azure Service Fabric SDK 2.7.198, it shows me the following error, please help.

DownloadManager Error: 0 : Install return code for product 'Microsoft Azure Service Fabric SDK - 2.7.198' is Failure (This product requires Service Fabric Runtime version 5.7.198.9494 to be installed.)

trying to use Service fabric for the first time.

[2017-09-06 12:08] Shridharfly commented on #437
Update 2:

Interface:

    namespace RequestManagerService.Interfaces
    {
        public interface IRequestManagerService : IService
        {
            Task submitSortRequest(string sortType, string guid, string commaSeperatedArray);
            Task<bool> isSortingComplete(string guid);
            Task<string> getSortedArray(string guid);
            Task<bool> isSortRequested(string sortTy

[2017-09-06 13:22] JerryGoyal commented on #395
I had to downgrade NuGet package **_Microsoft.ServiceFabric.Services.Remoting_** to 2.6.220 to make it work.(first, uninstall all servicefabric packages and then install **_Microsoft.ServiceFabric.Services.Remoting v2.6.220_**)

[2017-09-06 15:10] LSTANCZYK opened #440 "Service Fabric Runtime 5.7 Installer issue - suggested workaround"
I had problems installing runtime in version 5.7.
It hang when installer tried to set execution policy.
It seems as the same problem as issue #439

Turned out that the issue was due to profile in powershell.
**Workaround**:
Comment out code from your Powershell profile.

**Solution to be implemented by Microsoft**
I used dnSpy to modify the installer code like this **(note -NoProfile added to proc

[2017-09-06 15:11] LSTANCZYK commented on #439
I had the same issue. The workaround is to go to your powershell profile (run powershell as Admin) and then `notepad $profile`. Comment out everything you have in your PowerShell profile and save it.

Now the service fabric should install correctly.

I opened new issue here as well - #440

[2017-09-06 15:30] JohnNilsson commented on #229
I think we've got this sorted now. The required magic was to restore the missing manifest file directly to `WindowsFabricStore` (plus some help help from support to kick the portal out of the "updating" state)
[code]

[2017-09-06 16:03] #316 closed

[2017-09-06 16:33] MikkelHegn commented on #425
@taxiatms

[2017-09-06 16:44] ravipal commented on #334
I mean build output.

Set 'MSBuild project build output verbosity' to 'Detailed' in Tools->Options->Projects and Solutions -> Build and Run. Then copy the logs from output window.

[2017-09-06 21:55] FeodorFitsner commented on #425
@navilwayne I've got it installed after getting the same error.

* Download [full release notes for Azure Service Fabric SDk 2.7](https://servicefabricsdkstorage.blob.core.windows.net/public-release-notes/Microsoft%20Azure%20Service%20Fabric%20Release%20Notes%20-%20SDK%202.7.198%20-%20Runtime%205.7.198.docx)
* Scroll the document to the bottom - Section "Microsoft Download Center Links" contains d

[2017-09-06 23:02] Shridharfly commented on #437
https://stackoverflow.com/questions/46055014/system-runtime-interopservices-comexception-while-using-service-fabric

[2017-09-06 23:02] #437 closed

[2017-09-06 23:04] taxiatms commented on #425
@navilwayne The error from reading your log shows that your runtime installation has failed. You can try what @FeodorFitsner suggests, download the runtime directly and run with the command arguments "/AcceptEULA". Sorry the exe cannot be run directly because of the EULA agreement.
If there is still anything wrong, you can post the error here and I'll reply as soon as I see the error output.
Thank

[2017-09-07 07:04] himanshussingh commented on #439
I tried notepad $profile but it says path doesn't exist. I was reading online, probably need to set up the profile.ps1 file?

[2017-09-07 10:52] sondreb opened #441 "ParseServiceManifest and CreateFileW failed event log warnings"
What does these two event log warnings mean:

Event ID: 257
CreateFileW failed: file=\\?\D:\SvcFab\_BackEnd_0\Fabric\work\ImageCache\Store\[NAMESPACE]\[Service]Pkg.Manifest.1.35.1709041.xml error=2

Event ID: 28161
ParseServiceManifest: ErrorCode=E_FAIL, FileName=D:\\SvcFab\_BackEnd_0\Fabric\work\ImageCache\Store\[NAMESPACE]\[Service]Pkg.Manifest.1.35.1709041.xml

Seeing those in the "Microsoft-Se

[2017-09-07 14:28] alltej commented on #135
@MikkelHegn do you use the SDK cmdlets (Copy-*, Register-*,New-*) for upgrading existing SF apps?

[2017-09-07 16:40] hiraldesai opened #442 "Question: Does auto-upgrade recreate service listeners?"
The IoC container used by my service fabric services relies on Azure KeyVault to set some application wide credentials (e.g. Database connection string and some other things). I recently noticed that I had to change one of the values in KeyVault to a different value and I was hoping that a subsequent deployment with rolling Auto-Upgrade on the cluster would cause the services to restart and pick u

[2017-09-07 16:58] debstf opened #443 "Service Fabric Deployment failing due to XML Parsing issue of ApplicationManifest.xml"
Hi,

My Service Fabric Deployment is failing due to the below error -

**[error]Exception while parsing XML file: d:\a\_temp\TestApplicationPackage_2683537459\y2v5kdk3.uso\applicationpackage\ApplicationManifest.xml**

Found an workaround solution in -
https://github.com/Azure/service-fabric-issues/issues/209

As per the resolution, I have added  AddCorrelationIds as false, but still it's showing t

[2017-09-07 19:24] jricke opened #444 "Error deploying with Deploy Service Fabric Application task using Update Service Fabric App Versions"
Similar issue that was closed with no resolution:
https://github.com/Azure/service-fabric-issues/issues/214

When trying to deploy a service fabric application built with the Update Service Fabric App Versions task and the Update only when changed flag set, the following error occurs:

The content in CodePackage Name:Code and Version:0.1.20170829.4 in Service Manifest 'Sem.ServiceFabric.ChromePkg'

[2017-09-07 21:35] carl-ashby-silvertech commented on #407
Did you ever resolve this issue? I'm seeing the same thing.

[2017-09-07 21:48] amanbha commented on #407
@techiearun Could you run the command on a cmd prompt and share the error. also please share the Actor1.exe or its code.

[2017-09-07 22:06] carl-ashby-silvertech commented on #407
Moments after posting my comment i noticed that there were Exceptions from FabActUtil in the Build Output window. Resolving the issue below allowed the build to succeed.

System.ArgumentException: Method 'DecompressFile' of actor interface 'xxxxxxxxxxxxxxxxxxxx' has out/ref/optional parameter 'xxxxxxxxxxxxxxx'. The actor interface methods must not have out, ref or optional parameters.

[2017-09-07 22:29] navyahmed commented on #426
Hi Denis,
can you please provide specific steps you took to rename the package?

[2017-09-08 00:03] vturecek commented on #442
Depends on the upgrade. If your upgrade includes changes to a code package, then it restarts the process so that your new binaries in the code package get loaded. But if your upgrade is a config package-only upgrade, that does not restart the process by default, but you can instruct it to:

`Start-ServiceFabricApplicationUpgrade -RestartProcess ...`

[2017-09-08 00:13] kavyako commented on #429
I am still unable to repro this issue.
Could you open a support ticket so we can look at the traces to analyze what is going on, with info about the node that was rebooted and the reboot time.

[2017-09-08 05:37] navilwayne commented on #425
@taxiatms @FeodorFitsner

I followed above steps , i am getting below error after doing with admin rights:

08-09-2017 11:00:41 running: **Powershell.exe Get-ExecutionPolicy -Scope CurrentUser**
System.ComponentModel.Win32Exception (0x80004005): The system cannot find the file specified
   at System.Diagnostics.Process.StartWithCreateProcess(ProcessStartInfo startInfo)
   at Microsoft.ServiceFabri

[2017-09-08 05:51] taxiatms commented on #425
@navilwayne Installing Service Fabric needs to set powershell execution policy and of course running powershell scripts. The error is stating it can't find powershell.exe, or something wrong with powershell. I'm not familiar with this error. But any chance you have some change on the powershell.exe?

[2017-09-08 06:07] hiraldesai commented on #442
Awesome thanks! Hadn't noticed this option before, I will give it a try now.

I'm guessing this is the same option as far as the VSO plugin is concerned?
![image](https://user-images.githubusercontent.com/1005174/30198166-24a3a198-9421-11e7-8245-9c2236f5e2bc.png)

[2017-09-08 07:42] m0a0k0s opened #445 "Debugging remote service fabric applications with equal service names"
If several applications were deployed in service fabric and names of some services are equal then it’s not possible to remote debug such services.
Attach to process dialog don’t show separate instances of service with same name and they displays as one record. When trying to attach to such service “attach to process” dialog closes and no attaching progress displays.

[2017-09-08 18:58] debstf commented on #443
Resolved the Issue. Resolution -
- Update the Visual Studio 2017 to 15.3.3.
- Clean the solution and Rebuild the solution.
- It removed the "Service Package Activation Mode" from Application Manifest.
- Re-Deployed it in Azure.

Thanks.

Best,
Deb

[2017-09-08 18:58] #443 closed

[2017-09-08 19:22] dbreshears commented on #352
@tcarun ,  Can you zip up a small repro project and share so we can investigate?

[2017-09-08 20:05] mcoskun commented on #432
I assume you are using Reliable Collections and Reliable Collection notifications to keep your in-memory secondary index up to date.

As you noted, Reliable Collection notifications do not contain the previous TValue because of two reasons:
- Previous notification on the key has already provided the relevant old TValue
- Providing the old TValue may require disk IO since it may have been sweeped o

[2017-09-08 20:38] Liphi commented on #439
Runtime is a pre-requisite for SDK installation. U may install them together by WebPI. Refer to 'Install the SDK and tools' section on https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started

[2017-09-08 22:21] maksimkim commented on #431
@NickDarvey, there's no proactive probing in API-M.
You can use timeout property on forward-request policy to control outgoing request timeout:
https://docs.microsoft.com/en-us/azure/api-management/api-management-advanced-policies#ForwardRequest

However, on your set-backend-service policy you need to put corresponding logic in sf-resolve-condition property in order to make sure API-M re-resolves

[2017-09-08 22:42] linggengmsft commented on #438
Hey @NickDarvey , thanks for reporting this issue. This is known bug of FabricClient which starts a new connection when communicating to FileStore service. We are fixing this.
However, please note the duplicate authentication window will only pop-up again on the first "Copy-ServiceFabricApplicationPackage" and will not require again in the followings.

[2017-09-08 23:04] mani-ramaswamy commented on #372
You can provide a max-size to limit the size of the logs.
https://docs.docker.com/engine/admin/logging/overview/
https://stackoverflow.com/questions/37533571/limiting-docker-logging

[2017-09-08 23:13] mani-ramaswamy commented on #371
Which version of the runtime is the cluster?

[2017-09-08 23:58] ChackDan commented on #279
Closed for the lack of response from the customer. we need the resource ID and region to debug further.

[2017-09-08 23:58] #279 closed

[2017-09-09 00:16] kavyako commented on #418
Closing this issue, the fix will be in 6.0, scheduled for end of September.

[2017-09-09 00:16] #418 closed

[2017-09-09 00:40] lumiao commented on #441
The Event ID 28161 indicates that the parsing service manifest file was failed during activation. Since the service manifest file was already validated during the provision; It's most likely that the file was corrupted somehow during downloading from the image store. Hosting will retry it.

The Event ID 257 generally indicates opening file failed. I'm not quite sure about the error 2; it probably

[2017-09-09 02:18] novino commented on #434
Version 1.2.0 of Patch Orchestration Application has the fix for NodeAgentSFUtility crash reported above.
Would recommend moving to latest version of Patch Orchestration Application to remedy this issue.

[2017-09-09 02:26] novino commented on #434
Version 1.2.0 can be downloaded from download link @ https://docs.microsoft.com/azure/service-fabric/service-fabric-patch-orchestration-application

[2017-09-09 05:43] deepakjangid-MSFT commented on #397
Were you able to run the app on Linux?

[2017-09-09 12:07] Mardoxx commented on #371
@mani-ramaswamy 5.7.198.9494

Although this was also an issue with previous version I had installed:
5.5.216.0
5.6.220.9494

[2017-09-11 03:44] Jose-CF commented on #397
I am busy and could not recreate the cluster etc. I will let you know when I will try again.

[2017-09-11 06:50] navilwayne commented on #425
@taxiatms  No.

My power-shell running fine. No issue i found related to power-shell in my machine.
Can anyone suggest here.

[2017-09-11 07:10] himanshussingh commented on #439
I tried running the Web Installer after downloading "Install the SDK and tools", it still gives me the same error. Also the SDK and tools is for VS 2015. So it throws one more error:
Error Installing as it requires a product that it is dependent on is not installed. (probably VS 2015)

[2017-09-11 08:14] taxiatms commented on #425
@navilwayne
Is it possible you can try to execute "Powershell.exe Get-ExecutionPolicy -Scope CurrentUser" in a **cmd** window with admin rights and see if passes or prints out error message?

[2017-09-11 09:06] navilwayne commented on #425
I already tried to execute above commands in :
-CMD window "O/P : 'Powershell.exe' is not recognized as an internal or external command,
operable program or batch file. "
-  Powershell window command run - Get-ExecutionPolicy -Scope CurrentUser "O/P : Undefined",
But no luck :(

[2017-09-11 09:25] niravkanakhara commented on #439
Yes I am also getting same error

This product requires Service Fabric Runtime version 5.7.198.9494 to be installed.

[2017-09-11 11:36] zeodamian opened #446 "1 replica eternally InBuild, hindering upgrade."
This application has 1 of its 5 replicas constantly InBuild. We have tried everything, restarting the node, remote into the node and kill the process, disable and reenable the node, restart all nodes, upgrade, upgrade while restarting this failing replica, also deleting the application and installing it again..! Nothing works.

Upgrading does not work, it will always roll back when getting to its

[2017-09-11 12:33] eliasnawfal opened #447 "ResourceOverrides in ApplicationManifest not Recognised"
As title indicates ResourceOverrides is not recognised and deleted from ApplicationManifest before deployment on VS 15.3.3. I checked SF schema and ResourceOverrides is not included
SF SDK Version 2.7.198
SF Runtime Version 5.7.198

[2017-09-11 12:46] zeodamian commented on #446
Regarding #2, backup plan, I followed the instructions that could be found for diff provisioning, simply excluding the parts that are not supposed to be uploaded, and running

$packageValidationSuccess = (Test-ServiceFabricApplicationPackage $ApplicationPackagePath)

However, this throws error when the code zip for the excluded projects is not in the folder.

So, unless diff provisioning is done i

[2017-09-11 14:14] zeodamian commented on #446
Have tried the upgrade procedure found here: [https://github.com/vturecek/service-fabric-xray/blob/master/src/xray/Scripts/Deploy-FabricApplication.ps1](https://github.com/vturecek/service-fabric-xray/blob/master/src/xray/Scripts/Deploy-FabricApplication.ps1)

with a structure according to this:

[https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-upgrade-advanced](ht

[2017-09-11 14:54] Abdruggi opened #448 "Exported certificate is invalid (Container)"
Service fabric exports the certificate and provides the environment variable. Unfortunately, the exported pfx is invalid. I am able to manually export and reimport the certificate. Therefore, the problem must be service fabric related.

[2017-09-11 14:59] taxiatms commented on #425
@navilwayne , I think the problem is because you can't start powershell.exe from a cmd window. You may be missing a environment variable. You can take a look at this post here https://stackoverflow.com/questions/29778121/powershell-is-not-recognized-as-an-internal-or-external-command-operable-progr , or you can search for related topic to solve this issue.

[2017-09-11 15:22] mkosieradzki commented on #308
You can change wontfix to fixed ;). Thanks for fixing this in 5.7. It works!

[2017-09-11 16:07] MikkelHegn commented on #447
@tugup

[2017-09-11 16:40] taxiatms commented on #439
Service Fabric SDK requires the runtime to be installed. The WebPI will automatically download runtime and try to install it. If the runtime installation fails, the following SDK installation will fail too, popping out the above error. We changed runtime installation from MSI to Executable in v5.7, so there might be some issues for this change. Sorry for causing all these troubles here.

The runti

[2017-09-11 16:54] taxiatms commented on #440
The suggested approval makes sense. It's a best practice when running powershell scripts. Will include this workaround. Thank you @LSTANCZYK

If there is any addition issues regarding runtime installation failure, please checkout #439 .

[2017-09-11 17:00] vturecek commented on #442
@MikkelHegn can you confirm that ForceRestart in VSO is the -RestartProcess flag for application upgrades?

[2017-09-11 17:17] MikkelHegn commented on #442
It's not, it's the -ForceRestart parameter :-)

https://docs.microsoft.com/en-us/powershell/module/servicefabric/start-servicefabricapplicationupgrade?view=azureservicefabricps

You should use -ForceRestart and not -RestartProcess:

[2017-09-11 18:02] asifshiraz commented on #332
I'm seeing the same issue. Looking forward to finding a resolution.

[2017-09-11 18:24] mani-ramaswamy commented on #371
Thanks for reporting this - we're investigating this issue.

[2017-09-11 18:41] rishirsinha commented on #431
@NickDarvey, did this resolve your issue?

[2017-09-11 18:47] #376 closed

[2017-09-11 18:49] #350 closed

[2017-09-11 18:52] AnupVasudevaRao commented on #436
hi,
Thanks for reporting. Could you please open a support ticket so we could investigate this further. The details we need are:
a. SF cluster's resource Id
b. Region
c. The approximate time range of this issue.
d. Any custom operations you performed on the cluster before the issue. E.g. scale up nodes etc.

[2017-09-11 18:54] #333 closed

[2017-09-11 18:54] thakursagar commented on #332
I'm seeing the same problem too... sometimes it works fine but then it will start giving these errors.. i even tried flushing my dns but no luck.

[2017-09-11 18:57] dbreshears commented on #445
@m0a0k0s ,  this is a known bug we have on our backlog.  Will look at fixing this in a future release.

[2017-09-11 18:57] rishirsinha commented on #403
Remove-ServiceFabricReplica for the replica should cause a data loss.

[2017-09-11 18:59] rishirsinha commented on #360
@juepiezhongren, did this resolve the issue? Please let us know in a couple of weeks.

[2017-09-11 18:59] rishirsinha commented on #349
@chiokejjones, is this still an issue?

[2017-09-11 19:01] rishirsinha commented on #293
@cferraguti. Please update.

[2017-09-11 19:04] dbreshears commented on #213
Closing. This should be fixed in the tooling for the 5.7 release.

[2017-09-11 19:04] #213 closed

[2017-09-11 19:07] rakshitatandon commented on #448
Can share details about why the pfx is invalid ? Is there an error generated ? It should be present inside the work folder of your application on your host. Are you able to load it from there ?

[2017-09-11 19:18] rishirsinha commented on #329
Matt, will it be possible to get a crash dump of the FabricUOS? Another thing would be to attach a debugger and see which exact dll it is complaining about.

[2017-09-11 19:32] Abdruggi commented on #448
The cert and password files are present. No, the cert inside the host work folder is corrupt/invalid. Manual import fails with following error: “This file is invalid for use as the following: Personal information exchange”.

The behavior is wired. We have currently two applications (kestrel/dotnet) running on our cluster. One app (App A) is working like a charm, but the other (App B) doesn’t. The

[2017-09-11 19:38] rakshitatandon commented on #448
Is App A also exposing a certificate inside the container ? That certificate works but the cert for App B doesn't ? Is there some specific difference between the type of cert used by App A vs App B ?

[2017-09-11 19:40] Abdruggi commented on #448
:NET Exception:

Unhandled Exception: System.Security.Cryptography.CryptographicException: Cannot find the requested object.
at System.Security.Cryptography.CryptographicException.ThrowCryptographicException(Int32 hr)
at System.Security.Cryptography.X509Certificates.X509Utils._QueryCertFileType(String fileName)
at System.Security.Cryptography.X509Certificates.X509Certificate.LoadCertificateFromFil

[2017-09-11 19:44] rakshitatandon commented on #448
The exception looks like it is unable to find the certificate at the path passed in by fileName. Does the certificate exist at the corresponding path ?

[2017-09-11 19:45] Abdruggi commented on #448
Yes, both app's are exposing a cert inside the container. App A works with Cert A (did not try to use Cert B. Will do it tomorrow). App B doesn't work with either of them.

[2017-09-11 19:51] Abdruggi commented on #448
The file must be present. Otherwise, setting the necessary acl's before importing it would fail.
[code]

By default, the cert is just readable by the system user. Granting read rights to the process user is required.

[2017-09-11 19:54] rakshitatandon commented on #448
Could you send traces from your cluster to ratando@microsoft.com. I can help take a look.
As an experiment, can you try copying over Cert A pfx/password to App B's work store and try loading it from within your application ? This is to verify that App B is doing everything correct. It should work given that App A is also working with the same cert.

[2017-09-11 19:59] Abdruggi commented on #448
Thx for your help. Will do it tomorrow when i am back in the office. It's 10pm where i live:-)

Could it be some kind of a timing problem like the cert export is not done before container startup?

[2017-09-11 20:12] rakshitatandon commented on #448
Sure no problems. Certificates are exported as part of container bootstrapping so if your container is up, then it should have the necessary certificates exported. You can do a docker ps -a to see if the container is up. You can even trying doing docker exec -it [containerId] cmd.exe which will open a new command prompt inside your container. cd into the path pointed by the environment variable an

[2017-09-11 20:37] vturecek commented on #447
Yup, schema needs an update, fix is on the way..

[2017-09-12 00:30] chiokejjones commented on #349
Hey @rishirsinha. Sorry for the slow response. The issue was resolved by rebuilding the cluster.  I've since deployed multiple new clusters and completed upgrades without issue.  Thanks for the response.

[2017-09-12 00:30] #349 closed

[2017-09-12 02:01] ConX-Ryan commented on #446
I get this quite a lot i use the PowerShell cmd
`Restart-ServiceFabricNode`
which seems to unblock it for me

[2017-09-12 03:32] ConX-Ryan commented on #444
In the Update Service Fabric App Versions Tasks try untick the "Update only if changed option"

[2017-09-12 05:26] asifshiraz commented on #332
If I do `fabricClient.PropertyManager.GetPropertyAsync(name, serviceDnsName).Result;` then I can see the property returned, but it is in Binary. As a workaround, I can manually resolve the dns name and then use in my HttpClient, would that work? But in that case, I'm not sure how to decode the binary Value.

[2017-09-12 06:28] himanshussingh commented on #439
I downloaded the Runtime from the given link. Followed the steps, here's what it says on cmd window:

running: Powershell.exe Get-ExecutionPolicy -Scope Current User
Found legact fabric files at C:/Program Files/Microsoft Service Fabric Start removal...
runs CleanFabric.ps1
Legacy Fabric uninstalled using CleanFabric.ps1
Start Extracting runtime cab

Successfully extracted cab file
Start installin

[2017-09-12 06:51] Liphi commented on #439
May I know the SDK and runtime versions currently installed on your box? U can find the version info on 'Add/Remove Program' UI.

[2017-09-12 06:54] himanshussingh commented on #439
This is the first time I'm trying to install the SDK and runtime on my PC. Never used them before.

[2017-09-12 08:55] Marusyk opened #449 "Error HRESULT E_FAIL has been returned from a call to a COM component."
I'm trying to start debug my application on 1 Node and I'm getting error

on the line

`ServiceRuntime.RegisterServiceAsync(serviceTypeName, serviceFactory).GetAwaiter().GetResult();`

When I use 5 Node configuration everything works fine. What does this error mean? How can I solve that? I want to use Application Debug Mode: Refresh Application, so I setup cluster to 1 Node.

Details:

[2017-09-12 10:03] eliasnawfal commented on #447
Thank you

[2017-09-12 11:37] zeodamian commented on #446
Thanks ConX-Ryan, that has been among all things we've tried, with no success.

Just got this reported from one of our developers: (regarding partial upgrade, i.e. question **#1. Can we upgrade 4 out of 5 nodes only?**)

[2017-09-12 15:32] Abdruggi commented on #448
I need another day to collect the logs. We are currently rebuilding our test cluster from scratch to make sure the source of the problem is not infrastructure related.

[2017-09-12 16:21] YuraGoots commented on #439
I've ran into the same issue.
I even tried to run the installation by running this in cmd.exe (under Admin):
"C:\Program Files\Microsoft Service Fabric\bin\Fabric\Fabric.Code\FabricSetup.exe" /operation:install > %TEMP%\fabricSetup.log

But as a result i've got this error:

FabricSetup.exe invoked with arguments (C:\Program Files\Microsoft Service Fabric\bin\Fabric\Fabric.Code\FabricSetup.exe /ope

[2017-09-12 17:15] taxiatms commented on #439
@himanshussingh Can you paste your FabricSetup.log content here too? It should be generated in your temp folder. That is usually C:\Users\$yourusername$\AppData\Local\Temp

@maburlik Can you take a look at FabricSetup.exe error?

[2017-09-12 18:05] rakshitatandon commented on #448
Sure. Can you also ensure that your certificate is present in "LocalMachine" and the correct StoreName is passed in the application manifest. The default is "My".

[2017-09-12 18:26] mani-ramaswamy commented on #332
+Milan.

From: Muhammad Shiraz [mailto:notifications@github.com]
Sent: Monday, September 11, 2017 10:27 PM
To: Azure/service-fabric-issues <service-fabric-issues@noreply.github.com>
Cc: Subramanian Ramaswamy <subramar@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [Azure/service-fabric-issues] Unable to resolve service DNS name (#332)

If I do fabricClient.PropertyManager.GetPrope

[2017-09-12 18:40] cferraguti commented on #293
We believe this was actually being caused by NewRelic that was incorrectly configured on the servers that belonged to the cluster.  Thank you for looking into the logs.

[2017-09-12 18:53] milvuko commented on #332
The issue you are seeing is most probably cause by the environment error. DnsService must be set as the first DNS server in the DNS server chain in order for DNS name resolve to work. Service Fabric Explorer displays a warning on the DnsService if that is not the case. Another way to check if DnsService is set as the first DNS server on the Windows box is to invoke "ipconfig /all" from the command

[2017-09-12 20:21] jricke commented on #444
I'd to only update services that changed instead of the entire application. Is that possible with the Update only if changed option?

[2017-09-12 23:46] #293 closed

[2017-09-13 06:53] YuraGoots commented on #439
FabricSetup.log content:

FabricSetup.exe invoked with arguments (C:\Program Files\Microsoft Service Fabric\bin\Fabric\Fabric.Code\FabricSetup.exe /operation:install). Current Exe version 5.7.198.9494
Environment information Data Root C:\ProgramData\Microsoft Service Fabric, Log Root C:\ProgramData\Microsoft Service Fabric\Log
Starting service eventlog
Error E_ACCESSDENIED while starting service '

[2017-09-13 06:56] himanshussingh commented on #439
FabricSetup.log content:

FabricSetup.exe invoked with arguments (C:\Program Files\Microsoft Service Fabric\bin\Fabric\Fabric.Code\FabricSetup.exe /operation:install). Current Exe version 5.7.198.9494
Environment information Data Root C:\ProgramData\Microsoft Service Fabric, Log Root C:\ProgramData\Microsoft Service Fabric\Log
Starting service eventlog
Starting service pla
Starting UserGroupManage

[2017-09-13 08:35] YuraGoots commented on #439
From C:\ProgramData\Microsoft Service Fabric\Log:

FabricSetup-131497649863826237.trace :
2017-09-13 08:29:46.382,Info    ,3064,General.FabricSetup.Main,FabricSetup.exe invoked with arguments (C:\Program Files\Microsoft Service Fabric\bin\Fabric\Fabric.Code\FabricSetup.exe /operation:install). Current Exe version 5.7.198.9494
2017-09-13 08:29:46.382,Info    ,3064,General.FabricSetup.Main,Environme

[2017-09-13 09:53] CodedBeard commented on #436
Hi @AnupVasudevaRao,
Do you mean log a support request via the Azure portal, or another?

In response to D, no we did not perform any actions on the cluster other than to deploy a compose application onto it, which worked fine when I left work, but when I got in the next day the node was down. At this point I was the only person with access to the cluster, because I had only just deployed it.

[2017-09-13 16:47] StephenMP commented on #365
I apologize for the delayed response. Anyhow, I updated Visual Studio and the Stateless App seems to be working properly. Not sure why it wasn't before, but all seems well now.

[2017-09-13 17:00] Abdruggi commented on #448
After further testing I am able to provide more information. We have a testing cluster with two apps running (App1 with Cert1 and App2 with Cert2). Both certificates are in the same store (Localmachine/My) and access is granted to Network Service. The private key is marked exportable on both certificates. During testing, I just replaced the thumbprint in the applicationmanifest.xml.

App1 with Cer

[2017-09-13 17:17] #365 closed

[2017-09-13 17:56] rakshitatandon commented on #448
Is there any specific difference between the 2 certificate types ? You can find the logs in FabricLogRoot (this is a configurable setting which you would have set while deploying your cluster).

[2017-09-13 18:19] #229 closed

[2017-09-13 18:22] Abdruggi commented on #448
To be honest, there is no difference. I got both of them from our internal ca team. The F5 load balancer has no problem using them. Because the logs are huge, would it be ok to upload them to one drive and send you a link?

[2017-09-13 18:28] rakshitatandon commented on #448
Yes sure.

[2017-09-13 18:33] AnupVasudevaRao commented on #436
yes, from the portal.
https://portal.azure.com/?#blade/Microsoft_Azure_Support/HelpAndSupportBlade

Here are some additional reference links w.r.t support.
https://azure.microsoft.com/en-us/support/options/
https://docs.microsoft.com/api/Redirect/en-us/documentation/articles/how-to-create-azure-support-request/
https://azure.microsoft.com/en-us/status/
https://azure.microsoft.com/en-us/support/faq

[2017-09-13 22:58] rishirsinha commented on #226
This will be fixed in the upcoming release.

[2017-09-13 22:58] #226 closed

[2017-09-14 00:13] taxiatms commented on #439
@YuraGoots It seems that FabricSetup.exe can not start eventlog service. Can you take a look at [link](https://support.microsoft.com/en-us/help/971256/error-message-when-attempting-to-start-the-windows-event-log-service-a) and apply the fix there?
Or you can search for "can't start evenlog service, Access Denied" and see if that can fix the installation issue.

[2017-09-14 02:18] LSTANCZYK commented on #439
The problem is with the installer where it reads output from Get-ExecutionPolicy. It assumes that execution policy will be the first line that powershell host writes to the host. If for whatever reason the first line in written to the host is not "Unrestricted" installer will hang and eventually fail.

Please see the linked issue I added for direct place in the code where it fails.

To reproduce
1

[2017-09-14 05:53] MikkelHegn commented on #214
@jricke @oanapl To help looking at traces from the cluster.

[2017-09-14 05:54] MikkelHegn commented on #214
@jricke Just realized you open the other issue :-) Closing this one again and working on your issue on #444

[2017-09-14 05:54] #214 closed

[2017-09-14 06:02] MikkelHegn commented on #444
@ConX-Ryan @jricke The "Update only if changed" option can be used to only update the version if the packages are not identical - https://github.com/Microsoft/vsts-tasks/blob/1c95a5203fa62a5c1471dae09dd0566f0a2d96ce/Tasks/ServiceFabricUpdateManifests/Update-ApplicationVersions.psm1#L34 - If this is ticked all versions will be updated without comparing the content of the packages.

As I understand

[2017-09-14 06:05] NickDarvey commented on #431
That'll work, thank you.

[2017-09-14 07:11] MikkelHegn commented on #135
@alltej 2 of 3 :-)
1. Copy- (puts the app package in to the image store in the cluster)
2. Register- (Registers the package in the cluster) Application Packages are Types (combination of Type and Version). Once they are registered they are available to be instantiated.

Now it's either New- or Start-ServiceFabricApplicationUpgrade

New- (Creates a new Application Instance of the specified type+ver

[2017-09-14 07:31] MikkelHegn commented on #354
@andrejohansson Do the smaller pieces you run locally have to be one app when deployed to the final environment? I'm asking because there are really no constraints around splitting things in multiple apps. Only thing you loose is it's harder to manage if you run multiple instances of everything.
Or is the scenario that the combination of services developers need differ from time to time?

[2017-09-14 08:06] YuraGoots commented on #439
@YuraGoots I did as you suggested. I saw that link before and have already tried that.
No results, the same error.
My EventLog is working fine.
So, at the end I desided to revert back to Service Fabric 5.6 (using MicrosoftServiceFabric.5.6.220.9494.msi), and voila: all installed without any errors.
Could you point me to Server part of Service Fabric.5.6.220 installation, because I didn't find it o

[2017-09-14 09:28] poter134 opened #450 "[Reverse Proxy] Websocket loses query string"
The reverse proxy strips additional query string parameters (that aren't used for forwarding to service) when connecting with a websocket.

It's meant that I have to accept the socket without being able to check their credentials first to get it working.  Which is obviously less than ideal.

Example URL

www://proxy-ite.company.eu:19081/TenantApps/PdSvc/web?ListenerName=comms&bearerToken=sometoken

[2017-09-14 11:33] zeodamian commented on #446
We managed to extract the data, remove the service and redeploy it and initiate it's state with the data.
The cause of the error is unknown, solutions to it are unknown, other than deleting the service (after backing up the data!).

[2017-09-14 11:37] zeodamian opened #451 "Application error from KERNEL32, KERNELBASE and clr dlls"
Logs from EventViewer below.

Is this caused by things breaking in our application or is it from the fabric itself?
Our loggers in the app is not getting this error. All it sees is that the cancellation token passed into runasync is triggered.

This is the same application as in #446 , which we deleted and re-deployed.
Trying to upgrade it now to put in logging in more places to find the cause of

[2017-09-14 14:55] zeodamian commented on #451
This is our application. StackOverFlow.

I guess the only thing related to SF coming out of this is that monitoring of these failures is hard.

[2017-09-14 15:41] helenazecevic commented on #226
Hi,
I'm trying to setup unsecure cluster on Amazon VMs from my local machine. I followed Chrissie's blog post regarding setting up the machines, and I followed all the steps besides setting up a VPC (I can't RDP to the machines if they are setup using VPC).I opened up all the ports (both in the security group and Windows Firewall). However, I keep getting this error:
Machine 'some.public.ip' is no

[2017-09-14 17:03] #451 closed

[2017-09-14 18:01] mkosieradzki opened #452 "sf volume driver not found"
When I try to run (5.7, w2k16 with containers):
[code]

I get:
[code]

Also container with:
[code]

What am I doing wrong? I am unable to find any sf driver documentation over this example:
[code]
on https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-containers-volume-logging-drivers

[2017-09-14 19:08] grahamehorner opened #453 "Error Code 3221225786"
ServiceFabric v5.7.198.9494 - 3 node cluster running AspNetCore 2.0 Kestrel MVC site
giving Error Code 3221225786 however the site works fine on single node dev box localhost ?

[2017-09-14 20:04] tophallen opened #454 "Unexpected cast to FabricTransportServiceRemotingClient instead of TCommunicationClient"
I'm trying to override and extend the `FabricTransportServiceRemotingClient` to support a few custom headers, and in the Microsoft.ServiceFabric.Services.Remoting assembly file version 5.7.198.9494 it tries to perform a cast to `FabricTransportServiceRemotingClient` when I believe it should just be `TCommunicationClient` since that is what the `FabricTransportServiceRemotingClientImpl` class needs

[2017-09-14 21:03] kavyako commented on #450
What is your service fabric version? We fixed this for 5.7.

[2017-09-14 21:08] johnstairs opened #455 "VS fails to attach to service running under a LocalUser account"
Consider the following snippet from an ApplicationManifest file. Note that there are two users, one of which is a LocalUser (the default), and the other Network Service. Also note that the user that the service run as is controlled by the [FrontendService_UserAccount] parameter value.

[code]
If the parameter is CloudAccount, meaning the service runs under a LocalUser account, and I hit F5 in Visu

[2017-09-14 22:51] taxiatms commented on #439
@LSTANCZYK Thanks for your reply. If the execution policy it reads is not remote signed, the installer will try to set it to remote signed, not hang there.

[2017-09-14 22:52] taxiatms commented on #439
@YuraGoots What do you mean by "Server part of Service Fabric"? Do you Service Fabric Stand Alone Package?

[2017-09-15 00:06] JDL440 commented on #327
I was able to make this work by seeting the basePath like this:
               .UseSwagger(c =>
               {
                   c.PreSerializeFilters.Add((swaggerDoc, httpReq) => swaggerDoc.BasePath = "/MyServiceApp/MyService");
               })

[2017-09-15 01:19] zeodamian commented on #446
Even after redeploying the application, one of the replicas is eternally in state InBuild. Nothing helps. No clue what is wrong.
(This is not same error as in #451, which was a bug in our code.)

[2017-09-15 05:32] alexandery commented on #454
I've mentioned this bug to SF guys back in May. I guess it wasn't a priority to fix or something else got in a way.

I've got a workaround for this, which is not pretty - I cast client to my own implementation of IServiceRemotingClient and pass in a cached instance of IServiceRemotingClient:

[code]

Hope this helps.

[2017-09-15 05:45] tophallen commented on #454
Thanks @alexandery that's what I ended up doing as well - seems like it should be an easy fix for the SF team - but for now I pull my inner client using a cast like you said. Being as the `FabricTransportServiceRemotingClientImpl` uses generics I feel like this was probably just a mistake that slipped through, but alas. By the time the code gets there though - I don't need the wrapper I built anyw

[2017-09-15 08:09] poter134 commented on #450
I just updated my dev cluster to the latest version and I am in fact seeing the query string.  Apologies for not testing this beforehand.

[2017-09-15 08:09] #450 closed

[2017-09-15 11:02] iamkoch commented on #418
Should this be kept open until the fix is confirmed?

[2017-09-15 11:14] himanshussingh commented on #439
@taxiatms Can you help me with Service Fabric Runtime Installation. I still havent been able to install it. I found an older version of the runtime (.msi file), can't install that either. Says installation ended prematurely.
I formatted my desktop and installed VS Community 2017, tried the entire process again, no luck.

[2017-09-15 11:30] imaterek opened #456 "Patch Orchestration Application - historical result properties' meaning"
Hi guys,

Could you describe the undermentioned properties what meaningfully they stand for?

OperationResult
ResultCode
OperationType
WindowsUpdateQuery: IsInstalled=0
RebootRequired
![image](https://user-images.githubusercontent.com/31987966/30480434-f916092c-9a19-11e7-8de9-9cfa51b86478.png)

[2017-09-15 13:18] zeodamian commented on #446
So, this doesn't make sense as a result of bugs in our code.

The primary replica works fine.
Three out of four secondary replicas work just fine.

The code being executed in the secondaries are exactly the same, there is no differentiation based on node name or anything like that.

**So, why would 1 single secondary replica be stuck in InBuild mode?**
Even more strange: **Why would this be the ca

[2017-09-15 14:20] AlexSikilinda commented on #439
Getting the same error during installation:

[2017-09-15 17:06] taxiatms commented on #439
@himanshussingh Can you send me the msi log file? You can collect the msi installation log by using command. "*.msi /l*v test.log"

[2017-09-15 17:24] rishirsinha commented on #238
This bug will be fixed in the next release coming out at ignite.

[2017-09-15 17:24] #238 closed

[2017-09-15 17:56] gcampbell-epiq opened #457 "Licensing and Other Non-Technical Issues"
I am looking into using Service Fabric on premise, and I'd like to better understand some non-technical aspects of Service Fabric. Can licensing be made more clear and documented, and could you answer these questions?

 - The licensing is not very clear. It seems like having >=Windows 2012 licensing covers running Service Fabric, will that change?
 - What is Microsoft’s plan for Service Fabric? Is

[2017-09-15 19:12] Mardoxx commented on #238
Brilliant thanks!

On 15 Sep 2017 6:24 pm, "Rishi Sinha" <notifications@github.com> wrote:

[2017-09-15 19:16] Mardoxx commented on #418
I'd assume if they say it's fixed, they've tested it extensively.... maybe
:p

On 15 Sep 2017 12:02 pm, "Antony Koch" <notifications@github.com> wrote:

[2017-09-15 22:37] tophallen commented on #454
Closing because after further examination of the underlying code - makes sense why you would have to break the pattern there. alas.

[2017-09-15 22:37] #454 closed

[2017-09-16 02:30] gorygregory commented on #334
Attached file:
[build_log.txt](https://github.com/Azure/service-fabric-issues/files/1308044/build_log.txt)

[2017-09-16 17:27] muralidharvr commented on #439
Even I am unable to install the Fabric Runtime. Here is the log below
----------------------------------------------------------------------------------

FabricSetup.exe invoked with arguments (C:\Program Files\Microsoft Service Fabric\bin\Fabric\Fabric.Code\FabricSetup.exe /operation:install). Current Exe version 5.7.198.9494
Environment information Data Root C:\ProgramData\Microsoft Service Fabr

[2017-09-16 23:23] mani-ramaswamy commented on #372
You can pass the same options for log drivers to service fabric through the manifest @ https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-containers-volume-logging-drivers. I am closing this issue, but please feel free to reopen if there was any other issue.

[2017-09-16 23:23] #372 closed

[2017-09-16 23:27] mani-ramaswamy commented on #335
Our doc and repos. has been udpated to point to xenial. I am closing this issue - please let us know if you have another question.

[2017-09-16 23:27] #335 closed

[2017-09-16 23:28] mani-ramaswamy commented on #452
The Service Fabric volume driver has not been shipped publicly yet.  It will be available in an upcoming release.

[2017-09-17 01:06] dkkapur commented on #294
@bklooste sorry for missing this earlier -

1. Re limiting logs being stored in Azure storage: modify the `"scheduledTransferLogLevelFilter": "Information"` parameter in your WadCfg (assuming you are using a Windows Cluster) to have a value of "Warning", Error", or "Critical" (https://msdn.microsoft.com/en-us/library/azure/microsoft.windowsazure.diagnostics.loglevel.aspx).

2. Re reducing the time

[2017-09-18 08:39] novino commented on #456
Field | Value | Details
-- | -- | --
OperationResult | 0 - Succeeded, 1 - Succeeded With Errors, 2 - Failed, 3 - Aborted, 4- Aborted With Timeout | This field indicates the result of overall operation (typically involving installation of multiple updates)
ResultCode | Same as OperationResult | This field indicates result of installation operation for an individual update
OperationType | 1 installa

[2017-09-18 08:39] #456 closed

[2017-09-18 12:28] AlexSikilinda commented on #439
@taxiatms, so in my `FabricSetup.Log` I have:

    <everything ok above...>
    Starting VCRedistManager::Uninstall
    VCRedistManager::Uninstall successful
    Starting UserGroupManager::Uninstall
    UserGroupManager::Uninstall successful
    Operation failed with error 0x80070430

[2017-09-18 12:58] CodedBeard commented on #436
Engaged with support, they couldn't work out why the node had gone down and basically just said we had to use a larger VM size, as they incorrectly assumed we were using the default D: drive, which on the vm size is lower than the recommended. Got fed up and trashed the lot, and the new cluster has been working fine for 4 days now.

[2017-09-18 12:58] #436 closed

[2017-09-18 15:20] zeodamian commented on #446
Would it be possible to have input on what can be done here?

Do you need any more information?

The questions are:
**1. What to do with this replica that is eternally InBuild? Can it be fixed?

2. (Backup plan) How can we upgrade all other 4 nodes, except this node with the faulty replica, and just carry on without it?**

[2017-09-18 15:23] FelschR commented on #315
I've retried this with Azure Service Fabric 5.7 with Linux.
Can I run Linux containers on a Windows Service Fabric cluster? If so, I'll try that, too.

[2017-09-18 15:25] RajeetN commented on #315
No you cannot run Linux containers on windows Service Fabric clusters today.

[2017-09-18 15:53] AlexSikilinda commented on #439
I noticed that Windows Defender says smth is wrong with "Windows Fabric Lease Layer", so I repaired it with built-in windows tools, after that there is no such device as "Windows Fabric Lease Layer" at all. Installation of this SDK still doesn't work with the same error (missing Service Fabric Runtime).

I also tried:
* reisntalling VS2017 from scratch (with all azure tools selected ofc)  - the re

[2017-09-18 16:01] FelschR commented on #315
Ok, in that case I'm still blocked by this issue.

[2017-09-18 16:21] prasadker commented on #315
Can you RDP on your machine and check if Docker is running?
Also, you mentioned Docker compose - can you paste the compose file here? Service Fabric supports only few compose directives for now.

[2017-09-18 16:25] AlexSikilinda commented on #439
Okay, managed to install SDK by [creating a cluster](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-standalone-cluster) and thus installing the runtime (you need only first two steps).

Not sure it's the right way though.

[2017-09-18 16:32] FelschR commented on #315
Here are my compose files:

docker-compose.yml
[code]

docker-compose.override.yml
[code]

Well, it's a Linux cluster, so I guess I cannot RDP into it, but I'll try if I can access it via SSH somehow.

[2017-09-18 17:13] kavyako commented on #429
We have identified a bug in the reverse proxy service resolution path that can cause the  FABRIC_E_SERVICE_DOES_NOT_EXIST error.
The fix will be in 6.0 CU1.

[2017-09-18 18:05] Mardoxx opened #458 "Can't access node.js application through reverse proxy"
My app manifest is this:

[code]

Service manifest
[code]

Whe  I browse to

`https://my.cluster:19081/FrontEnd/WebUI` I get `400 FABRIC_E_INVALID_ADDRESS`
`https://my.cluster:443` works fine, however

What have I done wrongly?

----

n.b. I do not get `404 FABRIC_E_SERVICE_DOES_NOT_EXIST`, so it's locating the service fine.
Also `https://my.cluster:19081/foo?ServiceName=fabric:/FrontEnd/WebUI` al

[2017-09-18 19:30] taxiatms commented on #439
@muralidharvr Can you take a look at this [link ](https://stackoverflow.com/questions/42169021/fail-to-start-azure-service-fabric-host-service-fabrichostsvc)and let me know if that doesn't works

[2017-09-18 23:07] xaostation commented on #435
I'm getting this as well and I have a ton of code in case you need a reproduction scenario.  Essentially from what I can tell it happens on Dispose of the transaction after a CommitAsync or Abort.

[2017-09-19 00:14] #218 closed

[2017-09-19 00:35] amanbha commented on #407
@techiearun is this resolved for you?

[2017-09-19 00:47] #432 closed

[2017-09-19 03:15] AhmadSaleem2604 opened #459 "How to remove guest executable safely"
Hi,
I am deploying a python service on my azure service fabric cluster. I am able to remove guest executable successfully by reverse engineering the deployment process, everything is working fine but there is a problem when i again create a guest executable service with the same name then it throws Microsoft.VisualStudio.Azure.Fabric.ApplicationProject.ProjectSystem.PackageException , if the name

[2017-09-19 03:25] brandmo opened #460 "Http 400 Bad request when trying to access service via reverse proxy"
I have a service fabric application v5.7.198 deployed via the Service Fabric Compose Deploy (preview) build task in VSTS. I have 2 services built with .Net Core 2.0, deployed in docker containers exposing ports 80 and 81 respectively. The cluster is secured with a self-signed cert and I've added the DNS name service and the reverse proxy.

I can access one service via http://fqdn/ and it can acces

[2017-09-19 03:54] nareshkhatri81 commented on #406
+1. i tried to look into event viewer logs but couldnt able to find any error. is there any other places i can see traces logs ?

[2017-09-19 04:21] #434 closed

[2017-09-19 05:02] AhmadSaleem2604 opened #461 "Microsoft.VisualStudio.Azure.Fabric.ApplicationProject.ProjectSystem.PackageException"
Hi,
I am trying to deploy a guest executable but that executable is in a subfolder of my code directory like this below is my serviceManifest.xml
[code]
but whenever i try to deploy it upon my local cluster it throws PackageException. however if the exe is directly under the code folder like this
`        <Program>python.exe</Program>`
then it works fine

[2017-09-19 07:55] jfloodnet commented on #393
@vturecek  so more recent monitoring of this issue indicates that this is actually occuring on shutdown.

Would you be able to provide some guidance on how to gracefully handle shut down.. ?

[2017-09-19 09:12] Doomblaster opened #462 "The upgrade policy is not allowed on standalone cluster"
Basically I'm just trying to enable EnableDefaultServicesUpgrade, so I've added
`{
	"name": "ClusterManager",
	"parameters": {
		"name": "EnableDefaultServicesUpgrade",
		"value": true
	}
}`

under "fabricSettings" in the clusterconfig.json. I also incremented "clusterConfigurationVersion". In the explorer it says "Fabric upgrade validation failed on the node.There was an error reading the output

[2017-09-19 11:36] AhmadSaleem2604 commented on #461
This issue only rises when the size of guest executable is large other wise it works fine, moreover i also try to make it work by changing WorkingFolder but still no success

[2017-09-19 18:51] Izzmo opened #463 "Cannot Get HTTPS Web API Endpoint Working with Certificate"
I have a simple Web API project setup and I'm trying to allow HTTPS access on my local machine (not in Azure _yet_). It runs fine when I only open the HTTP end-point, but once I do HTTPS it fails.

I have added my certificate to CurrentUser\My and LocalMachine\My certificate stores.

When I debug, it is throwing this error, and it doesn't even get to the Program.cs entry point when debugging, whic

[2017-09-19 18:57] eliasnawfal commented on #463
@Izzmo Can you add your WebsiteName.cs file, so I can see how you added your ServiceEndpoint to the WebListeners?

[2017-09-19 19:05] Izzmo commented on #463
@eliasnawfal I don't have that class, but saw it in some examples. Instead I just have it defined below in the `CreateServiceInstanceListeners` method.

Not that it really matters as it never gets down to this point.

[code]

[2017-09-19 19:09] eliasnawfal commented on #463
As you can see "ServiceEndpoint" is hard coded, you can change it "ServiceEndpointHttps" and it will work, but a best way is to use ResourceOverrides to change Endpoint per environment but currently there is a bug in ResourceOverrides [Issue 447](https://github.com/Azure/service-fabric-issues/issues/447).

`new WebListenerCommunicationListener(serviceContext, "ServiceEndpointHttps", (url, listener

[2017-09-19 19:12] Izzmo commented on #463
@eliasnawfal please recheck, sorry I copied the code from the wrong branch.

[2017-09-19 19:51] Izzmo commented on #463
Alright, figured it out. Found a tip from this [SO post](https://stackoverflow.com/questions/42919313/add-https-to-service-fabric-web-api).

Apparently, not a good idea to copy and paste thumbnail values from the MMC snap-in.

**Solution:** I retyped the certificate thumbprint out manually and it worked.

[2017-09-19 19:51] #463 closed

[2017-09-19 21:28] prasadker commented on #315
The directives look ok, but SF only supports docker compose version 3, so I don't know if it is rejecting checking the version - https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-docker-compose#supported-compose-directives

Yes please SSH into the node using the cluster FQDN and port 3389 for node 0, 3390 for node 1 and so on.

[2017-09-19 22:58] kavyako commented on #458
What does Service Fabric Explorer show for the Endpoint Address? Does it have http/https prefix?

Can you try adding the UriScheme to Endpoint section in ServiceManifest.
<Endpoint Name="ServiceEndpointHttp"  UriScheme="http" Port="80" Protocol="http" Type="Input"/>

[2017-09-19 23:19] Mardoxx commented on #458
No it doesn't!

I shall edit my manifest and redeploy, will get back to you tomorrow

![image](https://user-images.githubusercontent.com/239665/30619761-27b058d2-9d99-11e7-98e8-a94d20c2c207.png)

[2017-09-20 00:05] Mardoxx commented on #458
Adding `UriScheme` to the ServiceManifest's Endpoints means I can now access it at `https://my.cluster:19081/FrontEnd/WebUI` However it is now `301`ing to `https://{nodeip}:443` But I think this is due to my https-only middleware not understanding XFP headers (assuming they're being set by Service Fabric's reverse proxy). Will close for now, thank you!

[2017-09-20 00:05] #458 closed

[2017-09-20 00:58] Mardoxx commented on #273
Contrived example, but I was playing around trying to access our front-end through reverse proxy and have a similar issue to @Soarc.

If serving, for example, an SPA via reverse proxy.. Something like `X-Forwarded-PathBase` would be useful. Then for each request to SPA-host it could write-out `<base href="{X-Forwarded-PathBase}" />`

As it stands, `https://localhost:19081/SPAApp/TenantName/` will

[2017-09-20 01:09] Mardoxx commented on #460
I ha a similar issue but with a guest application. Potentially related: https://github.com/Azure/service-fabric-issues/issues/458

Does your `EndPoint` definition in your `ServiceManifest` have `UriScheme` in it like [this](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-containers#complete-example-service-fabric-application-and-service-manifests)

[2017-09-20 01:32] brandmo commented on #460
Thanks for the reply Mardoxx,

My service manifest does not have UriScheme in it. The endpoint is defined like this <Endpoint Name="webapplicationtestEndpoint" Port="80" />.
I don't believe I have any control over the manifests, my solution is a web api service built in a docker container. I'm deploying it with a "Service Fabric Compose Deploy" step in VSTS, I assume it takes care of the manifest

[2017-09-20 02:17] NickDarvey commented on #431
How do we get APIM to re-resolve on a timeout?

The timeout works,
[code]
however, in the rest of that request and in the next request the `LastError` variable is empty:
[code]

[2017-09-20 05:17] Liphi commented on #462
What is the apiVersion on your clusterconfig.json ? And the only config change is to add EnableDefaultServicesUpgrade ?

[2017-09-20 05:38] Doomblaster commented on #462
I've tried both 01-2017 and 05-2017. Didn't seem to make a difference.

[2017-09-20 07:22] xela30 commented on #386
Any updates regarding release date?

[2017-09-20 09:01] bklooste commented on #432
@mcoskun  "If you need the old value, we recommend keeping it when you receive the notification."  .

For an index that's the same as saying keep the whole reliable collection in memory  ...or immutable data and versioning the collection which is a LOT more IO.

Looking forward to those changes  under consideration, Is there something eg a milestone I can track this on  ?

[2017-09-20 09:39] FelschR commented on #315
When I change the versions to 3 I get the same error.

Here are the results of `docker ps` on the node:
[code]

[2017-09-20 09:40] Jose-CF commented on #397
I am sorry, but I cannot use the Linux cluster any more.

I am tried today to deploy the cluster again, using the same template that worked flawlessly some weeks ago.
Tried today few times... and the "Service Fabric" cluster gets created, also the VM scalable set gets created. The VMs get created, I can login into the VMs and they seem to be working fine.

The azure portal show the VMs are up a ru

[2017-09-20 09:43] deepakjangid-MSFT commented on #397
Sure please drop them to
deepakj at microsoft dot com

Also can you try creating a cluster from portal instead of ARM template. I will take a look in this.

[2017-09-20 09:55] FelschR commented on #315
Is docker-compose supposed to be isntalled?:
[code]

[2017-09-20 11:14] eliasnawfal commented on #447
@vturecek Do you have any idea when the fix will be released or can you help me with a quick fix?

[2017-09-20 14:59] PTC-JoshuaMatthews opened #464 "copying files to cluster with ImageStoreConnectionString fabric:ImageStore, files are not showing up in image store and application type not being provisioned"
I am trying to figure out what could cause this? I had it working yesterday where the files were being added to the image store, and for some reason when it was working there was no entry for ImageStoreService in the service fabric explorer.

Today I booted up my pc, and noticed after using sfctl to copy files to the image store (verified I am getting 200's from the api PUT requests with --debug f

[2017-09-20 15:35] kavyako commented on #458
Thanks, I will update the reverse proxy documentation , am sure others might also run into this.

[2017-09-20 15:47] mani-ramaswamy commented on #315
If you are operating against a SF cluster, you shouldn't need that. You will be using instructions @ https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-docker-compose.

Since many issues have been discussed, to clarify exactly where you are blocked - you are trying to run (Linux) containers on a (Linux) SF cluster in Azure, correct?

[2017-09-20 15:48] PTC-JoshuaMatthews commented on #464
Also noticed the following error in my event log, sounds like it could be related

GetSequenceStreamProgress failed with FABRIC_E_NO_WRITE_QORUM

[2017-09-20 16:03] PTC-JoshuaMatthews commented on #464
Finally found the store files, I though they should be in c:\SfDevCluster\Data\ImageStoreShare, but actually now the package is for some reason sitting on node 1 c:\SfDevCluster\Data\_App\_Node_1\__FabricSystem_App4294967295\work\Store\131503957881915015

[2017-09-20 16:19] kavyako commented on #460
What does Service Fabric Explorer show for the Endpoint Address? Does it have http/https prefix?

[2017-09-20 16:48] kavyako commented on #386
This fix was released with 5.7 CU1, some time mid august.
Are you still seeing this? What is your service fabric version?

[2017-09-20 17:13] dkkapur commented on #345
@harahma @abhishekram have you seen this behavior before?
@aelij thanks for raising this, we're going to investigate the change and keep you posted with updates.

[2017-09-20 18:58] suchiagicha commented on #345
@aelij

Could you share the dump for the process?

[2017-09-20 19:38] jricke commented on #444
@MikkelHegn Thanks for your response. You are correct in your understanding.

[2017-09-20 23:26] oanapl commented on #464
Can you paste the commands you ran?

"GetSequenceStreamProgress failed with FABRIC_E_NO_WRITE_QORUM" - this indicates that the ClusterManager system service is reconfiguring. When this occurred, did you happen to look at the health of the cluster? It's possible the ImageStoreService had the same issue (not enough replicas) and couldn't copy the package.

Is the cluster healthy now? If so, have you

[2017-09-20 23:32] oanapl commented on #122
This has been fixed. See [ServiceNotificationFilterDescription.Name](https://docs.microsoft.com/en-us/dotnet/api/system.fabric.description.servicenotificationfilterdescription.name?view=azure-dotnet)

[2017-09-20 23:32] #122 closed

[2017-09-21 01:59] Jose-CF commented on #397
I sent you yesterday the data, did you get it? I think we are in different time zones.

The problem of setting it with the portal is that I do not get an overview of what is deployed.
And I really feel more comfortable using the templates.

In addition last time I used the same template and worked fine, so I guess is ok.

[2017-09-21 02:00] njtrentacoste opened #465 "UpgradeOrchestrationService in Quorum Loss after failed 5.7 Upgrade"
My UpgradeOrchestrationService is in perpetual Quorum Loss after I performed an upgrade to 5.7 from 5.6.  The upgrade failed and was automatically rolled back.  I tried executing Repair-ServiceFabricPartition several times and still hasn't fixed it.  I tried rebooting one of the nodes but that doesn't seem to have fixed the issue.  Any guidance would be greatly appreciated.

I have the following i

[2017-09-21 02:10] brandmo commented on #460
No just IP addresses. 10.0.0.4:80, 10.0.0.5:80, 10.0.0.6:80
These are listed as the endpoint addresses for each instance. I have 3 replicas defined in my docker-compose file. I have the same issue if there's only 1 instance.

Also I'd like to make a correction to my OP.
I'm using a cert for my reverse proxy so communication is over HTTPS
-   https://fqdn:19081/myapp/myservice
-   https://fqdn:1908

[2017-09-21 03:11] PTC-JoshuaMatthews commented on #464
At some point it started working. I think I needed to enable the image store service in the cluster template, by default it was false. Once I did that it started working, although images are stored on the nodes instead of ImageStoreShare

[2017-09-21 04:58] nareshkhatri81 opened #466 "Service Fabric Activation Error - 7148"
Hello Team,

Service is not getting activated and its taking around 20 minutes or so for service fabric to activate service after lots of retry.
is there way to figure it out whats going on ? is there troubleshoot guide which we can refer.
is it better if service fabric explorer shows actual error with activated service to save on troubleshooting efforts.
i am seeing service is getting activated b

[2017-09-21 07:46] nrandell commented on #435
Hey @navyahmed, what's happening with this? I can see a number of people have been assigned to look at this, but the silence is a bit worrying. Any chance of a quick update?

[2017-09-21 07:53] FelschR commented on #315
@mani-ramaswamy Yes, Linux containers on a Linux Service Fabric cluster.

It's an ASP.NET Core project created with Docker support via Visual Studio.
I already got it running on a Linux Docker swarm cluster on Azure.

[2017-09-21 08:04] navyahmed commented on #435
yep, will follow-up tomorrow AM - PST

[2017-09-21 08:14] aelij commented on #345
@suchiagicha Can you please send me your email (mine is public on my profile)? I found an old dump. Note I'm no longer actively working on this project, and we've employed a workaround so it doesn't happen.

[2017-09-21 11:42] CodedBeard opened #467 "container external DNS resolution fails"
We have a 5.7 cluster running in Azure, attached to an existing private VNet, which has an express route connection to our core network. While standard traffic routing all works fine, we've noticed DNS resolution fails on any containers deployed to Service fabric.

This makes migration very difficult, as most of our systems are still running on our core network, and the containers we are trying to

[2017-09-21 13:00] nareshkhatri81 commented on #325
I am also facing the same issue. could someone help me with workaround ?

[2017-09-21 16:30] xela30 commented on #386
Where I can take that 5.7 CU1 version from?
Following one was released before the fix applied:
https://blogs.msdn.microsoft.com/azureservicefabric/2017/08/09/release-of-sdk-2-7-198-and-runtime-5-7-198-for-windows/

[2017-09-21 17:08] ToyMakerGR commented on #412
@caserzer I did not understand your answer. Could you please elaborate? This also happens to me on a variety of services, right now I have encountered the problem on an Actor SF service. Thank you.

[2017-09-21 17:10] maksimkim commented on #431
Hi Nick,
Did you try to specify
sf-resolve-condition="@(context.LastError?.Reason == "Timeout")"
on set-backend-service policy?

[2017-09-21 17:44] mani-ramaswamy commented on #315
Can you try connecting to the cluster via CLI, and then running the install script below?

sfctl cluster select --endpoint http://<clusterName>:19080
sfctl application upload --path <appFolder> --show-progress
sfctl application provision --application-type-build-path <appFolder>
sfctl application create --app-name <fabric:/appName>--app-type <appType> --app-version <appVersion>

And if you don't h

[2017-09-21 17:46] mani-ramaswamy commented on #315
And to install sfctl, use the instructions @ https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cli.

[2017-09-21 18:06] suchiagicha commented on #345
@aelij
You could attach files here by dragging and dropping.  Try creating zip file and then upload here itself.
Also what workaround you are using?

[2017-09-21 20:10] suchiagicha commented on #305
@SainiAshish

Are all services using same port are of same application?
Are you doing the cluster upgrade or the app upgrade?

[2017-09-22 02:23] michaely6ft opened #468 "Testing resiliency with StartNodeTransitionAsync takes down entire cluster"
As part of resiliency testing for our microservices project, we employ various methods within the TestManager API through a FabricClient instance. Part of the tests involve bouncing a single node via the Node Transition API and then doing a message round trip after the TestManager indicates that the cluster is stable again.

Roughly speaking, the pattern of the test is as follows:
[code]
For refer

[2017-09-22 05:14] nareshkhatri81 opened #469 "Deleting application created via compose always fails with max retries."
Hello Team,

Below command always fails. as with compose we cant upgrade currently.

sfctl compose remove --application-id fabric:/ClaimContainerV1

Error occurred in request., RetryError: HTTPConnectionPool(host='XXXXX', port=19080): Max retries exceeded with url: /ComposeDeployments/fabric:/ClaimContainerV1/$/Delete?api-version=4.0-preview&timeout=60 (Caused by ResponseError('too many 500 error

[2017-09-22 06:29] SainiAshish commented on #305
@suchiagicha
No, Services are in different applications.
We were doing the app upgrade.

[2017-09-22 07:17] aelij commented on #345
@suchiagicha The dumps can contain sensitive information, so I don’t want it public. The workaround was to copy the implementation of `ServiceRemotingDispatcher` into our test framework (without the perf counters, of course).

[2017-09-22 09:06] nicolave opened #470 "ETW provider is not discovered automatically for the Stateless ASP.NET Core project type"
I have created a "Service Fabric Application" using the "Stateless ASP.NET Core" template found in Visual Studio 2017 Pro 15.3.5. I am using using Service Fabric SDK 2.7.198.

And every time I hit F5 to deploy the sample app to my local SF cluster, the Diagnostic Events window notifies me that there are no ETW providers found in the solution. Could this be because it's a .NET core project using th

[2017-09-22 09:40] zeodamian commented on #446
So, this problem has other causes, I'll close this and open a more focused ticket.

[2017-09-22 09:40] #446 closed

[2017-09-22 10:03] zeodamian opened #471 "Services do not start with custom ReliableStateManagerReplicatorSettings."
We are initiating state in stateful services, by letting them download data from blob storage.
This results in hitting the secondary replication queue operation size, which makes at least one secondary replica stay InBuild and never recovering (you would assume it should eventually recover). Anyway, it drops messages when queue is full as I've understood, so we cannot let it fill regardless.

Loca

[2017-09-22 14:07] rajaprad commented on #136
Is there an update on this ?

[2017-09-22 14:14] rajaprad opened #472 "AzureChinaCloud: VMSS Size update inconsistent/misleading"
when trying to change my VM Scaleset VM size in Service Fabric cluster getting the below error:

9/20/2017 9:54:41 PM: Exception while Provisioning/Upgrading SF Cluster
9/20/2017 9:54:41 PM:9:54:41 PM - Resource Microsoft.Compute/virtualMachines 'testsdnvmRDP' failed with message '{
  "error": {
    "code": "OperationNotAllowed",
    "target": "vmSize",
    "message": "Unable to resize the VM 'sam

[2017-09-22 15:23] michaely6ft commented on #468
Adding the following logic seemed to mitigate the issue, but I would not consider it a long-term fix. We avoid bouncing the seed node which comes last in the list returned by FabricClient.QueryManager.GetNodeListAsync() according to the order defined by the function without any transformations, e.g., sorting.

[code]

[2017-09-22 16:35] Abdruggi commented on #448
How does service fabric export the certificates? certutil.exe, .NET, ..? I would like to reproduce the whole exportation process to find the root of the problem.

[2017-09-22 17:02] taxiatms commented on #462
@Doomblaster  First of all, the syntax you added is incorrect. The "**parameters**" is actually a json array object. Therefore, you should really add square brackets.
However, when you start the cluster like this, you should got error from Best Practice Analyzer saying Json config is invalid. Does this pop out too?

I've tried to add the settings and it worked fine on my windows server 2012 R2, us

[2017-09-22 17:42] amanbha commented on #305
@SainiAshish  So does following describes your scenario:
App1 configures C1
App2 configures C1

Now you decide to use C2 for both
You start App1 upgrade.
You start App2 upgrade.

[2017-09-22 17:59] oanapl commented on #469
From the documentation:

 --application-id [Required]: The identity of the application. This is typically the full name of the application without the 'fabric:' URI scheme.

Can you try to remove fabric:/ from the application id?

[2017-09-22 18:02] elscript commented on #386
Vote for the issue too. This stops us from using SF in production. We have upgraded SF version to 5.7.198 and the problem still occurs.

[2017-09-22 18:09] sumukhs commented on #435
Hi @nrandell ,
Thanks for reporting the issue. This is a first chance exception that is thrown and caught inside our transaction class in the happy path when transactions are disposed.

It was introduced in the latest version of the runtime unintentionally and we have logged a bug for it. We will fix it in the upcoming release and you should stop seeing these in the debugger.

[2017-09-22 18:35] SainiAshish commented on #305
@amanbha

In App1 during upgrade one of the replica of the web API failed. We didn't see any error except failed to initialize the replica.
We were using the 5 node cluster and during upgrade as web api upgrade starts one of its replica failed because the rest of the replica's of the same web api are using the same port and certificate.
After that web API service remain in the same state with one

[2017-09-22 18:39] kavyako commented on #386
This is fixed in builds >= 5.7.207.9494.
For clusters in Azure, go to Settings -> Fabric Upgrades -> Fabric Upgrade Mode (manual) -> Select 5.7.207* version from the drop down.

[2017-09-22 18:48] rakshitatandon commented on #448
Service Fabric uses native Crypt32 library APIs to read certificate from store and export as PFX.
https://msdn.microsoft.com/en-us/library/windows/desktop/aa387313(v=vs.85).aspx

[2017-09-22 18:51] heeldin commented on #136
This issue is expected since –ErrorAction SilentlyContinue doesnot work on terminating errors and we are throwing terminating errors in all of our powershell commands.
A workaround:
use a try catch or change the ErrorActionPreference to silentlycontinue which is a global change.

[2017-09-22 18:56] amanbha commented on #305
@SainiAshish Just 1 replica failed, and it came fine on other nodes?
Just trying to understand it better, Could you explain this in more detail: "Later on we find it is not because of port sharing even if you try to rollover a certificate for web API which is not sharing port with any of the other web api same thing happens."
What is the webserver? Assuming its using http.sys, how the cert was spe

[2017-09-22 19:12] #196 closed

[2017-09-22 19:13] heeldin commented on #225
The only way around this now is to use a try and catch.
 You can also change the ErrorActionPreference to silentlycontinue which is a global change and not recommended.

We do not support the silentlycontinue yet in our powershell cmdlets since we throw terminating errors.

[2017-09-22 19:13] #225 closed

[2017-09-22 20:39] frenchyjef opened #473 "Using ServiceEventSource and ActorEventSource classes inside a common library"
When creating a new Service Fabric project (Service or Actor) in Visual Studio, a ServiceEventSource/ActorEventSource class is automatically created to easily allow to log events.

Since I will be creating more than 100 different services/actors types, I would like to move most of the code from the ServiceEventSource/ActorEventSource class into a "base class" stored in a Shared Library. This way,

[2017-09-22 21:22] kavyako commented on #460
Without the HTTP/HTTPS scheme in the published endpoint address, reverse proxy will not be able to route the request to the service.
I ll check with the the Service Fabric Compose Deploy/VSTS folks regarding this and get back to you.

[2017-09-22 21:30] SainiAshish commented on #305
@amanbha
After 1 replica failed,  upgrade stops there as upgrade is incremental one by one on replicas.
The instance count for Web API should be -1 which means its replica will be only all the nodes of the cluster.
In ServiceManifest
<Endpoints>
<Endpoint Name="HttpsServiceEndpoint" Port="8527" Type="Input" Protocol="https"/>
</Endpoints>
In App Manifest
<Policies>
<EndpointBindingPolicy Certifica

[2017-09-22 21:32] amanbha commented on #305
@SainiAshish  What was the error for that 1st replica?

[2017-09-22 21:34] SainiAshish commented on #305
@amanbha  hosting service activation failed.
There was no more details except this message.

[2017-09-22 21:48] frenchyjef opened #474 "Autofac.ServiceFabric integration and ServiceEventSource"
Hi,

I have setup a few of my Stateful Service projects to leverage Dependency Injection using Autofac (see [link](https://alexmg.com/posts/introducing-the-autofac-integration-for-service-fabric))

Everything works great except for the out-of-box ServiceEventSource class no longer does proper logging.  I can see the events logged in my Diagnostic Events viewer but they do not contain the correct c

[2017-09-23 12:16] DenisPitcher commented on #426
Hello,

Apologies for the delay in following up on this.   Unfortunately it has been a while so I can't recall the exact steps.

I think I renamed the application and project files in visual studio by right clicking on them and clicking rename.  I adjusted the assembly and namespaces in the properties window.  Then I adjusted the name in the various config files.

I tried renaming everything back

[2017-09-23 13:17] elscript commented on #386
Thanks, could you provide the link for stangalone cluster .cab?

[2017-09-23 21:42] TonyHenrique opened #475 "Seems to have crashed on my Windows 10 x64"
OK, I am new to this, but on my first clicks, something appear to have crashed.

I did not even put any of my service on it,
I just installed it, then entered on this url

http://localhost:19080/Explorer/index.html#/node/_Node_0

then clicked
Deactivate (Pause),
Deactivate (Restart),
Restart

in sequence, quickly.

See logs:
Traces.zip
https://drive.google.com/open?id=0B5d9oJc6UeFKYTdheUpqUlY5d2s

[2017-09-25 02:16] gorygregory commented on #334
Any luck? This is still happening..

[2017-09-25 07:28] Doomblaster commented on #462
All my issues went away when I recreated the cluster. Now I can update configuration as I like. I was also able to update the QA cluster.

Regardless though, I was able to create a new cluster on a new VM with the same configuration that got validation errors on the old dev cluster. The only thing I can think of is that it was some old libs or scripts from v5.6 that made it fail. Before reinstalli

[2017-09-25 07:28] #462 closed

[2017-09-25 10:28] marvinvperez opened #476 "FabricClient error on version 2.8.211"
Hi,
I update my service fabric service project reference to the latest version
`<PackageReference Include="Microsoft.ServiceFabric.Services.Remoting" Version="2.8.211" />`
But now I'm getting exception when I try to use fabric client, e.g.
`var fc = new FabricClient("localhost:19000")`

I'm getting this error:
[code]

[2017-09-25 13:10] brandmo opened #477 "Can't explore newly created service fabric 6.0.217.9494 via DNS only by IP"
I've created a new fabric v6.0.217.9494

I'm unable to access the fabric explorer using its DNS name, but I can access it via its IP.

I updated a fabric from 5.7 to 6.0 earlier today and I could explore it using it's DNS name.

[2017-09-25 16:47] Mansoor-Mohsin commented on #325
Multiple instances of a single partition cannot be placed on a node. This is a hard constraint. If multiple instances of the same service are desired, the current approach is to have multiple partitions for the service.

[2017-09-25 17:18] nareshkhatri81 commented on #325
I have stateless service where we would like to place multiple instance of same service on same node. We have 2 VMs and we have configure service fabric as 3 nodes. 2 nodes on 1VM and 1 node on second VM.

I am seeing 2 instance are getting deployed 1 in 1VM and 2nd in 2VM. I wanted to deploy 10 instance on those 2 VMs.

[2017-09-25 17:50] Mansoor-Mohsin commented on #325
I'm assuming that your service has a single partition. If you want 10 instances per VM, then you should partition the service to have 10 partitions.

[2017-09-25 19:06] oanapl commented on #444
@MikkelHegn , I don't know how VSTS determines whether it needs to generate new version for compressed application packages. The script you pointed to doesn't have specific compression code.
One thing to take care with compression - changing the last modified timestamp of a compressed package contents results in changing the package checksum.

[2017-09-25 19:24] vinfos opened #478 "DNS Issue after upgrade to 5.7.217.9494"
The SF Cluster was upgraded from 5.7.207.9494 to 5.7.217.9494 and DNS stopped resolving names. After manual downgrade to 5.7.207.9494, it started to work again.

[2017-09-25 19:30] mkosieradzki commented on #452
Hi Mani,

I have installed 6.0 runtime version of runtime and still getting:
[code]
[code]

I am going to check this on Linux now.

[2017-09-25 19:37] mathlesp commented on #429
Do you have the version number for 6.0 CU1? I suppose it is not in 6.0.211 yet right?
Thanks

[2017-09-25 19:42] mani-ramaswamy commented on #452
As I mentioned, the SF volume driver hasn't shipped yet - so it is not available for you to try out. you can however, use any other volume drivers that Linux has.  https://docs.docker.com/engine/extend/plugins_volume/

[2017-09-25 19:46] mkosieradzki commented on #452
I am sorry. I thought that you had meant 6.0.

[2017-09-25 19:51] mani-ramaswamy commented on #452
No, sorry it is not in 6.0. We'll make sure we'll have a blog announcement on it when it is released.

[2017-09-25 22:18] Mardoxx commented on #474
I habe Autofac working, although I haven't looked at my event logs... I shall have a look tomorrow!

Try opening an issue here https://github.com/autofac/Autofac.ServiceFabric

[2017-09-26 00:42] brandmo commented on #477
Problem was resolved when I tried again this morning, closing this issues

[2017-09-26 00:42] #477 closed

[2017-09-26 02:24] nareshkhatri81 commented on #325
Thanks for info.yes we have single partition stateless service. Without petitioning, is it possible to run multiple instance of same service and service fabric runtime distribute load randomly or to service which has less load. We want one or two service which are heavily used to have more instances so they can handle more requests.

[2017-09-26 03:09] ilyalozovyy commented on #386
Any news on how to get the .cab for standalone cluster deployments?
I checked and even though my cluster is configured for automated updates, I am not able to find any information related to being able to download 7.7.207.9494 and I even noticed that Service Fabric version 6.0 was released today but no ability to download the runtime.
There has got to be a better way to allow people to download th

[2017-09-26 04:15] MikkelHegn commented on #476
You need to update the local cluster runtime to version 6.0. As a general guidance, you should not expect newer NuGet packages to work against "older" runtime versions. The 2.8 NuGet packages are released with the 6.0 runtime. You can get the local runtime update through Web Platform Installer.

[2017-09-26 04:33] marvinvperez commented on #476
Thanks @MikkelHegn  we could close it now. cheers!

[2017-09-26 04:33] #476 closed

[2017-09-26 07:18] tbertenshaw opened #479 "Installing Fabric Cluster results in unhealthy Fault Manager"
In the last 24 hours i have tried several times to create a Azure Service Fabric 5 node unsecured cluster.  Using the new Burstable Vm's (2cpu 8G ram, 8G HDD), with default options but also the faultanalysis service and DNS service.. And after over an hour of provisioning, the nodes are still in baseline upgrade with an error against the FaultAnalysis service. The first two times i got out of disk

[2017-09-26 10:41] nareshkhatri81 opened #480 "INFO - How to pass ECR during compose sf cli command"
We get aws token after doing aws configure with client id and client secret. we need to pass that short term token to aws to get images from aws ecr when doing sf cli compose command.

[2017-09-26 12:46] mkosieradzki opened #481 "System.Fabric (6.1.211-preview) does not have a strong name"
Preview version of packages are causing issues during compilation.

10>CSC : warning CS8002: Referenced assembly 'Microsoft.ServiceFabric.Services, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null' does not have a strong name.
10>CSC : warning CS8002: Referenced assembly 'System.Fabric, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null' does not have a strong name.
10>CSC : warning CS8002

[2017-09-26 13:40] elscript commented on #386
Still waiting...

[2017-09-26 15:42] kavyako commented on #429
Actually the fix made it to 6.0. Will you be able to check if it fixes the issue you mention above?

[2017-09-26 15:50] Mardoxx opened #482 "Build failing when ApplicationParameters/Local.5Node.xml & Local.1Node.xml are missing"
I didn't commit my Local.*.xml files as I didn't think they were necessary and MSBuild kicked off saying:

[code]

Is it possible to build without these files, if not, why are they necessary?

[2017-09-26 18:52] Mansoor-Mohsin commented on #325
Without partitioning it is not possible to run multiple instances of the same service on a single node.

I would also like to understand why do you want to run multiple instances on a single node? If the service is properly written, two service instance cannot give you a better resource utilization and throughput than a single instance. And if the concern is fault tolerance, then placing multiple

[2017-09-26 20:59] mathlesp commented on #429
From our preliminary tests, it looks like this issue is indeed fixed.

Thanks

[2017-09-26 21:05] oanapl commented on #382
This fix is in our latest release.

[2017-09-26 21:05] #382 closed

[2017-09-26 21:39] MrMint commented on #325
@Mansoor-Mohsin My previous comment outlines why we would have liked multiple instances on the same node. It would have been the least complex way to dynamically scale throughput for our worker services (services processing messages off of service bus).

[2017-09-26 22:42] MikkelHegn opened #483 "Issues installing SDK 2.8.211 - Cannot uninstall SDK 2.7.198"
When installing SDK 2.8.211 I see an error where the installer is not able to remove the previous SDK (2.7.198).
The log shows that, KtlLogger.sys and LeasLayr.sys are locked and cannot be removed.

[2017-09-26 22:58] linggengmsft commented on #480
If ECR accepts that token as the same format for the normal container registry password, you could set it in the compose creation parameters:

    --compose-file   [Required]: Path to the Compose file to use.
    --encrypted                : If true, indicate to use an encrypted password rather than
                                 prompting for a plaintext one.
    --repo-pass                : En

[2017-09-26 23:08] mattrowmsft commented on #474
That specific message seems like you have public method on your EventSource derived class that takes Exception parameter that isn't marked with NonEventAttribute.  I think those are validation events that EventSource itself puts out.

[2017-09-26 23:39] sumukhs commented on #471
Hi @zeodamian ,
When setting custom reliable state manager replicator settings in the code, you must also specify the "ReplicatorAddress" configuration as it is needed for the Idle replicas to talk to the primary replica.

The replicator address is a string in the format - "IP:Port".
The IP address of the current node can be obtained from the ServiceContext that is provided. The port number can be

[2017-09-27 00:01] ravipal commented on #334
Thanks for sharing the log. Will investigate and get back to you.

[2017-09-27 01:31] milvuko commented on #478
Build 5.7.217.9494 has a regression that affects DnsService in secure Windows clusters. DnsService is running under a special user and doesn't have enough privileges to access the cluster's certificate and is therefore unable to resolve DNS queries. Note that this is the only build that has this issue. Downgrade to previous build or upgrade to 6.0 build fixes the problem. In case upgrade/downgrade

[2017-09-27 04:31] ryankmcintyre commented on #483
Same issue here, using Web Platform Installer. Resulting Log files:
[code]
and
[code]

[2017-09-27 05:07] MikkelHegn commented on #483
As a workaround, do the following if you have tried to uninstall the 2.7 SDK (this would also be the case if you've had an unsuccessful installation of the 2.8 SDK via Web Platform Installer).

1. Open an elevated (as admin) command prompt
2. run this command `sc.exe stop KtlLogger`
3. run this command `sc.exe stop LeasLayr`
4. Open Web Platform Installer and retry installing the 2.8 SDK

[2017-09-27 06:55] aL3891 commented on #483
Also had this exact problem, but I ended up booting in safe mode and deleting the .sys files, then I was able to install 2.8

[2017-09-27 06:56] MikkelHegn commented on #483
We have a patch in review, that should go out tomorrow to fix this as part of the WebPI installation. If you are blocked - use the above work around.

[2017-09-27 07:08] Liphi commented on #465
1. When does the error happen, before rollback begins, before rollback finishes, or after rollback begins but before Repair-ServiceFabricPartition, or after Repair-ServiceFabricPartition?
2. May I know how u performed 5.6->5.7 upgrade? Did u call Start-ServiceFabricClusterUpgrade?
3. What is the code upgrade path of ur cluster? Was it created at 5.6, or was it created at some prior version and upg

[2017-09-27 08:24] brandmo opened #484 "Service Fabric Compose Deploy fails went built with 6.0.211.9494"
I've just upgraded my build server with Service Fabric v6.0.211.9494 with SDK v2.8.211.9494.

No my Service Fabric Compose Deploy release step in VSTS fails with the following message:

The term 'Get-ServiceFabricComposeApplicationStatus' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the

[2017-09-27 08:26] brandmo commented on #460
Thanks kavyako, is there any update on this?

[2017-09-27 10:25] Mardoxx commented on #482
[SF-Issue-482.zip](https://github.com/Azure/service-fabric-issues/files/1336611/SF-Issue-482.zip)

This will fail on VSTS.

Note end of .gitignore

[code]

Build definition "process" is below: Basically it's get sources, nuget restore, msbuild.

[code]

[2017-09-27 10:39] Mardoxx commented on #482
Possible workarounds:

Commit `Local.5Node.xml` and `Local.1Node.xml` to source control.

Build with `/p:UpdateServiceFabricApplicationManifest=false`

[2017-09-27 11:03] keithbeller opened #485 "NuGet Error - Failed to add reference. - 'Microsoft.ServiceFabric.Diagnostics.Internal'"
I'm getting a Failed to add reference error when trying to update Service Fabric on an existing project using NuGet on Visual Studio 2017. The package 'Microsoft.ServiceFabric.Diagnostics.Internal' tried to add a framework reference to 'System.ServiceModel' which was not found in the GAC.   I'm getting the error when attempting to upgrade the Microsoft.ServiceFabric assembly to latest version v6.0

[2017-09-27 11:29] dealboy opened #486 "Update Cluster Configuration is not doing anything"
Hi,

I am tying to remove one Fabric node ( adding NodesToBeRemoved parameter in json file)  on a on-premise cluster (5.7.198.9494)
The command
`Start-ServiceFabricClusterConfigurationUpdate -ClusterConfigPath theconfig_15.json `
returns without an error, but no activity happens on the cluster :(

The update command had run multiple times successfully before, on the same cluster, to update configu

[2017-09-27 11:54] vinfos commented on #478
Unfortunately, downgrade to the 5.7.207 did not go smoothly. The DNS service stopped running in cluster. It was present in manifest and FabricDNS.exe was on disc. There were no meaningful errors.
We ended up with following steps to fix it
* remove it from template
* run template
* add to template
* run template

[2017-09-27 11:54] #478 closed

[2017-09-27 11:59] tuhland opened #487 "Insufficient ETW/EventSource documentation"
We recently ran into some issues with the ETW and Service-/ActorEventSources.

The main problem is, that there seem to be some "reserved" Event IDs (Either officially registered somewhere in the whole ETW mess or in some common understanding at MS) which are not documented (completely).

Some are documented here, but there seem to be more:
https://docs.microsoft.com/en-us/azure/service-fabric/serv

[2017-09-27 12:19] cmenzi opened #488 "Just Register: Deploy-FabricApplication and Publish-NewServiceFabricApplication"
Hello

I try to just register new application type with the `Deploy-FabricApplication -DeployOnly and OverwriteBehavior VetoUpgrade`, which calls `Publish-NewServiceFabricApplication` with `Action = Register`.

The problem is that Publish-NewServiceFabricApplication checks if there already an application exists.

[code]

I think is only necessary when I also want to create an application, but I on

[2017-09-27 12:26] tuhland commented on #487
After re-reading my issue, I feel this probably partially a OMS Service Fabric module issue.

But still i think there's some guidance missing around the whole EventSource => Cluster ETW configuration => OMS Module flow.

Even if I used the auto-generated EventSource to report some application level events (which is the most common usage probably) through the ServiceMessage method it would end up a

[2017-09-27 14:38] njtrentacoste commented on #465
See my answers below:

1.) To be honest I don't know the exact point it started.  I started the cluster upgrade, it succeeded on 1 node, then failed on the 2nd and rolled back.  After rollback completed, I noticed the error with the UpgradeOrchestrationService.  I've issued the Repair-ServiceFabricPartition command several times since it's been an issue and the problem does not resolve.
2.) I perf

[2017-09-27 15:20] nareshkhatri81 commented on #325
There is limitation on number of concurrent request one instance of micro service(webapi) cam handle. After that request starts to go in waiting state. We want to avoid that by having multiple instance of stateless in same instance and SF randomly do load balancing between these instances.

[2017-09-27 15:58] mkosieradzki opened #489 "How can I access current Epoch for Staful Service Partition"
I am preparing for some advanced DR scenarios and I would like to make sure that in case of data loss state across different services is not desynchronized - I need to be able to invalidate state on dependent in case of discrepancy.

I would like to derive some opaque value from for example DataLossNumber and append it to every request. In that way I can detect that a request comes from a differen

[2017-09-27 16:30] oanapl commented on #466
7148 means Service Fabric intentionally terminated the process due to some error. You can look in the event log and see if there's something that can pinpoint what is wrong. For example, there may be some misconfiguration that prevent Service Fabric to launch the process correctly, like certificate configuration.
We hear you that it's hard to figure out what is going on. We have an enhancement on

[2017-09-27 16:43] sebbrochet commented on #146
@awcab, @dannythunder  I just got bitten today with the same kind of issue :)
It was working OK for several months and adding a secondary SSL certificate on the SF Cluster seems to have enforced a new constraint: **SSL certificate and SF Cluster endpoint URI should match**

Was able to reproduce it from a Powershell window:

[code]

The **CertificateNotMatched** was indeed the right root cause.
Af

[2017-09-27 17:07] mattrowmsft commented on #487
I think this is an issue in the way the OMS dashboards for SF are defined.  I'll follow up with appropriate people and report back.

[2017-09-27 17:08] karolz-ms commented on #470
This has been raised on SO as well: https://stackoverflow.com/questions/46361475/etw-provider-is-not-discovered-automatically-for-the-service-fabric-stateless-as

Tooling version 2.8 should have the fix

[2017-09-27 17:23] linggengmsft commented on #459
How did you deploy it and how did you remove it by "reverse engineering"? There is a remove application API you should call to remove a Service Fabric application?

[2017-09-27 17:25] msingiresu commented on #475
@TonyHenrique  Thank you for posting the question and providing the traces.

I looked at the traces and looks like there was only one node in the cluster which was attempted to be deactivated. Since this node is also seed node (used for bootstrapping other nodes to join cluster) FailoverManager component blocked this deactivate request.

To know more about deactivate (pause/restart) you can refer

[2017-09-27 17:33] oanapl commented on #484
We changed the cmdlets to have 'Deployment' rather than 'Application' in the name. Try
[Get-ServiceFabricComposeDeploymentStatus](https://docs.microsoft.com/en-us/powershell/module/servicefabric/Get-ServiceFabricComposeDeploymentStatus?view=azureservicefabricps) instead.
@rwike77 , can you make sure that the [main page](https://docs.microsoft.com/en-us/powershell/module/servicefabric/?view=azurese

[2017-09-27 18:16] Liphi commented on #465
Thx. Will investigate, and get back to u.

[2017-09-27 18:42] tuhland commented on #487
Yep, you're probably right.

It still would be great to know, what events SF is emitting into these default logs/tables and if we're supposed/allowed to use the default tables for application level logging, or even if ETW is still the way to go.

[2017-09-27 19:09] rwike77 commented on #484
@oanapl  List of cmdlets on the [main page ](https://docs.microsoft.com/en-us/powershell/module/servicefabric/?view=azureservicefabricps)have been updated.

[2017-09-27 19:13] dealboy commented on #486
yes, we are using FQDN values in Node ipaddress parameter.
Should we try to update first the configuration to use IP address values and then try the remove on a new conf update?

[2017-09-27 19:15] rwike77 commented on #484
@brandmo Could you verify the list of cmdlets on  [main page ](https://docs.microsoft.com/en-us/powershell/module/servicefabric/?view=azureservicefabricps)?

[2017-09-27 19:18] rakshitatandon commented on #486
Unfortunately that is not supported. You cannot change the node address directly using config upgrade. To change the node addresses, the model is to remove it and add it back again (with the new address) but in this case due to the bug I previously mentioned, remove will be blocked. We should be releasing the new version soon so you can just upgrade to it and try removing the node again using Star

[2017-09-27 19:21] dealboy commented on #486
clear! thanks for the prompt response!

[2017-09-27 19:21] #486 closed

[2017-09-27 19:46] ravipal commented on #473
@frenchyjef I tried the same and it works for me. Can you please make sure you don't have duplicate EventSource specified.

[2017-09-27 19:59] MikkelHegn commented on #460
For compose deployment you need to specify the http scheme in the port key: https://docs.docker.com/compose/compose-file/#ports

e.g.
[code]

[2017-09-27 20:52] kavyako commented on #386
It looks like the standalone installer for 5.7 CUx was not released. We will publish it some time next week.
The 6.0 should also be out soon. Sorry about the delay in getting these out.

[2017-09-27 20:59] MikkelHegn commented on #483
Web Platform Installer is now updated with the fix.

We have seen cases where this scenario requires you to reset you cluster after having successfully upgraded the SDK.

[2017-09-27 21:07] #484 closed

[2017-09-27 21:09] oanapl commented on #484
I verified that links work properly now. Thank you, @rwike77 !
@brandmo, thank you for reporting! Let us know if you have any other issues.

[2017-09-27 21:18] suchiagicha commented on #345
@aelij

You can try sending the dump to this suchia@microsoft.com and make sure to rename the extension of dump file to zip file otherwise mail server rejects the attachment.

[2017-09-27 21:23] suchiagicha commented on #378
@Telavian

Here is the documentation on how to use Custom Serialization Provider with Remoting.
This is available in 2.8 Remoting package

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-remoting

[2017-09-27 21:48] iyyappam commented on #461
Ahmad, Thanks for reporting the issue.

We might need additional information to investigate further
1. Do know on which stage of the process you get this error ie) Copying application package, provisioning or during application creation.
2. Do you know the threshold limit size after which you see the issue.
3. Could you send us the complete service and application manifest.

[2017-09-27 21:55] milvuko commented on #467
There are essentially 2 issues reported: DNS chain inside container is not working properly and DnsService not showing up even though it is specified in the manifest

DNS chain inside container is not working properly:
From your post, it looks like DNS chain in the container is populated correctly. Docker always inserts NAT gateway as the first DNS server in the chain. It is important to emphasize

[2017-09-27 23:16] awcab opened #490 "Support for using additional storage disk"
I have a .net SF application that needs to use a large amount of additional storage for temporary calculations.  However, I can find little in the way of documentation for how to attach and mount an additional disk or use the storage from the application. Since all the the instances at selection mention additional disk support, I was expecting some SDK support and docs for how to actually use them

[2017-09-28 00:31] brandmo commented on #484
Thanks for the reply. I don't have any control over the cmdlet that's used by the Service Fabric Compose build step in VSTS so I guess I'll need to downgrade to the previous version for the moment.

Is there going to be an update soon?

[2017-09-28 02:31] Telavian commented on #378
Thanks.

On Wed, Sep 27, 2017 at 2:23 PM, suchiagicha <notifications@github.com>
wrote:

[2017-09-28 03:31] rahul602 commented on #146
@sebbrochet I am facing the same issue. For me, the same command was working for months.
I seem to be keying in correct URI and client certificate thumbprint. Can you please explain what do you mean by After changing $ClusterName by the CName ? How exactly did you fixed the problem?

[2017-09-28 03:46] brandmo opened #491 "Service Fabric Compose Deploy build step in VSTS uses old cmdlets and fails"
The Service Fabric Compose Deploy build step in VSTS still uses the "Application" cmdlets.
These cmdlets have been renamed to "Deployment" in the latest release of Service Fabric, runtime v6, SDK v2.8 so the step fails with the following message "The term 'Get-ServiceFabricComposeApplicationStatus' is not recognized as the name of a cmdlet, function, script file, or operable program."

Get-Service

[2017-09-28 03:55] brandmo commented on #460
Thanks for replying Mikkel,

I've updated my compose file and my solution will build in VS2017 but when i run it, it fails with an invalid protocol error.

My solution wont build on my build server, it fails with the message "...Invalid port "80:80/http", should be [[remote_ip:]remote_port[-remote_port]:]port[/protocol].
[object Object]"

The link you provided suggests that the only valid protocol

[2017-09-28 09:20] elscript commented on #386
Ok, please keep us in touch

[2017-09-28 10:34] elqueffo commented on #481
Having the same issue, on a net461 project.

```Error	CS0012	The type 'StatefulService' is defined in an assembly that is not referenced. You must add a reference to assembly 'Microsoft.ServiceFabric.Services, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'.```

```Error	CS0012	The type 'ServiceInstanceListener' is defined in an assembly that is not referenced. You must add a re

[2017-09-28 11:06] mikanyg commented on #460
The reverse proxy documentation States that application name and service name is case sensitive, have you tried if this is the issue?

On a side note this behavior is misleading since urls are normally not case sensitive.

[2017-09-28 11:11] brandmo commented on #460
I noticed that too. The case is correct

[2017-09-28 13:39] nicolave commented on #470
I have updated the SF runtime to 6.0.211 and the SF SDK to 2.8.211 using the latest Web Platform Installer. The issue is still present.
Is there also a new version of the SF tools for Visual Studio 2017 Pro 15.3.5? Because the newly created SF ASP.NET core project still references SF 5.7.198 and 2.7.198 assemblies.

[2017-09-28 14:03] dealboy opened #492 "Reverse proxy configuration/certificate validation"
Is it possible to configure Reverse Proxy validation policy on a on-premise cluster (5.7.198.9494)

We follow instructions from :
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reverseproxy-configure-secure-communication

We add in json configuration
`"FabricSettings": [
{
       "Name": "Setup",
        "Parameters": [
          {
            "Name": "FabricDataRoot",

[2017-09-28 14:25] dealboy commented on #492
I can see that there is a similar request, but for DEV (local) cluster here
https://github.com/Azure/service-fabric-issues/issues/292

Is there a way to do the same using json files? or touching the cluster xml files?

[2017-09-28 15:54] karolz-ms commented on #470
OK, sorry for misleading you--turns out the updated Visual Studio tooling has not been released yet. It should be available next week (via Web Platform Installer).

[2017-09-28 18:20] aiden56 opened #493 "FabricRuntime.GetActivationContext() event handlers do not fire."
If using the ```ServiceContext``` activation context to register event callbacks, the event handler for ```ConfigurationPackageModifiedEvent``` fires correctly. If using the ```FabricRuntime.GetActivationContext()``` activation context to register callbacks, the  ```ConfigurationPackageModifiedEvent``` does not fire.

[2017-09-28 18:40] taxiatms commented on #465
@njtrentacoste I tried to start a gmsa cluster and upgrade, can't repro the error. Could you let me know the exact command you used to upgrade your cluster?  Thanks.

[2017-09-28 18:52] njtrentacoste commented on #465
@taxiatms I followed the docs, executed Get-ServiceFabricRegisteredClusterCodeVersion to get the full 5.7 version followed by Start-ServiceFabricClusterUpgrade -Code -CodePackageVersion 5.7.198.9494 -Monitored -FailureAction Rollback

At the moment, I'd really like to get the UpgradeOrchestrationService back up and running so I can retry the upgrade.  I tried upgrading while the UpgradeOrchestrati

[2017-09-28 18:55] hrushib commented on #481
@mkosieradzki, Thanks for reporting this issue.
* There is signing issue with netstandard2.0 assemblies. We are investigating this further and will provide fix soon.
* For error CS0012, please share your CSProj file.

[2017-09-28 18:55] taxiatms commented on #465
@njtrentacoste can you send me (taxi@microsoft.com) the trace logs under DeploymentTraces? it's in the same folder in the StandAlone package. We will take a look and try to get back to you.

[2017-09-28 19:45] MikkelHegn commented on #491
The 2.7 SDK will work against a version 6.0 cluster, but the task will not work on with the 2.8 SDK installed on the agent.
I've opened an issue in the VSTS Tasks repo to track this: https://github.com/Microsoft/vsts-tasks/issues/5505

[2017-09-28 20:18] rufio620 opened #494 "Reverse Proxy Does not work on local 5 Node Cluster"
I cannot seem to get the reverse proxy to work on my local 5 node dev cluster. I have a simple nancyfx HttpListener setup as described [here](https://github.com/NancyFx/Nancy/wiki/Hosting-nancy-with-owin). I am able to access the service but when I attempt to access via the reverse proxy I get net::ERR_CONNECTION_REFUSED from chrome which leads me to believe nothing is running on that port.

I hav

[2017-09-28 20:19] njtrentacoste commented on #465
@taxiatms I don't have any DeploymentTraces for this upgrade.  Is that because the code is already in the imagestore?

[2017-09-28 20:23] taxiatms commented on #465
@njtrentacoste Could you take a look at "C:\\ServiceFabric\\Log" in one of the three machines you built the cluster as well?

[2017-09-28 20:39] MikkelHegn commented on #488
`VetoUpgrade` is an OverrideUpgradeBehavior, not OverwriteBehavior.

There are three scenarios where this is possible:
1. No applications of that application type are already running in the cluster.
2. If you set the OverwriteBehavior to SameAppTypeAndVersion, running applications of that app type and version will be removed before registering the new app type version.
3. If you set the OverwriteB

[2017-09-28 20:48] rufio620 commented on #494
I just tried this with a web api project and I am having the same issue so it does not appear to be nancyfx.
Navigating to http://localhost:19081/TestApp/Website/api/values fails with connection refused.

[TestApp.zip](https://github.com/Azure/service-fabric-issues/files/1342297/TestApp.zip)

[2017-09-28 21:07] mkosieradzki commented on #481
I am quite sure that CS0012 is related to the signing issue ;)

[2017-09-28 21:09] kavyako commented on #494
What is the service fabric version.
How did  you generate the 5 node cluster? Reverse proxy is enabled by default on local dev clusters.
What http response/status code do you get when you try just http://localhost:19081/

When deploying from Visual Studio, can you [enable diagnostics ](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reverse-proxy-diagnostics) for the reverse p

[2017-09-28 21:18] jsturtevant commented on #447
@eliasnawfal this looks to be working in the latest updates that came out this week (9/24)

[2017-09-28 21:18] mkosieradzki opened #495 "Feature Request: Please consider providing lowlevel KV operations without serialization."
It would be really nice to be able to use Get, Put, Delete operating on binary keys. Most preferable solution would be to be able to use upcoming `Span<T>` or `ReadOnlySpan<T>` such operation can operate on unmanaged memory in a safe way without any unnecessary heap allocations.

[2017-09-28 21:22] kavyako commented on #492
Yes it should be possible.
Do you have secure reverse proxy set up already?  Have you configured reverseProxyCertificate property in the cluster resource type section ?

[2017-09-28 21:23] rufio620 commented on #494
The service fabric version is 6.0.211.9494 and the SDK version is 2.8.211.9494

I deployed the cluster from the Service Fabric Local Cluster Manager tray application that installs with the SDK. This is a Windows 7 machine, not sure if that would make a difference.

http://localhost:19081/ gets the same error.

This site can’t be reached

localhost refused to connect.
Search Google for localhost 19

[2017-09-28 21:35] rufio620 commented on #494
I added Microsoft-ServiceFabric:4:0x4000000000000010 to the diagnostic events.

I don't see anything that looks like it relates to the reverse proxy. I have quite a few of these events though.

{
  "Timestamp": "2017-09-28T17:28:53.376461-04:00",
  "ProviderName": "MSNT_SystemTrace",
  "Id": 65535,
  "Message": null,
  "ProcessId": 0,
  "Level": "Always",
  "Keywords": "0x0000000000000000",
  "Eve

[2017-09-28 21:36] kavyako commented on #494
Ah unfortunately Reverse proxy is not supported on Windows 7 since the websockets implementation it uses is only available starting Windows 8. You want Windows 10.

[2017-09-28 21:43] kavyako commented on #494
Also reverse proxy will not show up with the system services. You should see FabricApplicationGateway.exe process running when it is enabled.

[2017-09-28 21:45] rufio620 commented on #494
Ok that explains it. Does that mean it would not work on Server 2008 R2 as well?

Also I don't recall seeing anything about this in any of the documentation for reverse proxy any way to get that updated? It might save some others some time. Thanks.

[2017-09-28 21:54] dealboy commented on #492
No, we do not have a secure reverse proxy set up (but we plan/want  that as next step).
The only configuration we have so far for reverse proxy is the "reverseProxyEndpointPort" value in the json file, as defined in the sample file:

https://github.com/Azure-Samples/service-fabric-dotnet-standalone-cluster-configuration/blob/master/Samples/ClusterConfig.Windows.MultiMachine.json

Please note that

[2017-09-28 22:22] kavyako commented on #492
Reverse Proxy only supports X509. You have to specify a certificate for the secure reverse proxy endpoint.

Refer to [Reverse proxy in Azure Service Fabric ](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reverseproxy) to configure the secure reverse proxy.
Sections of interest for configuring the HTTPS reverse proxy:
-  "To configure SSL certificates on the port for the reve

[2017-09-28 22:29] kavyako commented on #494
Right, it will not work on Server 2008. Minimum required : Windows Server 2012

And yes, we will update the documentation.

[2017-09-28 22:41] rufio620 commented on #494
OK thanks for all your help.

[2017-09-28 22:41] #494 closed

[2017-09-28 22:55] sebbrochet commented on #146
Let's say the SSL certificate you've configured on your SF Cluster is for my-site.mydomain.com and you own mydomain.com
Previously you were using cloudapp.azure.com to access your cluster and that was OK. Now there's a new constraint and you need to use a domain that **matches** with your SSL certificate.
To do so you need to go the registrar that is managing mydomain.com for you and create a CNam

[2017-09-28 23:56] artsai opened #496 "FabricDnsService is not preferred DNS server on the node."
I installed version  6.0.211.9494 on my local 1 Node
fabric:/System/DnsService is giving this warning.
"FabricDnsService is not preferred DNS server on the node."
I have tried to reset the cluster, it went away then it came back on.
I'm running Windows 10 Pro.
Please let me know what I should do.
Thank you,
Art

[2017-09-29 00:36] brandmo commented on #491
Hi Mikkel,

The task has stopped working with v2.7 of the SDK installed on the agent as well. I get this error "Argument 'Test-ServiceFabricApplicationPackage' is not recognized as a cmdlet: Unable to load DLL 'FabricCommon.dll".

It started happening when I upgraded my fabric to 6.0, but downgrading to 5.7 doesn't make a difference. I found the other problem when I upgraded my agent to SDK 2.8 to

[2017-09-29 05:27] NCarlsonMSFT commented on #482
We've investigated the underlying issue and added an item to our backlog to handle this more gracefully in the future. For now you've already found my recommendation for working around this, which would be to use set UpdateServiceFabricApplicationManifestEnabled to false in your project.

You will need to do this in more than just your VSTS build as anyone who clones the repo will have the same bu

[2017-09-29 06:58] dealboy commented on #492
I have the feeling that all the instructions are pointing to Azure cloud configurations and not on-premise ones.
The on premise json file has different structure.
Is there a mapping between on-premise json configuration and usage of  Cluster Resource types?

[2017-09-29 10:57] cmenzi commented on #488
Yes, I used this to get $IsUpdate = $false in Deploy-FabricApplication.ps1

For there one scenario missing: Just "Register" an new version of a given applicationtype, I don't want any application to be removed or upgraded.

My scenario:

1.  Register an given ApplicationType with new version -> Make the ApplicationType available to create an application from it
2. Upgrade the new ApplicationType f

[2017-09-29 13:22] eliasnawfal commented on #447
@jsturtevant I will update today and try it tomorrow after adding the configuration, thank you

[2017-09-29 15:43] kavyako commented on #492
When you downloaded the standalone Service Fabric package, you should see sample JSON files for X509 config:  ClusterConfig.X509.DevCluster.JSON and ClusterConfig.X509.MultiMachine.JSON . Configurations starting with ReverseProxy show how to specify the reverse proxy certificate. Note: the config name is different for dev cluster and multi machine.

[2017-09-29 16:17] Telavian commented on #378
I am just reviewing the documentation at https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-remoting.

It is not clear how to upgrade a web api project to the V2 system. Is this different for web api projects?

[2017-09-29 17:25] kavyako commented on #492
Here is the https://github.com/Azure-Samples/service-fabric-dotnet-standalone-cluster-configuration/blob/master/Samples/ClusterConfig.X509.MultiMachine.json
The configs you want are : ReverseProxyCertificateCommonNames and reverseProxyEndpointPort.
This will enable secure reverse proxy.
Additional ApplicationCertificateValidationPolicy settings can be placed under fabricSettings, similar to what i

[2017-09-29 18:21] clazarr commented on #496
I am seeing the same behavior with the Service Fabric Explorer reporting a health warning for the FabricDnsService after installing the v6.0.211 runtime and SDK using the Web Platform Installer on Windows 10 Pro v1703.

[2017-09-29 19:14] dealboy commented on #492
Can we have windows security between cluster nodes ("ClusterCredentialType": "Windows") , **and** certificates for outside connections  ("ServerCredentialType": "X509") ?

Combine
"ClusterCredentialType": "Windows",
"ServerCredentialType": "X509",
**and** then define :
ReverseProxyCertificate

(I tried it, but although the configuration is accepted and passes basic validation, in my case it fails

[2017-09-29 21:50] milvuko commented on #496
DnsService is by default set as a preferred DNS server on the node (Windows only for now), which means that the IP address of the node is inserted as the first DNS address in the DNS chain.  Current DNS chain can be inspected by looking at the output of "ipconfig /all" command, "DNS Servers" section. In case the IP address of the node is not in the chain, the warning "FabricDnsService is not prefe

[2017-09-29 23:06] kavyako commented on #492
You can do Windows security for ClusterCredentialType and ServerCredentialType. And have reverse proxy configured to use a certificate.
Here is the config I used, and it seems to work:
`

        "security": {
            "ClusterCredentialType": "Windows",
            "ServerCredentialType": "Windows",
            "WindowsIdentities": {
                "ClusterIdentity": "domain\\machinegroup",

[2017-09-30 01:22] suchiagicha commented on #378
@Telavian

What do you mean by web api project ?  This is only for remoting use-case.
Are you using web api frontend service to call service fabric remoting service? If that's the case ,  changes still remains the same as mentioned in documentation. You need to create ServiceProxyFactory with serialization provider (step 3)

[2017-09-30 03:31] Telavian commented on #378
Ok. I thought there was something improved with that also.

Thanks.

On Sep 29, 2017 6:22 PM, "suchiagicha" <notifications@github.com> wrote:

[2017-09-30 06:47] MikkelHegn commented on #447
Confirming this is in the 2.8 SDK.

[2017-09-30 06:47] #447 closed

[2017-09-30 06:55] MikkelHegn commented on #488
That scenario is not supported today, I'll log a bug to look in to this. Not sure we can make it generic enough to be parts of those scripts.
The Deploy-FabricApplication.ps1 is meant as yours to customize for needs like these. Copying the Publish-NewServiceFabricApplication script in to your projects script folder and customize to your scenario would probably be a more suitable solution.

[2017-09-30 07:14] cmenzi commented on #488
Thanks

I've found a way to which does the trick:

[code]
Just using a unique ApplicationName, which results in just register.

[2017-09-30 11:05] #378 closed

[2017-09-30 12:06] juho-hanhimaki opened #497 "SerializationException when using the V2 remoting and 6.0/2.8 version"
I upgraded to 2.8 and V2 remoting but now I see serialization erros on some of my remoting methods.

As example the method:

        Interface:
        Task<IEnumerable<long>> GetLongsAsync();

        Implementation:
        public async Task<IEnumerable<long>> GetLongsAsync()
        {
            var results = new long[] { 1, 2, 3 };
            //var results = await ComputeResultsAsync();

[2017-09-30 13:39] juho-hanhimaki commented on #497
It seems this issue happens to me only when using V2 remoting. So V1 remoting with 6.0/2.8 behaves as expected.

[2017-09-30 13:49] mkosieradzki commented on #403
@rishirsinha Thanks a lot, unfortunately `Remove-ServiceFabricReplica` has a bit different semantics. `StartPartitionDataLoss` induces full data loss while `Remove-ServiceFabricReplica` actually induces this event, however you need to do restore in Force Mode (instead of safe mode). However it is possible to achieve similar results.

Which approach is recommended?

[2017-09-30 20:50] LMWF commented on #403
Conceptually, that will do that same thing in this case because you only have one replica.  Remove-ServiceFabricReplica will drop that one replica, which will cause the system to call your service's OnDataLossAsync() when the new replica comes up.

[2017-10-01 03:49] MikkelHegn commented on #444
It seems the problem is that the check happens at build (where nothing has change and therefore the version does not change), but when you compress the package (at deployment time), the checksum of the compressed package is now different because of the timestamp change.

On top of my head I have no good solution to this (other than turn off compressed packages as a workaround for now).

This shoul

[2017-10-01 08:52] pksorensen commented on #481
running into the same with FabActUtil:

[code]

[code]

[2017-10-01 09:48] pksorensen commented on #481
So, from this issue i gather that the libs for netstandard2.0 (located in /ref folder in nuget) are not strong named.

I reverted my projects back to 462, but still my project got the bad dlls above. (easy to see the different in output folder. Microsoft.ServiceFabric.Actor is 452kb for the net452 in nuget and 417kb for the netstandard).

I created a very clean project with the following csproj.

[2017-10-01 16:26] AsValeO opened #498 "Question: Is moving large data between Service Fabric services is bad design?"
I'm developing a web data crawler using Service Fabric. I've devided a crawling proccess into Stateless services pipeline. First service loads HTML. (S1) Second one parses data from it. (S2) Third one saves result into DB and performs additional operations. (S3) HTML code moves from S1 to S2, than to S3 (by design, I need HTML in third service). The problem that HTML itself is a big amount of data

[2017-10-01 19:16] MattDarg commented on #329
Hi, sorry for the delay.  I ran the Debug Diagnostic Tool and have attached two logs from it.  I enabled memory dumps for the 0XE0434352 exception for the second one, and can provide any of those if desired.

Thanks,

Matt,

[FabricUOS__PID__20864__Date__10_01_2017__Time_07_31_06PM__888__Log.txt](https://github.com/Azure/service-fabric-issues/files/1347432/FabricUOS__PID__20864__Date__10_01_2017__

[2017-10-01 19:17] MattDarg commented on #329
Also, this is now with version 5.7.198.9494

[2017-10-02 02:53] baralong commented on #230
I'd like to add my vote to this, I've got different behaviors for 404 and 410 in relation to a sale:

- 404 = bad sale id
- 410 = sale submitted

I also wonder if it'd be possible to stop the continuous retry, surely if the reverse proxy has had the same response from all services it could try then it should eventually pass the response through to the client, rather than never returning.

[2017-10-02 06:37] AhmadSaleem2604 commented on #461
Basically I was wrong in my approach I was putting python compiler and python code files in guest executable, but the problem is there. The size of the complete directory is 1.5 GB. The exception is thrown when it starts packaging the application
Following is the image of exception
![image](https://user-images.githubusercontent.com/32084716/31066322-7be6a89a-a765-11e7-8dcc-fb208f18a643.png)

Servi

[2017-10-02 06:44] AhmadSaleem2604 commented on #459
I am using visual studio to build and deploy and guest executable. I was following steps to remove guest executable.
1)delete guest executable folder in from ApplicationPackageRoot directory
2) remove its instances from applicationManifest.xml
3) remove its references from cloud.xml

I was googling around to see how can i remove guest executable from my project but couldnt find anything or that th

[2017-10-02 10:33] mkosieradzki commented on #403
@LMWF in case there is exactly one replica you are right, but...

you don't want to assume the number of replicas in your code...

From my perspective `Remove-ServiceFabricReplica` sounds like a temporal workaround. However IMO this is such a basic feature, that there should be a single API working consistently across different kinds of clusters. @masnider during August Q&A was proposing adding ba

[2017-10-02 12:24] MedAnd commented on #495
Hi @mani-ramaswamy, could the low level shims you are developing for SF state store handle the above?

[2017-10-02 12:26] mkosieradzki commented on #495
@MedAnd did you mean SF volume driver?

[2017-10-02 12:28] MedAnd commented on #495
one level lower @mkosieradzki... in a talk @mani-ramaswamy said his team is working on exposing SF state store directly, for even better perf (I think the volume driver uses the SF state store under the covers).

[2017-10-02 12:46] mkosieradzki commented on #495
@MedAnd Thanks for clarification, would you mind sharing appropriate Ignite (?) talk? What I have learned from *public* talks today is:
1. Currently reliable collections uses: ESENT on Windows, RocksDB on Linux + managed layer on top of it.
2. There is an effort taken by Mani and his team to rewrite native persistence layer (ESENT, RocksDB) + managed layer to a native Reliable State Provider (250

[2017-10-02 13:06] MedAnd commented on #495
hopefully @mani-ramaswamy will be able to clarify but this is his talk: [Orchestrating one million containers with Azure Service Fabric](https://www.youtube.com/watch?v=OjhOZkql4uE)

ps. not sure if this was implemented but last year provided feedback that the client proxy should also not be hard coded to use the DataContractSerializer

[2017-10-02 13:20] mkosieradzki commented on #495
Thanks a lot. That's a really bad title for an awesome talk (that's why I just ignored it). I wish it was called "Data-aware orchestration with Azure Service Fabric" - it actually explains A LOT.

[2017-10-02 15:45] mkosieradzki opened #499 "Service Fabric - System Services disaster recovery"
Do you plan to provide any means to backup the cluster state and config?

Currently there are no means to preserve configuration of the entire cluster (application images, running instances configuration etc.). The more advanced dynamic micro-services usage is, the more information is stored in-cluster only.

Unless there is some means to backup the entire cluster state, in more advanced scenarios

[2017-10-02 17:31] MikkelHegn opened #500 "Azure clusters do not have .net core 2.0 installed"
Creating new Service Fabric clusters in Azure gives you VMs without .net core 2.0 runtime installed.

[2017-10-02 17:53] mani-ramaswamy commented on #310
Thanks Andreas. We're working on a native SF volume driver that is HA and local for maximum persistence. I will close this issue for now, and have passed this ask to the Azure Storage team.

[2017-10-02 17:54] AsValeO opened #501 "Full Reliable Service communication example with deploy on cloud?"
I can't find full example that covers:
1) Reliable Service with communication listener creation
2) Communicating local client with it (Local cluster)
3) Publish to Azure
**4) Communicating local client with it (Published in cloud)**
Last one is missing in every tutorial. For a people like me, who have not a WebAPI/WCF backgroung such example could be very handy at the beginning.

[2017-10-02 18:27] iyyappam commented on #461
It looks like Visual Studio is throwing the exception during packaging. We will ask VS team to take a look.

[2017-10-02 18:37] dbreshears commented on #461
Yes.. We will take a look

[2017-10-02 20:53] loekd opened #502 "V2 remoting: difference in handling of IEnumerable<T> output"
Service interface operation:

[code]

Using Remoting V1:
When returning a `List<BackupMetadata>` from the implementing Service, the remoting client accepts the result.

Using Remoting V2:
When returning a `List<BackupMetadata>`, the remoting client throws an exception, stating that `List<BackupMetadata>` was not expected.

As a workaround, I changed my Service to declare a `List<T>` instead of `IE

[2017-10-02 21:41] juho-hanhimaki commented on #497
Basically same as #502

[2017-10-02 21:55] amanbha commented on #453
Its tracked in aspnetcore repo https://github.com/Azure/service-fabric-aspnetcore/issues/30

[2017-10-02 21:55] #453 closed

[2017-10-02 21:57] ahofman commented on #398
Hi @masnider and @MikkelHegn ,

This issue is significantly impacting our continuous deployment pipeline. Can we get an update here? Would you accept a PR to make the unregister timeout configurable?

(I work in the same team as @0shi ).

[2017-10-02 22:45] suchiagicha commented on #497
@juho-hanhimaki

Yes , this is expected in Remoting V2.
Scenario is by default , Remoting Api Types needs to be of concrete Type. In above case , if you change type IEnumerable<long> to long[] , it will work. By default , we take serialization knowntypes from the Api return/response types.

Other solution is to explicitly add knownTypes by following way.

1 You need to implement IServiceRemotingMe

[2017-10-02 22:46] suchiagicha commented on #502
@loekd

Here is the solution
https://github.com/Azure/service-fabric-issues/issues/497

[2017-10-02 23:48] suchiagicha commented on #345
@aelij

Seeing the dump ,looks like you are Fabric Runtime of version 5.5.216.0 and Microsoft.ServiceFabric.Services version is 5.6 , which is not a compatible version. Runtime version should always be higher or same with sdk version. Please upgrade your FabricRuntime and it should then work.

[2017-10-03 00:12] brandmo commented on #460
Hi kavyako, is there any update on this?

[2017-10-03 02:50] MedAnd commented on #500
As an interim workaround maybe an approach similar to this would work: [Deploy a Service Fabric Cluster to Azure with .NET Framework 4.6 (ARM template)](http://www.medic-consulting.com/2016/06/23/Deploy-a-Service-Fabric-Cluster-with-support-for-net-4-6/)

[2017-10-03 03:42] NickDarvey commented on #431
This works. Thanks for that.
(I'm guessing lots of client-facing developers will need to do this so it'd be nice if there were a built-in solution for it.)

[2017-10-03 03:42] #431 closed

[2017-10-03 05:49] juho-hanhimaki commented on #497
It would be quite a lot of work to implement the custom providers for the whole system I am developing. In my case there are a lot of methods that have optional filtering and/or ordering done via LINQ.

I guess the other option is to call ToList or ToArray in all such cases, but that would probably have negative performance implications which kinda counters the whole purpose of using the new remot

[2017-10-03 08:56] Abdruggi opened #503 "Add support for docker HEALTHCHECK"
HEALTHCHECK are a very helpful and convenient way to monitor app running inside services in a container, e. g. IIS Websites. Service Fabric should restart a container whenever healthcheck reports the container as unhealthy.

[2017-10-03 10:00] JefSchraag commented on #483
The problem is not solved for me yet.

Web platform installer log:

[code]

Trying the workaround resulted in:
[code]

[2017-10-03 11:41] CodedBeard commented on #467
Hi @milvuko, I tried creating a new cluster using the same template, and noticed that the DnsService did briefly appear when the cluster came online, but shortly afterwards (30 mins or so) the DnsService disappeared from the System list in fabric explorer.

Are there any logs I could look at, to see what happened? as the fabric explorer does not report the DnsService as being in error, it's just g

[2017-10-03 11:50] shacal commented on #497
I don't think there are any performance change. If you have IEnumerable in interface there is zero filtering happening, basically you get full data set from another service to local memory and then filtering behind the scene. V2 just makes you think your interface more and allow filtering in right place.

[2017-10-03 11:55] nareshkhatri81 opened #504 "Docker Compose throws exception bad request."
Hello Issue

Error while deploying to cluster with compose command.

Where can i find actual error whats wrong ?

Command
--- sfctl compose create --name Claim1003 --file-path D:\ProjectsV1\sf-docker-compose.yml

Error -
Operation returned an invalid status code 'Bad Request'
Traceback (most recent call last):
  File "c:\python27\lib\site-packages\knack\cli.py", line 125, in invoke
    cmd_result

[2017-10-03 12:00] juho-hanhimaki commented on #497
I guess it depends how the DataContract serialization works internally.

ToList and ToArray allocate arrays which can be wasted garbage collection.

If the DataContract serializer enumerates the IEnumerable during serialization without building the array it seems obvious it's more optimal to not call ToList or ToArray.

[2017-10-03 12:07] Mardoxx commented on #497
Interesting... I suppose it depends on implementation. As I understand if the serialiser receives `IEnumerable` and only accesses the enumerator, then there will be no (little?) performance hit. However if it then materialises this as a list using `ToList()` it will be creating an entirely new copy of the list.

I think the only way to know would be have someone who understand the internals of SF'

[2017-10-03 14:09] TravisTroyer commented on #332
I seem to be experiencing this same issue on version 6.0.211.9494, both locally and in Azure.

What's interesting is that nslookup against 127.0.0.1 returns an empty result for my hostname, rather than a non-existent domain error.

Result with my service DNS name:
[code]

Result with bogus name:
[code]

Result with working domain name:
[code]

It appears as if the Service Fabric DNS service knows

[2017-10-03 14:58] hrushib commented on #255
Service Fabric .NET SDK 3.0 Preview is now available, this SDK includes .NET Standard 2.0 based SDK libraries which can be used to build cross platform applications.

For details refer [Service Fabric 6.0 Release](https://blogs.msdn.microsoft.com/azureservicefabric/2017/09/25/service-fabric-6-0-release/)

[2017-10-03 14:58] #255 closed

[2017-10-03 14:58] #310 closed

[2017-10-03 15:01] AlanWarwick commented on #248
Hi Arikanderu,  I am sorry but I do not have the information on the specific update needed. Were you able to get the latest updates and successfully install the SDK ?  Thank you.

[2017-10-03 16:12] eliasnawfal opened #505 "ResourceOverrides switching HTTPS to HTTP fails"
ResourceOverrides gave us the ability to change protocol per environment.

`    <ResourceOverrides>
      <Endpoints>
        <Endpoint Name="ServiceEndpoint" Port="[PORT]" Protocol="[PROTOCOL]" Type="Input" />
      </Endpoints>
    </ResourceOverrides>`

In Dev environment, we want to use HTTP and on production, we want to use HTTPS. Setting the protocol to Http while

`    <Policies>
      <End

[2017-10-03 16:25] #441 closed

[2017-10-03 16:58] milvuko commented on #332
@TravisTroyer can you please verify that the service is exposing an endpoint?
For example, a stateless service should have  a non-trivial CreateServiceInstanceListeners method implementation.

Also, the following powershell command should return non-empty endpoint set:
Resolve-ServiceFabricService -PartitionKindSingleton -ServiceName fabric:/name_of_the_service

Output of the following command wou

[2017-10-03 17:25] TravisTroyer commented on #332
@milvuko I realized I was standing up my own ICommunicationListener implementation and returning it from the createCommunicationListener callback for the ServiceInstanceListener.  This was all to stand-up and self-host OWIN.

It all started working once I swapped out my ICommunicationListener implementation for the IServiceRemotingListener returned from ServiceRemotingExtensions.CreateServiceRemot

[2017-10-03 17:40] milvuko commented on #332
@TravisTroyer Thanks, custom ICommunicationListener is definitely supported. However, in order for meaningful endpoint to be exposed, you have to make sure that "+" in the URL is replaced by IP address of FQDN when ICommunicationListener.OpenAsync returns.
[code]

[2017-10-03 17:46] TravisTroyer commented on #332
@milvuko That definitely fixed my issue.  Thank you!

[2017-10-03 18:06] dotnetgator opened #506 "Possible issue/defect in update Durability level for node types"
I am trying to figure out how to upgrade a dev cluster created with a custom template and Durability Level set to Bronze for one of the secondary Node Types to Silver for that Node Type. The portal doesn't seem to have any provision for this (it seems to have the ability to set the cluster-wide Reliability tier on the Primary Node Type, but nowhere to manipulate Durability tiers.

No big deal - on

[2017-10-03 19:00] dotnetgator commented on #506
OK - I found the PowerShell reason in their repo - var vmss = GetVmss(this.NodeType);  SF clusters can be created with the underlying VMSS having a name that is different from the name of the NodeType (that's how mine was created, from a custom template.)  If it cannot find the VMSS, it generates an error "Can't find the node type".  A few lines later, it looks for the Node Type in the cluster, an

[2017-10-03 19:01] milvuko commented on #467
Hi @CodedBeard, it sounds like the configuration changed underneath you. Was there an upgrade/downgrade performed in those 30 minutes?

In traces, you should be able to see DnsService being created and deleted. Look for text:

[2017-10-03 19:29] samedder commented on #504
What version of Service Fabric runtime and sfctl are you using?

[2017-10-03 19:50] mani-ramaswamy commented on #503
We're working on making this available. Stay tuned.

[2017-10-03 20:37] appi101 commented on #415
Closing as there was no response

[2017-10-03 20:37] #415 closed

[2017-10-03 20:39] dotnetgator commented on #506
I have reported this issue in the PowerShell repository.  https://github.com/Azure/azure-powershell/issues/4708

[2017-10-03 20:39] #506 closed

[2017-10-03 22:57] NickDarvey opened #507 "CodePackageActivationContext disposed during replica change role"
We have a Service Fabric application and a stateful ASP.NET Core service that is crashing constantly because of a disposed CodePackageActivationContext.

We're using [SomethingSomethingConfig](https://github.com/NickDarvey/SomethingSomethingConfig) (which is based on [this Azure CAT article](https://blogs.msdn.microsoft.com/azurecat/2017/04/06/using-a-custom-service-fabric-configuration-provider-w

[2017-10-03 23:06] mani-ramaswamy commented on #495
Million containers ain't awesome enough, eh? :)  But yes, it had two parts and the latter focused on the data-aware part.   To answer Marcin's question, I don't think we'll expose anything below RelColl (the volume driver and the interfaces across other languages will build on this).

[2017-10-04 00:04] mkosieradzki commented on #495
Thanks Mani,

Of course it is an awesome achievement, but let's say that the data-aware part is a "bit" ;) more applicable at our scale :).

I love the idea of shims for most popular databases. SF will eventually become a Multi-model, synchronously replicated, in-proc, autonomous database - the holy grail of databases.

I suppose that the native API version of RelColl would be definitely good enou

[2017-10-04 05:05] jlim1973 opened #508 "Deploying a sample stateful service VS error"
Hi,

I have just setup my development environment for azure and trying to test and deploy a sample stateful service, but failed to deploy in VS - got error message "There were deployment errors. Continue?" - The PowerShell script failed to execute. Error logs and my environment details below. What could be causing this? any help to get me up and running with Azure would be appreciated. Thank you.

[2017-10-04 09:05] AsValeO opened #509 "Can't reach Reliable Service with WCF communication after publish to the Cloud"
Here is a simple Service Fabric stateless service with WCF communication and it's client - a console app. It works well on the local cluster, client gets responce from the service. But I don't know how to communicate with a service if I deploy it in the cloud. What exactly should I change in code /  to access it from console app?

**SF Stateless service with WCF communications:**

Contract:

[code

[2017-10-04 09:15] deepakjangid-MSFT commented on #397
Closing the issue of App failing due to missing Dll as that was due to wrong nuget in compilation.
Taking cluster creation issue via ARM template separately on e-mail.

[2017-10-04 09:15] #397 closed

[2017-10-04 09:45] novino commented on #353
We couldn't take it up during 1.2.0 CU released recently, planning to take it up in during POA 2.0 release.
For workaround please refer to [Han's Stackoverflow thread](https://stackoverflow.com/questions/45171682/patch-orchestration-application-issue-nodeagentsfutility-exe-crashing)

[2017-10-04 10:29] ThiemeNL commented on #412
Same issue here.
I added the netstandard nuget to the framework project, and I see that the netstandard dll is in my bin folder. But it is not copied to service fabric pkg folder. So I got the exception.

[2017-10-04 10:33] ThiemeNL commented on #427
Found the same issue here: https://github.com/Azure/service-fabric-issues/issues/412

Any update on this? Do I need to manually upgrade my csproj to the new format for my actors?

[2017-10-04 11:56] Abdruggi commented on #503
Awesome. Looking forward to it.

[2017-10-04 12:04] Abdruggi opened #510 "Issue with certificate management for containers (DataPackage)"
According to the documentation (https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-securing-containers) it should be possible to use datapackages to access certificates inside a container (>= Version 5.7). Unfortunately, the attributes are not part of the xsd and the validation fails. Is this a 6.0 feature?

[2017-10-04 12:50] mkosieradzki commented on #498
@AsValeO

Regarding design and microservices architecture you will definitely find your answers here:

https://mva.microsoft.com/en-us/training-courses/azure-service-fabric-patterns-and-practices-16925
and here:
https://www.youtube.com/watch?v=sXZvbqkPu14

Long story short: Service Fabric does not REQUIRE micro-services. Do micro-services only when you have a good reason. In the second movie Jeffr

[2017-10-04 15:34] yarlenvas opened #511 "Remote listener overrides KestrelCommunicationListener"
I have a service with 2 endpoints, one to remote communication and one to http request, but when I publish on my local 5 nodes cluster, I notice the remotelistener always takes the ServiceEndpoint and not the RpcEnpoint

` var instanceListeners = new List<ServiceInstanceListener>();

            var remoteListener = new ServiceInstanceListener((serviceContext) => this.CreateServiceRemotingListener

[2017-10-04 16:47] jricke commented on #444
Thanks @MikkelHegn, it seems to be working without compression.

If you could look at https://github.com/Microsoft/vsts-tasks/pull/5287 it would help speed up the build process when there are multiple applications being built in the same build template.

Closing this issue since the workaround appears to be working.

[2017-10-04 16:47] #444 closed

[2017-10-04 17:59] smartpcr commented on #500
is there ETA for this enhancement?

[2017-10-04 20:35] kavyako commented on #386
5.7 CU 5.7.221 is out, [here ](https://blogs.msdn.microsoft.com/azureservicefabric/2017/10/03/service-fabric-5-7-221-2-7-221-refresh-release-for-standalone-windows-and-net-sdk/) is the announcement.
Follow the [download link ](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation-for-windows-server) to get the new packages.

Thanks
Kavya

[2017-10-05 04:14] farukkhan commented on #505
Seems you have to update the SDK...https://github.com/Azure/service-fabric-issues/issues/447

[2017-10-05 04:18] nareshkhatri81 commented on #504
It seems we have latest version of Sfctrl installed which targets latest runtime only.
I looked into documentation and it seems there is way to install older version of stfctrl.
Earlier only command to install service fabric runtime was pip install -I sfctl. I guess documentation is updated now.
I am going to try that and see if that issue is resolved.

[2017-10-05 06:31] aelij commented on #345
@suchiagicha Thanks! I'm pretty sure we did upgrade the runtime on the build server (the dump was from my local machine) and we still experienced this issue. But as I said I'm no longer working on this project, so I can't test it. So I'm closing this issue for now. Will reopen if I encounter it again.

[2017-10-05 06:31] #345 closed

[2017-10-05 07:37] RaleS opened #512 "Manual to automatic upgrade configuration change triggered cluster downgrade"
We have followed the [Service Fabric release note](https://blogs.msdn.microsoft.com/azureservicefabric/2017/09/25/service-fabric-6-0-release/) and upgraded cluster to 6.0.211

Once cluster was at 6.0.211, we have sat the 'Fabric upgrade mode' to 'Automatic', and that change triggered a downgrade to 5.7.217

Is this expected behavior?

[2017-10-05 11:30] CodedBeard commented on #467
Hi @milvuko, are the traces in the azure diagnostic storage account, or are they recorded in the SVCFAB directory on the nodes? I'm probably just being blind, but can't find them currently.

[2017-10-05 12:23] juho-hanhimaki commented on #512
From user standpoint its hard to see how that could be expected.

[2017-10-05 12:55] nareshkhatri81 commented on #504
Moved back to older SDK of SF CLI and it worked. Thanks.

[2017-10-05 12:55] #504 closed

[2017-10-05 12:58] CodedBeard commented on #467
Hi @milvuko, I've managed to find the logs, and it appears that the cluster just randomly decided to delete it for no reason.
From the initial deployment logs
[code]

The DnsService can then be seen running fine for just over an hour, before it suddenly gets removed. The only thing I spotted in the logs, suggested it was removed as it wasn't being used? (21:41:35.716)

[code]

[2017-10-05 14:47] jjcollinge opened #513 "Linux cluster's Inbound NAT Rules use RDP port for SSH"
I'm sure this is a known issue but on a vanilla Linux SF cluster deployment - the default Inbound NAT Rules map RDP port (3389 + n) to SSH (22 + n). I appreciate this is a cosmetic issue but none the less it has caused customers of mine to attempt an RDP connection to the Linux nodes (facepalm). Also due to the lack of full VMSS portal support, you can not currently edit the NAT rules once provisi

[2017-10-05 15:42] zeodamian commented on #471
Thanks a lot for the reply. Yes, the settings.xml approach works absolutely fine.

[2017-10-05 15:42] #471 closed

[2017-10-05 15:45] zeodamian opened #514 "TargetReplicaSelector : 'RandomSecondaryReplica' not found when/after upgrading."
As soon as upgrade of the stateful service starts, all services that try to reach it gets this error:

`No endpoint found for the service '...' partition '..' that matches the specified TargetReplicaSelector : 'RandomSecondaryReplica' `

Additionally, this stays so, and only after restarting the nodes will it go away.

So, the rolling upgrade does not give the intended benefits of HA because of th

[2017-10-05 16:28] jricke opened #515 "V2 remoting serialization of Service Fabric types"
Getting the following error when using the default data contract provider:

Type 'Microsoft.ServiceFabric.Actors.Remoting.V2.ActorRemotingMessageHeaders' with data contract name 'ActorHeader:urn:actors' is not expected. Consider using a DataContractResolver if you are using DataContractSerializer or add any types not known statically to the list of known types - for example, by using the KnownType

[2017-10-05 16:36] jricke commented on #515
Similar issues:

https://github.com/Azure/service-fabric-issues/issues/497
https://github.com/Azure/service-fabric-issues/issues/502

[2017-10-05 17:35] milvuko commented on #467
Hi @CodedBeard, can you please share the resource ID and region of the cluster and we will look at the cluster from our side.

Thanks

[2017-10-05 18:05] oanapl commented on #469
@nareshkhatri81, any update here?
I recommend you upgrade to our latest SF version, 6.0 and sfctl 2.0. New sfctl provides upgrade for compose deployments too (make sure you update SF, as sfctl doesn't work against older SF versions).

sfctl compose --help
Group
    sfctl compose: Create, delete and manage Docker Compose applications.

Commands:
    create        : Creates a Service Fabric compose

[2017-10-05 18:20] alexwun commented on #280
Documentation has been updated

[2017-10-05 18:20] #280 closed

[2017-10-05 18:39] oanapl commented on #464
@PTC-JoshuaMatthews, I am not sure what configurations you used, but image store service must be enabled for testing these scenarios.

Here's how flow should look like:
- When you copy the application package, it will appear in ImageStoreShare folder.
- When you register the type in that application package, it will also appear in Store folder.
- When you create services, the application package w

[2017-10-05 19:54] suchiagicha commented on #515
@jricke
Are you using V2 stack both on client and service side. ?
Here are the steps to do it correctly
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-actors-platform#actor-using-remoting-v2-stack

Could you share the full stack trace for this error?

[2017-10-05 21:12] mathlesp opened #516 "Upgrading a stateful service with VisualStudio (F5) fail/hang on a 1 Node cluster"
Hello,

Environment:
- Development environment
- Visual Studio 2017 (15.3.5)
- Microsoft Azure Service Fabric **SDK - 2.8.11**

Steps:
- Using the "Service Fabric Local Cluster Manager" system tray icon, make sure the cluster is in 1-Node mode (**Switch Cluster Mode->1 Node**)
- In VisualStudio, New Project->Cloud->Service Fabric Application
- On the New Service Fabric Service page, select "**Stat

[2017-10-05 21:30] jricke commented on #515
@suchiagicha
I did not see the documentation for actors using the new V2 remoting. The documentation i was using is at https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/service-fabric/service-fabric-reliable-services-communication-remoting.md and it contains nothing about actors.

I'll try the attributes listed in the actor documentation and post a stack trace if it doesn't work.

T

[2017-10-05 22:09] ericmaia commented on #315
I have an issue that may be related. I am getting the "failed to download" error when I try to deploy a SF Container project to my local cluster. I have noticed that when the local cluster starts up, the Docker engine dies. If Service Fabric is trying to use Docker to pull and install the image, then it would fail. I have already posted an issue in Docker For Windows (https://github.com/docker/for

[2017-10-06 04:28] kuncevic commented on #483
Same issue here. Running Windows 7.

![explorer_2017-10-06_13-34-252](https://user-images.githubusercontent.com/1283734/31261831-79c5eaea-aaa2-11e7-820a-02d37343826e.png)

Tried everything like uninstalling the old SDK, cleaning up the Web Platform installer folder, reinstalling Web Platfrom, rebooting, etc,  got the same result running `sc.exe stop KtlLogger` and `sc.exe stop LeasLayr` as @JefSch

[2017-10-06 05:53] MikkelHegn commented on #483
@taxiatms @maburlik Can you please take a look at the above two reports?

[2017-10-06 06:42] elscript commented on #386
Thanks, guys! The problem is over now

[2017-10-06 07:58] CodedBeard commented on #467
Hi @milvuko, region is north Europe, the resource id is: /subscriptions/bc8f675b-4969-4f6f-8184-0e855165021f/resourcegroups/Service-Fabric-Cluster-PRO-001/providers/Microsoft.ServiceFabric/clusters/Service-Fabric-Cluster-PRO-001

[2017-10-06 11:15] eliasnawfal commented on #505
@farukkhan I already updated SDK and ResourceOverrides is working, but when you have a CertBinding to a HTTPS  Endpoint and you want to change it to HTTP using ResourceOverrides deployment fails.

[2017-10-06 12:52] gnegno84 commented on #412
Same issue for me. I've got lot of services and all of them are not working.
Expanding the services in the service fabric project shows allo project icons with a yellow triangle.
I'am also having issues with System.Net.Http and System.Security.Cryptography.X509Certificates libraries in services.
Can't understand why

[2017-10-06 13:28] rokobasilisk commented on #64
@MikkelHegn has there been any update on this?

[2017-10-06 14:23] ChristianMes commented on #128
So how do you support scenarios with per-developer Local.1Node.xml profiles? Our approach was to remove them with .gitignore from the build source **because they are not needed for the build**.  I would compare it with a build dependency a configuration file.
IMHO this mixes concerns.
What is your suggestion for different parameter files for development?

[2017-10-06 17:09] taxiatms commented on #483
The runtime installation will fail if the installation path, typically " C:\Program Files\Microsoft Service Fabric\" is occupied by some other apps.

[2017-10-06 19:13] MikkelHegn commented on #483
@taxiatms @dbreshears Does this directory have anything to do with Service Fabric? c:\Program Files\Microsoft SDKs\Azure\Emulator\devfabric

[2017-10-06 19:54] taxiatms commented on #483
@MikkelHegn  I'm not sure about this. maybe @dbreshears can answer that

[2017-10-06 21:02] milvuko commented on #467
The cluster got upgraded to version 6.0.211.9494 on  Mon, 02 Oct 2017 20:45:28 GMT which matches with the time in the traces. DnsService got disabled by the upgrade, it happened due to a bug in the upgrade template generation path. We are looking into it.
In the meantime, the workaround is to manually enable the DnsService on the 6.0 cluster by performing configuration only upgrade.

[2017-10-09 00:16] rajaprad opened #517 "Unable to connect to SF Cluster after certificate swap: FABRIC_E_SERVER_AUTHENTICATION_FAILED: CertificateNotMatched"
Am trying to swap the server certificate using the link [https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-security-update-certs-azure](url)

**Scenario:**

1.Cluster has only primary Certificate, say CERT-PRI
2. Am trying to add secondary Certificate CERT-SEC and swap at the same time.
3. The deployment succeeds and the swap is visible from the portal.
4. At this point

[2017-10-09 01:54] kavyako commented on #429
Thanks for getting back! Closing the issue now.

[2017-10-09 01:54] #429 closed

[2017-10-09 01:56] kavyako commented on #460
@MikkelHegn Do you have any suggestions?

[2017-10-09 03:34] dbreshears commented on #483
@MikkelHegn,  @taxiatms,  no this folder is unrelated to Service Fabric and is the compute emulator from the Azure SDK.

[2017-10-09 07:36] CodedBeard commented on #467
Thanks @milvuko, that's a little odd though, as the cluster was deployed at the latest version, which I thought was 6.0.211.9494? so not sure why it would have decided to run an upgrade over an hour after coming online.

Are there PowerShell commands for a config only upgrade? I tried re-deploying the arm template, and that just complains due to various resources already being configured.

[2017-10-09 09:15] fvenezia commented on #474
@mattrowmsft  You're right! your comment save my day, I couldn't figure out why my ServiceEventSource class didn't log anything.
All public methods on this class must use primitive type parameters (and few other types like Datetime and Guid) or be marked [NonEvent].
Anyone should read comments in the Events region of ServiceEventSource file in a Service Fabric  Project template.

[2017-10-09 13:17] kavyako commented on #183
Hey didn't hear back from you. If you or anyone else is still experiencing this issue, then please reopen this issue or create a new one.

[2017-10-09 13:17] #183 closed

[2017-10-09 14:01] dealboy commented on #492
Yes, applied it and now listens to https!
thanks a lot man!

[2017-10-09 14:01] #492 closed

[2017-10-09 19:04] starkna commented on #512
We experienced the same behavior described by RaleS on our cluster today.

[2017-10-09 19:20] milvuko commented on #467
Unless the cluster version is explicitly set, the cluster is deployed at the default version which can be different from the latest available version.
Instructions how to modify cluster settings can be found at:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-fabric-settings

To enable DnsService, please add the DnsService section to fabricSettings:
[code]

[2017-10-09 20:19] vturecek commented on #511
The extension method [this.CreateServiceRemotingListener(context)](https://github.com/Azure/service-fabric-services-and-actors-dotnet/blob/develop/src/Microsoft.ServiceFabric.Services.Remoting/Runtime/ServiceRemotingExtensions.cs) is a convenience method that uses default settings for remoting, including an endpoint named "ServiceEndpoint" from ServiceManifest.xml. The "RpcEnpoint" parameter you'r

[2017-10-09 20:21] vturecek commented on #514
What are your service using to communicate with this stateful service? Reverse Proxy? Remoting?

[2017-10-09 22:22] francescocristallo commented on #496
I have the same problem, v6.0.211 runtime SDK on Windows 10 Pro, resetting the cluster have no effect on the DNS chain visible using ipconfig/all command.

During Debug, when connecting to a stateful service from a stateless one using an IService interface, an exception is raised:

"Client is trying to connect to invalid address http://localhost:58532/...."

[2017-10-09 22:39] milvuko commented on #496
Hi @francescocristallo, you raised 2 unrelated issues: DnsService warning and IService communication issue. Communication through IService is not dependent on DnsService.
It would be helpful if you could share the traces that have type ConfigureNodeForDnsService in order to figure out why OneBox restart is not mitigating the warning issue.

[2017-10-09 22:39] dbreshears commented on #128
We have a bug logged on this and will fix in an upcoming release.  See #482 for potential workarounds

[2017-10-10 09:56] AndrewJWaite opened #518 "Questions - Service Fabric Deployments"
During the recent Service Fabric Q&A session, I asked how to deploy services independently which are part of the same solution and Service Fabric application (meaning all services are built and versioned at the same time) and deployed using VSTS. It was suggested I post a question here.

In addition, another customer asked about deployment best practices. The reply was this is being covered at MS

[2017-10-10 15:21] mani-ramaswamy commented on #513
Thanks - that's a fair comment. We tried to keep it the same as Windows, but should be able to adjust this.

[2017-10-10 16:17] vaishnavk commented on #517
@rajaprad : The certificate with the farthest expiry date will be picked as the server certificate and presented to the client. Typically you should be set both the primary and secondary certificate thumbprints in the client allowed list since during adding/removing certs, depending on the node you connect to either one of the certs could be presented.

[2017-10-10 16:25] vaishnavk commented on #512
Currently, version 5.7.217 is the goal version for all clusters in azure. All clusters in Automatic mode tend to upgrade towards the goal version. The only exception is for new clusters which will never be downgraded.

You can set the cluster to manual mode and upgrade it to any valid version. However, when you are setting the upgrade mode back to Automatic, you are asking Azure to take control of

[2017-10-10 17:49] RaleS commented on #512
@vaishnavk Any chance you can indicate current goal version on the 'Fabric upgrades' blade?

[2017-10-10 17:53] vaishnavk commented on #512
@RaleS : We are having internal discussions on how we can improve on this experience so that there are no surprises.

[2017-10-10 18:15] taxiatms commented on #508
@jlim1973  Are you able to start a cluster with the tray icon? you may try to reset the cluster first.

[2017-10-10 18:23] rakshitatandon commented on #510
Yes, this feature was added in 6.0.

[2017-10-10 18:48] kensykora opened #519 "FabricDCA Fails to create container in blob storage, Exception occured while creating an object of type FabricDCA.AzureBlobEtwCsvUploader"
As of the last few days I've started running into an issue when creating new service fabric cluster deployments to Azure. The nodes when they start up report unhealthy due to the fact that they cannot send logs to Azure storage. I'm fairly certain as early as last week I was not encountering this issue.

Service Fabric Version: `6.0.211.9494`

Please let me know if this is an inappropriate place f

[2017-10-10 19:17] harahma commented on #507
Hello @NickDarvey ,

Could you please share the code of your service that is using your utility? Also if you could share a quick sample that can reproduce this issue locally, that will help in investigating it quickly.

Thanks,
Hasibur

[2017-10-10 19:30] SeanFeldman commented on #66
Not being able to `dotnet` our solution has bitten me as well.
Fails on `dotnet restore` due to .sfproj incompatibility.

[2017-10-10 20:54] harahma commented on #449
@Marusyk Are you hitting this issue when create a fresh one-node cluster and try to debug the app? Can you do a fresh repro and share the SF traces from your local cluster? Please make sure to stop the cluster before copying the traces (to ensure traces are flushed to the disk.)

[2017-10-10 21:50] mani-ramaswamy commented on #510
Abdruggi - please let us know by reopening the issue if you are still hitting the problem. Closing this for now.

[2017-10-10 21:50] #510 closed

[2017-10-10 22:23] jlim1973 commented on #508
@taxiatms Thank you for your reply. No, selecting Manage local cluster results in an error message "Failed to open local cluster explorer. Please restart the local cluster manager and try again.". I have tried reset, and also remove local cluster and build again but no luck.

[2017-10-10 22:48] taxiatms commented on #508
@jlim1973  It might be some legacy files from previous installation. Are you able to uninstall sdk/runtime and install it again? Any error with that?

[2017-10-10 22:55] jlim1973 commented on #508
I did tried uninstall and reinstall runtime and sdk. But still same issue. I might have to try again.

Joseph Lim

A Level 10, 500 Collins Street, Melbourne, VIC 3000
T +61396130220<tel:+61396130220>
W www.pa.com.au<http://www.pa.com.au> |

[cid:image001.png@01D34277.06BC9500]<https://www.linkedin.com/company/15711?trk=tyah> [cid:image007.jpg@01D34277.06C17700] <https://twitter.com/ProfessionalAdv