[2018-03-14 09:33] #785 closed

[2018-03-14 10:04] murrays commented on #257
Hi Ravipal.

Much appreciated that flag seems to work a treat.  Wish I had known about this yesterday!!  Personally as we all move towards a 'standard/core' world I would have thought this should be the default.

Many thanks though I will be updating our builds to use this flag.

[2018-03-14 10:47] hanxinimm commented on #911
@ashishnegi

[FabActUtilTemp.zip](https://github.com/Azure/service-fabric-issues/files/1810637/FabActUtilTemp.zip)

[2018-03-14 11:29] guibirow commented on #915
it is likely that the SF is trying to put a secondary replica in a node that already contains a primary, and it is 'forbidden',
You might have placement constraints that block your service being initiated in a different node(worker==true) or other nodes are rejecting the service type you are trying to deploy(as suggest in the message).
Did you try increasing the number of nodes or check if there a

[2018-03-14 11:31] senj commented on #917
I see the same
![image](https://user-images.githubusercontent.com/5556013/37399967-991891f0-2783-11e8-8470-759635cb94b7.png)

[2018-03-14 11:33] ashishnegi commented on #911
@hanxinimm Can you try building after removing any other sdk from `C:\Program Files\dotnet\sdk` except 2.0.3 or later (latest is best) ?

[2018-03-14 12:00] VladyslavPyshnenko commented on #883
@dkkapur We are not listening Operational Channel, so I can't say.

[2018-03-14 13:29] OlegKarasik opened #918 "ServicePartitionResolver hangs when tries to resolve service in error state"
The following code with hang if ```fabric:/MyApp/MySrv``` is currently in error state (In my case service was existing all the time because of exception).

The code was executed from ASP.NET Core middleware handler.

[code]

[2018-03-14 14:04] igorkass commented on #138
@sahebg Hello Saheb!

I've tried to apply new settings according to this guide:

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-fabric-settings

Sadly, a new section just disappears right after I initiate the PUT request. Please note that the section KtlLogger is not available for editing through the portal:

![image](https://user-images.githubusercontent.com/10614474

[2018-03-14 15:48] suchiagicha commented on #497
@Marusyk
can you repro this in sample and share with us?

[2018-03-14 16:26] i-e-b commented on #95
This seems to be related to the still open https://github.com/Azure/service-fabric-issues/issues/893

[2018-03-14 16:35] i-e-b commented on #893
I had the same issue in UK West and UK south, where a large number of size were shown, all "Unavailable".
Switched to West Europe, and the list was then only 3 options, all of which were enabled.

[2018-03-14 16:49] sathiathirumal opened #919 "Switching LocalCluster from 5-node to 1-node fails - "access denied deleting fabric.exe""
Service Fabric Runtime 6.1.467
Service Fabric SDK 3.0.467

Node_0\fabric.exe and Node_3\Fabric.exe are still running per process explorer. I am unable to terminate them manually ("access denied").

ETL logs show:

ThreadID="21,644" id="" type="FabricDeployer" message=**"SafeDeleteDirectory failed deleting file: C:\SfDevCluster\Data\_Node_0\Fabric\Fabric.Code\Fabric.exe**. Exception: System.Unautho

[2018-03-14 17:59] hbailles3 commented on #516
@andersosthus  OK, so I found out I put the IsSingletonReplicaMoveAllowedDuringUpgrade in the wrong spot in the file. I missed that it was in the "FabricSettings" section.  So, I fixed that, did a reset, did an initial 1 node deploy, stopped debugging, made a change to one of the files, updated the manifest version, then ran debug again.  Took a little bit, but the upgrade did finish. :)  Thanks!

[2018-03-14 18:09] preethasubbarayalu commented on #909
@knowhoper, Did you check the health of the replicas in the case where it failed? You could run into this exception if for some reason secondary replicas are slow.

[2018-03-14 18:40] andradf commented on #332
For anyone still having similar issues, make sure your Service DNS Name has at least one period in it. service1 won't work as opposed to service1.app1 which will.

[2018-03-14 19:23] oanapl commented on #914
The work is in our backlog. You can execute [the C# APIs](https://docs.microsoft.com/dotnet/api/system.fabric.fabricclient.propertymanagementclient?view=azure-dotnet) in Powershell for now.

[2018-03-14 19:27] #769 closed

[2018-03-14 19:35] oanapl commented on #466
In our latest releases, we have improved many scenarios to add information about what really fails. We will continue to make improvements case by case. Closing the issue.
If you encounter cases where the health report message is not helpful, please open new issues so we can address them appropriately.

[2018-03-14 19:35] #466 closed

[2018-03-14 20:06] danrozenberg commented on #813
I was afflicted by this issue as well. Removing the local cluster makes deployment work again.

[2018-03-14 20:20] VipulM-MSFT commented on #590
@rasmus-s - You can update SDK without upgrading the remoting version. They are independent. You definitely should upgrade to the latest SDK but do not switch the remoting protocol version. We are not going to remove support for the V1 remoting in the new SDK until all issues are resolved.

[2018-03-14 20:30] VipulM-MSFT commented on #590
The current thinking is change where you can workaround this in your code without having to build and then a fix where we introduce what we call "Interface Compatibility" mode to V2 remoting. This will ensure that interfaces that were working in V1 will continue to work. As you can imagine this is a complex fix, we are done with the design how we would make the changes and have resources allocated

[2018-03-14 21:58] rufio620 opened #920 "New csproj format does not support default configuration preventing building of sfproj"
I am running into an issue where I cannot build the sfproj via msbuild when including a ASP.NET core service. Each project defines only platform x64 but when packaging via msbuild I get the following errors. This is due to the fact that the new csproj does not seem to have way of defining the default configuration like the older format did. This is preventing our build automation from working in s

[2018-03-14 22:31] knowhoper commented on #909
@preethasubbarayalu  Yes, i checked the health. The deployment is fine and all green, until it is invoked then it times out and displays health errors in the management portal.

[2018-03-14 22:55] francescocristallo commented on #915
The nodes are all up, the Cluster was brand new. There is a placement constraint to place the Stateful services on the Node type "Worker" that have Silver reliability and 5 machines.
With 50 or less works, as soon as I increase the number of partitions goes down completely with quorum loss on all partitions.
Seems like a bug or limitation to me.
Maybe for more than 50 partitions I need more than 5

[2018-03-14 23:05] rchien opened #921 "Problem Serializing System.ArgumentException using V2 Service Remoting"
My service topology is pretty simple. I have a Asp.Net Core calling stateless Svc via service remoting V2. The caller (in this case asp.net) catches `AggregateException`. I fully expect to see the original exception within but to my surprise I see `ServiceException` with serialization error. I can't think of any reason why I would have serialization error running the code locally.

I've double che

[2018-03-14 23:44] francescocristallo commented on #840
This just happened to me updating to the new 3.0.472.
I had to uninstall all the packages and reinstall them.

These are all the updates.
<img width="1039" alt="capture" src="https://user-images.githubusercontent.com/9793825/37436650-e7109e4c-27b6-11e8-8510-9401f9beaf7d.PNG">

The order for the update is important.

1) Microsoft.Service Fabric updates correctly.
2) Microsoft.ServiceFabric.Data upd

[2018-03-14 23:59] dkkapur commented on #883
@VladyslavPyshnenko regardless, you seem to be getting actor events from WAD, so looks like it should be fine!

[2018-03-15 00:23] rufio620 commented on #920
This appears to be related to this issue https://github.com/aspnet/Home/issues/1804

[2018-03-15 00:54] rufio620 commented on #920
Also appears to be related to this issue https://github.com/Azure/service-fabric-issues/issues/64

This issue was closed but was never really addressed. The suggested work around to add the use "ShouldUnsetParentConfigurationAndPlatform=true" does not appear to work anymore.

[2018-03-15 01:30] hanxinimm commented on #911
@ashishnegi
 it still does not work

[2018-03-15 01:51] dbreshears commented on #757
@Zonciu,   support for this was released recently in VS2017 15.6 release

[2018-03-15 01:51] #757 closed

[2018-03-15 01:54] rufio620 commented on #817
I am experiencing this issue as well. I have opened a related issue at https://github.com/Azure/service-fabric-issues/issues/920

The issue appears to stem from the new csproj format not having a way to set the default platform. All of my projects have a single x64 platform target but when building the sfproj via msbuild it seems to disregard the supplied platform and just default to AnyCpu.

[2018-03-15 01:56] dbreshears commented on #753
@silvioboehme ,  can you try 1.6.5 package,  we fixed some regressions in packaging that might address this issue.

[2018-03-15 02:09] ravipal commented on #920
@rufio620, can you please try 1.6.5 package, we fixed a regression in packaging that might address this issue.

[2018-03-15 02:10] dbreshears commented on #701
@akalcik, VS2017 15.6 contains our latest tooling, re-open if you are still experiencing these locking issues

[2018-03-15 02:10] #701 closed

[2018-03-15 02:12] dbreshears commented on #699
Latest version of the tooling is in VS2017 15.6 update.    Believe this is fixed now, re-open if still seeing this

[2018-03-15 02:12] #699 closed

[2018-03-15 02:43] rufio620 commented on #920
I can confirm I am using 1.6.5 and still facing the issue.

[2018-03-15 02:59] DaemonTrey commented on #907
Changing the Application Package path didn't pan out.

I did have success after identifying that we erroneously had our deploy step as part of our build.

Revisiting and following this [tutorial](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-deploy-app-with-cicd-vsts#configure-continuous-delivery-with-vsts) had us create the deploy as a release step and everything s

[2018-03-15 02:59] #907 closed

[2018-03-15 04:06] ashishnegi commented on #911
@hanxinimm we are looking into this issue. Will revert back once we have a solution.

[2018-03-15 05:26] ashishnegi commented on #911
@hanxinimm I tried to repro this locally. My box only has runtime `2.0.3` under `C:\Program Files\dotnet\shared\Microsoft.NETCore.App`. I have folders `2.0.3` and `NuGetFallbackFolder` under `C:\Program Files\dotnet\sdk`. The issue does not repro.

Can you follow these 3 steps one by one ?

1. This one is simplest and fastest. Add a global.json file in your `<project-root-directory>` with content

[2018-03-15 06:27] hanxinimm commented on #911
[log.txt](https://github.com/Azure/service-fabric-issues/files/1814176/log.txt)

[2018-03-15 07:34] francescocristallo commented on #915
So I tried 100 partitions on 10 VM and it worked. As soon as I deploy a Stateful Service with more than 100 on a 10VM or 50 on 5 VM the entire service is in quorum loss.
Any idea why this is happening? Is this a known limitation of Service Fabric?

[2018-03-15 07:35] adityapkanthe commented on #503
I am trying to integrate docker healthcheck with service fabric, I want service fabric to restart the container when it turns unhealthy, but this is not working for me. The container was unhealthy for more than 50 minutes but it never restarted and I don't see any unhealthy events in Health Events section in service fabric explorer.

<img width="910" alt="unhealthy_container" src="https://user-ima

[2018-03-15 07:41] adityapkanthe opened #922 "Integration with docker health check not working, Service fabric does not show unhealthy events in explorer and container never restarts if unhealthy."
I am trying to integrate docker healthcheck with service fabric, I want service fabric to restart the container when it turns unhealthy, but this is not working for me. The container was unhealthy for more than 50 minutes but it never restarted and I don't see any unhealthy events in Health Events section in service fabric explorer.

<img width="910" alt="unhealthy_container" src="https://user-ima

[2018-03-15 08:02] rishirsinha commented on #877
@HaakonL

First of all my apologies for sounding insincere. The limited point I was making was you should scale up your VMSS as soon as possible to avoid more issues. I hope the issue resolved  after scaling out the VM.

I also apologize for the more superficial response. This is the sequence of events as I see it.

1.  You had nodes getting deactivated.
2. Since the nodes were not getting deactiv

[2018-03-15 09:03] ashishnegi commented on #911
Your `System.Private.CoreLib.dll` is still picked up from : `C:\Users\HanXin\.nuget\packages\runtime.win-x64.microsoft.netcore.app\2.0.0\runtimes\win-x64\native\System.Private.CoreLib.dll;`
`2.0.0` in above path is the problem.

@hanxinimm Can you add `<RuntimeFrameworkVersion>2.0.3</RuntimeFrameworkVersion>` to your csproj ? This should change above paths to 2.0.3

Also, what is your machine cult

[2018-03-15 09:34] hanxinimm commented on #911
@ashishnegi
my machine culture  ZH-CN

![image](https://user-images.githubusercontent.com/13499426/37454709-40607e4e-2876-11e8-853a-1eb0d5116034.png)

new error:

[log.txt](https://github.com/Azure/service-fabric-issues/files/1814735/log.txt)

[2018-03-15 09:43] ashishnegi commented on #911
Phew!!! new error.. some progress :)

You are now getting coding errors :
[code]

Q1. Was this error not visible in VS ?

Potential solution :
If you derive from IActorService , you need to implement two [interfaces ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicefabric.actors.iactorevents?view=azure-dotnet):
[code]

Otherwise, derive from [IActor.](https://docs.microsoft.com/en-us/

[2018-03-15 09:51] hanxinimm commented on #911
@ashishnegi

cannot inherit interface Microsoft.ServiceFabric.Services.Remoting.IService

![image](https://user-images.githubusercontent.com/13499426/37455694-a6f54322-2878-11e8-922c-dffb80108337.png)
![image](https://user-images.githubusercontent.com/13499426/37455743-c67848b6-2878-11e8-89c3-5a9dce89171b.png)
![image](https://user-images.githubusercontent.com/13499426/37455758-d181839e-2878-11e8-

[2018-03-15 09:55] ashishnegi commented on #911
@hanxinimm  You can now remove `COREHOST_TRACE=1` from the command you have. This will reduce the amount of logs present.
I think the bug we are tracking is solved for you now. This is now some coding error. Please open a separate bug if our documentation is not clear.
Mixing multiple bugs in open will confuse future OPs when they look for solution.
Closing this issue.

[2018-03-15 09:55] #911 closed

[2018-03-15 10:57] fazilmajeed opened #923 "Not able to Up and run the microservice with WebListener"
Hi ,
When trying to up and run the microservice in service fabrics with WebListener. I am getting an exception

: 'Method 'StartAsync' in type 'Microsoft.AspNetCore.Server.WebListener.MessagePump' from assembly 'Microsoft.AspNetCore.Server.WebListener, Version=1.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' does not have an implementation.'

Why I used WebListener is, I need to use HTTP

[2018-03-15 12:40] Zonciu commented on #757
@dbreshears Thanks! I saw it.

[2018-03-15 13:42] vi1996ash opened #924 "Logging and monitoring"
I want to log my message using Ilogger and see my message on OMS. How can i do it?

[2018-03-15 16:06] jayMax commented on #371
Hi! I have the same issue.
My version is 6.1.467.9494

[2018-03-15 16:20] hengyiliu commented on #392
Same problem here. I added the secondary cert using resource template successfully. The Azure portal showed there are two certificates. Then I clicked Swap and it failed after two hours with the error "cluster provisioning failed". It also caused one node down. The error message in the Explorer:
Code: FABRIC_E_OBJECT_CLOSED
Message: The object is closed.

This is Azure Service Fabric on Linux. Ver

[2018-03-15 17:11] ravipal commented on #920
@rufio620, Is it possible to share a sample repro project?

[2018-03-15 17:29] tugup commented on #371
@jayMax  Are you having this problem consistently? DO you see all the variables are missing from the environment?

[2018-03-15 18:03] kavyako commented on #845
Since the diagnostic message says connection error, this implies service endpoint was not up. Please reopen the issue if you believe the service endpoint was up (and listening at the specified ip:port path) but the reverse proxy still failed to forward the request to the service.

[2018-03-15 18:03] #845 closed

[2018-03-15 18:35] harahma commented on #922
@adityapkanthe Could you please share the Service Fabric traces from your one node cluster?

[2018-03-15 20:00] adityapkanthe commented on #922
@harahma I was troubleshooting this issue further,

Firstly I was using AWS instance "Windows 2016 with containers" which included pre installed docker with following version.

 Client:
 Version:      1.12.2-cs2-ws-beta
 API version:  1.25
 Go version:   go1.7.1
 Git commit:   050b611
 Built:        Tue Oct 11 02:35:40 2016
 OS/Arch:      windows/amd64

Server:
 Version:      1.12.2-cs2-ws-beta
 A

[2018-03-15 22:10] harahma commented on #922
@adityapkanthe Glad to see you got it working. We will update the documentation to capture minimum required docker version.

[2018-03-15 22:10] #922 closed

[2018-03-15 23:28] vturecek commented on #918
@oanapl I wouldn't expect name resolution to have anything to do with the health state of the target service..

[2018-03-15 23:46] oanapl commented on #918
No, there is no direct correlation between health state and resolution. But the fact that the service keeps crashing may have something to do with the failure :)
@BharatNarasimman , can you take a look?

[2018-03-16 00:21] rishirsinha commented on #919
Can you check if reboot helps?

[2018-03-16 00:22] sathiathirumal commented on #919
Rebooting does help. I also found out that I have better success if I first “Stop Local cluster” and then attempt to switch it. Perhaps this is what the switching process should do automatically?

Sent from Mail for Windows 10

From: Rishi Sinha
Sent: Thursday, March 15, 2018 5:21 PM
To: Azure/service-fabric-issues
Cc: Sat Thiru; Author
Subject: Re: [Azure/service-fabric-issues] Switching LocalClu

[2018-03-16 02:46] xunlu commented on #915
There is no such limitation on service fabric side.  You should try to first run N instances of your service on a single machine to see how many you can run.  It could be running out of memory for example or run into some other system resource limitation from OS.

[2018-03-16 05:37] qrli opened #925 "Question: Can a single SF cluster have both Windows and Linux VMs?"
Is it a supported scenario that a single Service Fabric cluster has multiple node types, while one using Windows OS image and another using Linux OS image?

[2018-03-16 06:13] kavyako commented on #871
Closing the issue since this is unlikely to be a reverse proxy issue. Please follow the diagnostics documentation for troubleshooting and reopen if you have any more concerns.

[2018-03-16 06:13] #871 closed

[2018-03-16 06:17] kavyako commented on #868
@rikbosch: Am closing this issue. Let us use #113 for tracking the X-Forwarded-* header handling by the reverse proxy.

[2018-03-16 06:17] #868 closed

[2018-03-16 06:20] kavyako commented on #827
As of today, the reverse proxy does not provide support for HTTP/2.

[2018-03-16 06:28] kavyako commented on #421
@alecor191 Looks like AppGateway team does not have a public github forum. Their suggestion is to open a feature request via tam/csa etc or open a uservoice forum request for your tracking purposes.

[2018-03-16 06:33] kavyako commented on #694
@alecor191 We have not seen this before. The error code in these messages correspond to OPERATION_CANCELLED.
Will you be able to share a simple repro? client and service side code for us to troubleshoot the warnings.

[2018-03-16 06:43] kavyako commented on #339
We will not be changing this behavior in the immediate future.
Closing the issue.

[2018-03-16 06:43] #339 closed

[2018-03-16 06:53] kavyako commented on #330
@senj The 256 ports seems very less.

Usually the output of "netsh int ipv4 show dynamicport tcp" on Windows 7 + is
Protocol tcp Dynamic Port Range
---------------------------------
Start Port      : 49152
Number of Ports : 16384
-----
To comply with Internet Assigned Numbers Authority (IANA) recommendations, Microsoft has increased the dynamic client port range for outgoing connections in Windows

[2018-03-16 06:53] #330 closed

[2018-03-16 07:27] dkkapur commented on #924
EventFlow should be able to help here: https://github.com/Azure/diagnostics-eventflow.
Use ILogger as your input, and OMS as your output.

[2018-03-16 07:28] OlegKarasik commented on #918
@BharatNarasimman

Probably this could be important. The service ``` fabric:/MyApp/MySrv ``` was never started successfully.

The process was something like:
1. Deploy service ``` fabric:/MyApp/MySrv ``` (the deployment ended - type was registered etc.) but the service was all the time failing.
2. Deploy service with the above code.

[2018-03-16 08:49] senj commented on #330
Yea sorry, we raised the number to the one you suggested and never had problems again

[2018-03-16 09:18] jayMax commented on #371
@tugup I have consistently the same problem.
I have one environment variable and 25 services where this variable should be overridden.
After deploy to cluster I see that manifest files of all services does not contains the variable value.
But the packages files of all 25 services contains the overridden value.

[2018-03-16 09:40] francescocristallo commented on #877
@HaakonL
I deleted the clusters creating another one and I'm trying to limit the autoscale since every other day the cluster become stuck and I have to create another new. I'll send you the info as soon as it happens again.

Basically while autoscaling (especially down) one or two nodes become stuck and the entire scale system goes crazy, creating and deleting machines that never go up but are cou

[2018-03-16 09:41] Mardoxx commented on #371
@mani-ramaswamy still an issue -- I don't use SF any more however.

@jayMax as a potential workaround you could try with a startup script which sets env vars to appropriate values from SF manifests. Dunno if this would work.

Not sure about how you're using it but.. Thinking about it I think I was abusing env vars a bit, when really values from a config file would be more appropriate. If you requi

[2018-03-16 12:50] sshumakov commented on #921
It can happen if any exception that is thrown by any library/.net framework is not serializable. This answer has good example of exception which is serializable https://stackoverflow.com/questions/94488/what-is-the-correct-way-to-make-a-custom-net-exception-serializable.

In remoting v2, you had to catch those manually to prevent them popping up with "can't deserialize error". Not sure what is the

[2018-03-16 13:39] julioas09 commented on #234
I would also need to be able to set the hostname of the container on deployment. This lack is quite frustrating for some applications.

[2018-03-16 15:30] ravipal commented on #857
1.6.5 version of nuget package has the fix. @NNara if you see this issue after upgrading to 1.6.5 nuget package please reopen this issue.

[2018-03-16 15:30] #857 closed

[2018-03-16 15:44] dikoga commented on #752
I am having the same exactly issue running on a Windows 2016 Datacenter.

![image](https://user-images.githubusercontent.com/7737190/37530183-5fe36d5a-290f-11e8-9d09-706024993ddb.png)

[2018-03-16 15:59] suchiagicha commented on #918
@OlegKarasik
Resolve method retries on all transient exceptions. For cases where you want to limit the max execution time of this method, you should create a cancelation token.
https://msdn.microsoft.com/en-us/library/system.threading.cancellationtoken(v=vs.110).aspx

[2018-03-16 16:10] suchiagicha commented on #921
@rchien
Which .net framework version you are using for service project?

[2018-03-16 16:14] dbreshears commented on #724
@ivanhernandez,  I wasn't able to reproduce this.  Are you still having issues or did you get them resolved?

[2018-03-16 16:23] rchien commented on #921
@suchiagicha Both projects use `.Net Core 2.0`. Caller is Asp.Net Core 2.0 and callee is Stateless Service.

[2018-03-16 17:36] xela30 opened #926 "Reverse Proxy fails to respond"
On-Premise (version 6.1.456.9494)
OS: Windows Server 2016

Here is corresponding warning events:

LogName=Microsoft-ServiceFabric/Admin
SourceName=Microsoft-Service Fabric
EventCode=51502
EventType=3
Type=Warning
User=NOT_TRANSLATED
Sid=S-1-5-20
SidType=0
TaskCategory=ReverseProxy
OpCode=Info
RecordNumber=2134885
Keywords=Default
Message=d299bf2b-a64b-4c96-bcb3-e16ab2fa5f31 HandlerAsyncOperation E

[2018-03-16 17:56] suhuruli commented on #878
@donykyyenko can you confirm the fix?

[2018-03-16 18:27] guibirow commented on #776
You can if you don't execute the application as the main entry point, instead, you should execute from a batch file, something like this will work:

In your **ServiceManifest.xml**:
[code]

On the same folder (code) of your node.exe, you create the start.bat file with following contents:

[code]

you should have the port assigned to your service on the **PORT** environment variable.

[2018-03-16 18:35] dikoga commented on #752
Hi @mani-ramaswamy , thank for you reply.

I have this configured now and I am getting the error bellow.

  <ServiceManifestImport>
    <ServiceManifestRef ServiceManifestName="Guest_Container1Pkg" ServiceManifestVersion="1.0.0" />
    <ConfigOverrides />
    <Policies>
      <ContainerHostPolicies CodePackageRef="Code">
        <RepositoryCredentials AccountName="digitalxpdev" Password="7Ps9TCY4S

[2018-03-16 18:49] amanbha commented on #398
Scripts shipping with SF SDK will expose timeouts for Register and Unregister Application Type, the fix will be in 6.2 release.

[2018-03-16 19:42] MicahMcKittrick-MSFT commented on #815
@festivus I have reached out to @raunakpandya and have been informed that RemotingV1 is not supported in NS2.0

[2018-03-16 19:44] raunakpandya commented on #815
@festivus which sdk version are you using?

[2018-03-16 20:07] HaakonL commented on #877
Hi,

we are moving away from Service Fabric, Microsoft is currently totally incapable of creating a robust and trustworthy micro service orchestration system. Just look at all the serious tickets/issues here, this product is a huge danger zone for any company running a mission critical application. As it stands now, we are not convinced that data loss will not occur in our reliable stateful servic

[2018-03-16 20:09] festivus commented on #815
3.0.472

[2018-03-16 20:19] rishirsinha commented on #877
@HaakonL

Sad to see a customer get frustrated with the platform and leave. Best of luck with whatever infrastructure you go with.

Thanks,
Rishi

[2018-03-16 21:30] jmaocanada opened #927 "Question: How to add API Management to Service Fabric?"
I am trying to utilize the virtual network created by Service Fabric. My idea is to add the API management into the virtual network illustrated in below link. If it gets successful, I can hide my reverse proxy internally and only expose selected APIs to public network.

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-api-management-overview

https://docs.microsoft.com/en-us/az

[2018-03-16 23:15] OlegKarasik commented on #918
@suchiagicha
OK. I see this works when you have meaningful cancellation token (i.e. you inherit it from the HttpContext or some) but does this make sense to have some default ```maxRetries``` or ```timeout``` reaching what ```ResolveAsync``` would trigger an exception?

[2018-03-17 00:16] rakshitatandon commented on #448
Thanks for reporting. This is a known issue and will be fixed in 6.2

[2018-03-17 00:28] francescocristallo commented on #915
The Stateful services are "empty", there is no code running apart the standard infinite while cycle from the auto-created Visual Studio template.
I just created a couple of Stateful services, set the partition numbers (I started at 500), and deployed it live with Visual Studio, and had the results above.

There should be a clear error somewhere explaining why this happens, the errors I see are jus

[2018-03-17 00:32] AlanWarwick commented on #587
Closing since I've not got the dump.  There have been many fixes since October.

[2018-03-17 00:32] #587 closed

[2018-03-17 00:33] AlanWarwick commented on #248
Closed due to lack of response.

[2018-03-17 00:33] #248 closed

[2018-03-17 02:35] RajeetN commented on #371
@jayMax, @Mardoxx, we tried to repro the problem but could not. We saw the environment variable and its value was being passed in correctly. We took a dump of process too and it should the value correctly set too.  @jayMax, could you clarify what you mean by manifest files for all services does not contain the variable value but packages files do? If you mean service manifest files, then that is e

[2018-03-17 06:43] RajeetN commented on #234
@gauravhub, @julioas09 , yes you can specify a hostname for container using ContainerHostPolices. There is a hostname attribute you can use there.
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-securing-containers#set-up-gmsa-for-windows-containers

What value do you intend to specify there?

[2018-03-17 17:02] sumukhs commented on #435
@aarms - This issue is tracking the fix for first chance exceptions thrown by the transaction, which show up in visual studio or any debugger when attached to the process. Are you referring to the same issue or something else?

[2018-03-17 20:20] am11 commented on #706
`-ForceRemove` fixed the sporadic failure I was getting with deploying from VS (and debug mode set to `Remove Application`). In order to share the patch with team, I checked in `Publish-NewServiceFabricApplication.ps1` in our source tree. Looking forward to the official/ootb fix. :)
Thanks!

[2018-03-17 22:06] pixelicous commented on #466
@oanapl Is there a place to see a changelog and which event number correspond to which failure? to be honest the logging is quite vague at the moment, so is the documentation on this subject.
thank you

[2018-03-17 23:14] BitBender1 opened #928 "Certificate, created in azure portal for basic security, might be issued for wrong URL"
recently, the azure portals UI to create a service fabric cluster was improved. it now offers to create a service fabric cluster with basic security. this creates a cluster with a self-signed-certificate without the user needing to know how this works.

the steps i talk about are nicely documented here:
[https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation-via-port

[2018-03-18 15:07] wminos commented on #540
This issue is probably a minor issue and there are ways to solve it in different ways.
However, I hope that if this issue is resolved, convenience development through VS2017 will be improved.

[2018-03-18 15:17] wminos commented on #908
In fact, this issue is about the azure infrastructure, so it may not be an appropriate issue.
Therefore, i'll close.

[2018-03-18 15:17] #908 closed

[2018-03-18 18:01] kavyako commented on #615
Using UriScheme addresses the problem, hence closing the issue.
We will continue to use #613  to track the X-Servicefabric header.

[2018-03-18 18:01] #615 closed

[2018-03-18 19:52] vi1996ash commented on #924
Hi Deep,
I configured input as ilogger and output as oms. How or where  can i see
output log message at oms.

Regards,
Vikash kumar jangid

On Fri, 16 Mar 2018 12:57 PM Deep Kapur, <notifications@github.com> wrote:

[2018-03-19 00:39] makar-sasha opened #929 "Runtime upgrade troubleshooting"
Hello

we are trying to upgrade runtime from 6.0 to 6.1 on Azure Service Fabric.
in our case it always results in timeout errors (nodes in first upgrade domain are down) after several hrs of work. Node restart or increasing upgrade timeout is not helpful.
could you describe any ways to analyse or overcome this issue?

Thanks!
Alex

[2018-03-19 07:17] rishirsinha commented on #929
Can you check the number of registry key entries in the following key:
 HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\SharedAccess\Parameters\FirewallPolicy\FirewallRules

[2018-03-19 07:41] makar-sasha commented on #929
hello

57896 entries are here.
could it be the reason?

Thanks,
Alex

[2018-03-19 07:45] ashishnegi commented on #815
Remoting V1 is not available in netstandard. It is older remoting stack. V2 is newer and better. Please use [V2 stack](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-remoting#how-to-use-remoting-v2-stack).
Closing this issue.

[2018-03-19 07:45] #815 closed

[2018-03-19 07:47] ashishnegi commented on #828
@Soarc It will be great if you can try above suggestion. Let us know if you face any other problem.

[2018-03-19 08:10] ashishnegi commented on #815
@festivus If you are seeing this issue with net47, please open a new issue with reproducible steps or share a sample project on which we can see the issue.

In net47, you can use both V1 and V2. But two services should be using `either` V1 stack or V2 stack for communicating. There is [migration guide](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communica

[2018-03-19 12:58] Soarc commented on #828
@ashishnegi , @dbreshears  Sorry for late response. I have done a some testing and get following results:

Project build succeeded, but now i'm facing deployment issues. When i deploying to my local fabric cluster, i'm getting follwing error.

Removing `<RuntimeIdentifier>win7-x64</RuntimeIdentifier>` from service csproj, couses a bunch of build warnings and deployment error.

Also, if i reference

[2018-03-19 13:32] festivus commented on #815
Are you kidding me? Did you read the issue?

[2018-03-19 14:04] deepakjangid-MSFT commented on #828
You definitely don't need this for projects targeting multiple platforms.
```<RuntimeIdentifier>win7-x64</RuntimeIdentifier>```

For the processor architecture issue, you can add this to you project file.
```<PlatformTarget>x64</PlatformTarget>```

You can reference .NetStandard2.0 DLL from .Net4.6.1 App and .NetCore2.0 App.
For referencing scenario, I need more clarity on what are all the project

[2018-03-19 14:05] festivus commented on #815
Are you kidding me? Follow loekd steps except use net47 instead of netstandard2.0.

[2018-03-19 14:37] festivus opened #930 "Services.Remoting.V1 in net47 vs net46 libraries (v3.0.472)"
Microsoft.ServiceFabric.Services.Remoting.V1 is not supported in net47.

Reproduce this:
Clone https://github.com/festivus/ServiceProxySample
Open the csproj files
Replace <TargetFrameworks>net46</TargetFrameworks> with <TargetFrameworks>net47</TargetFrameworks>
Restore packages & rebuild
Notice build errors caused by absence of Remoting V1:
Error CS0234 The type or namespace name 'V1' does not ex

[2018-03-19 14:39] UnProgrammatore opened #931 "Remoting V1 throws System.NotSupportedException from emit code when a lot of parameters are passed"
As stated in the title, creating a remoting interface featuring a method with a lot of parameters (in my case i was able to reproduce it with 17 parameters, but we also found a case where 14 would break it) throws a `System.NotSupportedException` with a message that looks like this: `Illegal one-byte branch at position: 14. Requested branch was: 129.`, where 129 increases by increasing the number

[2018-03-19 14:47] rufio620 commented on #920
Having trouble reproducing the issue on a sample project. It appears that adding any cpu platform back to the website project in my original application fixes the issue. This is a little strange when the configuration for all other projects is x64 but it does work around the issue.

[2018-03-19 14:47] #920 closed

[2018-03-19 15:59] suchiagicha commented on #921
@hrushib

[2018-03-19 16:48] rovinbhandari opened #932 "[Add-AzureRmServiceFabricApplicationCertificate] Potential bug during adding cert to cluster nodes"
Hi! I have a cert in AzureKeyvault which I'd like to put in the cert stores of all the nodes in my cluster. I used [`Add-AzureRmServiceFabricApplicationCertificate`](https://docs.microsoft.com/en-us/powershell/module/azurerm.servicefabric/Add-AzureRmServiceFabricApplicationCertificate?view=azurermps-5.5.0) in the following way:

```Add-AzureRmServiceFabricApplicationCertificate -ResourceGroupName

[2018-03-19 17:04] hrushib commented on #921
This issue is fixed in dotnet update 2.0.3 and above. Make sure that your app uses dotnet version 2.0.3 and above to get this Exception serialization working as expected.

[2018-03-19 17:12] MonDeveloper commented on #691
Same error here.
Someone found any workaround?

[2018-03-19 17:50] dkkapur commented on #924
Are they not in the OMS workspace you configured with EventFlow?
Perhaps you can also add stdout as another output to EventFlow, to make sure the logs are flowing correctly!

[2018-03-19 18:08] MonDeveloper opened #933 "VisualStudio "Refresh Application" Deploy fails with "The filename or extension is too long""
In order to use the "**Refresh Application**" deploy mode, SF will run a powershell command adding an additional parameter to the ones defined into the Application Manifest (and the relative ApplicationParameter file), this additional attribute is named [**\_WFDebugParams\_**] and it contains many informations about all the services that are listening to the debug notifications coming from the run

[2018-03-19 18:30] pksorensen commented on #803
I disabled the dns service in my dev service fabric cluster instead.

irst select Remove local cluster from the little SF tray icon.

Then go to C:\Program Files\Microsoft SDKs\Service Fabric\ClusterSetup\NonSecure\OneNode (or FiveNode for a local 5 node cluster) and update ClusterManifestTemplate.json.

Look for:

[code]
And just remove DnsService from that list.

Then start up the cluster again.

[2018-03-19 18:36] ChackDan commented on #893
@i-e-b  - Sorry for the delay. in discussions with the portal team, they think this may be an issue with quotas in your subscription, So could you please file a ticket at [https://portal.azure.com/#create/Microsoft.Support ](https://portal.azure.com/#create/Microsoft.Support) . The CSS team would then review you subcription and advice you on next steps.

[2018-03-19 19:26] codepic opened #934 "Calling a .NET Core 2.0 Reliable Actor from .NET Framework Stateless Service"
## Should the following scenario be supported?

### Repro Steps

1. Create a new Service Fabric Project `net461` named `ServiceFabricApp`
2. Add `.NET Core 2.0` Reliable Actor named `Actor1`
3. Add `.NET Framework` Stateless Service named `Web1`
4. Reference `Actor1.Interfaces` in `Web1`
5. Unload `Actor1.Interfaces` and edit the project file to target `netstandard2.0`
6. Change the `GET: /api/val

[2018-03-19 19:49] rchien commented on #921
@hrushib thanks for the update. However, my machine has .NET Core 2.0.6 installed which I think is the latest-and-greatest. Anything else that you can think of that might cause this error?

FYI, I can check VSTS to see which .Net Core Runtime gets deployed to Azure but I think it should be the same version as I have locally.

[2018-03-19 19:58] codepic commented on #934
Seems like Upgrading the below NuGets to `.472` build fixes the issue.

* Microsoft.ServiceFabric `v6.1.472`
* Microsoft.ServiceFabric.Actors `v3.0.472`
* Microsoft.ServiceFabric.AspNetCore.Kestrel `v3.0.472`
* Microsoft.ServiceFabric.Data `v3.0.472`
* Microsoft.ServiceFabric.Services `v3.0.472`

But the original question remains and maybe the Visual Studio projects templates should be upgraded?

[2018-03-19 20:14] oanapl commented on #10
@brutaldev , have you tried compress + [diff provisioning](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-upgrade-advanced#upgrade-with-a-diff-package)?

[2018-03-19 21:14] oanapl commented on #466
@pixelicous , what health report are you seeing and what SF version are you on?

[2018-03-20 01:40] preethasubbarayalu commented on #894
@somesh84- This can happen if there is an issue with your comparer:
1. What is your key type ?
2. Do you use data contract serializer or your own custom serializer.

[2018-03-20 08:56] tbertenshaw commented on #496
![image](https://user-images.githubusercontent.com/2010002/37644635-589c2518-2c1c-11e8-86dd-9f4a848df79f.png)

Also present in latest Refresh 6.1.472.9494

[2018-03-20 10:15] Soarc commented on #828
Adding x64 platform target fixes processor architecture warnings. But deployment error still exists.
Here is my setup.
https://gist.github.com/Soarc/896d0e1b5809df8f2bf36fe25ff86960

I can also create github repo, if it is required.

The first file is service fabric service, that have multiple targets.
Second file is tests project, targeting net461 and referencing first project.

[2018-03-20 12:49] brutaldev commented on #10
@oanapl , sounded promising, but doesn't solve it.

Now the following warning appears when deploying a build:
`The names of some imported commands from the module 'Create-DiffPackage' include unapproved verbs that might make them less discoverable. To find the commands with unapproved verbs, run the Import-Module command again with the Verbose parameter. For a list of approved verbs, type Get-Verb

[2018-03-20 13:35] brutaldev commented on #10
@oanapl - For a larger application type using compression and diff provisioning it still times out after an hour but this time during registration.
[code]

Not sure what's happened but it's become impossible to deploy anything, using VSTS, I have to publish from my machine using VS which is simply not going fly.

[2018-03-20 15:56] oanapl commented on #10
Regarding
2018-03-20T10:46:53.0832493Z Unregistering application type 'XYZ' and version '1.7.0.20180320.1' failed
@dbreshears can comment more, but I believe that's a red herring, as we first try to remove existing app type, and this one doesn't exist. We should treat ApplicationTypeNotFound as success.

Re. the timeout during provision, we are changing our scripts to allow users to pass in applic

[2018-03-20 15:59] robgonfer commented on #917
Update: after the latest software upgrade looks like this issue is not happening anymore.

Closing.

[2018-03-20 15:59] #917 closed

[2018-03-20 16:14] brutaldev commented on #10
We are using the minimum **Standard D1_V2** size in the scale set, the CPU usage floats between 70% and 90% currently averaging 83% for the day but never maxing out. The cluster is running 2 applications, 24 services and 57 replicas. At it's peak it runs 3 applications, 40+ services and 100+ replicas.

These are all .NET Core 2.0 stateless micro-services using the latest SF packages with very litt

[2018-03-20 17:27] suhuruli commented on #878
Closing for now, feel free to comment if the problem comes up again :)

[2018-03-20 17:27] #878 closed

[2018-03-20 18:21] masnider commented on #915
@francescocristallo it's not fragile and the error messages are at least trying to tell you what's happening, we just need to put together the pieces. From what you're showing, all we can see is that the replicas aren't getting placed for some reason. Looks like a combination of things.

TLDR: probably heap space, try EnableActivateNoWindow = true in your cluster settings (instructions below) and

[2018-03-20 19:11] bishal-pdMSFT commented on #10
@brutaldev regarding your comment [here](https://github.com/Azure/service-fabric-issues/issues/10#issuecomment-374585331)

1. Looks like you are using a timeout of 1 hours for registering application type. @oanapl VSTS task already supports specifying register timeout. And it seems 1 hour is not enough here.
2. It seems the error message is not conveyed properly. Can you please attach debug logs f

[2018-03-20 19:56] ChackDan commented on #301
Closing due to lack of response.

[2018-03-20 19:56] #301 closed

[2018-03-20 19:59] brutaldev commented on #10
The last attempt I tried with the following settings:
- Compress Package: true
- Use Diff Package: true
- CopyPackageTimeoutSec: 3600
- RegisterPackageTimeoutSec: 3600
- Overwrite Behavior: SameAppTypeAndVersion
- Skip upgrade for same type and version: true
- Skip package validation: true (gets performed during the build)

The same thing occurs with all flags set to `false` with long timeouts as

[2018-03-20 20:11] guibirow commented on #912
This SO answer will help you fix the problem:

https://stackoverflow.com/questions/49316938/deployment-for-service-fabric-service-version-upgrade-fails-on-vsts-release/49371212#49371212

[2018-03-20 21:07] oanapl commented on #10
@bishal-pdMSFT , this doesn't seem right:

2018-03-20T15:50:03.9737494Z Copying application to image store...
2018-03-20T15:52:53.6425444Z Upload to Image Store succeeded
-> looks like copy took **2 minutes**.

2018-03-20T15:52:53.6482691Z Registering application type...
2018-03-20T16:03:36.3157356Z Register application type succeeded
-> register took about **10-11 minutes**

2018-03-20T16:03:36.3

[2018-03-20 23:31] vaishnavk commented on #526
The issue has been fixed.

[2018-03-20 23:31] #526 closed

[2018-03-21 04:25] brutaldev commented on #10
@oanapl, The scale up operation put the cluster into a completely broken state. Almost all services are either in an unhealthy state or not running. Services aren't reporting errors but things have largely crawled to a halt and even the web API's are timing out.

The image store service is bust and releases are still timing out as usual. This is the message in the cluster manager for the image sto

[2018-03-21 06:09] rishirsinha commented on #929
We have a mitigation that you can apply so that upgrade can go through. Abhay can you provide Alex the mitigation.

[2018-03-21 07:07] ashishnegi commented on #639
@HakanL and @mkosieradzki
This is fixed as part of SF version 6.1.472
Please report if you have any problem.

[2018-03-21 08:06] hrushib commented on #921
@rchien please check framework version on your Azure deployment. In case this is greater than 2.0.4 then exception serialization is expected to work as expected.

Release notes of 2.0.4 - https://github.com/dotnet/core/blob/master/release-notes/2.0/2.0.4.md
Relevant Commit - https://github.com/dotnet/coreclr/commit/fb95b29

If this is not working then please provide minimal sample code which is le

[2018-03-21 09:00] OlegKarasik opened #935 "Copy-ServiceFabricApplicationPackage doesn't support long paths"
If you would try to run ```Copy-ServiceFabricApplicationPackage``` for the package directory that exceeded windows MAX_PATH then it would result in error:

[code]

Inside the trace logs there would be a message:
TryZipDirectory failed:
[code]

[2018-03-21 09:43] makar-sasha commented on #929
thanks @rishirsinha
will wait for the help
Alex

[2018-03-21 12:13] murrays commented on #257
Were still having issues with build time and runtime resolution of the build extension assemblies.  Examples of this are where a dependent build is up referenced to 4.2.0.0 of System.Net.Http but appears to pass a forward reference of 4.0.0.0 to dependent assemblies which then error as that conflicts with their 4.2.0.0!  Some of our IIS services are failing to demand load 4.0.0.0 even though we ha

[2018-03-21 12:27] i-e-b commented on #893
@ChackDan - opened as 118032117855120

[2018-03-21 13:24] kavyako commented on #926
Could you look at [Reverse proxy diagnostics doc](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reverse-proxy-diagnostics) for further troubleshooting tips.
You can track a request by the GUID "c4f3475c-73cc-45b5-813f-788ef803ab51" and "d299bf2b-a64b-4c96-bcb3-e16ab2fa5f31" in the above case, look for other messages with this GUID.
It will shed more light into what the reque

[2018-03-21 13:26] kavyako commented on #927
@vturecek any ideas?

[2018-03-21 16:27] oanapl commented on #10
@brutaldev , how did you execute the scale-up? Did you follow the instructions in our documentation?
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-scale-up-down
Did you add more VMs and then removed the existing ones?
Please note that my initial question was about using the SKU's we don't support. I've seen people trying lower SKUs, which don't guarantee any perf. I

[2018-03-21 16:34] brutaldev commented on #10
@oanapl  I simply changed the size on the scale set which I guess is what has destroyed the entire cluster. Nothing has worked for over 12 hours now and I cannot repair the cluster at all. The image store service is still stuck, the applications are in a "deleted" state since this morning, and I cannot deploy either so I'm totally screwed. I requested support on Twitter but haven't heard anything

[2018-03-21 17:00] dmaltsiniotis commented on #10
@brutaldev Opening a high severity support ticket/case with Microsoft really is the best way to get support for this issue. I don't think MSFT monitors twitter for support issues. Also, this GitHub issue is being used as pseudo-support forum, which is also probably not appropriate.

In the interest of trying to help though: Have you tried to manually delete/drop all the application replica sets? T

[2018-03-21 17:44] brutaldev commented on #10
@dmaltsiniotis Thanks for the info, I'll look at the VM storage driver config once I have things back up.
The script provided had no effect, the applications are still in the "Deleting" state as they have been for over 12 hours now.

`Get-ServiceFabricDeployedReplica` does not return anything for any of the nodes or applications. I tried using `Remove-ServiceFabricApplication` instead and now I'm

[2018-03-21 18:21] ChackDan commented on #893
Thankyou Sir. Let us use that ticket to get this issue to closure.

[2018-03-21 18:21] #893 closed

[2018-03-21 18:27] bishal-pdMSFT commented on #10
@brutaldev regarding the VSTS issue mentioned [earlier](https://github.com/Azure/service-fabric-issues/issues/10#issuecomment-374736379), I have created an issue in VSTS task repo. Let's carry our conversation there rather than polluting this SF specific thread.

[2018-03-21 20:07] alexwun commented on #935
This is known as it currently uses the .NET compression library, which doesn't support long paths.

[2018-03-22 03:01] wminos opened #936 "'Unable to determine whether the application is installed on the cluster or not' errors occur too often in local cluster."
SDK Version: Microsoft Azure Service Fabric SDK - 3.0.472

I did not do it for the first time but now it occurs more than once a day and I am resetting it every time.
I am mainly developing in the Visual Studio 2017 IDE, and I am not sure if this is a bug,
but it is inconvenient for development.

[2018-03-22 03:06] wminos commented on #936
I already see 'https://github.com/Azure/service-fabric-issues/issues/199' issue.
I am working on Windows 10 and using the default anti-virus (Windows Defender).
The C:\SfDevCluster folder was excluded from the scan.

[2018-03-22 06:59] makar-sasha commented on #929
also there are a lot of these warning on the vm
ServiceFabricNodeBootstrapUpgradeAgent
Error reading HandlerEnvironment from C:\Packages\Plugins\Microsoft.Azure.ServiceFabric.ServiceFabricNode\1.0.0.38\UpgradeService\..\HandlerEnvironment.json (Retry=1/10): System.IO.IOException: The process cannot access the file 'C:\Packages\Plugins\Microsoft.Azure.ServiceFabric.ServiceFabricNode\1.0.0.38\Handle

[2018-03-22 07:50] mhatreabhay commented on #929
You can ignore these warnings, they are transient errors. Bootstrap agent will write these warning when it is unable to access the file, when it is in use by another process. it back off and keep retrying. Eventually it will succeed.

[2018-03-22 08:46] brutaldev commented on #10
@bishal-pdMSFT Please give me a link to the issue in the VSTS repo.
@oanapl After a full cluster re-deploy, the first release worked to get the applications/services running again. However, I'm back to timeouts again trying to perform an upgrade so I give up...
[code]

Just as before, this version does not exist so I have no idea what it's trying to "unregister".
Not sure if this is related to the

[2018-03-22 09:04] dannycrone commented on #95
I get this for UK South, UK North and North Europe but it seems to be okay for West Europe??

[2018-03-22 09:05] dannycrone commented on #893
I get this for UK South, UK North and North Europe but it seems to be okay for West Europe??

[2018-03-22 09:43] bishal-pdMSFT commented on #10
https://github.com/Microsoft/vsts-tasks/issues/6761

[2018-03-22 10:06] Marusyk commented on #449
Yeah, Remove Application solve the problem but it takes long time to start debug. Application starts in 2 min after start debug. Can you help me?

[2018-03-22 13:47] NickDarvey commented on #431
@inzi25 what policy are you looking for?
We're just using the forward request timeout policy, but this is only useful to us to cause the re-resolution of Service Fabric partition. (I'm not sure how helpful it will be to you.)

[code]

[2018-03-22 13:52] nareshkhatri81 opened #937 "Service Fabric - Docker Installation ordering"
Hi Team,

what is ordering of installing SF with Docker. is below ordering is fine ?
1-2-3 or we go ahead with 1-3-2.

1. Enable Container Feature in all  Nodes in Cluster. Run below PowerShell command.   $null = Install-WindowsFeature containers
--
2. Install and Configure Docker in  all Nodes - Refer online for latest instructions.   https://docs.microsoft.com/en-us/virtualization/windowscontain

[2018-03-22 14:07] adduxa commented on #804
I figured out how to upgrade DevCluster without re-creating the whole cluster:

Connect to the cluster
[code]

Check if there is available registered runtime packages
In our case there is only the current one
[code]

Download the last runtime package
[code]

Copy the downloaded package into the cluster image store
[code]

Register the copied package
[code]

Check again registered runtime packages.

[2018-03-22 15:22] alexwun commented on #935
Yes, of course - we'll improve the error message that comes back in the exception.

[2018-03-22 16:01] oanapl commented on #10
@brutaldev , let's use https://github.com/Microsoft/vsts-tasks/issues/6761 to continue investigation.
@bishal-pdMSFT said that the start upgrade itself fails, and the error printed is incorrect, this is the bug he is tracking in vsts task.

[2018-03-22 19:12] abatishchev opened #938 "System.Runtime.InteropServices.COMException in Microsoft.ServiceFabric.Data.Impl.dll Element not found Exception from HRESULT: 0x80070490"
I upgraded a stale project to VS 2017, MSBuild 15.0, many NuGet packages and now my stateful service fails to instantiate with the following exception:

Exception thrown: 'System.Runtime.InteropServices.COMException' in Microsoft.ServiceFabric.Data.Impl.dll
Element not found. (Exception from HRESULT: 0x80070490)

Then after several attempts another exception is thrown:

Exception thrown: 'System.F

[2018-03-22 21:48] ChackDan commented on #893
Please add this information to the ticket, the support team will appreciate this information.

[2018-03-22 22:44] mani-ramaswamy commented on #234
@julioas09 @gauravhub  Please let us know if that unblocks you.

[2018-03-23 02:55] karataliu opened #939 "External data disk support"
I'm trying to deploy a new package to my cluster, and see the following exception
[code]

When I logging on my cluster VM, I found the log dirs is consuming up all the disk space:

Windows cluster:
SvcFab/Log
SvcFab/ReplicatorLog
8G+

Linux cluster:
sfroot/log
7G+

Both cluster has been created for only one week and with no heavy load.

The default datapath is set to local disk 'D:' or '/mnt'. The

[2018-03-23 05:12] makar-sasha commented on #929
Thanks!
the problem definitely was in firewall rules.
Alex

[2018-03-23 05:12] #929 closed

[2018-03-23 06:34] OlegKarasik commented on #935
@alexwun
Many thanks!

I have one small question: Are these cmdlets are open-sourced too now? Is there a way I can contribute to them?

[2018-03-23 08:57] julioas09 commented on #234
I tried to set the Hostname="example" attribute, but it returned an error when trying to deploy: "Exception while parsing XML file"

[2018-03-23 10:09] inzi25 commented on #431
Thanks @NickDarvey , I have tried this same way but unfortunately this didn't help. Later we have implemented VNET for APIM sorted the issue.

[2018-03-23 12:06] brutaldev commented on #10
The timeout settings don't appear to have any effect, unregistering times out after a minutes.
[code]
I give up, we're only using a light integration with Service Fabric, mainly the inter-service communication (which I had to [re-write the JSON implementation docs](https://github.com/MicrosoftDocs/azure-docs/pull/4380)) for because they were so faulty so I'd rather we just implement that ourselves

[2018-03-23 13:57] xela30 commented on #926
@kavyako Thank you for quick turnaround.
Let me clarify a bit what circumstances it happens under.
In order to keep track on ReverseProxy availability Load Balancer hits ReverseProxy every N secs with intentionally nonexistent service name in the URL in order to receive 404 back or to put box out of farm otherwise. (Yes, I know it's weird, but there is no way to get 200 from ReverseProxy other the

[2018-03-23 15:38] rajaprad opened #940 "[AzureChinaCloud] : ServiceFabric RepairManager Service not available after Cluster Upgrade"
Resource ID: /subscriptions/<HIDDEN>/resourcegroups/<HIDDEN>/providers/Microsoft.ServiceFabric/clusters/<HIDDEN>
Patch Orchestration Cluster changes are done as listed in the documentation here: **https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-patch-orchestration-application**
However after the upgrade - we are not able to see RepairManagerService under system services.

Ther

[2018-03-23 15:51] alexwun commented on #935
The open-sourced code on GitHub only supports building in Linux right now, so code that's specific to Windows (like the PowerShell cmdlet source) isn't there yet - though it's coming. We'll announce on our blog once the Windows specific code also makes it to GitHub:

https://blogs.msdn.microsoft.com/azureservicefabric/

We look forward to your contributions!

[2018-03-23 16:37] oanapl commented on #10
@brutaldev , again, I am sorry about your bad experience.

Let me know if you still want to investigate your issue. Were you contacted for the support incident you created? Again, that's the best way to get this resolved. If the cluster is unhealthy, operations won't go through, so we need to fix that first.

Re. your other questions, when you increase the timeouts, you need to respect the conditi

[2018-03-23 20:41] kavyako commented on #926
So is the FabricApplicationGateway.exe crashing? If yes, we would need the crash dump & traces to analyze.
I see that you had opened #634 , in that case the request URL was >8k which was causing the crash. We did address that one for 6.1. Will you be able check if that was addressed?
Could you narrow down if it is something about a particular request that is causing this?

[2018-03-23 21:37] dcasati commented on #500
I have the exact same question as @agronompele

Would anyone be able to shed some light on this ?

[2018-03-24 01:34] xunlu commented on #939
What is the service fabric version of your cluster?

[2018-03-24 01:40] xunlu commented on #925
This is not supported right now, but something we do have a plan to add in the future.

[2018-03-24 01:40] #925 closed

[2018-03-24 01:44] vaishnavk commented on #932
@rovinbhandari : Thank you for reporting the issue. We will investigate.

[2018-03-24 01:56] alexwun commented on #939
@karataliu Can you summarize which files are the largest?

And you're also making sure to remove old unused application packages and unregister unused application types (https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-deploy-remove-applications)?

[2018-03-24 04:36] abatishchev commented on #936
Same here. SDK 3.0.472, both VS 2017 and 2015. Only resetting local cluster helps but it's annoying and time-consuming.

[2018-03-24 10:06] Mart-Bogdan commented on #301
WE are switched to Kubernates, and it works like a charm!

And deployments are WAYYY faster.

[2018-03-24 12:00] petertiedemann commented on #461
I am seeing this problem when trying to publish https://github.com/jjcollinge/traefik-on-service-fabric .

VS 15.6.4 in case that matters.

[2018-03-24 13:19] am11 opened #941 "Event 65534 - the message resource is present but the message is not found in the string/message table"
There are many entries of event 65534 being produced in `{FabricLogRoot}\QueryTraces\query_traces_*.etl`.

It was spotted due to another bug https://github.com/Azure/service-fabric-issues/issues/677, a node disk was full in a production environment. That issue is fixed as the log retention policy is abided in the latest release.

However, it would be good to fix the root cause of this event. It do

[2018-03-24 14:51] MikkelHegn commented on #933
_WFDebugParams_ are not exclusive to refresh mode, they are used in all debug scenarios.

Can you give some more details about the scenario where you run in to the size limit?

[2018-03-24 14:55] MikkelHegn commented on #938
Hi @abatishchev - to set expectations, it's a big upgrade jump :-) @amanbha to see if he has ideas on what might break this?

[2018-03-24 14:58] raunakpandya commented on #938
What is the runtime version here?

[2018-03-24 20:08] MikkelHegn commented on #500
If you used the Visual Studio templates, they build a self-contained executable, which does not require the runtime to run. https://docs.microsoft.com/en-us/dotnet/core/deploying/index - Let me follow-up on the progress on Windows servers in Azure. Current way of automating this would be  to use a custom script extension on your scale set model to install dot net. https://azure.microsoft.com/en-us

[2018-03-24 20:23] cpatte7372 opened #942 "Service Fabric Deployment Error: ServiceManifest.xml is missing for service with Octopus Deploy"
Hello Community

I have spent many hours/days trying to Deploy a Service Fabric App to my Local Service Fabric cluster but to no avail.
I keep on getting the following error:

[code]
Can someone please let me know what may be causing the problem and how to fix it?

Thanks

Carlton

[2018-03-25 01:51] sathiathirumal commented on #936
+1. Does resetting even work for you folks? For me resetting also fails. I am 99% sure this is because the fabricDNSService.exe doesnt shutdown. I am unable to kill it manually as well (access denied - pskill, procexp, nothing works). Only a PC restart does solve it. Such a waster of time! MSFT, please fix!

[2018-03-25 02:09] MikkelHegn commented on #936
Without knowing the reason the cluster get's stuck, this is what's going on and maybe can help you workaround until we know more.

Visual Studio (and the Local Cluster Manager) probes the cluster endpoint locally, if it's not responding you will see this error. So there's a good chance the local cluster is unresponsive, hence resetting the cluster helps.

Those of you who run in to this issue, I w

[2018-03-25 08:28] vaishnavk commented on #940
@rajaprad Can you share the resource id and the region name?

Few basic sanity checks -
1. RepairManager service is present as AddOnFeature in the cluster resource.
2. You are using api-version 2017-07-01-preview

[2018-03-25 08:32] vaishnavk commented on #928
@BitBender1 - Thank you for reporting this issue. Both of these are known and we are working on fixing them soon.

[2018-03-26 02:02] sathiathirumal opened #943 "Is ASF development on laptop just unstable?"
I wonder if the constant sleeping and network switches is not handled well by the local cluster setup.
1) DNSService has well known problems with network interface switches
2) The local cluster becomes "unstable" after a few deploys and laptop going into sleep mode

e.g.
2>Started executing script 'GetApplicationExistence'.
2>Finished executing script 'GetApplicationExistence'.
2>Time elapsed: 00:

[2018-03-26 02:09] sathiathirumal commented on #943
Not being able to kill fabricdnsservice.exe is the reason for needing the machine reboot.

Task manager cannot kill the process. PSKILL cant either. ProcExp cant.

Any pointers to a tool that can terminate this process?

![image](https://user-images.githubusercontent.com/9466367/37883517-ccc6933c-305f-11e8-81e4-198595ffa0c3.png)

[2018-03-26 02:49] karataliu commented on #939
@xunlu
Windows: 6.1.472.9494
Linux 6.1.186.1

@alexwun
Looks like it's almost the trace files located on the vm
On Windows
D:\SvcFab\Log\Traces\*.etl
D:\SvcFab\ReplicatorLog\replicatorshared (8G)

On Linux:
There are about 500+ files each with 8MB size in following location:
/mnt/sfroot/log/lttng-traces/ServiceFabric_0-{id}/ust/uid/1001/64-bit/channel0_0_*

I use a modified the template based on q

[2018-03-26 06:27] tvperez76 commented on #448
What’s the ETA on getting this issue resolved?  Is there a workaround?  Not being able to utilize certificates from a container is a showstopper.

[2018-03-26 08:42] slicc commented on #573
Any update on this? This is also a problem for me, I created a cluster in the last few weeks and Windows Defender is still killing deployments. On a single node test cluster in Azure, deployments time out (after approx. 30 minutes), if I disable Windows Defender Real Time Protection on the VM, it takes about 3 minutes. Obviously disabling the protection is not a viable solution, especially in a SF

[2018-03-26 09:44] xela30 commented on #926
@kavyako It's not crashing but reporting warnings mentioned above thus there is no crash dump. Besides, it's quite challenging to collect detailed logs from Reverse Proxy.

[2018-03-26 09:53] brutaldev commented on #10
I figured that after playing around with the timings a bit, pity this validation isn't in the task interface itself so you only find out about them at runtime (another improvement perhaps for @bishal-pdMSFT?).

Haven't needed to deploy for a while now, things seem stable again for now. I never ended creating the incident, had the problems persisted for longer I would have gone that route. I suspec

[2018-03-26 10:00] mkosieradzki commented on #10
@brutaldev Do you think this one might be related: #573 ?

[2018-03-26 11:15] MichalKoscielniak commented on #752
I'm having exactly the same issue as OP. I have just spinned new cluster using "Windows Server 2016 datacenter with Containers", i have created simple ASP .NET Core application ( using latest microsoft/aspnetcore image as base ).
I RDP'ed to one of the SF VM and i can see folllowing 2 Warnings appearing in the EventLog all the time:
1. "Failed to import docker image error FABRIC_E_INVALID_OPERATIO

[2018-03-26 11:57] brutaldev commented on #10
@mkosieradzki That does sound like it could be contributing to the problem as well, nice find. I'll watch the progress of that issue as well.

[2018-03-26 12:18] MichalKoscielniak opened #944 "Unable to download container image from private repository"
I have tried to host simple container application in service fabric cluster.
I have created a cluster in Azure ( using "Windows Server 2016 with Containers" image ), created simple service fabric application with contenerized service and tried to deploy simple image containing simple dummy ASP .NET Core web application ( created image is based on microsoft/aspnetcore image )
After deploying the ap

[2018-03-26 14:49] sjhawke opened #945 "Node being reset by failure in leaslayr.sys"
leaslayr.sys caused the following error:

Log Name:      System
Source:        User32
Date:          3/21/2018 9:19:13 PM
Event ID:      1074
Task Category: None
Level:         Information
Keywords:      Classic
User:          SYSTEM
Computer:      node0000000
Description:
The process FabricInstallerService.exe has initiated the restart of computer node0000000 on behalf of user NT AUTHORITY\SYSTEM

[2018-03-26 16:02] bishal-pdMSFT commented on #10
Regarding [this](https://github.com/Azure/service-fabric-issues/issues/10#issuecomment-376111038), I believe this should ideally be done at platform or SDK layer while accepting Start-ServiceFabricApplicationUpgrade command. @oanapl do you agree?

[2018-03-26 17:08] mani-ramaswamy commented on #448
We should have the next release out in a few weeks time with the fix.  @rakshitatandon  to comment on any workarounds.

[2018-03-26 17:35] abatishchev commented on #938
sure, I realize that! however this service doesn't do much. I suspect the error comes from logging/telemetry (Geneva, Kusto)

Here's what I have installed locally:
Runtime 6.1.472.9494
SDK 3.0.472.9494
Tools for VS2015 2.0.10124.2 (if that matters, I'm using VS2017 primarily)

[2018-03-26 17:38] oanapl commented on #10
@bishal-pdMSFT , the link goes back to this issue, so I am not sure what you are referring to. If you are talking about the time parameters for start upgrade, VS could probably help users with at least some info about what the values should be and the relationship between them. Finding out that the values are not correct only after the package was copied and registered is not ideal.

[2018-03-26 18:07] suchiagicha commented on #783
@dubs999

Json by default serializes Guid to string. You need to makes sure while deserializing its should of  type Guid  .
And  for objects , json serialize it as object , hence you wont see this issue if you wrap  Guid in an object.
https://www.newtonsoft.com/json/help/html/SerializationGuide.htm

Simple Fix would be to use Guid Parse method while returning parameter(Below code shows how to do i

[2018-03-26 18:08] suchiagicha commented on #783
@steph7308

We are not aware of this issue. Could you share your repro?

[2018-03-26 18:19] abatishchev commented on #936
Emptied C:\SfDevCluster\Log\Traces\, Opened VS2015, pressed F5, got the same error "'Unable to determine whether the application is installed on the cluster or not", closed VS, stopped local cluster, zipped all newly created files, got [this](https://microsoft-my.sharepoint.com/:u:/p/alexbat/EZI5n0TxOHJMndlk3IRxt5MBKK7pU_ULgrmYyBdddjsVtA?e=2V9TiW). Please let me know if these logs help or if I nee

[2018-03-26 19:36] alexwun commented on #939
@karataliu If a significant amount of space is being consumed by *.etl files, then try decreasing the MaxDiskQuotaInMB setting and increasing the DiskFullSafetySpacInMB cluster setting:

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-fabric-settings

*.etl files are diagnostic log files, so they can be safely deleted to mitigate disk space issues. Service Fabric does

[2018-03-26 20:36] MicahMcKittrick-MSFT commented on #930
@deepakjangid-MSFT @ashishnegi any update on this one?

[2018-03-26 22:04] abatishchev commented on #140
Getting this error when upgraded Runtime/SDK 6.0.0.0 to the latest and try to run a stale project that still references 5.0.0.0

[2018-03-26 22:13] abatishchev commented on #936
Here's another exception that seems related to this issue:

[code]

[2018-03-26 22:27] rchien commented on #921
@hrushib Here's a sample repo to reproduce this issue https://github.com/rchien/ExceptionSerializationApplication

From my trial-and-error it seems nothing except `Exception` can be serialized properly.  In the project I have two scenarios where
1. Svc interface in common .Net Standards 2.0 proj => xxx/api/values/exception/common
1. Svc interface in svc implementation                      => xxx/a

[2018-03-26 22:34] masnider commented on #923
UseWebListener was renamed to UseHttpSys. Check out these threads:

https://github.com/dotnet/core/issues/835
https://github.com/aspnet/Hosting/issues/1128

[2018-03-26 23:03] masnider commented on #943
I've been able to kill it when running those tools as admin. Can you confirm if that is or isn't working for you?

[2018-03-26 23:14] RajeetN commented on #944
@MichalKoscielniak, see https://github.com/Azure/service-fabric-issues/issues/752#issuecomment-376131250

[2018-03-26 23:14] #944 closed

[2018-03-26 23:16] karolz-ms commented on #941
65534 is a special "manifest event" that is sent by EventSource to advertise its ETW (Event Tracing for Windows) manifest, that is, the schema of data the EventSource exposes. The data it carries is essential for ETW consumers of EventSource data to properly interpret it, but other than that it is about "plumbing" and can be ignored.

@mattrowmsft @masnider FYI

[2018-03-26 23:46] masnider commented on #942
"ServiceManifest.xml is missing for service VotingDataPkg."

Where's the application package coming from? Is this some normal piece of VSTS or VS build output?

If so can you check in that output and confirm whether the ServiceManifest.xml is present like you'd expect? If you have the whole application package you can also just Test-ServiceFabricApplicationPackage on it and see if it's right. If i

[2018-03-26 23:58] maksimkim commented on #927
@jmaocanada, API Management always requires dedicated subnet.
However by creating network security group for each of your subnets you can allow incoming traffic to SF subnet only from API Management subnet.
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-nsg

[2018-03-27 01:35] vaishnavk commented on #932
We have logged a bug on our end and we will be working on a fix.

[2018-03-27 02:12] karataliu commented on #939
Thanks @alexwun  That link is helpful.

Just a quick question regrading the behavior diagnostic config: I did see the tracing log uploaded to the blob storage account if cluster enables diagnostic.
Does it mean if 'diagnosticsStorageAccountConfig' is set, then the tracing log would be stored in blob storage? I didn't find much doc regarding 'diagnosticsStorageAccountConfig' though.

[2018-03-27 07:26] am11 commented on #941
Thanks @karolz-ms for the information.

[2018-03-27 07:26] #941 closed

[2018-03-27 07:40] MichalKoscielniak commented on #944
@RajeetN are you sure about that ? The image which is failing was built using official microsoft/aspnetcore image as base. When i try to download official "microsoft/aspnotecore" it does not fail. This would suggest my image is more or less the same as the one which works ( unless docker pull is smart enough that it knew to download version targeting specific OS )

[2018-03-27 09:55] julioas09 commented on #747
I'm having the same problem trying to update the configuration of my development cluster.
In production we use a cluster with more fault/upgrade domains, but in dev we use a cluster with only 2FD/2UD... is there any way around this?

Thanks

[2018-03-27 10:06] Domhnall90 opened #946 "Add-AzureRmServiceFabricClusterCertificate: VMExtensionProvisioningError"
Trying to add a secondary certificate to an existing cluster using this Add-AzureRmServiceFabricClusterCertificate and the following error is returned:

"... Code:VMExtensionProvisioningError, Message:VM has reported a failure when

processing extension 'xxxxxx'. Error message: "Cannot find certificate with 'FindByThumbprint'

'xxxxx' in store 'my'...."

The thumbprint returned in the error messag

[2018-03-27 16:33] sathiathirumal commented on #943
@masnider yes, I can double-confirm that it doesnt work for me. This only happens AFTER I have gotten into the weird states as indicated by my prev responses + screenshots. When the local cluster is healthy, I can terminate that process just fine. Perhaps that gives a clue into why the process cannot be terminated?

[2018-03-27 17:40] alexwun commented on #939
@karataliu Yes, since you are running in Azure we configure the Service Fabric support logs for you automatically:

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-diagnostics-event-generation-infra

The support logs are generated locally on each node and periodically uploaded to Azure storage automatically - the local logs are eventually deleted from the nodes. Typically, not

[2018-03-27 17:41] rakshitatandon commented on #448
To workaround this issue, you should still be able to use the 2nd approach highlighted in this doc https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-securing-containers i.e. using data packages.

[2018-03-27 17:59] bishal-pdMSFT commented on #10
Agree. However, I am worried about such validations done by VSTS layer getting out-dated if platform changes its behavior. Are these timeout related errors documented somewhere which will give me confidence to rely on them. I found [this ](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-upgrade-troubleshooting#incorrect-time-outs-are-specified) but it is in trouble

[2018-03-27 18:02] rajagops commented on #932
@vaishnavk Is there any workaround until the fix is available?

[2018-03-27 18:18] oanapl commented on #10
That's a valid concern. Our policy is to be backward compat, so we most probably won't change the validation for the parameters.
Re. documentation, I will add this constraint in [Application upgrade parameters](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-upgrade-parameters)

[2018-03-27 19:46] wkotesh commented on #505
any update on this issue?

[2018-03-27 23:32] gorkar commented on #946
I am facing the same issue here

[2018-03-28 01:18] zachChilders commented on #39
I just got this error following the docs here: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-containers

Is there any guidance in decoding this error?  I wish it was more specific to what my problem was, and that the official docs didn't repro this issue.

[2018-03-28 01:42] karataliu commented on #939
@alexwun Got it. Thanks for the information!

[2018-03-28 01:42] #939 closed

[2018-03-28 05:35] wminos opened #947 "'dotnet ef database update' is not able while local cluster working"
I am developing a service fabric project based on asp.net core and
I get the following error when doing 'dotnet ef database update'.
[code]
Refresh Mode is in use.
This seems to be because I can not build again for that command because the dll is occupied.
I understand why this is happening, but I hope to complement it for ease of development.
(ex. build to a different folder)

[2018-03-28 05:37] wminos commented on #947
I do not know if I should post this issue here or should it to the visual studio community.
If give me feedback, I will post it in the future.

[2018-03-28 07:09] aL3891 opened #948 "Unable to change cluster version in azure portal"
We're trying to change the version of our cluster from the azure portal, however the portal throws a javascript error when clicking save, and no upgrade is started. this is true for all of our clusters, atleast the ones running version 6.0.232.9494

The full error is posted below
cc @masnider

[code]

[2018-03-28 09:09] rovinbhandari commented on #932
@rajagops I used the following workaround:

[code]

I hope this helps more people!

[2018-03-28 09:57] qrli commented on #791
@masnider How to access reverse proxy from inside container? I cannot find doc on that. localhost does not seem to work, and it seems like I need to find out the gateway IP with some boring code, and use it to access the reverse proxy on host VM. However, that breaks when the reverse proxy uses HTTPS, which is our production setup.

[2018-03-28 10:36] MathijsHofkens commented on #937
I installed like you said before and it is working. But I would like this also to be confirmed as way to go.

[2018-03-28 10:40] MathijsHofkens opened #949 "Service Fabric and Docker ports mismatch"
Hi all

I have some strange new behaviour regarding Service Fabric with docker on Windows Server 2016.
I have deployed a sample application called "GuidGenerator", this is just a simple .NET API exposed on container port 80. When deploying this app with Service Fabric, it's fine but there is a port mismatch:

Service Fabric:
![image](https://user-images.githubusercontent.com/10099914/38024356-0b10

[2018-03-28 11:05] #949 closed

[2018-03-28 11:05] MathijsHofkens commented on #949
<ContainerHostPolicies CodePackageRef="Code">
        <PortBinding ContainerPort="80" EndpointRef="WebTypeEndpoint"/>
</ContainerHostPolicies>

Forgot to put the portbinding in the applicationmanifest.xml...

[2018-03-28 11:53] wminos commented on #947
This seems to be a minor issue.
Of course, it is inconvenient, but it can be developed by cluster stop.

[2018-03-28 11:53] #947 closed

[2018-03-28 16:17] oanapl commented on #39
@zachChilders , please open a new issue so we can properly follow up.

[2018-03-28 18:03] vaishnavk commented on #948
@aL3891  - Thank you for reporting the issue. We are taking a look.

[2018-03-28 18:11] vaishnavk commented on #948
Which region was this?

[2018-03-28 18:31] aL3891 commented on #948
West Europe, we have not tried in any other region

[2018-03-28 18:55] rajaprad commented on #940
@vaishnavk - Sanity checks are already done as mentioned in the link.

[2018-03-29 01:11] jpoon commented on #795
In case this saves somebody a couple minutes of Googling. To send a custom header:

[code]

[2018-03-29 07:27] rajagops commented on #932
Thanks @rovinbhandari

[2018-03-29 08:30] ThiemeNL commented on #730
Hi, are you still planning this feature for April? Do you already have a preview?

[2018-03-29 08:37] raunakpandya commented on #730
Yup on track.. Preview is going to be announced soon along with the next runtime update.

[2018-03-29 10:11] mazong1123 opened #950 "Load balance (internal and external) solutions for on-premise Service Fabric cluster"
We are setting up an on-premise Service Fabric cluster for our services. We got several questions regarding the load balancing:

- For services inside SF cluster, is the **Service Fabric Reverse Proxy** good enough as a load balancer? For instance, can it distribute the traffic to service instances in different nodes smartly? Is there any health monitoring for the reverse proxy service?
- For exte

[2018-03-29 13:40] mgrishkov commented on #890
After the VS updating up to 15.6.4 testing works  fine even when I call `dotnet test` command

[2018-03-29 13:40] #890 closed

[2018-03-29 15:53] gbowerman commented on #430
Closing issue. It is now possible to change the admin credentials of a VM scale set. See the VMSS FAQ [https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-faq#compliance-and-security](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-faq#compliance-and-security)

[2018-03-29 15:53] #430 closed

[2018-03-29 16:36] leikong commented on #433
This is the default behavior now, primary and secondary are both checked, whichever has a later expiration will be used on the server side. This change is done so that you don't need to explicitly swap primary and secondary during certificate rollover.

During the time period a newer secondary is added, cluster nodes may be using primary or secondary, on the client side, you can specify both the p

[2018-03-29 16:36] #433 closed

[2018-03-29 16:59] masnider commented on #950
For basic load balancing we've seen the Reverse Proxy work pretty well. Today it doesn't have many advanced features (like routing some percentage of traffic to service A while the rest goes to service B), but those are in development. We've also seen people utilize [Traefik](https://github.com/jjcollinge/traefik-on-service-fabric) as both a reverse proxy and basic load balancer.

Really depends o

[2018-03-29 21:54] hongdai opened #951 "Error Message:IPC requires loopback addresses, 0.0.0.0:0 is not"
The cluster isn't working probably. It refuses to create a service. I see error message in the Service Fabric
event log:

"231ad4b49b0: IPC requires loopback addresses, 0.0.0.0:0 is not".

Could someone tell me why the Error message?

[2018-03-29 23:38] dbreshears commented on #66
Closing this issue as it seems like this is fixed.  I am able to Msbuild using  /t:package on the .sfproj file that has  .Net Core services.     Please re-open with updated repro steps if still encountering the issue.

[2018-03-29 23:38] #66 closed

[2018-03-30 02:41] rn-3 commented on #315
Getting the same error SF running on local cluster (6.1.467.9494).
Host is a VM running Windows Server 2016 & the guest Container is Windows Server Core.
The error is reported immediately so this is definitely not a time-out issue.

[2018-03-30 04:09] nareshkhatri81 commented on #937
We also would like to know which version of docker is compatible with SF.
As service fabric uses docker API to start/stop containers which version of docker we should install it on our server.

[2018-03-30 08:35] brutaldev commented on #877
After similar issues experienced today we will also be leaving Service Fabric. Issues like this happen with our services often and today the entire cluster is not accessible and all applications and services have stopped. We cannot afford continuous downtime like this and constantly recreating the cluster from scratch because MS cannot figure out why it system services break. When the system servi

[2018-03-30 13:34] patrikSE83 opened #952 "Complete cluster failure - ImageStoreService - The api IReplicator.OnDataLoss on node ***** is stuck."
During the holiday I went in to just upgrade our small cluster to a new size of VMset. Have done this a few time on the testcluster without any issues at all.

But after the upgrade I got a system failure of the ImageStoreService - I noticed that 3 of my 16 application's packages was "lost" somehow. Since I have all them accessible from GIT this is no issue - but it turned out after about 6hours o

[2018-03-30 14:16] Wertugo opened #953 "Service Fabric Actor operation call executes silently after timeout"
Good day.

I have service fabric actor instance and client. I have to implement some configuration, which will cancel operation exection after 30 sec request waiting.

Now service fabric has anouther behavior:
0. Send to actor any long runining reuest< which lock actor with Thread.Sleap(70000). (70 sec)
1. Client Send Next Request (Second Request)
2. ActorService set request into queue
3. Client r

[2018-03-30 14:47] barishamil commented on #832
I deleted DeploymentRuntimePackage folder, removed the cluster and created it again, still the same issue

[2018-03-30 15:35] dbreshears commented on #152
Closing as appears this issue has been fixed as I no longer repro when packaging .sfproj via command line with a .NETStandard Library reference from the ASP.NET core service project.

[2018-03-30 15:35] #152 closed

[2018-03-30 16:20] oanapl commented on #952
@patrikSE83 , when you upgrade VMs in place, it wipes out the data; if data on multiple VMs is wiped out at the same time, the system services lose state. This triggered the dataloss you are seeing now. Next time, please follow the [recommended scale-in and out steps](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-scale-up-down).
Now, to recover this cluster:
Since yo

[2018-03-30 16:28] oanapl commented on #952
We have made improvements to the way image store service handles the data loss to prevent it from getting stuck like this. This change will be available in 6.2 release.

[2018-03-30 16:33] patrikSE83 commented on #952
Thank you. Just to give you some more context on how the snowball went;

* 3 out of 16 packages was lost.

Of course was these 3 applications spread over the full cluster, so each of the nodes hang themselvs in "Downloading package". And because of this, neither of them could then start deleting applications - and therefore, i couldn't delete applicationpackages.

Also tried the Start-ServiceFabri

[2018-03-30 16:35] oanapl commented on #952
@juhacket to help with the Failed cluster status in portal.

[2018-03-30 16:36] mani-ramaswamy commented on #315
BTW, Docker for Windows (CE) isn't supported, if you were using that. You need EE on the Server.

[2018-03-30 17:24] juhacket commented on #952
The failed state in the Azure Portal represents the state of the last cluster resource operation in ARM. This is by design as you have not performed any successful operations since then. The cmdlets you used to mitigate this issue talk directly to the SF cluster and do not go through ARM. The next time you perform a cluster operation through ARM (i.e. Portal) you will see the state change.

[2018-03-30 17:25] rn-3 commented on #315
Yes, the guest & the host are both - Microsoft Windows [Version 10.0.14393].

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Mani Ramaswamy <notifications@github.com>
Sent: Friday, March 30, 2018 9:24:14 AM
To: Azure/service-fabric-issues
Cc: rn-3; Comment
Subject: Re: [Azure/service-fabric-issues] Unable to download container

[2018-03-30 17:26] rn-3 commented on #315
Using Docker version 17.06.2-ee-6, build e75fdb8.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Mani Ramaswamy <notifications@github.com>
Sent: Friday, March 30, 2018 9:36:04 AM
To: Azure/service-fabric-issues
Cc: rn-3; Comment
Subject: Re: [Azure/service-fabric-issues] Unable to download container image from private reposito

[2018-03-30 18:50] NArnott opened #954 "SF Remoting V1/V2 causes indefinite hanging."
When setting up a service fabric remoting transport using V2, if I forget to set the endpoint name to ServiceEndpoint**V2**, the client will hang forever and no exceptions or logs will be created. I know V1 and V2 are incompatible, but is there a way to get them to throw an exception somewhere if the two different versions attempt to communicate?

[2018-03-30 18:55] rakshitatandon commented on #832
You should delete the entire standalone package folder and download the latest one from here Download Link - Service Fabric Standalone Package - Windows Server (Microsoft.Azure.ServiceFabric.WindowsServer.6.1.472.9494).

[2018-03-30 19:32] palenshus opened #955 "Local 1-node service fabric cluster sets Environment.CurrentDirectory to source path"
This certainly seems like a bug.

When running a local 5-node cluster, the Environment.CurrentDirectory gets set to what you'de expect, a directory under the appropriate node path, for example:

    C:\SfDevCluster\Data\_App\_Node_0\ApplicationAnalysisPipelineType_App0\work

However, when running as a local 1-node cluster, it gets set to the project source path itself, something like:

    D:\<rep

[2018-03-30 20:59] suchiagicha commented on #954
@NArnott
No. We consider both cases ( failover scenario and incompatible version ) as communication failure and retry on those.  Its like client doesn't know if service is not there or you are talking to wrong service endpoint.

[2018-03-30 21:41] masnider commented on #573
We had this question over on [StackOverflow](https://stackoverflow.com/questions/49495766/configure-windows-defender-for-vms-in-scaleset) a while ago and there's been multiple pieces of docs and guidance posted since then.

https://blogs.msdn.microsoft.com/azuresecurity/2016/10/07/add-microsoft-antimalware-to-azure-service-fabric-clusters/

https://docs.microsoft.com/en-us/azure/service-fabric/ser

[2018-03-31 01:02] abatishchev commented on #938
The paradox is that exactly the same source runs fine in VS2015 and fails in VS2017. How can this be?

[2018-03-31 06:49] hanxinimm opened #956 "Actors : Compile error : The actor interface methods cannot be overloaded."
build exception

[IDCreatorCoordinatorApp.zip](https://github.com/Azure/service-fabric-issues/files/1865296/IDCreatorCoordinatorApp.zip)

System.ArgumentException: Method 'GetUniqueNumberAsync' of actor interface 'IDCreatorActor.Interfaces.IIDCreatorActor' is overloaded. The actor interface methods cannot be overloaded.
4>Parameter name: actorInterfaceType
4>   at Microsoft.ServiceFabric.Services.

[2018-03-31 08:20] BrainSlugs83 commented on #936
I just updated to latest and now I get this every time I hit F5 in Visual Studio 2017. -- I have to restart the local cluster every time I want to run my project, it's super annoying.

[2018-03-31 11:53] slicc commented on #573
Thanks masnider, I guess step 17 on the second link is what I need to do, but I can't see any details on how to do this in a service fabric cluster. I could remote on to each machine in the cluster, but this isn't going to apply the changes if I scale the vm scaleset up and down.

[2018-03-31 13:10] juho-hanhimaki commented on #562
`Even numbers don't specifically matter except that figuring out quorum can be harder :)`

In what sense figuring out the quorum can be harder? Is there performance difference?

Let's say I am perfectly happy with supporting only two simultaneous failures and run my services at 4/3. Is there any performance penalty compared to running 5/3 (odd number of replicas in normal cluster health state).

[2018-03-31 16:38] csdahlberg commented on #658
Was a solution ever found for this? I am currently stuck on the same problem.

[2018-03-31 17:20] uvznab commented on #658
No. But a workaround finally did work for me. This problem continued and manifested in many other ways - none of which made sense. The error messages kept appearing completely detached from any reality related to my configuration. I knew the error messages had nothing to do with the actual problem. It was all about the process timing out for completely bogus reasons.
The eventual workaround that w

[2018-04-01 01:44] csdahlberg commented on #658
I finally got the cluster created. The System.Fabric assembly was in the GAC on the server I was running the `CreateServiceFabricCluster.ps1` script from. It seems that part of the installation process was getting the location of the System.Fabric assembly, then looking for the `ServiceFabricServiceModel.xsd` file in the same directory.

When the dll is in the GAC, that copy gets used and the xsd

[2018-04-01 06:20] usamaazhar opened #957 "Multiple workers doing the same job (Question)"
Hi, I have a problem domain where I want to have multiple services doing a same job (e.g reading from a bulk data-store like table storage and writing to a queue). The data is in bulk and I would like to have 100 of services consuming this data. What type of service fabric service should I be looking at for this problem domain?

[2018-04-01 07:37] usamaazhar commented on #325
@guibirow very well explained and clears alots of misconceptions, currently Iam also designing an SF app similar to your problem domain and looks like I would also have to do a similar workaround, I have a table storage with bulk data and want the services (100 of them) to process this data and write the result to a queue.

[2018-04-01 13:50] gustavo-armenta opened #958 "Fabric.exe memory leak"
In this process dump, Fabric is using 600MB of memory

https://gavdiag901.blob.core.windows.net/public/Fabric.DMP

[2018-04-01 18:06] amolenk opened #959 "Use proper capitalization in 'Select a Template' dialog."
Super nitpicky mode:
When adding a new service, the template dialog displays the templates in three categories: *.Net Core 2.0*, *Hosted Containers and Applications*, and *.Net Framework*.

**.Net** should be written in the proper **.NET** capitalization.

[2018-04-01 19:43] Fkarajeh commented on #261
I'm facing same error, will you please help me, and tell how you have solve it, please this is urgent

[2018-04-02 03:13] lin-jianjun opened #960 "multi-linux VM cluster"
How do you deploy the service fabric cluster on a multi-linux VM?

[2018-04-02 03:31] nareshkhatri81 commented on #791
@qrli  - There are some environmental variables configured inside containers which contains gateway ip address to connect to reverse proxy.
But i was not able to read those in C#.

[2018-04-02 03:37] lin-jianjun commented on #960
Modify nonsecure/ servicefabri-scalemin.xml as follows.

<NodeList>
                <Node NodeName="_Node_0" IPAddressOrFQDN="localhost" IsSeedNode="true"  NodeTypeRef="NodeType0" FaultDomain="fd:/0" UpgradeDomain="0" />
                <Node NodeName="_Node_1" IPAddressOrFQDN="172.21.128.217" IsSeedNode="true"  NodeTypeRef="NodeType0" FaultDomain="fd:/1" UpgradeDomain="1" />
                <Node

[2018-04-02 03:38] lin-jianjun commented on #960
Modify nonsecure/ servicefabri-scalemin.xml as follows.
 <NodeList>
                <Node NodeName="_Node_0" IPAddressOrFQDN="localhost" IsSeedNode="true"  NodeTypeRef="NodeType0" FaultDomain="fd:/0" UpgradeDomain="0" />
                <Node NodeName="_Node_1" IPAddressOrFQDN="172.21.128.217" IsSeedNode="true"  NodeTypeRef="NodeType0" FaultDomain="fd:/1" UpgradeDomain="1" />
                <Node

[2018-04-02 16:20] dbreshears commented on #936
@BrainSlugs83 ,  when this occurs, are you able to bring up the Service Fabric Explorer through the tray icon "Manage Local Cluster" and check the health state of the cluster?

Does this also reproduce for you if you use a different Application Debug Mode?  I am assuming this property is currently set to the default "Refresh Application"? Does it repro if you are using "Remove Application"?

[2018-04-02 16:50] abatishchev commented on #936
My local cluster goes so unstable that SFE can't manage it, shows an error suggesting to restart it but this doesn't help either, nor restarting the service. Only rebooting, very annoying.

[2018-04-02 18:41] abatishchev commented on #936
Don't know whether this is related. FabricDCA.exe and FabricFAS.exe silently crash every minute and generate 170 MB of crash dumps at C:\SfDevCluster\Log\CrashDumps\.

[2018-04-02 20:26] dbreshears commented on #455
@johnstairs , this appears to have been fixed in 15.6.  Closing, please re-open if you find otherwise.

[2018-04-02 20:26] #455 closed

[2018-04-02 21:18] vturecek commented on #936
@abatishchev can you make those crash dumps available somewhere?
@rishirsinha might want to take a look at these FabricDCA and FabricFAS crashes.

[2018-04-02 21:24] abatishchev commented on #936
Please grab them from \\alexbat-id1\CrashDumps

[2018-04-02 23:57] vaishnavk commented on #940
Please remove the RepairManager from AddOnService and perform another operation to add it. We had a regression a while back which affected a small set of clusters and caused RepairManager service to not be enabled. This has already been fixed but required users to remove it and add it back.

[2018-04-03 01:30] cwaldron commented on #902
Is there a solution to this problem?  Because I'm seeing the same error and upgraded to the 20 March tool set.

[2018-04-03 02:32] knowhoper opened #961 "Reliable collections fail unless Firewall is disabled"
When using reliable collections in my on prem cluster, any request made to them hangs indefinitely on all operations. The error logs report:

This error does not occur if I run the following command to disable the firewall on the nodes

`Set-NetFirewallProfile -Profile Domain,Public,Private -Enabled False`

Can anyone help?

Thanks

[2018-04-03 06:10] patrikSE83 commented on #952
Just had easter, after the re-image everything has worked as it should.

A few follow-up questions / feature requests.

1) The fabric:/ImageStore - I know that in the article ( https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-image-store-connection-string ) you state that this will be updated in the future. My question is that is it possible to have a semi-update to this? And b

[2018-04-03 07:55] dotdestroyer commented on #912
I'm getting the same problem.

Yeah, this works for me too. But like you say, it doesn't feel right...?

I think we need better documentation to educate on this "Update only if changed" option, when is it appropriate to use? etc.

Also when using VSTS CI for service Fabric, should we stop manually versioning the project in VS2017? i.e right click solution > Edit Manifest Version

[2018-04-03 08:09] dotdestroyer commented on #957
We need more information to help, try to be more explicit.

I have to assume you are talking about Azure Table Storage? And when you say 'Queue' is that a ReliableQueue, ReliableConcurrentQueue, Azure Storage Queue or Azure Service Bus Queue?

1. How often are you writing to the azure table store? X writes per minute?
2. What is your PartitionKey for Azure table storage? is it a defined range 0-10

[2018-04-03 09:11] stoepa opened #962 "Service Fabric fails to download image from ACR"
I have a service fabric cluster in azure with one node, this is just a test environment.

I have create a docker compose file with a exisitng asp.net webform within it. It runs locally, so it is containerized and uploaded to my private ACR.

I have added all the requirements in the SF manifest files, I have even search this forum for any help but it seems as if there are no solutions and issues ge

[2018-04-03 09:49] usamaazhar commented on #957
Yes, Iam reading from an azure table storage, than processing the data and writing the results in the azure queue for some webclients to read. And yes it must have the ability to scale

[2018-04-03 10:46] olitomlinson opened #963 "Cluster upgrade to 6.1.480.9494 failed"
from : `6.1.467.9494`
to : `6.1.480.9494`

I manually triggered an upgrade of my VMSS-backed 5 node SF cluster in the portal. The upgrade began and then rolled back after some time.

As the upgrade was happening, I spotted a bunch of new nodes that were reporting as unhealthy. As you can see from the following screen shot :
![abnormal1](https://user-images.githubusercontent.com/4224880/38244628-32

[2018-04-03 15:53] oanapl commented on #952
@patrikSE83 , the article said that any improvements we make are going to be in the native image store, as opposed to File or Azure image store. It didn't talk about a specific improvement.
If you need a copy of your packages, you can copy them to a backup store out of band. We also support [provisioning from that external store](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric

[2018-04-03 16:37] carl-ashby-silvertech commented on #724
I'm experiencing the same issue, was this ever resolved?

[2018-04-03 17:39] masnider commented on #915
@francescocristallo can you let us know if my (long) answer helped you? Did you figure out what's up and are you good now?

[2018-04-03 17:43] masnider commented on #105
Forgot to reply to this: the docs have been revamped, but I'm not sure if this is specifically called out yet. We'll get that, and hopefully upcoming work with backup and restore should make this less error prone. In the meantime I've confirmed that our sample that shows off backup and restore [does](https://github.com/Azure-Samples/service-fabric-dotnet-web-reference-app/blob/811eff1ccedacc420eb2

[2018-04-03 17:43] #105 closed

[2018-04-03 17:49] masnider commented on #394
@arunas-z Hi there! We haven't heard back from you in a while, so we're going to close this issue down. If you have additional questions or didn't end up getting this to work, feel free to reopen this issue and let us know and we can keep going.

[2018-04-03 17:49] #394 closed

[2018-04-03 17:51] masnider commented on #399
Hi @ConX-Ryan - did you ever get this sorted out or did @amanbha's suggestion work for you? We haven't heard back from you on this, so we're going to close this issue down for now. If you still have questions or didn't end up getting it to work, please just reopen the issue and let us know. Thanks!

[2018-04-03 17:51] #399 closed

[2018-04-03 19:12] masnider commented on #449
Do you have some sense of where the time is going? Ex: in the output window of VS, is there a particular step that's taking a bunch of time?

[2018-04-03 19:27] masnider commented on #597
At this point we've seen a lot of folks having success running the azure functions runtime directly on top of SF. There's also the one hosted in IIS, which works fine if you containerize it.

At this point there's no plans for a first classed function model on top of SF.  I personally agree that this would be great, but there's nothing showing up in the runtime any time soon. For now we'll focus o

[2018-04-03 19:27] #597 closed

[2018-04-03 19:43] masnider commented on #639
Hi folks. We haven't heard back from you, and we've shipped the fix for this, so we're going to be closing down the issue. If you're still running into problems feel free to reopen this issue or create a new one!

[2018-04-03 19:43] #639 closed

[2018-04-03 19:57] masnider commented on #728
Well you can, you just have to go and explore the folder structure and read the XML yourself. The config changes will still get applied and the file rewritten.

I don't think we're going to be adding explicit 32-bit support for our APIs any time soon. Too many interop and platform issues, and a lot of SF internal fields are explicitly 64 bit for future proofing.

Running IIS 32-bit inside a contai

[2018-04-03 19:57] #728 closed

[2018-04-03 19:58] masnider commented on #734
@ladeak - any updates here? Since we haven't heard back from you I'm going to close down this issue for now. If you have a repro or any other questions, you can reopen it or create a new one. Thanks!

[2018-04-03 19:58] #734 closed

[2018-04-03 20:03] masnider commented on #747
@xela30 yeah nodes can move between fault domains, you just have to do multiple upgrades usually to do it (delete/remove from one FD and then add back with the new FD info).

@julioas09 I don't think there's any way to override this. Two just doesn't make sense since one of the FDs must have a quorum of some service (like the system services). If your test cluster has more than 3 nodes in it, then

[2018-04-03 20:03] #747 closed

[2018-04-03 20:07] masnider commented on #754
@patrikSE83 - any additional information? We've also made a lot of telemetry updates in the last few releases that should hopefully catch this sort of corruption, but we haven't seen it yet ourselves. I'm going to be closing down this issue for now since we haven't heard back from you, but please feel free to reopen it if you have a specific repro or any other questions (and you can always open an

[2018-04-03 20:07] #754 closed

[2018-04-03 20:07] #762 closed

[2018-04-03 20:25] masnider commented on #790
@RAJESHKUMAR905 Hi there! We haven't heard back from you in a while, so we're going to be closing this issue down. If you feel like you haven't figured out yet what's wrong, please feel free to reopen this issue or create a new one. Thanks!

[2018-04-03 20:25] #790 closed

[2018-04-03 20:31] masnider commented on #881
If you know what node it's on you can query the node with something like GetDeployedReplicaListAsync to see what partitions are there before you try to restart it. If there are multiple, only you know which one you're actually trying to restart.

[2018-04-03 20:52] zuhairp commented on #404
Thanks again for reporting @Izzmo, the fix will be coming soon in our 6.2 release

[2018-04-03 20:55] ConX-Ryan commented on #399
Yes and No, Yeah the startup task works fine and is acceptable but i am still left with a Mandatory endpoint in the config that will be created and never used which feels wrong to me from a few different angles.

[2018-04-03 21:10] masnider commented on #892
Hm. I just tried to repro this on my local cluster and cannot. The service is placed successfully and reports no errors. That said, I did this by updating the constraints of a service that I'd already created, not via the manifests.

Can you share the output of Get-ServiceFabricServiceDescription for the service that you created that isn't getting placed?

Also, how are you creating these services

[2018-04-03 21:47] masnider commented on #923
Hi @fazilmajeed - hopefully this worked for you?

[2018-04-03 22:48] masnider commented on #951
That error may be unrelated.

Can you provide more information about the cluster? Is it local, in azure, on-prem, how it was created, etc?

Can you provide more information about the service and how you're creating it? Is this during VS deployment, or powershell? When it fails what error do you see? Can you share the error text?

[2018-04-03 22:51] masnider commented on #953
You should be able to pass a cancellation token to the actor method you called and cancel it if it doesn't complete within the timeout.

[2018-04-03 22:54] masnider commented on #955
I would always be using the context.CodePackageActivationContext.WorkDirectory to find this. What you're seeing is probably a side effect of the single node deployment mode where it's really symlinking the "deployed" builds to your build/source directory to speed up deployment. Adding some folks to confirm.

[2018-04-03 22:58] masnider commented on #957
I would start [here](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-concepts-scalability). Some more information or specific answers to @dotdestroyer's questions would be great, otherwise anything should work.

[2018-04-03 23:10] masnider commented on #958
Ok, but what makes you think that's a leak? Can you provide more information (we'll also take a look). Ex: if this was a larger cluster that could be a totally reasonable amount of memory.

[2018-04-03 23:18] dbreshears commented on #959
@amolenk ,  good catch and yes we should fix that.

[2018-04-04 03:36] knowhoper commented on #961
This issue was resolved by opening up the ephemeral port range for TCP & UDP manually using the following command:

[code]

[2018-04-04 06:15] ladeak commented on #734
I did not see the issue again, switching the certificate thumbprint worked as expected.

[2018-04-04 06:39] harahma commented on #953
You should still honor the cancellationToken in your actor method to handle the corner case race condition between your cancellation on client side and the queued request getting dispatched to actor.

[2018-04-04 07:29] Wertugo commented on #953
You mean, it is required to execute manually the following method at the begin of Actor Operation:
[code]

[2018-04-04 08:00] olitomlinson commented on #963
**UPDATE** I decided to do it again (I also took a chance and deleted those random unhealthy nodes) and the upgrade worked fine this time...

Some questions still outstanding around those random nodes, what were they? why didn't the runtime clear them up? etc

[2018-04-04 08:14] hrushib commented on #921
@rchien Thanks for providing minimal code which reproduces this issue. I am able to re-produce this on my end and will investigate the root cause and revert to you in sometime.

[2018-04-04 11:53] cpiitb opened #964 "Not able to access ServiceRemotingServiceEvents in Microsoft.ServiceFabric.Services.Remoting.V2.Runtime namespace"
I am looking for a way to listen ReceiveRequest or SendResponse events while communicating with different services using ServiceRemoting.

Earlier we were able to do that with below events.

ServiceRemotingServiceEvents.ReceiveRequest
ServiceRemotingServiceEvents.SendResponse

These events were available in Microsoft.ServiceFabric.Services.Remoting.V2.Runtime namespace.
Now I am not able to find t

[2018-04-04 12:04] ashishnegi commented on #964
Which SDK and runtime ? Do you have .Net Core app or Framework specifc app ?

[2018-04-04 12:36] Izzmo commented on #404
Great! Thanks for following up @zuhairp

[2018-04-04 13:09] cpiitb commented on #964
Thanks for the reply.

I am using below nuget packages.
  <package id="Microsoft.ServiceFabric" version="6.1.480" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Data" version="3.0.480" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Diagnostics.Internal" version="3.0.480" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.FabricTransport.Inter

[2018-04-04 13:37] harahma commented on #953
It is not required if you are fine with corner case scenario where your cancellation on client side happens at the same time as request getting dispatched to actor method. In this case request will continue to execute on actor side (as actor method does not honor cancellation token) even though client has cancelled it.

I believe once you cancel the request on client side, you would not want it to

[2018-04-04 13:46] Domhnall90 commented on #946
The certificate which I am trying to add as a secondary is from a CA. The thumbprint looks to be that of the intermediate certificate

[2018-04-04 13:54] spottedmahn commented on #765
Hi @masnider - can you provide the release number where we should see these change(s)?

I'm using Service Fabric SDK v3.0.456.9494 and I'm still seeing the same warning in the event viewer.

[2018-04-04 19:51] masnider commented on #960
Hi @lin-jianjun - what do you mean by "multi-Linux"? Just more than 1 VM? And is your question in reference to Azure?

There's a pretty good walkthrough [here](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation-via-arm), but in the portal it's really just as simple as picking a Linux operating system when setting up the cluster.

![image](https://user-images.gith

[2018-04-04 19:54] masnider commented on #962
One quick thing to check is whether you can successfully docker pull the image on the machine itself. You can verify this by RDPing into the machine and trying to pull the image from ACR. If this works there's usually some accidental error in the manifests that is preventing download or referencing the wrong image.

If you can try the first thing and verify that works (to eliminate connection issu

[2018-04-04 20:03] codeConcussion commented on #347
Was something actually done to fix this issue? As I see it, the scripts **Publish-NewServiceFabricApplication.ps1** and **Publish-UpgradedServiceFabricApplication.ps1** both call **Register-ServiceFabricApplicationType** but neither of them specify a timeout or have a parameter that allows you to specify the timeout. Can you tell us what was done to "fix" this?

[2018-04-04 21:01] amanbha commented on #347
@codeConcussion The fix will be available in our next 6.2 release. Following timeout parameters are introduced in these 2 scripts, also the Register-ServiceFabricApplicationType is now called in async mode and then status is checked after making the register call.

PARAMETER RegisterApplicationTypeTimeoutSec
    Timeout in seconds for registering application type. Default is 600 seconds.

    .PAR

[2018-04-04 22:17] jpoon commented on #390
In addition to exposing the `19000` and `19080` ports through the NSG, make sure the management endpoint is configured correctly:

[code]

for an insecure cluster or a `https` prefix for a secure one.

[2018-04-04 22:29] jpoon commented on #390
What do you mean by "long poll"?

[2018-04-04 22:36] mkosieradzki commented on #390
I mean that Cluster initiates communication to the SFRP using long polling (https://en.wikipedia.org/wiki/Push_technology#Long_polling) and when SFRP wants to query the cluster it just uses the connection from Cluster to perform the query.

Basically I am using clusters with 19080 and 19000 hidden deep behind the firewalls and SFRP works correctly (I see all my apps and nodes). If I remember corre

[2018-04-04 22:41] jpoon commented on #390
My understanding was that the SFRP initiates communication to the Cluster (hence why 19000/19080) needed to be open). If it's the other way as you state, then yes, these ports don't need to be exposed.

[2018-04-04 22:45] mkosieradzki commented on #390
It was true before version 5.5 (I have checked the exact version number). @ChackDan can confirm this.

[2018-04-05 00:09] gustavo-armenta commented on #958
Its a cluster of 2 machines. Each machine has 7GB RAM. Windows Server 2016 is using 4GB RAM so my applications can only use the remaining 3GB.

Fabric.exe uses 40MB when the machine is just started. When the machine becomes unrespopnsive, I notice very low CPU and high memory usage with Fabric.exe above 500MB

[2018-04-05 01:17] codeConcussion commented on #347
@amanbha That sounds great - thanks for the info!

[2018-04-05 02:30] vaishnavk commented on #390
SFPR first uses the long poll channel to send queries to the cluster. If that fails, we fallback to the original model of making an outbound connection from SFRP to the cluster (this was mainly done for supporting queries on clusters older than 5.5 version, but is occasionally helpful with long poll channel encounters any failure.

[2018-04-05 03:01] alexgman commented on #934
having the same issue here

[2018-04-05 12:37] pksorensen commented on #452
Whats the status on this?

[2018-04-05 14:30] nareshkhatri81 opened #965 "Service Fabric - Errors/Warnings"
Team,

we see couple of warnings/errors in logs. Can someone try to explain us what could be root cause ?

The description for Event ID 326 from source ESE cannot be found. Either the component that raises this event is not installed on your local computer or the installation is corrupted. You can install or repair the component on the local computer.

If the event originated on another computer,

[2018-04-05 17:40] eliasnawfal opened #966 "Thread.CurrentThread.CurrentCulture in Actors"
I'm calling my Actor from an Asp.Net Core 2 website using
[code]
My website supports localisation and I want to pass current culture to my actors.
I noticed that Thread.CurrentThread.CurrentCulture in actor doesn't change with the website that called the actor.
Is this a bug? Is there any clean way I can pass  Thread.CurrentThread Cultures to my Actors.

Thank you

[2018-04-05 20:05] BrianMSFT opened #967 "MSB4018 The "GetServiceProjectReferences" task failed unexpectedly"
New actor service added and it will not build, see below details.  It looks as though this error has been previously reported and resolved but perhaps it's back in the newer SDK or somewhere else?

**Windows Installed Components:**
- Microsoft Azure Service Fabric @ v6.1.467.9494
- Microsoft Azure Service Fabric SDK @ v3.0.467.9494

**CSProj Nuget Installed Components:**
- Microsoft.ServiceFabric

[2018-04-05 21:13] BrianMSFT commented on #967
Closing, this issue was caused by an overloaded interface method for the actor - it was in the build log :/

I would recommend trying to improve the error reported during build in the errors panel as it has nothing to do with the actor interface method being overloaded.

[2018-04-05 21:13] #967 closed

[2018-04-05 21:54] gmosuru commented on #515
calling parallel calls to service with httpclient is performing better than Remoting. Is there any work around for this .

[2018-04-05 21:55] rchien commented on #921
@hrushib thanks for your assistance looking into this

[2018-04-06 04:58] ashishnegi commented on #964
@suchiagicha will give more details about this.

[2018-04-06 06:44] ashishnegi commented on #956
@amanbha OP has a class derived from `IActor` which has overloaded interfaces. It gives compiler error that : `The actor interface methods cannot be overloaded.`
Is there any such requirement ?

[code]

[2018-04-06 06:46] ashishnegi commented on #956
@hanxinimm To get unblocked for time being, you can rename 2nd method to `GetUniqueNumberWithCountAsync` ?

[2018-04-06 12:49] crowbar27 opened #968 "Upgrade of SF installed with HPC Pack to 6.1.480.9494 failed"
I have three-node SF cluster installed with HPC Pack 2016, which I have re-created for the third time now, because the first time, the upgrade from the version deployed with HPC Pack (5.4.164.9494 IIRC) to 6.1.480.9494 failed. The second time, I installed HPC Pack 2016 Update 1, which comes with a newer SF, but as the HPC installation failed this time, I re-installed again using the RTM version.

[2018-04-06 14:42] amanbha commented on #956
Yes in service remoting and actors, method overloads are not supported.

[2018-04-06 14:47] #956 closed

[2018-04-06 17:14] juhacket commented on #946
This is fixed starting in AzureRM.ServiceFabric 0.3.2 (Azure PowerShell 5.5.0).
https://github.com/Azure/azure-powershell/pull/5576

[2018-04-06 17:14] #946 closed

[2018-04-06 20:14] amanbha commented on #964
Closing it as duplicate of https://github.com/Azure/service-fabric-services-and-actors-dotnet/issues/105 , its tracked in actors and services repo.

[2018-04-06 20:14] #964 closed

[2018-04-06 21:15] amanbha commented on #667
I am closing this issue, if you have further questions please feel free to ping me.
You can also look at for sample: https://github.com/amanbha/servicefabric/blob/master/samples/ActorCustomSerialization/ActorClient/Program.cs#L55

[2018-04-06 21:15] #667 closed

[2018-04-07 01:38] francescocristallo opened #969 "Vanilla template Stateful service Asp.net Core not working version 6.1.480"
I formatted my PC, reinstalled VS2017 on Windows 10 x64 (English International), imported my project and the stateful services were not working anymore. Meanwhile the Refresh 3 came out, I installed it.
Couldn't make the Stateful services work in any way in the local cluster. The stateless works just fine.

I created a new project with an Empty Stateful Asp.net Core service and is not working.
To

[2018-04-07 01:40] rishirsinha commented on #968
The first and second failures are expected as we have had changes that prevent direct upgrade from 5.4 up. The issue with 6.1.480 should not be happening. If you can share the traces, we can take a look and see why it is failing.

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-standalone-package-contents

The link above will explain how to collect logs.

[2018-04-07 02:02] francescocristallo commented on #915
Hi and thanks for your time in replying me.

I did many tests and debugs, I think the main problem was the RAM of the machines.
Using more RAM I was able to use more partitions. I didn't suspect any single working set would use 60MB of RAM.
The reason I need all these partitions is for the concurrent queues, I need to process 10k queues per second and I wanted to scale it creating more partitions.

[2018-04-07 08:03] francescocristallo commented on #969
I'm using SDK 3.0.480
I think this is related to #619

[2018-04-09 02:27] dkkapur commented on #883
Going to close this for now - please let me know if you want to reopen it for a reason, or feel free to open up a new issue! Thanks!

[2018-04-09 02:27] #883 closed

[2018-04-09 02:27] dkkapur commented on #924
Going to close this for now - please let me know if you want to reopen it for a reason, or feel free to open up a new issue! Thanks!

[2018-04-09 02:27] #924 closed

[2018-04-09 02:29] dkkapur commented on #652
I think this was taken care of. Please let me know if you are still facing this!

[2018-04-09 02:29] #652 closed

[2018-04-09 02:29] dkkapur commented on #594
Going to close this for now - please let me know if you want to reopen it for a reason, or feel free to open up a new issue! Thanks!

[2018-04-09 02:29] #594 closed

[2018-04-09 02:29] dkkapur commented on #749
Going to close this for now - please let me know if you want to reopen it for a reason, or feel free to open up a new issue! Thanks!

[2018-04-09 02:29] #749 closed

[2018-04-09 02:29] dkkapur commented on #457
Going to close this for now - please let me know if you want to reopen it for a reason, or feel free to open up a new issue! Thanks!

[2018-04-09 02:29] #457 closed

[2018-04-09 02:30] dkkapur commented on #629
Thanks for this. Going to go ahead and close the issue now. Let us know if there are still issues!

[2018-04-09 02:30] #629 closed

[2018-04-09 08:30] OlegKarasik commented on #892
Sorry for late response. Today I have reproduced the issue again. Here are more details:

I create services with placement constraints using <DefaultServices /> in ApplicationManifest.xml configuration. It worth mentioning I do this on empty cluster (no applications or services are deployed).

I agree. Unfortunately currently this is required (probably I would try to change this in future but for

[2018-04-09 08:40] crowbar27 commented on #968
I have looked at the link and I believe you are referring to the StandaloneLogCollector. I have tried running `.\StandaloneLogCollector.exe -StartUtcTime "$([DateTime]::UtcNow.ToString("u"))" -Output c:\tmp\logs`, but it seems that the "StorageConnectionString" parameter "provided by Microsoft support steam in the format of a SAS URL", which I do not have, is mandatory. However, I also have a lot

[2018-04-09 08:58] tuhland commented on #958
We have the same issue, including slow remote connection to that node. Fabric.exe goes up to 900MB-1GB of memory usage. We then usually restart that node. It's a 5 node cluster, Windows Server 2012 R2 with 4GB RAM.

[2018-04-09 13:18] NArnott commented on #954
I think a max retry option even for transient errors would be helpful. How else could we maintain an SLA using remoting? I don't like the idea of these calls hanging (for whatever reason) for days, weeks, etc. If not by default, it makes sense to be able to set an an upper cap so it can finally error out and let us log it so we can't find the issue.

[2018-04-09 15:37] mani-ramaswamy commented on #960
We don't yet support multi-machine stand alone Linux clusters. However, this will be released in the upcoming months.

[2018-04-09 17:17] slandsaw commented on #958
Same here. Runtime version is 6.1.472.9494. The memory usage is only high on two of the nodes (primary and secondary maybe?).

[2018-04-09 17:37] hrushib commented on #921
@ViktorHofer can you look at the project definitions in the repo shared by @rchien and confirm if the project definitions is correct?
Even adding <RuntimeFrameworkVersion>2.0.4</RuntimeFrameworkVersion>is helping to get system defined exceptions serialized.

[2018-04-09 19:29] abatishchev commented on #936
I'm troubleshooting unrelated issue, turned on Fusion Logging and saw the following error:

[code]

And indeed Microsoft.ServiceFabric.Data.Interfaces.dll was not present in C:\SfDevCluster\Data\_App\_Node_0\__FabricSystem_App4294967295\FAS.Code.Current.

However all services of the only application being deployed on my local cluster have the following:

[code]

[2018-04-09 19:30] suchiagicha commented on #954
You can have cancellation token as a parameter to your remote method in your remoting Interface , That way it wont get hang in these kind of scenarios.
E,g You can also pass timeout to cancellation token.

[2018-04-09 19:34] abatishchev commented on #936
And another error:

[code]

And again `System.Fabric.Strings.DLL` is not present in `C:\SfDevCluster\Data\_Node_0\Fabric\DCA.Code\`

[2018-04-09 19:39] abatishchev commented on #936
Does the code rely these assemblies to present in GAC? For me they weren't there. Registered. Will see whether it'll fix those crashes.

[2018-04-09 19:52] NArnott commented on #954
@suchiagicha That would be very helpful. Is there any documentation on this? Maybe some examples?

[2018-04-09 20:11] rishirsinha commented on #968
@maburlik can you check what is happening here?

[2018-04-09 20:29] suchiagicha commented on #954
Below Api has a cancellation token as parameter. Here is an article on how to use cancellation token
https://msdn.microsoft.com/en-us/library/system.threading.cancellationtoken(v=vs.110).aspx

public interface IMyService : IService
{

  Task<string> HelloWorldAsyncWithToken(CancellationToken cancellationtoken);
}

[2018-04-10 00:41] alexwun commented on #965
What are the warnings and errors from the Service Fabric source in Event Viewer? Or health events showing up in Azure portal for this partition (if any)?

[2018-04-10 01:37] lin-jianjun commented on #960
Thank you very much!I also want to know whether FabricDeploy does not support or service fabric does not support.In addition, service fabric has those capabilities that are not supported.

[2018-04-10 11:31] MathijsHofkens opened #970 "FabricInstallerSvc and FabricHostSvc stuck at "Starting" after updating to 6.1.480.9494"
I have a 5 node on-prem cluster which is running 6.1.480.9494. After updating to 6.1.480.9494, one of my nodes is stuck at starting both services.

I tried killing them manually and starting, but without success. How can I investigate this on my own?

Windows Event Log:
`Faulting application name: FabricInstallerService.exe, version: 6.1.480.9494, time stamp: 0x5ab1bf1a
Faulting module name: Fabri

[2018-04-10 11:57] hrushib commented on #969
@francescocristallo, as mentioned in earlier incidents this mainly happens due to known issue with CoreCLR dotnet/coreclr#12668 on non en-us version of Windows 10 which results in Stateful service process crashing with -2146232797, refer to #619 for details.

This issue is fixed in 2.0.3 version of coreclr, so you can use this version or higher to get your code running without the above work aroun

[2018-04-10 11:57] #969 closed

[2018-04-10 13:29] hrushib commented on #921
@rchien please add below line under `PropertyGroup` to Web1.csproj and Stateless1.csproj to get system exception serialization work as expected.
`<RuntimeFrameworkVersion>2.0.4</RuntimeFrameworkVersion>`

Please confirm if this is working as expected on your end.

[2018-04-10 15:10] lassegraves commented on #751
Just a note on that: The behaviour of IReliableDictionary.SetAsync() is the same as IReliableDictionary.AddOrUpdateAsync().

[2018-04-10 15:44] NArnott commented on #954
@suchiagicha I am familiar with cancellation tokens. I was hoping for some documentation on their use with SF remoting. The example you gave is simple enough, but what about when other parameters are used? If the token is canceled, is that signal passed to the service side as well? I'm hoping to find documentation that explains all that.

[2018-04-11 06:04] nareshkhatri81 commented on #965
@alexwun - i don't see any service fabric source in event viewer. does it come under applications,system etc ?
does SF logs all errors in event viewer ?
we are running cluster onpremise.
is there any tool you suggest for looking into all errors in cluster ?

[2018-04-11 06:10] nareshkhatri81 commented on #937
@RajeetN @xunlu
There are no instructions of ordering or which version of docker SF supports.

[2018-04-11 07:26] raunakpandya commented on #841
DNS service had an issue with ICS alongside. This I believe was fixed in recent release. Regarding your original problem, we would need logs to investigate that further. For now, assuming you are not facing any issue. I am closing this. Please reopen if you still have this issue.

[2018-04-11 07:26] #841 closed

[2018-04-11 07:42] hrushib commented on #921
@rchien, closing this as the above steps will resolve the issue. In case you are still facing issues on your end then reopen this with more details.

[2018-04-11 07:42] #921 closed

[2018-04-11 11:51] maburlik commented on #804
Thanks @adduxa. These steps should be good to update the runtime; with each runtime we also release a new SDK version so in order to pull in the new dev tools you should run the WebPI installer AFTER running the steps above. In such case the new runtime will already be recognized as installed and only the SDK will be installed, which should preserve SF cluster data.

[2018-04-11 12:11] nileshbits opened #971 "DNS service port"
I'm trying to use the SF runtime installed on a VSTS Agent, but the DNS service port is conflicting:
"
DnsService UDP listener is unable to
                        start. Please make sure there are no processes listening on the DNS port 53.
                        List of processes listening on the DNS port:
                          UDP    0.0.0.0:53             *:*

[2018-04-11 12:33] firecapella commented on #714
A tutorial would really help a lot.  I'm having trouble from the default template package that Visual Studio installs automatically.  When an MVC/webapi project is created without service fabric, visual studio automatically prompts you to install a certificate to make local development work with SSL work, but when making a new project with Visual Studio using the service fabric templates for MVC/a

[2018-04-11 13:26] nileshbits opened #972 "DNS Service startup issue"
Im having a DNS service startup issue:
"
DnsService UDP listener is unable to
                        start. Please make sure there are no processes listening on the DNS port 53.
                        List of processes listening on the DNS port:
                          UDP    0.0.0.0:53             *:*                                    8576
                        "

`netstat -ano` also gives

[2018-04-11 16:32] hkuizenga commented on #963
@olitomlinson How did you delete those "random unhealthy nodes"?  I tried an AddNode to an existing cluster with the 6.1.480.9494 install files (which failed) and ended up with a node named similarly to the one you are showing above.  So far, I've been unable to delete it.

[2018-04-11 16:38] bryanlikes commented on #711
Any movement on this?

[2018-04-11 16:44] olitomlinson commented on #963
I deleted them in SFE

Sent from my iPhone

[2018-04-11 16:50] hkuizenga commented on #963
This may be a dumb question, but how did you do in SFE?  I didn’t know that was possible (NOTE:  My cluster is at v6.1.472.9494).

From: Oliver Tomlinson [mailto:notifications@github.com]
Sent: Wednesday, April 11, 2018 9:44 AM
To: Azure/service-fabric-issues <service-fabric-issues@noreply.github.com>
Cc: Howard Kuizenga <hkuizenga@redrocktechsolutions.com>; Comment <comment@noreply.github.com>
Su

[2018-04-11 16:56] Telavian opened #973 "Deployment fails when nodes are in an error state"
5 node cluster
6.1.472.9494

During development I have sometimes deployed and seen various errors on startup. Most of the times these errors were related to my code which I immediately fix and deploy again.

However it seems if the nodes are in an error state then the deployment has a hard time removing the old and then updating with the new. Almost always there is a timeout during the removal por

[2018-04-11 17:05] mani-ramaswamy commented on #960
Sorry, not following your question. We are not supporting any multi-machine Linux cluster outside of Azure today.

[2018-04-11 17:39] masnider commented on #971
_Usually_ this is ICS (internet connection sharing). If you stop and disable that service (Which Windows recently started auto-starting), then this goes away. The DNS protocol itself is bound to port 53, so there's no good way to "change the port" and have DNS still work.

[2018-04-11 17:40] masnider commented on #972
This is probably the same thing as https://github.com/Azure/service-fabric-issues/issues/971, but on a local box I presume?

[2018-04-11 17:42] masnider commented on #973
Are the _nodes_ unhealthy (ex: down, or have some specific health error reported against them), or is it the application/service that has the error?

[2018-04-11 18:03] yltor commented on #882
How many services are there in the cluster totally? Are other services also partitioned services? Was the overall primary counts (for all services) balanced in the cluster?

[2018-04-11 18:09] rchien commented on #921
Confirmed to work in both sample and real project. Thanks @hrushib!

My only suggestion is to make sure the property is in all projects not just calling and called project. An easy way to do this is through `Directory.Build.props`

[2018-04-11 18:17] olitomlinson commented on #963
There is an options menu against each node on the left. In there is an option called ‘Remove Node State’ which is what I used. Disclaimer: Make sure you are 100% before you do this as it’s a destructive and not reversible.

Sent from my iPhone

[2018-04-11 18:44] oanapl commented on #952
Haven't heard back in a bit and the initial problem was resolved. @patrikSE83 , please let me know if my suggestions above help and if you have any clarifications for the feature requests.
I will close for now, feel free to re-open with more info.

[2018-04-11 18:44] #952 closed

[2018-04-11 19:01] Telavian commented on #973
It is the app specifically.

On Wed, Apr 11, 2018 at 10:42 AM, Matt <notifications@github.com> wrote:

[2018-04-11 19:02] mhatreabhay commented on #163
bug is created for enhancement. Closing issue.

[2018-04-11 19:02] #163 closed

[2018-04-11 19:02] mhatreabhay commented on #154
Enhancement. Bug is created against me. closing this issue.

[2018-04-11 19:02] #154 closed

[2018-04-11 19:42] hkuizenga opened #974 "AddNode.ps1 fails with on-premise cluster using Windows Security (not gMSA)"
I am attempting to add a node to an existing cluster secured with Windows Security (but not using gMSA).  When I run AddNode.ps1, I get the following warnings:

... followed by an error that begins with...

In looking at the implementation of AddNode.ps1, since the Connect_ServiceFabricCluster call is inside the try block, a failure to connect will result in the "runtime package" error.  Because C

[2018-04-11 20:10] nileshbits commented on #972
sorry, I added a new issue by mistake, should've updated here. Closing this one.

[2018-04-11 20:10] #972 closed

[2018-04-11 20:13] nileshbits commented on #971
yes, even my independent research threw up the same culprit. Not sure if there is a way around this other than turning off ICS, please let me know how the SF team works with this - I'm guessing you would have the same problem when testing SF? Thanks.

[2018-04-11 20:36] ChackDan commented on #136
Internal use only - workitems id=8915692

[2018-04-11 20:47] jmaocanada commented on #966
I don't think this is a bug. Actor (not the proxy) actually runs in another context or even another node of the cluster. So we cannot expect it is in the same thread with the same current culture at all.
What about just pass the culture name as a parameter when you call your actor? Such as:
`await actor.CallExampleFunction(Thread.CurrentThread.CurrentCulture.Name).ConfigureAwait(false);`

[2018-04-11 20:56] suneetnangia commented on #813
When is the fix expected please?

[2018-04-11 21:00] abatishchev commented on #813
The fix is already available for about 2 months now

[2018-04-11 21:42] amanbha commented on #420
HI @antogh  Do you still see issues with the Systray tool?

[2018-04-11 22:25] suchiagicha commented on #918
@OlegKarasik
We think cancellation token should be enough for those cases.

[2018-04-11 22:28] suchiagicha commented on #783
Please re-open this issue if you need more information.

[2018-04-11 22:28] #783 closed

[2018-04-11 22:29] suchiagicha commented on #514
Please re-open if you need more information

[2018-04-11 22:29] #514 closed

[2018-04-12 01:03] amanbha commented on #966
@eliasnawfal What @jmaocanada explained is correct and the option suggested by him can be used.
You can also add the culture info in the headers on the client side, and retrieve it on the service side using custom client proxy and custom message handlers, you can then pass it to method calls by adding it to the CallContext. Following sample demonstrates this using ServiceFabric V2 Remoting https:/

[2018-04-12 04:56] rishirsinha commented on #960
There is nothing that inherently prevents creation of multi-machine standalone clusters on Linux. However, the work to make it come together has not happened yet.

[2018-04-12 05:48] nareshkhatri81 opened #975 "Question Service Fabric - Retrieving Secret Mgmt inside containers"
Team,

i was looking in to service fabric secret mgmt.
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-secret-management

i am thinking is it possible to use this inside containers ?
it uses certificate for encryption and decryption which are stored on host.
As containers runs in its own isolation, will they be able to retrieve secrets ?

ConfigurationPackage confi

[2018-04-12 07:58] hrushib commented on #921
@rchien, thanks for the confirmation.

[2018-04-12 10:34] gumaflux opened #976 "Service Fabric SDK 3.0.480 installation error while installing Service Fabric Runtime 6.1.480"
Trying to install Service Fabric SDK 3.0.480 for VS 2017 I get the following error message in the PI installer log:

DownloadManager Error: 0 : **Exception installing 'Microsoft Azure Service Fabric Runtime - 6.1.480'. Exception: System.ComponentModel.Win32Exception: Unknown error (0xffffffff)**
   at System.Diagnostics.Process.StartWithShellExecuteEx(ProcessStartInfo startInfo)
   at System.Diagn

[2018-04-12 15:20] MathijsHofkens opened #977 "DockerProcessManager failed to transition state error FABRIC_E_INVALID_OPERATION current state 64"
After installing a new cluster we are seeing a few error logs:

`DockerProcessManager failed to transition state error FABRIC_E_INVALID_OPERATION current state 64`

and

`The current process does not have required privilege SeAssignPrimaryTokenPrivilege. Modify the local security policy or run the process under an account that has this privilege.`

What do those mean?

[2018-04-12 15:52] tonyhxh commented on #951
I am facing the same problem. This is an effort to install ServiceBus_1_1_TLS_1_2, and make workflow manger 1.0 work with TLS 1.2. After installation, when trying to do add-sbhost, I saw this problem in Microsoft-Service Fabric Admin event log.

Thanks
Tony

[2018-04-12 15:57] alexwun commented on #965
Local Service Fabric error and warning logs should appear in Event Viewer under "Custom Views" -> "Administrative Events" by default. That said, not all local warnings necessarily indicate an issue and are cause for concern. It's better to look at the health of the overall cluster through the Azure portal first to determine if there are any real issues:

https://docs.microsoft.com/en-us/azure/serv

[2018-04-12 16:10] Tadimsky commented on #921
With 2.1 you won't need to specify this anymore which will be nice - it will always use the latest version your SDK knows about - https://blogs.msdn.microsoft.com/dotnet/2018/04/11/announcing-net-core-2-1-preview-2/

[2018-04-12 16:55] NArnott commented on #954
@suchiagicha Is there a way to hook into the pipeline directly? For example, to set a default max timeout of 30 seconds without having to add that argument to all the remoting methods?

[2018-04-12 17:32] kavyako commented on #421
Closing this issue since it is not a reverse proxy issue.

[2018-04-12 17:32] #421 closed

[2018-04-12 17:43] eliasnawfal commented on #966
@amanbha @jmaocanada
I already implemented @jmaocanada way and passed Culture as a string in all my Actors' method for the sake of time.
I will look into the example on Github for later Implementation.

Thank you for your time and fast response

[2018-04-12 17:43] #966 closed

[2018-04-12 18:16] suchiagicha commented on #954
@NArnott
No. We recommend users to use cancellationToken in there Api . In case of long-running operation , cancellation token helps you to cancel the operation on service side if needed, Retry setting wont in this case.

[2018-04-13 03:11] lin-jianjun commented on #960
@rishirsinha

[2018-04-13 03:11] lin-jianjun commented on #960
@rishirsinha

[2018-04-13 03:12] lin-jianjun commented on #960
@rishirsinha

[2018-04-13 03:13] lin-jianjun commented on #960
@rishirsinha

[2018-04-13 03:25] lin-jianjun opened #978 "Does the container support stateful service"
Service fabric services are divided into stateful and stateless services.

In addition, container deployment is one of the service deployment methods;can i do stateful service in container?

If so, how can I do it?

Thanks!

[2018-04-13 03:39] mani-ramaswamy commented on #960
It will come in the upcoming months.

[2018-04-13 04:08] nareshkhatri81 commented on #965
@alexwun
i can see logs in event viewer but when i try to query same using powershell  Get-EventLog.
its not able to find logName with that name. am i missing something ?

 Get-EventLog -LogName 'Microsoft-Service Fabric/Admin' -Source 'Microsoft-Service Fabric' -EntryType Error -After (Get-Date).AddDays(-2) | Sort-Object Time

is it possible to log verbose information in event viewer ? or we have

[2018-04-13 05:26] benbenwilde commented on #502
updated link for using V2 in actors https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-actors-using#actor-using-remoting-v2-stack

[2018-04-13 12:39] lAnubisl commented on #347
Please don't close this ticket until fix is widely available.

[2018-04-13 13:30] govjobss opened #979 "Multi region service fabric node placement"
Hi, as per https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-disaster-recovery service fabric support multi region but i m not able to find how can i place nodes / vnets to cover multi region support for service fabric cluster so that the cluster will be available in case of disaster in one region (very unlikely but still want to know option).

if this is not possible then do we

[2018-04-13 13:36] yderi opened #980 "Standalone cluster with X509 certs setup failed:System.InvalidOperationException: There is an error in XML document"
Hello every one
Trying to setup Standalone Service Fabric Cluster with X509 certificates.
Here is the command `.\CreateServiceFabricCluster.ps1 -ClusterConfigFilePath .\X509-3.json -AcceptEULA -Verbose`
Getting an error: `...There is an error in XML document....`
Here is the some part of messages in powershell window
`PS C:\Fabric> .\CreateServiceFabricCluster.ps1 -ClusterConfigFilePath .\X509-3.j

[2018-04-13 14:16] yderi commented on #980
Just have foud this section line
`<Section Name="Security/AdminClientX509Names">
     <Parameter Name="FS-ClientCert" />
     <Parameter Name="FS-ClusterCert" Value="" />
   </Section>`
Why it happen like this?

[2018-04-13 15:11] alexwun commented on #965
Service Fabric Explorer can still be used in on-premise clusters. You just need to use the HTTP port configured in the cluster manifest:

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-visualizing-your-cluster

There are also PowerShell cmdlets for looking at the aggregated health of the cluster and applications:

https://docs.microsoft.com/en-us/azure/service-fabric/service-

[2018-04-13 17:16] antogh commented on #420
Hi @amanbha
yes I still have the same issue , but honestly didnt upgrade the software since i created this post
Is there any sw update available that could fix this?
How can i check my current version to compare with what is available now?

[2018-04-13 17:28] antogh commented on #420
also the win 2012R2 VM  is 3.0.480

can you help me to set up the cluster in a way that starts automatically at power on?
As i said in this VM if its restarted for any reason the cluster starts in a stopped status and stays like this until someone log in and click on "start" from the tray icon, this is very annoying and creating hiccups / blocked services on a demo machine that should possibly sta

[2018-04-13 17:34] hkuizenga commented on #974
Any feedback on the above question?  As I understand, our configuration is still supported and we have production clusters that we'll need to add nodes to shortly.  Thanks.

[2018-04-13 17:35] amanbha commented on #420
Thanks for verifying @antogh . You mentioned 2 issues: 1) Menu taking long time when you right click on it. 2) When you click to create cluster, it says cluster is already created. Are both of them happening now?
Could you also query the state of FabricHostSvc when this happens.  sc query FabrichostSvc

[2018-04-13 17:38] rakshitatandon commented on #974
AddNode.ps1 is just a helper script. You can take a look at the commands being invoked in the script and it should be a small modification if you want to run it within a secure cluster. For adding nodes you basically need to invoke Add-ServiceFabricNode cmdlet. The script wraps it up for you.

[2018-04-13 17:40] antogh commented on #420
thanks @amanbha
yes 2 issue on 2 separate machines , the long delay on win10 pro , the cluster to start manually on win2012 server

on win10 now the state is
SERVICE_NAME: FabrichostSvc
        TYPE               : 10  WIN32_OWN_PROCESS
        STATE              : 1  STOPPED
        WIN32_EXIT_CODE    : 1077  (0x435)
        SERVICE_EXIT_CODE  : 0  (0x0)
        CHECKPOINT         : 0x0
        W

[2018-04-13 17:43] hkuizenga commented on #974
If I modify AddNode.ps1 to have `-WindowsCredential` on the Connect-ServiceFabricCluster, should that be enough?

[2018-04-13 17:44] antogh commented on #420
the state corresponds to the real situation, in win10 machine the cluster is stopped
in win2012 I started it manually this morning from the tray icon, after discovering the server was auto restarted for upgrade and my demo was down / not available to my customers 😞

[2018-04-13 17:44] amanbha commented on #420
Thanks for sharing the info.
Reg your question on how to start cluster automatically on a reboot:
Once you setup the cluster, you can set the FabricHostSvc to start automatically by running from admin command prompt: sc config FabricHostSvc start=auto
This will start the cluster after reboots automatically.

[2018-04-13 17:46] antogh commented on #420
thanks @amanbha thats a great relief (the auto start) I will try and update here

what about the long delay , only in win10 pro I believe, the server is not showing this issue it seems...

[2018-04-13 17:48] rakshitatandon commented on #974
Yes that should work. Please make sure you have internet access or explicitly provide the $FabricRuntimePackagePath.

[2018-04-13 17:50] antogh commented on #420
unfortunately I have to leave now, but it was great to have this real time exchange of info, very useful, thanks

Later or tomorrow I will do further tests and update this thread, I guess the issue2 should be solved (thanks to your advice) and the issue1 is still alive and need to be solved , but I will be more precise later.

[2018-04-13 17:54] antogh commented on #420
sorry @amanbha just a quick last question before I leave ,
I noticed in  my original post when I created the issue I mentioned I just upgrade to SDK 2.7.198  , then I checked now and I have the 3.0.480 on both machines, but I dont remember I ever updated the SDK .
Does the SDK upgrade automatically with windows update?

[2018-04-13 17:59] amanbha commented on #420
AFAIK its not updated by itself. If you want more info or still having issues with this, we can have skype call, you can send me the request at amanbha@microsoft.com

[2018-04-13 18:03] antogh commented on #420
thanks @amanbha
you gave already a great help
we will stay in touch either here or skype if needed
I will update soon my findings
I am confident we will clarify all the issues

[2018-04-13 19:26] rakshitatandon commented on #974
Is this machine part of the machine list/machine group whitelisted under "ClusterIdentity". Can you also make sure there is no pre-existing Fabric installation on this machine. You might want to run CleanFabric.psd1 on this machine.

[2018-04-13 20:00] hkuizenga commented on #974
Yes it is.  I ran CleanFabric.ps1, re-tried and got the same result.  Could the following two lines in the error be a clue?

`.\AddNode.ps1 -NodeName USW-TRA-SFIN-4 -NodeType InternalAPI -NodeIPAddressorFQDN USW-TRA-SFIN-4 -ExistingClientConnectionEndpoint 10.137.211.134:19000 -UpgradeDomain UD3 -FaultDomain fd:/dc1/r0 -AcceptEULA`

What else can we look at?

[2018-04-13 22:25] GopiMtp commented on #714
@rwike77 yeah, Sample to host web api's thru HTTPS would be a definite need in MS Docs. It would definately help lot of SF beginners like me.

[2018-04-13 22:58] hkuizenga commented on #974
I may be making progress.  We realized that the machine group we have defined in "ClusterIdentity" wasn't part of the new node's Administrator group.  We resolve that and it at least seems like the firewall messages have gone away.  Now we just get a lot of these....

`4/11/2018 11:35:36 AM - PROD-IN-4 - Error - communication open failed with FABRIC_E_INVALID_CONFIGURATION
4/11/2018 11:35:36 AM -

[2018-04-13 23:12] rwike77 commented on #714
@GopiMtp @firecapella @blrchen  Apologies for the delay on this.  The process is actually different than what @WhitWaldo outlined previously.  I'm working out some details, hopefully this will get you unblocked for now.

Using Kestrel, you don't need to update the ApplicationManifest.xml file at all.  The ServiceManifest.xml file needs to define the HTTPS endpoint.

You need to import the certific

[2018-04-14 10:07] antogh commented on #420
Hi @amanbha,
I made some tests and I wanted to report you the results.

On the win 2012R2 VM everything works fine, the tray icon is functional and responsive right after the power on.

On the win 10 pro phisical machine there is a problem with the tray icon, after power on it takes minutes to show the right click menu. The issue is described very well with pictures in my first post in this thread

[2018-04-14 13:26] hkuizenga commented on #974
So, I suspect that the results of `Test-ServiceFabricConfiguration` above were the result of the fact that service fabric is already installed on those nodes.  I re-ran `TestConfiguration.ps1` using a config file with the new node defined as well as the current config as the "old" parameter, and it all passed.  I ran this on the node I'm trying to add.

In addition, after each attempt, SF explorer

[2018-04-14 17:42] masnider commented on #979
[Here's ](https://github.com/ChackDan/Service-Fabric/tree/master/ARM%20Templates/Multi%20Region%20Spanning%20Sample) an example. It's not fully fleshed out (you should probably not have node types that span all the regions, but you can set up placement constraints so that your workloads end up spanned (NodeType == NT1 || NodeType == NT2).

[2018-04-15 11:53] vladislav-karamfilov commented on #496
I also see this with latest version 6.1.480

[2018-04-15 16:10] aman-agrawal-coolblue commented on #249
I am having similar issues starting my local cluster, it was working a few days ago but yesterday I decided to download and install the version 3.x of the SDK and the apparently the world fell apart. Nothing in the logs that would point to anything obvious. My Windows Firewall is all up and running, the fabric host service is not being blocked by it but all I can see is the FabricHostSvc going in

[2018-04-15 16:12] explorer14 commented on #249
I am having similar issues starting my local cluster, it was working a few days ago but yesterday I decided to download and install the version 3.x of the SDK and the apparently the world fell apart. Nothing in the logs that would point to anything obvious. My Windows Firewall is all up and running, the fabric host service is not being blocked by it but all I can see is the FabricHostSvc going in

[2018-04-16 06:46] lin-jianjun opened #981 "Can I use the native and managed APIs to write applications in C++?"
Application programming documentprovides only c # and JAVA.
 (https://docs.microsoft.com/zh-cn/azure/service-fabric/service-fabric-create-your-first-linux-
application-with-csharp)

  Can I use the native and managed apis to write applications in C++? Are there any documents that use c++ programming?

[2018-04-16 11:35] jspuij commented on #796
Why was this closed? Stopping ICS is not really a nice workaround since it will disable internet for your VM's and ICS auto restarts on reboot. It also seems to restart based on schedule / triggered events, because when you leave your machine overnight, it will restart ICS.
Subsequently the service fabric DNS service will fail / try rebinding to port 53 until memory is exhausted. I had a FabricDns

[2018-04-16 16:01] ojasp commented on #138
I need this in the new portal as well, any updates @sahebg ?

[2018-04-16 16:42] profet23 opened #982 "System/DnsService stuck in "Deleting" state"
Getting this error for all instances on all nodes for the `fabric:/System/DnsService`:

[code]

Status is stuck on "Deleting"

Not sure how to proceed. Any help would be appreciated.

This is happening in a remote Azure cluster.

[2018-04-16 16:43] amanbha commented on #420
@antogh  I have confirmed with my team, the SDK is not upgraded automatically.. For the 1st issue, when you set the serviced to auto using  sc config FabricHostSvc start=auto, does it still happens?

[2018-04-16 16:46] oanapl commented on #796
@jspuij , in our incoming release, 6.2, you won't have to stop the ICS anymore, we fixed the sharing violation.
We also have a fix for the memory leak (which didn't make it in 6.2 unfortunately). This bug only manifests when the service fails to start in a loop, so with the previous change you won't see it.

[2018-04-16 17:03] tbertenshaw commented on #796
brilliant @oanapl  :)

[2018-04-16 17:39] antogh commented on #420
@amanbha

Next SDK upgrade I will check and eventually report here/you

Just checked, the local cluster does start at power on (all the services work) but the tray icon problem persists, ~ 3 minutes to display the menu , start/stop grayed out, only option setup cluster, I click it , it says already setup and from then on it works fine .

[2018-04-16 17:42] antogh commented on #420
@amanbha
forgot to ask:
is there a document describing all the commands I can give with the
sc config FabricHostSvc ...

[2018-04-16 17:49] antogh commented on #420
@amanbha
weird messages at power on also in the windows notification area

![sf_icon_problem](https://user-images.githubusercontent.com/8667587/38826062-fd6d9f5c-41ae-11e8-8c4f-7e406097bcde.png)

it happens only on this machine win 10 pro, the win 2012 r2 server works fine

[2018-04-16 18:28] amanbha commented on #420
@antogh  Reg. sc config: is standard command to manage NT Services, FabricHostSvc is just another service so all those commands apply to it  Reg. the issue: it looks like on power-on its taking sometime to get the current state on Windows 10 Pro. Could you share the traces from C:\SfDevCluster\Log\Traces and the time when you see the issue?

[2018-04-16 19:54] hkuizenga commented on #974
During my last attempt, I watched Event Viewer to see if there were any hints about what went wrong and when.  The first three warnings I saw were as follows:

`Copy of Powershell from C:\Program Files\Microsoft Service Fabric\bin\WindowsFabric to C:\Windows\system32\WindowsPowerShell\v1.0\Modules\WindowsFabric Failed`

`CreateFileW failed: file=\\?\C:\ProgramData\SF\FabricHostSettings.xml error=3

[2018-04-16 21:26] wandelson commented on #497
![image](https://user-images.githubusercontent.com/810174/38836134-8800c72c-41a3-11e8-9b16-68843aad2716.png)

using Microsoft.ServiceFabric.Services.Remoting.V2.FabricTransport.Runtime;

Why ?

[2018-04-16 21:27] rakshitatandon commented on #980
You need to specify "CertificateIssuerThumbprint": "[Thumbprint]" under "ClientCertificateCommonNames"

[2018-04-16 21:57] wandelson commented on #497
I think this documentation confuse

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-remoting#how-to-use-custom-serialization-with-remoting-v2

[2018-04-16 22:55] MicahMcKittrick-MSFT commented on #974
Linking the duplicate issue from MSDN: https://social.msdn.microsoft.com/Forums/azure/en-US/b5cbaa3b-2d4a-4817-b3c1-8515f570fd56/unable-to-add-node-to-onpremise-cluster?forum=AzureServiceFabric

@rakshitatandon, @dkkapur, @rishirsinha any other suggestions on this? Not sure if we should just remove the node and start again with the addnode.ps1 including the `-windowscrendential` from the beginning

[2018-04-16 23:00] hkuizenga commented on #974
To clarify, I've removed the partially installed node (`nodeid:c995cea53f8e67e98b84c58185b53e10`) a number of times and re-installed with `AddNode.ps1` w/ `-WindowsCredential`.  Each time it produces the same results documented above.

Thanks for linking the issue above.  I submitted it there as well in an attempt to get more eyes on the issue.

[2018-04-16 23:06] rakshitatandon commented on #974
From the above, it seems like Fabric node is failing to open. My guess is this is most likely an authentication failure. Can you share the json you are using ? We'll also need access to the traces from the cluster to detect why authentication is failing. The machine you are adding is domain joined and that domain is whitelisted in your configuration ?

[2018-04-16 23:18] hkuizenga commented on #974
Thanks @rakshitatandon.  I'll get that information for you tomorrow.  Is there a way I can get you that information without posting it on the forum?

[2018-04-16 23:19] rakshitatandon commented on #974
Yes please mail it to ratando@microsoft.com.

[2018-04-17 01:15] lin-jianjun commented on #981
@masnider Thank you very much.
Are there any detailed documents that use C# programming?
The documentation I know now is relatively simple.
(documentation site:https://docs.microsoft.com/zh-cn/azure/service-fabric/service-fabric-reliable-services-introduction)

[2018-04-17 05:47] nareshkhatri81 opened #983 "Service Fabric sfctl command"
Team,

With Service Fabric Project, we were able to see service fabric pulls images from ECR.
i am trying to use sfctl command to achieve same thing like below.

sfctl compose create --deployment-name rf --file-path D:\test\docker-composefull.yml --user AWS --encrypted-pass 'Long token which we get by using aws ecr get-login --no-include-email --region us-east-2'

Below is how we are providing in

[2018-04-17 06:08] NanashiGIT commented on #917
Even after upgrading our cluster we are still facing the issue of memory leaking fabric.exe which leads to massive slowdowns. We run a 5 Node cluster with 4 gb ram. The version is 6.1.480.9494.

@robgonfer Are you sure just a cluster version upgrade solved your problems or did you do anything else that might have fixed it?

[2018-04-17 08:48] nareshkhatri81 commented on #983
figure it out solution.

[2018-04-17 08:48] #983 closed

[2018-04-17 10:01] hiteshg40 opened #984 "Environment variable passed in service manifest file is visible in the service fabric explorer"
I have a requirement to pass the database credentials to the docker instance created by service fabric. This works if I pass the value as an environment variable in the service manifest files. However the problem is around being able to view this value in the service fabric explorer. Is there a way where I can filter out the content/manifest value from the explorer?

[2018-04-17 10:12] jspuij commented on #796
Thank you @oanapl for the info. Looking forward to the fixes.

[2018-04-17 12:57] thomas-hammond opened #985 "."

[2018-04-17 13:04] wandelson opened #986 "How to upgrade from Remoting V1 to Remoting V2."
![image](https://user-images.githubusercontent.com/810174/38836134-8800c72c-41a3-11e8-9b16-68843aad2716.png)

Why ? What's the namespace ? I think this documentation confuse.

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-remoting#how-to-use-custom-serialization-with-remoting-v2

below the code, this my github. can you help me ?

https://githu

[2018-04-17 14:18] Marusyk commented on #449
any updates? This is critical to our development process. We can't spend so much time for debugging app !
 I have only 7 services. How long start application with 100+ services?

[2018-04-17 15:57] mani-ramaswamy commented on #960
What do you mean by "internal" and "external" SF clusters?

[2018-04-17 16:05] mani-ramaswamy commented on #975
There is an issue with the exported cert https://github.com/Azure/service-fabric-issues/issues/448 that is fixed in 6.2.  Meanwhile, adopt the second approach highlighted in the doc:

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-securing-containers

[2018-04-17 16:07] mani-ramaswamy commented on #978
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-services-inside-containers

[2018-04-17 16:08] harahma commented on #977
@MathijsHofkens  Which version of SF is this? Is it a local dev cluster?

[2018-04-17 16:28] MathijsHofkens commented on #977
@harahma 6.1.480.9494, it's a 5 node windows 2016 server cluster.

[2018-04-17 16:53] nareshkhatri81 commented on #975
Is there any api to decrypt secrets?

Once i export certificate inside containers which api of .net should i use to decrypt secrets which are stored in service fabric application metadata file.

Api to encrypt is

Invoke-ServiceFabricEncryptText -CertStore -CertThumbprint "<thumbprint>" -Text "mysecret" -StoreLocation CurrentUser -StoreName My

Api to decrypt inside containers using csharp ?

Whic

[2018-04-17 17:01] harahma commented on #977
The error in themselves are fine and do not necessarily indicate an in itself. Are you seeing any errors/health warnings in Service Fabric Explorer?

[2018-04-17 17:03] MathijsHofkens commented on #977
Ok, great to hear. No errors or warnings in Service Fabric Explorer, but I wanted to make sure the cluster was working.

Is there any document available regarding these error messages? Because they really need clarification.

[2018-04-17 17:10] harahma commented on #977
They are internal transient warning/errors meant for internal usage only. If you observe any health error/warning in SFX or any functionality not working as expected then we can look into it.

[2018-04-17 17:13] MathijsHofkens commented on #977
Ok, I understand. You can close this. Thanks for the feedback, appreciated!

[2018-04-17 21:29] antogh commented on #420
Hi @amanbha , sorry for the delay , the file is too big, I'll share it on one drive tomorrow.

[2018-04-17 21:40] hkuizenga commented on #974
Thank you @rakshitatandon for your help!  A review of the trace files revealed that we hadn't installed and ACL'ed the cert associated with our reverse proxy on our new node.  After resolving this, AddNode.ps1 succeeded.  However, running the ClusterConfig upgrade produced the following error on one of our other nodes.

![image](https://user-images.githubusercontent.com/36278411/38899392-8831c652-

[2018-04-17 23:15] hkuizenga commented on #974
It looks like the issue above is unrelated to adding a node.  I re-ran the cluster upgrade with `-MaxPercentUnhealthyNodes = 20` and we made it through the upgrade successfully, completing the add node process.  As such, I'm going to close out this thread.  Thank you to the MS folks for all of your help!

[2018-04-18 09:29] olitomlinson commented on #884
I'm experiencing the same blocker. I need to be able to override the publish profile when using F5 debugging.

We have two dev teams contributing to the same Service Fabric solution. One team is making adjustments in light of running the solution on prem. Another team is making adjustments in light of running the solution in Azure.

Each team requires different settings through the config like so

[2018-04-18 11:13] yderi commented on #980
We are using  self signed certificates, so is it a mandatory to do this?

[2018-04-18 11:21] cmpcdaly opened #987 "Remoting V2 Upgrades are reverted for actors"
I've added the following assembly attribute to my existing actor interface assemblies:

`[assembly: FabricTransportServiceRemotingProvider(RemotingListener = RemotingListener.CompatListener, RemotingClient = RemotingClient.V2Client)]`

And made the following modifications to my ServiceManifest.XML file (where the first line is removed, denoted by '-', and the second line is added, denoted by '+'):

[2018-04-18 11:35] cmpcdaly commented on #987
So I've realised my mistake just minutes after posting this - I'm using the 'FabricTransportActorRemotingProvider' attribute on actors, when I should be using the 'FabricTransportActorRemotingProvider'. Apologies!

[2018-04-18 11:35] #987 closed

[2018-04-18 13:45] MathijsHofkens opened #988 "Cluster configuration upgrade of type StandAloneBaselineUpgradeState is already in progress and cannot be interrupted."
I'm trying to upgrade the configuration of my cluster. But i'm getting the following error:

[code]

If I execute Get-ServiceFabricClusterConfigurationUpgradeStatus:
[code]

What to do? Logs aren't telling me much...

[2018-04-18 15:12] yderi commented on #988
Login to Service Fabric Explorer and have a look into Details tab, look for nodes that are not completed an update procedure or have some error

[2018-04-18 15:32] harahma commented on #780
@suchiagicha

[2018-04-18 15:34] MathijsHofkens commented on #988
Everything is green... the cluster is 3 days old and this is the first configuration update.

[2018-04-18 16:09] yderi opened #989 "Timed out waiting for Installer Service to complete"
When creating a new standalone Service Fabric with X509 certificates (self signed),
we get an error. With 3 servers only one complete setup, other cannot complete (you can see below it is due to Installer Service cannot complete on other two machines).
Full log from console attached
[ServiceFabric_create_error.txt](https://github.com/Azure/service-fabric-issues/files/1924711/ServiceFabric_create_e

[2018-04-18 16:31] mschulz531 commented on #730
Any update on this? I read a different thread on this topic that talked about rework of the feature that was being impacted by the integration of the linux and windows ReliableCollection code.  Is that a separate issue, or is the timeline for this feature delayed past the end of April?

[2018-04-18 16:39] antogh commented on #420
Hi @amanbha
here is the file you requested
hope you can find some useful info inside
https://1drv.ms/u/s!Ajx3UQDAY502gcU7SPB0Eh4b91Tkow

[2018-04-18 16:53] amanbha commented on #420
Thanks for sharing it @antogh . Could you also share the time (and time zone) when you saw this issue.

[2018-04-18 17:11] antogh commented on #420
the picture I posted above shows one time it happened, as you can see in the  in the notification area it is  16 apr-18 19:16 (italy time)

otherwise another time might be few minutes after the power on this morning, UTC time extracted from event viewer:
<TimeCreated SystemTime="2018-04-18T07:09:48.029523100Z" />

[2018-04-18 17:32] kavyako commented on #659
I would recommend updating to 6.2. We have also added some logic to check for certificate updates and set the right acl's so that reverse proxy has access to the cert s private keys.

Here is a brief summary of the logic:
Case where reverse proxy certs are updated with cluster config upgrade: In this case, reverse proxy should start serving the new certificate immediately after the upgrade is succ

[2018-04-18 17:32] #659 closed

[2018-04-18 17:37] kavyako commented on #927
@jmaocanada  Does the above comment address your concern?
Let us know if you still have any issues.

[2018-04-18 17:42] kavyako commented on #926
For the reverse proxy being unresponsive for 3-5 minutes, I recommend opening a ticket so that we can troubleshoot it.
Providing a URL suffix to return 200 is in our backlog, I ll see if we can get that addressed for the coming release.

[2018-04-18 17:58] kavyako commented on #694
Closing the issue for now.
Please reopen with a repro (websocket client side and service side code) so that we can troubleshoot this.

[2018-04-18 17:58] #694 closed

[2018-04-18 19:12] yderi commented on #988
No matter how old is your cluster. For me I have got such problem right after first time I've setup my cluster.  Investigate each node for node version and look into Detail tab for each node (scroll to the end). Essential tab not always represent a real problem with node.

[2018-04-18 19:47] rishirsinha commented on #988
@MathijsHofkens  @yderi  is right. Please go to the cluster link on the left pane. The on the right pane go to details. scroll down a bit. You will see the upgrade section. This should tell you what is happening with the upgrade. Baseline upgrade should in general finish within a few minutes. So if it is not done for 3 days, it is something we would like to investigate. If you can share traces fro

[2018-04-18 20:46] rn-3 commented on #315
@mani-ramaswamy @RajeetN
Any update on this issue?

[2018-04-18 20:50] RajeetN commented on #315
@rn-3, do you have version tag specified for your image?

[2018-04-18 20:56] rn-3 commented on #315
microsoft/windowsservercore:latest

[2018-04-18 21:01] RajeetN commented on #315
alright, this is not about download from private repository that the original issue reported was about then? Could you please share the traces from your machine? If this is a cluster deployed on azure, please send us the cluster resource name and region.

[2018-04-18 21:02] hkuizenga commented on #988
I'm having the exact same problem.  I want to run a cluster upgrade but got the message above when trying to start it.  I ran `Get-ServiceFabricClusterUpgrade` and got the following:

![image](https://user-images.githubusercontent.com/36278411/38958027-e8ce0754-4310-11e8-9360-b120651ab743.png)

I know what I need to do to fix this UnhealthyEvaluation (ironically, that's why I'm trying to run the c

[2018-04-18 21:18] Flern commented on #711
@bryanlikes I've been able to stand up Docker containers to perform _**builds**_, but that's because I am building with the .NET Core CLI.  It seems the SDK is largely needed for the runtime and deployment activities.  I do have some unit tests that are failing (we run these on the containers) due to missing FabricCommon.dll.  I haven't spent time to try to get past that hurdle.

So we are current

[2018-04-18 21:32] rn-3 commented on #315
I'm getting the same error - 'Failed to download container image hub.docker.com/r/<repo>/<image>'
I'm using a local cluster on a VM. I'm seeing these errors in the Service Fabric Explorer, Where/how do I get traces?

[2018-04-18 21:54] rn-3 commented on #315
I tried deploying again using the docker-compose file and it seems like the Container's have created & started...
Initially, I tried using the Visual Studio Solution & Project template...

[2018-04-18 22:33] hkuizenga commented on #988
@rakshitatandon It looks like the failure action on this is set to Manual.  Assuming I can fix the underlying issue, is it possible to get this started again via the PowerShell scripts?

[2018-04-18 22:40] rakshitatandon commented on #988
No, you wont be able to interrupt the baseline upgrade using another upgrade via Start-ServiceFabricClusterConfigurationUpgrade. We might need to force the upgrade through using a new manifest (which has your issue fixed) and roll that out via Start-ServiceFabricClusterUpgrade. I would advise against doing this without Microsoft support.

[2018-04-18 23:07] rakshitatandon commented on #988
One thing you could try is to fix the DCA issue (you would need to ACL it to Local System if its on the same machine as the cluster node) and then rollout the baseline upgrade again (via Start-ServiceFabricClusterUpgrade).

[2018-04-18 23:08] hkuizenga commented on #988
That's what I was hoping :)  What parameters do I need to use with Start-ServiceFabricClusterUpgrade?

[2018-04-18 23:29] hkuizenga commented on #988
@rakshitatandon Got the following when attempting that command:

![image](https://user-images.githubusercontent.com/36278411/38963226-b89836d0-4325-11e8-83cf-dc26032133c2.png)

[2018-04-18 23:34] rakshitatandon commented on #988
You would have to pass in -CodePackageVersion "<SF Version used for deployment>" parameter as well and remove -Config flag.

[2018-04-18 23:39] hkuizenga commented on #988
@rakshitatandon I ran a number of different variations w/ values for -CodePackageVersion, but still getting red letters.

![image](https://user-images.githubusercontent.com/36278411/38963487-16dfb00a-4327-11e8-913d-d138acf46213.png)

[2018-04-18 23:45] rakshitatandon commented on #988
The CodePackageVersion needs to be the SF Version you are using (if you are using the latest then it would look something like 6.1.480.9494). Please check which version you used for your deployment.

[2018-04-18 23:47] hkuizenga commented on #988
Got it running with that. May still need to resolve the underlying issue, but at least I know how to get the upgrade going again.  Thank you once again.

[2018-04-19 00:07] mattcorr commented on #659
Thanks fo the update... But when will 6.2 be released? when I looked at the [SF blog](https://blogs.msdn.microsoft.com/azureservicefabric/), they only mention 6.1 update 3.

[2018-04-19 00:34] stevshan commented on #663
Changed to use TRY_COM_PARSE_PUBLIC_LONG_STRING instead whose length can be configured via DLL config of FabricCommon.dll.

[2018-04-19 00:34] #663 closed

[2018-04-19 00:35] stevshan commented on #663
The default length is 1024 * 1024.

[2018-04-19 03:09] francescocristallo opened #990 "Question: Stateful Service Dependency Injection with parameters"
I'm stuck in the development because of the issue described here:

https://stackoverflow.com/questions/49910657/service-fabric-stateful-service-dependency-injection-with-parameters

Any help answering my question would be really appreciated.
Thanks

[2018-04-19 07:04] MathijsHofkens commented on #988
@rishirsinha this is the info you requested:
![image](https://user-images.githubusercontent.com/10099914/38976149-a47d3318-43b0-11e8-9792-bfc76128f0f6.png)

How do I collect traces and upload them?

[2018-04-19 07:15] rishirsinha commented on #988
Looks like in this case the cluster baseline upgrade did not even start. Can you send the traces in the fabriclogroot folder from the nodes where UOS primary and CM primary were?

[2018-04-19 07:38] negberts opened #991 "Problems when adding new service during upgrade mode"
We have a couple of services already running on our cluster. We want to add a new service (the DocumentService) which is referenced by other services to get documents from azure blob storage. These other services create an instance of the new DocumentService in the runasync method.

We cannot get this upgrade done. All the upgrade domains get the 'green flag' but when we look at the nodes the Pim.

[2018-04-19 07:42] usamaazhar opened #992 "Capacity Limit of Reliable Collections in Stateful services"
What is the size restriction of Reliable Collections in service fabric? Is it the size of the memory or the disk?
I read the answer here but just want to be sure on official forum
[url](https://stackoverflow.com/questions/39592967/service-fabric-reliable-collection-capacity?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa)

[2018-04-19 08:34] #804 closed

[2018-04-19 11:28] jmaocanada commented on #927
@kavyako not really. We are using certificates authentication now to secure our API access. But this question is still there. Is there a solution to use internal IP access SF load balancer from API management within the VNET? Then we don't need to renew the certificates on the regular basis.

[2018-04-19 12:07] nareshkhatri81 opened #993 "Question - is it possible to decompile code of FabricCommon.dll ?"
Hi Team,

i need to see how encyption/decryption is done inside FabirCommon.dll.
But i am not able to decompile it.
i have one issue where i am not able to decrypt secrets inside containers.
i need to understand algorithm used by fabric and do it with C# inside containers.
is source code is available somewhere in github ?
i am not sure if service fabric code is fully available on github.

https://

[2018-04-19 12:32] nareshkhatri81 commented on #993
[DllImport("FabricCommon.dll", PreserveSig = false)]
		[return: MarshalAs(UnmanagedType.Interface)]
		internal static extern NativeCommon.IFabricStringResult FabricDecryptText([In] IntPtr encryptedValue, [In] NativeTypes.FABRIC_X509_STORE_LOCATION certStoreLocation);

it seems it calls some native code.
can someone help which native api its calling ?

[2018-04-19 12:41] raunakpandya commented on #993
We also have C# API which you can use to encrypt and decrypt in your C# code - https://msdn.microsoft.com/en-us/library/system.fabric.security.encryptionutility.encrypttext.aspx

Regarding code for FabricCommon, its open source now - :) Look here - https://github.com/Microsoft/service-fabric/blob/b28fe85931de297ac3791a2c8099e62fcde3b60e/src/prod/src/retail/native/FabricCommon/dll/dllmain.cpp#L321

[2018-04-19 12:43] raunakpandya commented on #993
Closing issue

[2018-04-19 12:43] #993 closed

[2018-04-19 15:57] hkuizenga commented on #988
I was able to run `Start-ServiceFabricClusterUpgrade -CodePackageVersion 6.1.472.9494 -ClusterManifestVersion "0" -MaxPercentUnhealthyNodes 20 -Monitored -FailureAction Manual` which kicked off a cluster upgrade and ran to completion.

Unfortunately, I'm still getting the original error on this thread even though `Get-ServiceFabricClusterUpgrade` shows completed.

![image](https://user-images.gith

[2018-04-19 16:01] bryanlikes commented on #711
@Flern, thanks for the reply.  That solution seems to miss the benefits of containerized build environments.
We actually had this working great with older version of ServiceFabric and SDK at 5.5.216.0 and 2.5.216.  New requirements forced us to move to latest versions of SF and this caused our existing build infrastructure based on containers to be essentially scrapped since we could not create do

[2018-04-19 17:50] justinSelf commented on #915
@masnider

Shouldn't it be `NodeTypeName`?

[2018-04-19 17:58] rakshitatandon commented on #988
@MathijsHofkens Please email the traces to ratando@microsoft.com.
@hkuizenga We might need to fix some cluster state here. Can you pipe the output of Get-ServiceFabricUpgradeOrchestrationServiceState to a file and send it to us ? In addition can you also send the latest clustermanifest.xml that you see in the FabricDataRoot.

[2018-04-19 18:04] slandsaw commented on #31
I know this is an old issue, but I have to ask... is there any down time during the certificate swap? I have a three node cluster that I am getting ready to try this out on.

[2018-04-19 18:18] hkuizenga commented on #988
@rakshitatandon First attempt at Get-ServiceFabricUpgradeOrchestrationServiceState timed out.  I'm running it again with a 5 minute timeout but, I'm wondering how long this is expected to take?

![image](https://user-images.githubusercontent.com/36278411/39010377-59a2acac-43c3-11e8-9942-542794864649.png)

[2018-04-19 18:34] rakshitatandon commented on #988
@hkuizenga Can you send us the cluster config (JSON) you are using instead ?

[2018-04-19 22:03] GopiMtp commented on #714
@rwike77 yes, this definitely helped me to setup https on my local machine. The Cert name is kind of hard coded and works for "Localhost" certs, but if i need to work with cloud, this should be configurable based on my environment. Do you have insights on how to do that? I'm trying to find that option currenlty.

[2018-04-19 22:43] Marusyk commented on #449
@dbreshears @masnider  @harahma  anyone here can help me? ⚠️  This is critical to our development process ⚠️
Why Refresh mode doesn't work?

[2018-04-19 22:55] dbreshears commented on #449
@Marusyk,  for refresh mode issue,  can you try the latest 6.2 SDK with most recent VS 15.6 update that just released so we can ensure we are working with the latest released.  If you are still reproducing,  is there any way to share a repro project with us.

[2018-04-19 23:06] rn-3 opened #994 "Service name resolution fails in multi-container (windows) app"
Call to other services are failing since the service name could not be resolved in an application setup that's composed of 3 different windows containers.
SF on a local Standalone Cluster version **6.1.467.9494**.
Host OS & the Container Guest OS are both - **Microsoft Windows [Version 10.0.14393]**.

This SF App is created using docker compose file.

**Compose File:**
`version: '3'
services:
  sv

[2018-04-19 23:42] rn-3 commented on #994
Error received by a web app running in svc3 while trying to connect to svc1 :
_There was no endpoint listening at http://svc1.app1:2828/CSS that could accept the message. This is often caused by an incorrect address or SOAP action. See InnerException, if present, for more details._

[2018-04-19 23:43] francescocristallo commented on #986
What I did to upgrade a Stateful Service to Remoting V2 was to use

`  protected override IEnumerable<ServiceReplicaListener> CreateServiceReplicaListeners()
        {
            return this.CreateServiceRemotingReplicaListeners();
        }`

and on my Interface class the assembly line

`[assembly: FabricTransportServiceRemotingProvider(RemotingListener = RemotingListener.V2Listener, RemotingCli

[2018-04-20 03:32] rwike77 commented on #714
Posted a tutorial for [enabling HTTPS in an ASP.NET Core web service](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-dotnet-app-enable-https-endpoint).

[2018-04-20 03:48] rwike77 commented on #714
@GopiMtp Yes, the cert name is hard coded right now.  I'll make updates when I can.  Take a look at using the [appsettings.json](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-2.1&tabs=basicconfiguration#configuration-by-environment) file for using different configuration settings in different environments.

[2018-04-20 03:50] rwike77 commented on #714
Closing this issue, since I posted the [tutorial](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-dotnet-app-enable-https-endpoint).

[2018-04-20 04:12] nareshkhatri81 commented on #993
@raunakpandya  - I created sample Console application in C#.

Added Below Package
Install-Package Microsoft.ServiceFabric

 string EncryptedText = EncryptionUtility.EncryptText("Test", "‎ef5d044856ccb15a92f819864597d1cbe34b727b", @"CurrentUser\Personal\Certificates");

                StoreLocation storelocation = StoreLocation.CurrentUser;
                System.Security.SecureString DecryptText

[2018-04-20 04:32] nareshkhatri81 opened #995 "Microsoft.ServiceFabric - Encrypt/Decrypt Error"
Hi Team,

https://msdn.microsoft.com/en-us/library/system.fabric.security.encryptionutility.encrypttext.aspx

I am trying to use Microsoft.ServiceFabric package which has capabilities to Encrypt/Decrypt secrets using certificates.

I created sample Console application in C#.

Added Below Package
Install-Package Microsoft.ServiceFabric

string EncryptedText = EncryptionUtility.EncryptText("Test", "

[2018-04-20 04:35] ashishnegi commented on #995
Make sure you are targeting `x64` platform.

If this does not solve your problem, please give details on : Which SDK and runtime version are you using ? Is it .Net Framework or dotnet Core app ?

[2018-04-20 04:47] ashishnegi commented on #497
@wandelson If you are referring to namespace for `ServiceRemotingJsonSerializationProvider`, then it is a custom class. Its not provided by Service Fabric. The code is on the blog. You need to copy and add that to your project.

[2018-04-20 04:48] ashishnegi commented on #986
@wandelson If you are referring to namespace for `ServiceRemotingJsonSerializationProvider`, then it is a custom class. Its not provided by Service Fabric. The code is on the blog. You need to copy and add that to your project.

[2018-04-20 08:30] KTazayan commented on #496
The same situation for me too.

[2018-04-20 09:25] nareshkhatri81 commented on #995
@ashishnegi

Tried with x64.
its console application targeting 4.6 framework and below are various SDK.
  <package id="Microsoft.IdentityModel.Logging" version="5.2.1" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.2.1" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric" version="6.2.262" targetFramework="net461" />
  <package id="Newtonsoft.J

[2018-04-20 09:30] ashishnegi commented on #995
Some progress :)
This error code means : FABRIC_E_INVALID_X509_THUMBPRINT

From documentation : https://msdn.microsoft.com/en-us/library/system.fabric.security.encryptionutility.encrypttext.aspx

[code]
See if you are satisfying these properties.

[2018-04-20 10:34] MathijsHofkens commented on #988
I have managed to fix our cluster with the following command's:
First I’ve edited the FabricHostSvc in services.msc to run as our service account (it was running as local system)

Then I executed the following commands:
[code]

[2018-04-20 10:50] nareshkhatri81 commented on #995
@ashishnegi
i don't have privileges to install certificates at local machine.
i tried on other machine to local machine but strange thing is below error there.

Unable to load DLL 'FabricCommon.dll': The specified module could not be found. (Exception from HRESULT: 0x8007007E)

this dll is not part of nuget package. i copied it from SF runtime to my published bin folder but same error.

[2018-04-20 10:55] ashishnegi commented on #995
How are you running this code ? Have you created a sample app ?
The code you are using is from SF SDK which is used for writing SF apps.
You need to install SF runtime, run the cluster, deploy the app to access SF apis.

[2018-04-20 10:58] nareshkhatri81 commented on #995
@ashishnegi - End target is to use this inside containers. but i would like to test in console application then port the code to container.
Inside containers also there is no SF runtime.
As these are client side nuget package why it has dependencies of runtime ?

[2018-04-20 11:03] ashishnegi commented on #995
I didn't know that this is client side part. You are right, this does not require runtime.
Can you share minimum sample repro project ?

[2018-04-20 11:04] nareshkhatri81 commented on #995
i tried other signature and got below error. what are valid values for AlgorihtiumOID

string EncryptedText = EncryptionUtility.EncryptTextByCertFile("test", @"D:\ModernRFCom\Features\ContainerTest\secretsder.cer","None");

Unknown cryptographic algorithm. (Exception from HRESULT: 0x80091002)

Thanks,
Naresh Khatri

[2018-04-20 11:12] nareshkhatri81 commented on #995
do you have link to Error Code and its description ?

it simple console app target 4.6 framework if you would like to give a try.

just added below nuget packages and few lines of code.
Microsoft.ServiceFabric" version="6.2.262" targetFramework="net461"

   ///string EncryptedText = EncryptionUtility.EncryptTextByCertFile("test", @"proxy.pfx", "0");

                ////string EncryptedText = Encr

[2018-04-20 11:14] ashishnegi commented on #995
@rishirsinha to help here.

[2018-04-20 16:00] justinSelf commented on #48
Coming in as a gravedigger to bring this up again, how does setting `DisableAutoDiffPackaging` to `true` get around this issue?

[2018-04-20 18:24] ThiemeNL commented on #730
Hi @mschulz531, I just read the new release notes of SF6.2: https://blogs.msdn.microsoft.com/azureservicefabric/2018/04/19/service-fabric-6-2-release/

•	The Backup and Restore service for Windows is now in public preview. This enables you to more easily backup and restore your Reliable Collections. To learn more about this feature, visit the following [documentation](https://docs.microsoft.com/en

[2018-04-20 18:45] ninzavivek commented on #496
Are you saying DNS service is not able to heal from this error ever?

[2018-04-20 19:05] ninzavivek commented on #982
- Are you still stuck on this issue? Or the issue has been mitigated?
 - Is this an SFRP cluster?
 - What version of SF are using?

[2018-04-20 19:39] hkuizenga commented on #988
Thank you @rakshitatandon for helping us solve this!  Ultimately, we had to force data loss on the UpgradeOrchestrationService to get it unstuck.  The steps were:

[code]

The last step does not trigger an actual cluster update, just resets the state of the UpgradeOrchestrationService.  After applying these changes, we've been able to run cluster configuration upgrades once again.

[2018-04-20 21:02] profet23 commented on #982
After restarting the seed nodes the problem went away... But so did the dnsservice. I had to turn it back on in the resource json. After I did that the dnsservice came back online and everything is fine. Not sure what the issue was.

[2018-04-20 21:44] chenfeiw opened #996 "SetupEntryPoint causes main not be invoked"
Our service has a SetupEntryPoint which run a setup.bat to setup the environment.  The bat file will cost some time to setup the environment since it need to install something.
I got an error when I run the service - "The ServiceType was not registered within the configured timeout". I debug the code, and find out that the main is never be invoked. As my understanding, ServiceType is registered in

[2018-04-22 04:56] oanapl commented on #982
Thank you for the update, @profet23 . We had a bug in the DnsService"close" that led it to be stuck. The bug is fixed in our incoming 6.2 release.
Regarding the unexpected behavior of having the Dns service disappear, this is a known issue we are following up on.
I will close this, please re-open if you have more questions/issues.

[2018-04-22 04:56] #982 closed

[2018-04-22 07:05] cjmakwana opened #997 "Service Fabric Type Initialization Exception"
Hello,

After upgrading the following Nuget packages of the service fabric framework assemblies, I started getting the exception as highlighted below (please note that the solution is based on .NET framework 4.6.1 for all the service fabric services):

Service Fabric Current Version: 6.1.480.9494
Service Fabric SDK Version: 3.0.480.9494

Upgraded Nuget packages:

Microsoft.ServiceFabric (from 6.1.

[2018-04-22 08:46] cjmakwana commented on #997
Hi, please see the snap below:

![image](https://user-images.githubusercontent.com/23075550/39093104-8d115fa4-4637-11e8-838c-297d287a80ba.png)

In all the stateful service, I am facing the issue at this override. This was not the case before Nuget packages upgrade.

[2018-04-22 20:34] makar-sasha opened #998 "Firewall rules explosion"
Hello.
We have created cluster about 1 month ago (ver 6.1.472.9494).
Today 2 of 5 nodes are down (have started to occupy about 100% of cpu because of "Service Host: Local Service" and FabricHost processes). In the past I saw similar issue related to the number of firewall rules. So I have checked and problem nodes have about 85 000 of rules (other nodes have about 8 000).  I have started "Remove-N

[2018-04-23 01:57] abramjablonski commented on #997
@cjmakwana : I'm guessing those services are running on you local development cluster - if so, upgrade your dev box to the Service Fabric 6.2 SDK, it'll fix the issue (for me, it also required a reset of my local cluster)

[2018-04-23 03:32] nareshkhatri81 opened #999 "Question - replicatorshared text file size is around 8GB"
Team,

One of node in cluster has replicatorshared file in SF data folder size of around 8GB.
could you let me know what is purpose of this file ?

i see below issue in SF explorer sometime as warning but this goes away.
All nodes are healthy in SF Explorer.

The Data Collection Agent (DCA) does not have enough disk space to operate. Diagnostics information will be left uncollected if this continu

[2018-04-23 03:32] ashishnegi commented on #997
Please check your SF cluster runtime version is equal or higher than SF SDK version you are using in your apps.

[2018-04-23 03:58] nareshkhatri81 opened #1000 "Question - Service Fabric Reverse Proxy Health"
Team,

In SF Explorer, which system service is healthy means reverse proxy is healthy ?
i dont see Reverse Proxy as System Service.

is there way to see number of request received by RP and resolved it and how much time it took to resolve ?

fabric:/System/ClusterManagerService
fabric:/System/FailoverManagerService
fabric:/System/FaultAnalysisService
fabric:/System/ImageStoreService
fabric:/System

[2018-04-23 04:32] nareshkhatri81 commented on #999
is there way to limit/configure size of this file ?
i can see file size is around 8GB in all nodes in cluster.

[2018-04-23 06:01] negberts commented on #997
When will 6.2 be available in Azure? We cannot deploy the latest version now...

[2018-04-23 12:21] paulsaxton opened #1001 "Service Fabric application not working in a 5 node cluster"
Hello

I have a service fabic application with 5 nodes (VMS)

I am getting the error shown below

Unhealthy event: SourceId='RunAsync', Property='RunAsyncUnhandledException', HealthState='Warning', ConsiderWarningAsError=false.
System.Runtime.InteropServices.COMException (0x80040154): Retrieving the COM class factory for component with CLSID {CE92C3B9-9A93-40E1-85AB-6A49170AEF7F} failed due to the

[2018-04-23 12:39] cpatte7372 opened #1002 "Service Fabric App not working"
Hello community,

I have created a service fabric app following the guide here:
https://github.com/jjcollinge/traefik-on-service-fabric/blob/master/Docs/Deployments/VisualStudio.MD

The service fabric app continually fails with the error:

Partition is below target replica or instance count.
<img width="904" alt="traefik3" src="https://user-images.githubusercontent.com/24607961/39127017-b989c67e-4

[2018-04-23 12:44] cpatte7372 commented on #1002
Hi Community,

Just saw you know I'm running Windows 10 64bit

[2018-04-23 12:51] ikaros88 commented on #590
Was this fixed in 6.2?

[2018-04-23 14:36] justinSelf opened #1004 "IdleSecondary ActorService Replicas throw "An item with the same key has already been added" at IStatefulServiceReplicae.Open"
After creating an Actor Service with 2 partitions, the idle secondary replicas that spin up start showing the following warning in SFX:
[code]

I was able to skirt around this issue before, thinking maybe it was a fluke, by deactivating and removing the data for the affected nodes. Now, I'm concerned I've got something misconfigured. What could be causing these errors?

[2018-04-23 15:55] cjmakwana commented on #997
Hi @ashishnegi, @negberts @abramjablonski

Kind thanks for your quick support. After upgrading to 6.2, I was able to run all the services as expected. Hence, closing this issue.

[2018-04-23 15:55] #997 closed

[2018-04-23 17:07] justinSelf commented on #1002
Does the details of the partition node provide anymore context (the node just under the highlighted node in the screen shot)?

[2018-04-23 17:48] negberts commented on #1002
Did you upgrade nuget packages to version 6.2 and are you deploying to Azure? 6.2 is not available on Azure yet....

[2018-04-23 21:11] cpatte7372 commented on #1002
Hi Justin,

Thanks for getting in touch. I have rebuilt the Service Fabric Cluster again, just to make sure, and I'm getting the same error see image

![traefik4](https://user-images.githubusercontent.com/24607961/39153489-30c6ee3c-4743-11e8-9fc4-e79f15770847.png)

[2018-04-23 21:12] cpatte7372 commented on #1002
@negberts thanks to you too for getting in touch. I'm deploying to my Local Cluster, not Azure

[2018-04-24 01:44] kavyako commented on #927
@vturecek again to help out here.

[2018-04-24 03:15] nareshkhatri81 opened #1005 "Service Fabric Errors in Event Viewer"
Team,

could you explain me and help me troubleshoot below errors in SF ?

i replaced ipaddress and port with ## below.

client-#####:### failed to bind to local port for connecting: 0x80072747

client-#####:### : cannot send, state = Closed, fault = 2147952455, dropping message {b0a079b1-2c28-4ae9-b549-ed54d7c9a285}:862014, Actor = NamingGateway, Action = 'PingRequest'

ImpersonateAndCopyFile for

[2018-04-24 04:12] oanapl commented on #1005
What prompted you to look at the event log? Is the cluster unhealthy? Is image store not working properly?
Many of the warnings you see in event log are transient and it's not worth spending too much time on them. Others are indicative of actual issues.

For your specific ones:
Failed to bind to local port failed with 0x80072747, which means "An operation on a socket could not be performed because