[2018-04-24 05:04] sathiathirumal opened #1006 "FabricTransportServiceRemotingClientFactory TraceId — how to access it on the service side?"
I have a service fabric project - there is an APIGateway (Facade) that hosts the public webapi layer. It talks to a few different microservices (not exposed publicly) via Fabric Remoting v2.

Now, I want to pass a TraceId (basically HttpContext.TraceIdentifier) from the APIGateway service to the Microservice(s) for tracing/logging purposes. I see that the FabricTransportServiceRemotingClientFactor

[2018-04-24 09:04] Expecho commented on #1006
The `ServiceContext` has a property `TraceId`  you can use. See [the docs](https://docs.microsoft.com/en-us/dotnet/api/system.fabric.servicecontext.traceid?view=azure-dotnet)

Example:

    public sealed class Stateless1 : StatelessService, IStateless1
    {
        public Stateless1(StatelessServiceContext context)
            : base(context)
        { }

        public string SayHello()

[2018-04-24 09:33] ashishnegi commented on #995
@nareshkhatri81 You will need to run this console application on a machine with SF runtime installed.

The last error you have got is : `Unknown cryptographic algorithm`.

See how its used here : https://github.com/Microsoft/service-fabric/blob/master/src/prod/src/Common/CryptoUtility.cpp#L1444
and you can pass different values like `null` and others mentioned at https://github.com/Microsoft/servi

[2018-04-24 11:04] nareshkhatri81 opened #1007 "Provisioning failed due to 'FABRIC_E_GATEWAY_NOT_REACHABLE'"
Team,

Deployment to cluster starting failing with this error.

"statusDetails": "Provisioning failed due to 'FABRIC_E_GATEWAY_NOT_REACHABLE' : Could not ping any of the provided Service Fabric gateway endpoints. --> COMException: Exception from HRESULT: 0x80071C49."

We can see all stateful service of fabric are healthy in SF Explorer.

Can you let us know what does 0x80071C49 means ?
do we have

[2018-04-24 11:45] raunakpandya commented on #1007
This essentially means the fabric client object (assuming that's where you getting this error) couldn't connect to FabricGateway. Are you initializing the cluster endpoint correctly and is the gateway reachable?

[2018-04-24 14:16] kavyako commented on #1000
Reverse proxy does not show up under the system services in SFX. It runs as process FabricApplicationGateway.exe on the nodes.

Have you looked at [reverse proxy diagnostics](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reverse-proxy-diagnostics)?  You can configure events from these channels to be uploaded to storage and query the events there.

For success case, there sho

[2018-04-24 14:37] nareshkhatri81 commented on #1000
Does reverse proxy errors gets logged in eventviewer ?

[2018-04-24 15:42] sathiathirumal commented on #1006
I added a comment to my SO thread as well. Unfortunately, this is not what I want - or there is a bug in SF. The behavior I am seeing with ServiceContext.TraceId is that it holds a "static" value that was seeded in its constructor at the time of service instantiation (something like "{83bfe8c8-5869-4155-8e5a-d12fc451fcbe}:131690554413858492"). This value never changes for the lifetime of that proc

[2018-04-24 15:46] oanapl commented on #1005
- What kind of cluster do you have - how many nodes, is it SFRP/on-prem?
- What service fabric version do you have?
- What events are reported on image store service and its partition & replicas? Is the reconfig stuck event you pasted from image store or other service?
- Can you check that you have enough disk space on the VMs?

[2018-04-24 15:55] nareshkhatri81 commented on #1005
Its onpremise cluster with 3 nodes.
There is one replicatorlog file with size of 8GB in SF log folder.
Is there way to limit SF replicator log size ?

[2018-04-24 16:28] leikong commented on #1005
0x80072747 usually meant that dynamic ports are depleted, either dynamic port range is too small, or there are too many sockets on the machine.
Dynamic TCP port range can be checked with "netsh int ipv4 show dynamicport tcp".
You can dump all sockets with "netstat -abno -p TCP"

[2018-04-24 16:31] kavyako commented on #1000
yes, they should show up in the Admin channel under Microsoft-Service Fabric, usually next to the Operational channel. Task Category = ReverseProxy.

[2018-04-24 16:36] kavyako commented on #1000
By default only "Data and Messaging Channel - Base:" events would go there => failure logs from the reverse proxy will show up in the event viewer.
@dkkapur How can one configure "Data & Messaging Channel - Detailed" logs to show up in the eventviewer, for standalone clusters? This channel will include a log entry for every request processed by the reverse proxy, however we recommend you enable th

[2018-04-24 17:09] MikkelHegn commented on #803
This should be fixed in the 6.2 runtime release

[2018-04-24 18:05] PrplHaz4 commented on #249
@explorer14 we saw this behavior on our dev machines where users have limited permissions.  There are two local groups that are usually created by the installer - "ServiceFabricAdministrators" and "ServiceFabricAllowedUsers" - make sure you have those, and that the user running FabricHostSvc is a member of ServiceFabricAdministrators.  Also check that these groups have permissions to the location

[2018-04-24 19:37] oanapl commented on #1005
@nareshkhatri81 , take a look at https://github.com/Azure/service-fabric-issues/issues/138 for more about replicator log.
Can you check the dynamic ports as @leikong suggested?

[2018-04-24 19:42] oanapl commented on #1007
If provision failed, then the app can't be created.
Can you give us a few more details:
- what cluster is this? SFRP / on prem? How many nodes do you have?
- is fabric:/System/ImageStoreService healthy? And if it's not, what health events does it show on service/partition/replicas?
- what service fabric version do you have?

[2018-04-24 20:35] hkuizenga opened #1008 "Problems removing a crashed node"
One of the VM's in our cluster crashed and is unrecoverable.  Initially, it said "Down" in SF Explorer and we attempted to do `Remove Node State`.  Now SFE shows a node marked as "Invalid".  We also still see the node in the cluster manifest in SFE.

What is the recommended way of resolving this?  Is there a manual way to remove this from the manifest?  Can we re-provision a VM with the same name,

[2018-04-24 22:38] chrisdrobison opened #1009 "Could not load file or assembly System.Fabric.BackupRestore"
Could not load file or assembly 'System.Fabric.BackupRestore, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'. The system cannot find the file specified.

We are running 6.1.480.9494 of the runtime and 3.0.480 of SDK. We are also targeting .NET Core 2.0. This happens when SF tries to instantiate a stateful service.

[2018-04-25 03:51] nareshkhatri81 commented on #1007
its 3 nodes cluster onpremise.
2 Nodes are deployed on 1VM and 1 Node on another VM.
ImageStoreService is healthy in SFX.
SF version is 6.1.480.9494.

One thing i noticed is image storage service is having primary instance displayed in SFx.

Name | Service Type
-- | --
fabric:/System/ImageStoreService | FileStoreServiceType

OK | 6.1.480.9494

Active | 1

Stateful | 1

PS C:\Windows\system32> sfct

[2018-04-25 03:52] nareshkhatri81 commented on #1000
i am looking for failure log of Service fabric in Event Viewer.

[2018-04-25 03:56] nareshkhatri81 commented on #1005
@leikong - How many dynamic ports we need ? is 256 sufficient
PS D:\Microsoft.Azure.ServiceFabric.WindowsServer.6.1.480.9494> netsh int ipv4 show dynamicport tcp

Protocol tcp Dynamic Port Range
---------------------------------
Start Port      : 20032
Number of Ports : 256

[2018-04-25 04:27] xunlu commented on #1001
Is the DLL part of your application package?

[2018-04-25 04:39] RajeetN commented on #996
This is the expected behavior. You can set the ServiceTypeRegistrationTimeout in Hosting section of FabricSettings to increase the registration timeout. Having said that, the registration timeout should be large enough already, unless you are running a onebox dev setup

[2018-04-25 04:39] #996 closed

[2018-04-25 04:40] xunlu commented on #984
You should encrypt the credential and set it in your manifest.  Please refer to: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-secret-management

[2018-04-25 05:42] nareshkhatri81 commented on #1005
It seems most of connection are for SF, docker and Redis.
is there any reason why SF doesnt close tcp connection or its relay on OS to close it ?

PS D:\Microsoft.Azure.ServiceFabric.WindowsServer.6.1.480.9494> (netstat -abno -p TCP | findstr Fabric).Count
176
PS D:\Microsoft.Azure.ServiceFabric.WindowsServer.6.1.480.9494> (netstat -abno -p TCP | findstr Docker).Count
0
PS D:\Microsoft.Azure.Servi

[2018-04-25 08:11] ashishnegi commented on #1009
@chrisdrobison Please update to latest packages runtime `6.2.262` and sdk `3.1.262` and let us know if you still face the problem.

[2018-04-25 11:26] raunakpandya commented on #1009
Can you also confirm the version of the runtime you are using? This issue should be with v6.2

[2018-04-25 14:08] justinSelf commented on #1002
What about the individual replicas? What's the messaging for those? Also, check out the event viewer. You'll see a folder called SF or Service Fabric or something like that. You may find errors/warnings in there that help point to the problem.

[2018-04-25 14:12] justinSelf commented on #1004
Well, I'm not sure why this particular error was being thrown, but the app was running in the default Shared Process Hosting mode (which isn't good for this app since right now). I changed it over to the Exclusive model and the error went away.

Are there any potential problems with running an actor service in a shared process hosting?

[2018-04-25 15:53] leikong commented on #1005
Service fabric uses persistent connections, we do not open and close connections for each message exchange. Please share the output from netstat if you want us to check if the connections mentioned above are legit.

[2018-04-25 16:04] oanapl commented on #1007
Having multiple nodes on the same VM is not supported for prod.
@linggengmsft for help with compose

[2018-04-25 17:06] keithbo opened #1010 "NuGet 'ref' folder overriding framwork resolution for Remoting assembly"
As best as I have been able to find (I have been digging on this for days on and off) since Service Fabric added Net Standard 2.0 support there has been no real way to build against any types in the V1 remoting stack.

There was an explicit decision to remove the V1 assemblies from Net Standard 2.0, which is fine and I have no issue with, and with that came multi-targeted assemblies against netsta

[2018-04-25 17:28] linggengmsft commented on #1007
It still sounds some transportation issue. @nareshkhatri81 could you try "sfctl application list" and "sfctl cluster health" to test the connection and give us the result? Feel free to replace any sensitive info in the result.

[2018-04-25 17:48] #985 closed

[2018-04-25 17:49] suchiagicha commented on #1006
@sathiathirumal

If you are using app insights, they have a package doing the same for you for SF services.
https://github.com/Microsoft/ApplicationInsights-ServiceFabric

If not, then you need to add traceId in header on client side  and need to retrieve the traceId From header on service side.Here is a sample :
https://github.com/amanbha/servicefabric/tree/master/samples/ServiceCustomMessageHand

[2018-04-25 17:52] suchiagicha commented on #986
@francescocristallo
Are we good to close this issue?

[2018-04-25 17:55] masnider commented on #992
@olitomlinson Thanks Oliver. @usamaazhar in that answer I didn't even talk about Garbage Collection/Garbage overhead and Serialization:)  TLDR: Generally start with memory as your limit and you _may_ be able to do more optimizations to reduce that footprint and to take advantage of disk, but those are not applicable in all situations. Please let us know if you have any further questions (or feel f

[2018-04-25 18:25] Flern commented on #711
@rishirsinha and @VipulM-MSFT
Has any discussion taken place on the SF team regarding the desires of many people to deploy SF applications using our container-based CI pipelines?  A new version of the SDK and runtime are out and I see no mention of changes to support this in the release notes.

[2018-04-25 18:28] sathiathirumal commented on #1006
perfect, thanks @suchiagicha - will take a look. (no, not using app insights)

[2018-04-25 18:29] ninzavivek commented on #971
The issue has been fixed in 6.2. Please upgrade to 6.2 and reopen if the issue persists.

[2018-04-25 18:29] #971 closed

[2018-04-25 19:58] cpatte7372 commented on #1002
@justinSelf thanks for getting in touch. I will check out the replicas and the event viewer.

Cheers

[2018-04-25 21:09] AlanWarwick commented on #999
The replicatorshared.log file is temporary log space for all stateful reliable collection applications that run on that node. The size of the file is determined by a value in the cluster manifest and once the file is created, it is not resized. You can do a configuration update that will change the size of file if it ever needs to be created in the future.

Take a look at this: https://github.com/

[2018-04-26 00:34] kavyako commented on #1000
ah so looks like they do not show up in Event Viewer.

You could configure event flow to output the Data & Messaging events using the ETW provider & keyword values listed [here](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-diagnostics-event-aggregation-wad#log-collection-configurations) to any of the preferred outputs.

[2018-04-26 00:58] lawrencegripper commented on #1002
@cpatte7372 Are you running with a 5 node local cluster? If so this might explain the issue, traefik runs as a guest exe and tried to listen on ports `80` and `8080`by default. In a local cluster all nodes are actually running on the same machine so traefik is unable to bind to the ports.

If you are running on a local cluster either set the instance count to `1` fro `-1`

[2018-04-26 03:13] nareshkhatri81 commented on #1007
we got it fixed by restarting machine.
it seems to be issue with Dynamic port exhaustion. i am working with my IT team to increase limit.
But still i believe sfctl command should have thrown some kind of exception when its not able to deploy.

[2018-04-26 03:26] nareshkhatri81 commented on #995
@ashishnegi - we are running workloads inside containers.
we don't install SF Runtime inside containers.
do we need to have that inside containers to work as it have dependencies on FabricCommon.dll ?
or we can have just put this dll as part of bin folder and it will work.

is there any reason of tight coupling of SF Runtime and Client Libraries ?

Thanks,
naresh Khatri

[2018-04-26 03:43] ashishnegi commented on #995
@nareshkhatri81 Please follow this [document](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-services-inside-containers) to get access to SF runtime outside of container.

Are you using .Net Framework or dotnet coreclr ? The above document is for .Net Framework.
Let me know if you know details for dotnet coreclr apps.

[2018-04-26 03:49] ashishnegi commented on #1010
@keithbo Are you targeting specific framework like net46 from net core project ?
We are aware of the problem. We have the fix ready. Apologies for not able to ship it till now.

As a mitigation, can you build using .Net Framework for *now* ? If your code is already .net standard compliant, you should not have any problem with moving to net core after you move to sdk which has the fix.

[2018-04-26 04:47] nareshkhatri81 commented on #1007
sfctl application list shows the exception.

 {
   "applicationName": "fabric:/rfv5",
   "name": null,
   "status": null,
   "statusDetails": "Application creation failed due to 'FABRIC_E_FILE_NOT_FOUND' : The network path was not found. (Exception from HRESULT: 0x80070035)."
 },
 {
   "applicationName": "fabric:/rfv7",
   "name": null,
   "status": null,
   "statusDetails": "Provisioning failed d

[2018-04-26 04:58] nareshkhatri81 commented on #1007
Also one more question
when providing registry password, getting below exception.

"status": null,
"statusDetails": "Provisioning failed due to 'FABRIC_E_IMAGEBUILDER_UNEXPECTED_ERROR' : There was an error generating the XML document. --> ArgumentException: '\u0016', hexadecimal value 0x16, is an invalid character.."

Token which we get from AWS is long string.
i am using --has-pwd which prompts f

[2018-04-26 05:02] nareshkhatri81 commented on #995
@ashishnegi
yes we are aware of this capability of SF.

is there any time frame when both will be decoupled ?

[2018-04-26 06:55] ashishnegi commented on #995
@masnider for above question.
@nareshkhatri81 Let us know if you are able to successfully use these apis or run into any errors.

[2018-04-26 08:52] vwDiesel opened #1011 "Windows Service Fabric - Remove node state - Issue Adding node back into cluster"
We had issues with our fd:/0 node and we executed the remove node state from service fabric explorer.
We thought we could bring it back online easily

I have tried to add the node following this guide
https://github.com/blumu/azure-content/blob/master/articles/service-fabric/service-fabric-cluster-windows-server-add-remove-nodes.md

But the script errors out as the runtime package cannot be downlo

[2018-04-26 09:09] olitomlinson commented on #1009
Getting the same issue.

Upgraded my solution to the latest nuget packages.
Works fine when running `6.2` locally
`BackupRestore not found` when running in Azure on `6.1`

[2018-04-26 10:14] Thialala opened #1012 "Background Service operation stops with no error/exception"
I had an issue with background operation stopping with no error / exception. I have a SF app with two services :

- A Stateless ASP .NET Core targeting .NET Framework 4.6.1 ==> **FrontService**
- A Stateless Service targeting .NET Framework 4.6.1 ==> **BackgroundService**

The **FrontService** receives the request and directly forwards it to the **BackgroundService**. This latter service calls ano

[2018-04-26 11:06] Lybecker commented on #735
I ran into this problem too.

It works if you change the return type to a concrete implementation like List or []:
`public Task<List<string>> GetLanguagesAsync(int labelId)`

This is a bug, that should be fixed

[2018-04-26 12:19] mccw opened #1013 ",,"

[2018-04-26 12:35] cpatte7372 commented on #1002
@lawrencegripper thanks for reaching out. I am running on Local Cluster.

I get the same problem when running on 5 node cluster or 1 node cluster.
Can you let me know what you mean by:

[2018-04-26 12:37] cpatte7372 commented on #1002
@lawrencegripper the toml config is as follows:

[code]

[2018-04-26 12:46] cpatte7372 commented on #1002
Hi guys,

The following is the error on single instance

<img width="745" alt="traefik4" src="https://user-images.githubusercontent.com/24607961/39306505-462e07f8-4958-11e8-942b-5eec882ca748.png">

[2018-04-26 13:08] ThiemeNL commented on #997
Hi, we have the same issue, when will the 6.2 be available in Azure?

[2018-04-26 14:06] nareshkhatri81 commented on #1005
@leikong
can you share your MS Email address ?
we can send you sharefile location.

Thanks,
Naresh Khatri

[2018-04-26 14:56] ikaros88 commented on #590
@VipulM-MSFT We have run into a blocking issue related to this now...our existing Actor Interfaces have hundreds of usages of Actor Interfaces as Parameters and Return types. However, we need to use these existing interfaces from a new ASP Net Core 2.0 Web Api Project...as far as i can tell, Remoting V1 is simply deactivated for DotNetCoreCli in ServiceRemotingProviderAttribute.cs. We can not find

[2018-04-26 16:08] keithbo commented on #1010
@ashishnegi Our codebase is still building with net461. We haven't moved on from 2.8.219 yet because of this. And we probably won't move to netstandard2.0 until the interface surrogate issue in #590 is resolved.

[2018-04-26 16:13] ashishnegi commented on #1010
we are tracking this via #930 . Closing this as duplicate.

[2018-04-26 16:13] #1010 closed

[2018-04-26 16:28] leikong commented on #1005
leikong@microsoft.com

[2018-04-26 17:41] suchiagicha commented on #590
@keithbo
We are planning to have this fix in 6.3 release.
Till then we expect user to use remoting V1.

Asp.Net Core 2.0 Web Api can be run on .net framework. That way you can use remoting V1 till we release 6.3 .
https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-2.1

Hope this unblock you.

[2018-04-26 18:05] alexmarshall132 commented on #933
@MikkelHegn I can confirm the report by @MonDeveloper . I am working in a Visual Studio 2017 Solution with 37 services, 37 test assemblies, and another 3 *.*proj types in the solution.

[2018-04-26 18:27] tugup commented on #441
This is fixed as part of release 6.2.

[2018-04-26 19:08] suchiagicha commented on #735
Remoting v2 today  by default doesn't support interface types for return types and parameters for remoting methods. You can override this behavior by adding knowntypes or adding any other serialization provider.

In 6.3 , we are adding support for interface types also.

[2018-04-26 19:08] #735 closed

[2018-04-26 20:29] lawrencegripper commented on #1002
So can you update the instance count to 1 [here from -1]( https://github.com/jjcollinge/traefik-on-service-fabric/blob/master/Traefik/ApplicationPackageRoot/ApplicationManifest.xml#L4)

If that doesn't work the next step is to run Traefik outside the cluster and review the logs. To do this you need to run the `traefik.exe` with the `toml` config file. For example `cd` into the `code` directory of

[2018-04-26 21:10] vwDiesel commented on #1011
I recreated the cluster

[2018-04-26 21:10] #1011 closed

[2018-04-26 21:18] #1013 closed

[2018-04-26 22:15] suchiagicha commented on #780
@berndku

Is it possible for you to share SF traces with us when this issue happened?
Also Does your remoting method has cancellation token as parameter?

Suchi

[2018-04-26 23:03] lawrencegripper commented on #1002
Can you follow the suggestions in my last comment and share the output? I'd still suspect port issue. Do you have something listening on port 80 already?

[2018-04-26 23:58] sandorfr opened #1014 "Service Fabric Tools installer broken"
It is impossible to install the tools through webpi because of some broken link:

[code]

[2018-04-26 23:59] sandorfr commented on #1014
It is probably the exact same kind of issue as this one : https://github.com/Azure/service-fabric-issues/issues/17

[2018-04-27 00:42] JunRamoneda opened #1015 "Stand-alone cluster installation"
I am having issues trying to create a stand-alone cluster with Service Fabric 6.2.262.9494: Here is the error log:

4/26/2018 11:32:17 AM - EC2AMAZ-MFFNCSB - Error - 4/26/2018 11:26:28 AM - EC2AMAZ-5GP0PU0 - Error - Config for Hosting.FirewallPolicyEnabled changed but this entry can not be dynamically updated
4/26/2018 11:32:17 AM - EC2AMAZ-MFFNCSB - Error - 4/26/2018 11:26:28 AM - EC2AMAZ-5GP0PU0

[2018-04-27 06:43] ashishnegi commented on #1015
@JunRamoneda Is this windows or Linux cluster ?
@deepakjangid-MSFT for DCA errors. This looks like a Linux cluster.

[2018-04-27 07:09] deepakjangid-MSFT commented on #1015
@ashishnegi  This is not a Linux cluster.

@JunRamoneda Can you make sure the network path you have in cluster manifest is present and accessible to Service Fabric Services?

System.IO.FileNotFoundException: The network path was not found. (Exception from HRESULT: 0x80070035)

[2018-04-27 08:45] Sweiii opened #1017 "Backup restore example for on-premise fileshare"
Hi,

i have looked at the Periodic backup and restore in Azure Service Fabric (Preview) post and see that its possible with an on-premise file share. I cant find an example for the on-premise stuff for the $StorageInfo. So can you help me with an configuration example for the StorageInfo

`$StorageInfo = @{
    ConnectionString = 'UNC PATH?'
    ContainerName = 'FolderName?'
    StorageKind = 'Fil

[2018-04-27 08:49] raunakpandya commented on #1017
Hey, Have you checked this - https://docs.microsoft.com/en-in/azure/service-fabric/service-fabric-backuprestoreservice-quickstart-standalonecluster

This documentation is specific to standalone scenatio.

[2018-04-27 08:50] raunakpandya commented on #1017
You can additionally pass username and password as well if the share is secured with a specific credentials and not authorized for access by cluster nodes.
Check API documentation here, which has REST example as well - https://docs.microsoft.com/en-in/rest/api/servicefabric/sfclient-api-createbackuppolicy

[2018-04-27 08:56] KTazayan commented on #496
I've tried 6.2 and everything seems to be ok.

[2018-04-27 08:57] ThiemeNL opened #1018 "When will Azure Service Fabric version 6.2.262.9494 be available"
Hi,

I have a cluster running in west Europe and cannot upgrade to 6.2.262.9494, because it is not available.

New applications are unhealthy once I deploy it to this cluster, because of the lower version than om my dev box. When will the 6.2.262.9494 be available in Azure?

See related issue:
https://github.com/Azure/service-fabric-issues/issues/997

Thieme

[2018-04-27 09:00] Sweiii commented on #1017
Ah thanks, i missed that completly

[2018-04-27 09:00] raunakpandya commented on #1018
Please see - https://blogs.msdn.microsoft.com/azureservicefabric/2018/04/26/second-update-on-the-service-fabric-6-2-release/
We are working to get this out soon :)
Till then, can you downgrade the SDK back to v6.1/v3.0 and build apps using that? They should work on your v6.1 cluster.

[2018-04-27 09:02] raunakpandya commented on #1017
Cool. I will close this issue. Let us know how it goes and if you have any feedback.

[2018-04-27 09:02] #1017 closed

[2018-04-27 09:10] ThiemeNL commented on #1018
Our sprint is ending the 3th May, before that when need to push the release live. Do you think that the SF team have a fix before that date?

[2018-04-27 09:48] Thialala commented on #1012
@masnider , thank you for your answer. You were right, I'm hitting an exception:
[code]

On my LocalDevCluster, I have no connection closed and I'm able to recover the entire stream from another service running in the cluster. However, once deployed, I have this error.

Any clue ?

Thanks!

[2018-04-27 11:39] MonDeveloper commented on #933
@MikkelHegn sorry for the delay, I missed the notification email and since I found a workaround i forgot I opened this Issue.
Sorry again.
About the problem, you're right (of course), WFDebugParams are not exclusive for [refresh mode] but I thinks the powershell command is launched is different between [refresh mode] and [keep/remove] and this differences could introduce the problem connected to t

[2018-04-27 14:08] JunRamoneda commented on #1015
@ashishnegi I am trying to build a cluster on 3 Windows servers

[2018-04-27 14:09] Sweiii opened #1019 "BackupRestoreService on-premise"
Hi i have tried this documentation https://docs.microsoft.com/en-in/azure/service-fabric/service-fabric-backuprestoreservice-quickstart-standalonecluster and it works great, i just have a question about the restore process.

I have tried to find a restore but all i can find is Restore Partition, is there a way to restore the whole application or a service?

I also need help on how to structure thi

[2018-04-27 15:49] cpatte7372 commented on #1002
@lawrencegripper .. Its all good. I reset the SF and pushed Traefik back up to the cluster and all is looking good. Thanks
![traefik7](https://user-images.githubusercontent.com/24607961/39371928-f87fa2e4-4a3a-11e8-9b61-1f3ab8082600.png)
![traefik6](https://user-images.githubusercontent.com/24607961/39371929-f899d664-4a3a-11e8-8e3d-2c8bed42abb3.png)

[2018-04-27 16:24] MikkelHegn commented on #933
@MonDeveloper Thanks for the update. We will look in to this ad figure out what can be done.

[2018-04-27 18:32] salariamanisha commented on #1018
We are getting the same issue ? When this upgrade option be available on azure. Also its scary to know that azure and SDK release cycles are out of sync ?

[2018-04-27 20:55] matt-richardson opened #1020 "MicrosoftAzure-ServiceFabric-CoreSDK fails to install via WebPi"
Cross posting from https://github.com/MicrosoftDocs/azure-docs/issues/7781

I'm getting a 404 when using the webpicmd to install this

[code]

gives:

[code]

in `%localappdata%\\Microsoft\Web Platform Installer\logs\install\2018-04-27T05.04.54\log.tx`t, I see

[code]

Seems the file was deleted from the CDN?

[2018-04-27 21:05] lukeholbertmsft commented on #1020
Likely related to similar failure when using the Web Platform Installer API, it looks like there is no Installer File for the SDK ![image](https://user-images.githubusercontent.com/38229413/39384992-81382eac-4a23-11e8-8933-7c90c64455ab.png)

[2018-04-27 22:36] alexmarshall132 commented on #933
@MonDeveloper Thanks also for the update. I've come to the same conclusion
and split up my services into multiple applications, but it's a split I can
live with based on the nature of the specific services in this one
instance. A better solution would definitely be appreciated.

On Fri, Apr 27, 2018 at 10:34 AM, Mikkel Mork Hegnhoj <
notifications@github.com> wrote:

--
Alex

[2018-04-27 23:02] leikong commented on #1005
This should no longer be an issue with 6.2 release.

From: Ray Kong
Sent: Friday, April 27, 2018 10:26 AM
To: Azure/service-fabric-issues <reply@reply.github.com>; Azure/service-fabric-issues <service-fabric-issues@noreply.github.com>; Rajeet Nair <rajeetn@microsoft.com>; Hasibur Rahman <harahma@microsoft.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [Azure/service-fabric-issues] Serv

[2018-04-27 23:08] #1005 closed

[2018-04-27 23:42] Marusyk commented on #449
@dbreshears @masnider  @harahma  anyone here can help me? ⚠️  This is critical to our development process ⚠️

[2018-04-28 00:06] dbreshears commented on #449
@Marusyk ,  thanks for the repro project.  We are investigating.

[2018-04-28 00:25] amanbha commented on #528
Closing this, please open if you still need help

[2018-04-28 00:25] #528 closed

[2018-04-28 04:31] cakriwut commented on #951
I have same error on hardened Windows 2016. Unfortunatelly, I am unable to find more detailed error.

[2018-04-28 06:05] cakriwut commented on #951
Update to the #issue, I am trying to enable tls 1.2 in workflow manager CU5. Following are my steps, which work in non hardened Windows 2016 - but failed in the hardened counterpart.
1. Remove-SBHost
2. Uninstall Service Bus 1.1
3. Uninstall Windows Fabric
4. Install Service_Bus_1_1_with_TLS_1_2
5. Invoke-SBhostUpgrade
6. Add-SBHost

The step 6, failed while starting SBHost in the hardened server

[2018-04-28 12:34] mcquiggd commented on #986
@amanbha

That new example looks perfect - many thanks for creating that.

Regarding the Pluralsight code - personally I had already fixed that, but was trying to help out the original poster, who I believe has a first language of Brasilian Portuguese rather than English - and also receive official guidance from Microsoft for these scenarios to verify the approach I had taken.

Thanks again for cr

[2018-04-28 15:29] fizxmike commented on #83
Any update on this? The use case for me is *Code Reuse*... Specifically for guest executable (where I don't think I have access to "ConfigPackages." Since many of my services use the very same large set of libraries (100s of MB), with each service (entry-point) essentially being a unique implementation of business logic on top, I'd like to not have to COPY THE ENTIRE SET OF LIBRARIES for each serv

[2018-04-28 15:42] amanbha commented on #986
@mcquiggd that's great. I will close this issue, feel free to open new one if you need any help.

[2018-04-28 15:42] #986 closed

[2018-04-28 16:46] fizxmike commented on #447
I [commented on linked issue with my error](https://github.com/MicrosoftDocs/azure-docs/issues/5505#issuecomment-385188856). Hoping someone subscribed to this issue got this feature to work?

[2018-04-28 16:58] fizxmike commented on #83
So I tried defining multiple application instances, but my use case also includes overriding ports (legacy service written in java). The resource override feature is broken for me: https://github.com/Azure/service-fabric-issues/issues/447 https://github.com/MicrosoftDocs/azure-docs/issues/5505

[2018-04-28 19:42] mcquiggd commented on #986
@amanbha  - this is not my issue, so, it's up to @wandelson to decide if he has enough information.

[2018-04-29 00:35] cpatte7372 opened #1021 "Azure Seabreeze Preview Request"
Hello Community,

I have a valid Azure Subscription.

Can someone let me know how I go about requesting preview access to the new Service Fabric managed service called Azure Seabreeze?

Thanks

Carlton

[2018-04-30 06:11] JohnRGH opened #1022 "Service Fabric New-AzureRmServiceFabricCluster generates a new certificate even when user passes -CertificateFile"
We generated a 2048 bit certificate using CertSetup.ps1 from the Service Fabric SDK (C:\Program Files\Microsoft SDKs\Service Fabric\ClusterSetup\Secure).  We then passed the certificate, template file, and parameter file, following the "Example 4" syntax here:
https://docs.microsoft.com/en-us/powershell/module/azurerm.servicefabric/new-azurermservicefabriccluster?view=azurermps-5.7.0

[code]

Firs

[2018-04-30 06:53] Sweiii commented on #1019
Hi thanks for the info, but i can't seem to figure it out with the restore, i have tried this

`$url = 'http://localhost:19080/Partitions/fd9a836b-6218-44c6-b612-3d90fb484dc0/$/Restore?api-version=6.2-preview'`
`$test = @"`
`{`
`  "BackupId": "f5367d0f-58f1-45d3-bf3b-b3cb7a7cfae8",`
`  "BackupStorage": {`
`    "StorageKind": "FileShare",`
`    "Path": "\\172.21.3.182\BackupRestoreService"`
`  },`

[2018-04-30 07:02] Sweiii commented on #1019
I have also tried this:

`$storage = @{`
`    StorageKind = "FileShare"`
`    Path = "\\172.21.3.182\BackupRestoreService\GettingStartedApplication\StatefulBackendService\fd9a836b-6218-44c6-b612-3d90fb484dc0"`
`}`

`$restore = @{`
`    BackupId = 'f5367d0f-58f1-45d3-bf3b-b3cb7a7cfae8'`
`    BackupStorage = "GettingStartedApplication\StatefulBackendService\fd9a836b-6218-44c6-b612-3d90fb484dc0\2018-

[2018-04-30 07:05] deepakjangid-MSFT commented on #1015
@JunRamoneda any update on this?

Can you make sure the network path you have in cluster manifest is present and accessible to Service Fabric Services?
System.IO.FileNotFoundException: The network path was not found. (Exception from HRESULT: 0x80070035)

[2018-04-30 09:27] sandorfr commented on #1020
Duplicate of https://github.com/Azure/service-fabric-issues/issues/1014 . I tried to ping Azure Support on Twitter.

[2018-04-30 10:06] pksorensen commented on #1014
The reason why this happens is properly due to them rolling back the 6.2 release. But I read somewhere that they fixed the feed to return 6.1 instead.

I manually uninstalled SF SDK/Runtime from window apps/features and then installed them from the release notes documents given on the SF blog.

[2018-04-30 10:19] sandorfr commented on #1014
@pksorensen you are right : https://blogs.msdn.microsoft.com/azureservicefabric/2018/04/26/second-update-on-the-service-fabric-6-2-release/ well that's terrible to expect to go to a blog post to get explanation about such kind of error.

The installer you mention is this one : https://blogs.msdn.microsoft.com/azureservicefabric/2018/03/30/service-fabric-6-1-refresh-three-release/ ?

[2018-04-30 10:39] pksorensen commented on #1014
Yes, the word file attached has all the download links.

I had installed 6.2 and was able uninstall it without problems and just install using the direct links in the doc for runtime and sdk.

[2018-04-30 11:10] Sweiii commented on #1019
@hrushib Thanks worked like a charm!

This issue can now be closed.

[2018-04-30 11:31] #1019 closed

[2018-04-30 12:29] jesseik commented on #932
Any news on this?

[2018-04-30 14:08] andrewdmoreno commented on #1009
@ashishnegi @raunakpandya Do the above responses no longer apply after the packages have been removed? I don't think updating packages is an option at this time. Any recommendations for others of us that are experiencing this issue?

[2018-04-30 14:54] eliasnawfal opened #1023 "Service Fabric Specific Standalone Cluster Runtime Version"
Hi,
I have a stable Azure Production Cluster that has a version **6.1.467.9494**
And I have a Standalone Staging Cluster that I deployed using this [documentation](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation-for-windows-server)

The problem is when I run the CreateCluster powershell on my Staging Cluster it updates runtime to latest version 6.1.480.9494. I

[2018-04-30 16:08] uditjh commented on #1022
I'm trying Example 2 in order to utilize my own certificate from the vault for client to node security and getting the error message below

https://docs.microsoft.com/en-us/powershell/module/azurerm.servicefabric/new-azurermservicefabriccluster?view=azurermps-5.7.0

PS C:\> New-AzureRmServiceFabricCluster -ResourceGroupName $RGname `

New-AzureRmServiceFabricCluster : Please specify the -certifica

[2018-04-30 18:10] masnider commented on #1002
Great! @cpatte7372 glad you're up and running and thanks a ton @lawrencegripper for the help!

[2018-04-30 18:10] #1002 closed

[2018-04-30 18:10] #1000 closed

[2018-04-30 20:02] masnider commented on #1014
@sandorfr the SDK link should have been removed from WebPI at the same time. If you're still seeing this then @JimGentle can help figure out what's up.

[2018-05-01 06:50] ashishnegi commented on #1009
@andrewdmoreno You can downgrade both sdk and runtime to 6.1. We will republish 6.2 version again with the fixes.

[2018-05-01 17:31] rn-3 commented on #994
Hello @RajeetN, do you have any input or update for me on this issue?

[2018-05-01 21:16] masnider commented on #1020
Yeah this should be a dupe. The 6.2 installation has been pulled [temporarily](https://blogs.msdn.microsoft.com/azureservicefabric/2018/04/26/second-update-on-the-service-fabric-6-2-release/). These shouldn't be showing up any more. @v-jigen fyi if they still are.

[2018-05-01 21:17] masnider commented on #1021
@cpatte7372 no information at this time

[2018-05-01 21:17] #1021 closed

[2018-05-02 03:00] Romiko opened #1024 "System.Fabric.UpgradeService.StreamChannelException:"
Hi,
Service Fabric Version: 6.1.456.9494
Upgrade Domains: 0 to 4

All other services are green and the application is running correctly.

Our Upgrade Service is throwing the following exception.
`Exception encountered: System.Fabric.UpgradeService.StreamChannelException: Exception of type 'System.Fabric.UpgradeService.StreamChannelException' was thrown.`

`Unhealthy event: SourceId='UpgradeService

[2018-05-02 09:08] pksorensen opened #1025 "Making VS2017 experience nice for creating a dotnet core service package targeting both linux and windows."
# In visual studio

1. Create Service Fabric Application
2. Select dotnet core stateless service
3. Empty Web template

What are the needed steps to make this project packable for both Unix and Windows clusters?

I know that i found some quickstart repository with an example. But hey, that was a bunch of sh, cmd files and what not. Its not the experience I am looking for. I dont want to develop on

[2018-05-02 11:25] matt-richardson commented on #1020
Still failing on `Microsoft Azure Service Fabric Runtime - 6.1.480`

[2018-05-02 12:47] nareshkhatri81 opened #1026 "SF Installation Error -The Service Fabric Host Service service terminated unexpectedly."
Hi Team,

While configuring 3 nodes cluster. i am seeing below error.

Service Fabric Host Service is starting fine on two other machines but not on 1 node.

Let me know how can i troubleshoot those error.

Timed out Waiting for the FabricHostSvc to be in Running state on machine xx.xxx.xxx.xx
CreateCluster Error: System.AggregateException: One or more errors occurred. ---> System.ServiceProcess.T

[2018-05-02 12:56] petertiedemann commented on #710
@lurock Did you succeed in creating such a docker container? I am trying to follow these steps in a Windows Server Core container, and the installation process gets stuck on `choco install MicrosoftAzure-ServiceFabric-CoreSDK --source webpi --confirm`:
[code]

[2018-05-02 13:35] #999 closed

[2018-05-02 14:53] petertiedemann opened #1027 "Mounting a host folder inside a container?"
I am trying to run RavenDb 4.x in a Service Fabric (Linux) cluster. I was hoping to mount a folder from the local VM SSD into the container. RavenDb has its own clustering mechanism that replicates data between nodes (and does backup etc), so it is ok to lose the data if the node goes down.

However, I have not been able to discover how to do this with Service Fabric. Is it possible?

[2018-05-02 15:06] raunakpandya commented on #1027
you can map local volume to container by specifying something like below under containerhostpolicies tag in applicationmanifest..

        <Volume Source="/mnt/myvol/folder1/" Destination="/var/folder1" IsReadOnly="false" />

[2018-05-02 15:17] MikkelHegn commented on #1025
Thanks for this Poul - yes we need it.

Framework dependent binaries is definitely the way to go, however it requires .net core installed in the cluster, which we do in Linux at this point. We are working on enabling it in Windows as well. #500.

This is just an initial response, will get back once we find more time to look at this.

[2018-05-02 16:20] pksorensen commented on #1025
Self contained application is also okay. We just need something that can pick the right ServiceManifest.xml at build time.

I am perfectly happy with any solution that can be done by right clicking in visual studio and altering .sfproj or .csproj.

Maybe it already exists. But if i can define property groups in .sfproj conditional on which runtimeidentifier that is being used such it pick ServiceM

[2018-05-02 16:33] petertiedemann commented on #1027
@raunakpandya Like below? I dont see anything?

[2018-05-02 16:42] andrewdmoreno commented on #1009
Thanks, I figured that was the only option at this point.

[2018-05-02 17:08] Flern commented on #710
@petertiedemann Installation in docker containers is not supported due to the inability to install drivers in the docker containers (root cause is because the SDK requires the runtime be installed).  A separate issue tracks docker specifically at #711 but we've seen no movement or response from Microsoft regarding the community needs.  I suggest making a comment there or opening a new issue to get

[2018-05-02 19:41] petertiedemann commented on #710
@Flern Thanks, that is very unfortunate, especially since such a docker container exists for Linux:

https://hub.docker.com/r/microsoft/service-fabric-onebox/

[2018-05-02 19:43] petertiedemann commented on #711
@rishirsinha You mention you don't support installation inside docker containers, but apparently that only goes for windows and not linux, because a "onebox" cluster docker image is available here:

https://hub.docker.com/r/microsoft/service-fabric-onebox/

[2018-05-02 19:49] rishirsinha commented on #711
@petertiedemann

Yes, my apologies on that. The non-support of SF runtime install inside container is limited to windows. The reason for that is the presence of kernel drivers in windows which are not easy to move away from. We have looked at containerizing SF runtime for windows as well, but the timeline for that is not finalized.

[2018-05-02 20:48] JeffMushmo commented on #1018
When will there be a fix? This is TERRIBLE!

[2018-05-02 21:09] JeffMushmo commented on #1018
Every link I find to install the SDK & tools gives me the latest version. Where can we download the 6.1 version from?

On the Service Fabric documentation page, it states that 6.2 IS supported.
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-support

Might be a good idea to get your story straight before sending entire development teams down the wrong path.

[2018-05-02 22:12] dbreshears commented on #352
@tcarun , closing this as uncertain what to investigate .  If you have a repro project or set of repro steps, please re-open

[2018-05-02 22:12] #352 closed

[2018-05-02 23:51] Capotasto commented on #261
@valcs007 Hi there, I have the same problem now. How did you solve this?

[2018-05-03 02:40] robbenwangcn commented on #958
@masnider  Any updates? I'm facing the same issue. Current fabric version 6.1.480.9494. Fabric.exe is taking 500M+ memory. 3 nodes with D1V2

[2018-05-03 05:58] angrymrt opened #1028 "ClaimsIdentity not serialized/deserialized correctly on remoting between .net 4.6.2 and dotnetcore 2.0"
When using remoting (V2) between services that target different versions of the .net we have noticed that object aren't being serialized / deserialized correctly. For example, the ClaimsIdentity object is correctly serialized and deserialized when passing between services that both target .net 4.6.2, but when passing between .net 4.6.2 and dotnetcore 2.0, the Claims property on the ClaimsIdentity

[2018-05-03 08:31] Sweiii opened #1029 "Windows authentication Service fabric (on-premise) application, specific username and password"
Hi

I have an application with an Web API i would like to secure that with an username and password when accessing the endpoint e.g. http://localhost:8200, i have tried https://azure.microsoft.com/en-us/blog/windows-authentication-in-service-fabric-and-asp-net-core-2-0/ and it works but i can't figure out how to specify the username and password required to access the endpoint.

Right now everyone

[2018-05-03 09:54] Marusyk commented on #449
@dbreshears Thank you very much!!! We were one step up to refusing to use ServiceFabric. Thanks. Now application starts in 21 seconds. Adding **Settings.xml** to each services solve the problem

[2018-05-03 09:54] #449 closed

[2018-05-03 11:15] nareshkhatri81 commented on #1026
When i run testconfiguration.ps1 i see everything green.

PS C:\Users\a-nkhatri\Downloads\Microsoft.Azure.ServiceFabric.WindowsServer.6.1.480.9494> .\TestConfiguration.ps1

cmdlet TestConfiguration.ps1 at command pipeline position 1
Supply values for the following parameters:
ClusterConfigFilePath: ClusterConfig.Unsecure.DevCluster.json
Trace folder already exists. Traces will be written to existi

[2018-05-03 12:27] OlegKarasik commented on #918
@suchiagicha
I think support for timeout would be great for those cases but at the same time I  agree with you that cancellation token is technically enough (everything else can be implemented on top of this).

Still I am not sure that maintaining cancellation token here is the right solution. In this case the service and its partitions are in the error state and from my prospective attempt to com

[2018-05-03 12:55] nareshkhatri81 opened #1030 "Service Fabric - Analysis of ETL Files"
Hi Team,

i see bunch of ETL files in SF Programdata folder.
D:\ProgramData\SF\Log\Traces.

fabric_traces_6.1.480.9494_131698193371752128_1.etl
FabricInstallerService_6.1.480.9494_131698193202417092.trace.

i am using Microsoft Message analyzer to look into etl files but as it contains lots of information.
i am not able to do analysis of it.
is there way to filter errors in etl files only for trou

[2018-05-03 12:55] nareshkhatri81 commented on #1026
https://github.com/Azure/service-fabric-issues/issues/1030

[2018-05-03 15:10] vikramdadwal commented on #1018
Do we have a concrete timelines on when the fix would be coming ? This will really help us settings our sprint goals. Thanks.

[2018-05-03 15:30] ddignam opened #1031 "Refresh Application and 1 Node Cluster causes Visual Studio to hang"
I've been trying to get the 1 node cluster and refresh application to work for the last couple of days, and it consistently hangs visual studio. Unfortunately I can't get anything form the output window, but it doesn't reveal much, it builds the final project before the service fabric project, and then hangs. Using procmon the last sign of activity from devenv is to read 'HKLM\SOFTWARE\Microsoft\S

[2018-05-03 16:55] masnider commented on #1029
I think you may be looking for this: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-runas-security

[2018-05-03 16:57] suchiagicha commented on #918
@OlegKarasik
From the client side (ServicePartitionResolver) you cant differentiate if there is a network issue or service is in error state(which am assuming is crashing) . You can use health Api to check the health of the service in order to differentiate the above issue.

[2018-05-03 17:03] Sweiii commented on #1029
Thanks masnider, as I understand that link is to Run the service as a different account im looking for auth when accessing the service. e.g https://sfprod:8199 as of now every one has access to that service.

The cluster has windows as cluster security and to access https://sfprod:19080 you need to be in a specified group and thats what i want.

I need to implemen windows security on the service i

[2018-05-03 17:03] alexgman opened #1032 "Is it possible to run fabric in a docker container?"
Is it possible to run fabric in a docker container?

[2018-05-03 17:15] masnider commented on #1032
Yes though today only as a part of your development/build experience. https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-linux

[2018-05-03 17:16] Sweiii commented on #1029
But i got a example from a developer that we might be able to implemen with out odata as we dont have that in our service.

Its with [Authorize(Role....)]

[2018-05-03 17:33] srrengar commented on #1030
Hi @nareshkhatri81 these files are used by our engineers during support cases. We recommend you turn on Azure Diagnostics (if you haven't already) and you can view events from your cluster in Log Analytics to troubleshoot.

Here are the instructions on this:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-diagnostics-event-aggregation-wad
https://docs.microsoft.com/en-us/azure

[2018-05-03 17:39] nareshkhatri81 commented on #1030
@srrengar
we are running cluster onpremise.
is there any way for us to filter errors in ETL logs ?

Thanks,
naresh Khatri

[2018-05-03 18:00] deepakjangid-MSFT commented on #1015
Any update @JunRamoneda?

[2018-05-03 18:44] nareshkhatri81 commented on #1026
@rishirsinha
i see this entry as warning.
i checked directory is available.
i replaced machine name below with XXXXX.
i tried changing path but it didnt help.

2018/05/03-18:30:48.824,Warning,9628,ImageStoreClient.ManagedFileLock,Failed to acquire writer lock for d:\Data\SF\XXXXXXXX \Fabric\work\UnreliableTransportSettings.ini. Error = System.IO.DirectoryNotFoundException: The system cannot find t

[2018-05-03 19:25] nareshkhatri81 commented on #1026
Fixed...

[2018-05-03 19:25] #1026 closed

[2018-05-03 19:28] RajeetN commented on #1029
Yes, Runas feature is not related to this. This is service level authorization logic that SF does not have control over. Matt, @Sweiii  is probably looking for sample of how to plug principal permissions attribute in our programming model not SF runas

[2018-05-03 19:33] angrymrt commented on #1028
@hrushib 2.0.6

[2018-05-04 00:48] JunRamoneda commented on #1015
@deepakjangid-MSFT Sorry for not replying sooner. I decided to roll back to 6.1.480.9494 instead. Thanks for all the help

[2018-05-04 10:11] deepakjangid-MSFT commented on #1015
Ok. I am closing this issue for now. Please let us know in case you update to 6.2 some other time and face any issues.

[2018-05-04 10:11] #1015 closed

[2018-05-04 10:52] chunliu commented on #910
Hit the same issue with the PowerShell script in this doc: https://docs.microsoft.com/en-us/azure/service-fabric/scripts/service-fabric-powershell-create-test-cluster

[2018-05-04 11:08] raunakpandya commented on #1027
" <Volume Source="/mnt/hostfolder/" Destination="/var/containerfolder" IsReadOnly="false" />  "

[2018-05-04 11:12] raunakpandya commented on #1027
Arghh.. The xml statement got removed. Had to format it correctly..

[code]
Check here for eg. https://github.com/suhuruli/jenkins-container-application/blob/master/JenkinsSF/ApplicationManifest.xml

BTW, very soon we are coming up with a Service Fabric volume driver which would keep the container state locally within the cluster replicated using service fabric replication stack.

[2018-05-04 11:18] petertiedemann commented on #1027
@raunakpandya That sounds like exactly what I need. I will close this issue now, as I think you answered it.

[2018-05-04 11:18] #1027 closed

[2018-05-04 11:41] usamaazhar opened #1033 "Load balancing/shifting of services between nodes"
We are working on a service fabric application architecture where there are multiple instances of Guest executables( NodeJS) service running. As per default behaviour of SF it shifts services from one node to another when the load is high for balancing the load. The problem we are facing is that these guest exes have large file associated with them which they download as a part of initialization o

[2018-05-04 11:47] raunakpandya commented on #1033
Couple of options.. Depending on whether its read only file or read-write..
If its read only, you can pre download the file on all nodes using VM extension or service fabric setup entry point, that way when the services move, the file is already present.
If its read-write, you would need to ensure that the file is available at a shared location accessible to all the nodes where the service can mov

[2018-05-04 11:50] DHoefakker commented on #1018
@JeffMushmo Yeah thanks that was it. Manual start WebPlatform Installer, go to Applications, search "Service Fabric" and install SDK 3.0.480.

[2018-05-04 12:26] hrushib commented on #1028
ClaimsIdentity isn't marked Serializable in dotnet so can't be serialized by default serializer used by remoting (v2). You can see the difference in [ClaimsIdentity code from dotnet repo](https://github.com/dotnet/corefx/blob/master/src/System.Security.Claims/src/System/Security/Claims/ClaimsIdentity.cs) and [ClaimsIdentity code from .net 4.6.2 reference source](https://github.com/Microsoft/refere

[2018-05-04 12:26] #1028 closed

[2018-05-04 12:46] usamaazhar commented on #1033
@raunakpandya  we are trying to incorporate azure file share but that would introduce unnecessary delays to our workflow. Predownloading on all nodes would not be very suitable in our case because the scale of our application is large and we could potentially run 1000s of instances which means we are eating up a lot of space if there are (totalNodes)*(instances) number of files.

[2018-05-04 19:29] rvidis opened #1034 "There was an error during CodePackage activation.Container failed to start for image"
I have created an image for ASP.net MVC app from `4.7.2-windowsservercore-ltsc2016` When I run the container locally using Docker all works as it should. I have a 5 node Fabric Cluster in Azure set up and when I try to deploy initially I get:

[code]

And when I look at the individual nodes I see:

[code]

After a while the Health events in the nodes change and show:

`The ServicePackage was activ

[2018-05-05 19:09] ninzavivek commented on #540
The fix for this should be available in  SF 6.2 CU1.

[2018-05-05 19:10] #540 closed

[2018-05-05 19:15] ninzavivek commented on #657
Hi @sea1jxr, I am in process of validating a mitigation [using IPv6 address of the host machine and adding that to the DNS server chain of the preferred adapter at index 0 instead].  Based on the testing results we might consider adding to our product logic also.

[2018-05-06 12:11] heavenwing opened #1035 "Create a standalone Windows cluster , get Hosting.FirewallPolicyEnabled error"
I try to create a standalone Windows Cluster (Version is : 6.1.480.9494)

I got this error in Windows Security or gMSA security configuration:

Config for Hosting.FirewallPolicyEnabled changed but this entry can not be dynamically updated
Configuration can not be updated dynamically for Hosting/FirewallPolicyEnabled
Exiting the process as configuration can not be updated dynamically.

[2018-05-07 04:07] nareshkhatri81 commented on #1030
@srrengar
Thats strange. is there way to filter out errors from those ETL logs ?
are you saying errors will be displayed in SFx and Event viewer ?
there wont be any error that will be missed in these places.
there is no way to filter out errors from ETL logs ?
what is purpose of ETL logs ? does it contain only verbose information.

Thanks
Naresh

[2018-05-07 04:11] nareshkhatri81 opened #1036 "SF Authentication"
Hi Team,

we were able to co-relate below error #6038 in event viewer with Service Fabric user P_FSSUserffffffff using the security event log.

is there way to make this communication more secure using Kerberos/Extended Protection?

Microsoft Windows Server has detected that NTLM authentication is presently being used between clients and this server. This event occurs once per boot of the server o

[2018-05-07 13:38] chunliu opened #1037 "Service cannot be accessed with its DNS name from a container"
I tried to deploy 2 Windows containers to a sf cluster with docker compose. The docker-compose.yml looks like this.

[code]

The DnsService is enabled in the cluster, and I configured the DNS name of the db service in the connection string, as shown the above. However, when I tried to curl the web, it returned an exception

If I remote desktop to a node and try to connect the db with its name "db.

[2018-05-07 14:51] pdylanross opened #1038 "Run a script after F5 in visual studio"
We have recently taken on our first client live and have production resources now, and as we were warned default services have began to bite us. I'm currently in the middle of investigating how we want to approach removal of default services with regards to local development and I'm having a tricky time getting something clean working.

The approach I first took was to write some psh that reads a

[2018-05-07 15:28] stefando opened #1039 "FabricClient.QueryManager.GetNodeLoadInformationAsync throws on Linux cluster"
Hello,

SF version : 6.1.187.1 (on Linux) (Ubuntu 16.04)
.NET core stateless service
Nuget version: 6.1.480 / 3.0.480

The following code works OK on SF deployed on windows.
However, on **Linux**  cluster it throws:

[code]

Exception:
[code]

[2018-05-07 17:02] oanapl commented on #1036
@nareshkhatri81 , the user is used by fabric:/System/ImageStoreService to authenticate SMB copy between nodes. There is no way at the moment to remove NTLM usage. We are working on removing SMB usage for image store, but that will take some time (probably in a few service fabric releases).

[2018-05-08 04:35] srrengar commented on #1030
@nareshkhatri81 there isn't a way to filter out errors from the ETL files, they are used by our engineers to parse through the verbose information for particular support cases

[2018-05-08 04:55] nareshkhatri81 commented on #1030
@srrengar
could you confirm if SF logs all errors in event viewer ?
can we consider event viewer as single source of truth for all errors ?
is it possible to enable verbose logging where we can see what happening inside cluster when some error occurred in event viewer ?

Thanks,
naresh Khatri

[2018-05-08 05:22] nareshkhatri81 opened #1040 "SFx - Container Logs not getting displayed"
Team,
we are getting below exception when tried to see container logs from SFx.
is something needs to be enabled to get container logs working ?

As per this link, it should work without any changes.

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-containers-view-logs

Error grabbing logs: EOF

Thanks,
Naresh Khatri

[2018-05-08 08:07] dannythunder opened #1041 "ApplicationParamter in Deploy-FabricApplication.ps1 do not get set"
I've modified my `Deploy-FabricApplication.ps1` to add some custom applicationparameters depending on username to override default-parameters (in the long run I will get all my settings from Azure Key Vault as applicationparameters).

I see my settings with a simple Write-Host just before the Publish-NewServiceFabricApplication script is being triggered:

`Write-Host "User custom parameters:"
	$Pu

[2018-05-08 09:33] louiswrwright opened #1042 "Can't run a specific Docker container on Windows Service Fabric"
I've been trying to run [browserless/chrome](https://hub.docker.com/r/browserless/chrome/~/dockerfile/) inside of service fabric.

I've run the instance locally through Docker fine.

When running through Service Fabric, the following error is created

[code]

At a guess it does not like that ":C" at the end of the path, but I'm not sure where it's getting that from.

Also I have this working fine

[2018-05-08 09:51] SamirFarhat commented on #479
I'm encountering the same issue. T
You can modify the template and  make a dependeny on the SF extension to start after the custom script ends. I have done similar things on the past

[2018-05-08 09:51] SamirFarhat commented on #479
Though, the Azure team shoul fix this problem, or remove these series from the portal

[2018-05-08 09:56] tbertenshaw commented on #479
@SamirFarhat didn't know you could do that, Was pretty sure that extensions run in parallel on scalesets and thus you cannot be sure what order they run in.

[2018-05-08 14:56] #1034 closed

[2018-05-08 14:57] rvidis commented on #1034
https://stackoverflow.com/questions/50182255/there-was-an-error-during-codepackage-activation-container-failed-to-start-for-i

[2018-05-08 17:38] anmolah commented on #1040
@roshanroutray  can you help with this investigation

[2018-05-08 17:42] rakshitatandon commented on #1035
That exception should not be causing cluster bootstrap to fail. Can you check if the GMSA account is correctly installed and configured (Test-ADServiceAccount). Also, ensure that ClusterSPN is rightly configured with the GMSA account. You should also make sure the machine group/machine identities are configured to access GMSA password (-PrincipalsAllowedToRetrieveManaged)

[2018-05-08 17:50] roshanroutray commented on #1040
"Error grabbing logs: EOF" is thrown by docker logs API when there are no stdin or stdout emitted by the container.

[2018-05-08 17:57] nareshkhatri81 commented on #1040
Which docker api sf uses to display logs ?
Do we need to enable suport in docker installation ?

[2018-05-08 18:09] RajeetN commented on #1042
@louiswrwright, Linux Containers On Windows (LCOW) is not supported on Service fabric in the current release.

[2018-05-08 18:09] #1042 closed

[2018-05-08 18:09] anmolah commented on #1040
@roshanroutray can we emit something more useful than this error message so that it is clear that no output was found rather than 'error' ?

[2018-05-08 19:01] salariamanisha commented on #1018
I see the latest version on Azure as 6.2.274.9494 now. But still nuget is pointing to 6.2.262. Should we assume this is fixed now ?
--

[2018-05-08 20:49] roshanroutray commented on #1040
We use https://docs.docker.com/engine/api/v1.27/#operation/ContainerLogs to fetch docker logs.
Reopening this issue to emit more clear error message to avoid confusion

[2018-05-08 22:08] Marusyk commented on #752
are there any news about windows 10 support?

[2018-05-08 22:09] shaohaolin commented on #936
+1 still having this problem. SDK 3.1.269, VS 2017 Enterprise.

[2018-05-09 06:58] amang2205 commented on #936
I too am facing the same issue. Figuring out what the best option is at this point and am seriously considering using a VM on Azure, non-domain joined or anything alike, and force down the installation of an older SDK (if possible).

[2018-05-09 09:33] chunliu commented on #1037
Add on to this, nslookup to db.todowebsfcontainer on a node can resolve the name to an ip address. However, nslookup in the container returns an error:

[2018-05-09 11:37] nareshkhatri81 opened #1044 "Question - Service Fabric Configuration Upgrade -Adding Reverse Proxy Certificate"
Hi Team,

We have cluster running with reverse proxy over http.
we want to make reverse proxy secure.
is it possible to upgrade from http to https ?
I have added below security tag in modified cluster configuration.
"security": {
            "metadata": "The Credential type X509 indicates this is cluster is secured using X509 Certificates. The thumbprint format is - d5 ec 42 3b 79 cb e5 07 fd 83 5

[2018-05-09 11:55] nareshkhatri81 opened #1045 "Question - Fabric service (FabricHostSvc) Runs with Network Service ?"
Team,

is it possible to run FabricHostSvc as Network Service account ?

While configuring Reverse Proxy Certificate today, i followed below link where its mentioned Fabric Process runs with Network SA. Network SA needs to have access to Certificate Private key.

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-windows-cluster-x509-security
Which account does containers runs by

[2018-05-09 11:57] raunakpandya commented on #1045
Trying to understand your requirement here. Why do you want FabricHostSvc to run under network service account?

[2018-05-09 11:58] nareshkhatri81 commented on #1044
As per documentation, some settings cant be updated.
Can we have explicit list of what cant be updated once we have cluster running ?

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-upgrade-windows-server

Some configurations can't be upgraded, such as endpoints, cluster name, node IP, etc. The new cluster configuration JSON is tested against the old one and throws er

[2018-05-09 12:05] nareshkhatri81 commented on #1045
@raunakpandya

we are trying to make RP secure over http.
Service Fabric process needs to have full access to private key.
As per this link, SF runs with Network Service Account.
so do i need to provide Network Service Account full access to private key or Local System ?
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-windows-cluster-x509-security

Network service has least pr

[2018-05-09 12:16] raunakpandya commented on #1044
By any chance are you setting up the ClusterCredentialType or ServerCredentialType. Or were they set earlier which you are removing now?

[2018-05-09 12:18] raunakpandya commented on #1045
FabricHostSvc doesnt access the certificates.. Fabric.exe in case of cluster security accesses the cert which runs as network service. You need to ACL your certificate for Network Service account.

[2018-05-09 12:36] nareshkhatri81 commented on #1045
@raunakpandya Thanks for clarifying that.
do you know what account does service fabric runs the container with ?

Thanks,
naresh Khatri

[2018-05-09 12:38] nareshkhatri81 commented on #1044
@raunakpandya
we don't have any security setup earlier.
we used the template ClusterConfig.Unsecure.MultiMachine.json earlier to create cluster.

[2018-05-09 13:00] pksorensen commented on #735
I read here that it should work with string[], but when tried this myself i got

[code]

[code]

[2018-05-09 13:06] ThiemeNL commented on #638
Any update on this? I have exactly the same issue with netcore 2.0.

[2018-05-09 13:11] raunakpandya commented on #1044
And the security section which you added is the one you pasted above?
Adding @rakshitatandon

[2018-05-09 13:36] nareshkhatri81 commented on #1044
Yes thats correct.

[2018-05-09 15:56] ddignam commented on #1031
Another observation, a colleague  tried and got a message about having to set protections of the folder, which set some protections up for servicefabricAllowedUsers. I don't think I've seen this dialog, and setting it by hand doesn't see to help.

[2018-05-09 16:12] Pam007 opened #1046 "Partition is below target replica or instance count."
Hi I am having this issue with my local cluster. I checked the partition is not an issue I have more than 10GB available on all nodes in cluster. I am trying to deploy MS Dynamics 365FO on the local cluster according to this doc: https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/deployment/setup-deploy-on-premises-pu12#plansvcacct and i am stuck on the last step where i hav

[2018-05-09 16:43] shaohaolin commented on #936
Rollback to SDK 3.0456 fix my problem. I suspect SDK 3.1.269 installing Service Fabric runtime 6.2.269, could it be the cause?

[2018-05-09 19:18] suchiagicha commented on #735
Hi @pksorensen
I am not able to repro this issue. I tried your interface, it worked fine.

Could you share your sample for both service and client?

[2018-05-09 20:42] NArnott commented on #274
This is also an issue when using the reverse proxy and SignalR. The negotation urI it uses looked like this:

http://localhost:someport/signalr/negotiate?clientProtocol=1.4&connectionData=[%7B"Name":"MyHub"%7D]

The square brackets break it and it returns a 400 FABRIC_E_INVALID_ADDRESS. Has there been any headway on this?

[2018-05-09 22:48] dbreshears commented on #1031
@ddignam,   do you happen to have a small repro project that we can clone for investigation?  If so, we will take a look, however I will mention that F# is completely untested on our end and thus we have never intended support for it in the VS tooling.    Hopefully it is something easy we can address, but if not I can't guarantee we can resolve this.

[2018-05-10 08:13] OlegKarasik opened #1047 "Incorrect exception message when timeout reached in FabricClient.QueryManager methods."
Incorrect exception message when timeout reached in FabricClient.QueryManager methods.

Consider an example:

[code]

If the timeout is reached the method throws `System.Fabric.FabricTransientException` with `'Could not ping any of the provided Service Fabric gateway endpoints.'` instead of `System.TimeoutException` with the timeout related exception message.

[2018-05-10 08:49] cod7alex commented on #803
Hi, I am seeing this problem using 6.2 runtime.

[2018-05-10 08:57] ddignam commented on #1031
@dbreshears

The F# aspect is probably a red herring, the same repository does work for another developer so it's something environmental. I've tried with the voting application sample (https://github.com/Azure-Samples/service-fabric-dotnet-quickstart) and I get the dialog asking to grant permissions, and the debug session works correctly.

It appears to hang at the deploy stage, but that line nev

[2018-05-10 17:32] chuanboz opened #1048 "Test support: expose public constructor for sealed class used in ICodePackageActivationContext interface"
While implementing #48 and #9 , I'm trying to provide a complete test that could fully cover the logic, I found that ICodePackageActivationContext interface has referenced many sealed class in System.Fabric that does not have public constructor.
Some examples are:
ConfigurationPackage
ConfigurationPackageDescription
ConfigurationSettings
ConfigurationSection
Right now one workaround that I see is

[2018-05-10 18:31] mani-ramaswamy commented on #1032
You can also run reliable services in containers (preview) as described in https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-services-inside-containers

[2018-05-10 19:49] alexgman opened #1049 "orchestrating creation of service fabric cluster"
We have a team of around 20 devs.

Rather than forcing each dev to create their own cluster, configure it, manage it, etc, we'd like to be able to simply orchestrate its creation. Furthermore, we don't want to force them to install all dependencies. We want to simply create a containerized environment that each dev can replicate and use locally.

**How do we containerize a cluster, such that it is

[2018-05-10 19:51] bgiftge opened #1050 "Subsequent builds with .net framework fail when using Refresh Application."
Error MSB3027: Could not copy "obj\x64\Debug\MyApp.exe" to "bin\x64\Debug\MyApp.exe". Exceeded retry count of 10. Failed. The file is locked by: "MyApp.exe (16128)" (1, 1)
    Error MSB3021: Unable to copy file "obj\x64\Debug\MyApp.exe" to "bin\x64\Debug\MyApp.exe". The process cannot access the file 'bin\x64\Debug\MyApp.exe' because it is being used by another process. (1, 1)

using VS 2017 and l

[2018-05-10 20:36] ninzavivek commented on #803
Could you provide information about your environment ?

- Is this is SFRP cluster on One box environment?
- Is this is Windows or Linux?
- What the error are you getting, we do list message on SF explorer page.
- What is the exact version?

[2018-05-10 21:35] ninzavivek commented on #1037
Have been following up with you on the email.

- dns resolution works on the host machine but it is failing from inside the container.
- traces show that dns resolution requests from inside the container are failing to reach onto the host machine.
- Did check that the firewall rule to allow inbound traffic on port 53 on host machine exists.

[2018-05-10 23:41] masnider commented on #1048
May also consider adding to https://github.com/loekd/ServiceFabric.Mocks

[2018-05-11 02:43] dbreshears commented on #1031
@ddignam , So just issuing a Rebuild doesn't cause VS to hang,  only an F5  and only when using Refresh mode and 1 node cluster?    Can you try updating to 15.7 now that it is out?

Can you change MSBuild project build output verbosity to "Detailed" in Tools->Options->Projects and Solution->Build and Run. Do you get anything in the output panes for Build or  Service Fabric Tools when you F5 and if

[2018-05-11 02:56] chunliu commented on #1037
@dario-ms
Windows sku is 2016-Datacenter-with-Containers

ipconfig /all inside the container:
[code]

ping the default gateway:
[code]

Listening ports on node:
[code]

[2018-05-11 04:34] nareshkhatri81 opened #1051 "Environmental Variable set by Service Fabric inside containers are not available inside w3wp"
Team,

i see bunch of environmental variables inside docker containers which are set by Service fabric when i do docker exec -it containerid cmd.

Fabric_NodeIPOrFQDN=######
Fabric_NodeName=######

But those environmental variables are not passed to application(asp.net) running under iis.

i written simple api inside containers to get those but no luck.

  [SwaggerIgnore]
        [HttpGet, Route("

[2018-05-11 05:16] rishirsinha commented on #1046
@Pam007 , This is not a Service Fabric issue. In this case the dynamics app is crashing in its

Microsoft.Dynamics.AXService.Database.Synchronizer.SyncDB() at Microsoft.Dynamics.AXService.Database.Synchronizer.Synchronize() at

function. You should follow up with Microsoft Support so that the dynamics team can check what is happening.

[2018-05-11 05:16] #1046 closed

[2018-05-11 05:27] rishirsinha commented on #1049
@alexgman We do not support cluster creation in a container in windows today. We are working on it but do not have a clear estimate yet.

[2018-05-11 05:29] rishirsinha commented on #1023
You can download the correct cab file and use it to create the standalone cluster by passing the cab file to the create cluster command.

[2018-05-11 05:48] harahma commented on #1051
This sounds like a docker bug. If you start the container directly with docker run command line and pass some env, do you see it available?

[2018-05-11 07:41] cod7alex commented on #803
@ninzavivek Hi, this seems sporadic, i will get back to you if i am able to catch it.

[2018-05-11 08:11] nareshkhatri81 commented on #1051
How does SF set docker env variables ?
I can see env variables inside containers.
Docker passes those env variables to app default pool as per them.

[2018-05-11 08:30] harahma commented on #1051
SF uses this api passing the environment in Env field of request body: https://docs.docker.com/engine/api/v1.30/#operation/ContainerCreate

[2018-05-11 14:04] alexgman commented on #1049
What would be the simplest/least-bulky way to containerize a cluster and allow it to be reusable? It doesn't necessarily need to be windows, so long as I can host it on windows.

[2018-05-11 15:22] chunliu commented on #1037
This issue doesn't happen the cluster with os version 1709. Thanks.

[2018-05-11 15:45] ddignam commented on #1031
@dbreshears thanks for the interest. This is quite a killer for us, it takes several minutes to deploy in the 5 node cluster.

I moved to 15.7 earlier in the week, and the hang is still there. The hang happens on build/rebuild, so not run/debug. It only happens in the 1 Node Cluster with Refresh Mode.

I've turned detailed on, but nothing unexpected appears in the output window, I think it hangs a

[2018-05-11 15:57] alexgman commented on #1049
@rishirsinha what would be the most _compact_ way to maintain a cluster? Would it be to find the smallest linux distro, put it on a VM, and install the cluster on that? My main concern is being able to easily share it with other developers, and that they can "have" it without having to know how to deploy, configure, etc.

[2018-05-11 16:08] rishirsinha commented on #1049
@alexgman

If Linux is an option we already have a containerized Linux developer cluster out [here](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-mac). The same should work on a Linux machine as well as hyper-v container on windows.

[2018-05-11 16:13] alexgman commented on #1049
I'm not sure I understand the difference between Linux/Windows containers.

If I'm developing within a windows host environment, using VS 2017, why
would I care whether my docker container is running SF in Linux or SF in
Windows ?

Does it make a difference?

On Fri, May 11, 2018 at 11:08 AM, Rishi Sinha <notifications@github.com>
wrote:

[2018-05-11 19:37] ddignam commented on #1031
@dbreshears  Thx, here's the dump file (without heap, with heap came in at 1.2Gb ...)

[devenv.zip](https://github.com/Azure/service-fabric-issues/files/1996634/devenv.zip)

[2018-05-11 20:05] rexwhitten commented on #1049
@alexgman  - I am in the same situation in my organization as well. I am attempting to do a scripted install of the SF runtime and the Cluster setup. SF is tricky to install/uninstall this way, but have made some progress.  Have not found a good way to do what we are proposing. Feel free to reach out if you are interested in the scripts I have so far. I will stay tuned to the thread none the less.

[2018-05-11 23:59] NCarlsonMSFT commented on #1041
The Deploy-FabricApplication.ps1 is only used for publishing, not local debugging.

Asking around the team the only solution we could dream up to solve your problem for the local debugging case is to modify the Publish-NewServiceFabricApplication.ps1 installed by the SDK, which I can't really recommend as it will affect all deployments form the machine and is not easy for sharing on a team.

[2018-05-12 00:39] smflorentino opened #1054 "Add-AzureRmServiceFabricClusterCertificate: Throws AggregateException"
Passing something wrong to `Add-AzureRmServiceFabricClusterCertificate` throws a very unhelpful `AggregateException`
[code]
throws:
[code]

Can you tell what the error was at first glance?

It took me a few minutes of figuring out how to unpack exceptions in PowerShell, but eventually I found this:
[code]

It would be nice if the real exception is thrown, not `AggregateException`

[2018-05-12 11:17] matt-richardson commented on #1020
Hello? I haven't been able to install this since the 27th of April. Is anyone looking into this?

[2018-05-12 19:33] ddignam commented on #1031
@dbreshears I managed to cut things down to a simple application, with 1 FShapre project. It builds under 5 nodes, but hangs under 1 node

[Application1.zip](https://github.com/Azure/service-fabric-issues/files/1997872/Application1.zip)

Extract the zip, and cd to the solution folder, then run

.\.paket\paket.exe restore

and build the solution in Visual Studio.

[2018-05-12 22:32] pksorensen commented on #735
@suchiagicha I dont have a minimal repro at this point and just made a quick fix to get by now with string.join(","..) and string.split("," ..) instead of the array.

No need to look further as this if it works for you.

[2018-05-12 23:28] lukeholbertmsft commented on #1020
Still seeing the same errors as Matt as well.

[2018-05-13 02:34] alexgman commented on #1049
@rexwhitten I've sent you an email. @rishirsinha I'm also looking forward to your response here.

[2018-05-13 05:02] rishirsinha commented on #1049
@alexgman

IF all you are deploying are .net core apps or apps that can run on both Linux and windows it does not matter. Else the OS would have to line up with the apps you are deploying.

@rexwhitten

If you want to just simply automatically install and uninstall a dev cluster. We have scripts in the SDK already doing that. Please feel free to reach out to me if you need more  information.

[2018-05-13 07:31] cod7alex commented on #558
Hi everyone, are there any updates on this? Current sfproj format causes annoying issues like https://github.com/Azure/service-fabric-issues/issues/840 when using ASP.NET Core projects with Fabric. Basically recommended for such projects "dotnet restore" functionality is not available to use now.

[2018-05-13 08:48] am11 commented on #558
With built-in custom SDK resolution implemented in MSBuild and recent improvements in NuGet APIs, SDK trend has started to gain more traction.
One concise example is: https://github.com/Microsoft/MSBuildSdks/tree/5580d48/src/Traversal. Another example which doesn't require an extra `.nuspec` file: https://github.com/aspnet/Razor/tree/a13a0aa/src/Microsoft.NET.Sdk.Razor

@MikkelHegn, @jeffkl, would

[2018-05-13 15:37] MicahMcKittrick-MSFT commented on #1020
@navyahmed @v-jigen can we have a progress update on this issue please?

[2018-05-14 01:10] matt-richardson commented on #1020
Is there a way to install this that doesn't use WebPI?

[2018-05-14 01:18] sandorfr commented on #1020
@matt-richardson 	look at https://github.com/Azure/service-fabric-issues/issues/1014

[2018-05-14 06:09] bishal-pdMSFT commented on #806
@MikkelHegn can we please re-open this again to finalize whether and why we need data package version in reference? VSTS task should only change behavior if this is a platform feature and not an unintended bug.

[2018-05-14 06:38] gparrington opened #1055 "Sudden influx of TimoutException using V2 Remoting"
Our production fabric apps (which have been running for over a year using V1 remoting) was recently upgraded to use V2. Although the upgrade process appeared to go fine two issues occurred

1. After the upgrade we saw exceptions in the app insights logs reporting 'V2 Endpoint not found' for some Stateful services - despite that fact that the upgrade appeared to have completed OK and the fabric exp

[2018-05-14 11:25] cod7alex commented on #803
@ninzavivek
1. Local 1 Node cluster
2. Windows 10 with latest updates
3.
[code]

Those processes are Internet Connection Sharing (ICS), Cisco DNS Proxy, dockerd.
4. Version listed for services is `6.2.269.9494`

[2018-05-14 11:52] rexwhitten commented on #1049
@rishirsinha  - Are refering to  the following scripts
[code]
I am making use of these, but my scripts are aiming to install the SF run-time via script _and_ the cluster. My CI operations build the environment as well. This is following an infrastructure-as-code approach.  in this way we can also make sure the same version of the SF run-time is the same.

I would think you guys would have somethin

[2018-05-14 13:28] dannythunder commented on #1041
@NCarlsonMSFT maby I was a bit unclear what we want to accomplish

We modify our `Deploy-FabricApplication.ps1` to do stuff if run on a dev-machine, user specific stuff.
For now, the script writes to the` Local.1Node.xml` inApplicationParameters.

But we dont want this solution as it is a risk of checking in secret keys to git. Thats why we want to load them into `$ApplicationParameters` in the `D

[2018-05-14 15:30] senj commented on #958
See also #917

[2018-05-14 17:58] lukeholbertmsft commented on #1020
The direct download link in [here](https://msdnshared.blob.core.windows.net/media/2018/03/Microsoft-Azure-Service-Fabric-Release-Notes-SDK-3.0-CU4-Runtime-6.1-CU4.pdf) will work for now, but it's not an ideal long-term solution for automating installation on the SDK.

[2018-05-14 19:27] knizkar opened #1056 "Fabric Node open failed with error code = E_ACCESSDENIED"
After installation of Microsoft Azure Service Fabric SDK version 3.1.274 on Windows 10 with latest updates local dev cluster fails to start. Problem seems to be in `Fabric.exe` process which immediately exits.

Event log:

[code]

[2018-05-14 19:41] knizkar commented on #1056
Problem can be worked around by setting Hosting/FabricContainerAppsEnabled to `false` in cluster manifest.

*discovered by consulting Service Fabric [source code ](https://github.com/Microsoft/service-fabric/blob/master/src/prod/src/FabricNode/FabricNode.cpp#L1463-L1487)

[2018-05-14 20:28] rishirsinha commented on #1049
@rexwhitten

We already have the Runtime Installer executable which you can run to install. It bin places UninstalFabriic.ps1 / CleanFabric.ps1 in the program files and you can use that to clean things up.

[2018-05-14 20:48] alexgman commented on #1049
That's nice but the result of the scripts is not predictable.

For example ensuring the correct ports are open, certificates, etc.

On Mon, May 14, 2018, 3:29 PM Rishi Sinha <notifications@github.com> wrote:

[2018-05-14 22:29] NCarlsonMSFT commented on #1041
I believe what you are seeing are the separate calls to register the type and start the application. You should see the parameter "-Action Create" in the second call indicating that it is starting an instance of the type.

[2018-05-14 22:30] dbreshears commented on #1031
@ddignam , thanks I will take a look

[2018-05-15 01:07] ninzavivek commented on #803
Could you provide more information on how the cluster was created?

Also, please confirm the value of  "AllowMultipleListeners" parameter in DNS Service section of cluster manifest - http://localhost:19080/Explorer/index.html#/tab/manifest

 <Section Name="DnsService">

      <Parameter Name="InstanceCount" Value="-1" />

      <Parameter Name="IsEnabled" Value="True" />

      **<Parameter Name="

[2018-05-15 06:52] gparrington commented on #1055
Hi @suchiagicha - we performed the steps exactly as described in the docs at https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-remoting#how-to-upgrade-from-remoting-v1-to-remoting-v2. Since we have multiple services we made sure to perform these steps on all of them and then went through a standard upgrade deployment of our application. We had to

[2018-05-15 07:37] cod7alex commented on #803
Default cluster created by SDK, no modifications.
`AllowMultipleListeners` is `true`.

[2018-05-15 09:27] cedheim opened #1057 "Question regarding memory usage of Stateful Services with ReliableConcurrentQueue"
Hello
In our application I have noticed that our Stateful Service hosts seem to allocate a lot more memory than other parts of the application (i.e. actors). Basically we use a pattern of Stateful Services with queues to dispatch messages to external sources and I am curious if we are using this correctly and if the memory allocation is working as intended.

When dumping the memory of a service ho

[2018-05-15 10:36] sachevl commented on #1057
Are you sure someone is holding references to those objects?

They might go to GEN1 easily since they are taking part in writing into external sources and GEN1 will be collected only when memory coming to the end or when GEN1 will exceed a capacity threshold.

A couple of highlights on your code:

1. No need to initialize `IReliableConcurrentQueue` each and everytime to ensure queue is there. Init

[2018-05-15 10:57] rexwhitten commented on #1049
@rishirsinha  -  when you say 'bin' are you referring to the runtime or the sdk? Or even [this package ](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-standalone-cluster) mentioned on Microsoft Docs?

LINK - https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-standalone-cluster
 - Here it menions "  Download the setup package.  "

[2018-05-15 11:27] cedheim commented on #1057
@sachevl Thank you for your comment.
1. Regarding initializing of `IReliableConcurrentQueue`, I think we only initialize the queue at the top of RunAsync or am I missunderstanding you? We do get a reference to it every time we "add to the queue" though.
2. We went for not committing the transaction until the data has been sent to have some sort of guarantee. This combined with that ReliableConcurr

[2018-05-15 11:41] cedheim commented on #1057
Also a note, I'm not implying that this is a memory leak per-say. The allocated amount of memory doesn't grow beyond a certain point. I'm guessing it might be some kind of buffer in the replicator? It's just that it seems fairly big and currently it's causing us to use vms with more memory than I think our application actually needs.

[2018-05-15 12:43] sachevl commented on #1057
I meant you are calling `var queue = await this.StateManager.GetOrAddAsync<IReliableConcurrentQueue<T>>(QueueName);` before each and every enqueue which is relatively heavy operation.

Could you use the same reliable queue object in `AddToQueue` which you've created in `RunAsync`?

I have a suspicion that you are creating multiple reliable queues objects and each of them is caching 1 queue item...

[2018-05-15 13:57] hrushib commented on #1009
@andrewdmoreno , @olitomlinson This issue is resolved with the above latest runtime (version 6.2.274) and latest SDK packages (version 3.1.274). Please try this combination and revert back in case you face any issue. Refer [6.2 Release Update](https://blogs.msdn.microsoft.com/azureservicefabric/2018/05/14/6-2-release-update/) for further details.

Thanks for reporting this issue and your patience

[2018-05-15 13:57] #1009 closed

[2018-05-15 14:50] ashishnegi commented on #1057
@cedheim Try adding `System.GC.Collect()` after you have removed X items from queue.
If it does not help, look at the memory dump to see which objects are being held ?

May be the code you are showing is simple representation of actual code. If not, what happens if `WRITE TO EXTERNAL SOURCE` succeeds but `await transaction.CommitAsync();` throws ? In that case, your `WRITE TO EXTERNAL SOURCE` need

[2018-05-15 17:30] rn-3 commented on #994
Hello @BharatNarasimman, any input or update on this issue?

[2018-05-15 17:48] suchiagicha commented on #1055
Did you make sure Client Service (Code which create ServcieProxy) needs to be upgraded after Remoting Service (where listener resides). If not. then "V2 Endpoint errors will appear".
Reason is you client is using remoting v2 but your service has not yet created v2 listener.
Above steps needs to be followed in sequence.

[2018-05-16 04:38] ashishnegi commented on #930
@festivus @keithbo This is fixed in latest released packages 6.2.274
Please have a look at [release](https://blogs.msdn.microsoft.com/azureservicefabric/2018/05/14/6-2-release-update/) notes for feature updates.
Thanks for your patience.

[2018-05-16 04:50] chunliu commented on #540
@ninzavivek can you confirm if your fix is in SF 6.2 CU1? I installed the runtime version 6.2.274.9494 and SDK version 3.1.274, but I still hit this problem.

`2>Test-ServiceFabricApplicationPackage : The ServiceDnsName for DefaultService 'db.todo' is invalid.`

Do I need to change anything in my existing project?

[2018-05-16 06:45] cedheim commented on #1057
Thank you for your feedback.
@sachevl I will test a single instance of the reliable queue.

@ashishnegi The main reason for this solution is that the receiver might not be reliable or performant. We do not want external communication from our actors to block calls to that actor for an extended period of time.

[2018-05-16 07:10] gparrington commented on #1055
Yes. We were very careful to upgrade the back-end services with support for V1&V2 (via listener.compat) before we rolled out the clients (which simply upgraded from V1 to V2).

Right now I think our major concern is why we started to get TimeOutExceptions after several days of normal running

[2018-05-16 08:00] rishirsinha commented on #1049
@rexwhitten

When you install service fabric runtime you will find it at:

C:\Program Files\Microsoft Service Fabric\bin\Fabric\Fabric.Code\CleanFabric.ps1

[2018-05-16 13:09] Imransysg opened #1059 "container history check failed"
I am getting this error when running volume sample image from this git

https://github.com/Azure-Samples/service-fabric-containers/tree/master/Volume

When I create the application in azure service fabric, i see the following error in sfexplorer
error persists even when i shift to docker hub repo instead of my private repo

i am using a linux cluster and the result if sfctl --version is as fooloin

[2018-05-16 15:37] MisterPuffyPants opened #1060 "Connect-ServiceFabricCluster : No cluster endpoint is reachable, please check if there is connectivity/firewall/DNS issue."
I've downloaded the Service Fabric SDK for VS 2017 from here: http://www.microsoft.com/web/handlers/webpi.ashx?command=getinstallerredirect&appid=MicrosoftAzure-ServiceFabric-CoreSDK

The initial install on my Windows 10 v1709 workstation (fully patched) completes successfully.  The problem manifests when I try to setup a cluster:

[code]

Pulling my hair out with this over the last couple days.

[2018-05-16 15:44] bryanlikes commented on #711
@rishirsinha
Is there anyway to install SF sdk without the runtime kernel drivers (I assume they are not needed for building and deploying SF applications).  I have no desire to run the SF applications in a docker container, just build and deploy.

[2018-05-16 17:45] rishirsinha commented on #711
Adding @VipulM-MSFT who is working on enabling this soon.

[2018-05-16 18:14] JeffMushmo commented on #1059
I'm getting this error as well. Trying to run the python:3.6-jessie image on a Windows Server Data Center 2016 With Containers sku.

[2018-05-16 21:10] MikkelHegn commented on #1060
Can you share the generated json template? C:\Users\kthompson\AppData\Local\Temp\tmp3B1A.tmp.json

[2018-05-16 21:40] MisterPuffyPants commented on #1060
[code]

[2018-05-16 21:52] MikkelHegn commented on #1060
@maburlik - I don't see anything obvious from the manifest.

[2018-05-16 21:56] AaronRM commented on #448
I can second the comments from @askew. The PFX imported to the container by Service Fabric (even in 6.2) does *not* contain the private key (even when the cert installed on the host does contain an exportable private key). @rakshitatandon Can you please follow up/comment on this?

[2018-05-16 22:01] MikkelHegn opened #1061 "Running Service Fabric in Windows 10 in a Virtual Machine will prevent DNS from within containers to work"
When using Windows 10 (version 1703 and older) in a Virtual Machine to run a Service Fabric cluster, DNS resolution from inside containers will not work due to a Windows issue.

To workaround this issue, follow the instructions in the attached.
[DNS in VMs.pdf](https://github.com/Azure/service-fabric-issues/files/2010938/DNS.in.VMs.pdf)

[2018-05-16 22:08] MikkelHegn opened #1062 "Resolving services in same application using service name does not work on Windows 10, if the application was deployed using Docker Compose"
Resolving services in same application using service name does not work on Windows 10, if the application was deployed using Docker Compose. This is due to an issue in Windows 10.

To workaround this issue, you can resolve the service, by using the full DNS name, the service is registered with: e.g. servicename.appname. You can obtain the DNS name through Service Fabric Explorer or by running Get-

[2018-05-16 23:06] suchiagicha commented on #1055
For the timeout, can check the traces, Could you share the SF traces here?

[2018-05-16 23:47] leontheprofessional7 commented on #347
I got the timeout exception, but for the `New-ServiceFabricApplication`.

Here is the related logs in verbose (The project is 315MB, and the time out thresh hold is 600s):

`Started executing script 'Publish-NewServiceFabricApplication'.
powershell -NonInteractive -NoProfile -WindowStyle Hidden -ExecutionPolicy Bypass -Command "[void](Connect-ServiceFabricCluster); Import-Module 'C:\Program Files\

[2018-05-17 02:36] ninzavivek commented on #1037
Based on Chun's feedback ( on a separate email thread) I am closing the issue.

I was unable to reproduce the issue on WS 2016 instance both with hyperv and process isolation.

[2018-05-17 02:36] #1037 closed

[2018-05-17 02:43] ninzavivek commented on #803
I am unable to reproduce this issue on RS3, RS4 machines and we haven't seen any other reports of it.

[2018-05-17 03:07] benmartens commented on #803
By "no other reports" I assume you mean no reports other than every else on this thread. I worked around this by using pksorensen's most recent post (and I assume all the other thumbs up did as well.)

[2018-05-17 03:12] mvperez opened #1063 "Encountered an error during CreateContainer: failure in a Windows system call: No hypervisor is present"
Hi,
Copying the issue I posted here.
[Encountered an error during CreateContainer: failure in a Windows system call: No hypervisor is present](https://github.com/Microsoft/service-fabric/issues/131)

[2018-05-17 04:48] nareshkhatri81 commented on #1044
@rakshitatandon  is there any update on this issue ?
does removing certificate from existing cluster scenario is supported ?

While trying to remove i get below exception.

Config validation: The certificate cannot be removed since the authentication type of the cluster cannot be modified.
Best Practices Analyzer determined environment has an issue. Please see additional BPA log output in Deployme

[2018-05-17 05:42] chunliu commented on #1063
What is the sku and os version of your cluster? hyperv isolation is only available on Dv3 and Ev3. And hyper-v was not turned on on RS1 by default, while it is on RS3.

[2018-05-17 07:13] marvinvperez commented on #1063
I see. My cluster is 6.2.
SKU: 2016-Datacenter-with-Containers
Size: Standard_D2_V2

That means I need to upgrade first to use hyperv. Thanks

[2018-05-17 07:15] gparrington commented on #1055
Sure if you tell me how to collect them - I've used CollectGuestLogs.exe on the nodes to gather all the logs together - is that all you need?. Which do you want and where should I upload them to?

[2018-05-17 07:44] chunliu commented on #1063
@marvinvperez you will want to get a new cluster on D2_v3 and Datacenter-Core-1709-with-Containers.

[2018-05-17 08:46] marvinvperez commented on #1063
Now I can deploy to azure sf cluster removing isolation="hyperv", it is successful.
However, deploying locally still not. But gives different error message. "Error event: SourceId='System.Hosting', Property='Download:1.0:1.0:64a58831-920e-4c74-adeb-699fb06bba2d'.
There was an error during download.Container deployment is not supported on the node. "

I also mentioned this in my original post. What

[2018-05-17 09:29] wanglujin opened #1064 "Visit port 19081 for error 504."
When I visit http://10.1.167.82:19081/applicationName/serviceNname tip 504 error.

service fabric version:6.1.480.9494
docker version: 17.06.2-ee-6

service fabric setting:
1. one node DEV environment,not on azure
2. node type setting:
    <NodeType Name="NodeType0">
      <Endpoints>
        <ClientConnectionEndpoint Port="19000" />
        <LeaseDriverEndpoint Port="19002" />
        <ClusterCon

[2018-05-17 09:33] knizkar commented on #1060
I wonder if you are seeing the same issue as reported in #1056. Would you mind checking:

1.  Whether `Fabric.exe` process is running or not.
2. If not running, presence of following errors in Event Log:
![image](https://user-images.githubusercontent.com/1428928/40169283-f5be9ab6-59c5-11e8-9b51-3c4e1e302759.png)

[2018-05-17 09:45] darrens280 commented on #794
My solution = Add this line below to your .PS1 file before executing the Connect-ServiceFabricCluster command

`$env:Path += ";C:\Program Files\Microsoft Service Fabric\bin\fabric\Fabric.Code"`

Original error:
_Connect-ServiceFabricCluster : Argument 'Connect-ServiceFabricCluster' is not recognized as a cmdlet: Unable to load DLL 'FabricCommon.dll': The specified module could not be found._

(I r

[2018-05-17 12:17] rexwhitten commented on #1049
@rishirsinha  , thanks for the answer. Already using those scripts from the Zip File download of the SF runtime ( from the link I mentioned above ).

[2018-05-17 12:33] festivus commented on #930
The problem is still there. Please see the latest sample at https://github.com/festivus/ServiceProxySample

[2018-05-17 13:29] ashishnegi commented on #930
@festivus I am having a look. Our change is to removed `ref/netstandard2.0` folder from nupkg and have explicit folders for each framework specific version and one `netstandard2.0` folder under `lib`.

[2018-05-17 13:50] AndrewJWaite opened #1065 "Production Issue: Naming Service returning endpoint without the service on (stale record)"
Hi,

Azure Service Fabric version: 6.2.274.9494

When querying the Naming Service using `Microsoft.ServiceFabric.Services.Client`

*fabric:/suppliers/contractors*

The Naming Service is returning an endpoint that the service is not on, and we are seeing the following error:

[code]

The service may have existed on that node at some point and SF has moved the service. How do we start to investigate

[2018-05-17 14:05] rasmus-s opened #1066 "Remoting V1 method call times out after 5 min without reaching target service"
After we upgrade the SF nuget packages to version: 3.1.274 from a old 2.6. We start see issues with remoting v1 communication to/from our service.

We get this exception after 5 min timeout in method call to target service:
[code]

From the Microsoft-ServiceFabric ETW, we see many warnings and errors (each is repeated many times):
[code]

**Our setup:**
Website application that call our Account ap

[2018-05-17 15:13] MisterPuffyPants commented on #1060
One of our primary use cases in evaluating Service Fabric is to use it for containers.  Is there documentation on how to configure a dev cluster for containers using self signed tls certs?

[2018-05-17 15:50] keithbo commented on #930
@ashishnegi
Id: Microsoft.ServiceFabric.Services.Remoting
Version: 3.1.247

* lib
  * net45
* ref
  * netstandard2.0
* runtimes
  * linux
    * lib
      * netstandard2.0
  * win
    * lib
      * net461
      * net462
      * net47
      * net471
      * netstandard2.0

[2018-05-17 16:07] oanapl commented on #347
@leontheprofessional7 , since this is something different than the original thread, please open a new issue so we can follow up appropriately. And please specify the version for Service Fabric and tooling.

[2018-05-17 16:11] ashishnegi commented on #930
@keithbo I think we need to look at `3.1.274` .
But don't mind that. I think there is some misunderstanding. The change is not out yet. Apologies for confusion.
@amanbha Is there any changes in nupkgs for release 6.2 ?

[2018-05-17 17:29] suchiagicha commented on #1055
In your clustermanifest , there will be parameter with name FabricLogRoot which will tell you the location for the logs. You can get for the few machines where you saw the timeout.  You can create zip and upload here or send me at suchia@microsoft.com

[2018-05-17 21:38] dbreshears commented on #1031
@ddignam, I believe I have found a fix for the build deadlock issue in the tooling with Fsharp services.  I will see about getting this integrated into the next 15.8 preview release.

[2018-05-17 21:56] mauriciomagni opened #1067 "Getting Started with Service Fabric and Wcf"
I am trying to get Service Fabric and Wcf working.
I am learning and was following the sample shown in [here](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-wcf).
I have basically copied the information shown in that page and completed the details, but I cannot have the application running. The method CreateServiceInstanceListeners() is being c

[2018-05-18 07:36] ddignam commented on #1031
@dbreshears That's great news, thanks for the update.

[2018-05-18 08:28] Doomblaster commented on #899
Got the same problem here. Any updates on this? Any workaround or anything?

[2018-05-18 08:37] rasmus-s commented on #1066
We did have tried with remoting V2 on that cluster for months ago. But rolled all services/applications back to SF nuget 2.6 where only V1 exist - and the cluster had worked fine. So, if you not set some persisted flag that this cluster at some point has been using V2, then we can exclude the first issue.
We are not using compactmode attributes. Has just double checked we only using `Microsoft.Ser

[2018-05-18 08:38] gparrington commented on #1055
Not according to our manifest (attached) which I extracted from our production cluster in Azure using the fabric explorer. If I read it right the logs are going to blob/table storage

[ClusterManifest.zip](https://github.com/Azure/service-fabric-issues/files/2016089/ClusterManifest.zip)

[2018-05-18 13:09] AndrewJWaite commented on #1065
Some more info.

The first instance of the error occurred on: 11/5/2018 @ 12:29:56 and the NuGet package is `Microsoft.ServiceFabric.Services` version 2.6.220

[2018-05-18 15:01] bryanlikes commented on #711
@VipulM-MSFT
Do you have any estimate on when it will be possible to install SF **SDK** in a windows docker container?

[2018-05-18 15:10] rspandi1985 opened #1068 "ExtractInstallerService failed to extract C:\Users\****\AppData\Local\Temp\ayznbit1.sei\FabricInstallerService.Code\FabricClient.dll."
I am installing service fabric cluster and getting following error.

ExtractInstallerService failed to extract C:\Users\***\AppData\Local\Temp\ayznbit1.sei\FabricInstallerService.Code\F
abricClient.dll.
CreateCluster Error: System.IO.FileNotFoundException: ExtractInstallerService failed to extract C:\Users\***\AppData
\Local\Temp\ayznbit1.sei\FabricInstallerService.Code\FabricClient.dll.
   at Mic

[2018-05-18 17:40] suchiagicha commented on #1066
Why are you using Port 0  for this endpoint.?

 **<Endpoint Name="AccountActorServiceEndpoint" Port="0">**

Could you remove the port . It should be like this . Try this change and see if this works for you.
<Endpoint Name="AccountActorServiceEndpoint" />
<Endpoint Name="UserActorServiceEndpoint"  />
 <Endpoint Name="DeviceActorServiceEndpoint"  />

[2018-05-18 17:58] suchiagicha commented on #918
I got your point. Will improve the exception handling in this case.
Thankyou :)

[2018-05-18 18:32] suchiagicha commented on #1055
PS : To investigate the issues, could you please open a support ticket from Azure portal, which will enable us to give you a faster resolution and complete postmortum on this issue. Please open a ticket using https://portal.azure.com/?#blade/Microsoft_Azure_Support/HelpAndSupportBlade  
Please refer https://azure.microsoft.com/en-us/support/options/ for details on support options 

Are you using o

[2018-05-18 18:33] suchiagicha commented on #1055
@gparrington
Also could you share the servicemanifest for the remoting service?

[2018-05-18 18:45] suchiagicha commented on #1066
@rasmus-s
Also Account Service is an Actor Service or just a statefulservice?
If its an Actor , you should be using FabricTransportActorRemotingListener instead of FabricTransportServiceRemotingListener.

[2018-05-18 18:54] rasmus-s commented on #1066
Its was due a bug back in 2016 SF runtime 5.4, where the ports get reused and that gave issues, by settings the port to 0 it will use the dynamic port range from the OS (high port number 56xxx) instead of the 20000-30000 port range.

I tried to remove the port="0" as you describe but, now it look like its all call to account services actors its timeouts.

[2018-05-18 18:56] rasmus-s commented on #1066
Our Account application have multiple service insite. All stateless/statefull services use FabricTransportServiceRemotingListener and all 3 actors use FabricTransportActorRemotingListener.

[2018-05-18 21:14] suchiagicha commented on #1066
Please share the SF traces with us to further investigate.
Also which node your client was on when you saw the timeout and the timestamp.

If Azure cluster, then you can tell me the resource Id and region.

If onprem, give the traces table storage details.

PS : To investigate the issues, could you please open a support ticket from Azure portal, which will enable us to give you a faster resolution

[2018-05-20 04:09] piffarettig commented on #439
I was getting an error installing the runtime directly by running:

`"MicrosoftServiceFabric.6.2.274.9494.exe /AcceptEULA"`

But it failed and the log InstallFabricRuntime.log was saying "The system cannot find the file specified" right after the line: `"5/20/2018 3:48:06,Info,5/20/2018 0:48:06 running: Powershell.exe -NoProfile Get-ExecutionPolicy -Scope CurrentUser".`

So it seemed it couldn't f

[2018-05-20 07:11] jothipandiyan-bizruntime commented on #505
Any suggestions to make this work.
Local (dev environment)-> http
Cloud (Prodcution environment) -> https

[2018-05-21 07:44] knowhoper opened #1069 "Auto creation of Service without DefaultServices on developer machines"
At the recent Service Fabric Community Q&A 24th Edition there was a lot of discussion around using the DefaultService construct in the ```ApplicationManifest.xml``` and it's drawbacks. Microsoft suggested omitting this from an ApplicationManifest entirely and instead modifying the ```Deploy-FabricApplication.ps1``` to construct a default implementation of an application so developers still have a

[2018-05-21 09:17] tibbing commented on #948
FYI Still seeing this issue when trying to upgrade from 6.1.480 to 6.2.474 in portal. Last time at least, upgrading via the powershell command worked fine.

[2018-05-21 11:05] fridastenebo opened #1070 "Service fabric package stuck in error during code package activation"
I have a ServiceFabric Application running on 5 nodes. I was in the process of restarting the nodes one by one to get rid of a known Memory Leakage problem. Restarting node 1 went fine.

Ran into problems when restarting node 2. On node 2 there is a Stateful Service with 1 (large) partition that ended up in Quarum Loss.

Deleted the Service from the node(Via Manage Local Cluster), which was fine b

[2018-05-21 13:00] dannythunder commented on #1041
@NCarlsonMSFT Then how do I set the `$ApplicationParameters` so they get passed to the application?

[2018-05-21 13:50] wmccullough opened #1071 "Issue and Workaround: The "GetServiceProjectReferences" task failed unexpectedly. An item with the same key has already been added."
Hello,

I encountered an issue after upgrading my Microsoft.VisualStudio.Azure.Fabric.MSBuild from 1.6.4 -> 1.6.5. Post-upgrade, I encountered the following error during an attempt to build, publish, or package the Service Fabric App:

The "GetServiceProjectReferences" task failed unexpectedly. An item with the same key has already been added.

After hours of research, I found that the <ItemGroup>

[2018-05-21 14:52] jurgensels commented on #1009
@hrushib , I have updated to the latest release 6.2.274 and are still getting the same issue where stateful actors does not load/register.

I have created a new SF project with only 1 actor(default code) to see if there were any issues with my code. Same issue

I get the following:
"Message": "Actor type Actor1.Actor1 registered.",
and then immediately after:
"Message": "ApplicationHostTerminated:

[2018-05-21 16:10] deckertron9000 commented on #508
Same issue here. Have there been any updates?

[2018-05-21 18:19] masnider commented on #1063
What's your local OS?

[2018-05-21 18:29] masnider commented on #1069
As we talked about in the call, there's also Start-Service.ps1, which you can add to the /Scripts folder within the application project. This will get called after the application gets created.

![image](https://user-images.githubusercontent.com/10968331/40323425-2e14300c-5cea-11e8-9d59-aa04751d4a03.png)

Here's the content of one that I have that I use for local development. This will be in the n

[2018-05-21 18:39] juhacket commented on #1054
@smflorentino Can you tell me what version of AzureRM you are using?

[2018-05-21 19:29] tugup commented on #505
I am making a fix to support this. Will update the release info.

[2018-05-21 21:12] smflorentino commented on #1054
@juhacket 5.7

[2018-05-21 21:17] juhacket commented on #1054
We will investigate why the error is not being flattened and traced to the user.

[2018-05-21 21:55] knowhoper commented on #1069
I missed the script name in the call. Are the calls recorded - there is a lot of useful info in them that's easy to miss?

Regardless, the above is super useful. Thank you!

[2018-05-22 09:43] pocki commented on #1068
I had the same issue.
My Workaround: Delete the folders DeploymentComponents, DeploymentRuntimePackages and DeploymentTraces before running CreateServiceFabricCluster.ps1

[2018-05-22 10:11] ThiemeNL commented on #1018
Hi found found this article: https://blogs.msdn.microsoft.com/azureservicefabric/2018/05/14/6-2-release-update/
So it should be fixed now, therefor I will close the ticket.

I expected that somebody in the SF team would notified use. I'm really disappointed in the communication. Hope it will improve soon.

[2018-05-22 10:11] #1018 closed

[2018-05-22 10:48] olitomlinson commented on #1069
@knowhoper

https://www.youtube.com/channel/UC0nFiDDfBO8yhmGV0kgPiNw

[2018-05-22 10:51] knowhoper commented on #1069
@olitomlinson  thank you!

[2018-05-22 10:51] #1069 closed

[2018-05-22 12:35] marvinvperez commented on #1063
Windows 10 Pro

[2018-05-22 12:59] stofte commented on #1050
I'm seeing the same error but with a shared lib reference between two services. Shared.dll prevents the Second.exe from starting up because the file is locked by First.exe.

[2018-05-22 13:15] ashishnegi commented on #4
someone looking for the solution in 2018 :

[code]

[2018-05-22 13:54] stofte opened #1072 "Timeout"

[2018-05-22 15:44] rasmus-s commented on #1066
@suchiagicha I dont know if you have seen it but the support ticket created and have Id: [REG:118052218231248]

[2018-05-22 16:53] ravipal commented on #1050
@bgiftge, Do you hit this problem all the time? Can you please share a repro project?

[2018-05-22 18:18] suchiagicha commented on #1066
@rasmus-s
Yes . Look at the traces. Something looks wrong with the way service resolution is working for you .Could you provide me the code-snippet pf how  are you creating proxy for  service fabric:/BC.Account/UserActorService ?
Are you using your own implementation of ClientFactory?

[2018-05-22 20:11] suchiagicha commented on #1066
@rasmus-s
Is this the same code for the proxy for service **UserActorService**?
I am seeing the resolve issue for UserActorService?

Looks like Your AccountActorService calls UserActorService . UserActorService is stuck in resolution path.
Above code snippet is for service **AccountActorService**

[2018-05-22 20:27] rasmus-s commented on #1066
@suchiagicha I fix the fist line in the snippet it should be the ApplicationName not a service uri, was a copy mistake when i try to slim it for github.
The method `ResolveUserActor(Guid userId)` is the method that create a proxy for our `UserActorService` (a actor).
`AccountActorService` is another actor and that actor never call or resolve/create a proxy for the `UserActorService` (actor).

Mayb

[2018-05-22 20:30] suchiagicha commented on #1066
@rasmus-s
I found one issue in your code. You don't set RSP in your remoting client implementation. We use that information to re-resolve.
I am not sure how it was working before.
Please follow this sample on how to inject custom headers.
https://github.com/Azure-Samples/service-fabric-dotnet-getting-started/tree/classic/Services/ServiceRemotingCustomHeaders

https://github.com/Azure-Samples/servi

[2018-05-23 05:08] bgiftge commented on #1050
I just noticed that after using the debugger the same issue starts happening under .net core.

[2018-05-23 07:04] EllipseSolutions opened #1073 "SFC recovery after one Orchestrator node went down"
Hi All,

We have a customer that trying to install Dynamics 365 for Finance and Operations on-premise version.
The SF cluster configuration is the following:
•             3 nodes - OrchestratorType (IsPrimary = true)
•             2 nodes - AOSNodeType
•             1 node - MRType
•             1 node - ReportServerType

After configuring the SF cluster and AOS worked perfectly.
A few days ago,

[2018-05-23 07:42] marvinvperez commented on #1063
I will try again on this and will get back with my feedback.

[2018-05-23 07:46] marvinvperez opened #1074 "SFC Onebox ContainerActivatorService is not resgistered"
I'm running a local SF linux cluster using Onebox (my machine is windows 10 pro). I can deploy successfully the package with 1 service (docker image). The image is tested locally from docker where I can pull it from ACR and run the container. But deploying to onebox gives me the above error.
![image](https://user-images.githubusercontent.com/17961526/40410445-0de7a2dc-5e98-11e8-86d1-3d13d9b55259.p

[2018-05-23 08:28] PepijnGramberg commented on #638
In the release notes of 6.2/3.1 it is stated that this issue is fixed. But after upgrading everything to the new version: (6.2/3.1).274.9494, runtime/sdk and package references, this problem still persists. We want to manage applications from a .netcoreapp client, but all actions with the FabricClient.ApplicationManager still return this exception.

[code]

It is simple to repro using the followin

[2018-05-23 08:45] ashishnegi commented on #638
@PepijnGramberg The fix is not yet released. It is scheduled for early next week. I will update the thread here once fix is available publicly.
Thanks for your patience. Due to other issues, we could not release it sooner.

[2018-05-23 21:28] mkosieradzki opened #1075 "[Reverse Proxy]Timeout query string parameter not removed from proxied query"
I have observed today (on 6.1.480) that `&Timeout=120` was not removed from resulting query string. According to the documentation here: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reverseproxy Timeout is a proper query string parameter for Service Fabric Reverse Proxy. ListenerName is correctly removed.

[2018-05-24 06:20] GaryBelot commented on #1073
@rakshitatandon,  I saw some comments from you on a similar topic, maybe you have something to suggest in our case. Thanks.

[2018-05-24 06:42] EllipseSolutions commented on #1073
Hi All, I have a question. Can a node be deleted by SFC configuration upgrade if it's **not accessible(in Down state)**?

[2018-05-24 07:14] hrushib commented on #1009
@jurgensels, I tried to Repro this issue with fresh installation of 6.2.274 runtime and corresponding SDK (3.1.274/6.2.274) but failed to repro the issue. Please ensure that the 6.2.274 is properly installed on your machine and right SDK is used.

[2018-05-24 08:58] assadf opened #1076 "Problems attaching Visual Studio Debugger to Remote Service Fabric Cluster with Network Security Group"
Hi all,

I'm trying to attach my Visual Studio debugger to a remote Service Fabric cluster to try and debug a failing service which isn't starting up (no useful info in the Explorer nor Application Insights which has been configured as well).  When I try to enable debugging in Visual Studio cloud explorer I get the following error:

Configuring network security group 'MySecurityGroup' used by clus

[2018-05-24 09:10] ashishnegi commented on #1076
Can you try `4020` and other ports as given in https://msdn.microsoft.com/en-us/library/mt592019.aspx ?

[2018-05-24 09:12] ashishnegi commented on #1076
You can also `remote desktop` RDP to the machine and try running your service executable from command prompt. You will see actual error then.

[2018-05-24 12:59] rasmus-s commented on #1066
Hi @suchiagicha
It have now run on our developer cluster for 1 day without any issues. The solution was as you mention the ResolvedServicePartition not use the innerClient.ResolvedServicePartition.
Its very strange that it has worked in the past, but that code had not been touched for years...
Again thanks for the solution, you can close this and the support ticket.

[2018-05-24 12:59] #1066 closed

[2018-05-24 17:08] NArnott commented on #269
Would be be possible to move to a more MVC controller approach so that a class/method could use dependency injection similarly?

I've not been a fan of the class that implements IService having to be the service class. It would be great to separate that out and allow IOC at the same time.

[2018-05-24 19:41] MattDarg commented on #1065
Hi,

I've seen this issue when using the Naming Service REST API.  The details are [in this msdn forum post](https://social.msdn.microsoft.com/Forums/en-US/0745008a-fb7c-4927-a5d7-a5e5b58ee494/naming-service-rest-api-and-caching-of-service-endpoints?forum=AzureServiceFabric)

Basically, the details can be out of date.  If you re-query on failure with the previous response's version token then it s

[2018-05-25 01:27] #961 closed

[2018-05-25 03:42] NISHANTH2066 commented on #790
I have also faced the same issue, and it is a local cluster

[2018-05-25 07:13] NISHANTH2066 opened #1077 "Azure API's for Vertical Scaling"
Actually can we vertically scale things using some API's?

The Fluent Azure Management Libraries for .NET docs are not available.

And whenever I do Horizontal scaling using this

StatelessServiceUpdateDescription updateDescription = new StatelessServiceUpdateDescription();
updateDescription.InstanceCount = 50;
await fabricClient.ServiceManager.UpdateServiceAsync(new Uri("fabric:/app/service"), up

[2018-05-25 08:46] ashishnegi commented on #1076
@ravipal Can you help @assadfaizi setup remote debugger in VS when network security group is configured ?

[2018-05-25 08:51] ashishnegi commented on #1076
@assadfaizi We have open sourced most of our code. The trace/debug viewer code open sourcing is also in progress. I don't have a date yet. But with that, it will be much easier for you to find these errors without RDP.

[2018-05-25 17:41] juhacket commented on #1022
@JohnRGH The "service authentication" issue has been fixed in Azure PowerShell 6.1.0.

@uditjh Please also try using the latest version of Azure PowerShell and see if it clears up the issues you are seeing. If you are still experiencing problems, please file a new issue for us to track.

[2018-05-25 17:41] #1022 closed

[2018-05-25 17:56] harahma commented on #1070
@fridastenebo Is it a local dev cluster as you mentioned "Via Manage Local Cluster"? When you say 1 large partition, do you mean the state stored in that partition is large?

When you issue delete for a stateful service, the local state associated with replicas of service also needs to be deleted so it may take some minutes to get it complete deleted. The service process will also go away in few m

[2018-05-25 17:59] ChackDan commented on #448
Rakshita has narrowed the issue to a potential bug. She is following up with the Crypto team on this.

[2018-05-25 18:05] masnider commented on #448
@rakshitatandon is looking into this

[2018-05-25 22:33] vturecek commented on #1056
@knizkar just as a sanity check, do you have:
 - containers enabled in Windows?
 - Docker for Windows installed? If so,
     - switched to Windows containers?
     - what version?

[2018-05-26 14:18] mkosieradzki opened #1078 "[Reverse Proxy]Headers with an empty string value are dropped by the reverse proxy"
I need to implement a protocol that requires empty headers responses. However if I return an empty header it is dropped by Service Fabric Reverse Proxy.

Consider a following service code:
[code]
Only X-EmptyHeader1 is returned when accessing this url through the SFRP, X-EmptyHeader does not exist in the response.

[2018-05-27 20:38] aloneguid commented on #936
Hey guys, any update on this one? Literally none of the developers in my team can make 6.2 work locally. Downgrading fixes the issue.

[2018-05-28 00:58] knowhoper opened #1079 "Dynamic partition scaling in an on premise cluster - docs incorrect?"
Hi,

I am looking at creating an application that stores blobs across an on prem cluster. As well as being useful this would provide a good reference implementation for us to explore dynamic partition scaling in ASF via load metrics -MemoryMB.

The following script I copied from [here](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-resource-manager-autoscaling) doesn'

[2018-05-28 04:04] rishirsinha commented on #936
Can you try uninstall of the previous version of the runtime, then reboot the machine and re-install the latest version?

[2018-05-28 13:40] jurgensels commented on #1009
@hrushib , I re-installed Win 10 and VS 2017 with latest SDK and .net core 2.12. Still getting the same issue with default actor code.

[2018-05-28 14:26] hrushib commented on #1009
@jurgensels, sorry to here that you are still facing issues on clean deployment.
As mentioned earlier, I do not see any issue with default Actor service with this runtime and SDK. Request you to add further details mentioning exact steps your are following and share the code, if possible. This may help me understand root cause of the issue.

[2018-05-28 21:16] sistoimenov opened #1080 "Service Fabric Analytics solution addon in Log Analytics doesn't work"
Hello,

I tried to configure log analytics for my service fabric cluster but it doesn't seem to send any logs to Log Analytics. I managed to set up Application Insights but I also wanted to get log analytics working to have all of my resources in one place.

First of all this documentation is broken [https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-service-fabric-azure-resource-m

[2018-05-29 01:19] chunliu commented on #1059
Based on my experience, "Container image history check failed after successful download" typically means the container os version and the host os version is incompatible. According to the prerequisites of this volume sample, the host os version must be 1709. So you may want to try to build your cluster based on 1709 image.

[2018-05-29 07:32] aloneguid commented on #936
@rishirsinha  thanks for a quick response. I've tried uninstalling runtime and sdk and manually cleaning up any leftovers, including SfDevCluster folder and the issue still persists. I can see the following errors in the event log:

[code]

happening on every retry of cluster creation.

[2018-05-29 07:41] rishirsinha commented on #936
@aloneguid

This seems like a different issue.

@RajeetN

Rajeet any ideas what this might be?

[2018-05-29 09:50] AndrewJWaite commented on #1065
Thank you @MattDarg. I will discuss with the team

[2018-05-29 09:52] aloneguid commented on #936
[lease_traces_6.2.274.9494_131720609089720816_0.zip](https://github.com/Azure/service-fabric-issues/files/2047672/lease_traces_6.2.274.9494_131720609089720816_0.zip)

I've tried to run from the terminal to get more details, attaching output and traces here as well:

[code]

[2018-05-29 10:14] manimaranm7 commented on #936
I tried the same as @aloneguid and have some success. the only difference I think was that I had stopped the "Internet Connection Sharing (ICS)" windows service before running the command to create the local cluster.

[code]

[2018-05-29 12:05] aloneguid commented on #936
@manimaranm7 I've tried stopping ICS, didn't make a difference for me :(

[2018-05-29 12:46] t3nsei opened #1081 "Azure Service Fabric IPv6 networking issues"
I originally posted this on StackOverflow, but cross posting here in hope of help: [https://stackoverflow.com/questions/50574231/azure-service-fabric-ipv6-networking-issues](https://stackoverflow.com/questions/50574231/azure-service-fabric-ipv6-networking-issues)

We are having issues deploying our Service Fabric cluster to Azure and have it handle both IPv4 and IPv6 traffic.

We are developing an

[2018-05-29 13:32] SmegheadSev opened #1082 "Service Fabric Core Project Creation Fails"
I'm trying to create a new Service Fabric Service within an existing solution and anytime I try creating a Core project Visual Studio hangs and I have to restart VS. When relaunched the project was created but without any of the NuGet packages. If I add them by hand it seems to work but this is a bit of a hassle. Until recently this issue didn't happen so I'm guessing it has something to do with t

[2018-05-29 13:59] Xandven commented on #879
We're experiencing the same issue. Once the Load Balancer SKU is changed to Standard the Service Fabric Cluster gets stuck on "Waiting for nodes". I've run ipconfig on nodes on both a working and non-working cluster and noticed that the nodes running behind the Standard SKU LB has one extra net adapter. It is called vEternet (nat) on all the nodes. On the first node the IPv4 address associated wit

[2018-05-29 14:21] MarekLani commented on #879
Hi Xandven, I do not see that deep into networking, so I cant confirm this behavior is caused by LB Standard, but it makes sense that it is. However I managed to make it work. Big difference when using LB Standard is, that (from [documentation](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-standard-overview)) LB is fully onboarded to virtual network. The virtual network is a p

[2018-05-29 15:09] aloneguid commented on #1056
I have the same problem. This particular machine has containers feature enabled, however neither docker not Hyper-V is enabled.

[2018-05-29 15:23] knizkar commented on #1056
Not sure if the problem is related to wrong detection of container support, adding more details from Process Monitor filtering on all `ACCESS_DENIED` events:

![image](https://user-images.githubusercontent.com/1428928/40668429-c7d90b06-6364-11e8-93c1-c5a44a76a730.png)

Stacktrace:
![image](https://user-images.githubusercontent.com/1428928/40668470-e378dbca-6364-11e8-9bce-3f5948004638.png)

[2018-05-30 00:44] billysug commented on #805
That documentation has moved here:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-upgrade#upgrading-multiple-applications-with-https-endpoints

[2018-05-30 06:02] Xandven commented on #879
Hi MareKLani, thank you for sharing you progress. Would you be able to share the list of IP addresses that must be white-listed in the NSG?

[2018-05-30 15:47] beetel opened #1083 "Provide CallerInformation DefaultExceptionHandler.TryHandleException()"
Hi everybody,

is it possible to get CallerInformation (e.g. MethodInfo or at least ServiceInterface.Name and CalledMethod.Name) from DefaultExceptionHandler.TryHandleException()?

My Idea is to introduce a OperationRetrySettingsAttribute, so that I can override the default retry settings on a operation based layer.

If it is not possible, I would suggest to provider a CallerMethod property in Exc

[2018-05-30 18:58] AaronRM opened #1084 "Rollback of Manual Application Upgrade gets stuck in RollbackInProgress"
### Environment
This issue is present on SF 6.2.274.9494 running either locally or Azure. Attempted with both 5-Node and 7-Node clusters.

### Repro Steps
1. Create a new Service Fabric Application (e.g. a new SF app with a single Stateless Service)
2. Build both 1.0.0 and 2.0.0 versions of the app (via Edit Manifest Versions)
3. Copy and register both versions of the application to a 5-node clust

[2018-05-30 19:28] abatishchev opened #1085 "Method not found: 'Void System.Fabric.Common.Tracing.FabricEvents.LocalStateRecoverCheckpointEnd(System.String)'"
I'm unable to continuously deploy, debug (rinse, repeat) a stateful service on local cluster.

Here's what I have installed on my machine:

[code]

NuGet packages used by my application:

[code]

Service Fabric Local Cluster Manager shows this error:

[code]

Visual Studio shows in Debug window:

[code]

If I break on MissingMethodException then I'm setting this:

[code]

[2018-05-30 19:36] keithbo commented on #930
Looks like [6.2.283.9494](https://blogs.msdn.microsoft.com/azureservicefabric/2018/05/29/service-fabric-6-1-refresh-release-cu2/) came out yesterday and, at least for me, V1 remoting is now resolving in net461 targeted assemblies. I haven't tried net47 as none of my immediate projects use it, but given the ref folder no longer appears in the nupkg I assume it should work for other framework target

[2018-05-30 19:51] masnider commented on #915
@justinSelf In Azure the clusters get automatically set up with NodeTypeName == "whatever" but this is a leftover unnecessary thing and doesn't happen in all environments. NodeType is a built in and automatic node property that works everywhere and is what we document and recommend.

@francescocristallo I'll close this down for now since you've probably gotten to the root of the issue (lack of mem

[2018-05-30 19:51] #915 closed

[2018-05-31 05:35] ashishnegi commented on #930
@keithbo @festivus I verified with the sample repo shared and it is working with latest nupkg `6.2.283`.
I admit that this change took too long to come out. We appreciate your patience.
Closing the issue as @keithbo confirmed that it's working.

[2018-05-31 05:35] #930 closed

[2018-05-31 05:46] ashishnegi commented on #638
@PepijnGramberg @ThiemeNL @inech @mkosieradzki @karataliu The fix is present in latest nupkg : 6.2.283. This change took too long to come out. We appreciate your patience. Let me know how it works for you.

[2018-05-31 05:48] ashishnegi commented on #995
Closing this as currently we only support accessing runtime from inside container.

[2018-05-31 05:48] #995 closed

[2018-05-31 06:34] ashishnegi commented on #1085
@abatishchev
Cluster runtime version can't be lower than sdk used.
Here you have 6.2.274 runtime and app with 6.2.283. This is not supported. Please install 6.2.283 cluster as well.

[2018-05-31 06:45] abatishchev commented on #412
Any news, known fix for this?

[2018-05-31 06:51] ashishnegi commented on #412
@abatishchev Is solution in this [comment](https://github.com/Azure/service-fabric-issues/issues/412#issuecomment-361374049) not working for you ? Otherwise, see this [comment](https://github.com/Azure/service-fabric-issues/issues/412#issuecomment-359764165) for workaround and please open a new bug with VS version, SF plugin version and a sample repo project. This might be a regression.

[2018-05-31 07:02] abatishchev commented on #427
I'm using 1.6.6 and having both `<PackageOutputFolder>true</PackageOutputFolder>` and `   `DependsOnNETStandard>true</DependsOnNETStandard>` doesn't seem to resolve this issue.

[2018-05-31 07:12] ThiemeNL commented on #638
@ashishnegi it is too long ago, I worked around the issue. I cannot reproduce it anymore. Sorry.

[2018-05-31 07:51] ashishnegi commented on #427
@abatishchev What is your csproj structure ? See if [comment](https://github.com/Azure/service-fabric-issues/issues/427#issuecomment-326240689) helps you.

[2018-05-31 08:56] mattfrear opened #1086 "Application services not starting - KeyNotFoundException (AspNetCore 1.1)"
A number of application services in our Service Fabric cluster have started failing since yesterday. They crash when starting up.

On one service I had upgraded its .sfproj files to 2.1 (from 1.6), by following the prompts in Visual Studio (15.7.1) when opening the solution. After the upgrade the below exception starts occurring. Undoing the commit, i.e. rolling back the .sfproj ProjectVersion to

[2018-05-31 09:16] t3nsei commented on #1081
It turns out I made a very stupid mistake that is completely my fault, I forgot to actually verify that my ISP fully supports IPv6. Turns out they don't!

Testing from a provider with full IPv6 support works as it should and I am able to get full connectivity to the nodes in the Service Fabric cluster.

[Here](https://pastebin.com/HvjV5AGZ) is the working ARM template for anyone that needs a fully

[2018-05-31 09:16] #1081 closed

[2018-05-31 09:40] ravindraaditya opened #1087 "containerized application inside service fabric is not getting resolved while trying to access"
we have windows server 1709 onprem and we deployed service fabric cluster with 1 containerized application inside it. while trying to access either through localhost or service dns name its not working however, access through container IP address it works.

Did I miss anything or any workaround available ?

[2018-05-31 09:47] JohnNilsson opened #1088 "System.AccessViolationException in KeyValueStoreReplica.TryUpdate"
While debugging an application in visual studio I have seen an AccessViolationExceptions from time to time. I'm not sure if I should be worried

This is on a local 1-node cluster 6.2.283.9494 but also observed it with the previous version installed.

[code]

Call stack
[code]

[2018-05-31 10:41] ashishnegi commented on #1081
Copying the above working template here : [not sure how long pastebin keeps data]

[code]

[2018-05-31 12:21] njayinthehouse opened #1089 "Deploying a Stateful Service in Visual Studio 2017 can't find Service Fabric Powershell commands"
I installed the Service Fabric SDK using the [web platform installer](http://www.microsoft.com/web/handlers/webpi.ashx?command=getinstallerredirect&appid=MicrosoftAzure-ServiceFabric-CoreSDK) found on the [installation guide](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started). I also enabled Powershell script execution by running the following as administrator:

[cod

[2018-05-31 13:40] mattfrear commented on #1086
I haven't yet figured out the root cause but I have figured out a workaround.
Our services that work fine use
- .sfproj ProjectVersion 1.6
- .NET Framework 4.6
- ASP.NET Core 1.1.1

or
- .sfproj ProjectVersion 2.0 or 2.1
- .NET Framework 4.6.2
- ASP.NET Core 2.0.0

Our services that fail to start are using
- .sfproj ProjectVersion 2.0 or 2.1
- .NET Framework 4.6
- ASP.NET Core 1.1.1

The workaroun

[2018-05-31 13:44] PTC-JoshuaMatthews commented on #886
@oanapl  Has there been progress?

[2018-05-31 14:44] spottedmahn opened #1090 "Improve "The PowerShell script failed to execute. See the Output window for details""
Please give dev's more then "something happened, somewhere, good luck 🍀" 😜

![image](https://user-images.githubusercontent.com/14079228/40580829-73d02f0e-6115-11e8-9291-2dd909dcb385.png)

- which output window? build, debug or service fabric tools?
- my debug output is bloated w/ "copying file from" and "deleting file"

![image](https://user-images.githubusercontent.com/14079228/40580836-bcdb5d7c-

[2018-05-31 15:43] oanapl commented on #886
Our latest service fabric release exposes the provision/unprovision timeout in our scripts. I will let VSTS team comment on whether this is now consumed by their scripts.

[2018-05-31 17:18] abatishchev commented on #1085
Right, that's the part I've missed somehow.

Interestingly, it works the first time I deploy my app from VS. Then on subsequent attempts I'm getting all these exceptions. Thoughts?

[2018-05-31 17:22] ashishnegi commented on #1085
In difference in two apps ? Did you uninstall as soon as you deployed during first run ? `MissingMethodException` will be called only if method is called and not found. So, that code path needs to hit.
The good thing is that right behavior (here exceptions) is reproducible.

[2018-05-31 18:10] abatishchev commented on #1085
No substantial difference: just regular develop, deploy locally, debug flow. It works once after local cluster cleanup and doens't on subsequent attempts.

[2018-05-31 18:20] abatishchev commented on #427
I don't see this working in default VS 2017 template for SF app with one stateless service (ASP.NET Core on .NET Framework) with both MSBUild package 1.6.6 and 1.6.4:

Application sfproj:

[code]

Service csproj:

[code]

Output:

- \Application1\Web1\bin\Debug\net471\win7-x64
- \Application1\Web1\bin\Debug\net471\win7-x64\refs
- \Application1\Application1\pkg\Debug\Web1Pkg\Code

Neither contains

[2018-05-31 20:30] abatishchev commented on #427
So the problem/solution is that if I switch to net462 then the output contains netstandard.dll:

-    \Application1\Web1\bin\Debug\net462\win7-x64
-    \Application1\Web1\bin\Debug\net462\win7-x64\refs
-    \Application1\Application1\pkg\Debug\Web1Pkg\Code

[2018-06-01 00:27] spottedmahn opened #1091 "Improve The Error Message for: The Settings section with name 'Blah' in ConfigOverride 'Config' is invalid. Cannot find a section with the same name."
I'm trying to add a new config section to our app configuration and it is failing:

Nothing fancy, done this many times before but I'm doing something wrong I don't see.

[code]

[2018-06-01 00:27] spottedmahn commented on #1091
⭐ Turns out I forgot to define it in `My-Service\PackageRoot\Config\Settings.xml`

---

Can we improve the error message here?  Something more self-documenting?  Something that directs you to where the problem could?

Maybe:

I'm not fan of the following b/c **to me**, it says there is something wrong with it.  But there isn't.  The problem is in another file.

[2018-06-01 00:28] spottedmahn commented on #1091
Thoughts? 💭

[2018-06-01 06:04] abatishchev opened #1092 "Incorrect value of X509StoreName removes attribute after deployment"
After deploying using VS 2017 the whole attribute is removed from the element in application manifest if its value can't be parsed, including this:

    <EndpointCertificate X509StoreName="My"

and only this is persisted:

    <EndpointCertificate X509StoreName="MY"

[2018-06-01 06:13] ashishnegi commented on #1085
Just guessing from name : `LocalStateRecoverCheckpointEnd` codepath is unlikely to be triggered on a clean setup. May be that does not trigger the issue on clean setup. But, I am not area expert on data recovery in SF.

[2018-06-01 06:55] abatishchev commented on #505
When this is expected to be available? In 6.2.283 I'm still getting this error. So either certificate or http.

[2018-06-01 08:02] xxrichard1 commented on #508
Same issue here with 6.2 Refresh installed yesterday on standalone Windows 10.
This is the 4th SF update I have installed. It is a headache every time.  Problems usually related to LeasLayr.sys failing to access a port. Never found a resolution. Previously have l kept reinstalling, stopping, starting, resetting, rebooting until one day it magically works.

[2018-06-01 14:44] lkts opened #1093 "Container is constantly recreated"
I am running Windows container based on nanoserver on Service Fabric.

I am constantly seeing error `There was an error during CodePackage activation.The service host terminated with exit code:7148` on different nodes.

Event logs contain the following warnings:
`OnAbort called for HostId=a767a7b7-b127-4e43-ac1d-9cac93f0af40, ServicePackageInstanceId=MyApp_App130:apiPkg@bb40f8f8-5562-405b-bf6c-794

[2018-06-01 14:46] mkarlsson opened #1094 "Is resetting Administrator password on service node compliant with PCI?"
Can Azure subscription owners reset Admin password for Service Fabric clusters? Thinking this would override PCI compliance which are generally set by Group policy objects?  I.e. Group policy no longer important if you can override it from Azure owner/contributor?

[2018-06-01 15:38] samiam236 commented on #1086
@mattfrear have you found a root cause for this yet? We are experiencing this as well. Our failing service is also on ASP.NET Core 1.1. I'm working on an upgrade, but it'd be nice to know if there was a quicker short-term fix to get our releases working again.

[2018-06-01 15:54] mattfrear commented on #1086
Nope, I haven't figured out the root cause yet. It feels like someone in Microsoft either upgraded something in Azure Service Fabric, or maybe they upgraded something in the VSTS build process, and that has broken it. I've had to upgrade 4 of our services to .NET Core 2.0 to get them to work.

[2018-06-01 16:01] samiam236 commented on #1086
Good point. I hadn't thought about a VSTS change being a possible culprit.

[2018-06-01 17:22] tugup commented on #505
release 6.4

[2018-06-01 19:08] cdowneyM3 commented on #1086
I'm seeing similar issues on my Azure website, my stack trace looks the same once you start at "at Microsoft.AspNetCore.Hosting.WebHostBuilder.Build()" and go up.

I'm convinced this is a VSTS issue - of some sort.  I created new build from an old known good commit and published that build.  My azure website didn't start up on the new build.  I have an old build from the same commit that I can pub

[2018-06-01 19:11] abatishchev commented on #1085
Please reopen. I'm getting the same error in the same situation even having .283 installed on machines and used from packages.

[2018-06-01 19:13] rdurham285 commented on #1024
We are seeing the same behavior in all of our dev environments as well. Is there any update? Service Type version: 6.1.480.9494

[2018-06-01 19:27] 13thirteen opened #1095 "CompositionFailedException: ILaunchSettingsProvider not exported by Service Fabric Projects in Common Project System"
Hi, I'm the author of a [Visual Studio extension ](https://marketplace.visualstudio.com/items?itemName=vs-publisher-141975.SwitchStartupProjectforVS2017) which allows to switch between multiple startup project configurations. That extension uses the Visual Studio SDK and the [Common Project System ](https://github.com/Microsoft/VSProjectSystem/blob/master/doc/Index.md) to read and modify startup p

[2018-06-01 20:08] mattfrear commented on #1086
Yep, I noticed the same thing earlier too. Created a new build from an old commit that works, and it fails. But the old build from the same commit works.

[2018-06-01 20:47] cdowneyM3 commented on #1086
Some things I tried

- I tried updating my donet publish step in my VSTS build from 1.* to 2.* and that didn't fix the issue.
- I deployed manually from Visual studio (I had relearn out to do that, because we are using slots and that changes the process from what I'm used to).  **And that gave me a working site**.  I had to update my app settings manually, because our CI pipeline normally does tha

[2018-06-01 21:24] vaishnavk commented on #1024
@rdurham285 Which region is this? Do you have the list of clusters id which are seeing this exception?

[2018-06-01 22:47] masnider commented on #1084
What is it waiting for?

https://blogs.msdn.microsoft.com/huizhu/2018/05/04/troubleshoot-service-fabric-cluster-upgrade-issues/

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-upgrade-troubleshooting

[2018-06-01 23:02] alexwun commented on #1084
Does the issue still repro on version 6.2.279 or later? There was a bug where unmonitored manual rollbacks could get stuck that was fixed starting in that version.

[2018-06-02 04:17] msfussell commented on #1067
This sample may unblock you initially https://github.com/Azure-Samples/service-fabric-dotnet-getting-started/tree/classic/Services/WcfService

[2018-06-02 09:18] ashishnegi commented on #1085
Can you share the version number of `System.Fabric.dll` present in GAC. This is somewhere at `C:\Windows\Microsoft.NET\assembly\GAC_64\System.Fabric\v4.0_6.0.0.0__31bf3856ad364e35\System.Fabric.dll` ?
and version number of `Microsoft.ServiceFabric.Data.Impl.dll` present at `bin\Fabric\Fabric.Code\NS` in SF installation directory. They should both be 6.2..283
If they are same version, please share

[2018-06-03 02:54] Scythen opened #1096 "Error (0x80071D0A) trying to run Chaos sample on local cluster."
Hello,

I am trying to use the Service Fabric TestManager to simulate issues on my local cluster. I have copied the sample code from here https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-controlled-chaos and attempted to execute it against my local cluster. This results in the error:
COMException: Exception from HRESULT: 0x80071D0A

I am developing in Visual Studio 2017 Preview

[2018-06-04 01:46] francescocristallo opened #1097 "Asp.net Core 2.1 Service Offline issue"
I updated my application to **Asp.net Core 2.1**, and after a couple hours all my services were offline.

SDK **3.1.283**
Current fabric version **6.2.283.9494**

In local all works, but I was unable to complete the entire migration as posted [here](https://stackoverflow.com/questions/50672050/asp-net-core-2-1-on-service-fabric)

I have a Stateless service with 9 F8SV2 machines, the **Service Fabr

[2018-06-04 07:38] francescocristallo commented on #1097
If I reboot the nodes from Service Fabric Explorer they go up again for 20 minutes then suddently and randomly disappear again

[2018-06-04 08:41] puzovicnikola commented on #1079
Hi @knowhoper ,

Auto scaling requires runtime version 6.2 or higher, and SDK version 3.1 or higher. If you don't have those, then you can't use Powershell or C# to specify auto scaling policies. If you have correct versions, give me the exact error that you get in Powershell and I will take a look.

In C#, the error states that "Scaling the number of partitions is only supported with average serv

[2018-06-04 12:17] #1070 closed

[2018-06-04 12:19] ashishnegi commented on #1085
@abatishchev Any findings ?

[2018-06-04 12:53] alemag1986 commented on #1086
Hey guys, same thing here! We are having the same issue since last Monday. All builds and releases previous May 26th work fine but not after that date; actually every built after the that fails on production, throwing an exception on Startup method:

[code]

And this is from the log stream:

[code]
We are doing direct builds from Visual Studio, that's so far the only remedy.
Tried:
- changing buil

[2018-06-04 13:19] baltie commented on #1082
This happens with me as well. I can create a new .NET Core stateless service without problems, but not a new .NET Core stateful service, experiencing the same. This is my environment:
VS 15.7.3 with Azure Service Fabric Tools 2.1
Azure Service Fabric SDK 3.1.283
Runtime 6.2.283

[2018-06-04 13:29] dvanherten commented on #1086
Having the same issue, but locally. Had a working 1.1 project early last week.

Trying now with no changes, it doesn't run anymore. Only substantial thing I did that I can think was install the Core 2.1 SDK and upgrade VS to latest on Friday for a different project.

[2018-06-04 13:48] dvanherten commented on #1086
@cdowneyM3 @alemag1986

Have you installed .Net Core 2.1 on your local machines? Did the build agents you use have it? Just wondering if that's the difference.

Not related to Service Fabric for me, but I'm having the exact same problem on my local and that install is the only significant change I've made recently that I can think of.

[2018-06-04 13:56] alemag1986 commented on #1086
Yeah, we are not using Fabric at all. We don't have .net core 2.1 installed locally, sorry just me (the preview version for a while now), and not in the build agents.
We are using 4.6.2  and ASP.NET Core 1.1.x

[2018-06-04 14:07] twcatron92 commented on #1024
@vaishnavk we've got two clusters with this issue. One in east us and the other in central us.

east us cluster - `b85ef30f-f25d-4bfd-b7d4-23e5a8ebdeb6`
central us cluster - `0d7964f8-ec86-4695-b474-4dd9d2a21ec0`

[2018-06-04 17:46] abatishchev commented on #1085
hi @ashishnegi, doing this right now as almost the first thing once I'm back in office.

System.Fabric.dll is 6.2.283.9494

[2018-06-04 18:00] AaronRM commented on #1084
@masnider I'm not sure what it's waiting for exactly. The output from `Get-ServiceFabricApplicationUpgrade` doesn't show anything useful other than the UpgradeState is 'RollingBackInProgress'.

@alexwun Thanks! I upgraded my local SF cluster to the latest version (6.2.283.9494), and I'm still seeing similar behavior (although the rollback operation gets farther this time...all the upgrade domains

[2018-06-04 18:14] alexwun commented on #1084
Interrupted just means that the upgrade was interrupted with an explicit rollback request (as opposed to rolling back automatically due to health policy). Do either Resume-ServiceFabricApplicationUpgrade or Update-ServiceFabricApplicationUpgrade -UpgradeMode UnmonitoredAuto unblock the rollback?

https://docs.microsoft.com/en-us/rest/api/servicefabric/sfclient-model-failurereason

https://docs.mic

[2018-06-04 20:42] samiam236 commented on #1086
Not really new info at this point, but upgrading our ASP.NET Core 1.1 project to 2.0 fixed the problem for us, as it has for everyone above.

[2018-06-04 21:58] srrengar commented on #1080
Hey @sistoimenov

Can you confirm for me if you can see logs in the Storage account tables WADServiceFabricSystemEventTable, and WADServiceFabricReliableServiceEventTable? Unfortunately manually adding in the storage account names in the ARM template does not work. Only the WADServiceFabric*EventTable pattern is supported and it seems you already added the Service Fabric Events. If you do have log

[2018-06-04 23:50] masnider commented on #1086
Looks like this is (or at least related to) https://github.com/aspnet/Home/issues/3132 ?

[2018-06-05 02:17] sagoo33 commented on #1086
We have the same issue,  a .net core 1.1 full framework, stopped working around 26th may, works fine when deployed direct from vs2017. I've found that when downloading the artifact from vsts and replacing the .deps.json file with the locally built file, the site will run. I think something has changed on vsts.

[2018-06-05 02:41] cdowneyM3 commented on #1086
So we ended up moving to AspNetCore 2.1 and that fixed our issue.

[2018-06-05 02:42] alemag1986 commented on #1086
So,
this 3 lines in the startup solved the issue:
[code]

More info here:
https://docs.microsoft.com/en-us/aspnet/core/mvc/advanced/app-parts?view=aspnetcore-2.1

[2018-06-05 08:15] mattfrear commented on #1086
Thanks @alemag1986 and @masnider for the links.

It seems that the comment here https://github.com/aspnet/Home/issues/3132#issuecomment-388082725 by @pranavkm has 3 possible fixes, one of which is upgrading to ASP.NET Core 2.0 which is what I found to work. His `global.json` fix is probably the simplest option.

Will close this issue since it's not related to Service Fabric.

[2018-06-05 08:15] #1086 closed

[2018-06-05 12:51] CANUSA commented on #1086
So upgrading to 2.0 is not currently an option for us. This seems like a pretty huge breaking change. I just spent an entire night and morning wondering why my deployments were failing. We may have multiple projects that fail VSTS builds now, need to check...

[2018-06-05 13:07] mattfrear commented on #1086
@CANUSA Yeah so if you read my last message there are 3 possible workarounds, so you probably won't need to upgrade to 2.0.

[2018-06-05 13:09] CANUSA commented on #1086
Yep, I implemented a workaround, thanks for that! A workaround in my mind is not a fix however. The underlying problem needs to be addressed.

[2018-06-05 13:11] mattfrear commented on #1086
I totally agree.

[2018-06-05 13:40] UnProgrammatore opened #1098 "Static singleton in Service Fabric stateful/stateless service"
We are developing an application using service fabric.
We need to use a third parties SDK which offers a static singleton instance of the object it uses for basically everything. Since the SDK is not developed by us, we cannot change this, and not using this SDK is out of the question.
We are aware that, by default, service fabric can use the same executable to build different instances of a servi

[2018-06-05 17:18] macawman opened #1099 "new build of web api will no longer deploy to cluster"
I have a web service that was compile a couple of months ago and deploys and works without any issues. I took the exact same code and recompiled it (without issues) but it will not deploy to the service machine.
The compiled version from a couple of months ago will still deploy to the cluster.
 The newly compiled version  will deploy on my local machine. Other newly compiled Web services still dep

[2018-06-05 21:48] Mads-Rasmussen commented on #1085
We're seeing the same issue

[2018-06-06 04:02] ashishnegi commented on #1085
@Mads-Rasmussen Can you share information asked on this [comment](https://github.com/Azure/service-fabric-issues/issues/1085#issuecomment-394072738) ?

[2018-06-06 04:53] ashishnegi commented on #1085
@Mads-Rasmussen / @abatishchev Is this windows or Linux SF ?
@abatishchev Can you share other information asked on [comment](https://github.com/Azure/service-fabric-issues/issues/1085#issuecomment-394072738) ?

[2018-06-06 04:54] ashishnegi commented on #638
Closing the issue as fix is in 6.2.283.

[2018-06-06 04:54] #638 closed

[2018-06-06 05:00] ashishnegi commented on #604
The current 6.2.283 SDK has fixes for replica stuck problem mentioned.
Please reactivate if you still see issue with latest SDK.

[2018-06-06 05:00] #604 closed

[2018-06-06 05:04] ashishnegi commented on #828
@Soarc Can you share a GitHub repo ? It seems you faced multiple issues and most of them are solved.
What is your current project / csproj ? Please share a GitHub repo where we can reproduce it.

[2018-06-06 05:57] abatishchev commented on #1085
Sorry, missed your question about another dll. Microsoft.ServiceFabric.Data.Impl.dll has version 6.2.283.9494 as well .

Sen you them both over email.

[2018-06-06 06:07] NISHANTH2066 commented on #1077
Hello @ashishnegi, Can you please help me in finding the number of Instances a service is running given that service Uri.
If I want to scale out, the update Description method updates given the number of instances.
But it will be great if we could get the number of instances it is running currently and then do that.

[2018-06-06 06:19] ashishnegi commented on #1077
@NISHANTH2066 Can you try [GetServiceDescriptionAsync](https://docs.microsoft.com/en-us/dotnet/api/system.fabric.fabricclient.servicemanagementclient.getservicedescriptionasync?view=azure-dotnet#System_Fabric_FabricClient_ServiceManagementClient_GetServiceDescriptionAsync_System_Uri_) ? and then use `instance of` for `StatelessServiceDescription` and look for [InstanceCount](https://docs.microsoft

[2018-06-06 06:48] NISHANTH2066 commented on #1077
Thank you @ashishnegi. Thanks a lot

[2018-06-06 06:51] ashishnegi commented on #1085
I looked at assembly of dll in ilspy and it seems `LocalStateRecoverCheckpointEnd` is not being used by Data.Impl.dll. So, you should not see this exception.

Can you share a sample project ?
A dump will be very helpful here. Please share dump to asnegi [at] microsoft.com. You can share it via public or private links of any storage service.

![local_state_recovercheckpointendusage](https://user-im

[2018-06-06 06:55] ashishnegi commented on #1085
You can use any way to generate dumps. See if [this](https://blogs.msdn.microsoft.com/chaun/2013/11/12/steps-to-catch-a-simple-crash-dump-of-a-crashing-process/) is helpful.

[2018-06-06 15:19] groogiam opened #1100 "Copy-ServiceFabricApplicationPackage hangs our times out. Local Cluster Version 6.2.274.9494"
The Copy-ServiceFabricApplicationPackage takes appears to not be working correctly in 6.2.274.9494. I am trying to upload a 190 MB package which is taking at least 30 minutes when it does not time out.

Using -showProgress seems to show long delays between content being uploaded.

[2018-06-06 18:08] dbreshears commented on #1089
@njayinthehouse , something sure seems corrupt on this machine, perhaps the Service Fabric SDK.  From control panel, what versions do you have of the Service Fabric runtime and Service Fabric SDK.

I am assuming that this also fails then following these 2 steps,  and will eliminate anything with regards to VS 2017 tooling.

1. Bring up admin command prompt
2. Run powershell

[code]

The SDK script

[2018-06-06 18:19] masnider commented on #1091
Seems reasonable that this could be improved. We're creating a tracking issue for this. We've already got similar improvements in the pipeline for Test-ServiceFabricApplication, so this shouldn't be too hard to add.

[2018-06-06 18:28] masnider commented on #1094
Hi @mkarlsson

There's no such thing as an admin password for SF clusters. You're probably thinking about the password you have to set on the VMs for the VM Scale Set. SF doesn't control this and has no restrictions or requirements on it, so I don't know how to answer your question, unfortunately.  I would move your question over to https://github.com/Azure/vm-scale-sets/issues Once you have, can

[2018-06-06 18:50] abatishchev commented on #1085
I'm getting these exception right now but the process doesn't crash so doesn't produce a dump.

[2018-06-06 18:57] abatishchev commented on #1085
The stack trace for MissingMethodException is this:
[code]

or this:
[code]

or this:
[code]

or this:
[code]
or this:
[code]
and so on.

TargetSite is `{Void MoveNext()}` in all cases if that matters.

[2018-06-06 18:59] mkarlsson commented on #1094
Hi @masnider ,
Thanks for your reply. Seems I was misinformed about the SF admin account. I will close the issue.
Regards
Magnus

[2018-06-06 18:59] #1094 closed

[2018-06-06 19:57] masnider commented on #1097
If they are exiting with exceptions or below target replica set size, then SFX will be complaining. If they are somehow getting deleted then that could definitely result in the behavior you're describing. The fact that they're getting respawned when you restart the machine means they're probably still around.

What are you trying to show with the "Engine" circled on the left image? If that process

[2018-06-06 19:59] masnider commented on #1098
Restart-ServiceFabricDeployedCodePackage should be what you're looking for? Or what does it not accomplish today that you're trying to do or avoid?

[2018-06-06 20:03] masnider commented on #1099
There is a known issue with ASP.NET Core SDK which looks very similar to what you're experiencing. There's some additional dependencies and the older Mvc 1.0 \ 1.1 have a bug where they do not ignore these and it causes the exception.

More details see https://github.com/aspnet/Home/issues/3132#issuecomment-388082725

Known work-arounds are also listed in that reference
•	Upgrading to ASP.NET Core

[2018-06-06 20:51] masnider commented on #404
This fix shipped in 6.2. I'm going to close out this issue. Please let us know if you're still experiencing this and reopen the issue if so! Thanks again for reporting.

[2018-06-06 20:51] #404 closed

[2018-06-06 22:00] masnider commented on #881
Hi there @sujithnani . Haven't heard back from you in a while so I presume that your problems here are sorted out. I'm going to close down this issue. If you have other questions, please feel free to open a new issue and we can take care of it!

[2018-06-06 22:00] #881 closed

[2018-06-06 23:44] masnider commented on #892
I've been able to repro this. Mighty weird and an unfortunate little bug.

@OlegKarasik thanks for reporting. What you can probably do in the meantime is either change the parameter name or just switch to using the built in NodeType constraint (since by default properties will always align to NodeType boundaries). We understand that NodeType can be less expressive (You really do want to say "Is-Ga

[2018-06-07 00:03] masnider commented on #892
Actually - before we go further, I just tried something and it worked and now I think we may have a different bug. Or a combination of things.

Try the following out for me: Create the service with the busted constraint and get it to where it's sitting unplaced.

Then issue the following: Update-ServiceFabricService -PlacementConstraints "Is-Gateway == True" -Stateless -ServiceName "$yourServiceNa

[2018-06-07 00:10] masnider commented on #894
@somesh84 - Hi there. We haven't heard from you in a while and usually this crash is what @preethasubbarayalu pointed out. We're going to close this issue down now. If you are still having this problem and can share the information about your comparer and think it's working fine, then feel free to reopen the issue. If you're having other issues or questions, please feel free to open a new issue. T

[2018-06-07 00:10] #894 closed

[2018-06-07 00:12] masnider commented on #923
Closing this down as we haven't heard back from you and the breaking aspnet change is almost certainly the main problem. If you're still running into this after verifying that change, please reopen the issue. If you're having other problems, please file a new issue. Thanks!

[2018-06-07 00:12] #923 closed

[2018-06-07 00:13] masnider commented on #942
Hi there @cpatte7372 - we haven't heard back from you. We want to make sure your problem is solved though. I'm going to close this issue down for now. If you are still experiencing the issue and can provide the information requested, then please go ahead and reopen the issue. If you've got other issues or questions, please go ahead and open a new issue. Thanks!

[2018-06-07 00:13] #942 closed

[2018-06-07 00:27] masnider commented on #957
Hi there @usamaazhar - we haven't heard back from you in a little while. At this point with the information provided, the scalability article's instructions are probably your best bet. If you can provide more specific questions or give us more information we might be able to do better. In the meantime I'm going to close down this issue. If you have more info or want to ask more questions on this t

[2018-06-07 00:27] #957 closed

[2018-06-07 00:41] masnider commented on #973
For this then you should be able to use the [-ServiceTypeHealthPolicyMap](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-health-introduction) option to mask out the health of the unhealthy service. There's also manual upgrade options where you push the upgrade through at your desired pace, but most of the time we'd expect people to control the pace via the more common [upgrad

[2018-06-07 00:43] masnider commented on #979
Hi there @govjobss . Hopefully we've answered your question. The original doc describes the different disaster recovery options, including how to handle multiple separate clusters. Since we haven't heard back from you in a while I'm going to close down this issue. If you have further questions on this topic, just reopen the issue and let us know.

[2018-06-07 00:43] #979 closed

[2018-06-07 00:45] masnider commented on #981
The rest of the documentation for SF lives in the actual [API docs](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/service-fabric?view=azure-dotnet) and our [samples](https://azure.microsoft.com/en-us/resources/samples/?service=service-fabric&sort=0).

[2018-06-07 00:45] #981 closed

[2018-06-07 00:47] masnider commented on #984
Hi @hiteshg40. We haven't heard back from you on this with any further questions and the doc that @xunlu pointed to is the correct one. I'm going to close this issue down for now. If you have more questions on this topic just reopen this issue, or if you have other questions go ahead and create a new issue. Thanks!

[2018-06-07 00:47] #984 closed

[2018-06-07 00:48] masnider commented on #992
@usamaazhar Hi there! We haven't heard back from you on this, so I hope my answer was sufficient. If you have further questions on this topic, please just let us know. For now I'm going to close down this issue. Thanks!

[2018-06-07 00:48] #992 closed

[2018-06-07 00:50] masnider commented on #1001
@paulsaxton Hi Paul. We haven't heard back from you on this and without more information we're not going to be able to provide much more help. Making sure the dll is present and registered seems like the next right step. For now I'm going to close down this issue. If you're still having this problem and need help, just reopen it and let us know where you are. If you have other questions or issues,

[2018-06-07 00:50] #1001 closed

[2018-06-07 00:54] masnider commented on #1012
@Thialala - sorry no idea why that might be happening off the top of my head. Could be lots of things. Something about your use of that SQL reader doesn't work in your real environment. Could be things like the address of the other service is incorrect, or there's firewalls or other things blocking the communication. For now we're going to close this down as it's probably not related to SF, but if

[2018-06-07 00:54] #1012 closed

[2018-06-07 00:57] masnider commented on #1038
VS has tooling for this. You place a service called Start-Service.ps1 within the scripts directory of the application, and that gets called after the application is provisioned. Inside that script is where you can create your services. I've got an example one stashed [here](https://gist.github.com/masnider/b1dd1551c24626dbf744a7bc819d62be).

[2018-06-07 04:58] ashishnegi commented on #1085
It is even easier to get a dump of running process. Can you just use `task manager` and `right-click` on running process and select `create dump file`. Please share with me.

[2018-06-07 06:39] ashishnegi commented on #1085
Looked at the dump shared by @abatishchev . Microsoft.ServiceFabric.Data.Impl.dll was present in GAC. We don't GAC Microsoft.ServiceFabric.Data.Impl.dll. This was local machine.

@Mads-Rasmussen Can you check if your dev cluster has the same issue ?
Folder : `C:\WINDOWS\Microsoft.Net\assembly\GAC_64\Microsoft.ServiceFabric.Data.Impl\` should not be present.

If it is present for you as well, this

[2018-06-07 06:46] NISHANTH2066 commented on #1077
If I add some "ScalingPolicies" to a service say based on "servicefabric:/_CpuCores".

And at later point in time, if I want to update its desciption. What is the better way of doing this. As ScalingPolicies is a list, I have to iterate to all of them, find which refers to "servicefabric:/_CpuCores" delete it and then add the new policy.

Is there any better way.

https://docs.microsoft.com/en-us/

[2018-06-07 07:00] cod7alex commented on #1093
@masnider yes, i am sure it was due to healthcheck

[2018-06-07 07:05] UnProgrammatore commented on #1098
Does the "Restart-ServiceFabricDeployedCodePackage" command abruptly stop the executable or does it cancel the cancellation token of the RunAsync method the same way Start-ServiceFabricPartitionRestart does?

[2018-06-07 07:34] njayinthehouse commented on #1089
On further debugging that day, I found that I don't have the runtime installed at all. When I search my apps and features for service fabric, I only have the SDK, at version 3.1.283.9494.

I did try removing, restarting and reinstalling, and it failed. I also began to suspect that it was an issue with my machine; sure enough, the installation proceeded smoothly with the Windows 10 VM that I set up

[2018-06-07 07:35] njayinthehouse commented on #1089
Here's the output of the commands you suggested I run:

[code]

[2018-06-07 07:59] OlegKarasik commented on #892
I have created two nodes with dashed properties - **bool** and **string**:

[code]

Then I defined two services with requirements for these properties:

[code]

After deployment **Stateless Service** has the same error as described in the bug but **Stateful Service** was fine and healthy.

From the Service Fabric Explorer **Stateless Service** has the following placement constraint configuration:

[2018-06-07 10:03] OlegKarasik commented on #325
Hi @guibirow, usamaazhar

Can you guys elaborate a bit more about this point and provide a bit more details about what kind of processing your service does with the items from queue?

The problem with multiple service instance on the same node and pure CPU workloads is that eventually you would create so many instances on each node ( > than available logical processors on node) than each new insta

[2018-06-07 10:58] mfmadsen commented on #500
In general it would be greatly appreciated if .net core 2 reliable services could (maybe optionally) deployed as NOT self-contained. We have a Service Fabric project with around 30 reliable services all of them .net core 2. As they are all self-contained (i.e. includes the runtime in the service code folder) this very quickly adds up to a very large application package. We have been struggling on

[2018-06-07 15:07] masnider commented on #1093
@cod7alex can you try something to confirm what's going on here? Get it into this state where things are failing but you're not seeing any more information. Then expand the Nodes, and drill down into a node you know is having problems. There's a suspicion that this is a health check that's getting reported at a "Code Package" level, which then isn't easily viewable at the service level.

[2018-06-07 15:12] MikkelHegn commented on #500
@mfmadsen You should be able to do that by following directions herer: https://docs.microsoft.com/en-us/dotnet/core/deploying/deploy-with-vs. If you change to FDD, the you need to update the entrypoint in the servicemanifest file to run dotnet. This example uses a script file as the entrypoint: https://github.com/Azure-Samples/service-fabric-dotnet-core-getting-started/tree/master/Actors/VisualObj

[2018-06-07 16:05] alexwun commented on #1084
Do you still have the cluster around? With the cluster resource ID (not the cluster ID) and region (both accessible in the properties of the Service Fabric cluster resource), we can take a look at the logs and see what happened here.

[2018-06-07 16:49] MikkelHegn commented on #1025
@bigmorty

[2018-06-07 18:22] leikong commented on #1100
@Oana Platon<mailto:Oana.Platon@microsoft.com>
I can help the customer get rid of the warning, but I don’t believe such warning will not cause hanging.

From: Oana Platon <notifications@github.com>
Sent: Thursday, June 7, 2018 11:19 AM
To: Azure/service-fabric-issues <service-fabric-issues@noreply.github.com>
Cc: Ray Kong <leikong@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [Az

[2018-06-07 18:32] oanapl commented on #1100
One thing to check for slow copy is that [the cluster and the client machine have exclusions for antivirus set](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-standalone-deployment-preparation#environment-setup). We have seen very large copy times when that is not properly set.
Another thing to check is the health of the fabric:/System/ImageStoreService and the other

[2018-06-07 19:29] masnider commented on #1098
Well, you need to restart the process, and that's the command that does it :) That one would close the process (Ctrl+C) so if you have a handler for that (which usually is a good idea) then you can drain out any work before allowing it to exit. If you're checking health before you do this, then you should be fine.

If you really need to march the services through their full shutdown sequence, you

[2018-06-07 20:36] MrMint commented on #325
@OlegKarasik In our case the stateless service processing messages is I/O bound due to calling out to other services/databases.

No matter the workload (CPU, I/O or otherwise), capacity planning and appropriately scaling for that capacity still needs to happen. The issue today is we are unable to utilize the orchestration mechanics of service fabric to scale up, and instead have to hand roll our o

[2018-06-07 21:05] BrainSlugs83 commented on #313
Agreed, it would be great to know the exception data, my cluster constraint is "N/A" (because there isn't any constraints) and it still shows the same misleading message without any details of the actual cause (and locally everything works fine), so it's going to be a real pain to debug this. :(

[2018-06-07 21:07] mfmadsen commented on #500
@MikkelHegn Great to hear - I'm in the process of testing that way forward now and it actually seems to work. Thanks a lot for pointing me in the right direction!

[2018-06-07 21:21] groogiam commented on #1100
It appears something was not right with one of the machine in the cluster. The machine completely crashed when we attempted to update Windows. However it is still worrisome that a malfunctioning machine can prevent code from being deployed to the cluster.

[2018-06-07 21:21] #1100 closed

[2018-06-07 21:42] lukeholbertmsft commented on #1020
Can we please get an update on this? WebPi installation is still failing. I have hardcoded links to the direct downloads of SDK and runtime, but that isn't a great solution as we'll want to keep up to date.

[2018-06-07 23:48] hallipr commented on #958
I can seen memory leaks from Fabric.exe on 71 nodes across 32 clusters.  Each instance grows at a rate of 50 to 100 MB / day.

We've seen some instances at more than 6GB.

This is a 2 week graph of Fabric.exe Physical Memory from some of the nodes.  Values in MB.
![image](https://user-images.githubusercontent.com/1291634/41131814-4f702f68-6a72-11e8-992e-db329dace392.png)

[2018-06-08 05:11] NISHANTH2066 opened #1101 "Azure Timer functions + Azure service fabric"
Is there any way to call some service fabric function when the timer is triggered in Azure Timer functions.

Something like service remoting?

[2018-06-08 06:32] haseeb-ahmed-tkxel commented on #724
I recently stated having this issue. For me, deleting the SF app and recreating it fixes it rarely. So I have to keep trying until it works which is quite annoying BTW.

[2018-06-08 06:53] guibirow commented on #325
This is the issue with handling multiple items in parallel per service instance, you would have to be aware about the load on each instance so that you don't process too much items and the other services too little, you would also have to worry about Memory, CPU, IO. This makes the service more complex, and they should only worry about processing a message.
One of the many examples I can give is:

[2018-06-08 06:56] dannythunder commented on #1041
So there is no way of doing it from the calling script (`Deploy-FabricApplication.ps1`)? Sorry for late reply.

[2018-06-08 07:01] UnProgrammatore commented on #1098
Very well, this seems like a good solution. Not very elegant, but it will do in case of emergency. Thank you very much.

[2018-06-08 07:19] cod7alex commented on #1093
I see the same message on Node level

[2018-06-08 08:17] Expecho opened #1102 "Services fail: Exception at t System.Fabric.Common.FabricPerformanceCounter..ctor(IntPtr instanceHandle, Int32 index)"
Hi,

We have a problem with several services deployed at our Azure Cluster (v6.2.283.9494). The error we are getting is this:

Replica had multiple failures during open on _Generic_0. API call: IStatefulServiceReplica.Open(); Error = System.ArgumentException (-2147024809)
Value does not fall within the expected range.
   at System.Fabric.Interop.Utility.WrapNativeSyncInvoke[TResult](Func`1 func, S

[2018-06-08 08:34] KevinBassaDevelopment opened #1103 "MicrosoftServiceFabric.6.2.283.9494.exe installation error - PowerShell has stopped working"
I tried to install the azure service fabric SDK with the web installer (MicrosoftAzure-ServiceFabric-CoreSDK.exe), as explained in https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-quickstart-dotnet.

After I got errors here, I tried the intermediate step, starting with the installation of just the service fabric runtime (MicrosoftServiceFabric.6.2.283.9494.exe).

But I always g

[2018-06-08 09:16] jaybarden opened #1104 "Service Fabric .Net Core VS Template incorrect for AAD Authentication"
Hi,

When using the Service Fabric WebAPI template in VS15 (15.7.3) to autheticate to my AAD instance, I receive the following error:

**Error:**
Microsoft.IdentityModel.Tokens.SecurityTokenInvalidSignatureException: IDX10500: Signature validation failed. No security keys were provided to validate the signature.

After much head-scratching as the stand-alone WebAPI template works and produces the

[2018-06-08 09:31] ashishnegi commented on #1104
@jaybarden Thanks for this information. Can you open a PR on [service-fabric-dotnet-core-getting-started](https://github.com/Azure-Samples/service-fabric-dotnet-core-getting-started) and [service-fabric-dotnet-getting-started](https://github.com/Azure-Samples/service-fabric-dotnet-getting-started) ?

It will be helpful to others as well.

[2018-06-08 15:20] ddobric commented on #315
I'm also getting same error when using locally (dev cluster) the local registry.
I.E.:
[code]

[2018-06-08 16:51] #390 closed

[2018-06-08 17:57] NCarlsonMSFT commented on #1041
Sorry perhaps I was unclear, Deploy-FabricApplication.ps1 is never called as part of debugging. So changing that file will not impact debugging. Publish-NewServiceFabricApplication.ps1 is called directly so changing that would be your only opportunity to alter the deployment.

[2018-06-08 20:56] dbreshears commented on #976
@gumaflux, sorry for delay on this.  Is this still an issue?  Have you tried installing 6.2 / 3.1 SDK from Web platform installer?

[2018-06-08 21:08] dbreshears commented on #1092
@abatishchev,    Can you try the following as see if it works around the issue

Unload and edit the .sfproj and add this property to the Globals property group.  Save, close and reload the solution.

`<UpdateServiceFabricApplicationManifestEnabled>false</UpdateServiceFabricApplicationManifestEnabled`

[2018-06-08 21:36] NCarlsonMSFT commented on #1095
@13thirteen not all implementations of CPS support ILaunchSettingsProvider. I believe you can check for the Project Capability [LaunchProfiles](https://github.com/Microsoft/VSProjectSystem/blob/master/doc/overview/project_capabilities.md) to check a particular project.

Is there a particular thing you are trying to change for Service Fabric projects?

[2018-06-08 22:00] abatishchev commented on #1092
Yes, this is a nice workaround, thanks. What I'd like to have in long-run: Allow My as valid value. And do not remove attributes with invalid values. Fail the build instead.

[2018-06-08 22:37] AaronRM commented on #1084
**Cluster Resource ID**: /subscriptions/b5582b30-cbe9-44dc-9949-a071ed89ecbd/resourcegroups/prs-dev2/providers/Microsoft.ServiceFabric/clusters/prs-dev2
**Region**: West US 2

Thanks!

[2018-06-08 22:53] ivanlysiuk commented on #958
I would like to confirm that the issue exists in an on-prem cluster running on version 6.2.283.9494. In a 6 node cluster, two nodes have Fabric.exe consuming memory linearly in time, independent of load (we do performance tests a couple of hours a day) at the rate ~2.5MB/hour.

When Fabric.exe is killed, it restarts with a low memory footprint and resumes eating memory at the same rate as before.

[2018-06-08 23:19] pamela032709 commented on #29
can someone tell me where exactly should I add this fix in my project -- <Target Name="ResolveAssemblyReferences" />
thank you

[2018-06-09 00:02] dbreshears commented on #1092
Can you clarify what was being removed, both strings above are identical.    If we can get a repro from it I can log a bug here for investigation.   It is probably failing to deserialize from the XML for some reason.

[2018-06-09 00:19] spottedmahn commented on #1090
Cool but I’m 95% sure there were no errors in that window.  It’s the first window I check.

I’ll repro it and double check.

I am using refresh app if that matters.

[2018-06-09 00:44] abatishchev commented on #1092
If I have this:

    <EndpointCertificate X509StoreName="My" X509FindValue="[WebApiService_EndpointThumbprint]" Name="WebApiServiceEndpointCert" />

Then it'll become this:

    <EndpointCertificate X509FindValue="[WebApiService_EndpointThumbprint]" Name="WebApiServiceEndpointCert" />

In other words, the whole attribute ` X509StoreName="My"` is getting removed.

[2018-06-09 02:08] mkolter opened #1105 "Random issues committing to reliable dictionary causing cluster instability"
** PLEASE WAIT BEFORE TAKING ACTION ON THIS ISSUE. I may have found the problem. Am testing now...

I have been experiencing what seem to be random problems with writing to a reliable dictionary. I haven't been able to make sense of this problem for more than a week. I'm going to include as much info as I can here hoping that someone can help me make sense of the problem and find a resolution.

In

[2018-06-09 04:07] amanbha commented on #1092
@abatishchev "My" is default value for "X509StoreName" attribute in the schema, we use xml deserialization and serialization to update the manifests during the build. Schema is available [here](https://github.com/Microsoft/service-fabric/blob/master/src/prod/src/ServiceModel/xsd/ServiceFabricServiceModel.xsd#L268) This default value is not written during serialization, I understand that value is n

[2018-06-09 19:48] suvamM commented on #813
I am using runtime 6.2.283.9494 and SDK version 3.1.283.9494, and I am still facing the publish process getting stuck at "Copying application to Image Store". I have tried removing the local cluster, gotten rid of it from system tray altogether, but nothing works. This issue started all of a sudden.
Would really appreciate some help here.

[2018-06-09 19:54] abatishchev commented on #813
@suvamM: I'd suggest to make sure this is not a local issue.
Try on a different machine. If this is a lock issue indeed then check what version of PS cmdlets you're using. Also another trap I fell myself is the difference between the versions installed on local machine and the versions used from NuGet.
For me this issue is long gone.

[2018-06-09 20:07] suvamM commented on #813
@abatishchev Alright, updating the Nuget packages seems to have made the fix. Thanks a lot for the help.

[2018-06-10 03:13] alexgman commented on #813
@suvamM i have this problem, but i'm not understanding what you and @abatishchev are referring to when you say nuget packages.

What is the problem with which packages?

I'm unable to deploy, and just stuck in _Copying application to image store..._

[2018-06-10 03:37] abatishchev commented on #813
Target Service Fabric SDK doesn't match the actual version on the cluster

The NuGet packages of Service Fabric you reference from your services withing your application.

[2018-06-10 07:41] abatishchev commented on #1092
The schema says "My" but "My" will be removed. Why? And only "MY" will stay. Again why?

[2018-06-10 08:02] ashishnegi commented on #1085
Closing as issue is solved for original OP. please reopen if issue exists for others.

[2018-06-10 08:02] #1085 closed

[2018-06-10 08:17] ashishnegi commented on #1077
@radicmilos Can you suggest better way to dynamically change scaling policies as asked on [question](https://github.com/Azure/service-fabric-issues/issues/1077#issuecomment-395311617) ?

[2018-06-10 15:00] suvamM commented on #813
@alexgman I take back my comment: I had updated my runtime and SDK, and the Nuget packages for my project, and the publish succeeded. But it's the same problem for every other project I have, including the template SF app which is generated when I create a new SF project. I checked that there is no version mismatch between my local SDK and the version on the cluster.

This is really strange, and i

[2018-06-10 16:18] ashishnegi commented on #29
@pamela032709 check [comment1](https://github.com/Azure/service-fabric-issues/issues/29#issuecomment-304161827) and [comment2](https://github.com/Azure/service-fabric-issues/issues/29#issuecomment-305594089).

[2018-06-11 01:28] BrainSlugs83 commented on #936
I ran some commands to figure out what was using that port on my machine (can't remember now, but I just googled it), and it turned out it was the Internet Connection Sharing service (which is on by default in the latest windows updates -- even if you turn it off, and fully disable it, sometimes it turns itself back on...) -- anyway, anytime I have this issue, I just pop open `services.msc` and di

[2018-06-11 01:35] BrainSlugs83 commented on #936
@dbreshears -- sorry, I don't remember if I was able to do that or not -- I just know that unless I have ICS closed, I can't deploy new code.

And no, I'm not using the Refresh setting*, I'm using `Remove Application`.

(*it's always been really buggy for me, and I've got my `IActorStateManager` that's backed by Azure Cosmos Document DB, so it's not big deal if all the data in the cluster gets wip

[2018-06-11 03:13] amanbha commented on #1092
As I mentioned in the previous respinse, default values are removed and "My" is default value.

[2018-06-11 03:33] abatishchev commented on #1092
So you're saying that MY stays because it's not a default value? Can everything stay, like it does in all other parts of application/service manifest, any other SF settings, or anywhere else in .NET or XML world? What's the reason behind it's removal? Even it's default I'd expect it to stay.

[2018-06-11 03:39] amanbha commented on #1092
Tooling modifies the application  manifest to ensure that only required service manifets are kept, it uses xml serialization/deserialization for this. I understand the confusion  it causes but there is no correctness issue, there is a work item to track this, but this is low priority as compared to other work items for the tram.

[2018-06-11 03:45] abatishchev commented on #1092
I see, fair enough. Closing this then.
Meanwhile can you please send me a link to the work item to alexbat@microsoft.com? Thanks!

[2018-06-11 03:45] #1092 closed

[2018-06-11 04:19] amanbha commented on #1092
Sure thing!

[2018-06-11 05:22] dbreshears commented on #936
@BrainSlugs83,  I thought the ICS issue was resolved in 6.2 release.   Let us know if on that version and still seeing the issue.

[2018-06-11 08:32] OlegKarasik commented on #325
@guibirow, @MrMint

As far as I understand from the ideology stand point here are a few concepts used by Service Fabric:
_(All of the bellow are based on my personal understanding of the Service Fabric documentation)_

1. Each service instance can utilize all resources.
    _I think so because in the documentation for Service Fabric there is not a word about Cluster Manager changing instance count

[2018-06-11 11:58] MarekLani opened #1106 "Restart-ServiceFabricDeployedCodePackage not working for services with '.' (dot) in the name"
Hi,

Services with '.' character in the name are working well they get dpeloyed, however we noticed that Restart-ServiceFabricDeployedCodePackage cmdlet has problem when stating value for **ServiceManifestName parameter**.  Let's assuma we have service named "Stateless1.test". Service Manifest for such service is automatically named Stateless1.testPkg. We run following command:
 `Restart-ServiceFa

[2018-06-11 13:38] AndreasHassing commented on #1068
I ran into this issue and solved it by fetching the latest version of the SF standalone setup scripts.

[2018-06-11 13:40] NISHANTH2066 commented on #1101
It seems that I have to write some listeners, Actually, I want something like Azure Timer function in Azure service fabric, I want to do some stuff say every ten minutes, Azure timer function allows me to do that effectively instead of busy waiting, Is there something of that kind in Azure Service fabric too?

Creating a listener is as good as doing that and sleep for rest of the time.

[2018-06-11 15:23] groogiam opened #1107 "Cannot Remove Failed Node on Local Cluster"
I am attempting to remove a node on standalone cluster based on your documentation.
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-windows-server-add-remove-nodes

The node in question has failed and is no longer on the network. When running the cluster config upgrade to remove a failed node, the upgrade hangs due to the health checks.  I attempted to disable the heal

[2018-06-11 15:52] ashishnegi commented on #1101
@NISHANTH2066 see, if service fabric actors [reminders/timers](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-actors-timers-reminders) help you.

[2018-06-11 20:18] mkolter commented on #1105
Ok - I think I found the problem. It was a horrible mix of synchronous and async code in my code. Sorry for any distraction.

[2018-06-11 20:18] #1105 closed

[2018-06-11 21:11] pdylanross commented on #1038
Awesome! This is exactly what I needed.

[2018-06-12 05:33] bishal-pdMSFT commented on #806
@BharatNarasimman @MikkelHegn any update on this?

[2018-06-12 07:18] Rakesh201180 commented on #649
Hi oanpl,

I am adding healthconfig in application manifest file and i a getting  parse error...after removing that tag its working fine .

  <Policies>
      <ContainerHostPolicies CodePackageRef="Code" Isolation="default">
        <RepositoryCredentials AccountName="#{ContainerRegistry_AccountName}" Password="#{ContainerRegistry_Password}" PasswordEncrypted="false"/>
        <NetworkConfig Netwo

[2018-06-12 09:14] tknerr commented on #958
I'm also seeing this on 2 nodes in our 5-node SF cluster running on version 6.2.283.9494.

The upgrade to 6.2.283.9494 happened on June 1st, since then you see the constant decline:

![image](https://user-images.githubusercontent.com/365744/41281443-ae6a6282-6e31-11e8-8c99-6c4d18552e72.png)

[2018-06-12 11:06] ddobric commented on #936
One of reasons, why this error happen inside of Visual Studio is following.
- Right Mouse-Click on the project and select **publish**.
- Chose Target Profile **Cloud.XM**L
- Enter Localhost as cluster
- Select Local.1Node.xml as Application Parameters File.

These steps lead to the error

To workaround it, in the fist step you should select "**Local.1Node.xm**l"

It would be great if the team coul

[2018-06-12 18:42] masnider commented on #1102
This looks like performance counter initialization failing. Added some folks to take a look. In prior cases this has been caused by issues with Windows perf counters, as well as memory issues on the machine. @Expecho you take a look and see if the machines are under memory pressure when this is happening?

[2018-06-12 20:20] leomindez opened #1108 "There was an error download image container from azure container repository"
I am using service fabric to deploy some container images.
I created the image containers and I uploaded them to Azure Containers Repository.
I am creating a service fabric container application and I am adding the azure container url.

When I do the deploy locally, I am getting these errors:

[code]
[code]

I downloaded the images by using docker pull command and run them, the images work very we

[2018-06-13 09:32] EM1L commented on #1020
Possible workaround is to use chocolatey package manager - we use it to install Service Fabric although the chocolatey is using Web Platform Installer, but still works for us. Here is the command line to try:

`choco install MicrosoftAzure-ServiceFabric-CoreSDK --source webpi --confirm`

[2018-06-13 09:32] tknerr commented on #958
Note that we also see a slight increase in CPU usage for the nodes which are leaking memory. We observe this consistently across environments. Also, not all of the nodes are leaking, but only a few:

 * in our 5-node clusters we see 2 nodes leaking
 * in out 3-node clusters we see 1 node leaking

CPU increase:

![image](https://user-images.githubusercontent.com/365744/41342827-730bcbaa-6efd-11e8-8

[2018-06-13 12:35] GaryBelot commented on #1073
@masnider , could you please review the #1073 issue? Can someone confirm or suggest otherwise, that for the Bronze tier , in case when one of the three Primary nodes are down ( failed and we can't recover it) there is NO option to get SF back to up and running state? And the only option is to rebuild the whole Service Fabric?

[2018-06-13 14:36] Expecho commented on #1102
@masnider the problem went away after deleting the affected applications and redeploying it with its services. Not all services were affected though.

Can't remember the memory pressure but since we are still in early stages I've never seen  high memory pressure ( we have a monitor showing live stream of the servers telemetry using application insights)

[2018-06-13 16:32] MikkelHegn commented on #1108
"Partition is below target replica or instance count." means that you do not have the container running. You asked for one replica, but there are zero running.

"Failed to download container image". Did you specify the credentials to ACR in the manifest file that you used to deploy the container with? https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-containers#confi

[2018-06-13 18:58] leomindez commented on #1108
Yes I did, I added the user and pass in application file. I have one question, I read that Windows Containers don't work on Windows 10, is it correct?
Thanks for helping me
@MikkelHegn

[2018-06-13 19:00] MikkelHegn commented on #1108
Containers are supported on Windows 10, but there are some known limitations documented here: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-how-to-debug-windows-containers

Can you share the docker host logs from Event Viewer. The error bobbles up from Docker and it would be interesting to see what's going on.

[2018-06-13 23:14] dbreshears commented on #934
Looks like this is resolved.    At times the templates in Visual Studio point to the previous released Nuget packages until the tooling can be updated after the SDK releases.  We are trying to improve this so the tooling support is ahead and available when the SDK releases.  Re-open if still having issues.

[2018-06-13 23:14] #934 closed

[2018-06-14 02:05] masnider commented on #1102
Ok. There have been cases in the past where perf counter initialization would fail when we tried to create a bunch simultaneously, but those issues were worked out some time ago.

I'll close this issue down for now since you're up and running. If you see it again reopen it and let us know and these folks will probably want to get a look at the environment.

[2018-06-14 02:05] #1102 closed

[2018-06-14 02:07] masnider commented on #1073
There are usually recovery options if a new node can be created and added into the cluster, but I've added people who can help take a look here (sorry that we lost track of this one as Rakshita recently changed teams).

[2018-06-14 02:11] masnider commented on #1093
Further down, there should be an individual report at the code package level (within the node).
@harahma, @mani-ramaswamy, @RajeetN any ideas in the meantime for how to get more info?

[2018-06-14 05:11] jkochhar commented on #1107
When you say it hangs at RollingforwardCompleted.. is that what you see in SFX? Are you able to share logs from the cluster?

[2018-06-14 05:16] Rakesh201180 opened #1109 "Getting Publish-UpgradedServiceFabricApplication : Upgrade was Rolled back error when adding resource governance configuration in applicationmanifest.xml file"
We are deploying our application to azure service fabric cluster using VSTS and Octopus build
After adding resource governance parameters.

[code]
We are getting below error during build.

**Publish-UpgradedServiceFabricApplication : Upgrade was Rolled back.**

Please let us know if any issue is there related to configuration.

we are following below link for configuration

https://docs.microsoft.

[2018-06-14 06:35] walima0103 commented on #1024
+1!!! Central US - e0c4e151-ad47-4780-9e43-374c07fc02ff - Internal-only load balancer

[2018-06-14 07:58] cod7alex commented on #1093
@harahma isn't my first post sufficient ?

[2018-06-14 09:39] ravindraaditya commented on #1087
Windows Server 1803 has the fix without need of any workaround.

[2018-06-14 09:39] #1087 closed

[2018-06-14 12:16] #1098 closed

[2018-06-14 13:35] deckertron9000 commented on #508
My issue was resolved following the workaround on #1056

[2018-06-14 17:20] oanapl commented on #649
HealthConfig should not be inside ContainerHostPolicies, but a child of the Policies.

[2018-06-14 18:02] groogiam commented on #1107
It looks like the operation completed but the node still showed in the explorer. The remove node functionality did not appear to work if the node was completely offline. In the end I was forced to delete and recreate the whole cluster so I'm not sure I have the logs. Where would these logs be located so I can check if I still have them?