[2018-02-06 01:14] JunRamoneda commented on #813
Cluster and VS2017 both have 6.1.456.9494

[2018-02-06 01:25] Tadimsky commented on #638
I'm getting the same error with the latest SDK...

[2018-02-06 01:42] jetmaxim commented on #782
@jonnovaretti
I am suffering the same problem. Service Fabric Reliable Actor doesn't write Serilog messages. And I have no problems with Asp.Net service as well. Could you please publish the solution or refer to the source code?
I checked "Serilog doesn't work in Reliable Actor Services" article at stackoverflow, but it doesn't have a solution. I have a hard time to figure out where to invoke Clos

[2018-02-06 02:06] JunRamoneda commented on #813
Removing local cluster before publishing seems to work for 6.1.456.9494

[2018-02-06 02:17] cata commented on #813
I can confirm that I can publish to a secure Azure cluster after removing the local cluster. Both clusters are  6.1.456.9494

[2018-02-06 04:28] nareshkhatri81 commented on #503
In SF Explorer where Health of App events are displayed, it displays container name + some random string not healthy.
My all containers are not healthy now so not able to capture what is displays but its container name + Random string.

i was thinking when SF runs docker containers, it gives containers name as service name which is defined in ApplicationMainfest/ServiceMainfest file.

Also in Serv

[2018-02-06 04:33] oanapl commented on #813
Thank you for confirming! We are working on the fix, and I will update the thread when the updates are pushed.

[2018-02-06 04:37] hongdai opened #826 "Service activation error: ErrorCode=EndpointProviderNotEnabled"
I have a stateless service that in the "Error" state. The Service Fabric event log shows:

8714957acfb8f59a0acaa6c27d4327:131623301243550238
Activator
Activate: Activate:Application13Type_App0:Stateless1Pkg@a5e31af8-5a9b-4a8d-b6ba-52460a00ae3a@6a8da7e3-9153-4f3c-8852-1ad11dd3f763:1.0:1.0:131623651882224175, ErrorCode=EndpointProviderNotEnabled, RetryCount=1

What could be the possible causes?

[2018-02-06 04:51] gumaflux commented on #693
I see, thanks for the clarification.

[2018-02-06 05:19] Thieund commented on #356
@rakshitatandon  Could you please explain why "The reason Bronze is not recommended for production is because we have only 3 seed nodes and losing even one of them can result in quorum loss." Thanks.

[2018-02-06 07:38] raunakpandya commented on #638
@SamuelMcAravey-NVP - The error you seeing is not .NET Core specific, seems like a different issue. If so, can you please open a different issue for tracking?
@Tadimsky  - What error you getting? The CopyApplicationPackage/RemoveApplicationPackage/CopyClusterPackage/RemoveClusterPackage API are currently not supported on .NET Core SDK (v3.0). They would be made available in the upcoming release.

[2018-02-06 07:53] kahootali commented on #216
@kavyako I want to remove the Server header from Service Fabric Reverse Proxy Response, is there a way?

[2018-02-06 07:55] Tadimsky commented on #638
@raunakpandya This was hitting F5 in Visual Studio in an SF project that contains two .Net Core 2.0 services.

[2018-02-06 08:44] deanmccrae commented on #638
I also got this error (below), and have managed to get past it.

This error occurred I think, after the Visual Studio upgrade to 15.5.6. My own project failed with this error (I needed to first upgrade the project formats) during deploying to the local cluster (simply F5). Also tried to simply create a brand new service fabric application with stateless service - none of my own code - same thing.

[2018-02-06 10:19] Sveer commented on #813
Hm... It's a magic, but after removing local cluster Copy-ServiceFabricApplicationPackage working well.
Another solution - prepare sfpkg, upload it to Azure blob and call Register-ServiceFabricApplicationType -ApplicationPackageDownloadUri azureblobaddress:
https://github.com/Sveer/FixServiceFabricIssue813
It's not real fix, just register app through azure blob for test.

[2018-02-06 12:15] MikeJohnson1337 commented on #816
Tested my own OpenMP code, and it works. Need to contact library developer to fix.

[2018-02-06 12:15] #816 closed

[2018-02-06 13:19] raunakpandya commented on #730
Should be available by April..

[2018-02-06 15:07] francescocristallo commented on #813
Oh wow I spent an entire day + all last night reinstalling VS17 and then formatting my PC after was not working, thinking of some VS Issue due to the tools update! Glad I found this thread.
I reinstalled VS on a fresh format machine and the problem still persisted.
Trying to deploy a .Net core 2 on secure Azure live 6.1.456.9494 cluster.

Closing the local cluster (clicking exit) didn't work eithe

[2018-02-06 15:35] JohnnyFun commented on #813
@francescocristallo, to remove the local cluster, go to your system tray, right click the service fabric icon, click "Remove Local Cluster"

I confirmed that that workaround worked for me too. Thanks @oanapl! I'll look out for the update.

[2018-02-06 17:27] RajeetN commented on #805
You cannot have a port shared across multiple applications because http.sys does not allow multiple certificates for the same port. So SF cannot upgrade cert for one application without causing a downtime for the other. So SF detects this condition and fails the upgrade. It is fine to have all services of the same app share the port though since SF will upgrade services of the same app together bu

[2018-02-06 18:48] rakshitatandon commented on #356
@Thieund Bronze should only be used for test clusters. With Bronze only 3 seed nodes are configured. If any of the seed nodes go down (network outage, hardware issues etc.), then the cluster would be left with only 2 healthy seed nodes. In such a state, all config/code upgrades will be blocked since an upgrade requires UD by UD walk and takes down nodes one-by-one while upgrading. Due to safety ch

[2018-02-06 19:47] BinWuMSFT commented on #785
@holgerleichsenring I am able to repro this on 15.5.4 but not in the preview which is 15.6. Could you try on 15.6 and see if the problem still exists there?

[2018-02-06 20:19] tanwarsatya commented on #803
Exact same issues, disabled the ICS and its working. Any long term solution for this, and why this issues never came in earlier versions.

[2018-02-06 20:56] oanapl commented on #820
As the message above say, you must use compose deployment instead of direct service related commands. See [documentation](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-docker-compose). Try Remove-ServiceFabricComposeDeployment or Start-ServiceFabricComposeDeploymentUpgrade.

[2018-02-06 21:49] ekumlin commented on #448
@mani-ramaswamy, @rakshitatandon -- I've run into this issue as well. It's *not* an issue with the file not existing; I've tried reading the bytes into a variable instead, and passing it as an argument that way, and I get the same error.

The certificate itself was created using:
[code]

The following code works, if I take the `pfx` file generated from that self-signed certificate (with password `

[2018-02-06 21:51] zuhairp commented on #761
Hey @SndrSchnklshk, can you try adding [DataMember] attributes to the members of your value object and see if the problem still persists?

[2018-02-06 22:05] alex-1244 commented on #813
@oanapl , seems that removing local cluster didn't help me.
Publish failed both from VisualStudio and PowerShell.

[2018-02-06 22:34] MikkelHegn commented on #824
@dbreshears @Liphi please take a look at this.

[2018-02-06 23:23] Liphi commented on #824
What's the Service Fabric runtime version?

[2018-02-07 00:16] dbreshears commented on #824
I am not able to reproduce.   What is in the HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Service Fabric SDK\LocalClusterNodeCount registry value?

[2018-02-07 00:17] Liphi commented on #824
I can't repro either.

[2018-02-07 00:54] oanapl commented on #813
@alex-1244 , can you give me a few details about your scenario and the steps you tried for mitigation? What is your cluster version and client version? What are the cmdlet parameters you run and the output for copy-servicefabricapplicationPackage? Can you try uninstalling SF from your machine, installing and running the copy cmdlet to ensure there's no local cluster?

[2018-02-07 02:24] mattrowmsft commented on #677
@dealboy  sorry I missed this.  This additional section governs the local retention policies for our QueryTraces.  It does support DataDeletionAgeInDays, but that only controls its local storage.  You should set isEnabled = true for this to mitigate the issue.  The fix will ensure these sections are enabled no matter the configuration.  I should have a build number / date for the fix soon.

[2018-02-07 03:01] nahmed01 commented on #465
Hi, I am also having similar issue.
I upgraded code version to 6.1.456 which went fine.then i had to remove and recreate my cluster.
after recreating the cluster, "upgradeorchestrationservice" is in quorum loss, not sure how to fix, any help will be appreciated
![image](https://user-images.githubusercontent.com/36216668/35896214-5439848e-0c0f-11e8-9bd8-d196b493ae40.png)

[2018-02-07 03:34] rishirsinha commented on #465
@nahmed01. This seems to be a different issue. Can you open a new issue please?

[2018-02-07 04:18] francescocristallo commented on #813
I confirm the "Remove cluster" trick works 👍

[2018-02-07 04:27] Thieund commented on #356
@rakshitatandon Thanks very much for your clarification

[2018-02-07 06:00] mattrowmsft commented on #294
For Linux
[code]

[2018-02-07 07:08] dbreshears commented on #817
Sorry about that but not something we have encounterd in our testing.  What types of services do you have in your solution?   Does your .sfproj get updated to the 1.6.4 version correctly and the nuget package installed in solution root and updated in packages.config ?   1.6.2 and 1.6.4 should be fairly equivalent when it comes to building the SFApp.     Please  make sure that everything is still b

[2018-02-07 08:27] moberacker opened #827 "Question - Service Fabric Reverse Proxy - support HTTP/2?"
Hi Team,

Is Service Fabric Reverse Proxy compatible with HTTP/2 (gRPC)?

Thanks,
Markus

[2018-02-07 10:05] holgerleichsenring commented on #785
sure, I'll do and let you know.

[2018-02-07 10:46] Soarc opened #828 "Referencing service with multi framework target couses MSB4057 build error."
Microsoft Visual Studio 2017 enterprise, 15.5.6

**Steps to reproduce**
1. Create azure service fabric project with netcore2.0 stateless service
2. Edit service's csproj and add new target to net461
`<TargetFrameworks>netcoreapp2.0;net461</TargetFrameworks>`
3. Build solution

**Expected Behavior**:
Solution should build for both frameworks or define method to choose target framework for compilati

[2018-02-07 11:09] UsamaAslam23 opened #829 "Unable to download container image from private repository"
I am trying to run SF cluster locally on  windows server 2017 with docker container. When I publish the application from VS17 I get the following error on SF explorer:

I am trying to deploy an application pointing to my private repo, e.g. hub.docker.com/r/myrepo/container
I am able to use the repository credentials specified in the manifest to login to the repo from docker cli.

Docker was instal

[2018-02-07 13:22] MedAnd commented on #827
see this thread #282

[2018-02-07 14:15] nineralpha opened #830 "Environment variables: Fabric_ServiceName"
I need to access **Fabric_ServiceName** in my guest service(exclusive process) but can't find it. even when i enlist all environment variables this one is missing, i have also checked stateful service variables list it is also missing there.
according to documentation https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-environment-variables-reference i should be able to get this.

[2018-02-07 16:00] inech commented on #638
@deanmccrae Unfortunately, reinstalling didn't help me, so I have rolled back to the previous version of SF SDK.

 I have uninstalled (from control panel):

- Microsoft Azure Service Fabric 6.1.456
- Microsoft Azure Service Fabric SDK 3.0.456

And then installed 'Microsoft Azure Service Fabric SDK 2.8.232' from Web Platform Installer (runtime installation is bundled inside).

As a result, now I ca

[2018-02-07 16:12] ktheeten commented on #824
The registry key you mention was empty.  However, I reinstalled the SF runtime and now it is working as expected.  Please close the issue. Sorry for the inconvenience.

[2018-02-07 16:17] funrockstefan opened #831 "restoreContext.RestoreAsync times out"
Currently when we trigger OnDataLossAsync, occationally some of the restore operations times out. Specifically it is the cancellation token in the following call that is notified of cancellation:
await restoreContext.RestoreAsync(restoreRescription, cancellationToken.

In our scenario we have 25 actor services with 20 partitions, running on node type with 5 nodes, and we trigger the data loss on a

[2018-02-07 17:02] MikkelHegn commented on #818
Hi @AnshulMehta187,

Need a little more info. Are you using Entityframework from within a reliable service, or what is the link to Service Fabric?

Your commit goes off to you database, which database are you using in this scenario?

/Mikkel

[2018-02-07 17:27] alex-1244 commented on #813
Cluster version(Azure): 6.1.456.9494
Cluster version(local): 6.1.456.9494
Deployment script call:
`.\Deploy-FabricApplication.ps1 -ApplicationPackagePath 'E:\Projects\...\pkg\Debug' -PublishProfileFile '
E:\Projects\...\PublishProfiles\Cloud.xml' -DeployOnly:$false -App
licationParameter:@{} -UnregisterUnusedApplicationVersionsAfterUpgrade $false -OverrideUpgradeBehavior 'None' -Overwrite
Behavior

[2018-02-07 18:55] keggster101020 commented on #825
I think this issue might be caused when a class inherits Actor & IActor (in my case they are both sub-inherited from two different base classes)

[2018-02-07 20:56] dalestone commented on #817
Sure if you clone the following repo https://github.com/dalestone/service-fabric-build-issue

The build\build.cmd is targeting x64.

1. cd to `build\build.cmd` - Build error as the Iot.Admin.Application.sfproj and packages.config reference `Microsoft.VisualStudio.Azure.Fabric.MSBuild.1.6.4`
![image](https://user-images.githubusercontent.com/3886432/35941142-33680e12-0c49-11e8-8bd8-7e63933ed757.png

[2018-02-07 22:12] nahmed01 commented on #465
ok will do thanks

[2018-02-07 22:16] nahmed01 opened #832 "UpgradeOrchestrationService in Quorum Loss after code version update"
Hi champs,
I upgraded code version to 6.1.456 which went fine.then i had to remove and recreate my cluster.
after recreating the cluster, "upgradeorchestrationservice" is in quorum loss, not sure how to fix, any help will be appreciated
![image](https://user-images.githubusercontent.com/36216668/35944479-abf5ade6-0cb0-11e8-98f4-c463c0ea32ac.png)

[2018-02-07 22:17] NCarlsonMSFT commented on #802
Couple of questions to help steer the investigation:
+ Does the folder exist in the build artifact?
+ Are you doing an upgrade, or are you overwriting the application?
+ Are you using a diff package?

[2018-02-07 22:34] JohnnyFun commented on #813
If it's any help, @oanapl, I noticed the cluster I'm deploying to in azure is still showing it's at the old version (6.0.232.9494), and I recently updated my local sdk and project nuget packages to the latest (6.1.456.9494).

When I try to update my azure cluster to be the latest, I get an error.

I'm able to deploy to it just fine though, and the app seems to run fine.

[2018-02-08 01:49] #824 closed

[2018-02-08 02:20] mvperez opened #833 "Accessing secured service fabric cluster on aspnetcore (.NET Core) UserPasswordCredential not enabled"
Hi,
I implement [this ](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/service-fabric/service-fabric-connect-to-secure-cluster.md) on aspnetcore targeting .net framework, it's working fine. With the release of service fabric runtime 6.1 I converted my project to .NET Core. But UserPasswordCredential is not recognize and it is by design based from [here ](https://github.com/AzureA

[2018-02-08 03:30] rishirsinha commented on #832
Can you check on the nodes to see whether there are any crash reports? It looks like the UOS primary is crashing. If the SFX does not show anything, looking at the event log might help.

[2018-02-08 04:45] oanapl commented on #813
@JohnnyFun , I recommend you follow up separately on the cluster upgrade failing. @vaishnavk can help with that.

@alex-1244 , I am sorry for the frustration you are experiencing with this issue. Have you tried uninstall, reinstall and then run upload (without setting up local cluster)? And instead of the deploy script, can you use the Powershell cmdlet directly?

[2018-02-08 05:13] nahmed01 commented on #832
Thanks Rishi

Yes there are error reports in event log every 5 minutes, here is the dump:

Baseline upgrade JsonClusterConfigMetadata not found at C:\ProgramData\SF\ClusterConfigMetadata.json.-
   at System.Environment.GetStackTrace(Exception e, Boolean needFileInfo)
   at System.Environment.get_StackTrace()
   at System.Fabric.Common.ReleaseAssert.Failfast(String format, Object[] args)
   at Syst

[2018-02-08 07:02] moberacker commented on #827
OK, thanks.

[2018-02-08 08:57] IgorYastrebov commented on #813
very serious one. Our CI is blocked :((((
We forced to upgrade to 6.1 because of too many DNS-related issues, now we have new one :(((

[2018-02-08 09:18] EvilAvenger commented on #813
We've fixed it by adding special tasks just before deploying to staging and just after the deploy.

To stop local cluster before the process:

`function FuncCheckService{
     param($ServiceName)
     $arrService = Get-Service -Name $ServiceName

     if ($arrService.Status -ne "Running"){

         Stop-Service $ServiceName
         Write-Host "Stoping " $ServiceName " service"
         " -------

[2018-02-08 09:54] DIThoS opened #834 "Provider Registration hangs"
When I try to create a Service Fabric Cluster the deployment hangs, because the registration of the resource provider Microsoft.ServiceFabric cannot finish successfully. The state is 'Registering' and it's possible to Re-Register or Unregister the provider neither in Azure portal nor in Powershell. Any ideas what could I do?

[2018-02-08 10:16] heavenwing commented on #813
I also have this problem after upgrade to 6.1

[2018-02-08 10:22] juho-hanhimaki commented on #834
This happens to me occasionally too (on azure). Maybe 30% of cluster deploys seem to never finish. Don't really have time to look at this closer but event logs had some errors.

[2018-02-08 10:42] holgerleichsenring commented on #785
I updated Visual Studio to 15.5.6 and updated Service Fabric to version 3.
The problem **still** persists. I created a new project and Visual Studio will hang after having created the cloud project. I tested with this path:
C:\@tests\Azure\service fabric\testadd\Application1
Using a path that **does** not contain an @ does work fine.

Find attached the versions of VS installation and configuration

[2018-02-08 11:03] funrockstefan commented on #831
Update: Indeed when restoring each service in sequence ( though all partitions within each service in parallel) it succeeds.

[2018-02-08 14:35] rexwhitten opened #835 "Visual Studio 2017 Crashes when creating a new Service Project"
Visual Studio 2017 Crashes when creating a new Service Project via the project templates for .NET Core 2.

**Environment**
+ Windows 10 Enterprise
+ Visual Studio 2017 Enterprise  ( Version 15.5.6 )
+ Microsoft Service Fabric Tools for Visual Studio  2.0
+ Service Fabric SDK 3.0.456

**Steps (Creating a new Service Fabric Project in VS 2017)**
+ Selected Service Fabric Project Template
+ Selected

[2018-02-08 17:03] tanwarsatya commented on #693
@ravipal could you provide a sample .sfproj for this. I am adding the <PackageOutputFolder>true</PackageOutputFolder> under the project  element and now my project is not loading  in VS.

[2018-02-08 17:38] optimumcadence opened #836 "SDK Download Link Error"
The install link from VS https://go.microsoft.com/fwlink/?linkid=861713
gives:
Server Error in '/' Application.

[2018-02-08 17:43] alexwun commented on #831
It's not related to performing the restores in parallel or sequentially per se, but the higher amount of replica building with parallel restores is probably causing some replica load balancing movement, cancelling some of the pending dataloss calls. Either try reducing the parallelism of restores as you've done or pass CancellationToken.None to avoid restore being cancelled.

[2018-02-08 18:50] tanwarsatya commented on #693
I confirm adding the below mentioned lines fixed the issue. Make sure lines are under the 'PropertyGroup' which don't have label 'Global'

` <PropertyGroup>
    <PackageOutputFolder>true</PackageOutputFolder>
  </PropertyGroup>`

[2018-02-08 19:10] butsona commented on #832
I have also experience this issue with a create install to 6.1. After checking other clusters the mentioned file doesn't exists.

[2018-02-08 19:14] rakshitatandon commented on #832
Can you make sure you are using the right client binaries for deploying the cluster i.e. the one from http://go.microsoft.com/fwlink/?LinkId=730690 ?

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation-for-windows-server

[2018-02-08 19:35] hkuizenga commented on #800
We seem to be hitting the same issue when setting up a new cluster with v6.1.456.9494.  The following event was recorded.

![image](https://user-images.githubusercontent.com/36278411/35993981-d7ef92c8-0cc3-11e8-885e-c1939170a2c3.png)

This seems to manifest itself only when installing a new cluster.  We recently upgraded an existing cluster (from 6.0.232.9494 to 61.456.9494) and did not experience

[2018-02-08 20:02] rakshitatandon commented on #800
Can you make sure you are using the right client binaries from http://go.microsoft.com/fwlink/?LinkId=730690 ? Please download and run the CreateCluster script from within this folder.

[2018-02-08 20:12] SamVanhoutte commented on #765
I could not agree more with your statement, @spottedmahn
We are currently trying to upgrade our SSL cert , as it becomes expired soon, and it's so hard to get a good idea on what is causing our service not to start.

[2018-02-08 22:17] nahmed01 commented on #832
Thanks Rakshi,
will try your suggestions and get back to you

[2018-02-08 22:45] jhurdlow commented on #612
I'm having the same issue. If I put my own AD credentials or that of a co-worker in there, it works. However, if I use a specially created AD service account, it does not work (same "Error getting user account information for AD\Username: status=5, error=E_ACCESSDENIED" error). I'm just trying to get it to work on my local dev machine. Have added the service account to all the ServiceFabric* group

[2018-02-08 23:13] RajeetN commented on #612
What do you mean by service account, is it a gMSA account or regular domain user account?

[2018-02-09 00:04] knowhoper commented on #612
@jhurdlow  we solved this by upgrading our version of AD. That's a pretty huge implication I know but we literally made no code changes and it worked.

[2018-02-09 13:10] rexwhitten commented on #836
That link was broken all day yesterday and affected many Microsoft downloads. The link you posted works, and works for me now.

[2018-02-09 13:27] ivanhernandez commented on #724
Hi, @RajeetN  Is there any progress on this issue?

[2018-02-09 15:48] geedsen commented on #412
@ravipal >>The latest nuget package (1.6.4) has the fix. Please add the property
Which package is that? Thanks

[2018-02-09 16:06] geedsen commented on #662
@ravipal
My sf packages.config looks like this:
<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.Azure.Fabric.MSBuild" version="1.6.4" targetFramework="net47" />
</packages>

The sfproj now starts like this:

<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="14.0" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003" I

[2018-02-09 16:15] dbreshears commented on #662
@geedsen,   what version of VS 2017 from help about?     Ensure you have 15.5.6 or 15.6 Preview 4.  In Tools->Extensions and updates you should see 2.0.20180124.2 for the "Service Fabric Tools" extension version.   Also, whatSDK version do you have of Service Fabric?   I would ensure you have the latest 3.0.456 SDK version. After verifying these,  you will need to open the .sfproj file and add <Pa

[2018-02-09 16:42] geedsen commented on #662
VS and Tools are the same versions as you mention. SDK I was not sure so I installed the version 3.0.456.
Problem remains when I deploy to Azure. Works fine btw when deploying to the local cluster. When Deploying to Azure, the code.zip file does not contain the netstandard.dll.

[2018-02-09 16:52] masnider commented on #836
Yes. This was an error with WebPI which is now fixed. Sorry for the blip, and we're working with them to try to figure out how to prevent such things in the future.

[2018-02-09 16:52] #836 closed

[2018-02-09 16:56] ImKator opened #837 "Service Fabric Deploy issues..."
I am working with a service fabric on premise cluster and our own local build agent.  I created a build and release using the TFS online templates and they were working prior tothe latest Service Fabric runtime.

OS: Server 2016
Service Fabric Runtime:   6.1.456.9494
VS 2017 15.5.6

Now with the latest code using online TFS with a local agent to deploy/release to a local cluster, I get the followi

[2018-02-09 16:56] masnider commented on #826
There's usually other errors that are actually causing the service to fail. What version of Sf are you on, as we should also be providing better error messages.

[2018-02-09 17:32] dbreshears commented on #819
@burgonb ,  thanks for the repro steps, indeed can repro.   We will investigate.

[2018-02-09 17:57] oanapl commented on #837
@MikkelHegn / @dbreshears  for VS tooling.

@ImKator , which command returns this error? Is it Test-ServiceFabricApplicationPackage or the register application type command?
If first, you can check whether the image store connection string is specified. For a diff package, the packages that are not specified are verified against what's already provisioned in the target cluster. If the cluster conn

[2018-02-09 17:57] ChackDan commented on #834
Delete the RG and recreate.  That is the only clean way to get this moving. If you would like to figure out the rootcause, then file a CSS ticket and we will collect the logs necessary to answer that.

[2018-02-09 17:57] #834 closed

[2018-02-09 17:59] hongdai commented on #826
I have figured it out it's the cluster configuration issue. Thanks for trying to help!

[2018-02-09 17:59] #826 closed

[2018-02-09 18:27] ImKator commented on #837
OK I am trying to find the information you requested.  This is what I find in the logs for the Deploy Service fabric application:

2018-02-09T18:23:36.0352105Z ##[section]Starting: Deploy Service Fabric Application
2018-02-09T18:23:36.0357808Z ==============================================================================
2018-02-09T18:23:36.0357955Z Task         : Service Fabric Application Deploy

[2018-02-09 18:28] ravipal commented on #662
@geedsen, Can you please share your service project file?

[2018-02-09 18:39] kavyako commented on #795
Closing the issue. Please reopen if you have any concerns.

[2018-02-09 18:39] #795 closed

[2018-02-09 18:40] kavyako commented on #634
Closing the issue as it is fixed.

[2018-02-09 18:40] #634 closed

[2018-02-09 18:49] kavyako commented on #421
This is a bug in the ApplicationGateway, tentative fix ~June 2018.

Details:
When ApplicationGateway forwards the request to the reverse proxy, it clears the Sec-Websocket-Extension header and sends an empty value for the header.
As per RFC, the Sec-Websocket-Extension header must have atleast one value. Empty implies malformed. Hence Service Fabric reverse proxy fails the handshake.

I would reco

[2018-02-09 18:49] kavyako commented on #366
Closing this since it has been fixed in 6.1. Please reopen if you are running into any issues.

[2018-02-09 18:49] #366 closed

[2018-02-09 18:55] alecor191 commented on #421
Thanks a lot @kavyako for the additional details!

You mention a tentative fix date of 6/18 but also that I should open a bug in AppGateway repo. To understand: does this mean that there is already a bug open with AppGateway team and they're working on it?

Could you please point me to the AppGateway repo where I can open the issue? (I searched GitHub but couldn't find one with a matching name)

[2018-02-09 19:07] masnider commented on #833
From our [docs](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-connect-to-secure-cluster#connect-to-a-secure-cluster-non-interactively-using-azure-active-directory) is the real issue that UserCredential doesn't take a username/password as parameters?

Also - there should be some other APIs you can use to acquire the token. Perhaps AcquireTokenSilentAsync?

[2018-02-09 19:07] masnider commented on #833
@jmprieur may be able to help out

[2018-02-09 19:08] masnider commented on #833
At a minimum we'll probably have to update our docs to not show that mechanism.

[2018-02-09 20:28] geedsen commented on #662
Sure.
https://1drv.ms/u/s!AlZYnjFdWN7TocxSCUhkU3L8QPPiyQ

[2018-02-09 20:53] ravipal commented on #662
@geedsen your web project is targeting .NET Framework 4.7.1 which includes the netstandard assemblies so the web project package skips packaging this dll.
\<TargetFramework>net471\</TargetFramework>

Please note that the \<PackageOutputFolder>true\</PackageOutputFolder> will be used only for non-web projects that is targeting fullframework.

Either you should change the target framework to 4.6.1 o

[2018-02-09 20:54] ImKator commented on #837
I apologize if I am not giving you the correct information.  I have searched all the logs generated by the TFS release definition and I cannot find any note of the above powershell commands.   If it helps this worked prior to the new SF runtime and VS 2017 updates.   I regret doing them both at the same time.

This release is straight from the SF templates provided by TFS, and the only thing speci

[2018-02-09 21:18] amanbha commented on #825
@keggster101020 Could you share your complete project, in the command you shared, the /arp argument takes $(TargetDir) by default, looks like TargetDir is incorrect.

[2018-02-09 21:31] RajeetN commented on #724
Sorry for the late response. Does your cloud.xml have the right parameters set?

[2018-02-09 22:12] ivanhernandez commented on #724
Yes, it does. It is a copy of the local config file, with some different
values here and there. When I copy and paste the whole local config file
into cloud.xml, behaviour is as described in the issue: local node runs the
config pasted from cloud.xml, but when deploying at Azure, process takes
DefaultValues from manifest instead of rhose at cloud.xml.

There is a new SF version in Azure (6.1.4xx,

[2018-02-09 22:13] oanapl commented on #813
Another way to mitigate the issue is to upgrade the cluster to set the MaxMessageSize to be in sync with the version on the client. This way, there are no changes needed on the client machine.
Read [upgrading the cluster fabric settings](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-fabric-settings) for instructions. Inside the fabricSettings section, **add or edit**

[2018-02-09 22:15] RajeetN commented on #724
@dbreshears , could you take a look? Thanks!

[2018-02-09 22:39] geedsen commented on #662
Thanks! I'll will just do one of the two.

[2018-02-09 23:41] keggster101020 commented on #825
@amanbha I have sent you a mail with the project. I'm not sure if this is a project issue as I am able to build the same code on other machines?

Thanks!

[2018-02-09 23:55] dbreshears commented on #724
@ivanhernandez, In your PublishProfiles\Cloud.xml file, what is specified in the ApplicationParameterfile element?  Is should be pointing to Cloud.xml however may be set to something else?     If that isn't the issue, can you zip up and share all the XML files in your solution,  manifests, settings, publish profiles, parameters,etc..

[2018-02-10 00:01] ivanhernandez commented on #724
Of course, each publish file uses its own config.

Can't send you those configs as I don't actually have access to them and
they contain some private data. Instead, I will try to generate a minimal
project reproducing the case, for your study on monday.

El 10 feb. 2018 0:55, "Devin Breshears" <notifications@github.com> escribió:

[2018-02-10 00:15] dbreshears commented on #724
That would be great.  Will see if I can repro as well.

[2018-02-10 01:10] BinWuMSFT commented on #837
@ImKator Are you doing a upgrade(by selecting Upgrade the Application in the Upgrade Settings) or a brand new deployment?

[2018-02-10 10:09] alecor191 commented on #813
Thanks @oanapl for the suggestion.
- Can you please elaborate on what the implications of increasing the message size are? (any measurable performance increases/decreases, changes in memory consumption, impact on CPU consumption on nodes, etc.)
- Is this change already thoroughly tested on production clusters and is this an official MS recommendation for customers running production clusters?
- An

[2018-02-10 14:44] clausndk opened #838 "Container template"
Hello Service Fabric users

I'm looking to support containers in our clusters, but I'm having difficulties understanding what is required, and how to setup my cluster for production use.

Having looked at the tutorial for creating a containerized application:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-containers#configure-time-interval-before-container-is-forc

[2018-02-10 21:02] ImKator commented on #837
In the advanced Settings area of the release defintion I have Use Diff Package selected.   I also have the "skip update for same Type and Version" selected as well.   I do NOT have "Override All Publish Profile Upgrade Settings" selected.

![image](https://user-images.githubusercontent.com/32180064/36066655-f69c349e-0e6a-11e8-8315-7ea8648d470c.png)

[2018-02-11 02:08] oanapl commented on #813
@alecor191 , the MaxMessageSize is used to determine how big are the messages the cluster accepts. It's used for queries to determine how much information we put into one message (before we page or simply drop the message because it's too big) and for copying packages to the cluster. It will not have undesirable side effects per our testing.

We will upgrade the Azure clusters to use this value fo

[2018-02-11 05:03] cata commented on #813
@oanapl  Thank you for addressing this issue - do you have an ETA for the update roll-out?
I am asking because attempting to edit the service fabric settings as per instructions fails. After enabling read/write mode, editing the configuration and performing a put, the configuration reverts to the original one.
Also, please note that the documentation page seems outdated: `subscriptions -> resource

[2018-02-11 05:07] oanapl commented on #813
@ChackDan , can you please follow up on updating the documentation?
@vaishnavk , can you give an update on the configuration upgrade progress and help @cata with the issue he mentions?

[2018-02-11 06:27] vi1996ash opened #839 "I want to deploy standalone cluster on multimachine on-premise"
This is what i did
 1) in the configUnsecuredMultiMachine.json I edited machine ip.
 2) i disabled firewall
 3) enabled the remote service registry
 this is my error screen shot  https://drive.google.com/open?id=13pzP5xW_SGjhjy6piGix9OElB2GoZ_3v

[2018-02-11 08:07] ravindraaditya opened #840 "Service Fabric project nuget packages are not getting restored in VSTS"
On latest Service Fabric SDK / .NET Core SDK / VS2017 community edition, we have 1 package reference Microsoft.VisualStudio.Azure.Fabric.MSBuild for service fabric project. I have checkin the solution and triggered build in VSTS it is failing to restore packages for .sfproj

To expel this issue, i have checkin the packages folder manually as a work around.

[2018-02-11 08:41] ravindraaditya opened #841 "Service Fabric Stateful ASP.NET core 2.0 service partitions are not auto healing"
In our production ready SF application we are now facing errors "Partition is below target replica or instance count"

we have recently updated to latest service fabric sdk / .NET Core SDK / VS2017 Community Edition.

To repro the issue we are able to, in simple vanilla service fabric application with ASP.NET Core 2.0 Stateful service publish it in debug / release mode to local dev cluster.

**Bel

[2018-02-11 11:22] holgerleichsenring commented on #785
@BinWuMSFT sure, I need to wait for my IT department. Again, will let you know.

[2018-02-11 16:58] alecor191 commented on #813
Thanks @oanapl for elaborating! I updated a test cluster using Resource Explorer to test the config change and it worked fine for me.

@cata FWIW: I had the same experience that the changes revert back after PUT. However, my understanding is that the Resource Explorer just triggers the config change, it doesn't wait for it to complete before returning success.
I monitored the cluster status in SF

[2018-02-11 20:43] jackbond opened #842 "Deployment and management nuked in latest release"
All my deployments from Visual Studio now hang during the copy stage, and when I try to connect with a FabricClient I get...

"Could not ping any of the provided Service Fabric gateway endpoints."

Any ideas what is going on?

[2018-02-11 21:25] xunlu commented on #842
Is the cluster up?  What do you see from service fabric explorer?  Are the fabric processes running?

[2018-02-11 21:30] xunlu commented on #841
As the comment says, the Sleep is to keep the process running and execution should never past this line.  For the error of "Partition is below target replica or instance count", how many nodes are there and how many replicas are you trying to bring up?

[2018-02-11 21:44] cata commented on #813
@alecor191 - thanks for the tip. I wondered if that was the case, but monitoring the cluster showed no upgrade in progress and now, more that 17h later, the configuration remains the same. Perhaps I mistyped something.

[2018-02-11 21:58] ravindraaditya commented on #841
@xunlu , I do understand that. earlier when we tried to debug application it used to never break at Thread.Sleep.. but why now? sorry, if i had missed anything here.

Well, we enabled 5 nodes in dev cluster with default values. MinReplicaSetSize= 3, PartitionCount =1, TargetReplicaSetSize = 3.

[2018-02-11 22:03] jackbond commented on #842
I'm experiencing the same problem with multiple service fabrics. Everything looks fine in the fabric explorer. I just tried another deploy, and it is able to communicate enough to see that an app with the same name exists, uninstalls it, but then hangs during the copy.

[2018-02-11 23:30] ravindraaditya commented on #841
@raunakpandya , I spinned new Windows Server 2016 VM. there, I'm able to see test SF application with stateful service up and running which is of fresh installation of all tools and pretty fast. I dono whether this will work or not - Now, what I'm going to do is auto repair existing visual studio 2017 community edition on Windows 10 Professional. please standby to see output.

[2018-02-12 03:26] marvinvperez commented on #833
Hi @masnider, I'm not sure how to use AcquireTokenSilentAsync _(but I can research it)_ but I'm also not sure if that will work without providing the cluster ClientAppId. Connecting to secure cluster interactively is an option to me but following the documentation I could not make it to work both .NET Core and .NET Framework. In .Net Framework I'm getting this error:
![image](https://user-images.g

[2018-02-12 05:40] oanapl commented on #842
@jackbond , this seems similar to https://github.com/Azure/service-fabric-issues/issues/813

[2018-02-12 07:50] nrandell opened #843 "Visual Studio 2017 reporting Service Fabric Tools unresponsive"
I'm using the latest VS 2017 preview (15.6.0 Preview 4.0)

Opening an existing solution and adding in a new .Net core 2.0 stateful service resulting in a warning appearing saying.

`Extension 'Service Fabric Tools 2.0.20181224.2' likely caused 7 seconds of unresponsiveness`

Everything appears ok, but I know you guys are really keen on improving Visual Studio performance, so I felt this was probab

[2018-02-12 08:44] SndrSchnklshk commented on #761
Hi @zuhairp, I've now added DataMembers and update the service. I'm afraid this wouldn't solve it... but let's wait for now.

I'm still busy investigating the issue because I really need to fix it now. When I cannot make it work this way I have to move to another solution...
My save event is triggered from multiple threads. What about thread safety of the objects? What happens to the StateManager

[2018-02-12 11:31] agronompele opened #844 "Can't package Service Fabric application in Linux environment"
I need to package my Service Fabric application in order to deploy it to the Azure Service Fabric cluster.

There is no any error when I use this command in Windows:
`dotnet msbuild SfTestApp/SfTestApp.sfproj /t:Package`

But when I push my source code to Bitbucket and try to package my application at pipeline - I always get the same error message:
[code]
I've already tried to create empty Service

[2018-02-12 12:29] dealboy opened #845 "Reverse Proxy logs/diagnostics for standalone cluster"
Hi,

on a standalone cluster we see error entries in logs like the following:

`2018-2-12 11:46:40.583,Informational,1460,5900,ReverseProxy.ForwardRequestErrorRetrying,75f1fd71-4cc6-4078-bd69-d25bb3e106ef Forwarding request to service failed, retrying with re-resolve: phase = SendRequestHeaders, error = 3489661157, internal error = ERROR_WINHTTP_CANNOT_CONNECT`

`2018-2-12 11:48:04.601,Warning,906

[2018-02-12 13:44] dealboy opened #846 "Chaos Test on ASF standalone cluster and unresposibe application"
Hi,

we have a .net application running as guest executable in our cluster.
We expose that application using ReverseProxy.

While doing a basic load test we initiate in parallel a chaos test.

Then we get Warning messages on the nodes like

and the application becomes unresponsive from ReverseProxy.
Also, we wait for the app to recover but never does.

How can we ensure that the application dies i

[2018-02-12 14:29] FesterCluck commented on #421
@kavyako @alecor191 the AppGateway team is aware of the issue, and has a few bugs open on the matter. From their response I concluded an implementation supporting permessage-deflate was unlikely. Is this still the case? It was regarding routing.

[2018-02-12 17:51] oanapl commented on #812
@codepic, I will close the issue since you are unblocked. As @ravipal explained, you can stop on first error and investigate, as continuing will cause other errors.

[2018-02-12 17:51] #812 closed

[2018-02-12 18:13] hkuizenga commented on #800
We used the latest client binaries and the problem went away.  For future versions, it would be much better if old binaries either installed the older cluster version or simply errored out, rather that producing an improperly configured cluster.

[2018-02-12 18:29] rakshitatandon commented on #800
Thanks for your feedback @hkuizenga

[2018-02-12 18:29] #800 closed

[2018-02-12 19:00] BinWuMSFT commented on #837
@ImKator It seems that you are planning to do an upgrade. You will need to select "Override All Publish Profile Upgrade Settings" and then select "Upgrade the Application" to do a upgrade. Otherwise, it will be a new deployment. Diff package is used only for upgrade.

[2018-02-12 20:33] AceHack opened #847 "How to encrypt docker compose environement variables"
I'm trying to set connection strings from VSTS into docker compose environment variables and/or secrets but I cannot find a way to do it.  I could also be convinced to use app manifests instead of compose for containers as well but I can't find a way to encrypt connection strings either.  I'm fine if they are unencrypted in environment variables inside of the container itself, I just want them to

[2018-02-12 22:43] olivergrimes commented on #813
Removing the local cluster isn't helping for me.  Also tried editing the FabricSettings in resource explorer as described above.  Hopefully it will magically work tomorrow like it did for others.

[2018-02-12 22:48] ImKator commented on #837
I am pleased to say this release did succeed, but I am not sure why I needed to make these changes to the release definition.   This was the original definition that worked for months prior to the latest runtime version.  The following worked.

![image](https://user-images.githubusercontent.com/32180064/36124128-2953274c-100c-11e8-9e26-84ae4aa8c384.png)

[2018-02-12 22:56] BinWuMSFT commented on #837
@ImKator If you did not select "Upgrade the Application" nor specify an "Upgrade" operation in you publish profile. Your deployment is always a new deployment not a upgrade. It will unregister the ApplicationType, copy all your service package to the cluster even if some of them are not changed and then reregister the ApplicationType. It also works but in a completely different way than Upgrade.

[2018-02-12 23:09] ImKator commented on #837
Thanks all, I really appreciate the responses.   I will continue to monitor our releases.

[2018-02-12 23:10] #837 closed

[2018-02-12 23:31] dbreshears commented on #835
@rexwhitten ,  Can you launch another instance of VS 2017, Debug Attach to Process... and attach to the other instance of VS 2017, then trigger the crash .  Under the Debug menu select "Save Dump As...." and then share this .dmp file.    My only other suggestion at this point would be to try to repair the VS 2017 installation.

[2018-02-13 00:51] masnider commented on #843
Thanks for letting us know! Adding Devin and Ravi.

[2018-02-13 00:52] masnider commented on #845
Adding Kavya for RP question and Deep for diagnostics.

[2018-02-13 00:58] masnider commented on #847
Adding Bharat. Should be possible, there's a good tutorial [here](https://github.com/paolosalvatori/service-fabric-acs-kubernetes-multi-container-app). AFAIK all you need is the environment: tag in your compose.

I would go with the application manifest parameters -> environment variables mechanism myself, but either should work.

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabri

[2018-02-13 01:00] dbreshears commented on #823
@Confuset,  thanks for the feedback and while a valid scenario, it could be tricky to implement.    I'll add this to the list of items we need to investigate.   While I don't want to change default bahavir, one option might be to have a project property in order to not symlink the config folder and then you would just need to re-package/deploy if you made a config change, which I assume doesn't oc

[2018-02-13 01:15] #288 closed

[2018-02-13 01:28] dbreshears commented on #843
Thanks.  We have seen this in 15.6 Preview builds.   VS added some additional performance checks for extensions recently.   For our extension, we have seen it primarily occur after service project creation,  which we would expect to take a few seconds( or more in the case of asp.net core )  while the extension awaits the project creation.   We should have this fixed by the time 15.6 ships.

[2018-02-13 01:28] #843 closed

[2018-02-13 09:33] aloneguid opened #848 "Stateful Service won't start in 6.1.456"
I've upgraded to Service Fabric 6.1.456, running in onebox scenario and .NET Core 2.0. Creating a stateful service and running it without any modifications won't succeed:

![image](https://user-images.githubusercontent.com/3155189/36142709-ca1da686-10a0-11e8-82ee-f54c5f89470d.png)

There are no errors to be seen anywhere else, ETW only shows that the service will try to start in a loop:

![image](

[2018-02-13 09:35] raunakpandya commented on #848
Can you please share the cluster logs?

[2018-02-13 09:38] raunakpandya commented on #841
Any updates here? What was the .NET Core runtime version you are using?

[2018-02-13 09:41] aloneguid commented on #848
@raunakpandya happy to do that, could you please point me how to collect cluster logs from onebox?

[2018-02-13 10:01] HimanshuNimawat opened #849 "Unable to change open service manager handle because 5"
Unable to change open service manager handle because 5
Unable to query service configuration because System.InvalidOperationException: Unable to change open service manager handle because 5
   at System.Fabric.FabricDeployer.FabricDeployerServiceController.GetServiceStartupType(String machineName, String serviceName)
Querying remote registry service on machine 192.168.5.131 resulted in exception:

[2018-02-13 10:03] SndrSchnklshk commented on #761
After I added the DataMember attributes I had suddenly (i expect it's related to the change in the dictionary) lots of issue to get the application running again. It kept saying "InQuorumLoss" and even after updates (force restarts, or version number changes) I couldn't start the guys. Why is that?!

This morning I deleted the application and removed the application type, republished and it runs s

[2018-02-13 10:08] HimanshuNimawat commented on #849
I downloaded the sample standalone package from microsoft docs.....then enable other laptops remote registry services and then edited the unsecure.multimachine file in package....in that i just changed the ip address of other laptops....and then getting this error

[2018-02-13 11:00] Marusyk commented on #848
Hello, I have the same problem.

[2018-02-13 11:12] aloneguid commented on #848
@Marusyk same here, stateless work flawlessly so far.

[2018-02-13 11:45] nrandell commented on #848
Try adding the following the either the csproj file or Directory.Build.props in the solution directory.

[code]
There appears to be an issue that is fixed in 2.0.5

[2018-02-13 12:14] aloneguid commented on #848
@nrandell adding this has fixed the issue, brilliant!

[2018-02-13 12:26] nrandell commented on #848
@aloneguid  I'm not sure why - issue #643 is where it was originally raised and has been pen for some time! I'm sure it's on track to be fixed at some stage!

[2018-02-13 12:52] Vololodia commented on #274
The problem described by @SergiiKliebanov still exists. Also I can say that the problem appears not only when square brackets contains in query-params, but also when there are brackets in url path.

So for example, if my app was deployed via service fabric both urls ends up in error:
400 FABRIC_E_INVALID_ADDRESS

http://localhost:someport/myApp/books/getById/qw[er]ty
http://localhost:someport/myAp

[2018-02-13 13:25] ajeetcoolkarni commented on #508
Facing exactly same issue as gsoulavy, with Runtime version 6.1.456 and VS 2015 with update 3 on windows 7 machine.

[2018-02-13 13:25] raunakpandya opened #850 "Microsoft.ServiceFabric.Services.Runtime.StatefulService constructor take in IReliableStateManagerReplica2 object"
In SF SDK v2.8 and v3.0 the constructor of class Microsoft.ServiceFabric.Services.Runtime.StatefulService taken in IReliableStateManagerReplica2 object. Earlier it was IReliableStateManagerReplica type.

[2018-02-13 13:41] #849 closed

[2018-02-13 13:55] aloneguid commented on #848
Closing as seems to be a duplicate of #643

[2018-02-13 13:55] #848 closed

[2018-02-13 15:04] Sweiii opened #851 "Node down, primary replica not switching."
Hi,

I'm testing my service fabric cluster environment. It consists of 3 vms and i have two applications i'm testing.

I tried to shut down a node to see that it would failover but the primary replica is marked as Down adn the secondary is on standby.

Can i get som claification on why the secondary replica won't get the status Ready or get the primary role?

Thanks in advance for your help.

*On

[2018-02-13 16:02] LSTANCZYK opened #852 "HTTP Gateway - GZIP"
Is it possible to enable GZIP compression on the HTTP gateway level? I would like to avoid re-writing all of my services to enable it, also in some instances of wrapping executable I have no option of enabling compression.

I think it would be nice to have it set on the cluster manifest level just the way that authentication can be done this way. # #

[2018-02-13 16:08] pflynnexedal commented on #832
Any luck on this? We're experiencing the same issue.

[2018-02-13 16:21] dbreshears commented on #844
Looks like a bug in our MSBuild task that we will fix where it had some platform specific code.     FWIW,  we haven't  tested the VS tooling / MSBuild tasks on Linux yet so you are working in a bit of uncharted territory.

[2018-02-13 16:25] LSTANCZYK commented on #852
By HTTP gateway i mean the reverse proxy

[2018-02-13 16:46] dbreshears commented on #840
@ravindraaditya ,  can you export your build definition from VSTS and attach the json.

[2018-02-13 17:55] NCarlsonMSFT commented on #840
The package is available on nuget.org: https://www.nuget.org/packages/Microsoft.VisualStudio.Azure.Fabric.MSBuild/1.6.4
What does your nuget restore task in VSTS look like? Are you using NuGet.org?
![image](https://user-images.githubusercontent.com/14239288/36165272-d5055bae-10a3-11e8-8e2a-c33167924467.png)

[2018-02-13 18:30] dbreshears commented on #788
@keggster101020 ,  you could be  hitting a regression we discovered in the packaging logic of our Microsoft.VisualStudio.Azure.Fabric.MSBuild.1.6.4 Nuget package.      Can you check what the default platform configuration is in the service projects.     In builds after 1.6.2 we are using the default platform specified in the service project rather than the platform specified in the Solution build

[2018-02-13 18:44] rakshitatandon commented on #832
#800

[2018-02-13 18:50] keggster101020 commented on #788
@dbreshears this was the case, I didn't notice the change as I had changed it awhile back! I have updated my `.csproj` files so in the future they default to x64.

Thanks for the help!

[2018-02-13 18:53] zuhairp commented on #761
Just to clarify, after re-creating the application, are you able to see your values correctly?

[2018-02-13 19:37] dbreshears commented on #788
Great. thanks for confirming.   We are looking into a fix for this.

[2018-02-13 22:10] ravindraaditya commented on #841
Hi @raunakpandya ,

As said, I attempted to do repair VS2017 as well as reinstalling Service Fabric SDK.

While reinstalling Service Fabric SDK i faced issue with `ese.dll` file located in

For this what i did was killed the `Docker.Service` which is running in random port.

After re-installation completely some how successfully.

Now, I'm facing the following errors:

Then, What i did was I stopp

[2018-02-13 22:38] ravindraaditya commented on #840
@dbreshears here is the file [xyz-CI.zip](https://github.com/Azure/service-fabric-issues/files/1721953/xyz-CI.zip)

@NCarlsonMSFT yes you are right, we have already done this before.

I think what is missing was restoring of nuget packages for `.sfproj`

[2018-02-14 00:54] dbreshears commented on #819
@burgonb,   one way to workaround this is to right click on the Actor and Actor.Interfaces projects and select "edit actor1.csproj".    Then add the following line below.  You might find an entry all ready that has Platforms (plural), you can remove it but I didn't find it caused an issue if it is there.  The problem is it has both "AnyCPU;x64" which causes the issue.

`<Platform>x64</Platform>`

[2018-02-14 00:55] brandmo opened #853 "Question - Is Compose Deploy production ready yet?"
Hi there, the Compose Deploy VSTS build task lost it's preview badge with the v6 update (and was affected by some breaking changes) but the documentation hasn't.

Is it considered to be stable and usable in a production environment?

[2018-02-14 05:30] nahmed01 commented on #832
when you have multiple machines in the cluster, it can pick any machine as a source (not necessarily the one you are running the create cluster from).In my case the machine it was picking didn't have the correct binaries, after downloading correct binaries to that machine (in fact the easiest is to install it on each machine) it worked.
Thanks Rakshita for pointing that out

[2018-02-14 05:30] #832 closed

[2018-02-14 07:41] esbenbach opened #854 "Request: Attaching debugger to specific instance"
On the rare occasion when we need to attach the debugger to a SF application/service, the only option we have is to attach to all instances of that .exe
It would be nice to be able to attach to just a specific instance/replica - currently we just attach to all processes of that type regardless of version or instance, which is rather cumbersome with many different deployments of the same service.

[2018-02-14 07:53] baspoldervaart commented on #813
I can confirm removing the Local Cluster works for me.
I was deploying from my DEV machine with VS2017 to on-premise Azure Service Fabric v3.x.

[2018-02-14 08:01] aloneguid opened #855 "Enumerating headers"
I'm not quite sure why this interface doesn't expose a way to enumerate headers, this is something obvious I need to do:

[code]

Service Fabric default implementation uses a dictionary internally, therefore we should be able to expose it? Decompiled code:

[code]

[2018-02-14 08:05] SndrSchnklshk commented on #761
@zuhairp uh, no I just discoved that one node (out of the 5) is stuck on disabled. And the roles keep changing... so, I dont have a clear picture right now, but I will get back here :)

That looks like the I have the same issue as: https://github.com/Azure/service-fabric-issues/issues/436

[2018-02-14 09:23] eaglo commented on #796
sorry to comment here but maybe my problem is related. i also switched to the latest service fabric version and deployed a test cluster in azure (also 3 nodes). my dns service showed a warning about an unhealthy partition ... since waiting didn't seem to help i rebooted the corresponding VM ... afterwards the service was gone and app insights only stated that the Dns Service was removed. Could thi

[2018-02-14 10:19] nineralpha opened #856 "How to pass data to guest executable at runtime?"
I have a stateless service that spin up a new guest executable on demand.I need to pass some data at service creation time to guest executable.
How can i do that??

[2018-02-14 10:41] #851 closed

[2018-02-14 11:53] lucamazzanti commented on #803
Same issue, now i will create a node without the default Service Fabric Local Cluster Manager preset, but with the samples available [here](https://docs.microsoft.com/it-it/azure/service-fabric/service-fabric-cluster-manifest). So the issue comes out from ICS, that uses 0.0.0.0:53. Who is launching it manually? I disabled it with services, regedit, but invain. I think it is Hyper-V. I didnt had th

[2018-02-14 13:27] jeffjft commented on #447
I tried the following, unsuccesffully :
* Update MSVS 17 / SDK
* fine tune Xml files
* switch visual studio language to enlgish

[2018-02-14 18:23] Eneuman commented on #270
This issue still exists when deploying from VSTS.
Is the tooling on the build clients in VSTS updated ?

[code]

[2018-02-14 22:27] NNara opened #857 "Could not copy the file..because it was not found Microsoft.VisualStudio.Azure.Fabric.MSBuild.1.6.4\build\Microsoft.VisualStudio.Azure.Fabric.Application.targets"
I have the latest version of SDK and VS 2017 update.

I am trying to package/deploy from VS2017 and it fails with the error -

Error | MSB3030 | Could not copy the   file "C:\Users\XXXXXXXXXXX\SFApplication2\Application2\Stateless4.exe.config"   because it was not found. | Application2 | C:\Users\XXXXX\SFApplication1\packages\Microsoft.VisualStudio.Azure.Fabric.MSBuild.1.6.4\build\Microsoft.Visual

[2018-02-15 07:04] Adebeer opened #858 "VSTS - Useful Error Messages due to failed Manifest file validation error"
I've created a new Service Fabric application - deploys just fine from VS Studio, but when deploying to the exact same environment via VSTS I get the following error (even after adding system.debug=true)

`2018-02-15T05:17:28.5375432Z ##[error]Test-ServiceFabricApplicationPackage : Exception while parsing XML file:
C:\vsts-agent\_work\_temp\TestApplicationPackage_36283474148607\3hiblyny.r01\applic

[2018-02-15 07:54] rasmus-s commented on #590
I'm worried that your postponement will give us problems, because it's getting longer and longer between our SDK version and Runtime version. We need to follow the updates due to end-of-support data (https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-support). And at some point the old SDK version will fails due lack of testing with the latest runtime, and MS support will tell us

[2018-02-15 08:19] denisprsa opened #859 "There was an error during download."
I am facing issue when deploying guest executable on service fabric, it throws error message "There was an error during download." and nothing else. I can't find any logs on node instance which would tell me what's wrong with image.

code.zip is 30MB in size.

**Image structure:**
[code]

**ApplicationManifest**:
[code]
**ServiceManifest**:
[code]

![capture](https://user-images.githubusercontent.

[2018-02-15 09:23] cmpcdaly commented on #614
So this just happened again on our staging cluster - the upgrade failed due to the following error:

"Message": "Exception of type 'System.OutOfMemoryException' was thrown.",

And we can't delete the application now, services are just stuck in an 'Unknown' state.

[2018-02-15 11:19] ajeetcoolkarni opened #860 "Unable to create/start local cluster on Windows 7 machine"
We have windows 7 with VS 2015 Update 3 and **Service Fabric Runtime 6.1.456.9494** installed along with **Service Fabric SDK 3.0.456**. There are no errors while installing either the runtime or sdk, but still while setting up local cluster it fails with following errors, and this is happening in all the machines we are using.

**2>WARNING: Service Fabric Cluster is taking longer than expected to

[2018-02-15 11:35] #627 closed

[2018-02-15 13:49] jonnovaretti commented on #782
@jetmaxim, sorry to answer so late. Actually, it has worked partially, so I gave up and changed the service to Reliable Statelles, because in my case I just have to schedule a service and I do not use all resources of Actor Model.

I recently found this package ServiceFabric.Actors.Serilog, maybe it can help you

[2018-02-15 16:19] ushasm opened #861 "Unable to connect to azure service fabric cluster linux"
Hi Team,

I am trying to connect to azure fabric cluster (linux) but I always gets this error. The  https://jenkinscluster.westeurope.cloudapp.azure.com:19080/Explorer works through browser with same certificate but it fails when I try to connect it through my terminal with same certificate.

sfctl cluster select --endpoint https://jenkinscluster.westeurope.cloudapp.azure.com:19080/Explorer  --pem

[2018-02-15 18:38] iandrennan commented on #772
We've been working with On-Prem for quite some time and our production systems are having this exact same issue (even after staying up to date with the releases).  We are stuck until we can get this resolved.   Rebuilding our entire prod cluster isn't really a viable option.

[2018-02-15 18:51] milvuko commented on #796
@eaglo, I don't think it is related. The clash mentioned in this thread happens only on OneBox (dev environment), not real clusters. I can take a look at the problem if you can share cluster's resource ID and region with me.

[2018-02-15 19:03] eaglo commented on #796
hey thanks, that would be great. the region is eu-west, the cluster id is

 and the resource id of the cluster is

[2018-02-15 20:26] milvuko commented on #796
Cluster manifest doesn't have the DnsService section, in order for DnsService to be enabled, the cluster manifest has to have the following:
[code]
I can see that a upgrade was performed on Tue, 13 Feb 2018 20:02:36 GMT
This is probably when the DnsService section was removed. Note that we are currently investigating a bug where portal removes DnsService section (among other things) from the manif

[2018-02-15 21:19] mani-ramaswamy commented on #796
The fix to the bug has been rolled out already (which removed the DNSService when upgraded through the portal).

[2018-02-15 21:47] eaglo commented on #796
hi thanks for the help, really appreciated!

so i tried following the description, set the the explorer to read/write and added a new section in the fabricSettings like
[code]
but unfortunately the ressource explorer didn't really change the configuration. it showed a green mark but did not add the new section :/

[2018-02-15 22:47] infact commented on #765
facing same error :   Error event: SourceId='System.Hosting', Property='Activation:1.0:1.0'.
There was an error during activation

[2018-02-16 01:25] Adebeer commented on #858
Ok, so I still have a problem. After following instructions to configure different ports [https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-service-manifest-resources#overriding-endpoints-in-servicemanifestxml](url)
I get the following vague information:

`
2018-02-16T01:01:31.1169669Z Calling Publish-NewServiceFabricApplication...
2018-02-16T01:01:34.1171393Z Test-ServiceFabric

[2018-02-16 07:01] Adebeer commented on #858
Fixed validation issue by installing latest Service Fabric SDK on the VSTS agent (3.0.456.9494)

That said - can we improve on the error handling please? It's not very developer friendly...  :~(

[2018-02-16 11:58] denisprsa commented on #859
I found that if i delete folder generated by mocha " ts-node-b04239ff3a39df9137e32efd559f1a2935cb", then compress  and deploy code this error disappears.

Hope this helps someone.

[2018-02-16 11:58] #859 closed

[2018-02-16 16:32] rexwhitten commented on #835
Tracking this down in event viewer I was able to find that my organizations ForcePoint client was blocking downloads that occur during the new Service Fabric project setup.  Nuget packages were properly downloading however.

We can allow the downlaods from microsoft's vortex site, however inquiring minds want to know what is being downloaded from the internet while creating a new Service Fabric Pr

[2018-02-16 18:26] rakshitatandon commented on #772
@iandrennan Could you explain what issue you are facing ? Is the node down after you initiated the upgrade ? Did the upgrade complete ? Is the node in Unknown state ?

[2018-02-17 00:54] mwfussell commented on #858
Adebeer
Thanks for reporting this and agree that the error needs improving here. We are working with the VSTS team on this. Currently when new releases of Service Fabric go out, the VSTS build agent needs updating and we are trying to reduce this time and eliminate this altogether.

[2018-02-17 23:07] fdkdervis commented on #829
I have the same problem, failed because it can't donwload the image from the private registry. Is there a way to specify the login also ?

[2018-02-18 04:19] marvinvperez commented on #833
Hi @amanbha, thanks for opening up an issue regarding UserPasswordCredential though seems no progress. However, as I've mentioned in this issue I'm also open to using interactive AD authentication where users are redirected to a microsoft login page. Those two screenshots above are an attempt to do that but I'm getting those errors both in .net full framework or dotnet core. Can you check how can

[2018-02-18 04:22] AceHack commented on #847
@masnider I see alternatives to using docker secrets but I don't see any way to use docker secrets directly or environment variables.  I see non-docker ways of using Key Vault along with having .NET core call into Key Vault but what I'm looking for is a way for inside the container to know nothing about how the secret got into the container environment variable and require no special libraries or

[2018-02-18 11:31] plkt commented on #858
Thanks Adebeer for reaching out.
We have taken a note of this, we are investing towards improving VSTS tasks for service fabric in general. Will incorporate this feedback as well.
Also, was wondering if you have sometime to get on a quick call. Would love to hear from you any other feedback you have, anything we can do to make this task more useful.

Regards,
Pulkit.

[2018-02-18 12:10] pulkitaggarwl commented on #858
Thanks Adebeer for reaching out.
We have taken a note of this, we are investing towards improving VSTS tasks for service fabric in general. Will incorporate this feedback as well.
Also, was wondering if you have sometime to get on a quick call. Would love to hear from you any other feedback you have, anything we can do to make this task more useful.

Regards,
Pulkit.

[2018-02-19 00:51] Adebeer commented on #858
Thanks @mwfussell and @pulkitaggarwl for taking this on board - greatly appreciated.

@pulkitaggarwl: Feel free to reach out to me via email to get my contact details - happy to do the call

[2018-02-19 08:19] helgemahrt commented on #629
@dkkapur - sorry for the delay. To recuperate the cluster, I had to RDP into each node of the cluster and manually edit the ClusterManifest.current.xml and InfrastructureManifest.xml files, removing the references to the problematic node manually. Only then did the SF Explorer start working again, and I was able to add a new node to the cluster.

[2018-02-19 09:13] am11 commented on #398
This one is hitting us as well. In VSTS-task repo they have added `RegisterPackageTimeoutSec` in those scripts (e.g. [Microsoft/vsts-tasks/Tasks/ServiceFabricDeploy/ServiceFabricSDK/Publish-NewServiceFabricApplication.ps1#L97](https://github.com/Microsoft/vsts-tasks/blob/9e119331e/Tasks/ServiceFabricDeploy/ServiceFabricSDK/Publish-NewServiceFabricApplication.ps1#L97)). I wired it up in our deploy

[2018-02-19 14:44] goochjs opened #862 "Azure Service Fabric Cluster won't start."
Hi,

I'm creating a set of AzureRM scripts to deploy a Service Fabric cluster.  The VM scale set creates successfully but the Service Fabric software fails to install.

From the Windows Event Viewer, I can see a number of warnings and errors.  Here's an example:-

It then seems to loop around trying to install the software before getting stuck into a repeating set of errors:-

I can also see a num

[2018-02-19 15:51] wasabii commented on #496
On 6.1. Still having the issue. My NICs are DHCP.

[2018-02-19 17:46] IgorYastrebov commented on #496
pls re-open this issue. 6.1 SDK the issue is there!
laptop, several net connections. Reproduced when I leave 1 connection only.
And now, the issue become even worse than in 6.0 - limit LAN connections and resetting local cluster not help :(

[2018-02-20 00:33] xunlu commented on #856
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-deploy-existing-app#overview-of-application-and-service-manifest-files

Have you read this?

[2018-02-20 01:05] rishirsinha commented on #860
Please reinstall VC 11 and VC 15 both.

[2018-02-20 04:22] brandmo opened #863 "Old Docker container deployed with compose deploy"
Hi there,

I have a docker compose app. Service fabric is pulling the wrong/old version of my container whenever I deploy it.

I was using the Build, Push and Lock VSTS build steps, but in order to use the reverse proxy I need to specify my own docker-compose file that is invalid by docker standards and include the following ports: - "80:80/http" and leave out the Lock step.

When using the Lock c

[2018-02-20 06:50] nineralpha commented on #606
@RajeetN so when does SF marks a guest service as ready? like when the code package is copied successfully or something similar??

[2018-02-20 08:38] assafisr commented on #813
Another workaround that worked for me is to edit locally (deploying machine) this file:
"C:\SfDevCluster\Data\FabricHostSettings.xml"

Search for the _MaxMessageSize_ setting under the _NamingService_ section and change it to 4MB:
[code]
No need to restart anything, just deploy.

[2018-02-20 08:49] ushasm commented on #861
Tried using --no-verify and also the endpoint but the result is same :(
I am using a self signed certificate to authenticate.

[2018-02-20 10:02] jmprieur commented on #833
Here are the flows you should use in a Web App: [Confidential application flows](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Confidential-client-applications-flows) (that is Web Apps, Web Apis and daemon/service applications). Username/password is really for desktop apps.
Please tell me if you need help moving to one of these flows.

[2018-02-20 10:58] SndrSchnklshk commented on #761
I've contacted the support team and the PG is investigating my 'node-stays-disabled' issue. Once everything is back online I can see how my reliable dictionary runs.

[2018-02-20 12:22] ezuidema commented on #813
I've a strong feeling that this issue also affects upgrades done with Visual Studio. I did an upgrade, after removing the local cluster, but now the Azure Cluster is stuck in the process of upgrading the application. It has been there for hours and the application isn't very big, ~100MB.

It has no failures, no way of cancelling, it is just stuck in upgrading since: Tue, 20 Feb 2018 09:37:19 GMT

[2018-02-20 12:57] goodisontoffee opened #864 "(Full Fat) Stateful Service reports System.IO.FileSystem.AccessControl is missing following upgrade to using PackageReferences"
Struggling with a strange issue which is causing us some headaches.

Here is a really simple repo to demonstrate the issue: https://github.com/goodisontoffee/service-fabric-publishing-issues

If you clone this repo, open VS2017, and Start with Debugging then you'll find that the service comes up correctly and reports and healthy. Without changing anything if you instead decide to Publish the appli

[2018-02-20 14:23] AndrewJWaite opened #865 "Question - Azure Application Gateway with Service Fabric"
Hi,

We have provisioned a secure (AAD) Azure Service Fabric cluster with three VMSS, provisioned into different subnets within the same Virtual Network.
- Management
- Public
- Private

We have multiple internet facing services deployed to the Public VMSS (13 and growing - not deployed to all nodes), we also have multiple private services deployed to the Private VMSS (again, not deployed to all n

[2018-02-20 16:30] oacsed commented on #255
As stated in the latest release (6.1, see https://blogs.msdn.microsoft.com/azureservicefabric/2018/01/26/service-fabric-6-1-release/), "_In this release, .NET Core 2.0 services are only supported on Service Fabric for Windows. Full cross-platform support for .NET Core 2.0 services on Windows and Linux is coming soon._."

Any ETA for full cross-platform support?

[2018-02-20 16:42] mani-ramaswamy commented on #255
Should be in the next couple of months.

[2018-02-20 17:54] RajeetN commented on #606
Currently SF marks the guest service as ready when starting the guest exe after copying.

[2018-02-20 18:58] oanapl commented on #813
@ezuidema , yours is probably different, please open another issue so we can address that appropriately.

Update on the status of the original issue: Last week we started to deploy the config change that updates the clusters' MaxMessageSize to 10MB. This was meant as a mitigation for this issue, and not a permanent solution. We decided to cancel this deployment, as we have a new build available th

[2018-02-20 19:38] rbeauchamp commented on #301
Seeing this today in our South Central US deployment:

Error event: SourceId='UpgradeService.Primary', Property='SFRPStreamChannel'.
Exception encountered: System.IO.IOException: Unable to read data from the transport connection: An existing connection was forcibly closed by the remote host. ---> System.Net.Sockets.SocketException: An existing connection was forcibly closed by the remote host
   a

[2018-02-20 19:41] ezuidema opened #866 "Rolling upgrade published through VS or through CI/CD on VSTS does not complete"
I did an upgrade, after removing the local cluster (issue [#813](https://github.com/Azure/service-fabric-issues/issues/813)) but now the Azure Cluster is stuck in the process of upgrading the application. It has been there for hours and the application isn't very big, ~100MB.

It has no failures, no way of cancelling, it is just stuck in upgrading since: Tue, 20 Feb 2018 09:37:19 GMT

More info:
!

[2018-02-20 21:43] spottedmahn commented on #496
6.1 fixed it for me, thanks!

![image](https://user-images.githubusercontent.com/14079228/36450830-3a3449cc-165d-11e8-89e2-a17d34406b53.png)

[2018-02-20 23:30] JunRamoneda commented on #813
Removing local cluster was the workaround that I used before deploying. Lately, I was able to deploy to a stand-alone cluster without first removing the local cluster. I am not sure what changed but deploy/publish seems to be working properly

[2018-02-20 23:52] framgeld opened #867 "Multiple issues with WCF communications to stateful service"
Hi,

Any assistance that anyone can provide on this will be VERY gratefully appreciated.

The issues I am experiencing are as follows (all on the dev cluster, 5 node mode), using the latest stable release of the Service Fabric NuGet packages (everything is Revision 456), and I have a feeling that they are all related (hence a single issue reported):

1. I must "yield" my custom WCF listener first

[2018-02-21 01:11] oanapl commented on #866
The screenshot you provided shows that the upgrade is stuck on safety check. The partition will lose availability if we bring down the node. The upgrade waits for replica set check timeout (which is by default set to a huge value) before bringing the replica down. Check [upgrade params](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-upgrade-parameters) for Upgrade

[2018-02-21 01:46] framgeld commented on #867
Further the to the issues above, I changed my dev cluster to run in single node mode to see what happens. My stateful service does not crash, and Service Fabric shows no errors or warnings. In addition, the WCF listener and the ServiceProxy listener remain responsive and function as expected.

When I switch it back to 5-node mode, as soon as I call the WCF service the first time, the following war

[2018-02-21 01:58] amanbha commented on #825
Closing as per discussion with @keggster101020 as it seems to be a corrupt VS install.

[2018-02-21 01:58] #825 closed

[2018-02-21 09:26] marvinvperez commented on #833
Hi @jmprieur and @amanbha, It's really okay to us not using username/password and in fact it is preferred. But I'm not really sure if you and me can figure out solution this without the service fabric team to try and help out by providing example for asp.net (.net core). [On Behalf Of](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki) seems a good option for us. I can get t

[2018-02-21 11:25] rikbosch opened #868 "SF Reverse Proxy overrides X-Forwarded-Proto header"
Hi,

We're experiencing an issue with the Service Fabric Reverse Proxy.

Our current setup is like this:

1. https terminating azure app-service, with url-rewrite rules to internal SF http reverse proxy
2. SF http proxy
3. stateless aspnet core http web api

We're setting the X-Forwarded-Proto header in (1) to 'https', but the SF reverse proxy overrides the header with value 'http'.

The SF revers

[2018-02-21 11:37] Dan-cws opened #869 "Cluster provisioning failed after adding a secondary certificate"
I deployed a single node Service Fabric cluster by the portal. After I modified the downloaded template following this instructions https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-security-update-certs-azure, but the result is "Cluster provisioning failed".
The main error is the following.

[code]

Then I deleted the cluster and redeployed with the secondary certificat

[2018-02-21 11:40] dealboy commented on #845
Hi @masnider , @dkkapur

any updates on that?

Can we tune ReverseProxy timeout values?
Can we enable similar diagnostic logging in (for example) ELK ?

kind regards
Yannis

[2018-02-21 11:45] dealboy commented on #846
hi @masnider , @amanbha , @motanv

do you have any updates on that?

Our core questions are:
How can we configure SF to kill/end an application without waiting for timeouts?
What is the root cause of getting error "Mapper already initialized. You must call Initialize once per application domain/process" when doing the chaos test?
Is it that the application is not killed ?

kind regards
Yannis

[2018-02-21 14:23] Abdruggi opened #870 "Microsoft Azure Service Fabric Data Collection Agent is eating up the entire processor"
Clustertype: Standalone
Version: 6.1.456.9494

Every time after patching the OS, upgrading SF or just the configuration the Microsoft Azure Service Fabric Data Collection Agent is eating up the entire processor on some of our nodes. Because of that, sf is not able to successfully activate containers and the cluster goes totally crazy. Moving around containers without any luck. Is that an expected

[2018-02-21 14:40] eliasnawfal commented on #819
@dbreshears Thank you for the workaround, it happens only in Release for me

[2018-02-21 16:16] Abdruggi opened #871 "HandlerAsyncOperation EndProcessReverseProxyRequest failed"
Clustertype: Standalone
Version: 6.1.456.9494

The service fabric admin event log is full of message like this:

`
4fef3308-f73a-4511-90e9-48e2b1d606d3 HandlerAsyncOperation EndProcessReverseProxyRequest failed with 3489660929
`

Any idea?

[2018-02-21 16:25] Dan-cws commented on #869
Update. The cluster stays with the unhealty node with code PendingClusterUpgradeCannotBeInterrupted. The issue is the same as https://stackoverflow.com/questions/44392399/service-fabric-cluster-provisioning-fail-after-add-secondary-certificate-through

After several attempts I am not able to deploy a secondary certificate in an existing cluster (only from scratch)
This is the result of the deploym

[2018-02-21 16:29] spottedmahn commented on #635
TIL: I can change my taskbar shortcut to always open VS under admin context.

![image](https://user-images.githubusercontent.com/14079228/36492156-75bffcc8-16fa-11e8-82d3-985ace66a2af.png)

[2018-02-21 17:16] Abdruggi commented on #811
@tugup the reorg job was faster than me. because the problem did not occur again, i am going to close the issue for now.

[2018-02-21 17:16] #811 closed

[2018-02-21 17:44] iandrennan commented on #772
The nodes are uninstalled (if I log in to each of them SF is gone as expected) but the Dashboard shows the removed 5 nodes as in "Invalid" state with a ? next to them.

[2018-02-21 18:29] ravipal commented on #864
If \<PackageReference\> is used in full framework project and the package contains two different assemblies one from ref and another from lib, then the package will incorrectly include the assembly from lib folder. As a result the application will fail to load the assembly. Please use \<PackageReference\> only for core projects or sdk style project.

If \<PackageReference\> must be used on full fr

[2018-02-21 18:29] #864 closed

[2018-02-21 19:15] rakshitatandon commented on #772
@iandrennan This could happen if the node was removed out-of-band without the upgrade successfully completing. In the internal cluster manifest files you should still be able to see these nodes (even though they were actually deleted). Could you explain the exact set of commands that were used ?
You can raise a ticket with us since we'd most likely need access to the logs to help mitigate the issu

[2018-02-21 20:30] burgonb commented on #819
Thank you for the workaround.  We will try it out.

[2018-02-21 21:30] olivergrimes commented on #813
It was working for a while after removing the cluster and then restarting VS but now it's stopped again.  Any update on when this will be resolved?

[2018-02-21 22:50] jrance commented on #860
I am facing the exact same issue. I have reinstalled all the VC packages, reinstalled SF tools and SDK, and I've even reinstalled Visual Studio 2017 with no luck.

Version 6.1.467.9494 just got released so I was hoping that would fix the issue but I'm getting the same errors. I am dead in the water until I get this resolved.

It looks like others on Windows 7 machines are facing the same issue acc

[2018-02-21 23:05] jrance commented on #860
Some additional information. My sfdevcluster folder contains a number of dump files in the CrashDumps folder. When I open them up in VS, I see the following exception.

In the ArchivedTraces folder, there are a number of fabricdeployer traces with the following exception in them.

[2018-02-22 00:15] MikkelHegn opened #872 "NTLM user names generation for accounts created for image store service cannot be consumed by Windows."
When users configure FileStoreService (used by ImageStoreService) with common names, Service Fabric generates NTLM accounts to be able to authenticate SMB shared between nodes in the cluster.
The generated account could have Unicode characters in the account names. These names can't be correctly consumed by Windows in some very rare cases, so the image store operations are impacted.

[2018-02-22 00:16] MikkelHegn commented on #872
With the 6.1.467 release of Service Fabric for Windows, we changed the algorithm that creates NTLM user accounts to include only user-readable characters.

In order to ensure that image store operations are not impacted during upgrades, both the previous account names and the new account names are generated. To disabled generation of the previous account names, you can use a cluster config upgrade

[2018-02-22 00:16] #872 closed

[2018-02-22 06:48] novino commented on #671
Closing the issue as there is no response from @dealboy in a while

[2018-02-22 06:48] #671 closed

[2018-02-22 07:32] GreatCthulhu commented on #712
I have the same error, exactly.
Any news on this?

[2018-02-22 08:41] SndrSchnklshk commented on #761
Yes, the PG team fixed my 'node-stays-disabled' issue and my application and nodes run again!

@zuhairp: The dictionary is still there (for 4 hours) but it's still hard to say if the dictionary remains but the role keeps changing all the time!

The problem is that my roles keep swapping... from primary to secondary (approx every 15 minutes).
I checked the logs and I noticed an error -_which I have

[2018-02-22 09:50] goodisontoffee commented on #864
Okay, thank you for the insight @ravipal. I am still not clear as to why it works when debugging but not when package/publish. If the guidance is that PackageReference is not meant to be used for full framework projects would it be possible to coordinate with this documentation? [Package references (PackageReference) in project files](https://docs.microsoft.com/en-us/nuget/consume-packages/package

[2018-02-22 10:55] bartbovendeerdt commented on #582
This is only the case when the `Application Debug Mode` is set to `Refresh Application`. It does work when using `Remove Application`. It would be great if it also worked with Refresh so there is no difference in what is deployed.

[2018-02-22 11:07] mgrishkov opened #873 "Cluster upgrade warning"
SF Cluster Explorer shows warning icon for the cluster with message
`The current cluster version 6.1.456.9494 support ends 5/30/2018 12:00:00 AM. Please view available upgrades using Get-ServiceFabricRegisteredClusterCodeVersion and upgrade using Start-ServiceFabricClusterUpgrade.`
Get-ServiceFabricRegisteredClusterCodeVersion command shows
[code]
What reason for showing the warning in case of the

[2018-02-22 11:42] Dan-cws commented on #869
Both swap and delete on cluster certificates by the portal fails and drives to "Cluster provisioning failed." There is no way to swap the certificate, except recreating the cluster. Bad, very bad.

[2018-02-22 12:11] Abdruggi commented on #568
@rakshitatandon Could you share a time frame for the fix?

[2018-02-22 12:49] dotdestroyer commented on #813
Had the same problem for the last couple of days. I have tried all the resolutions in this thread and non of them allow me to publish successfully to Azure.

Then all of a sudden it standard randomly working  (local cluster was removed at this point).

I then turned on local cluster, publish to Azure failed.

Turned off local cluster, restarted VS2017, publish to Azure continues to fail.

Can't na

[2018-02-22 13:04] JohnnyFun commented on #813
@dotdestroyer, when you say you "turned off local cluster", did you "Remove Local Cluster" or "Stop Local Cluster". I would *guess* either would work, but when it worked for me last, I specifically selected "Remove Local Cluster" on the machine I was deploying from.

p.s., I like the phrase "standard randomly working" lol, a cynical way of looking at the state of software these days.

[2018-02-22 13:09] ezuidema commented on #866
@oanapl Thanks a lot for the advice.

I managed to successfully deploy the Service Fabric solution using CI/CD on VSTS.

Maybe it is an idea to add a note/remark to the documentation for settings up using a single node development instance of the cluster?

[2018-02-22 13:09] #866 closed

[2018-02-22 14:25] dotdestroyer commented on #813
@JohnnyFun I've done both and neither helped conclusively!

haha my typo hits a little too close to home right now :P

[2018-02-22 17:06] oanapl commented on #813
The release that reverts the MaxMessageSize change (runtime 6.1.467, SDK 3.0.467) is going to be live soon. Once you update, there will be no changes needed to the Azure clusters and you can upload your packages with local cluster installed.
For the mitigation, you need to remove local cluster, not just stop.

[2018-02-22 17:27] alecor191 commented on #813
@oanapl just to confirm: When upgrading to the patched version of SDK you mentioned, will we have any issues if we _did_ increase the MaxMessageSize in our Azure clusters? Or will that SDK version work with any MaxMessageSize?

[2018-02-22 18:04] LSTANCZYK commented on #852
Any update on this?

[2018-02-22 18:38] preethasubbarayalu commented on #761
Hi @SndrSchnklshk: Are you mutating your value object after you have inserted it into the dictionary? Concurrent transaction should not be causing any issue. But make sure you don't do operations concurrently within a transaction and you await on all the async calls. You should not be mutating the objects in memory after you have inserted it into the dictionary.

Thanks
Preetha

[2018-02-22 18:43] rakshitatandon commented on #568
@Abdruggi This bug was fixed in 6.1.456.9494

[2018-02-22 18:51] Abdruggi commented on #568
@rakshitatandon Thx. I'll give it a try tomorrow.

[2018-02-22 18:57] #568 closed

[2018-02-22 19:01] framgeld opened #874 "ServicePartitionResolver.ResolveAsync hangs on internal COM exception"
Although I have a cluster on the URI I am connecting to, the **ResolveAsync** method hangs (even though I provide a lot of timeouts).

Using the following code:

[code]

I had to turn off "Just My Code" in the debugger to get this exception:

Please advise how to fix this. I have been trying to get my WCF client working for 7 days now.

Thanks.

[2018-02-22 19:03] framgeld commented on #867
I have logged a separate issue for Point 2 in my original post (Points 1 and 3 still require assistance).

Issue https://github.com/Azure/service-fabric-issues/issues/874

[2018-02-22 19:41] oanapl commented on #813
@alecor191 , we recommend you change your cluster back to initial value (eg. remove the change you made). Thank you for checking! Application upload will succeed with the mismatched values, but it's better to have them in sync.

[2018-02-22 19:58] assadfaizi commented on #840
Hi,

I'm getting this exact same issue as well. When I look at the Nuget Restore step I noticed this error message:

[code]

I thought maybe just adding a Nuget restore step for .sfproj would resolve it (I don't know if this is valid for an sfproj) but then get the following error:

[code]

Would appreciate a resolution for this.

Assad

[2018-02-22 21:32] SamHard commented on #840
Make sure you delete the "ServiceFabricBackup" folder, which created automatically when Visual Studio updates the .sfproj file.  The contents of that folder was causing issues with MSBuild for my team.

[2018-02-22 21:33] SamHard commented on #817
Make sure you delete the "ServiceFabricBackup" folder, which is created automatically when Visual Studio updates the .sfproj file.  The contents of that folder were causing issues with MSBuild for my team.

[2018-02-22 22:54] assadfaizi commented on #840
@SamHard, I deleted the ServiceFabricBackup folders from my local file system (I had 4 of them), made a fake change in the solution and committed to kick off a new build and to my amazement, it worked.  it makes no sense as to why it worked as the ServiceFabricBackup folders were on my local machine and they were not committed or at least I couldn't see them in the GIT repository in VSTS.  Many th

[2018-02-23 04:51] oanapl commented on #874
The HRESULT you are seeing, 0x80071BBF is FABRIC_E_INVALID_PARTITION_KEY.
In your call you pass ServicePartitionKey.Singleton. The [partition key](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicefabric.services.client.servicepartitionkey?view=azure-dotnet) you provide must have [Kind](https://docs.microsoft.com/en-us/dotnet/api/system.fabric.servicepartitionkind?view=azure-dotnet) mat

[2018-02-23 05:07] oanapl commented on #813
[6.1 refresh](https://blogs.msdn.microsoft.com/azureservicefabric/2018/02/22/service-fabric-6-1-refresh-release) is available. Please update your local cluster to resolve the copy issues.
If you have changed the Azure cluster with MaxMessageSize to 10 MB, please revert that change.

[2018-02-23 05:08] oanapl commented on #820
@ifle, there have been no update in a while. I will close the issue, feel free to reopen if you still have questions.

[2018-02-23 05:08] #820 closed

[2018-02-23 05:11] oanapl commented on #842
@jackbond , [6.1 refresh](https://blogs.msdn.microsoft.com/azureservicefabric/2018/02/22/service-fabric-6-1-refresh-release) is now available. Can you please try to upgrade and see if that fixes your issue?

[2018-02-23 09:15] framgeld commented on #874
Thank you for the info. I have now changed my code so it uses this instead (as I am talking to a WCF listener on a stateful service with a single partition):

`new ServicePartitionKey(1)`

Unfortunately, the **ResolveAsync** method is still hanging indefinitely, and unlike the non-exposed COM error I was able to obtain last time, this time... nothing at all.

Getting the **ResolveAsync** method to

[2018-02-23 09:25] framgeld commented on #874
Another thing of note: my WCF client is server-side ASP.NET C# code (.NET 4.5). It is running in the debugger and is using 64-bit IIS Express.

[2018-02-23 10:14] goodisontoffee commented on #864
I've added the following section to my .sfproj project file beneath the property group containing the ApplicationProjectTargetsPath element. This appears to have resolved the issue, and I've updated my repo to also contain the fix. It took me a while to discover where to configure the PackageOutputFolder element in the project file but thanks to @ravipal for the pointer. And yes, we are using Appl

[2018-02-23 15:16] RaleS commented on #805
To renew the endpoint certificate without any downtime and without moving the services, (once we had added the new certificate to the keyvault and redeployed the cluster arm template containing the new certificate thumbprint) we had to remove the CertificateRef from all endpoints (except one) and redeploy the apps, leaving single app as is (we learned the hard way that removing the app would also

[2018-02-23 15:16] #805 closed

[2018-02-23 16:30] dbreshears commented on #840
@kishorebarik26 ,  thanks for letting us know, we will look into what is going on when updating the package in VS and why it is not updating the .sfproj automatically,  for now it seems manually editing the .sfproj file  and updating all occurrences from 1.6.4 to 1.6.5 would be the workaround.

[2018-02-23 17:27] #813 closed

[2018-02-23 17:43] RajeetN commented on #863
Service Fabric requires that you provide explicit versions to your images to ensure the right images are pulled and to guarantee immutability. Providing "latest" as tag is not recommended.

[2018-02-23 17:43] #863 closed

[2018-02-23 17:53] dbreshears commented on #840
@kishorebarik26,   looked into this and the real workaround is to unload the project/solution and reload after updating the Microsoft.VisualStudio.Azure.Fabric.MSbuild Nuget package.    There is an issue in Nuget that we working around https://github.com/NuGet/Home/issues/1850 and we have logic in place to detect and fixup the .sfproj but during project load.

[2018-02-23 18:28] vturecek commented on #865
Azure Application Gateway is somewhat limited when it comes to a high-density, dynamic environment like Service Fabric (lots of services that move around a lot in response to resource balancing and self-healing). AAG works at the IP/port level; it doesn't know about services or service discovery. You can make it work with some aggressive health probes, but that back-end pool limitation will be a p

[2018-02-23 19:24] kms254 commented on #772
@iandrennan I had the same problem as you. I figured out a fix that I was willing to try on our QA cluster and it paid off.

Initial Removal:
I removed a node and that node no longer showed up in the clusterconfig.json or the clustermanifiest.xml  but it was still present in the explorer interface. It was listed as invalid.

The Fix:
What I ended up doing was digging into every single active node'

[2018-02-23 19:27] rakshitatandon commented on #873
@mgrishkov There is a newer version available "6.1.467.9494". It seems like your cluster failed to provision the package and hence, you don't see it in the above list. The system should retry once every 24 hours so you should be able to see the entry next time it retrys. Alternatively, you can download and provision the latest package directly from https://docs.microsoft.com/en-us/azure/service-fa

[2018-02-23 19:38] mgrishkov commented on #873
Ok, thank you.

[2018-02-23 19:38] #873 closed

[2018-02-23 19:40] mgrishkov commented on #804
Are there any updates or step by step manual?

[2018-02-23 21:36] strtdusty commented on #711
This is the same direction we (and I assume many others) are going.  Building in docker containers!  @lurock doesn't seem to be advocating actually running from the container, just needing the SDK.  Unfortunately you need the runtime installed in order to install the SDK.

We have several teams running different versions of the SF SDK.  Docker build agents make it simple for us to provide precise

[2018-02-23 23:55] RajeetN commented on #805
Sorry that you had to go through this issue. We will see what we can do to improve the experience here. Our documentation does call out this limitation:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-runas-security

[2018-02-24 02:27] rishirsinha commented on #804
Upgrade the code is basically, run the web pi installer to install the new version of the product.

[2018-02-24 03:54] oanapl commented on #842
@jackbond , we haven't heard from you in a while. I will close the issue, please try the new release which fixes the copy hang issue.
If you still have questions/issues, feel free to reopen this issue or open a new one.

[2018-02-24 03:54] #842 closed

[2018-02-24 09:14] eliasnawfal opened #875 "Upgrading to 6.1.467.9494, UpgradeOrchestrationService unhealty partition"
While upgrading to 6.1.467.9494, fabric:/System/UpgradeOrchestrationService has a permanent error. My cluster on Azure stuck in upgrade mode with provisioning failed error. All apps are working but my cluster stuck in upgrade mode. Also, all System Services are on 6.1.467.9494, if I try to upgrade from azure portal, I got an error cluster cannot be interrupted while upgrading
How can I fix this?

[2018-02-24 17:47] vmendi commented on #841
Something like this happened to me recently on my development machine after installing Docker for Windows and the required Hyper-V. Uninstalling Hyper-V fixed the issue.

[2018-02-24 18:17] HaakonL commented on #387
We're on 6.1 and with this upgrade the cluster has become somewhat unusable. I have one node that is stuck in Disabled mode for five days now, and nothing I do make it wake up, activate, delete etc. We are getting quite worried about launching our game APIs on Service Fabric, as there seems to be almost impossible to replace faulted nodes, scale up/down etc without deleting the whole cluster and s

[2018-02-24 19:52] oanapl commented on #387
@HaakonL , I am sorry your experience is so frustrating. Can you please open a new issue so we can properly address your concerns (since they are not related to the initial thread)?
For the disabled node, you can open a customer support ticket so we can get all the information we need and help you.

[2018-02-24 22:00] oanapl commented on #874
@BharatNarasimman, can you help?

[2018-02-24 22:26] framgeld commented on #874
@oanapl I am currently discussing this with someone in Microsoft Support as we speak.

[2018-02-25 00:16] aragula12 opened #876 "Resource Limits in docker compose file"
Using the following compose file throws an exception when deploying to service fabric via New-ServiceFabricComposeDeployment powershell command.

**services:
&nbsp;&nbsp;mydns.com:
&nbsp;&nbsp;&nbsp;&nbsp;image:&nbsp;myappimage:1.0
&nbsp;&nbsp;&nbsp;&nbsp;deploy:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;replicas:&nbsp;-1
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;placement:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp

[2018-02-25 09:21] HaakonL opened #877 "Service Fabric nodes stuck in Disabled, Disabling, Failed or Failed (running) modes"
We're on 6.1.456.9494 and the cluster is unusable. I have several nodes that are stuck for many days now, and nothing I do make them work again.

We are getting quite worried about launching our game APIs on Service Fabric, as there seems to be almost impossible to replace faulted nodes, scale up/down etc without deleting the whole cluster and starting from scratch. For a critical production API t

[2018-02-25 13:42] donykyyenko opened #878 "SF cluster manager is not responsive - Failed to create log container on Os X"
I can't get my cluster running properly with container image servicefabricoss/service-fabric-onebox on Mac.

I followed this guide
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-mac
I started SF manager and i can even open it in the browser - the only thing i don't see any details about application running, and receive toasters with Timeouts
{"Error":{"Code":"FABR

[2018-02-25 19:24] RajeetN commented on #829
@UsamaAslam23. you need to provide the imagename with version tag for SF to download. So your imagename should be r/myrepo/container:versiontag.
@fdkdervis, yes you use RepositoryCredentials element in Application Manifest.

[2018-02-25 19:25] RajeetN commented on #798
@LekhaSahdev, could you describe why you need certificate placed in root store? Is it actually a root cert?

[2018-02-25 19:27] RajeetN commented on #734
@ladeak, do you already have another service listening on port 19855 with a different certificate?

[2018-02-25 19:29] #752 closed

[2018-02-25 19:31] RajeetN commented on #830
This variable value is only available if you create the service with ServicePackageActivationMode ExclusiveProcess.

[2018-02-25 19:31] #830 closed

[2018-02-25 21:03] fdkdervis commented on #829
@RajeetN, finally for me it was related to the certificate, I resolved my problem after I enabled the ssl in your private registry

[2018-02-25 22:07] MarekLani opened #879 "Service Fabric External and Internal Load Balancer Standard"
Hello,
I would like to ask, whether it is possible to use **Load Balancer Standard Tier** with **Service Fabric**. I need to create SF cluster which has both internal and external load balancers. However as I have been notified by Azure Portal itself, in order to assign two LBs to VMSS I need to use Standard SKU. However when I change my template to use LB Standard, I am not able to connect to my

[2018-02-26 01:26] brandmo opened #880 "How to enable Reverse Proxy with Compose Deploy"
Hi there,

I have the Reverse Proxy enabled in my service fabric but in order to use it I have to include "http" as the port protocol as follows.

    ports:
      - "80:80/http"

In order to include this I need to provide a custom docker-compose file, which is fine and almost works.

services:
  myservice:
    image: 'myimage:latest'
    deploy:
      replicas: 3
    ports:
      - "80:80/http"

[2018-02-26 02:41] LekhaSahdev commented on #798
@RajeetN : Yes it is a trusted root certificate issued by our organisation. We are already using it for various other purposes. So we thought to use the same for Service Fabric

[2018-02-26 03:09] RajeetN commented on #798
Service Fabric will require access to the private key of the certificate. Typically private key of root certificates is kept secure and not available on cluster nodes. Is the private key also available on all nodes? Then you need to copy the cert to localmachine/my store.

[2018-02-26 03:21] ChackDan commented on #877
Thankyou for reporting this @HaakonL and for the screen shots. Sorry about the issues you have hit.  We will need to review the cluster logs to really figure out why you have a node stuck in disabled for that long. To debug, I will need to know the sequence of steps you took before and after.  I agree with you that cluster management operations should not result in you needing to create the cluste

[2018-02-26 03:23] LekhaSahdev commented on #798
@RajeetN : Got it. Thanks a lot. We just got confused for the reason that there was an option in appmanifest.xml to provide StoreName.

[2018-02-26 08:12] ladeak commented on #734
@RajeetN that is very unlikely. I have explicitly removed every application from the cluster, beforehand. I have not stopped/started any other application during the process.

[2018-02-26 08:58] framgeld commented on #874
@BharatNarasimman if you have any ideas what this could be, I would greatly appreciate it. No answers from Microsoft Support regarding this at the moment. A "two pronged approach" from different viewpoints may get this solved.

Thank you.

[2018-02-26 09:42] framgeld commented on #874
After working with Microsoft Support and following some advice the engineer provided, I enabled WCF tracing on the Service Fabric WCF client. The log contained messages for the following (in chronological order):

- ServiceLevelSendRequest
- TransportSend
- TransportReceive
- ServiceLevelReceiveReply.

The second call (in which I believe ServicePartitionResolver.ResolveAsync is hanging), produced

[2018-02-26 11:28] Marusyk commented on #496
Still got `FabricDnsService is not preferred DNS server on the node.`

6.1.456.9494

[2018-02-26 11:38] aelij commented on #665
Note about the workaround: should clear the browser's **local storage** for the domain as well.

[2018-02-26 11:41] MonDeveloper commented on #845
We also absolutely need to tune the RP timeout, now 6.0.232 (2.8.232) it seems to be 120 seconds.
Please, any online available guide about RP timeout is related to Azure Resourse Manager but I didn't find anything related to the OnPrem version of SF.

We urgently need it!

[2018-02-26 12:09] caxepok commented on #857
Same problem here. Fail after update from 1.6.2 to 1.6.4

[2018-02-26 12:18] caxepok commented on #817
Upgrade to 1.6.5 helped me.

[2018-02-26 12:34] hrushib commented on #643
Closing this issue as Applications are working as expected post use of 2.0.5 framework version.

[2018-02-26 12:34] #643 closed

[2018-02-26 13:03] Marusyk commented on #848
@nrandell I have added `<RuntimeFrameworkVersion>2.0.5</RuntimeFrameworkVersion>` but it doesn't help. Any suggestions? Thx

[2018-02-26 14:28] raunakpandya commented on #850
The constructor has been fixed to take IReliableStateManagerReplica object in the latest refresh v3.0.467

[2018-02-26 14:28] #850 closed

[2018-02-26 14:45] BharatNarasimman commented on #874
@framgeld, [ServicePartitionResolver's code](https://github.com/Azure/service-fabric-services-and-actors-dotnet/blob/develop/src/Microsoft.ServiceFabric.Services/Client/ServicePartitionResolver.cs) throws operationcancelled after the cancellation token is signaled(15 seconds in your case)

Without using the wcfclient, can you try just calling resolveasync() - does using your code at the beginning

[2018-02-26 16:44] pkcsf commented on #877
@HaakonL  To investigate this issues, please open a support ticket from Azure portal for faster resolution with the complete postmortem. Please open a ticket usin https://portal.azure.com/?#blade/Microsoft_Azure_Support/HelpAndSupportBlade

Please refer https://azure.microsoft.com/en-us/support/options/  for details on support options

[2018-02-26 17:09] RajeetN commented on #734
@ladeak, could you share the traces from your service fabric cluster?

[2018-02-26 17:48] HaakonL commented on #877
Hi, I already opened a ticket almost a week ago, but no one responds, even though there is a < 8 hour guarantee. It is very frustrating that the cluster is unstable and unpredictable, and then no one responds from the Azure team when we submit a ticket. How can we trust this in a live production setup?

In case anyone from the Azure support team sees this, the ticket # is 118022217692167.

[2018-02-26 17:53] dbreshears commented on #817
Yes, this is fixed 1.6.5 of the Nuget package.

[2018-02-26 17:53] #817 closed

[2018-02-26 17:55] dbreshears commented on #844
Glad to hear.

[2018-02-26 17:55] #844 closed

[2018-02-26 18:38] kavyako commented on #216
@kahootali Could you clarify a bit more? do you want the reverse proxy to forward the "Server" header sent by the service as-is instead of adding its own?
You could set the reverse proxy setting [RemoveServiceResponseHeaders](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-fabric-settings#section-name-applicationgatewayhttp)="" to forward all the headers returned by th

[2018-02-26 18:58] kavyako commented on #852
Currently reverse proxy does not support any kind of content transformation. This is in our backlog and we might have something working in ~6-8 months timeframe.

[2018-02-26 19:24] sujithnani opened #881 "Need to restart a service inside an azure role instance"
To restart a service inside an azure role instance, I am trying to use Service fabric nuget package to utilize
https://docs.microsoft.com/en-us/dotnet/api/system.fabric.fabricclient.servicemanagementclient.restartreplicaasync?view=azure-dotnet

Code :
var xc = GetCredentials(clientCertThumb, serverCertThumb, CommonName);
var fc = new FabricClient(xc, connection);
var restarttask = fc.ServiceManage

[2018-02-26 19:41] ChackDan commented on #877
@pkcsf  - could you please followup and see what happened to this ticket, if possible, let us use that to get this issue to closure.
@HaakonL  - got your email, will respond on the design reviews.

[2018-02-26 20:01] ladeak commented on #734
I will do so next time I am replacing thumbprints, at the end of March.

[2018-02-26 21:09] joriente commented on #860
Having the same exact issue and I see these 4 recurring warnings in the SF logs
1. HostedServiceInstance:HostedService/_Node_0_Fabric terminated with exitcode 3221225477
2. HostedService: _Node_0 on node id bf865279ba277deb864a976fbf4c200e terminated unexpectedly with code 3221225477 and process name Fabric.exe
3. client-localhost:19000/[::1]:19000: error = 2147943625, failureCount=805. Filter by

[2018-02-26 21:14] rishirsinha commented on #860
@joriente can you share the Fabric.exe dumps.

[2018-02-26 21:32] joriente commented on #860
Do you want them all?  Is there a good way to get them to you,  Its 151MB compressed and this only supports 10MB.  Tried splitting and this didn't support then split file type?

[2018-02-26 21:35] rishirsinha commented on #860
Send over email? rsinha@microsoft.com.

[2018-02-27 02:15] pkcsf commented on #877
@HaakonL, I have  looked into the current state the cluster, and I can see that one node **_D1v2_3** is currently struck in to the disabling state, and my further investigation reveals that, this cluster is configured as a Silver **reliability**, and for Silver reliable cluster, it is expected to have  at least 5 node aka primary nodes should be up and running at any point of time to have data int

[2018-02-27 02:19] masnider commented on #856
[Environment Variables ](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-how-to-specify-environment-variables) also work

[2018-02-27 02:28] masnider commented on #879
Service Fabric doesn't care about this at all, so something else must be wrong.

[2018-02-27 02:31] masnider commented on #881
Should be pretty much what the message says. Use [this ](https://docs.microsoft.com/en-us/dotnet/api/system.fabric.fabricclient.servicemanagementclient.removereplicaasync?view=azure-dotnet) instead.

[2018-02-27 02:31] rakshitatandon commented on #875
Is the error coming from UpgradeService or UpgradeOrchestrationService ? For azure clusters, there should be no UpgradeOrchestrationService. Is this a standalone cluster or azure ?

[2018-02-27 02:56] vaishnavk commented on #875
Can you try restarting FabricUpgradeService primary and see if that fixes the issue? Could you share the region and resource id of the cluster? We will take a look.

[2018-02-27 04:11] pkcsf commented on #877
@HaakonL , my fault,  recommended mitigation  **step is 2,** i.e change the reliability level to Bronze by **Update-AzureRmServiceFabricReliability** .

[2018-02-27 05:07] kahootali commented on #216
Basically, I want to remove the server header from my response. I have removed using my middleware, but Reverse Proxy adds the header again so I want to remove it.

[2018-02-27 05:34] nineralpha commented on #856
@xunlu yes already tried Entrypoint and setupEntrypoint. but problem is that they are used to pass hardcoded data. i am using
StatelessServiceDescription serviceDescription = new StatelessServiceDescription()
            {
                ApplicationName = new Uri(m_appName),
                InstanceCount = 1,
                PartitionSchemeDescription = new SingletonPartitionSchemeDescription(),

[2018-02-27 05:40] RajeetN commented on #856
How big is the data you want to pass? You can create a new application+Service pair and pass environment variables via ApplicationParameters to override the values when new app is created.

[2018-02-27 05:48] nineralpha commented on #856
Each guest executable works on a unique file it downloads from cloud and we have to provide path of that file and also directory structure where it will be saved on local disk.
application+Service is not an option here.

[2018-02-27 05:57] usamaazhar commented on #856
@RajeetN Does creating a new application for each service follow the micro-services guidelines for service fabric ? I mean the Gist is to have multiple micro-services in a single application

[2018-02-27 06:07] RajeetN commented on #856
SF doesn't have control over how guest executable consumes data so doesn't have mechanism for this. You can create a stateless service and pass the data as initialization parameter to it.

[2018-02-27 06:11] mhatreabhay commented on #862
Can you share following details.
1. subscription id
2. resource id
3. region/location

[2018-02-27 06:40] TonyWu1991 opened #882 "stateful service assign all the primary replica to only one Node, but there are 5 nodes in the scale set."
Hi,

Nowadays, I am stuck in the problem mentioned in the title that I have never seen before.

I have a 5 nodes cluster and set 15 partitions for one stateful service. TargetReplicaSetSize is 5 and MinReplicaSetSize is 3. But after deployment on Azure Service Fabric Cluster, all the 15 primary replicas are on only one VM, the ActiveSecondary replicas are on the rest four machines.

And the proble

[2018-02-27 06:42] raunakpandya commented on #882
That shouldn't be the case by default.. Are you using any sort of placement constraints?

[2018-02-27 06:53] TonyWu1991 commented on #882
I didn't add the placement constraints. And if 15 primary replicas are on one machine, the load of that machine will be high. And when it trying to transfer primary replica to other nodes, the process will be affected and cause some problem. Do you have any idea to set primary replica averagely on each node by default?

[2018-02-27 07:38] mburumaxwell commented on #879
@MarekLani you might find help in the link below
[https://blogs.msdn.microsoft.com/kwill/2016/10/05/azure-service-fabric-common-networking-scenarios/#IELB](https://blogs.msdn.microsoft.com/kwill/2016/10/05/azure-service-fabric-common-networking-scenarios/#IELB), at least it helped me.

[2018-02-27 08:02] SndrSchnklshk commented on #761
Hi @preethasubbarayalu, no I'm not changing the object (see my code above, it creates a clone every time) after insert.

As promised an update about my 'lost dictionary' issue. **It looks like the problem is solved!**

I have changed the following things:
1) Removed all the 'retry-loops' where I load and save the dictionary
2) Minimized the code inside the transaction using scope
3) Added the forg

[2018-02-27 08:46] mburumaxwell commented on #865
@AndrewJWaite I was able to setup NGINX to handle almost a similar scenario, I wrote a post to explain it [https://maxwellweru.com/nginx-for-aspnetcore-applications-in-service-fabric/](https://maxwellweru.com/nginx-for-aspnetcore-applications-in-service-fabric/)

[2018-02-27 08:57] eliasnawfal commented on #875
The error is coming from  fabric:/System/UpgradeService, this Cluster is on Azure.
Region : UK South
Resource Id: /subscriptions/c5ffbabd-c3f6-4c8a-9bb1-42d0b5eafcd6/resourcegroups/StampunoUK/providers/Microsoft.ServiceFabric/clusters/stampuno

What I tried recently I changed the size of my VM, then the Cluster reverted to 6.0.232.9494, I tried upgrading again to 6.1.467.9494 with 0 Apps, the Clus

[2018-02-27 09:29] framgeld commented on #867
Further to point 3 in my original post: the Reliable Queues work fine until the first WCF call is made from my website. Once Service Fabric goes into a tailspin, attempting to enqueue further items results in the following exception:

[2018-02-27 10:26] framgeld commented on #874
@BharatNarasimman This github issue is a "child" of this larger issue that I created, which may shed more light on the issues/challenges I am facing:

https://github.com/Azure/service-fabric-issues/issues/867 Multiple issues with WCF communications to stateful service

Using the partition key you asked for and calling ResolveAsync... yes, it hangs forever - but only on the second attempt (the same

[2018-02-27 10:29] VladyslavPyshnenko opened #883 "Strange log messages from Service Fabric in log with log level "Fatal""
Hello!
We are gathering some logs from Service Fabric and found some strange messages with log level "Fatal". We see next message: "MAEVNTPROBE:MA_ETWSESSION_WAD_e62e566a_8c63_4be6_a11d_b16f3b33d349_IaaS__ad3appla_5"
This messages Service Fabric send only from one of five nodes. Fabric is sending them each 3 minutes.
We are able to see those messages almost in all our environments.
![image](https:

[2018-02-27 11:46] Dan-cws commented on #869
After several attempts I can swap the certificates only if they are in separated key vaults. This contraddicts the documentation linked above that presents an example with the certificates in the same key vault.

[2018-02-27 13:56] goochjs commented on #862
Hi - thanks for the reply.  In last couple of days, we've tracked the problem down to the Service Fabric cluster being configured to use storage accounts.  We've changed the config to use managed disks and it came up successfully.

We eventually managed to work this out after finding the trace files held under **D:\SvcFab\Log\Traces** (example copied below for others people's reference), which gav

[2018-02-27 13:56] #862 closed

[2018-02-27 14:51] Thialala commented on #861
Hello,
I had the same issue. I converted the pfx certifcate to pem certificate using this : https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cli#tips-and-troubleshooting

And it works.

[2018-02-27 16:43] puzovicnikola commented on #876
Hello @aragula12,

The correct format for specifying resources is to use dictionary, like this:

      resources:
        limits:
          cpu-shares:256
          memory:2000

You can check the docker compose documentation for more details: https://docs.docker.com/compose/compose-file/#resources

Nikola

[2018-02-27 17:10] dbreshears commented on #835
@rexwhitten,    What service type and does it block on,  does it block on  just a simple stateless service or does it require asp.net core services?    Outside of the webpage that loads (including images) for the SF application next steps in the document window,  I don't know of anything we are downloading specifically.  You might try running fiddler and see if that helps narrow down and also I'll

[2018-02-27 18:16] kavyako commented on #868
This is a known issue, also being tracked by https://github.com/Azure/service-fabric-issues/issues/113
Fixing this is in our backlog.

[2018-02-27 18:42] kavyako commented on #216
This is a limitation of our current reverse proxy, there is no straightforward way of removing the Server header from the reverse proxy's response.
The reverse proxy uses HTTP.SYS underneath so one possible workaround is to enable a setting in HTTP.SYS to disable the server header from its responses. This can be accomplished by setting the DisableServerHeader registry key under HKLM\SYSTEM\Current

[2018-02-27 18:57] kavyako commented on #880
@MikkelHegn Do you have any suggestions to work around this?

[2018-02-27 22:21] prasadker commented on #861
Yes you'll have to convert the pfx to pem file to use it for Linux cluster.

[2018-02-27 23:45] MarekLani commented on #879
@mburumaxwell thank you. We managed to add both, however apparently there was introduced new requirement to use LB Standard when you want to assign both internal and external LB to 1 VMSS.

@masnider  I have working ARM template where I have configured internal LB Basic only.  After deployment everything is working fine. However when I do only the change of SKU for LB to Standard and redeploy, I g

[2018-02-28 00:35] ConX-Ryan opened #884 "Debug using a selected environment -Feature Request / Idea"
Great SDK love it keep up the good work!

Can I please propose a feature where by i can select the application environment / application parameters associated when debugging? that would be super handy I think.

[2018-02-28 00:41] aragula12 commented on #876
Thanks for your response @puzovicnikola

Unfortunately, I still seeing the same exception - 'limits expects a mapping' even after I made the change as per your suggestion.

[2018-02-28 00:46] ravipal commented on #857
We have a new version of nuget package 1.6.5. Please install this new nuget package and restart the solution. This should fix the issue.

[2018-02-28 01:14] Telavian commented on #857
I have noticed that for some reason every time the Microsoft.VisualStudio.Azure.Fabric.MSBuild package is updated it gets installed correctly in packages.config however the sfproj is never updated.
I have to manually update it.

[2018-02-28 02:18] Telavian opened #885 "Updating to 6.1.467 causes WebApi to restart indefinitely"
I have a WebApi that was working fine using the packages for 6.1.456 hosted in 6.0.232.9494.
Updating the packages to 6.1.467 causes the web api to crash and repeatedly restart in SF.
I tested in 6.1.467.9494 which has the same behavior.

The logs themselves are not helpful because there is a normal logging, a time break, and then the startup logging sequence.

In the event viewer I do have inform

[2018-02-28 02:31] BharatNarasimman commented on #876
@aragula12  can you share the compose file ?(updated with Nikola's suggestion)

[2018-02-28 03:19] aragula12 commented on #876
@BharatNarasimman
Here is the updated compose file:

services:
&nbsp;&nbsp;mydns.com:
&nbsp;&nbsp;&nbsp;&nbsp;image:&nbsp;myappimage:1.0
&nbsp;&nbsp;&nbsp;&nbsp;deploy:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;replicas:&nbsp;-1
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;placement:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;constraints:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;No

[2018-02-28 03:36] BharatNarasimman commented on #876
There is a space ' ' missing

version: 3
services:
  mydns.com:
    image: myappimage:1.0
    deploy:
      replicas: -1
      placement:
        constraints:
          - NodeTypeName==nodetype1
      resources:
        limits:
          cpu_shares: 256
          memory: 2g
    ports:
      - "8500:80"

[2018-02-28 06:28] suhuruli commented on #878
Can you try running the following commands:

1.	socat -d TCP-LISTEN:2376,reuseaddr,fork UNIX:/var/run/docker.sock on the host machine. This forks a new process. Run this command before you run the docker container.
2.	Also run sed -i 's/172.17.0.1/docker.for.mac.host.internal/' ClusterManifest.SingleMachineFSS.xml while SSH'd inside the container. Run this command before running the ./setup.sh and

[2018-02-28 08:32] framgeld commented on #874
@BharatNarasimman I'm grasping at straws in case I can find something of use to help us to figure this out... maybe this has something to do with it...?

You will notice in my Stateful Service code from my previous post, that there is a comment with regards to maintaining the order in which my service creates the listeners. This is because when the V2 ServiceProxy listener was created first, the S

[2018-02-28 09:55] UsamaAslam23 commented on #829
@RajeetN I have tried by adding latest tag as well, same error still.

[2018-02-28 10:00] framgeld commented on #874
@BharatNarasimman I performed another test that may assist with your investigation.

I created two do/while loops:

- **Loop 1** - Create **ServicePartitionResolver** once (outside the loop), and call **ResolveAsync** in each loop cycle.
- **Loop 2** - Re-create **ServicePartitionResolver** for each loop cycle and call **ResolveAsync** on it.

**Loop 1** never hangs, while **Loop 2** hangs on the

[2018-02-28 10:25] framgeld commented on #867
When the WCF call is made and Service Fabric starts going into meltdown, the events that are logged in Event Viewer are as follows:

... followed by two occurrences of the following stack trace:

[2018-02-28 10:57] nunocenteno commented on #803
I've seen the same issue. In my scenario, I've a Windows 10 dev machine, with Docker for Windows installed, Visual Studio and Service Fabric. I noticed that when the error of Dns is happening in Service Fabric, docker is working just fine, if I restart the ICS service, Service Fabric just works fine, but docker stops working. Somehow ICS is essential for Docker for Windows, or Hyper-V as someone a

[2018-02-28 13:12] HaakonL opened #886 "VSTS: Registering application type - Operation timed out"
Unable to deploy through VSTS after you rolled out the latest version. First it was timing out during image upload, after setting the timeout param in the vsts task it started to time out in the registering application type step.

Also unable to deploy from Visual Studio without first removing the local cluster.

Are we ever going to get a stable product from you?

[2018-02-28 13:26] HaakonL commented on #877
Hi,

I would rather not change the reliability level downwards at any point -
what is the point with a reliability level then? I find your suggestion
very weird. Fix an issue by lowering the reliability, no way :)

Keep in mind that I never wanted to remove any nodes, I just wanted to fix
the cluster that suddenly had a disabled node that was impossible to
reactivate.

--

Best regards,
*Haakon La

[2018-02-28 15:44] mkosieradzki opened #887 "Application Insights and shared process hosting model issues"
I am observing very strange behavior from how Reverse Proxy deals with Health subsystem.

My case scenario is:
1. Single partition is reporting problems with being unable to create a proper backup (probably my mistake to make it Error instead of Warning, but I really need to think about this one carefully)
2. The Error propagates up (as described in the documentation rendering Service and entire A

[2018-02-28 16:04] oanapl commented on #887
Reverse proxy doesn't use health subsystem to make decisions, so there is no interaction between the two. There must be another reason why the request routing is not working.
@kavyako to help with reverse proxy.

[2018-02-28 16:10] oanapl commented on #886
@HaakonL , are you trying to deploy to Azure cluster? Is you cluster healthy? What is the health of the fabric:/System/ImageStoreService service?
Can you give us more details about runtime, SDK versions and VSTS tooling version on client and runtime version in your cluster?
Is this the same cluster where you had issues with the disabled node?

[2018-02-28 16:15] mkosieradzki commented on #887
Thanks Oana,

I will try to diagnose this a bit more and will come back. Any chance it has an indirect interaction for example when using Naming Service for address resolution?

[2018-02-28 16:21] awcab opened #888 "System Services Fail on Application Deployment"
I have a cluster running fine for a few weeks.  When I tried to upgrade the application, it failed.  I now see that the Failover Manage and Image Store services are both in error.  Any attempts to resolve this with powershell commands has failed.  As a result, I'm having to completely replace the cluster.
![sf_failure](https://user-images.githubusercontent.com/337839/36798769-5aa3f0dc-1c60-11e8-9e

[2018-02-28 16:28] oanapl commented on #887
Currently, we don't take any action based on health other than during upgrades. There can be repair services written on top of health subsystem that restart unhealthy nodes etc, but there is no such repair service in the cluster out of the box.
To address your question, there is no interaction between Naming Service and Health Subsystem.

[2018-02-28 16:31] aragula12 commented on #876
@BharatNarasimman
Fantastic!  That worked!

[2018-02-28 16:31] #876 closed

[2018-02-28 16:34] mkosieradzki commented on #887
Thanks a lot - this is exactly how I though everything is working in the first place, so apparently there is something else going on and really a lot of coincidence.

I will add more telemetry to try to catch the root cause.

[2018-02-28 17:20] ravipal commented on #857
During project load of *.sfproj, we check if a new version of package is installed and if so, then the *sfproj will be updated. Do you still see the *.sfproj is not updated after reloading the project/solution?

[2018-02-28 17:27] kavyako commented on #887
@mkosieradzki Was the service endpoint up when request routing through the reverse proxy failed?
Is this an on-prem cluster or Azure cluster?
What error status code/message did you see at the reverse proxy, fast timeout =>?

[2018-02-28 17:45] oanapl commented on #888
@awcab , let's try to fix the cluster so you don't have to replace it.
Can you give me a few more details:
- Is this a local cluster / Azure cluster / standalone?
- How many nodes are in the cluster? Are they all healthy?
- How big is your application (in terms of services, partitions, replicas)? Is the cluster overloaded?
- How did the application upgrade fail? Was it because of health? Did it ro

[2018-02-28 17:55] mkosieradzki commented on #887
Yes, It was receiving requests on different urls (I have not enough telemetry to figure out the exact cause).

From the telemetry I have I can say following:
- There is a high probability I was receiving 500 when making POST on a specific url on the reverse proxy
- This happens only if the target service in the Errored State (due to manually reported fault, not affecting the actual endpoint) - mig

[2018-02-28 17:57] awcab commented on #888
That would be great!

- It's a local cluster
- 3 healthy nodes
- Just 1 service.  Stuck on deleting and unknown state
- I'm not sure
- The Active Secondary is reporting the following:

- Yes

[2018-02-28 18:13] kavyako commented on #887
Can you look at the [reverse proxy diagnostic logs](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reverse-proxy-diagnostics)
It will give some more insights into which requests failed and why.

[2018-02-28 19:17] awcab commented on #888
Oh - I set up a 3 node with bronze availability for development purposes.  I wasn't aware this wasn't supported.  And sorry!  I just realized that I said local cluster.  It absolutely isn't - this is running on Azure.

[2018-02-28 19:27] oanapl commented on #888
If this is Azure cluster, can you look on the VMs (starting with _svworker_0) to see if there is enough disk space?
If that's not the issue, you can check the event log on _svworker_0 to see if there's something that can help figure out why the store error happens.
Is the image store service replica that is down also on _svworker_0? If so, you can try restarting that node (you can do it through SF

[2018-02-28 19:35] mkosieradzki commented on #887
Thanks @kavyako, now I am sure it's health-unrelated. I will track down the root cause now :).

[2018-02-28 19:36] awcab commented on #888
The vm is out of disk space on my application partition.  Is this the same disk used for the system services?  If so, that makes sense.  I would've expected these to be isolated.

[2018-02-28 20:35] oanapl commented on #888
They are not. Can you make some space on the VM and see if the replicas can open successfully?

[2018-02-28 20:53] donykyyenko commented on #878
It doesn't.
Here're some logs attached:
[logs02_28.txt](https://github.com/Azure/service-fabric-issues/files/1768811/logs02_28.txt)

[2018-02-28 21:32] mani-ramaswamy commented on #829
@UsamaAslam23  you can't use the latest tag with Service Fabric. You will have to explictly specify a version as Rajeet suggested. The reason we force that is during an upgrade, you know which version your container is running (otherwise it will all be latest). However, we are working on making the description more helpful in SFX.

[2018-02-28 21:46] muskanaul commented on #315
@mani-ramaswamy Any idea on how soon it will be fixed?

[2018-02-28 22:03] oanapl commented on #581
This has been fixed in the latest release.

[2018-02-28 22:03] #581 closed

[2018-02-28 22:58] mani-ramaswamy commented on #315
We're presently testing internal builds with this - the next minor version update of SF (6.2) will have this fixed.

[2018-03-01 00:10] eliasnawfal commented on #875
I recreated my Cluster with latest Fabric version, working like a charm.

[2018-03-01 00:10] #875 closed

[2018-03-01 02:10] dkkapur commented on #883
@VladyslavPyshnenko looks like something is wrong with the Windows Azure Diagnostics extension installed on the machines. Are you losing any events from that node that you expected to see?

[2018-03-01 05:17] ylbillyli commented on #707
Any update on this issues? We seems to be getting this exact error message today where service fabric just keep retrying listening on the url. We don't have Skype installed though.

[2018-03-01 07:07] MikkelHegn commented on #846
Hi,

From the stack trace above, it looks like the application is crashing on start (Property='ReplicaOpenStatus') with this exception: Mapper already initialized. You must call Initialize once per application domain/process. at AutoMapper.Mapper.set_Configuration(IConfigurationProvider value). You should look at what is going on with the application at startup.

When SF wants to move (or upgrade)

[2018-03-01 10:02] aliazamrana opened #889 "Guest Executable Status"
I have a senstive application that needs monitoring of the guest executables deployed on the Service Fabric. Now I have two questions one is that is it possible to have a guest executable that fails to deploy? And if yes how can I find out and is it possible to find out through QueryManager in FabricClient.
I can find out that my applications are deployed on which node and their status is returned

[2018-03-01 10:36] mgrishkov opened #890 "Actors testing"
I've created simple unit-test using mstest:
[code]
and add dependency to test project:
[code]

When I call it in VS it works fine, but when I call it via `dotnet test` it throws exception:
`System.BadImageFormatException: Could not load file or assembly "Microsoft.ServiceFabric.Actors, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" or one of its dependencies.`

How can I fix it

[2018-03-01 10:38] steph7308 commented on #783
I have the same issue. It appears when a service method has more than 1 parameter. I have a service method with 4 parameters => it fails. I modified the method to pass the 4 parameters inside a single object, and it works. It tried to add an int parameter, it fails :(

[2018-03-01 12:23] mgrishkov commented on #890
**Good news:** `dotnet vstest <path_to_generated_test_library.dll>` works fine!
I'll share sample repo to reproduce issue with `dotnet test` some time later - I'm too busy now.

[2018-03-01 12:32] raunakpandya commented on #882
By default this should be distributed.. I cant think of a reason why its not.. @yltor any idea?

[2018-03-01 12:53] VladyslavPyshnenko commented on #883
@dkkapur I am not losing any messages from this node. Just can see this strange messages in log all the time.  And for me looks strange that I can see messages with "Fatal" log level, and at the same time everything works fine. How could it be possible?

[2018-03-01 14:47] mkosieradzki commented on #887
@kavyako @oanapl
I am sorry for an invalid bug report - but that was all I could figure out basing on a **broken** telemetry. There is a high probability that the root cause was.... ApplicationInsights itself (breaking HttpRequests sent to different services! or at least ruining the telemetry). They have a pending bug manifesting when you register ApplicationInsights multiple times https://github.

[2018-03-01 16:08] OlegKarasik opened #891 "No placement properties information is displayed when expecting Node through the Service Fabric Explorer."
It would be great to have placement properties displayed in Service Fabric Explorer on Node view (currently this can be found in Cluster -> Manifest but this isn't right I think).

P.S. This was found on Azure Standalone Cluster for Windows Server version 6.1.467.9494

[2018-03-01 16:08] OlegKarasik opened #892 "Placement Properties aren't evaluated correctly from Placement Constraints when name contains '-' dash"
Consider the following definition of placement properties in ClusterConfig.json and ServiceManifest.xml.

**ClusterConfig.json**
[code]

**ServiceManifest.xml**
[code]

When cluster configuration and service are deployed to Service Fabric there will be no issues or warnings but no replicas will be created for this service. If you rename `is-custom-property` to `IsCustomProperty` then everything wi

[2018-03-01 17:02] dannycrone opened #893 "Can't seem to create a cluster in UK, choose a size options are all greyed out"
When I go to create a cluster in UK South when it prompts me to choose a size, all options are greyed out with "Not Avaliable". Not that if I choose East US, it seems to allow me to choose an option. This is the image from the UK attempt:
![image](https://user-images.githubusercontent.com/16937257/36858124-383aeb96-1d72-11e8-9baa-dc3c8730cbc6.png)

[2018-03-01 17:15] rishirsinha commented on #889
@aliazamrana

Can you explain what you mean by fails to deploy? Are saying that we provision it and some how create service fabric application / service command fails?

It would also bee helpful if you can explain what you mean by sensitive application.

[2018-03-01 17:17] rishirsinha commented on #891
Please open an issue at

https://github.com/Azure/service-fabric-explorer/issues

Thanks,
Rishi

[2018-03-01 17:17] #891 closed

[2018-03-01 17:17] oanapl commented on #789
The old documentation link was removed.

[2018-03-01 17:17] #789 closed

[2018-03-01 17:57] dbreshears commented on #828
@Soarc.  I was able to repro and also workaround this by specifying both in the stateless1.csproj file

[code]

Does this work for you?  Seems to be producing both builds for me without error

[2018-03-01 18:15] aliazamrana commented on #889
Let me give a complete scenario that. I have a service fabric project that has a few guest executables on it and my stateful service provides an api for them and then those guest executables are used to do trading depending upon the requests they receive from my stateful service.
Now as you see that these guest executables are used for trading it is very important to check their status. Now I have

[2018-03-01 18:50] kavyako commented on #845
@dealboy The error entries you pasted above are the reverse proxy diagnostic logs. can you track a request that failed with its activity ID (eg 75f1fd71-4cc6-4078-bd69-d25bb3e106ef) and see which endpoint it was resolved to. Next step would be verify if the service was up on that endpoint during that time or not.

[2018-03-01 19:08] ChackDan commented on #893
Jenna – can you take a look. It looks like the SKU picker is not working .

https://github.com/Azure/service-fabric-issues/issues/893

From: Rishi Sinha <notifications@github.com>
Sent: Thursday, March 1, 2018 9:23 AM
To: Azure/service-fabric-issues <service-fabric-issues@noreply.github.com>
Cc: Chacko Daniel <chackdan@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [Azure/service-

[2018-03-01 19:49] Telavian commented on #885
Misunderstanding of root issue.

[2018-03-01 19:49] #885 closed

[2018-03-01 19:56] somesh84 opened #894 "Service fabric stateful application crash - Existing must be delete"
Hi I have simple stateful application using reliable dictionary. It has high number of transaction. I have batch commit on my code to improve performance. But after sometime my application crashes with below exception

Errormsg=Existing must be delete Assert=System.Exception:    at System.Environment.GetStackTrace(Exception e, Boolean needFileInfo)
   at System.Environment.get_StackTrace()
   at M

[2018-03-01 20:10] Telavian opened #895 "Fatal error in V2 serialization causes service to crash with no useful information"
I am using the V2 serialization with a custom serializer. It seems that if there is a fatal error in deserialization the hosting service crashes without any useful information.

Specifically the serialization code I was using resulted in a StackOverflowException during deserialization which resulted in the service crashing. This was unfortunatly part of initial data loading after the service start

[2018-03-01 20:10] masnider commented on #894
@somesh84 - can you share the code? Particularly, what do you mean by "batch commit"? If you can provide more information about what operations are in each transaction (add, removes, updates, etc) that would be helpful.

[2018-03-01 20:15] somesh84 commented on #894
this is what I mean by batch commit, prefixesToUpdate to update is a dictionary. I also have lock held thru out this code

          using (var tx = StateManager.CreateTransaction())
                {
                    foreach (var prefix in prefixesToUpdate)
                    {
                        if (prefix.Value == Action.AddOrUpdate)
                        {

[2018-03-01 20:28] festivus commented on #815
The V1 version is also not specified when you target net47. In addition, at runtime I get an error that 'Method 'get_ServicePartitionClient' in type 'XXX' from assembly 'XXX, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' does not have an implementation.' So, compile time it says you don't need ServicePartitionClient { get; } anymore, but at runtime it says it does.

Also, if I create a .n

[2018-03-01 20:40] ChackDan commented on #893
I can’t do anything there without more information – it could be that the sizes are being disallowed by the backend API (which is the more common case). Do you have any additional information here?

From: Chacko Daniel
Sent: Thursday, March 1, 2018 11:09 AM
To: Azure/service-fabric-issues <reply@reply.github.com>; Azure/service-fabric-issues <service-fabric-issues@noreply.github.com>; Jenna Netlan

[2018-03-01 21:30] mani-ramaswamy commented on #861
Thanks @Thialala and @prasadker. @ushasm let us knkow if that unblocked you.

[2018-03-01 21:33] mkosieradzki commented on #887
There is a serious bug in Application Insights making it incompatible with Service Fabric shared process hosting model.

Long story short:
1. `DependencyTrackingTelemetryModule` should work as a singleton as it is subscribing as global DiagnosticListener.
2. It is by default added when creating new WebHost (using `UseApplicationInsights` or `AddApplicationInsightsTelemetry`).
3. It is not added as

[2018-03-01 21:57] dkkapur commented on #883
@VladyslavPyshnenko looks like these are the probes being emitted by WAD to the ETW provider. I'm not sure why only one of your nodes is doing this, is there anything special about your configuration on that particular node? Nonetheless, you can add 'providerHeartbeats=”false”' to your ETW Provider Configuration in your "WadCfg" of your ARM template.json for your cluster, and run an update, to get

[2018-03-01 23:09] somesh84 commented on #894
To add here the first error event I saw in SF before this issue started, attaching all events

Errormsg=Cannot add an item that already exist. Txn: 131644161079020579 CommitLSN: 143316 CheckpointLSN: 0 key: 1921084667203482050 RecordKind: InsertedVersion Assert=System.Exception:    at System.Environment.GetStackTrace(Exception e, Boolean needFileInfo)
   at System.Environment.get_StackTrace()
   a

[2018-03-02 02:52] rishirsinha commented on #889
Are you deploying the services all as a single application? Or is the stateful service creating the guest executables on demand?

The deployment can always fail. But you will be able to see errors. Any time create application fails, it will say so. if the create application has succeeded and instances go down, we will restart them and give a health warning. Either way you will know what is happeni

[2018-03-02 04:51] aliazamrana commented on #889
Yes all the services are deployed in a single application and it deploys fine but I wanted to know how to verify if some service in the application fails to deploy how can I query that through query manager in fabric client in c#

[2018-03-02 05:03] somesh84 opened #896 "Service Fabric Stateful application crash - Current and the version acquired must be same."
Errormsg=Current and the version acquired must be same. Assert=System.Exception:    at System.Environment.GetStackTrace(Exception e, Boolean needFileInfo)
   at System.Environment.get_StackTrace()
   at System.Fabric.Store.Diagnostics.InternalAssert(Boolean condition, String traceTypeSuffix, String message)
   at System.Fabric.Store.ConsolidationManager`5.<ConsolidateAsync>d__15.MoveNext()
   at S

[2018-03-02 05:04] somesh84 commented on #896
Please refer to issue https://github.com/Azure/service-fabric-issues/issues/894 for code

[2018-03-02 05:12] rishirsinha commented on #889
In that case I am assuming you have instance count for the services specified. If that is the case you can use the following:

https://docs.microsoft.com/en-us/dotnet/api/system.fabric.fabricclient.queryclient.getdeployedreplicalistasync?view=azure-dotnet#System_Fabric_FabricClient_QueryClient_GetDeployedReplicaListAsync_System_String_System_Uri_

to find out how many instances are available and m

[2018-03-02 05:18] aliazamrana commented on #889
Yes was doing it the same way my process involved getting deployed list and getting the list of services and then I matched those together to see if one was not in the other. I was hoping there was some other way to just query or filter out the service which failed to deploy

This is how I got the deployed services

 `var deployedServices = fabricClient.QueryManager.GetDeployedServicePackageListAs

[2018-03-02 08:27] Damon227 opened #897 "Breakpoint is not working when debug SF app which debug model is Remove Application"
Hi,
My Service Fabric app's breakpoint is not working which debug model is Remove Application, but it's working when the debug model is Refresh Application.

In particular, my actor install a nuget  pkg which is PostSharp(5.0.45),
before I install PostSharp, the breakpoint is working in Remove Application debug model.

When I build actor, the pdf file will be generate, but when I debug application

[2018-03-02 10:55] dannycrone commented on #893
What more information do you need, I can provide what I can

[2018-03-02 11:59] Dan-cws commented on #392
We had the same issue on our test cluster (only one node). After several attempts (creating and recreating the cluster), we solved only putting certificates in separate key vaults.
Our conclusion is if the certificates are on the same key vault the deployment hangs. We don't know we and there is no indication in the documentation (the example clearly considers the same key vault for the certificat

[2018-03-02 13:14] wirtoo opened #898 "Register-ServiceFabricApplicationType : Operation timed out"
Hello, guys.
I have a very large application, which i'm trying to deploy on Service Fabric cluster and getting
`Register-ServiceFabricApplicationType : Operation timed out`
Can I change Register-ServiceFabricApplicationType default timeout value? How can I do it?
I can try to modify configuration here https://resources.azure.com/subscriptions/ID/resourceGroups/GROUP/providers/Microsoft.ServiceFabr

[2018-03-02 15:18] AndrewJWaite commented on #865
Thanks @vturecek for the reply.

I would like to clarify this statement please.

What is the Reverse Proxy for then?
This article covers access services from outside of the cluster:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reverseproxy

At the moment, we don't have any services which expose http listeners that are not public. However, I can see that if we wanted a priva

[2018-03-02 15:19] AndrewJWaite commented on #865
Thanks @mburumaxwell

I will take a look at the article.

Many thanks, Andy

[2018-03-02 16:51] MikkelHegn commented on #898
Duplicate of https://github.com/Azure/service-fabric-issues/issues/347

Let us know if that issue does not adress your issue.

[2018-03-02 16:51] #898 closed

[2018-03-02 21:34] ChackDan commented on #893
Jenna – what additional information do you need, can you let Danny know. Respond to the github thread directly.

From: Danny Crone <notifications@github.com>
Sent: Friday, March 2, 2018 2:56 AM
To: Azure/service-fabric-issues <service-fabric-issues@noreply.github.com>
Cc: Chacko Daniel <chackdan@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/service-fabric-issues] Can't s

[2018-03-02 22:27] suhuruli commented on #878
We are pushing out a fix for this soon. Apologies for the issue.

[2018-03-03 02:49] AimanJaouhar opened #899 "No Activity from Start-ServiceFabricClusterConfigurationUpgrade"
Hi,

When running `Start-ServiceFabricClusterConfigurationUpdate -ClusterConfigPath .\ClusterConfig1.0.2.json `  on a Standalone 5 node Windows Server 2012 R2 cluster (version 6.1.456.9494), the command quickly returns but no upgrade activity is performed.
The aim was to increase the KtlLogger's `SharedLogSizeInMB` parameter from 2048 to 4096.

An upgrade was successfully performed previously usin

[2018-03-03 07:47] Soarc commented on #828
Thanks for suggested workaround. Can't test it right now. I'll try it and let you know in few days.

[2018-03-03 15:07] virasana commented on #796
Where is the cluster manifest?

[2018-03-05 08:23] aliazamrana opened #900 "Reliable Queues sometimes fails to dequeue or enqueue properly"
I have two reliable queues and they are being accessed by two guest executables and each of them access their own. Sometimes the function I use to access them doesn't update the reliable queue object in the function and the wrong request is sent to the wrong guest executable.

[code]
What happens is that the terminalId is passed by the guest executable to this function in the Get request. Let us s

[2018-03-05 10:11] VladyslavPyshnenko commented on #883
@dkkapur I just found that I was sending logs to ELK only from one node. When I changed it, I have found that I can see this messages with "Fatal" log level from all nodes. How can I verify that  Windows Azure Diagnostics extension works fine to check your theory?

[2018-03-05 10:12] ConX-Ryan commented on #707
@ylbillyli another thing that is likely to cause this is IIS running locally if you have it. just stop IIS using inetmgr and check.

[2018-03-05 10:49] usamaazhar opened #901 "Securing different instances of a service within an application (Question)"
Hi,
Iam working on a scenario where there would be multiple instances (not replica) of a service type. Each downloading a file from internet and working on that file. My question is that is there a way to secure the file downloaded i.e only allow the service that downloaded the file to access the file, my thoughts were that there would be something like creating a user for each instance and only t

[2018-03-05 14:07] wminos opened #902 ".NET Core 2.0 Target Stateful Service occurs "Partition is below target replica or instance count" error in 1-node local cluster."
MinReplicaSetSize/TargetReplicaSetSize is all 1.

.NET Framework Target Stateful service is ok.
but .NET Core 2.0 Target Stateful service occurs error.

## Step (.NET Core 2.0 Target)
Visual Studio 2017 >
New Project >
Service Fabric Application >
**.NET Core 2.0**> Stateful ASP.NET Core (or Stateful Service)

- It occurs error in local 1-node cluster.
  - error in explorer: Partition is below tar

[2018-03-05 14:08] raunakpandya commented on #902
Can you tell us what error do you see?

[2018-03-05 14:13] wminos commented on #902
<img width="1014" alt="2018-03-05" src="https://user-images.githubusercontent.com/36513305/36979437-d5f28d34-20ca-11e8-8b08-6320238f0b57.png">

[2018-03-05 14:20] raunakpandya commented on #902
We would need the traces for the cluster to debug this further. BTW, check if this is related #643

[2018-03-05 14:39] wminos commented on #902
Thank you!
I solved this by adding <RuntimeFrameworkVersion>2.0.5</RuntimeFrameworkVersion> at .csproj.

[2018-03-05 14:41] raunakpandya commented on #902
Glad to hear that worked. Closing issue as duplicate of #643

[2018-03-05 14:41] #902 closed

[2018-03-05 18:51] suchiagicha commented on #895
@Telavian
Were you able to get the service dump and see where the issue is?
Also could you share your Serializer implementation?

[2018-03-05 19:11] zuhairp commented on #867
Hi @framgeld, can you share the traces from your local cluster? You can find the cluster traces fabric_traces_*.etl which is typically present at location %systemdrive%\SfDevCluster\Log\Traces.

[2018-03-05 19:14] Telavian commented on #895
Specifically the issues was with the serialization logic.
The item being serialized implemented IEquatable and inside the Equals()
method it basically called item1 == item2 which resulted in a loop.

This loop caused the stack overflow exception and killed the service.

The IEquatable issue was fixed and the service is working correctly.
In order to reproduce just have a stack overflow in the cust

[2018-03-05 19:49] suhuruli commented on #878
Pushed a fix and the updated image can be obtained from [microsoft/service-fabric-onebox](https://hub.docker.com/r/microsoft/service-fabric-onebox/)

[2018-03-05 23:17] preethasubbarayalu commented on #761
Thanks for updating.

[2018-03-05 23:17] #761 closed

[2018-03-05 23:29] mani-ramaswamy commented on #371
I am closing this issue, since we haven't heard back (our current version is 6.1). Please reopen the issue or open another one if you are still encountering this issue.

[2018-03-05 23:29] #371 closed

[2018-03-05 23:33] mani-ramaswamy commented on #234
Not yet - would you be able to use the DNS service instead?

[2018-03-05 23:57] cimryan commented on #819
@dbreshears Thanks for the workaround. We found that when we removed the "Platforms" element the Configuration Manager became less useful: It just showed "AnyCPU" for these projects. We're guessing that the Configuration Manager doesn't know about the Platform element. So, for now, we have both
[code]

[2018-03-06 02:32] preethasubbarayalu commented on #532
Yes, we will be exposing snapshot support soon.

[2018-03-06 02:32] #532 closed

[2018-03-06 03:17] WhitWaldo commented on #231
I ran into this issue again today, receiving a number of the issues indicated above. Some details first about my build server. I just installed the latest Visual Studio patch (15.5.7) and updated both Microsoft Azure PowerShell (released 2/27/18) and the Service Fabric SDK (to 3.0.467, released 2/20/17) via the Web Platform Installer.

Thereafter, I found myself unable to build my service fabric s

[2018-03-06 10:44] swe-AF commented on #817
I've had a similar issue as initially described. i installed the latest SDK 3.0 building my project locally went well, while a CI build in VSTS failed with `error : The OutputPath property is not set for project...`, which didn't happen before the update.

For me Visual Studio 2017 Professional changes the reference of `Microsoft.VisualStudio.Azure.Fabric.MSBuild.1.6.0` to `Microsoft.VisualStudio.

[2018-03-06 13:04] bobeaton commented on #436
on our production cluster where this happened, I was able to fix it by deleting the application/type and redeploying it. The reason it worked for me (I think), is because when it redeployed, it went to another node (we have a 5 node cluster set up, and it was failing on node 4, but it seems to work fine on nodes 1 & 2)... FYI

[2018-03-06 13:51] rasmus-s commented on #590
@VipulM-MSFT news on this?

[2018-03-06 14:23] heavenwing commented on #262
@Mardoxx @igargov
firewall ACLings still aren't being set up properly by service fabric for RemotingListener's port of  a stateless service
could you re-open this issue?

[2018-03-06 15:16] VladyslavPyshnenko commented on #883
Also, I get a dump from this messages. Maybe it can help to define the source of this strange messages.

  <Event MSec= "33999.0113" PID="3164" PName=        "" TID="4656" ActivityID="20fe135f5ba44b98b33973e4e367bd8a" EventName="EventSourceMessage"
  TimeStamp="03/06/18 14:35:28.559441" ID="0" Version="0" Keywords="0xFFFFFFFFFFFFFFFF" TimeStampQPC="272,018,799,561"
  Level="Critical" ProviderName=

[2018-03-06 15:56] steve-hawkins commented on #710
@eimerreis choco can use webpi as a source and will install the webpicmd if not already present, so you could simply use:-
`choco install MicrosoftAzure-ServiceFabric-CoreSDK --source webpi --confirm`

[2018-03-06 16:08] deshengio opened #903 "Websocket compression handshake was blocked by Application Gateway"
besides the issue described in (https://github.com/Azure/service-fabric-issues/issues/421) , another issue related to "Sec-WebSocket-Extensions" is:
Websocket request with compression feature will have header like:
[code]

this kind of request will be rejected by application gateway with error 400:
[code]

However, same application works well when Azure basic load balancer is used.

[2018-03-06 16:09] mani-ramaswamy commented on #829
@UsamaAslam23  -  Closing this since I assume the issue was mitigated. Pls reopen if you are still hitting issues.

[2018-03-06 16:09] #829 closed

[2018-03-06 16:11] mani-ramaswamy commented on #593
@SixFootRhino Closing the issue since we've not heard back for 4 months. Please reopen the issue if you are still hitting it.

[2018-03-06 16:11] #593 closed

[2018-03-06 16:12] mani-ramaswamy commented on #679
Closing teh issue since we've not heard any updates.  We're currently on 6.1 of the runtime - please let us know if you are still hitting issues there.

[2018-03-06 16:12] #679 closed

[2018-03-06 16:45] jbarber2016 opened #904 "Getting error with Standalone CreateServiceFabricCluster.ps1 on 6.1.467.9494"
When I run CreateServiceFabricCluster.ps1 with -Verbose, I get the following output.

VERBOSE: System.AggregateException: One or more errors occurred. ---> System.AggregateException: One or more errors
occurred. ---> System.MissingMethodException: Method not found: 'System.String
System.Fabric.Strings.StringResources.get_Error_BPAMachineIsDomainController()'.
   at
Microsoft.ServiceFabric.Deployme

[2018-03-06 18:37] mattrowmsft commented on #677
6.1.467 is released now.

[2018-03-06 18:37] #677 closed

[2018-03-06 20:53] maburlik opened #905 "SDK for VS2017 installation does not install SF runtime dependency"
The issue could happen in a few different ways
–	If you only have SDK installed, it only checks that this item is installed and not its dependencies.
–	If upgrading the SDK.

This is a behavior of WebPI so we need to surface these dependencies and discovery hints at the parent product item.

The fix will be pushed to the feed soon.

[2018-03-06 21:25] #903 closed

[2018-03-06 21:29] donykyyenko commented on #878
Thank you for the update.

I run into the same issue with the new image.
I tried it twice. Completely removed container and image from my machine. Then i pulled a new one, started it and got the same result.
I can see that new image is pulled from docker hub
but in statistics it doesn't look like a fresh one
REPOSITORY                                      TAG                 IMAGE ID            CR

[2018-03-06 21:59] suhuruli commented on #878
Can you try resetting your docker environment to rule out any caching if you are able to?

Docker Icon -> Preferences -> Reset -> Reset to factory defaults

[2018-03-07 05:18] ashishnegi commented on #904
This problem usually occurs if you have older SF instances around on the machine.

Check your %PATH% for any folders which have older versions of Service Fabric runtime `Fabric.Code` folder.
Can you try this on a clean machine ?

[2018-03-07 06:46] karataliu commented on #766
@Tadimsky 's solution works.

Please consider adding a note `x64 is only supported platform` somewhere in nuget package.

[2018-03-07 09:47] GnanaSelvan commented on #813
Excellent. Its working for me after i removed the local cluster from system tray. and exited the service fabric cluster running in local.

[2018-03-07 11:36] zaphide commented on #803
Noticed same issue (and killing ICS service does seem to clear the issue).

This also resulted in a build up of excessive CPU usage for both FabricDnsService and FabricGatewayService that would build gradually over time.

[2018-03-07 12:17] sondreb commented on #505
I get the same error on release from VSTS, have not used ResourceOverrides before and attempted to use it, but it appears that the EndpointBindingPolicy is unable to find the resource when used in combination with ResourceOverrides?

[2018-03-07 15:28] RaleS opened #906 "Windows firewall rule not created when using port 444"
We have an app with endpoint using port 444 on Kestrel.
<Endpoint Name="HttpGatewayTypeEndpoint" Protocol="https" Type="Input" Port="444" CertificateRef="WebCertificate"/>

The cluster has port 444 publicly open and the load balancer has a rule setup.

The windows firewall rules are not created on port 444 for this application, and this makes the app inaccessible. All the other applications on por

[2018-03-07 16:41] smphayward commented on #192
@VipulM-MSFT The issue seemed to sort itself out after rebuilding the cluster but we just had it occur again. Took us 3 days to track down. This time, RunAsync() was firing on the Secondary Replica. It reported itself as the Primary Replica but any attempt to change a Reliable Dictionary resulted in FabricNotPrimaryException.

We had 4 partitions in that service and the issue only effected one of

[2018-03-07 17:56] dbreshears commented on #817
@swe-AF,   Can you share your SFProj and the service project files or a repro of this?   I assume that building from the command line with MSBuild locally is also failing.

[2018-03-07 18:40] tugup commented on #505
Will need to investigate for a possible fix for this.

[2018-03-07 18:57] alexgman commented on #447
I'm having this same issue. The full [appmanifest is here. ](https://pastebin.com/zB9gt5r0).

Here's the error:
[code]
Do I need to upgrade something?

My VS version:

Here are my SF packages:
[code]

*What am I doing wrong?*

[2018-03-08 02:10] mcoskun commented on #896
Hi @somesh84 . Are you using primitive type TKey or a custom class type TKey in your IReliableDictionary<TKey, TValue>?

If you are using your custom class, a reason why you may run into this is, IComperable<TKey> is not correctly implemented for your TKey. Specifically, if the CompareTo returns 0 (or Equals returns true) for two keys that are not logically same.

For example, if you have key of t

[2018-03-08 04:41] DaemonTrey opened #907 "New Project - Misconfigured Stateless Services"
I've recently noticed that the service references in our sfproj are displaying as if they are in a warning state, despite no warnings being visible. While trying to figure out why they are displaying this way I thought to compare them to a brand new sfproj with a stateless service. It however has the same problem as seen here: https://www.screencast.com/t/scjN3eT2OGv
In addition, attempts to re-ad

[2018-03-08 06:04] alexgman commented on #375
Any updates?

[2018-03-08 12:57] wminos opened #908 "Cannot create cluster on azure region 'koreacentral'."
https://azure.microsoft.com/en-us/regions/services/
This page says it supports on that region.
(both 'service fabric' & 'VM Standard_D2_v2 (Dv2-series)')

But cannot create cluster using portal and cli both.
(in portal, all vm selections are gray color)

[2018-03-08 13:26] framgeld commented on #867
@BharatNarasimman This issue can now be closed. Thanks to everyone involved for their assistance.

For others experiencing the same issues, these were the causes:

1. The **ServicePartitionClient** constructor has an optional **listenerName** parameter. I was not setting this value.
2. This was related to async programming. The WCF client's WCF method was attempting to run asynchronously on the sa

[2018-03-08 13:28] framgeld commented on #874
@BharatNarasimman This issue can now be closed. For others reading this and experiencing the same issue:

This was related to async programming. The WCF client's WCF method was attempting to run asynchronously on the same ASP.NET worker thread that spawned the async Task for the WCF method call. As a result, it was causing deadlocks. I ensured my API "all the way down" was changed to use async / a

[2018-03-08 13:28] #874 closed

[2018-03-08 13:28] #867 closed

[2018-03-08 15:26] rexwhitten commented on #835
@dbreshears  - Thanks for the response.  Nothing showed up in fiddler, however my success with fiddler is 50/50 in any case).  I cant see the whole path in the UI before it would crash, but its downloading from vortex. (Microsoft vortex that is).

Besides my followup question, I think I am passed this issue. Appreciate everything you guys do.

[2018-03-08 17:13] Flern commented on #711
My teams also have a need to build SF applications in Docker containers.  Our build servers are limited on VMs due to VM overhead but can spin up containers on demand to meet load.  The whole CI pipeline is Docker-based and we are having difficulty supporting SF builds.  Ideally we'd like to be able to stand up a dev cluster in a Docker container as well for integration / acceptance testing.

[2018-03-08 17:54] rexwhitten commented on #710
@steve-hawkins  - This seems to be missing a step.  After running the above choco one liner, I am unable to use  Import-Module ServiceFabric for example.   It does not have all the DLLs installed or GAC'd correctly.  Is this potentially a problem in the choco package it self?

[2018-03-08 17:54] rishirsinha commented on #901
The security boundary for SF apps is the application instance. Application instance 1 can isolate against application instance 2 by providing run as accounts which are overwritten at application create time. Once that happens we will provide the correct ACLs to ensure that the work directory of different applications are only accessible by the run as user specified.

However, if you do not want to

[2018-03-08 17:54] #901 closed

[2018-03-08 18:13] #414 closed

[2018-03-08 18:15] kavyako commented on #659
@mattcorr A node reboot is not required for cert updates for the reverse proxy. We have logic in place to monitor the cert if it is updated and start using it. Could you share some more details to help us identify if this is a bug. Correct me if I am wrong, the scenario you have is:
1. Reverse proxy certificate is specified using common name.
2. This cert was updated on all the nodes.
3. When you

[2018-03-08 18:17] #617 closed

[2018-03-08 18:30] MikkelHegn commented on #897
@ravipal: Can you please help

[2018-03-08 18:34] kavyako commented on #871
This is usually seen when reverse proxy is forwarding the response to the client but the client has disconnected the request. Could you check if that is the case? Do you have any telemetry at the client side to verify this?
Also refer [Reverse proxy diagnostics](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reverse-proxy-diagnostics) doc for further troubleshooting tips.
You

[2018-03-08 18:35] MikkelHegn commented on #884
Hi @ConX-Ryan - thank you for the propsal. I'll hand it over to the Visual Studio tooling people. There is an option to run any script after application deployment, to create services with specific parameters. Maybe that could be used in this scenario?
@dbreshears - to help with this feature.

[2018-03-08 18:37] MikkelHegn commented on #854
@esbenbach - Is this remote or locally? Is the problem to find which process hosts the service?

You should be able to just attache to the .exe hosting your service - both locally ande remote. SFX (and APIs) should be bale to tell you the process ID the service is hosted in.

[2018-03-08 18:49] rakshitatandon commented on #899
Can you share your old and new cluster config as well as traces from FabricLogRoot ? You can send them ratando@microsoft.com . We are working on improving the diagnostics experience.

[2018-03-08 18:56] MikkelHegn commented on #818
There is a lot of pieces in play here. Have you done anything to narrow down the possible bottlenecks in this scenario? Where's the SQL Server hosted (In a VM?) - What's the genereal performance of the SQL Server? etc.

Trying to figure out where the real bottleneck, by taking out a few variables, would be a great next step. If it's only write operations, have you looked at the disk performance on

[2018-03-08 19:00] esbenbach commented on #854
Remotely when the cluster is runnin in azure. The "issue" is that the same .exe is deployed in multiple version with multiple configurations on the same cluster, so attaching to "My.Awesome.Service.exe" across all nodes makes little sense because it is actually X different sources and Y different symbols that are required, and in our case it also has different configurations. Even though it was th

[2018-03-08 19:07] MikkelHegn commented on #766
Thanks for the feedback, we will update the NuGet package description to be more specific.

[2018-03-08 19:07] #766 closed

[2018-03-08 19:59] ravipal commented on #897
@Damon227 Looks like the nuget package PostSharp is messing with the pdb file generation. You need to set the property DebugType=full to generate the property pdb file. I was able to repro the breakpoint not hitting issue, but once I added the DebugType=full, it works.

You added this property conditionally, can you please set this property without any condition. Also is there any error in output

[2018-03-08 20:07] dbreshears commented on #884
@ConX-Ryan , Yep, thanks, as you discovered we pass in either Local.1Node.xml or Local.5Node.xml of the publish profile to the deploy script on F5 based on how the cluster is configured   I am not sure we have a good solution for you at this time and will add this suggestion to the tooling backlog.  I believe the feature Mikkel is referring too is to create a script named "Start-Service.ps1" in th

[2018-03-08 20:15] dbreshears commented on #822
@klettier ,  thanks for letting us know.     How do you get an invalid publish profile?  The Deploy-FabricApplicaiton.ps1 was intended for use inside of VS and perhaps customize within the context of VS debugging,  are you hitting this on F5 or in VSTS  CI/CD,  or just running from the command line?  If running from the command line I would recommend to just target the Service Fabric PS cmdlet's i

[2018-03-08 20:30] dbreshears commented on #907
@DaemonTrey ,    the warnings triangles are known issue with compatibility of CPS (common project system) and our deployment project so that aspect can be ignored.

Can you please share the debug output of your VSTS build after setting the build variable  "System.Debug"  to true?

[2018-03-08 20:34] rwike77 commented on #714
@blrchen @masnider  Yes, I think we do need an example of this in our docs.  I'm working on a tutorial segment right now. @WhitWaldo, good example.

[2018-03-08 20:35] MikkelHegn commented on #572
Suggest closing this issue.

[2018-03-08 20:35] #572 closed

[2018-03-08 20:46] ravipal commented on #835
Closing since customer is not hitting this issue anymore.

[2018-03-08 20:46] #835 closed

[2018-03-08 20:50] ravipal commented on #788
This is fixed in 1.6.5 version of Microsoft.VisualStudio.Azure.Fabric.MSBuild nuget package.

[2018-03-08 20:50] #788 closed

[2018-03-08 20:54] ravipal commented on #582
#823

[2018-03-08 20:55] #582 closed

[2018-03-08 21:00] ravipal commented on #771
The nuget package (1.6.4) has the fix. Please add the property \<PackageOutputFolder>true\</PackageOutputFolder> to *.sfproj to change the package behavior that will include all the files from output folder.

[2018-03-08 21:00] #771 closed

[2018-03-08 21:20] ckittel commented on #865
So, we found out @AndrewJWaite  that it's actually a somewhat soft limit and can be raised to 40 (actual hard limit?).  I know that it's a complete answer/solution, but it's buying us time before something like an integrated ingress proxy is added to the platform.

[2018-03-08 22:09] oanapl commented on #888
@awcab , I haven't heard back from you. I hope cleaning the disk helped the replica to open successfully.
I will close the issue, if you are still having trouble, feel free to re-open or open another issue.

[2018-03-08 22:09] #888 closed

[2018-03-08 22:12] oanapl commented on #886
@HaakonL , I haven't heard back from you. I will close this issue, feel free to re-open or open a new one if you still have trouble.

[2018-03-08 22:12] #886 closed

[2018-03-08 23:17] oanapl commented on #718
We improved the error message in our incoming 6.2 release.

[2018-03-08 23:17] #718 closed

[2018-03-09 01:29] DaemonTrey commented on #907
Hello @dbreshears -- Thank you for your interest.

Certainly:

2018-03-09T00:57:21.7297631Z ##[debug]Evaluating: succeeded()
2018-03-09T00:57:21.7298060Z ##[debug]Evaluating succeeded:
2018-03-09T00:57:21.7298809Z ##[debug]=> (Boolean) True
2018-03-09T00:57:21.7300016Z ##[debug]Expanded: True
2018-03-09T00:57:21.7301445Z ##[debug]Result: True
2018-03-09T00:57:21.7302130Z ##[section]Starting: Deplo

[2018-03-09 03:15] mattcorr commented on #659
We had situation 4. The reverse proxy certificate was the same. We were just updating how it was getting referenced. (From thumbprint to common name).

Honesty, it has been so long since this was mentioned I am a bit fuzzy about it. But I will be getting back to this next week. I'll see what is happening now when we upgrade to SF 6.1 on our on Prem servers.

[2018-03-09 05:26] knowhoper opened #909 "Azure Service Fabric StatefulService remoting timeout (.Net Core 2.0)"
I have a strange issue with a Stateful service timing out, only when called downstream by another service. The idea of this project is to record the latency of hops between nodes, given n number of hops. The implementation is in 3 projects:

1) API - to call downstream to the worker
2) Worker Service - to decrement a count and call another WorkerService
3) Result Service - to record the results to

[2018-03-09 06:11] BharatNarasimman commented on #909
@knowhoper  what is the exception you are seeing.
In your code you need not create the service proxy factory everytime. For the code you have above, you can just use ServiceProxy.create - https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicefabric.services.remoting.client.serviceproxy.create?view=azure-dotnet

[2018-03-09 07:04] knowhoper commented on #909
{"ClassName":"System.AggregateException","Message":"One or more errors occurred.","Data":null,"InnerException":{"ClassName":"Microsoft.ServiceFabric.Services.Communication.ServiceException","Message":"The exception System.TimeoutException was unhandled on the service and could not be serialized for transferring to the client.\r\nDetailed Remote Exception Information: **System.TimeoutException: The

[2018-03-09 07:08] knowhoper commented on #909
The exception is not thrown if the reliable collection interactive is removed from the downstream service. So we assumed the issue was not Service Fabric Remoting

[2018-03-09 09:41] wminos opened #910 "'New-AzureRmServiceFabricCluster' occurs error unlike 'az sf cluster create'"
I had tried both shell script examples.
* az cli example: https://docs.microsoft.com/en-us/azure/service-fabric/scripts/cli-create-cluster
* powershell example: https://docs.microsoft.com/en-us/azure/service-fabric/scripts/service-fabric-powershell-create-secure-cluster-cert

Of course, I didn't use same resource name at page.

'az sf cluster create' makes user access policy in vault,
but 'New-Azu

[2018-03-09 12:06] vslepakov commented on #870
We also have this problem. In our case FabricDCA wakes up periodically and causes very high CPU load for about 10-30 seconds. This has a negative impact on the overall performance of our system. If I am correct there should a fix in 6.1.457.xxxx but this version is not available in West Europe.
Are there any updates on this?

[2018-03-09 12:08] HaakonL commented on #886
Hi @oanapl,

I didn't respond to this as I saw that there were several other similar issues registered. I forgot to write in the initial post that to deploy from my local machine, I also had to edit the Powershell script and set a TimeoutSec 3600 parameter on the Upgrade task.

The other threads shows that this is a known bug, and that people has waited for a fix for several months. When will you

[2018-03-09 13:25] juho-hanhimaki commented on #870
Not related to containers, but our system is also experiencing high cpu usage by DCA. It uses remoting v2 at high rate (up to thousand calls per second per node). I guess every remoting call gets logged and it causes the DCA to spike the cpu and disk when it goes to work.

I had azure support ticket to investigate this and outcome was that sometime in the future the team will look into implementin

[2018-03-09 16:16] inzi25 commented on #431
I am not using service fabric service. but I'm getting same error.
Can you please share the full policy update code

[2018-03-09 16:20] hanxinimm opened #911 ".NET CORE Microsoft.ServiceFabric.Services.Remoting"
[code]
Or

[code]

build exception

2>Actor1 -> C:\Users\HanXin\Documents\Visual Studio 2017\Projects\Application3\Actor1\bin\Debug\netcoreapp2.0\win7-x64\Actor1.dll
2>Assert Failure
2>Expression: [Recursive resource lookup bug]
2>Description: Infinite recursion during resource lookup within System.Private.CoreLib.  This may be a bug in System.Private.CoreLib, or potentially in certain extensibili

[2018-03-09 17:00] oanapl commented on #886
@HaakonL , @amanbha is adding a timeout parameter for register application type. Since there are other issues opened for this, let's track the progress there.

[2018-03-09 17:04] #831 closed

[2018-03-09 18:00] dbreshears commented on #907
What is your Application package path set to in your Deploy Service Fabric Application task?   It seems it might be the issue.  It should be $(system.defaultworkingdirectory)/**/drop/applicationpackage

![e460e790](https://user-images.githubusercontent.com/3432571/37221998-8de04bc2-2380-11e8-9ca7-dac66116d199.png)

[2018-03-09 18:47] NCarlsonMSFT commented on #907
@DaemonTrey slight clarification: $(system.defaultworkingdirectory)/**/drop/applicationpackage is the default and works in the majority of cases. If it doesn't work in your case use the "..." button next to Application Package to select the path to the application package in the appropriate artifact.

[2018-03-09 19:01] maburlik commented on #905
WebPI fix has been rolled out as of 3/9. The reason this was happening was because the discovery hint to check whether runtime was installed was hooking against something that wasn't reliable. Changed this to check whether the Service Fabric registry key is present.

[2018-03-09 19:02] #905 closed

[2018-03-09 20:15] vmendi commented on #505
This also bit us.

It forces us to install a self-signed ssl cert in every development machine which adds friction. We don't care about testing encryption when we are on local development.

[2018-03-09 21:09] alsantam commented on #839
This error is probably due to not having administrator privileges on each of the machines. Please make sure you have admin privileges on the deploying machines as described here (in the administrator privileges):
[https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-standalone-deployment-preparation](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-clust

[2018-03-10 00:35] zuhairp commented on #909
@knowhoper, can you try moving the ```var res = await Results;``` statements to outside the transactions and let us know if that works?

[2018-03-10 02:49] knowhoper commented on #909
@zuhairp  thank you for your response. I tried the following and unfortunately the behaviour was the same:

[code]

Interestingly, creating the transaction in isolation does not yield an error. Its the GetOrAddAsync that fails. Locally this all works fine, but remotely, in a secure cluster it fails.  Do I need to configure the ReplicatorSecurityConfig construct in my

?

My cluster manifest is her

[2018-03-10 06:05] vi1996ash commented on #839
Thank you for your reply. This was not actually the case, I was using windows 10 for this cluster that is why it was not working. when i switched to windows server it was working perfectly fine.

[2018-03-10 06:05] #839 closed

[2018-03-10 06:24] alexmarshall132 commented on #496
Please re-open this issue. It is not solved as of Service Fabric 6.1.467.9494. This is on a fresh install of Windows 10 mind you:

![image](https://user-images.githubusercontent.com/1800742/37239037-0c9a7b70-23f1-11e8-97a7-7e25241b51e3.png)

[2018-03-10 14:47] HaakonL commented on #877
Hi,

I downgraded to Bronze reliability, and it took several hours. I checked in the SF Explorer and saw that the disabled node was no longer in the list of nodes, only 3 healthy nodes was showing.

Then I upgraded to Silver reliability, which also took several hours.

Now, 24 hours later, there are still only 3 nodes in the list in the SF Explorer.

This system seems totally unreliable in my opin

[2018-03-10 19:34] jarzynam commented on #130
I am on investigation if Service Fabric would fill all requirements of my building from the scratch enterprise project and I can't believe you are forcing developers to keep all micro-services across one Visual Studio solution. Moreover you are trying to convince them this is the best approach.

Hear people voice, there are situations where it will not work well. Be flexible, or competitive projec

[2018-03-11 08:09] sujithnani commented on #881
Thanks team for the help.

Facing another issue now when a service has multiple replicas which are having different partition id's. As we have to pass partition id as a parameter, Can you please suggest how can we find right Partition id out of multiple.

[2018-03-11 19:01] jbarber2016 commented on #904
I try this on clean machine.  Now getting these errors:

PS F:\Temp\Microsoft.Azure.ServiceFabric.WindowsServer.6.1.467.9494> .\CreateServiceFabricCluster.ps1 -ClusterConfigFile
Path .\ClusterConfig.Unsecure.MultiMachine.SFProd.json -AcceptEULA -Verbose
Trace folder already exists. Traces will be written to existing trace folder: F:\Temp\Microsoft.Azure.ServiceFabric.Wind
owsServer.6.1.467.9494\De

[2018-03-11 22:32] alexwilsh commented on #840
Hi,

I tried all workarounds mentioned here and in other threads but the issue is still there.
I already tried 1.6.2, 1.6.3, 1.6.4 and 1.6.5.
I can successfully build my sfproj locally and deploy it to Azure. But running dotnet build on VSTS for my solution brings the issue with Microsoft.VisualStudio.Azure.Fabric.Application.props file in every case.

What am I missing? I would appreciate any ide

[2018-03-12 04:28] rishirsinha commented on #877
HaakonL,

Did you scale up the VMs before upgrading the reliability tier?

Thanks,
Rishi

[2018-03-12 04:31] rishirsinha commented on #877
I agree with you, that there should be easy to use set of steps (ideally with little intervention on your side). Please work with us in improving this experience. One thing I would point out though is that a 3 node primary node type is not a good option for a production cluster. I would recommend minimum 5 nodes.

[2018-03-12 14:58] tkumark opened #912 "The content in ConfigPackage Name:Config and Version:1.0.0.20180312.1 in Service Manifest 'SampleWebPkg' has changed, but the version number is the same."
Hi

I get the following error when I deploy through CI/CD using VSTS.

I have already tried issue [548](https://github.com/Azure/service-fabric-issues/issues/548) where we set CompressPackage = false. this did not help

Is there any other suggestion that i need to follow. I followed the steps in the below link

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-deploy-ap

[2018-03-12 15:06] jbarber2016 commented on #904
Ok nevermind.  I had wrong IP address.

[2018-03-12 15:37] mkosieradzki commented on #887
This is the upstream bug: https://github.com/Microsoft/ApplicationInsights-aspnetcore/issues/621

[2018-03-12 16:44] dbreshears commented on #840
@alexwilsh,  Any reason why you are using dotnet build?    Building the solution with .sfproj will require using MSBuild in the VSTS build definition.   Also, you should make sure to use "Use Nuget 4.3.0" and "NuGet restore" tasks prior to the Build solution task

[2018-03-12 17:06] #904 closed

[2018-03-12 17:50] MikkelHegn commented on #130
@jarzynam You're free to use the VS Solution concept the way it fits to your needs. You are not forced to use one solution, these are all compose-able components you put together for your needs. There is a default path in VS, which makes it easy to get started and puts you on a good path. But as with any real production system, you'll have to make decisions down the road on how the structure and w

[2018-03-12 17:58] profet23 commented on #874
@framgeld I'm running into the same issue in that I need to be able to resolve a service fabric endpoint from within the `Startup.Configure` method.   any ideas on how to resolve this?

[2018-03-12 20:26] klettier commented on #822
Hi @dbreshears

Thank you for your reply, I'm running it from the command line.
The interesting part of this script is the **PublishProfile** [parsing](https://github.com/Azure-Samples/service-fabric-dotnet-getting-started/blob/master/src/GettingStartedApplication/GettingStartedApplication/Scripts/Deploy-FabricApplication.ps1#L129) and it's why I'm using it directly.

Any plan to extract this func

[2018-03-12 20:28] alexwilsh commented on #840
@dbreshears, That is interesting question :)
I used dotnet build in my local scripts before we decided to go with VSTS. I have .NET Core projects and that was like the option by default. The most interesting thing - it worked locally and that was something that confused me when we switched to VSTS.
But after your question I switched to Visual Studio Task. I also added NuGet tasks before VS Task as

[2018-03-12 20:58] CamSoper opened #913 "Inline documentation: Document clarity: IReliableQueue API concurrency"
This is a reference doc issue that requires a change to the underlying `///` comments.

From @yatli (https://github.com/Azure/azure-docs-sdk-dotnet/issues/405):

[2018-03-13 00:39] Igorbek opened #914 "Property Management API in PowerShell"
Is any plan to support functionality to manage service properties in PowerShell?
Looks like `sfctl` has it [supported](https://github.com/Azure/service-fabric-cli/pull/53), but not PowerShell.

[2018-03-13 00:51] dkkapur commented on #883
@brahmnes for further comments.

@VladyslavPyshnenko to validate if WAD is working - are you getting any other events from Service Fabric in ELK at all? Or just these?

[2018-03-13 02:48] francescocristallo opened #915 "Stateful Service not working with 50+ partitions"
Servicer Fabric live server,  version 6.1.467.9494 on Windows Server 2016
Asp.net Core 2.0 Stateful service, Remote V2

Low Key | -7968993439842526272
High Key | -7932099951695107169
500 partitions
TargetReplicaSetSize" Value="3"
MinReplicaSetSize" Value="2"

The same exact service **with 50 partitions works perfectly**.

This is what I see in SF Explorer right after the upload with no live traffi

[2018-03-13 05:35] qmarc commented on #899
There appears to be a few outstanding issues, which could be a combination of my errors and MS documentation which poorly describes what functionality should work on-premise versus Azure cloud, there is a lack of distinction in the documentation. The online docs does not tell you how to describe some elements, an example being the KtlLogger, the SharedLogId, is the guid a randomly generated thing?

[2018-03-13 08:23] VladyslavPyshnenko commented on #883
@dkkapur I am getting other events also (like ActorTypeRegistered and etc.)

[2018-03-13 09:50] iparimal commented on #327
I've fixed this using NSwag.
I’ve removed “Swashbuckle.AspNetCore” and using “NSwag.AspNetCore” now. It works without any issue.

[2018-03-13 10:45] murrays commented on #257
I'm seeing a similar issue when packaging for sf deploy.  We have mixed framework standard projects.  I have converted problem .sfproj to by reference projects and it appears to build ok.  I am seeing framework overrides when I use standard packages, notably System.Net.Http
We are on framework 4.6.1 (we tried 4.7.1 but thats not currently Azure supported, go figure).
So for framework, assembly ver

[2018-03-13 12:54] MarekLani opened #916 "Powershel script does not get invoked in SetupEntryPoint"
Hello, I have followed instructions from documentation: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-runas-security#start-powershell-commands-from-a-setup-entry-point , in order to run powershell script using SetupEntryPoint. I followed the exact steps mentioned in documentation, and Powershell script does not get invoked neither on local cluster, neither in Azu

[2018-03-13 13:45] sujithnani commented on #881
Request any one of the team to suggest an approach.

thanks in advance

[2018-03-13 14:45] HaakonL commented on #877
Hi,

If you look at this thread, you'll see that we had 5 nodes, and one got disabled because of a failure in Service Fabric itself. The recommended steps was to reduce the reliability to Bronze to get rid of the disabled node. It is very frustrating that you reply to this thread and point your finger at us 3 nodes are not good for production. We of course know that - we never wanted 3 nodes in th

[2018-03-13 17:19] francescocristallo commented on #877
I have the same problem since a year. I spend more time in fixing the cluster (usually creating a new one) than working on the actual code. I'm very disappointed, and I think Service Fabric should not have been GA. Last night I had the VM Scale set stuck again just for downscaling the VM using the Autoscale "Night rule" from 14 to 8, I created a new production cluster, routed all the traffic there

[2018-03-13 17:32] hbailles3 commented on #516
Was this ever fixed?  I'm still running into this same issue when debugging locally with a 1 node cluster in Auto Upgrade debug mode.

[2018-03-13 17:45] andersosthus commented on #516
@hbailles3 Not sure if the fix has been pushed out or not, but if you change the value in your ClusterManifestTemplate.json, you'll need to reset your local cluster before the change is applies if I'm not mistaken.

[2018-03-13 17:59] murrays commented on #257
Ok I got some more observations and a potential solution tho its not nice.
Looking at the verbose output I can now see that MSBUILD is copying from the framework directory for things like System.Net.Http, even though during build it has selected the Build Extensions one and created a binding redirect to 4.2.0.0

I have created a post package target that copies all binaries into the pkg\Code direct

[2018-03-13 18:05] ravipal commented on #257
Can you please try it by setting the \<PackageOutputFolder>true\</PackageOutputFolder> to *.sfproj to change the package behavior to include all the files from output folder? This new feature is available in the latest 1.6.5 nuget package.

[2018-03-13 20:13] dkkapur commented on #883
@VladyslavPyshnenko how about other events from the Operational Channel - any events for app deployment, upgrades, scaling?

[2018-03-13 20:20] #895 closed

[2018-03-13 20:47] masnider commented on #325
Ghost is @mansoormohsin, had a bit of an account kerfuffle.

[2018-03-13 20:48] masnider commented on #175
Ghost is @mansoormohsin, had a bit of an account kerfuffle.

[2018-03-13 21:08] Eneuman commented on #327
@iparimal Can you please show us your configuration as I can not get this to work

[2018-03-13 21:46] suchiagicha commented on #497
@Marusyk
V2 default Serializer works not just with primitive Type. It works with concrete type also. What do you mean by domain models?
If you have concrete type you can use v2  in production.

[2018-03-13 21:49] linggengmsft commented on #644
This support will be released in v6.2 as "ExternalExecutable", please notice our release note for details.

[2018-03-13 21:49] #644 closed

[2018-03-13 21:52] preethasubbarayalu commented on #909
@knowhoper, Is this timeout persistent?  How many concurrent calls are trying to create this dictionary - "results"?

[2018-03-13 22:15] MarekLani commented on #713
@BharatNarasimman please was this already solved, or is it stil needed to use work around?

[2018-03-13 22:15] guibirow commented on #325
@ghost, @masnider: looks like there is a misunderstanding here with the issue I have opened a while ago.
When I first raised the issue, it was clear that we could reach a similar result with partitioning, I didn't open it to find a way to do it, but to make it better, because the partitioning is a hack way of doing it and has it's limitations.

if you guys need a example to understand the problem,

[2018-03-13 22:21] codepic commented on #819
I had to add

[code]

for all the projects in my solution and then remove the AnyCPU solution configuration.

But it did the trick.

[2018-03-13 22:35] knowhoper commented on #909
@preethasubbarayalu  thanks for your response. The timeout is persistent in this project, and there is only 1 call to the service. I have rebuilt the project elsewhere and it works, so maybe we can close this ticket. But it would be really useful to know why it fails both on prem and in Azure?

[2018-03-13 23:08] dkkapur commented on #722
@alecor191, I'm going to go ahead and close the issue for now. Let us know if the suggested path does not work.

[2018-03-13 23:09] #722 closed

[2018-03-14 00:03] ConX-Ryan commented on #537
What is the default user password for these ? i have a conflict with HP Sure Start and it appears that these users are the only windows users displayed

[2018-03-14 00:05] Marusyk commented on #497
@suchiagicha

Thanks for "quick" response. By "domain models" I mean any model (class). You say:

But did you read the error that I posted? I'll copy

I'm using example from site but with model like
[code]

[2018-03-14 02:31] Damon227 commented on #897
@ravipal When I set the property without any condition, it works. Thank you!

[2018-03-14 02:31] #897 closed

[2018-03-14 03:38] oanapl commented on #537
There is no default password, we generate the password by hashing a secret using the specified certificate found on the node. The same algorithm is used on all nodes, so we can then use NTLM to authenticate the SMB shares our image store needs.

[2018-03-14 05:16] ashishnegi commented on #911
This is netcore bug. @hanxinimm Try fix provided at https://github.com/dotnet/corefx/issues/23608#issuecomment-325422701

Or update your dotnet runtime to 2.0.3.

[2018-03-14 05:59] iparimal commented on #327
@Eneuman
Here are steps to follow:
Install-Package NSwag.AspNetCore

Add below refs:
using NSwag.AspNetCore;
using System.Reflection;
using NJsonSchema;

public void Configure(IApplicationBuilder app)
{
    app.UseStaticFiles();

    // Enable the Swagger UI middleware and the Swagger generator
    app.UseSwaggerUi(typeof(Startup).GetTypeInfo().Assembly, new SwaggerUiSettings()
    {
        Defau

[2018-03-14 06:25] hanxinimm commented on #911
@ashishnegi

i know it is netcore bug.

it still does not work

![image](https://user-images.githubusercontent.com/13499426/37386375-1e27850e-2793-11e8-90e4-eed2d64b857a.png)

[2018-03-14 06:56] ashishnegi commented on #911
@hanxinimm Can you share result of command `dotnet --info` ?

Also, please share log generated by below command after setting environment variable: `COREHOST_TRACE=1`

command: `COREHOST_TRACE=1 dotnet "obj\FabActUtilTemp\FabActUtil.dll" /spp:"PackageRoot" /t:manifest /sp:"Actor1" /in:"bin\Debug\netcoreapp2.0\win7-x64\Actor1.dll" /arp:"C:\Users\HanXin\Documents\Visual Studio 2017\Projects\Applicat

[2018-03-14 07:02] robgonfer opened #917 "High memory usage on fabric.exe"
On our 5 node cluster running SF version 6.1.467.9494 we are seeing a high memory usage for the fabric.exe process (see screenshots below). This is happening in two of the servers and in those fabric.exe has been steadily growing memory usage up to 1GB. In the other 3 servers it is just consuming around 40MB

The services deployed in this cluster are all stateless and we do not use reliable collec

[2018-03-14 08:57] hanxinimm commented on #911
@ashishnegi

![image](https://user-images.githubusercontent.com/13499426/37388686-7272e5b4-279c-11e8-82eb-13dadae1a5c5.png)

[log.txt](https://github.com/Azure/service-fabric-issues/files/1810271/log.txt)

[2018-03-14 09:29] ashishnegi commented on #911
Thanks for sharing logs.

@hanxinimm Can you also share `C:\Users\HanXin\Documents\Visual Studio 2017\Projects\Application3\Actor1\obj\FabActUtilTemp\FabActUtil.runtimeconfig.json`  and `C:\Users\HanXin\Documents\Visual Studio 2017\Projects\Application3\Actor1\obj\FabActUtilTemp\FabActUtil.runtimeconfig.dev.json` ?

From logs shared above :

[code]

[2018-03-14 09:33] holgerleichsenring commented on #785
@BinWuMSFT I updated to 15.6.1, it does work fine now. Visual Studio does not hang anymore.
Side note: Anyway the services still show a warning sign, but this doesn't seem to relate to the path information as the behavior is identical when there is no special sign in the path name.  It does compile and start fine. Thanks!