[2018-08-12 19:09] alexszym commented on #1213
Yes it does ring a bell. As I've mentioned before I have a queue of QueuedEvent (which has the namespace Akru.EventBus.ServiceFabric.QueuedEvent).But the error I am getting on upgrade is that the queue is being deserialised into string type (and causing the application to crash), even though i have no reference to that in my code. Basically there is no queue of type string in the code at all.

Cou

[2018-08-13 01:05] yizhang82 commented on #1213
The error message indicates the other way around - that the code is trying to convert queue of string into queue of QueueEvent.

Assuming the RunAsync code with string queue is what you had before upgrade, and the RunAsync code with QueueEvent queue is what you are trying to upgrade to, that is what is causing the issue. Since before upgrade you had the queue with string type, and we persist both

[2018-08-13 05:53] UdayaBhandaru commented on #1220
[Traces.zip](https://github.com/Azure/service-fabric-issues/files/2281860/Traces.zip)
Getting this Error .
![image](https://user-images.githubusercontent.com/26437057/44014777-43f3e3d4-9eeb-11e8-979d-59c53d098538.png)

[2018-08-13 06:51] juniwang commented on #1214
any feedback?

[2018-08-13 06:57] OlegKarasik opened #1226 "Service Fabric on Linux: libFabricResources.so is missed"
Good day,

I was building docker container for build & test of C# application (.NET Standard 2.0) that uses Service Fabric packages and encountered the following error while tried to run `dotnet test` command:

[code]

I have checked the `/opt/microsoft/servicefabric/bin/Fabric/Fabric.Code/` path and found that `libFabricCommon.so` is there (below is the output of `ls`)

[code]

Then I traced the

[2018-08-13 09:08] alexszym commented on #1213
Hi @yizhang82 ,

Thanks for the explanation, that all makes sense.

The problem I am describing here is an upgrade where the initial version doesn't have any reference to a queue of any type.
Version 1.0 - My RunAsync is commented out. There is no queue creation code or any references to any queue.
Version 2.0 - I uncomment the RunAsync, this should create a queue of QueuedEvent.

With these steps

[2018-08-13 09:33] MikkelHegn commented on #1222
Referencing this: https://github.com/Azure/service-fabric-issues/issues/175, tagging as enhancement and assigning to @masnider.

[2018-08-13 10:58] raunakpandya commented on #1213
I think the confusion here is because in your last code snippet, you pasted queue of strings.

var eventsQueue = await StateManager.GetOrAddAsync<IReliableConcurrentQueue<string>>("Queue");

[2018-08-13 14:07] stembhekar opened #1227 "Cannot access service fabric app from browser"
I have deployed a service fabric app on azure. This app works fine on localhost however I cannot access the one deployed on azure from a browser. Chrome returns ERR_CONNECTION_TIMED_OUT, Edge returns INET_E_RESOURCE_NOT_FOUND. There are no errors in Service Fabric Explorer.

[2018-08-13 17:12] yizhang82 commented on #1213
Based on all the information above, my guess is that your v1 package might be stale and could contain a older version that had a string queue in it, even though you have updated the code to comment everything out.  I would double check the binary in your v1 package using ildasm/ilspy/refector (or whatever .NET decompiler you prefer) to look at the RunAsync code and see if there is any reference to

[2018-08-13 19:05] MikkelHegn commented on #1220
I'm involving @maburlik to help investigate.

@UdayaBhandaru: Can you provide event logs as well as Fabric logs for the last occurrence.

[2018-08-13 22:31] vaishnavk commented on #1214
@juniwang : This might be a bug. We will look into it.

Do you have a specific instance where this happened? The following details will be helpful.

Region Name
Timestamp
Application ResourceId
Correlation Id

[2018-08-14 05:18] ashishnegi commented on #1226
@OlegKarasik `libFabricResources.so` is present in `Fabric.Code` where `libFabricCommon.so` is present.
 This is visible in `ls` output as shared by you.

To unblock you, Can you set `LD_LIBRARY_PATH` to `Fabric.Code` in your script that starts the app ? like

`export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:<path_to_fabric_code>`

@chenxumsft / @maburlik What is recommendation for services running in the

[2018-08-14 07:16] UdayaBhandaru commented on #1220
@MikkelHegn  Already gave trace logs and event logs as attachement

[2018-08-14 13:31] MedAnd commented on #1203
@ashishnegi - have re-checked above and confirm LD_LIBRARY_PATH has the correct value when I check the ld_path.out file created in the /work folder.

Have updated my entryPoint.sh files accordingly given LD_LIBRARY_PATH is working correctly on Ubuntu when invoked by the Service Fabric bootstrapping process.

[2018-08-14 16:30] alexszym commented on #1213
@raunakpandya Thanks for that. I was copying it from a solution with the fix. I have updated the comment to reflect the actual code.

@yizhang82 Thanks, I'll give it a try.

[2018-08-15 11:32] krvladislav commented on #1223
Hi @MikkelHegn !

I use standard ClusterConfig.Unsecure.MultiMachine.json with "addOnFeatures": [ "DnsService" ].
[ClusterConfig.json](https://github.com/Azure/service-fabric-issues/files/2290074/ClusterConfig.json.txt)
There is no "security" properties.

Also manifest shows to me:

     <Section Name="Security">
      <Parameter Name="ClientRoleEnabled" Value="false" />
      <Parameter Name="Clu

[2018-08-15 11:45] MikkelHegn commented on #1227
Hi @stembhekar - have you checked if the endpoint is exposed via the Azure Load Balancer and probes are configured correctly? https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-connect-and-communicate-with-services#connections-from-external-clients

[2018-08-15 11:47] MikkelHegn commented on #1223
Is this a Windows standalone cluster deployed outside of Azure? If so, it might be Windows authentication to the cluster. @dbreshears: can you remember the parameter to do Windows authentication in VS publish? I don't find it here: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-visualstudio-configure-secure-connections

[2018-08-15 11:57] MikkelHegn commented on #1220
@UdayaBhandaru - I missed the link to file above the image. Waiting for @maburlik to take a look and comment.

[2018-08-15 19:25] stembhekar commented on #1227
Thanks. That did the trick.

[2018-08-15 19:25] #1227 closed

[2018-08-15 21:54] mjsabin01 opened #1228 "Unable to debug service fabric app in VS 15.8"
I just updated to VS 15.8 and no I am unable to debug my Service Fabric App.  I am able to build fine and i see the debugger start and see the dialog showing Discovering ETW sources.  However, it immediately stops and I see the following output in debugger window:

C:\Code\xxx\xxx\pkg\Debug is not found.
At C:\Program Files\Microsoft SDKs\Service
Fabric\Tools\PSModule\ServiceFabricSDK\Publish-NewS

[2018-08-16 05:54] krvladislav commented on #1223
Yes, it is Windows standalone cluster.

I can Connect-ServiceFabricCluster via powershell without any additional auth parameters like WindowsCredential

[2018-08-16 08:32] skwasiborski opened #1229 "Multi availability zone cluster scaling issues"
I am experimenting with increasing reliability of an SF cluster by deploying the nodes to multiple availability zones. I would like the seed nodes to be spread among 3 availability zones. Since SF does not support using large VMSS (i.e. singlePlacementGroup=False) and single non large VMSS cannot be deployed to multiple AZ, I am using three VMSS deployed to different AZs all assigned to same prima

[2018-08-16 08:38] ashishnegi commented on #1229
@alexwun For ClusterManagerService related query.

[2018-08-16 09:03] juniwang commented on #1214
I'm sorry that tje problematic SF was already removed.  I wish I could help but I can only find these in emails:

Region : West US
Resource group: sfsignalrprodwestus
Reource Id: /subscriptions/752c04e5-92cd-4483-ad8f-e1417ba935b0/resourcegroups/sfsignalrprodwestus/providers/Microsoft.ServiceFabric/clusters/signalrprod
time of the upgrade: 07/19/2018 01:32:00 UTC - 07/19/2018 01:57:48 UTC

We were

[2018-08-16 11:44] berndku commented on #1228
+1

[2018-08-16 11:54] krvladislav commented on #1223
Now it is unable to connect:

![screenshot_4](https://user-images.githubusercontent.com/886098/44206409-da4bf980-a183-11e8-8f4a-17c4f698511a.png)

And there is no success via shell:

[code]

Some additonal info:

Cluster SF Version is Microsoft.Azure.ServiceFabric.WindowsServer.6.3.162.9494
Cluster OS Windows Server 2016 Version 1607 (OS Build 14393.2273)

VS2017 Version Release/15.7.5+27703.2042

[2018-08-16 12:02] skwasiborski commented on #1229
Interesting thing is that changing SKU (size) on all VMSS though not supported as such went without any problems. VMs where taken offline and updated one by one and afterwords rejoined the cluster without issues.

[2018-08-16 12:56] mjsabin01 commented on #1228
I re-installed VS 2018 and my Service Fabric install on my dev machine.  When I try to start debugging, i just get error:

6>------ Deploy started: Project: XXX, Configuration: Debug x64 ------
6>Object reference not set to an instance of an object.
========== Build: 5 succeeded, 0 failed, 1 up-to-date, 0 skipped ==========
========== Deploy: 0 succeeded, 1 failed, 0 skipped ==========

[2018-08-16 16:29] vaishnavk commented on #1214
I don't think logs will be available for that time range now. Please re-open if see this issue again.

[2018-08-16 16:29] #1214 closed

[2018-08-16 16:56] ravipal commented on #1223
In order to publish a container application, the target cluster must be a secure cluster. Because we need a cert to encrypt the ACR credential. That is why the publish dialog shows the message "The selected cluster must have a server certificate which must be installed on this machine to publish a **container application**". Publish operation doesn't support unsecure cluster for container applicat

[2018-08-16 19:55] hamjo commented on #1228
I also encountered this error. Changing "MSBuild project build output verbosity" to "Diagnostic" doesn't display any other information.

[2018-08-16 20:16] hamjo commented on #1228
I was able to get it to deploy using HTTP protocol for my only endpoint instead of HTTPS.

[2018-08-16 22:59] SergeyBoiko commented on #566
Hi, thanks @brutaldev for detailed description in your last comment, it helped me. Just want to add a short comment how I fixed it. No sure what went wrong, but I had an error: **Cannot find any service with service name 'FabricHostSvc'.** and it looks like removing Service Fabric staff from registry is the key point before re-installing everything.

My machine is Windows 10 Pro 64-bit and here is

[2018-08-17 00:48] qmarc opened #1230 "Backup and Restore feature error FABRIC_E_BACKUP_NOT_ENABLED"
We noticed after a short time of using the ASF backup and restore feature that warnings started appearing in the Microsoft-Service Fabric/Admin EventLog for example:

[code]
and
[code]

Here is the stack from beginning to end for the particular attempted backup task from the Fabric Traces file:
[code]
This looks like an issue with the feature and is logging 2-3 times per minute, it would be great

[2018-08-17 04:39] krvladislav commented on #1223
Hi @ravipal,

1. Why a publish operation of the same container application works ok via TFS job and Deploy-FabricApplication.ps1 script to remote unsecure cluster?

2. Why does it work via VS2017 to local unsecure cluster?

![screenshot_5](https://user-images.githubusercontent.com/886098/44247828-53ddf900-a211-11e8-8908-b05bcdd92b64.png)

Local cluster manifest contains:
[code]

3. How does ACR co

[2018-08-17 11:34] stofte opened #1231 "Empty Fabric_ServicePackageActivationId"
Hello ServiceFabric people,

I'm investigating a service which is started without the proper application parameters (specifically, it's a service bus connection string which is not passed). When I use ProcessExplorer to check the process out, I can see that the service is missing some paremeters:

    Fabric_ServicePackageActivationId

Obviously, that's an internal SF value presumably exposed for

[2018-08-17 15:05] alexszym commented on #1213
I've decompiled both the version of the code before the upgrade and after and none of them had a reference to a string queue, so still not sure what caused this.

We've upgraded to a 6.3.162.9494 version of the standalone cluster since then and I'm no longer able to reproduce the behaviour, so closing the issue.

[2018-08-17 15:05] #1213 closed

[2018-08-17 17:40] uditjh opened #1232 "Cannot connect to the cluster using secondary certificate"
PS C:\Users\!accenadmin!> Connect-ServiceFabricCluster $clusterConnectionString -X509Credential -ServerCertThumbprint XXXX -FindType FindByThumbprint -FindValue XXXX -StoreLocation CurrentUser -StoreName My -Verbose
WARNING: Failed to contact Naming Service. Attempting to contact Failover Manager Service...
WARNING: Failed to contact Failover Manager Service, Attempting to contact FMM...
False
VER

[2018-08-17 22:58] ravipal commented on #1223
1. VSTS release job will support both secure and unsecure cluster and when unsecure cluster is used, the credential will not be encrypted and it shows this detail in the information icon.
2. For local cluster deployment, the image will be picked up from local machine, so no remote container registry is involved.

[2018-08-18 07:26] ashishnegi commented on #1203
@MedAnd When you saw the errors that you reported, Were you invoking the service process yourself from command line ? Or creating the app in the SF by deploying it ?

If the `LD_LIBRARY_PATH` is set for you in entrypoint.sh, when you deploy the app, then you should not see this error of unable to find `libFabricCommon.so`.

[2018-08-20 04:02] krvladislav commented on #1223
Thanks for answers.

So VSTS supports unsecure publish.
Are there any plans for unsecure publish from VS2017 as well? I think it will be relevant for a fast start with standalone Service Fabric cluster without time-spending security configuration.

[2018-08-20 06:12] MikkelHegn commented on #1223
Reopening as I think we haven't fully figured out the ask.

@krvladislav: If you create a container image on your dev box, it needs a container registry to be published to, before any cluster can download the container image.

As opposed to Service Fabric applications (Reliable Services or guest executeables), the container is not uploaded to the clusters imagestore. It is uploaded to a container

[2018-08-20 08:39] AkshayBhalerao333 opened #1233 "Configure Application Gateway with public facing load Balancer and Service Fabric"
Hi Team, I am configuring the Service fabric. its working fine stand alone with public facing loadbalancer, you i am not able to configure the Application gateway+public facing loadbalancer+ Service fabric. can you please provide me some guide how to configure this.

[2018-08-20 08:45] AkshayBhalerao333 commented on #1233
When I am configuring the application gateway i am missing some configuration details. i have setup the backend pool as a load balancer's public facing IP.

[2018-08-20 08:53] markusitd opened #1234 "Debugging of ServiceFabric Projects not working since Visual Studio 15.8.0"
Since the update to Visual Studio 15.8.0 I cannot debug Service Fabric Projects anymore.

The debugger stops with an error in the powershell publish script:

[code]
I checked the folder and it is no longer created by Visual Studio. Maybe the folder structure has been changed with 15.8.0?
Is there a way to provide the Powershell script with a different $ApplicationManifestPath to point it to the ac

[2018-08-20 08:59] aelij opened #1235 "JsonSerializationException in SF extension"
When deploying a SF cluster on Azure, not all of the ARM schema is validated. If there are errors in the template, it can cause the deployment to get stuck for a long time. The internal extension logs are the only way to figure out what happened.

Also, I think a serialization exception is always non-transient in this case, so retries might be redundant.

For example (log from a VM):

[code]

[2018-08-20 11:25] OlegKarasik commented on #1226
@ashishnegi
I have added the `LD_LIBRARY_PATH` environment variable (and this fixed the problem with `libFabricResources.so`). Unfortunately now `libFabricTransport.so` isn't found. Should I open a new issue or we can reopen this one?

[2018-08-20 12:06] ashishnegi commented on #1226
@OlegKarasik Can you make sure that you have [all these libraries](https://github.com/Microsoft/service-fabric/blob/master/src/prod/linuxsetup/CMakeLists.txt#L42-L55) in your `Fabric.Code` folder ?

Also, please double check this on a separate machine as these `libs` should be present.
If this is dev machine, may be this is some local development issue otherwise this will be our installer issue. T

[2018-08-20 12:37] MedAnd commented on #1234
Is this issue a duplicate of #1228

[2018-08-20 13:51] markusitd commented on #1234
I'm not sure. They are related because both struggle with the missing pkg folder. #1228 does not have a problem with the ApplicationManifest but with something else though.

[2018-08-20 16:49] francescocristallo commented on #1097
Could this be related to the Windows Server 2016 fix?
 https://blogs.msdn.microsoft.com/azureservicefabric/2018/08/03/os-update-required-on-windows-clusters/

[2018-08-20 20:24] #1225 closed

[2018-08-20 23:46] kalin-toshev opened #1236 "VisualStudio [F5] not working in 15.8/15.8.1 with secure endpoints"
When using [F5] with a SF project, containing a service with secure endpoint, we get NullReferenceException now and deployment fails. To repro, simply create a vanilla SF project (stateless service, using .NET framework) and replace the endpoint in ServiceManifest.xml with a secure endpoint -

...
```      <Endpoint Name="ServiceEndpointSecure" Protocol="https" /> ```

Then hit [F5] for deployment

[2018-08-21 01:34] kalin-toshev commented on #1236
Update -

'Converting' the project in *.sln file to CPS (13B669BE-BB05-4DDF-9536-439F39A36129) makes it possible to bypass the NullReferenceException above, but unfortunately, VS start consuming a lot of CPU (> 50%) even when in idle state :-( (no build, deployment, etc.). The last maybe an issue with the CPS itself, but nevertheless, high CPU makes it unacceptable workaround.

[2018-08-21 08:40] stijnherreman commented on #932
Works for me. Was this fixed or does the bug not always occur?

[2018-08-21 09:04] stijnherreman commented on #438
Are you still working on this? Is it possible to work around this issue and publish from within Visual Studio?

[2018-08-21 09:42] ashishnegi commented on #1226
@OlegKarasik I will look into your dockerfile..
For unblocking you, can you build on top of [service-fabric-onebox](https://hub.docker.com/r/microsoft/service-fabric-onebox/) dockerfile ?

Here is some [documentation](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-mac) on how to consume it.

[2018-08-21 10:39] ashishnegi commented on #1226
@OlegKarasik It seems that the problem is with  `trusty` package : `deb [arch=amd64] http://apt-mo.trafficmanager.net/repos/servicefabric/ trusty main` .

If you follow [documentation](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-linux), you should be installing `xenial` packages.

You can try converting the [script](https://docs.microsoft.com/en-us/azure/servic

[2018-08-21 11:17] juergstaub opened #1237 "Reliable service upgrade"
Hi

One of my reliable services is causing issues during upgrades. The newer version of the service contains one more IReliableDictionary which contains a new type (struct). The struct type only contains primitive types and strings.

I get exceptions  during serialization that the code is not backward compatible. I know that the state must be forward and backward compatible, however since I only a

[2018-08-21 11:54] OlegKarasik commented on #1226
@ashishnegi

Thank you very much for all the help. I have worked through the documentation and script. According to them everything should work but it don't.

I have replaced `trusty` package with `xenial`: `deb [arch=amd64] http://apt-mo.trafficmanager.net/repos/servicefabric/ xenial main` and now it cannot be installed.

The error I am getting is:

[code]

[2018-08-21 12:43] krvladislav commented on #1223
@MikkelHegn
Is there any way to use on-premise container registry like ImageStore?

[2018-08-21 13:02] MikkelHegn commented on #1223
@krvladislav - Visual Studio is trying to help you with the steps of building your container image an uploading it to a registry, then finally updating the application manifest file with the credentials to that registry. All of this can be done via PowerShell.

ImageStore is not a container registry, it's an equivalent store for application types in a service fabric cluster, but does not support D

[2018-08-21 14:45] stijnherreman opened #1238 "Why is only a subset of X509FindType supported?"
In ApplicationManifest.xml I can specify a certificate:

[code]

Why are only `FindByThumbprint`, `FindBySubjectName` and `FindByExtension` supported instead of all 15 types available in `System.Security.Cryptography.X509Certificates.X509FindType`?

[2018-08-21 15:34] OlegKarasik commented on #1226
@ashishnegi

I have tried both. Here are the errors when using `ubuntu:16.04` and `service-fabric-onebox` as base images:

[code]

[2018-08-21 18:49] ashishnegi commented on #1237
@juergstaub did 2 phase upgrade fixed the issue ? Or something else ?

@raunakpandya Do we really need 2 phase upgrade here ?

[2018-08-21 18:59] vaishnavk commented on #932
@juhacket : Can you confirm if this has been fixed?

[2018-08-21 19:00] vaishnavk commented on #1235
@mhatreabhay : Can you take a look?

[2018-08-21 19:27] mhatreabhay commented on #1235
Thanks for reporting. I will add validation to fail deployment in case of serialization failure.

[2018-08-21 19:27] #1235 closed

[2018-08-22 04:51] nareshkhatri81 commented on #1051
We got it fixed by promoting env variables via boostrap script from process to machine level.
Iis supports machine level env variables.

[2018-08-22 04:51] #1051 closed

[2018-08-22 04:59] nareshkhatri81 commented on #1233
How you are exposing service fabric to public LB?
Are you using reverse proxy of service fabric ?
What configuration error you are getting ?

[2018-08-22 05:49] juergstaub commented on #1237
@ashishnegi Yes it did fix it, apparently it needs the class, if it is not there it throws an exception. Maybe an upgrade without safety would have worked.

[2018-08-22 05:59] ashishnegi commented on #1237
@yizhang82 Do we really need a `2 phase upgrade` if are adding a new dictionary with new type ?

[2018-08-22 06:02] ashishnegi commented on #1226
@jeffreychenmsft Can you help @OlegKarasik get a working container image of service fabric ?

[2018-08-22 06:50] juergstaub commented on #1237
@ashishnegi Yes, exactly

[2018-08-22 13:14] vikasparihar commented on #175
@SeanFeldman  Could you please reopen this as I need this feature . We are using service fabric as a back end job to  read messages from service bus queue. Whenever we have to deploy a new version we see loss of message  and in our current deployment model we need to wait for when the queue is not chatty. Is there a way i can stop a service so that it graciously ends up all threads. Today we delet

[2018-08-23 00:43] dbreshears commented on #1236
@kalin-toshev,  apologize for the regression. We have a fix prepped for this and ready for 15.8.2, currently targeted for 8/27 release, assuming no blocking issues come up.

[2018-08-23 00:55] dbreshears commented on #1228
Apologize for this, same as #1236.  it is due to a regression from the https support that went in 15.8 for ASP.NET core 2.1.     We have a fix queued and hopefully will release on Monday 8/27, right now would need to switch the endpoint to http for debugging and then publish with https from command line

[2018-08-23 04:43] SeanFeldman commented on #175
@vikasparihar I don't think message loss has to do with stopping and starting SF services.
Service Bus supports peek-lock mechanism. If a service instance is deleted, message just should go back to the queue.

[2018-08-23 05:26] vikasparihar commented on #175
@SeanFeldman  We are reading message in peek lock mode only but have observed that during deployment  our messages are lost at times. We are using OnMessageAsync from ServiceBus Sdk (WindowsAzure.ServiceBus.3.4.5). Nonetheless i was looking for a capability to stop/start stateless services in Service fabric and was trying to get it prioritized by the team.

[2018-08-23 05:40] SeanFeldman commented on #175
@masnider is the person to ping in that case.

[2018-08-23 06:09] vikasparihar commented on #175
@masnider  Could you help reopen the issue and prioritize service start/stop as product feature

[2018-08-23 07:00] AkshayBhalerao333 commented on #1233
Yes using by default LB which is public facing and also using the reverse proxy for SF.
I am getting the 502 error when I am trying to access the application container.
How can we configure the Path-Base rule in Application gateway for Public LB. I wanted to allow traffic only from 80 port.
Eg. http://gatewayIP:80/client1 divert this traffic to container port 20000
      http://gatewayIP:80/client

[2018-08-23 08:02] markusitd commented on #1234
Hello ravipal,

- MSBuild Version is 1.6.7
- the pkg Folder does not exist, it won't be created during build anymore

The detailed log does not add anything to the debug output.

[2018-08-23 12:27] uditjh commented on #1218
Hello Justin,
Sorry for late reply but I do have everything in the template and it works fine except for the part where I have to use a custom existing certificate. I only pasted the Service Fabric resource as I thought there is something missing in it.

[2018-08-23 13:03] cosie90 opened #1239 "Service Fabric StatefulService CPU usage keeps growing"
We have a Service Fabric `StatefulService` that is running away nicely. It consumes messages, processes them and has two `IReliableState`s for storing away some data from each message. It will process about 500 messages per minute per replica.

The `MessageProcessor` will take all pending messages that we create a new `ITransaction` using `IReliableStateManager` that is wrapped in a `using` block

[2018-08-23 15:04] ravipal commented on #1234
The output log has the following error
"3>Object reference not set to an instance of an object."

This is duplicate of #1228

[2018-08-23 16:09] oanapl commented on #1177
@mcbc , there have been a while since we heard from you. Are you still experiencing the issue? Did any of the suggested steps uncovered more information we can use to debug?

[2018-08-23 16:11] oanapl commented on #1173
Thank you for the update, @Lemraj . I will close the issue based on the above. Please reopen or open a new one if you are still having issues.

[2018-08-23 16:11] #1173 closed

[2018-08-23 16:12] oanapl commented on #1205
@paulsaxton , any update? Are you still experiencing this issue?

[2018-08-23 17:28] ravipal commented on #1234
To confirm it is the same issue, update the servicemanifest that uses https protocol to http and you shouldn't hit the "Object reference not set to an instance of an Object" error.

[2018-08-23 20:13] oanapl commented on #1205
@paulsaxton , sorry to hear that this is not resolved. I will close this issue, please re-open if you are still blocked.

[2018-08-23 20:13] #1205 closed

[2018-08-24 03:50] AkshayBhalerao333 commented on #1233
yes i am able to test the container with service fabric and LB. but not able to test it with the App gateway.

[2018-08-24 08:40] skwasiborski opened #1240 "Does Azure virtual machine scale set automatic OS upgrades supersede POA?"
I am wondering if the new ability to automatically patch VMSS with OS upgrades is a replacement for patch orchestration application?

The documentation [here](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-automatic-upgrade) mentions Service Fabric in few places but it is not clear how the patching would work and how will it interact with SF. As far as

[2018-08-24 10:12] TomaszSynak opened #1241 "OnPremise cluster restarting nodes"
We've got OnPremise cluster v  6.2.301.9494 with 10 nodes running. We've noticed that cluster is restarting its nodes one by one each week around same time (Friday 10:00 a.m.). I'm trying to find anything relevant either in documentation or in cluster's manifest, but without success. What can be responsible for such consequent restarts ? Is it rebalancing or patching we don't know about as pointed

[2018-08-24 14:58] kensykora commented on #869
We are currently experiencing the same issue.

[2018-08-24 15:35] 4deeptech commented on #390
I thought I would add that the cluster certificate has to be updated with the resource provider to match that of the one used in the cluster.  I had a cluster tank due to an invalid primary cert and an expired secondary and manually had to fix this on each node in the scale set, however, updating the certificate for the resource provider appears to be something that only MS support can do...I beli

[2018-08-24 18:05] kalin-toshev commented on #1236
Thanks for the update - eager to try 15.8.2, since I have been using patched binary (Microsoft.VisualStudio.Azure.Fabric.Shared.dll) to workaround the issue.

---
Microsoft.VisualStudio.Azure.Fabric.Shared.dll Microsoft.VisualStudio.Azure.Fabric.Shared.ServiceCreation.TemplateUtilities.GetAspNetCoreVersion

10acb5e4  13 30 03 00 73 00 00 00-98 00 00 11 0f 00 28 15
10acb5f4  01 00 06 2c 18 28 65 00

[2018-08-26 01:57] WhitWaldo commented on #1170
I'm experiencing this issue as well, but only within my VSTS instance. I can deploy from my local dev machine without an issue (or at least have successfully done so in the last two of two attempts today).

@iyyappam I can answer your question with regards to myself: the /drop/applicationpackage directory on my build server is 1 GB in size. I've attempted to deploy using both compress and without

[2018-08-26 10:57] sanjnaputhran-gep opened #1242 "service fabric local cluster manager failed to set up local cluster"
I am trying to setup the service fabric on local env for the first time. The installation was successful.
However, when trying to setup local cluster - Node1, I get an error "service fabric local cluster manager failed to set up local cluster". I did not make any changes config files and trying to install as is.
I also tried to re-set the "Reset Local Cluster". I still get the same error as "servi

[2018-08-27 06:28] avi1479 opened #1243 "PatchOrchestrationApplicationType"

[2018-08-27 10:42] EvilAvenger commented on #1060
Any updates? Still see it in the newest version

[2018-08-27 12:32] MikkelHegn commented on #1060
@EvilAvenger: Catching up on this issue, have you gone through the solutions proposed in this issue? https://github.com/Azure/service-fabric-issues/issues/1056

[2018-08-27 12:36] yustun commented on #13
Hi,
I am getting the same error. is this really fixed?

[2018-08-27 17:09] rishirsinha commented on #360
Is the issue access deined (error code 5)

[2018-08-27 17:10] oanapl commented on #1170
@WhitWaldo , stuck copy can happen due to many reasons (eg. cluster not properly setup, other configuration issue, Service Fabric bug, VSTS bug etc). There are already 3 issues followed on this thread and it's getting hard to follow them. Please use [the thread you already opened with VSTS](https://github.com/Microsoft/vsts-tasks/issues/8145) to follow up; if you need a Service Fabric issue, pleas

[2018-08-27 17:10] #1170 closed

[2018-08-27 17:14] oanapl commented on #1181
@w-star, the Service Fabric cluster emits traces [as explained here](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation-for-windows-server). You can use [StandaloneLogCollector.exe](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-standalone-package-contents) to collect traces on standalone clusters.

[2018-08-27 17:15] oanapl commented on #1177
Closing due to inactivity.

[2018-08-27 17:15] #1177 closed

[2018-08-27 18:03] gpraveenonline commented on #1054
Is there any fix available? as we are facing issue to move forward

[2018-08-28 01:51] EVMartinez commented on #1030
Hello @nareshkhatri81 There are two options that you can use:

- Copy the .etl file to your local machine (if is an issue with service fabric you can copy the .etl file that starts with Fabricblahblahblah.etl because there others like leaseblahblah.etl)
- Go to Event Viewer of your local computer (i.e. laptop)
- Right click in Event Viewer(local) and click in open saved log
- In the file filter se

[2018-08-28 07:04] EvilAvenger commented on #1060
@MikkelHegn

Yes I did, it does not work.  Currently the issues is revealing on our deployment machine, so I can't properly test the issue (as it blocks my team).

The only thing that really helps is installation of  6.2.283.9494.  (Installation of prior version, but copying files from 6.2..283 to "C:\Program Files\Microsoft SDKs\Service Fabric" helps as well.)

All the other versions are not work

[2018-08-28 08:14] MikkelHegn commented on #1060
Thanks for your patience on this one @EvilAvenger. @maburlik for the diagnostics info above, do you have any ideas what might be causing this?

[2018-08-28 13:08] OlegKarasik opened #1244 "FabricTransportRemotingConnectionHandler.Finalize() throws NullReferenceException"
Good day,

I have noticed that in very quick scenarios (in my case it is rapidly failed unit-tests) the `FabricTransportRemotingConnectionHandler.Finalize()` throws `NullReferenceException`.

I have inspected the code and found that by some reason implementation of `FabricTransportRemotingConnectionHandler.Finalize()` method tries to access managed object.

[code]

Based on [documentation](https:/

[2018-08-28 13:12] juergstaub commented on #1237
@ashishnegi As far as I remember, it was exactly like this.

[2018-08-28 13:51] gramidt commented on #1236
@dbreshears Any update on when this patch will be released?

[2018-08-28 13:55] wpsmmb commented on #877
Unbeliveable that this ticket was simply closed after the customer quits.

[2018-08-28 16:00] mtucker2112 opened #1245 "PropertyManager.NameExists incorrectly returns true when service is not running"
Since upgrading to 6.3.162 we have noticed an issue where fabricClient.PropertyManager.NameExistsAsync(serviceUri) will return true when the service is not actually running.  We know the service doesn't actually exist by checking SF explorer or with a PS query. This code is run by another SF service in the same cluster.  Nothing seems to clear this issue except removing all app types, apps and ser

[2018-08-28 16:48] EVMartinez commented on #600
@nareshkhatri81  I don't think you can bring down more than 1 at best, the second will be forever (you'll get an error eventually) disabling due to quorum loss

[2018-08-28 17:26] oanapl commented on #1245
@mtucker2112 , there have been no changes in Naming in 6.3, so I don't know of anything that would explain this behavior.

Internally, when the service is created, the name for that service is created in Naming; when the service is deleted, that name is deleted as well. I assume you are talking about the actual service URI, and not another name that you are creating? Could you elaborate on the seq

[2018-08-28 20:38] VipulM-MSFT commented on #1244
@suchiagicha - is there a way to get this fix in the repo now and include in the CU release?

[2018-08-28 20:42] VipulM-MSFT commented on #1242
@raunakpandya can you take a look?

@sanjnaputhran-gep  - can you try to run the devclustersetup.ps1 script from the admin powershell? C:\Program Files\Microsoft SDKs\Service Fabric\ClusterSetup

[2018-08-28 20:44] VipulM-MSFT commented on #1241
Is the node restarting or your service processes? If it is nodes, check to see if you have POA or Chaos app installed and enabled.

[2018-08-28 23:44] dbreshears commented on #1236
@gramidt, it's released as of this afternoon.

[2018-08-28 23:45] dbreshears commented on #1228
@mjsabin01,  15.8.2 update is released now

[2018-08-28 23:45] dbreshears commented on #1234
@markusitd ,  15.8.2 has released now.

[2018-08-29 02:20] anlem12 opened #1246 "Visualstudio is released to Linux clusters"
My Service Fabric environment is a local Linux cluster, using Visual studio to build a serviceless Web API project, which is published directly to the Linux cluster via VS

Error event: SourceId='System.Hosting', Property='CodePackageActivation:Code:EntryPoint'.
There was an error during CodePackage activation.The service host terminated with exit code:6

My code was developed in a Windows environ

[2018-08-29 03:13] TomaszSynak commented on #1241
Thx @VipulM-MSFT for reply. These are nodes restarting, one by one. Can't think of any Chaos being set up, but will double check that along with POA settings and will get back to you soon.

[2018-08-29 06:09] sanjnaputhran-gep commented on #1242
After running devclustersetup.ps1 script getting following output:
@VipulM-MSFT  @raunakpandya

PS C:\WINDOWS\system32> C:\Program Files\Microsoft SDKs\Service Fabric\ClusterSetup\DevClusterSetup.ps1

Using Cluster Data Root: C:\SfDevCluster\Data
Using Cluster Log Root: C:\SfDevCluster\Log

WARNING: The cluster log root (C:\SfDevCluster\Log) is not empty. All files and subfolders under it will be

[2018-08-29 07:52] #1234 closed

[2018-08-29 10:32] anlem12 opened #1247 "Using the SFCTL command to publish code to a Linux environment has exceptions"
Using the SFCTL command to publish code to a Linux environment has exceptions？

1、sfctl cluster select --endpoint http://192.168.229.130:19080

2、./install.sh

`Command arguments: ['application', 'create', '--app-name', 'fabric:/CounterServiceApplication', '--app-type', 'CounterServiceApplicationType', '--app-version', '1.0.0', '--debug', '--verbose', '--parameters', '{"CounterServiceWebService_In

[2018-08-29 11:01] rapatchi commented on #1247
@anlem12  It seems that your application seems have got provisioned but failed while during creation. Could you take a look in Service Fabric Explorer and identify what is the application type and version mentioned ?

If I am not wrong are you deploying https://github.com/Azure-Samples/service-fabric-dotnet-core-getting-started/tree/master/Services/CounterService application ?

[2018-08-29 13:45] anlem12 commented on #1247
thanks，  @rapatchi  Yes, I am deployed is https://github.com/Azure-Samples/service-fabric-dotnet-core-getting-started/tree/master/Services/CounterService, in the service fabric explorer what also have no, is a new environment

[2018-08-29 14:16] rapatchi commented on #1247
@anlem12 ,

Please perform the following and report back on which step it is failing. As I am not able to repro the issue which you are mentioning above:
1. clean and make sure your repo is on par with master branch
2. Rename  ServiceManifest-Linux.xml to  ServiceManifest.xml in CounterServicePkg and
CounterServiceWebServicePkg
3. run ./build.sh
4. Upload:
    sfctl application upload --path Count

[2018-08-29 14:45] Va55ago commented on #1020
Any update on this? We are currently having to manually install this SDK every time we deploy a new Build/Release agent (time-consuming and easy to forget).

[2018-08-29 16:00] rnilsark opened #1248 "FabActUtil.exe fail with MSBuild 15.8 and Service Fabric SDK 3.2"
FabActUtil.exe fails when running
msbuild.exe "C:\git\XXX\src\YYY\Y.sfproj" /t:Package /p:PackageLocation=QQQ /p:platform="x64" /p:configuration="Debug" /p:VisualStudioVersion="15.0"

According to log, FabActUtil tries to find `.nuget/packages/microsoft.servicefabric.actors/3.2.176/build/net45/Microsoft.ServiceFabric.Actors/Microsoft.ServiceFabric.Actors.DLL` but it does not exist. (it does in .nu

[2018-08-29 16:28] mtucker2112 commented on #1245
Yes the serviceUri is a URL to the service, not another name.  Our design is such that we have a manager service that starts worker services when needed.  The manager starts a worker (in ExclusiveProcess mode) with the following:

[code]
When the worker is done, it shuts down with:

[code]

This worker may (and often is) restarted numerous times an hour with the exact same name (URI).  This logic

[2018-08-29 16:55] oanapl commented on #1245
Thank you for the details.
- In the code you pasted, you create a service. But the cleanup code deletes the application with DeleteApplicationAsync(deleteApplicationDescription). Why do you delete the application instead of the service? Also, in catch, you delete application with the service description?
- The code above has logging when it encounters exceptions - have you checked your logging to

[2018-08-29 17:14] mjsabin01 commented on #1228
Thanks.  Just downloaded and it is working now

[2018-08-29 17:14] #1228 closed

[2018-08-29 17:47] mtucker2112 commented on #1245
- In the code you pasted, you create a service. But the cleanup code deletes the application with DeleteApplicationAsync(deleteApplicationDescription). Why do you delete the application instead of the service? Also, in catch, you delete application with the service description?
[mtucker2112] Sorry I originally pasted the wrong code, post updated.  We are deleting the service not the application.

[2018-08-29 18:43] mtucker2112 commented on #1245
Great information thanks - we'll work on applying it.

Yes our mix of await\wait()\noawait is odd :)
Yes once NameExists _incorrectly_ returns true for a worker service, it continues to do so forever.
These services are running in an Azure cluster.  Where are the cluster traces found?

[2018-08-29 20:05] rnilsark commented on #1056
We got this problem on almost all dev computers when upgrading to SF 3.2.176.
Adding write permission for NETWORK SERVICE or even removing the security config for NETWORK SERVICE resolves the issue ("Everyone" has Write permission).

One dev computer was set up from scratch with SF 3.2.176 as first the installed SDK. Not sure, but on this computer I think this issue emerged when using the Refresh

[2018-08-29 20:38] oanapl commented on #1245
You can [open a support ticket](https://ms.portal.azure.com/microsoft.onmicrosoft.com#blade/Microsoft_Azure_Support/HelpAndSupportBlade) and provide the following info:
- the cluster resource id
- the region where the cluster is
- the time (UTC) at which a repro happened (the service didn't exist, but NameExists returned true)
- the name of the service

Or, if you prefer, you can send me the info

[2018-08-29 22:01] neilhuiz opened #1249 "CryptAcquireCertificatePrivateKey failed. Error:0x80090016"
I've created a self-signed certificate in Key Vault using the managed certificates features there and am trying to use that certificate in my fabric application. This smells similar to #235 but the HRESULT is different (0x80090016 instead of 0x80090014). I see the following in my event log:

- Event 256: Can't get private key filename for certificate. Error: 0x80090016
- Event 257: All tries to ge

[2018-08-29 23:14] neilhuiz commented on #1249
Nevermind … turns out my certificate-fu is weak. You have to import the certificate using the appropriate `X509KeyStorageFlags` values (`MachineKeySet` and `PersistKeySet`) in order for other user accounts to have access to the key. (facepalm)

[2018-08-29 23:14] #1249 closed

[2018-08-29 23:29] chandimar001 commented on #1056
I started running in to this yesterday but haven't found a resolution.
@rnilsark How did you add write permission for NETWORK SERVICE? Was it through the Powershell script @masnider provided above? Here is what I currently have:

I'm hoping that getting NETWORK SERVICE on that list fixes the issue.

[2018-08-29 23:40] chandimar001 commented on #1056
I have attached Logs and Fabric Setup trace in case it helps.

[FabricSetup-131800552523653998.zip](https://github.com/Azure/service-fabric-issues/files/2334127/FabricSetup-131800552523653998.zip)
[Log.zip](https://github.com/Azure/service-fabric-issues/files/2334126/Log.zip)

[2018-08-30 01:14] anlem12 commented on #1247
thanks,It's ready to work

[2018-08-30 01:14] #1247 closed

[2018-08-30 01:29] chandimar001 commented on #1056
My issue is resolved! Thanks for the pointers @rnilsark!

I gave NETWORK SERVICE (SID S-1-5-20) access through the Powershell script. It added the group but cluster creation still failed. I then manually gave "Everyone" and "NETWORK SERVICE" Full Control to C:\ProgramData\Microsoft\Crypto\RSA\MachineKeys, rebooted my machine and created the cluster using DevClusterSetup.ps1 and it worked this time

[2018-08-30 06:44] #1197 closed

[2018-08-30 06:56] ashishnegi commented on #900
@aliazamrana The code you have posted does not seems to be valid. There are missing details like `transaction` and `terminalid`.

It seems that your queue name is determined by `terminalId`. How is it derived from `clientid` ?
Is `terminalid` a variable that is available across requests ?

[2018-08-30 11:18] olitomlinson opened #1251 "TTL & reliable collections / in-memory caching"
**Feature request**

After the latest community Q&A session it was described that its likely that TTL capabilities will be implemented into reliable dictionary KeyValues to allow for an in memory 'caching' strategy.

It sounded like the intent was to create a sliding expiry window i.e. if a KeyValue is updated within the TTL period, it stays in the Dictionary and the TTL counter is reset. If the K

[2018-08-30 14:12] mtucker2112 commented on #1245
Thank you!  I sent you an email with details as I couldn't open a support ticket with that link for some reason.

[2018-08-30 14:33] rnilsark commented on #1248
I finally managed to package the app by simply omitting /p:Platform="x64". On the other hand, without that setting I have trouble building a solution based on SDK 2.8.

So Im still interested in any clues why this suddely became a problem...

[2018-08-30 14:38] yizhang82 commented on #1251
/cc @rahku

[2018-08-30 16:09] SimonPuckeyAW commented on #765
What about if you see similar errors when publishing to an SF cluster in Azure? I tracked down one error to a table in the associated storage account but it was the same message as displayed by the SF cluster explorer. Does a remote cluster log application and system events similar to those one might find in full Windows OS Event Viewer? If so where are these persisted?

[2018-08-30 18:43] rn-3 commented on #994
Hello Guys!
I'm still seeing the same issue with new version of all these components...
**SF Version: 6.3.176.9494**
OS Host & Container Guest: **Windows Server Core 1803** (Microsoft Windows [Version 10.0.17134.228])
Standalone Cluster created from the out of the box template: ClusterConfig.Unsecure.DevCluster.json

I read somewhere that to have communication between services DNS needs to be anab

[2018-08-30 18:46] rn-3 commented on #994
@linggengmsft @BharatNarasimman Please let me know how to troubleshoot & proceed further...

[2018-08-30 22:38] olitomlinson commented on #1251
Great, good to hear you are supportive of the option.

With regards to interpretation of GDPR, my organisation has done substantial investigation from a legal and technical perspective to understand what is and what isn’t acceptable when trying to define & implement ‘data deletion’.

The outcome is

1. An engineer must make **absolute efforts to delete data from storage by using standard deletion

[2018-08-30 23:38] olitomlinson commented on #1239
I’m no specialist but I have a few thoughts

When using ReliableState have you noticed any correlatble differences in High disk IO, high memory utilisation in disk or Ram, versus when you just use concurrentDictionary? In service fabric explorer, drill into your replicas, can you spot the sequence numbers never catching up/stabilising in the primary and secondaries, could it be the underlying stat

[2018-08-31 02:31] anlem12 opened #1252 "The Linux cluster did not open port 19081"
The Linux cluster did not open port 19081, and no other applications on Linux took up the port

`
<NodeType Name="NodeType0">
            <Endpoints>
                <ClientConnectionEndpoint Port="19000" />
                <LeaseDriverEndpoint Port="19001" />
                <ClusterConnectionEndpoint Port="19002" />
                <HttpGatewayEndpoint Port="19080" Protocol="http" />

[2018-08-31 02:53] anlem12 commented on #1252
<?xml version="1.0" encoding="utf-8"?>

<ClusterManifest
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://schemas.microsoft.com/2011/01/fabric"
    Name="Local-Cluster"
    Version="1.0">
    <NodeTypes>
        <NodeType Name="NodeType0">
            <Endpoints>
                <ClientConnectionEndpoint Port="19000" />

[2018-08-31 04:53] anlem12 commented on #1252
Why does the Linux environment Service Fabric profile not have “<Section Name="ApplicationGateway/Http">”

[2018-08-31 05:30] anlem12 opened #1253 "There is no documentation on Linux local creation of Service Fabric cluster"
There is no documentation on Linux local creation of Service Fabric cluster

[2018-08-31 06:43] anlem12 opened #1254 "Linux environment Service Fabric Explorer timeout exception"
Linux environment Service Fabric Explorer timeout exception

Linux environment 5 machines, Service Fabric cluster 5 nodes, close 2 nodes, Service Fabric Explorer is not shown,

The following link prompts timeout

FABRIC_E_TIMEOUT

http://192.168.229.128:19080/$/GetClusterHealth? NodesHealthStateFilter = 1 & ApplicationsHealthStateFilter = 1 & EventsHealthStateFilter = 1 & API version = 3.0 & _cach

[2018-08-31 08:29] AndrewJWaite opened #1255 "Question: How to Validate Fix for Issue #1065"
Hi all,

We believe we have fixed the issue #1065 but are struggling to be able to validate the fix.

I've read through this article:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-testability-actions

But other than restarting the nodes, I can't see any options for triggering a service transition to another node. We only run stateless services.

Are you able to offer any sug

[2018-08-31 09:19] rocifier commented on #1020
I think it's broken again. I can't install any version via WebPI in the past couple of days.

[2018-08-31 11:01] aliazamrana commented on #900
@ashishnegi it was a mistake I have updated the code and there is a stack overflow [link](https://stackoverflow.com/questions/49147709/reliablecollections-service-fabric-statemanagers-getoraddasync-returns-inval) as well that is linked to the same problem as well but more explained

[2018-08-31 11:08] ashishnegi commented on #900
How have you confirmed that StateManager is returning wrong queue for a queue name ?
Probably, you are passing wrong client id in request parameters to services from the client.
How are you routing the requests from guest executables to the stateful services ?
What are the intermediaries in the architecture like load balancer ?

Are celints within the cluster ? Try asserting in this function to ma

[2018-08-31 11:10] aliazamrana commented on #900
@ashishnegi I have tried to debug this line by line and I was sure that client id was passed on correctly.
Again this [link](https://stackoverflow.com/questions/49147709/reliablecollections-service-fabric-statemanagers-getoraddasync-returns-inval) explains the scenario very well

[2018-08-31 13:53] ashishnegi commented on #1239
Are you using one Transaction per message or one Transaction per multiple messages ?

Below comment implies you are creating one per transaction:

Below comment implies you are sharing transaction across messages:

[2018-08-31 14:46] MikkelHegn commented on #1020
I did an install using the command in the first post yesterday. @rocifier Can you share details about the error you see from running webpicmd.exe?

[2018-08-31 14:52] MikkelHegn commented on #1255
Hi @AndrewJWaite - you can use this Fault Injection API to remove a replica (aka instance for stateless services): https://docs.microsoft.com/en-us/rest/api/servicefabric/sfclient-api-removereplica

[2018-08-31 14:55] MikkelHegn commented on #1254
Hi @anlem12 - more info would bee appreciated to help.

Is 192.168.220.128 a load balancer or the IP of a node? In either cases make sure that IP will route to one of your remaining nodes.

[2018-08-31 14:57] MikkelHegn commented on #1253
@anlem12 - appreciate more info on your scenario. This doc describes how to setup a local SF cluster on Linux via a container. Is that not what you are trying to do? https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-linux

[2018-08-31 14:58] MikkelHegn commented on #1252
That's the reverse proxy - it is not on Linux. It's documented in this article: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reverseproxy

[2018-08-31 15:15] subas4u opened #1256 "ServiceFabric and Docker with Linux Container has issue publishing Container Service"
I have added a ServiceFabric service with Container application, and my docker is set to Linux Container, and after publishing service fabric, I see the error " ... DockerRequest returned StatusCode=InternalServerError with ResponseBody=Mount denied: The source path ...".

**Environment**: Windows 10 Pro
**Docker Image**: registry.hub.docker.com/sheyenrath/wiremock.net:1.0.4.5
**Docker for Windows

[2018-08-31 15:56] Va55ago commented on #1020
You're right! I can also install on my local machine using the command in the original post. I posted without testing simply because I didn't see any comment saying it was fixed. My bad!

Now I just need to figure out how to incorporate this command into a PowerShell DSC script that will ensure that the SDK is always installed :)

[2018-08-31 17:52] anousham commented on #803
I am seeting the same issue.

[2018-08-31 20:39] daviddob commented on #1246
I am also experiencing this issue the example templates when deploying stateful apps.

[2018-09-01 02:34] rocifier commented on #1020
@MikkelHegn I have put my log in a separate issue here: https://github.com/MicrosoftDocs/azure-docs/issues/14316

[2018-09-01 07:01] ashishnegi commented on #1246
@anlem12 Can you make sure that the script mentioned in ServiceManifest.xml (usually run.sh or entryPoint.sh) has `LF` line encoding and not `CRLF` encoding ? Please check this in your actual package that you deployed.

You can use any editor to find and change this information.
This also depends on your git settings and `.gitattributes` file.

[2018-09-03 02:55] daviddob commented on #1246
Confirmed all manifests and associated entrypoint scripts were LF, issue still persists.

[2018-09-03 04:30] daviddob commented on #1246
I have tried to debug that way for the past few days without success. It generates a segfault (sigsegv) in FabricRuntime.so that I have been unable to resolve. I have tested the same example code on another Linux cluster that should be identical and it seems to work fine. That said, when running it manually via entrypoint.sh on either deployment the segfault was present so I was unsure if it was a

[2018-09-03 04:32] daviddob commented on #1246
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-create-your-first-linux-application-with-java These instructions were followed on an Ubuntu machine to generate and deploy the application to both SF clusters.

[2018-09-03 04:42] ashishnegi commented on #1246
Try `sudo journalctl -u servicefabric -r` in a terminal on failing machine when you are deploying the code to see any failure messages in SF.

Share the next SF logs that are generated after you deployed at asnegi [at] microsoft.com
They will be somewhere at `SvcFab\Log\work\WFab\0\0\Log\Fabric`

+ @PavanKunapareddyMSFT for java app and fault in FabricRuntime when running the script manually in SF

[2018-09-03 04:45] daviddob commented on #1246
Will do. I'll have those to you by midday PST tomorrow.

[2018-09-03 06:32] MikkelHegn commented on #1020
I'm closing this, as there are no outstanding questions / issues.

[2018-09-03 06:32] #1020 closed

[2018-09-03 07:41] OlegKarasik opened #1257 "Stateless Service startup life-cycle isn't the same as described in documentation."
Good day,

I am currently working on a library project that provides a simple way to hookup custom handlers on services events. During this work I have discovered that stateless service life-cycle doesn't match the one described in the documentation page (this can be issue in docs or this can be a bug or this can be my bad).

In the [documentation](https://docs.microsoft.com/en-us/azure/service-fa

[2018-09-03 10:05] MikkelHegn commented on #803
To summarize some of the things on this thread. Original problem with the DNS Service not being able to share port with other services was fixed in 6.2.

There are other Cluster setup issues that some might run in to, this for instance (although title is "DNS Issue"): https://github.com/Microsoft/service-fabric-cli/issues/110

I'm closing this issue, as the original problem is solved, please open

[2018-09-03 10:05] #803 closed

[2018-09-03 10:07] MikkelHegn commented on #1256
@subas4u - It look slike you are using Docker for Windows in Linux mode. This is not supported with Service Fabric on Windows 10.

[2018-09-03 10:10] MikkelHegn commented on #994
@rn-3 - are you running across three physical hosts, or are the nodes sharing the same host?

[2018-09-03 10:14] MikkelHegn commented on #765
@SimonPuckeyAW: This article describes where events can be found: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-diagnostics-events

@spottedmahn: old q - I know, but they are continuously being improved. Do you have a specific sample to share?

[2018-09-03 11:59] UdayaBhandaru opened #1258 "Can't Start Service Fabric ."
Hi Team,

Not able to start service fabric in the local.

I am not sure how section votes came in fabrichostsettings.

Can you guys help on this.

Tried re-installing and all other trouble shooting issues.

[FabricHostSettings.zip](https://github.com/Azure/service-fabric-issues/files/2345396/FabricHostSettings.zip)

[azure event log.zip](https://github.com/Azure/service-fabric-issues/files/2345391

[2018-09-03 12:07] subas4u commented on #1256
Hi @MikkelHegn, thank you for your response. Does the following documentation not applicable for Windows 10?

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-containers-linux

[2018-09-03 12:37] MikkelHegn commented on #1256
@subas4u No sorry, it doesn't. You need the SF cluster runtime and docker runtime to use the same OS. I'll raise an issue to get this clarified in the docs.

[2018-09-03 13:39] subas4u commented on #1256
Ok. Thank you.

[2018-09-03 13:39] #1256 closed

[2018-09-03 15:05] spottedmahn commented on #765
Hi @MikkelHegn - I don't sorry.  It should be as "simple" as creating a new project and setting it up for https binding.  Then configure it for a bad cert.

[2018-09-03 18:03] RajeetN commented on #765
bad cert should show valid health message saying either invalid thumbprint or cert not found (depending on what bad means here). @tugup, @harahma could you guys take a look if the health is getting overwritten here?

[2018-09-03 20:10] xenalite opened #1259 "Azure SF fails to"

[2018-09-03 20:27] daviddob commented on #1246
Looks like the log directory is empty (here is the output of tree on the logdir)

[code]

[2018-09-03 21:07] daviddob commented on #1246
Here is a gist of the journalctl output https://gist.github.com/daviddob/6d5abd6993c536f5a7640e2ed50be46a - didnt seem to be too helpful as it appears everything comes up OK. Is there a way to log the entrypoint.sh file output from within SF? I tried to add the logging bits to the ServiceManifest.xml but no logs were written. I also tried in the entrypoint.sh script itself to redirect output but n

[2018-09-03 22:58] daviddob commented on #1246
Okay I believe I have resolved my issue. It was multifaceted unfortunately making things difficult to debug. The first issue was the sfappsuser did not have proper permissions to access the FabricDataRoot due to umask and ACL settings on the image I am using. The second issue was w.r.t the environment passed to the entrypoint.sh script. The path reported in entrypoint.sh is as follows `'/var/vcap/

[2018-09-04 04:08] ashishnegi commented on #1246
@daviddob This `;` will be a bug if passed by runtime.
Can you `echo $PATH` on a separate shell on same machine ? If it has `;` in `$PATH` then someone else added it. Otherwise, let me know the SF runtime and SF sdk version you are using.

Do you mean docker container image ?

Sorry, my bad about traces path. These are the traces in your above path :
[code]

[2018-09-04 04:15] daviddob commented on #1246
Path on the system is '/var/vcap/packages/openjdk/bin:/bin:/usr/bin:/sbin:/usr/sbin', the first part is in fact added by SF. I am in the latest available version 6.3.x (I'll get you the specific version tomorrow morning when I fire everything back up). I was referring to a base AMI (in this case a BOSH stemcell image) which requires some customization to get SF working properly. The ACLs for sfapp

[2018-09-04 04:28] ashishnegi commented on #1246
@daviddob Also please share the traces with me :  asnegi [at] microsoft [dot] com

[2018-09-04 04:31] daviddob commented on #1246
I'll get you the `SF runtime and SDK version`, `uname -a info` (it's Ubuntu Xenial 16.04 - not sure the kernel version at the moment) and a `tarball of the traces`. Is there anything else youd like while I'm gathering data?

[2018-09-04 04:49] ashishnegi commented on #1246
No, this will be good enough.

[2018-09-04 06:36] ashishnegi commented on #1226
@OlegKarasik Here is a [setup script](https://github.com/Microsoft/service-fabric/blob/master/src/prod/src/linux/dockers/azure-service-fabric/setup.sh) which you can use in Dockerfile before installing service fabric.

Also look at more files under [src/prod/src/linux/dockers/](https://github.com/Microsoft/service-fabric/tree/master/src/prod/src/linux/dockers)

[2018-09-04 06:46] juho-hanhimaki opened #1260 "Custom domain name for cluster"
Using common name method for cluster certificate requires the cluster to have custom domain name (since you cannot get certificate for *.cloudapp.net). How is custom domain name assigned to the cluster?

Does one just edit the managementEndpoint
"managementEndpoint": "https://...cloudapp.azure.com:19080",
-->
 "managementEndpoint": "https://cluster.my-domain.com:19080",

Is this safe to do on runn

[2018-09-04 11:14] shahriarhossain opened #1261 "Fail to create 'New Service Fabric Service'"
I am using VS professional 2017, v 15.8.2
Installed product: MS Azure Service Fabric Tools for VS - 2.3
Whenever I try to create 'New Service Fabric Service' it fails. Here are the screenshots:
Fig 1.
![1](https://user-images.githubusercontent.com/6463320/45028067-5770dd00-b065-11e8-985a-096753559029.png)

Fig 2.
![2](https://user-images.githubusercontent.com/6463320/45028111-9141e380-b065-11e8-9d

[2018-09-04 13:09] OlegKarasik commented on #1226
@ashishnegi

I hope I understand everything right.

I've tried to run the above setup script and after that execute:

[code]

This effectively results in the:

[code]

I have added:

[code]

And everything returned to the previous state with the [error](https://github.com/Azure/service-fabric-issues/issues/1226#issuecomment-414718296)

Please correct me if I am doing something wrong but currently

[2018-09-04 13:39] MarkDixonTech opened #1262 "Unable to resolve service DNS name"
I'm having trouble communicating between two services in my local cluster using DNS name as per this article:

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-dnsservice

The DNS Service is running in Service Fabric Explorer and I can perform an nslookup against it as follows:

`nslookup application.test 127.0.0.1`

`Server:  localhost`
`Address:  127.0.0.1`

`Name:    applica

[2018-09-04 14:18] daviddob commented on #1246
SF Version Info
[code]

Linux Image Info
[code]

Trace info has also been sent over.

[2018-09-04 14:30] WillTartak commented on #1144
Thank you for posting this. For it to work for me I had to reset the local cluster after modifying the ClusterManifestTemplate.json file(s).

[2018-09-04 17:46] rn-3 commented on #994
Nodes are sharing the same host

[2018-09-04 18:57] rwike77 commented on #1256
@subas4u @MikkelHegn  I'm updating the documentation.

[2018-09-05 00:06] ravipal commented on #1261
This error could happen if the template files are not installed by the VS extension. What is your VS installation path? By default it should be "C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional"

[2018-09-05 06:57] MatejSkrbis opened #1263 "Console redirection problem"
When our service crashed the console output was not available to view. After inspecting fabric traces we found following errors:
`GetOverlappedResult failed with 0x8007006d. Console log D:\SvcFab\_App\OurServices\log\Code_service_M_2.out will not be available.`
`GetOverlappedResult failed with 0x8007006d. Console log D:\SvcFab\_App\OurServices\log\Code_service_M_2.err will not be available.`

Most

[2018-09-05 08:46] shahriarhossain commented on #1261
Looks like the path is same as you specified ("C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\devenv.exe") in my current machine.  How can I resolve this? Is there any particular extension whose re-install could ensure success?

[2018-09-05 13:26] rfcdejong opened #1264 "Authorization header not found in event viewer"
Each minute new events are writen in the event log of a single vm within a vmss
Some process tries to access the explorer? Ofcourse the explorer is secured with AD authentication.

Anyone with an idea which process? It is just flooding the event log.. why this vm and the other vm's not makes no sense.

Authorization header not found: uri=https://10.0.0.4:19080/Applications?api-version=2.0 error=No

[2018-09-05 17:30] ravipal commented on #1261
Please check whether you have this file C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\Extensions\veyp4nze.fan\ProjectTemplates\CSharp\Cloud\Service Fabric\1033\ProjectTemplate.StatelessAspCoreService\ProjectTemplate.StatelessAspCoreService.vstemplate.

veyp4nze.fan - will be different in your case, search for Microsoft.VisualStudio.Azure.Fabric.ApplicationProject.dll

[2018-09-05 20:10] uditjh commented on #1218
@juhacket Do you want me to share the entire json file? its works fine and we have been using it to spin up multiple clusters along with other azure resources.

[2018-09-05 22:13] VipulM-MSFT commented on #1264
Is this happening on every VM or only on some VMs?

[2018-09-05 22:15] Lemraj opened #1265 "Service Proxy problems with the latest version of service fabric runtime/sdk"
Hello guys,

I have multiple service fabric services. Some of them have a listener name, others not.
All services worked fine till version 6.3.162/3.2.162. When I updated the service fabric packages to the latest version (6.3.176/3.2.167), I am experiencing problems with the services without a specific listener name.
The scenario is as follow:
1 - First I am calling a service with a specific liste

[2018-09-05 22:16] VipulM-MSFT commented on #1262
If you have used -UseMachineName then the DNS server should not be running on localhost, but your IP. Added few folks to follow up.

[2018-09-06 09:32] rfcdejong commented on #1264
It was just on one out of two VM's, as it is a small nodetype with placement constraints. But only one had the events being logged.

[2018-09-06 09:40] ChesneyMark opened #1266 "FabricApplicationGateway Blows Up"
The following problem has only happened with the Service Fabric runtime 6.3.162.9494.  We have not experienced this with either 6.1.x or 6.2.x runtimes.

1. Since upgrading we find completely at random when a message is being sent through the reverse proxy after a while we will see connection refused status codes being returned.  Eventually this escalates until more and more messages are being ref

[2018-09-06 10:13] ChesneyMark opened #1267 "Performance Counters and ETL Files Going Missing"
The below issue we have seen with runtime version 6.1.x and 6.2.x, however it seems worse with runtime version 6.3.162.9494.
We are experiencing an issue that our Stateful services replicas are failing first with replicating data to secondary replicas before finally the stateful service starts to consume more and more memory until they finally fails.  When this occurs, we have noticed the followin

[2018-09-06 10:19] OlegKarasik opened #1268 "Stateful Service startup life-cycle isn't the same as described in documentation."
Good day,

This issue has the same origin as #1257

### Description

In the documentation there is a statement:

Then in the service code files add a class WebHostWrapper that would emulate infinite execution of ICommunicationListener.OpenAsync method:

[code]

No use this class to wrap IWebHost pre-configured by project template.

[code]

According to the documentation ICommunicationListener.Open

[2018-09-06 10:31] OlegKarasik commented on #1257
Added more information about what is the current startup life-cycle is.

[2018-09-06 11:45] MikkelHegn commented on #1262
A few issues already discussing DNS limitations:
https://github.com/MicrosoftDocs/azure-docs/issues/14130
https://github.com/Azure-Samples/service-fabric-mesh/issues/19

Please let me know if any of those are helpful.

[2018-09-06 11:48] MikkelHegn commented on #1268
@rwike77 to follow-up on the documentation update.

[2018-09-06 11:49] MikkelHegn commented on #1257
@rwike77

[2018-09-06 12:06] MarkDixonTech commented on #1262
I have actually now managed to get the reverse proxy working. I was only trying to use the Dns service because I was unable to use the Reverse proxy within Docker container, see Stack Overflow post below.

https://stackoverflow.com/questions/52007147/access-reverse-proxy-from-docker-container-on-service-fabric-on-dev-machine

Out of frustration, I gave the Reverse Proxy another try and it worked.

[2018-09-06 12:12] MikkelHegn commented on #1262
There are situations where we cannot detect the NIC change and your containers end up running with a gateway or dns server ip, which is the old ip of the host machine.

[2018-09-06 14:50] OlegKarasik commented on #1268
@MikkelHegn does this mean that documentation is incorrect and current lifecycle is the right one?

[2018-09-06 17:46] srrengar commented on #1267
Adding @dkkapur since this is a standalone cluster

@ChesneyMark can you see any of these perf counters in perfmon?

@DulebT do you know why the folders in DiagnosticsStore are delayed in being created?

[2018-09-06 19:01] kavyako commented on #1206
Closing based on above comment.

[2018-09-06 19:01] #1206 closed

[2018-09-06 19:33] kavyako commented on #1266
Thanks for reporting the issue!

Could you share some details about the nature of requests flowing through the reverse proxy? Sample URL, GET/PUT? body size etc?
What is the cluster size, number of nodes, applications, services, endpoints?
Also can you share a dump of FabricApplicationGateway.exe and trace logs? Opening a support ticket will help get these routed to us so we can troubleshoot.

tha

[2018-09-07 09:29] MarkDixonTech commented on #1262
That makes sense, thanks. Whilst you're there, any idea how to update the Virtual Machine Scale set Image to 1709 in Service Fabric? I try and update the Json but it give me an error saying that changing the offer isn't allowed. If I don't change the offer type then it can't find the 1709 sku

[2018-09-07 21:25] pavanpadavala opened #1269 "Managed Service Identity(MSI) is not working on Service Fabric runtime version 6.3.176.9494"
We have .net core 2 APIs that were using Managed Service Identity(MSI).
We enabled MSI on VM scale sets and added them to our keyvault access policies.
This is working fine in other environments with lower runtime version (<= 6.3.162.9494) but not in this 6.3.176.9494
We're getting below error which is generated while accessing keyvault

[code]

[2018-09-08 19:34] andrewcoll commented on #1060
Also blocked by this now. Anyone any closer to figuring out what is going on? I have tried all the workarounds and it's no use.

[2018-09-09 13:13] ifle opened #1270 "The requested VM size Standard_DS11_v2 (3 instances) is not available in the current region"
I try manually add VMs to a node type of Service Fabric. I have following error.
`The requested VM size **Standard_DS11_v2** (3 instances) is not available in the current region. `
But I already have SF with size and it listed in list of available sizes. I marked it is bold.
What is wrong?

**The requested VM size **Standard_DS11_v2** (3 instances) is not available in the current region.**
The siz

[2018-09-09 17:17] ChesneyMark commented on #1266
Apologies for the late reply.   Some of the information I will need to seek permission from our customer before I can release it.  Also currently most of our traffic is now bypassing the reverse proxy, for the trace we will need to change this back to the way it was, again I will need to seek their permission for this as their environment has been much more stable since we have bypassed the revers

[2018-09-09 17:37] ChesneyMark commented on #1267
Hi, yes we can see the counters in performance monitor.  We have also stopped and restarted them in performance monitor as well, but quiet often this doesn't make any difference.   We witnessed again on Friday that a counter was being updated in ‘fabricperf…’ folder when there were issues on the cluster, however it simply disappeared when we believe it should have been archived.  It did not go in

[2018-09-09 20:24] ifle opened #1271 "There was an error during activation.FABRIC_E_TIMEOUT"
I have guest executable service fabric with 4 nodes. 3 nodes works fine and only one node has this error. I tried recreate the SF, without success, one node has this error

[2018-09-10 06:50] MikkelHegn commented on #1271
We need more info to help address this issue. A few ideas about what to add to the issue:
- SF setup (OS and version of SF runtime)
- Troubleshooting steps you have already taken
- What kind of guest executable?
- What entity is reporting the error you see?

For the scenario, SF runs the entry-point as specified in the manifest, if for some reason the process does not come up (for SF to monitor),

[2018-09-10 07:30] raunakpandya commented on #1242
@sanjnaputhran-gep - Can you confirm if your issue is indeed the one referenced in #1056 ?

[2018-09-10 07:33] raunakpandya commented on #1060
Folks, if the workaround mentioned in #1056 isn't working for you, can you please share full setup logs from the environment? May be you are running into something else here.

(Assuming Windows) The reg key HKLM\SOFTWARE\Microsoft\ServiceFabric\FabricLogRoot should point to the location of the logs. Zip the directory and attach the file here; you can also zip and email it to us (raunakp, or mikheg

[2018-09-10 08:14] MikkelHegn commented on #1271
Thanks for the detailed info :-)

It's probably a matter of that code package is not starting on the node. Aka the process or container cannot start in a timely fashion. Best troubleshooting step is to remote in to the node and see what causes t to not start (Look at Event Logs or try starting the process/container manually and get more insights.).

[2018-09-10 08:28] ifle commented on #1271
Thanks i will try to starting manually.
I not found how to open the event log on Datacenter-Core-1709? It has not UI, command line only.

[2018-09-10 08:52] MikkelHegn commented on #1271
Run this from the cmd: eventvwr.msc (I think it will work)

[2018-09-10 08:57] ifle commented on #1271
I have 'eventvwr.msc' is not recognized as an internal or external command

[2018-09-10 11:29] rwwilden commented on #1265
Seeing the same issue here. Seems something is cached or singleton where it should not be.

The work-around works but since the docs state that creating a ServiceProxyFactory is expensive, this is not desirable.

[2018-09-10 12:56] plillevold opened #1272 "IdleSecondary replicas left on incompatible nodes after change in placement constraints"
We are having a weird scenario with changes in placement constraints and replicas of stateful services.

Our cluster is running Service Fabric 6.2.301.9494.
It contains two nodetypes, _worker_ and _compute_. _worker_ have no placement properties, _compute_ have a placement property _persisted=true_.

### Initial state of services
**FileActor** and **FileQueue** (a stateful service) default service

[2018-09-10 14:39] ifle commented on #1271
Using of CopyPackageTimeoutSec fixed this issue.
The error message is inaccurate.
The timeout error occurred during  copying package and not activation.
@MikkelHegn Thanks for your help.

[2018-09-10 17:11] motanv commented on #1111
Hello @tastyeggs,
Since I have not heard back from you, I am closing this issue. Please open a new issue if you face the problem again.
Thanks,
Tanvir

[2018-09-10 17:11] #1111 closed

[2018-09-10 19:29] Aleksanderis commented on #1209
@mostafaez, @juhacket do you have any more input on it? @juhacket removed "bug" label and after more clarification - unassigned himself and assigned different person, leaving issue as not a bug.
Yes, I also edited issue title after it to make it more clear, but is it really confirmed as not a bug? ;)

[2018-09-10 20:10] MikkelHegn commented on #1271
Great glad you got it working :-)

[2018-09-10 20:33] andrewcoll commented on #1060
[Log (2).zip](https://github.com/Azure/service-fabric-issues/files/2368291/Log.2.zip)

Logs attached.

[2018-09-10 21:38] MikkelHegn commented on #1242
"Remove local cluster" is grayed out if there is no cluster created.

[2018-09-11 05:10] 4c74356b41 commented on #1235
@mhatreabhay ok what does this error mean? why would it try to convert common name to array? how to work around this? i'm doing exactly what is stated in the documentation

[2018-09-11 05:53] mhatreabhay commented on #1235
Common name should be an array under service fabric vm extension.

"commonNames": [
"<<coomon name>>"
]

[2018-09-11 06:32] 4c74356b41 commented on #1235
yeah, i've already found out that a person who created docs owes me 2 days of my life due to his extreme formatting skills. i've also submitted a PR to amend that.

[2018-09-11 06:33] 4c74356b41 commented on #1235
is there a way to stop failing upgrade or do i have to wait 2-4 hours between attempts? @mhatreabhay

[2018-09-11 06:37] 4c74356b41 commented on #1235
also, is it expected that none of the properties seem to be changed when i run the template? they just stay as they were before the deployment @mhatreabhay

[2018-09-11 07:02] ifle commented on #1271
@MikkelHegn  Unfortunately the error is back. I connected remotely to the node and tried start the process manually. The process started as expected. What is wrong? How to  troubleshoot this issue?

[2018-09-11 07:08] plillevold commented on #1272
To further illustrate, here is the before and after state of the **FileActor** service in our production environment. Again, no errors or warnings are surfaced, and the system is behaving just fine.
The state of all the "rogue" IdleSecondary instances is **Standby**.

![fileactor-prod-replica-states before and after upgrade](https://user-images.githubusercontent.com/613604/45343666-d30ce580-b5a1-1

[2018-09-11 07:41] pksorensen commented on #1271
I dumped eventlog from a clean cluster where there was only deployed one application that experienced the same thing.

https://transfer.sh/820cr/eventlog.xml

I resolved it right now by restarting the node - but thats offcause not a viable solution.

[2018-09-11 07:41] ifle commented on #1271
I dump all event log errors. Can you please to look?
[code]

[2018-09-11 07:44] pksorensen commented on #1271
I can add that all my apps are native SF apps, stateless/statefull. I failed to find anything in my eventlog telling me why it dont start.

[2018-09-11 08:00] MikkelHegn commented on #1271
Thanks guys. I see the same exeception code and error in both cases... Investigating...

[2018-09-11 08:04] ifle commented on #1271
Thanks @MikkelHegn

[2018-09-11 08:08] MikkelHegn commented on #1271
I need one of you guys to raise a support ticket through the Azure Portal, so we can take a closer look at the traces from the runtime. Please let me know once you've done it and I will sync up with the on-call engineers.

[2018-09-11 08:10] ifle commented on #1271
I will to open

[2018-09-11 08:16] ifle commented on #1271
Support request ID : 118091118978038

[2018-09-11 08:34] pksorensen commented on #1271
Cool, lets wait and see what you find out from @ifle - then if we need more to look at i can raise one too. But i dont have the problem at the moment - but i do have CI/CD set up so could properly spin up 10 clusters quickly and assume one would fail :D

[2018-09-11 10:31] ifle commented on #1271
Thanks. I tried reboot from SF explorer, but it's not fix the issue.

[2018-09-11 10:52] MikkelHegn commented on #1271
Restart node from SFX only restarts the Fabric processes. You need to reboot the VM.

[2018-09-11 10:58] ifle commented on #1271
How to reboot the VM in the safety way?
Anyway that is workaround only.

[2018-09-11 11:10] MikkelHegn commented on #1271
Use this and make sure to add the instanceId for the vm to restart: https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/restart-azurermvmss?view=azurermps-6.8.1

[2018-09-11 11:27] pksorensen commented on #1271
@ifle I normal remote desktop to it and do a powershell and Restart-Computer when thats an option.

[2018-09-11 11:44] ifle commented on #1271
One node again affected to this issue :(

[2018-09-11 12:06] ikaros88 commented on #1056
@chandimar001 thanks! you solved my problem as well. adding full control for everyone and network service solved this for me.

[2018-09-11 13:14] aloneguid commented on #1056
Giving full permissions to network service also solves the issue for me. It's not ideal though from security perspective.

[2018-09-11 15:28] juho-hanhimaki opened #1274 "Azure Service Fabric behavior on severe Azure incident"
Hi,

As most probably know 9/4 South Central US Azure region was hit by quite severe incident. We had no resources hosted on the affected region but either way this raises a question what would happen to Service Fabric clusters if similar incident was to hit the datacenter a cluster is hosted in.

I assume the virtual machines are automatically shut down to protect the hardware. But what happens a

[2018-09-11 17:54] mhatreabhay commented on #1235
If you are not modifying anything in resource it will be no op. If you have updated any resource (arm json) it will patch and it should update resource properties accordingly.

are you sure, upgrade went through?

you can check your arm template  deployment status through Portal.azure.com 's activity tab. It should be listed under your resource group. It will tell you exactly how long upgrade took

[2018-09-11 17:57] mhatreabhay commented on #1235
@mchiriac-msft

[2018-09-11 17:58] jothipandiyanjp commented on #505
When will be the approx release date of 6.4 version??

[2018-09-11 18:57] 4c74356b41 commented on #1235
hey, no it didnt went throught, but it failed on the very first UD, but it takes about 2-3 hours for the cluster to fail upgrade (using default upgrade settings). @mhatreabhay

[2018-09-11 19:04] mhatreabhay commented on #1235
I believe it kept retrying.
If you can capture correlation id from portal.azure.com for that operation and share with @vaishnavk /@mostafaez / @mchiriac-msft
they can check why upgrade failed and why it took 2-4 hrs.

[2018-09-11 19:06] 4c74356b41 commented on #1235
yeah, i believe so as well. how to make it not retry, just rollback on the first error? @mhatreabhay

[2018-09-11 19:53] mhatreabhay commented on #1235
That is not in your control. SFRP orchestrate that. Please share your cluster resource id and correlation Id with folks I mentioned above. they will able to look up what's going on will guide your further.

[2018-09-12 05:41] ifle commented on #1271
This is issue prevent from SF download the new version of docker containers.
We can't update our applications.

[2018-09-12 13:53] MedAnd opened #1275 "CI/CD support for Linux Azure DevOps Agent pools"
Currently the Microsoft-hosted Linux pools do not have the Service Fabric SDK installed. Since the Linux agent pools [run on an Ubuntu Linux host inside the vsts-agent-docker container](https://github.com/Microsoft/vsts-agent-docker), consider adding support for the Service Fabric SDK. This will enable rapid CI/CD for Linux Service Fabric projects in Azure DevOps.

![image](https://user-images.git

[2018-09-13 07:37] xenalite opened #1276 "Azure Service Fabric fails to download docker image from Azure Container Registry"
I am deploying a Docker container application from Azure Container Registry to Azure Service Fabric using VSTS deploy task. The deployment task succeeds, but my cluster shows failed application and no replicas.
The application consists of 2 stateless container services.

Service Fabric version: `6.3.176.9494`
Host OS image: `Datacenter-Core-1709-with-Containers-smalldisk`
Container base OS image:

[2018-09-13 09:46] Rakesh201180 opened #1277 "Error : activation.NotEnoughCPUForServicePackage Service fabric deployment"
We are getting activation.NotEnoughCPUForServicePackage error during application deployment.
We are setting MaxInstanceCount =1 and MinInstanceCount =1 in application manifest

Can anybody update more on this

Thanks

[2018-09-13 10:14] MikkelHegn commented on #1277
Do you have any ResourceGovernancePolicies set on the service and/or code packages? This is probably because the capacity is used on the nodes available.

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-resource-governance#specify-resource-governance

[2018-09-13 14:51] gparrington commented on #1024
This is still an issue for us and is blocking the automatic upgrade to newer SF release. As a consequence we are now being wwarned that our version goes out of support in 1 day

[2018-09-13 17:51] rainesmoshe opened #1278 "Setting Reverse Proxy on Local Cluster for Guest Executable"
Hi,

I have self hosted application using Owin (or Kestrel) listing on port 30000.
We are running it as guest executable with endpoint configuration.

- /Application Name / Service Name => **/ASF/KestrelApp**

**ServiceManifest.xml**
`<Endpoint Name="ApplicationEndPoint" Protocol="http" Type="Input" Port="30000"  />`

- I can see this endpoint on the Service Fabric Explorer

I can access the appli

[2018-09-14 02:56] Rakesh201180 commented on #1277
Yes Mikkel We are having ResourceGovernancePolicies like below
<ServicePackageResourceGovernancePolicy CpuCores="0.8" MemoryInMB="1024" />

one question if we increase instance count  to 2,Is this get resolved ?

[2018-09-14 09:58] MikkelHegn commented on #1277
I suspect you don't have the capacity for the extra instance to be placed. Do you have other services running also with resource governance? As a default the cluster has 20% resources reserved for the system.

From the above article.

Which means in your case 6.4 CPU cores and 25.6 GB of memory are available for the services.

[2018-09-14 20:48] tonjohn commented on #665
Just hit this. Any plans to fix the root cause?

[2018-09-15 09:33] xenalite commented on #1276
Unfortunately, I won't be able to provide more info, because I trashed the cluster, and redeployed a new one. The issue can no longer be reproduced.

[2018-09-15 09:33] #1276 closed

[2018-09-15 09:36] xenalite commented on #1278
@rainesmoshe I had a similar issue. The `UriScheme` attribute must be set on the `Endpoint` element in the service manifest.

[2018-09-15 09:39] xenalite commented on #1259
@ashishnegi Sorry, I had to delete the cluster and recreate it without the placement properties.
When I tried to remove the placement property from the Azure portal, the nodes would try to start up again, but to no effect. The placement property would remain in the Azure portal after refreshing the page.

[2018-09-15 10:45] xenalite commented on #448
@stevshan @rakshitatandon This issue is still reproducible in 6.3
I am using Azure SF cluster version `6.3.176.9494`.

Imported an application certificate on all cluster nodes using `Add-AzureRmServiceFabricApplicationCertificate` using `SecretIdentifier` parameter set.

The certificate appears in Personal store of LocalMachine, with a private key, but it's non-exportable.
Then the exported PFX ce

[2018-09-16 19:17] rainesmoshe commented on #1278
I did have this set up, but looks like my ApplicationGateway.exe is not running

[2018-09-17 04:16] ChackDan commented on #1218
Alex and Justin can help with that.

[2018-09-17 06:42] gkhanna79 commented on #1263
@MatejSkrbis Are you able to repro this issue consistently? If so, will it be possible for you to share the repro or FabricTraces?

[2018-09-17 07:26] MikkelHegn commented on #665
Tracking here: https://github.com/Microsoft/service-fabric-explorer/issues/106

[2018-09-17 11:01] IvanAlekseev opened #1280 "Which version of remoting should I use for future proof"
Hi,

I am a bit confused with remoting versions described in [documentation](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-remoting).

Which version of remoting v2 or v2_1 should I use going forward?
Also it is not clear to me what do you mean by interface compatible stack.

It will be nice to have a bit more info about that in documentation.

[2018-09-17 17:20] srrengar commented on #1267
@romendmsft can you look at this

[2018-09-17 19:54] masnider commented on #1277
@Rakesh201180 if you can provide more information about what other workloads you're running and the output of Get-ServiceFabricClusterLoadInformation and Get-ServiceFabricNodeLoadInformation for a node where you'd expect the service to be getting placed, then we can take a look. Also can you share the whole policies section for the application/service that you're trying to create?

[2018-09-18 01:37] francescocristallo commented on #1097
The problem still persists as today September 17 using version 6.3.176.9494.
Anyone is using Asp.net core 2.1 with success? Nodes get stuck as soon as the APIs receive some traffic.
Same code switched back to Asp.net Core 2.0 works normally.

[2018-09-18 03:31] Rakesh201180 commented on #1277
Output for Get-ServiceFabricNodeLoadInformation

LastBalancingStartTimeUtc : 9/18/2018 3:28:39 AM
LastBalancingEndTimeUtc   : 9/18/2018 3:28:40 AM
LoadMetricInformation     :
                            LoadMetricName        : Count
                            IsBalancedBefore      : True
                            IsBalancedAfter       : True
                            DeviationBefore       : 0

[2018-09-18 05:06] Rakesh201180 commented on #1277
Node _0
--
MetricName :   servicefabric:/_CpuCores
NodeCapacity :   6
NodeLoad : 4.8
NodeRemainingCapacity   : 1.2
NodeBufferedCapacity   : 6
NodeRemainingBufferedCapacity   : 1.2
IsCapacityViolation   : False
 
Node _1
MetricName :   servicefabric:/_CpuCores
NodeCapacity :   6
NodeLoad : 4
NodeRemainingCapacity   : 2
NodeBufferedCapacity   : 6
NodeRemainingBufferedCapacity   : 2
IsCapacityViolati

[2018-09-18 08:31] cosie90 commented on #1239
Hi @olitomlinson,

Yes so disk usage did increase as well, we didn't think anything of it because it was expected with using ReliableState really.

No I did not drill into the replicas. That is actually a very valid point. I will rerun the test during the week to check these out actually.

I left the service idle overnight and it still stayed hovering around 30-35% CPU.

This was my initial though

[2018-09-18 10:24] julioas09 opened #1281 "RepairManagerService stuck InBuild (on-prem Windows cluster)"
Hello, I have a Windows Server 2016 standalone (on-prem) cluster with 5 nodes (3 backend-primary, 2 frontend).

**Version**: 6.2.274.9494
**Cofiguration**: (Output from Get-ServiceFabricClusterConfiguration)

[code]

**Issue:** Repair Manager Service is stuck InBuild. We restarted a node and some replicas changed to Ready, but not all, and it is still stuck (for days now). This doesn't allow us to

[2018-09-18 11:49] puzovicnikola commented on #1277
Hi @Rakesh201180

Can you please open a support ticket for this problem?
This is required for us to take a look at logs from your cluster.

Just by looking at node loads that you provided it is not possible to determine what is going on.

Thanks.

[2018-09-18 13:12] cosie90 commented on #1239
Hi @ashishnegi ,

Thanks very much for your comment and apologies for the really late response.

So we are creating a Transaction per multiple messages (depending how many are currently due to be processed). Apologies for the ambiguity here, I will tidy up the post to make this clear.

[2018-09-18 15:43] ifle commented on #1271
Fixed by SF team. Thanks

[2018-09-18 15:43] #1271 closed

[2018-09-18 20:48] lukeholbertmsft commented on #932
I am having this issue currently as well.

[2018-09-19 01:09] maburlik commented on #1259
Can you provide a sample of the way to set up these placement properties, so we can try to duplicate it on our end?

[2018-09-19 06:39] krvladislav commented on #14
Hi.

I am currently dealing with the same problem.

I deployed a SF container application to a cluster. There was incorrect container repository credentials in manifest, so the app was in a error state. It was 1.0.0 version.

Then I initated a new version 1.0.1 deploy but without fixing credentials so it also errorneous.

Output of Get-ServiceFabricApplicationUpgrade:
[code]

Output of Cloud.xml
[

[2018-09-19 07:06] xenalite commented on #1259
@maburlik This is all you need. All other settings can be left as default:
![image](https://user-images.githubusercontent.com/4509839/45736246-4639db80-bbe2-11e8-9973-6ecacea8c17e.png)

After deploying, the VM will contain lots of FabricDeployer-*.trace files on the D: drive:
[code]

You can try to remove the property from the Azure portal, but I received an error
![image](https://user-images.gith

[2018-09-19 07:28] MikkelHegn commented on #14
Some of these topics were discussed here: https://github.com/Azure/service-fabric-issues/issues/1279

[2018-09-19 09:05] olitomlinson commented on #1259
The answer is in the logs you just posted

`2018/09/19-07:02:30.192,Error,5616,FabricDeployer.FabricDeployer,System.Fabric.FabricDeployer.ClusterManifestValidationException: Cluster manifest validation failed with exception System.ArgumentException: **Invalid property name NodeType found under PlacementProperties; it is duplicating one of the system defined placement property**`

Use a different p

[2018-09-19 09:13] olitomlinson commented on #1274
This is a good question and I too would like some clarity and recommendations from the SF team.

By default a Service Fabric Cluster set up with VMSS uses a temp drive (d:) in Windows to persist the cluster state. This drive is not guaranteed to ever come back after a shutdown/failure, so yes it is entirely probable that the entire cluster state would be lost if not enough nodes came back up to sa

[2018-09-19 12:27] xaruka commented on #932
we have this issue as well. If this has been fixed, which version should we use?

[2018-09-19 13:03] MikkelHegn commented on #1271
The mitigation is to kill the “FabricHost.exe” process. This issue can get escalated with many deployments or application deletions. We are working on a permanent mitigation in the upcoming CU.

[2018-09-19 13:08] aL3891 commented on #1271
We've also been seeing this, sometimes on a few nodes and sometimes on several, especially when deploying our apps to a fresh cluster.

After some time the bootstrapper server will restart the node and it will work again. curiously it only seems to happen the first time we deploy our apps, if we later redeploy then we don't observe the issue.

Great to hear it will be fixed in the next CU :)

[2018-09-19 14:07] ChesneyMark commented on #1267
Hi, I've been looking through this documentation and I was wondering if you could clarify the following before we give it a try.
The issue we have isn't that performance counters are never deleted.  The issue is that performance counters are not present in the archive folder and in some cases they are not created in the 'fabricperf… folder' either.    For instance, in the screenshot sent previousl

[2018-09-19 17:04] masnider commented on #1272
These are "[Standby](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-concepts-replica-lifecycle#standby-sb)" replicas, as you point out.

Standby replicas are copies of old replicas that we keep around so that we can use them in case other replicas fail (we presume it's cheaper to build up from partial state than it is to build a replica from scratch if we can help if). Standb

[2018-09-19 18:37] hkuizenga commented on #1008
We've run into this problem again, along with some other problems that I've probably introduced in my effort to address it.  We need to bottom out the proper procedure to remove "dead nodes" plus address some of the follow on issues I'll describe below.  Our cluster is currently at version 6.3.162.9494.  This is a staging cluster so it's relatively urgent to address.

The problem started when we l

[2018-09-19 18:45] rishirsinha commented on #1008
What is the state in the Get-ServiceFabricClusterconfiguration. Make sure that the configuration in this is correct. If not do a clusterconfiguration set and things will get corrected. Worse case you might have to get help through support to get the cluster state corrected.

[2018-09-19 19:50] linmeng08 commented on #1259
Thanks for reporting, there's a list of strings (NodeType, NodeName, UpgradeDomain, FaultDomain) that can't be used in the node type properties, we need to add validation both on the Azure portal side as well as the Service Fabric RP backend to block the deployment if any of those are entered. I will follow up.

[2018-09-19 21:34] francescocristallo commented on #1097
I was finally able to resolve this.
It was a combination of the Windows Server 2016 fix above, plus something internal to Asp.Net Core 2.1.
After updating the servers and deploying Asp.Net Core 2.1.4 (before It was 2.1.2) everything is stable and fast.

[2018-09-19 21:34] #1097 closed

[2018-09-19 21:41] hkuizenga commented on #1008
Hi @rishirsinha,

I grabbed Get-ServiceFabricClusterconfiguration, saved it to a file and ensured it was correct (i.e. node list and other settings match the manifest.)  Then I did the following:

[code]

I ran `Get-ServiceFabricClusterConfiguration` again and verified the cluster config was as expected.  Then, I incremented the version in the config file and ran `Start-ServiceFabricClusterConfigu

[2018-09-20 03:02] charristti commented on #1161
Any progress on this issue?? Issue continues on Windows 10 Pro Version 1809 17758.4 with service fabric runtime 6.3.176.9494 / sdk 3.2.176.9494.

Appears to work properly on Windows 10 Pro Version 1803 17134.286 at this time.

[2018-09-20 07:13] qrli opened #1282 "Question: Azure Service Fabric usage of D drive, while Azure now use it as temporary drive"
Before recent changes, azure service fabric create VMs with a 100GB D drive. Now, the azure VMs start to bundle a small SSD as D drive for local temporary storage, and create page file in it.

And service fabric continue to use D drive for its data. So, when we provision new clusters, we got small D drives, which get full quickly. Then the obvious solution is to scale up VM size. But because the t

[2018-09-20 08:09] antymon4o opened #1283 "Activating Container on Standalone Service Fabric Cluster with Open Network Type Configuration Fails on BeginAssignIpAddress"
I am running a single node Standalone Service Fabric dev cluster. The node is installed on a Hyper-V virtual machine with two network adapters attached to the external host network. The first VM net adapter is configured with a static IP address and is used as the cluster endpoint. The second VM net adapter is configured through DHCP and has an IP from the same subnet as the first net adapter.

I

[2018-09-20 08:20] MikkelHegn commented on #1161
Please check this issue: https://github.com/Azure/service-fabric-issues/issues/1056

[2018-09-20 10:37] ibuildit commented on #803
I'm trying to get it to work with Mesh on localhost, which in turn needs Docker...which uses the port.

It seems to me that what ever was attempted fixed in 6.2 is still there.

[2018-09-20 11:48] ibuildit commented on #971
I'm using august 20 release and I still have this issue.

[2018-09-20 11:56] denisprsa opened #1284 "Exception thrown during async task execution System.Runtime.InteropServices.COMException"
We have nodejs guest executable services, and one of our services was crashing due to unable to connect to another service.

First few times when service crashed, it restarted successfully, but then after few restarts process just hanged unactive.

We tried to restart Code Package via fabric explorer but was nonresponsive.  In fabric traces we found following warnings:

1.)
[code]

2.)
[code]

3.)

[2018-09-20 11:59] ibuildit commented on #803
If I disable Hyper-V, the problem is gone and DNS service is OK.

[2018-09-20 12:00] ibuildit commented on #971
If I disable Hyper-V, the problem is gone and DNS service is OK.

[2018-09-20 12:16] MatejSkrbis commented on #1263
It happened again with some additional problems. My co-worker added issue with logs attached.

https://github.com/Azure/service-fabric-issues/issues/1284

[2018-09-20 12:31] ibuildit commented on #971
removed and added back hyper-v and after the included reboots the DNS issue is gone. Error message as described in original post is gone.

[2018-09-20 15:08] jwmiller5 commented on #1142
We are getting the same errors in our cluster. We just tried to upgrade from 6.1 to 6.2. We do have .NET core apps, but none of them are currently active.

[2018-09-20 16:17] rishirsinha commented on #1008
Can you send the cluster manifest and cluster configuration to @jkochhar and me? We can take a look and let you know what might be the issue,

[2018-09-20 20:39] hkuizenga commented on #1008
@rishirsinha What e-mail addresses should I send these to (prefer not to post them here).

Thanks,
Howard

[2018-09-20 23:36] lukeholbertmsft commented on #932
I just tried to use the workaround posted above and it did the exact same thing. It failed on the Update-AzureRmVmss call with an error stating the vault and vmss were in different regions, which they were not. It also was an entirely different secret url in the error message than the one that I entered. Can we please get an update on this issue?

[2018-09-20 23:43] jkochhar commented on #1008
Send it to me jkochhar AT Microsoft DOT com

[2018-09-21 00:12] bklooste commented on #558
Still an issue

[2018-09-21 00:13] bklooste commented on #840
Same issue in Team City its the way,  SF requires MSBuild.

[2018-09-21 04:01] Romiko commented on #70
What is the status of this? Can we use this extension with Service Fabric Nodes?

[2018-09-21 04:16] ChackDan commented on #70
Sorry @Romiko  for the delay in responding.   "VMExtensionProvisioningError" is coming from the VMSS agent that deploys VM extensions. This has nothing to do with the fact that you are doing this in a VMSS that is a part of the SF cluster. May I suggest you file with issue on https://stackoverflow.com/questions/tagged/azure-vm-scale-set or file an azure CSS ticket on VMSS.

[2018-09-21 08:38] dongshengfengniaowu commented on #627
Just add System.Fabric.Management.ServiceModel.dll with Nuget, then it will be ok.

[2018-09-21 08:48] ChristianMes commented on #627
Is that the official fix for the stable Service Fabric tooling to install a preview, third party nuget package with it's dependencies?
@raunakpandya

[2018-09-21 11:52] plillevold commented on #1272
@masnider awesome explanation as always. Thanks! The design makes sense now that I understand the replicas would go away at a given timeout. My point though wouldn't be that they should be dropped when constraints changed, I was rather expecting them to be moved along with the other replicas.

[2018-09-21 11:52] #1272 closed

[2018-09-21 13:36] mcsdodo commented on #701
VS2017 15.8.5 still has this issues.

[2018-09-21 20:17] pksorensen commented on #1178
@ashishnegi - i am experience the same thing.

i am using dotnet myapp.dll when it starts and its a framework dependent app.

Further more, just doing Environment.GetEnvironmentVariables() also can make it throw.

[code]

[2018-09-21 22:36] JECROFT commented on #743
This hasn't yet be addressed?

[2018-09-21 23:08] lukeholbertmsft commented on #932
I think the real issue here is that the cmdlet alters the VMSS and adds the secret even when there are exceptions thrown and there is a failure. It seems every time I encounter this is when I hit a valid exception (wrong url) and then I go to fix it and I still see the same error (which is very misleading because the exception reads like the new url is the issue when in reality it is an existing s

[2018-09-21 23:57] JECROFT commented on #743
Ended up doing something like this:

protected override IEnumerable<ServiceReplicaListener> CreateServiceReplicaListeners()
        {
            ConfigurationPackage configurationPackage = Context.CodePackageActivationContext.GetConfigurationPackageObject("Config");
            string certThumbprint = configurationPackage.Settings.Sections["TransportSettings"].Parameters["CertificateRemoteThumbpr

[2018-09-22 07:28] mikoskinen commented on #701
Encountered this problem today.

VS2017 15.8.5
Service Fabric 6.3.176.9494
Service Fabric SDK 3.2.176.9494

This happened after few quick Start - Stop - Start commands in VS when I was tweaking service's DNS name.

[2018-09-22 20:03] dragav commented on #448
That is correct, most certificate provisioning methods in use today will install the certificate as non-exportable on the host. This is by design and won't change. We're working on improving support for secrets (including certificates) into containers.

In the meantime, there are several alternatives to working around this limitation; to recommend what would be best for you we'd need more details

[2018-09-24 10:20] inech opened #1285 "F5 fails with ASP.NET Core 2.1 and "https" endpoint"
**Service Fabric SDK:** 3.2.176.9494
**Visual Studio 2017:** 15.8.5 / 15.9.0 Preview 2.0 (tried both)
**Reproduction instruction:**
1. Run VS as an Admin
2. Create a new SF project `Stateless ASP.NET Core`
3. Select ASP.NET Core 2.1 (in the top) then choose API project and check "Configure for HTTPS"
4. Press 'F5'
5. It asks
![image](https://user-images.githubusercontent.com/17814060/45947158-e8e7

[2018-09-24 13:38] JanMcke opened #1286 "Register-ServiceFabricClusterpackage fails with file not found"
I ran into a problem where I can't upgrade a cluster configuration.
The problem seems to be identical to
https://github.com/Azure/service-fabric-issues/issues/988

However, when I follow the steps to repair the issue, the command Register-ServiceFabricClusterpackage, no matter what I provide returns a 'File not found' error.

![image](https://user-images.githubusercontent.com/43542279/45955323-df6

[2018-09-24 15:18] JECROFT commented on #743
We ended up doing this:

`using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using System.Fabric;
using Microsoft.ServiceFabric.Actors.Runtime;
using Microsoft.ServiceFabric.Services.Communication.Runtime;
using Microsoft.ServiceFabric.Actors.Remoting.V1.FabricTransport.Runtime;
using Microsoft.ServiceFabric.Services.Remoting.FabricT

[2018-09-24 17:12] jonmill opened #1287 "Service Fabric + Key Vault ARM Template"
I'm trying to create an ARM template in an Azure Managed Application that will create a secured Service Fabric Cluster and Key Vault (among other resources), but this doesn't seem to be supported from the documentation I could find (most require a Key Vault already be created and already have a certificate stored). Is there a way to create a secured Service Fabric cluster and corresponding Key Vau

[2018-09-25 06:42] wuping2004 commented on #765
I also met this issue, has it been fixed at 6.3 version
Error event: SourceId='System.Hosting', Property='Activation:1.0:1.0'. There was an error during activation.
or it might be caused by my application ?

Thanks and look forward to your comments

[2018-09-25 06:46] loekd opened #1288 "Service Fabric backup restore service - upload fails"
I’ve configured the Service Fabric backup and restore service to create periodic backups.
Followed [this ](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-backuprestoreservice-quickstart-azurecluster )guideline.

My target service displays an error message:
“Failed to take periodic backup for this partition with error:\nSystem.Fabric.FabricException: An error occurred during t

[2018-09-25 14:40] MarkDixonTech commented on #448
The problem seems to be that whilst the certificate and private key is deployed to the Service Fabric node, it is marked as non-exportable and therefore the private key cannot be deployed to the container within the node.

The pfx file is deployed to the container but the private key is missing whereas it is not within the node.

As yet I haven't been able to get the second method working

[2018-09-25 17:16] oanapl commented on #1286
I see you copied the ClusterManifest.xml to the cluster, but you didn't copy the cab file. You need to copy that too and then specify CodePackagePath as the path from image store.

(Unrelated) 6.1 is out of support, consider a [newer Service Fabric version](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-versions).

[2018-09-25 22:06] tonglingchen commented on #665
@tonjohn did you hit this issue in SFX Standalone (desktop version) or in the browser? Thanks.

[2018-09-26 11:05] JanMcke commented on #1286
Thanks!
That did the trick

[2018-09-26 11:05] #1286 closed

[2018-09-26 11:07] guibirow commented on #1285
Seems like a permission issue!
Are you running VS as Administrator?
if yes, are you able to run the application with HTTPs without deploying to SF?

[2018-09-26 13:31] Abdruggi commented on #870
Any news? it is a huge problem for us. we are stuck at the moment. it is not possible to update the cluster or the configuration.

[2018-09-26 13:41] julioas09 opened #1289 "Sudden, short disconnection of standalone nodes after 6.3.176 update"
We’ve updated from 6.2.274 to 6.3.176 on a WS2016 standalone cluster (running on IaaS on Azure) and we’re experiencing a strange behavior:

Randomly, each ~25min a node shows as down for 5-10 seconds (the node is perfectly running though), which creates instability in the cluster.
I’ve only seen it happening to backend (primary) nodes:

![errr](https://user-images.githubusercontent.com/3543529/460

[2018-09-26 13:43] raunakpandya commented on #1289
Are you running containers?

[2018-09-26 14:39] julioas09 commented on #1289
We are running a few (2) containers only in non-primary nodes. 95% of the microservices are guest executables

[2018-09-26 15:30] inech commented on #1285
Yes, I run Visual Studio from Admin when I work with SF.
If I create new ASP.NET Core 2.1 application with HTTPS but without SF it works well and I can make a request to this HTTPS localhost endpoint and get a response without any HTTPS errors.

[2018-09-26 15:50] bryanlikes commented on #711
@VipulM-MSFT @rishirsinha

Any updates?

[2018-09-26 16:51] mattrowmsft commented on #870
@romendmsft this sounds like DCA container issue.  I think we have mitigation for this right?

[2018-09-26 17:11] rspandi1985 opened #1290 "If my service fabric project contains 5 services which are already deployed to production, can i deploy only 2 services next time which are changed or I have to deploy all 5 again?"

[2018-09-26 17:12] rspandi1985 commented on #1068
I had to install new version of SF which fixed this issue.

[2018-09-26 17:12] #1068 closed

[2018-09-26 17:12] cheoalfredo commented on #1197
i´d like to know why the dns service works in a intermittent  way (some times it resolves, some other it doesn't) ?

[2018-09-26 17:42] mcsdodo commented on #701
I've found out that it was caused by my **antivirus software**. After disabling it works just fine.

[2018-09-26 21:38] guibirow commented on #1290
You can do a differential packaging to deploy only the changed services.

Take a look on the following links:

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-upgrade-advanced#upgrade-with-a-diff-package

https://stackoverflow.com/questions/34873891/differential-packaging

[2018-09-27 02:13] wasabii opened #1291 "SystemGroup membership actually removes permissions"
I've got a SF service, that I have a RunAsPolicy for, for a specific user. The service does various things with the system. These work.

I then add a Membership to the user, to place it into the SystemGroup "Performance Monitor Users", and suddenly my service can't run because it's getting permission denied errors on various things.

This is boggling my mind. I don't see how the ADDITION of a memb

[2018-09-27 08:00] hrushib commented on #627
@ChristianMes, please open another issue for this with following details in addition to the details mentioned by you above. Please mention if this is newly generated project using Service Fabric service template available from Visual Studio, if so mention the template used to generate the project. If possible share minimal sample project where this issue is happening.

[2018-09-27 08:02] Abdruggi commented on #870
Exactly. Because of the high cpu usage and memory usage of the dca process the container never reach the running state before the orchestration restarts them.

[2018-09-27 08:39] shudv commented on #1089
@njayinthehouse Did you find the solution to your problem? If yes, can you please share it. I am facing the exact same issue.

[2018-09-27 08:43] njayinthehouse commented on #1089
Unfortunately, no. However, it was most likely an issue with the system I was using; I installed a VM and tried the installation on that, and it went smoothly. Not the most elegant solution, but I was under tight time constraints.

[2018-09-27 08:44] shudv commented on #1089
Well that's bad. Thanks anyway!

[2018-09-27 09:28] Quass1m commented on #1285
Same issue here. Started after upgrading from 15.7.6 to 15.8.5. I tried cleaning self-issues development certificate using "dotnet dev-certs https --clean" but nothing changed. My app is on ASP.NET Core 2.1 and I am not able to revert to 2.0.

[2018-09-27 09:43] rfcdejong commented on #1054
Easy when you know to use '$error[0].Exception.InnerExceptions' command. But most people simply do not know, at least make it visible in the error in the first place "One or more errors occurrred. Use $error[0].Exception.InnerExceptions for more details"

[2018-09-27 10:00] tjackadams commented on #1060
Just to give my two cents on this issue.
I was also having the same problem with Windows 10 and the latest SDK.
I had checked the windows firewall, removed webroot av, reinstalled the SDK multiple time, reverted back to older SDKs, checked the folder permissions, changed to network service account and any other solutions proposed in this issue https://github.com/Azure/service-fabric-issues/issues/

[2018-09-27 10:03] arunas-z opened #1292 "Upgrading broken ServiceFabric application"
Recently Azure has experienced outage due to storms, which caused our application to stuck into crash-restart loop.

The failing dependency was Azure Log Analytics which was not critical, so we have made an update where we just disabled it temporarily.

Unfortunately in situation like this the upgrade deployment process does not work smoothly.
100% of applications and their replicas are in error h

[2018-09-28 05:37] sandipuchdadiya commented on #1060
@tjackadams this works like a charm

[2018-09-28 06:20] wuping2004 opened #1293 "fabricClient.QueryManager.GetPartitionListAsync(uri) with time out exception"
We met an issue that fabricClient.QueryManager.GetPartitionListAsync(uri) with time out exception as below, it happened sometimes

Anyone have ideas about what situation can lead to the time out ? thanks

System.TimeoutException:
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw (mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089)

at System.Runtime.Compil

[2018-09-28 15:10] zacharyhumphrey commented on #1264
Hi,

Any updates to this issue? I am running into a simuliar situation for an Azure Service Fabric.

Cheers.

[2018-09-28 16:57] oanapl commented on #1293
TimeoutException is a retryable exception and can happen when messages are lost (network issues etc), when services move around (primary of the one of the system services that addresses the query moves to a different node, maybe because nodes go down, upgrades, or load balancer) etc.
Encountering a small number of TimeoutException is expected and callers should retry on it.

If the number of Timeo

[2018-09-28 17:03] oanapl commented on #1292
If the application is in really bad state and it's not functioning anyway, one option is to set the upgrade to Unmonitored Auto or Unmonitored Manual, which does no health checks. Another thing that may be needed is to reduce [UpgradeReplicaSetCheckTimeout](https://docs.microsoft.com/azure/service-fabric/service-fabric-application-upgrade-parameters) to not wait for safety checks like partition qu

[2018-09-28 18:24] groogiam opened #1294 "Windows Printing Does not Work in Service Fabric Hosted Applications"
I am running into issues where Win32 functionality does not seem to work correctly for applications hosted inside service fabric.

I'm attempting to check the status of Printers on our network via a service. The System.Drawing.PrintDocument will randomly return false values for the PrinterSettings.IsValid.

In addition calling the winspool.drv open and print functions fails with
System.ComponentMo

[2018-09-29 11:51] xela30 commented on #356
@rakshitatandon I've got into exactly the same situation and need your assistance please.
I have standalone cluster of 7 boxes where 3 of them are seed (6.3.162.9494).
After trying to remove crashed seed node via NodesToBeRemoved parameter SF elected new seed node and uninstalled all SF components from that box.
However configuration upgrade has eventually failed and rolled back (due to MaxUnhealt

[2018-10-01 10:47] petrformanek commented on #1060
@tjackadams thanks. It worked.
Dear SF team can you fix this issue or at least provide a better error message to identify the issue and solution quickly.

[2018-10-01 12:23] usamaazhar opened #1295 "Internal only service over http"
Hi we have an asp.net core (stateful) service running on http exposing couple of endpoints.
While we have marked the endpoint as internal explicitly even than when using the reverse proxy we are able to access the service endpoints (Conceptually I thought internal services should not be accessible from outside)
example endpoint we are accessing is :[https://*.com/{applicationname}/RegistryService/

[2018-10-01 17:42] michael-damatov opened #1296 "SDK 3.2.176 installation broken"
The installer tries to download "MicrosoftServiceFabric.6.3.176.9494.exe" with invalid signature.

More details here: https://github.com/MicrosoftDocs/azure-docs/issues/15897

Log file: https://github.com/MicrosoftDocs/azure-docs/files/2433570/webpi11.txt

[2018-10-01 17:55] groogiam commented on #1294
A little more information about the issue. The issue appears to happen when making the win32 call to winspool.Drv OpenPrinterA The exception thrown is below.

Win32Exception (1801): The printer name is invalid

I did come across the following article about this error when calling this method for processes running under "System" The actual service process in this case is running under a AD service

[2018-10-02 08:47] nikubesliu opened #1297 "Azure Blob Storage is not working inside Service Fabric"
We have a stateless AspNet.Core service running in Service Fabric local cluster. When we are trying to upload an image to Azure Blob Storage we receive a request timeout. The same code is working ok outside service fabric. We are behind a corporate proxy. Can we somehow solve this problem ?

[2018-10-02 09:54] shlomcoh commented on #356
this didn't work for you:

Remove-ServiceFabricNode

Reference:
https://docs.microsoft.com/en-us/powershell/module/servicefabric/remove-servicefabricnodestate?view=azureservicefabricps

this is their best practice, if it doesn't work the removal is much more
complicated. it involve modifying the nodes jsons to remove, I will look
for it if needed

On Sat, Sep 29, 2018 at 2:51 PM xela30 <notificati

[2018-10-02 17:17] mike-christensen commented on #711
I would love to see some progress on this, since we are looking into moving our website (currently around 40 servers) over to Service Fabric and our build/deployment system is Docker based.  We don't need to run Service Fabric in Docker, so the runtime isn't a requirement for us.  It would be fantastic to be able to install the SDK and be able to deploy to an Azure SF cluster (basically run Publis

[2018-10-02 17:38] ohwellwhatever commented on #1089
Same problem here.
PS C:\windows\system32> Import-Module 'C:\Program Files\Microsoft SDKs\Service Fabric\Tools\Scripts\DefaultLocalClusterSetup.psm1'

PS C:\windows\system32> Set-LocalClusterReady
--------------------------------------------
Local Service Fabric Cluster is not setup...
Please wait while we setup the Local Service Fabric Cluster. This may take few minutes...
Stop-Service : Cannot f

[2018-10-02 21:02] aljo-microsoft commented on #70
@Romiko

Service Fabric does support operating on Windows hosts that are joined to Azure Active Directory Domain; the VMSS extension used to configure your machines to achieve that is not the only means to achieve your goal. If you are unable to successfully use this extension to achieve your goal; then"you can use the Azure Automation Desired State Configuration (Automation DSC) extension."

To a

[2018-10-02 21:02] #70 closed

[2018-10-02 21:59] aljo-microsoft commented on #1218
@uditjh

Use a group deployment like:

az group deployment create -g <YOUR RG> --name <YOUR DEPLOYMENT NAME> --template-file <AzureDeploy.json> --parameters @AzureDeploy.Parameters.json

I demonstrate this in my daily build script (actively being developed but using a precreated certificate works) that can be found here:

https://github.com/aljo-microsoft/demo/blob/master/ServiceFabricBestPractice

[2018-10-03 02:17] mike-christensen commented on #710
There's also a discussion of this issue [over here](https://github.com/MicrosoftDocs/azure-docs/issues/15792)

[2018-10-03 07:02] JanMcke opened #1298 "Service Fabric Configuration Upgrade"
In order to test certain scenarios, I am trying to remove a node from our lab Service Fabric cluster using the following article: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-windows-server-add-remove-nodes

I start from [Config0.txt](https://github.com/Azure/service-fabric-issues/files/2440920/Config0.txt)
add the NodesToBeRemoved section, delete the node in the No

[2018-10-03 07:19] JanMcke commented on #1298
Addendum:
Because the new certificate mention in error 1 vexed me, I tried to alter another setting.
MaxDiskQuotaInMB from 5120 to 6144
this gives me [ConfigA.txt](https://github.com/Azure/service-fabric-issues/files/2440982/ConfigA.txt)
![image](https://user-images.githubusercontent.com/43542279/46395664-68a51c00-c6ed-11e8-80aa-7827bbf10147.png)
Ok; certificate error.

I remove the section and th

[2018-10-04 01:01] mike-christensen commented on #711
Hi all.  I've posted my manual solution [up on Stack Overflow](https://stackoverflow.com/questions/52637549/can-a-service-fabric-cluster-be-deployed-from-within-a-windows-docker-container/52637550).  Hope this unblocks people until Microsoft is able to improve their installer.

[2018-10-04 01:54] Adebeer opened #1299 "Unable to create On-Premise Cluster - remnants from previous failed attempts or X509 cert issue..."
Hi

I would appreciate some help as I've tried for several days now getting service fabric installed on-premise. I have no problems getting it running with self-signed certificates created via the included CertSetup.ps1 script however I can't seem to get this working when using New-SelfSignedCertificate.

The confusing thing is that I'm not getting any useful error information that seems to indica

[2018-10-04 05:52] nareshkhatri81 opened #1301 "Service Fabric - Consuming Remoting Service inside containers."
Team,

We have created stateless service which is exposing helloworld api using remoting.
We are trying to consume helloworld api inside containers using remoting sdk.

Below is sample code to consume remoting api from containers.

        [HttpGet, Route("api/HelloWorldRemoting")]
        public string HelloWorldRemoting()
        {

            IMyService helloWorldClient = ServiceProxy.Create<I

[2018-10-04 17:07] coreConvention commented on #261
I ran into this issue. Service Fabric Explorer was no help. Eventually I found in the StatelessService implementation I had to add HttpClient and FabricClient in the configure services blocks. Hopefully this helps someone:

return new WebHostBuilder()
                            .UseConfiguration(configuration)
                            .UseHttpSys()
                            .ConfigureService

[2018-10-05 01:45] crgarcia12 commented on #146
I am having the same issue:

Searching for path: D:\a\r1\a\**\drop\projectartifacts\**\PublishProfiles\Cloud.xml
Found path: D:\a\r1\a\_ServiceFabricContainer-Docker container-CI\drop\projectartifacts\sfsrc\MyFirstContainer\PublishProfiles\Cloud.xml
Searching for path: D:\a\r1\a\**\drop\applicationpackage
Found path: D:\a\r1\a\_ServiceFabricContainer-Docker container-CI\drop\applicationpackage
Imp

[2018-10-05 01:48] crgarcia12 opened #1302 "FABRIC_E_SERVER_AUTHENTICATION_FAILED: CertificateNotMatched deploying a container SF App using Azure DevOps"
Hi,
I am trying to deploy a containers SF app using the release pipeline.

[code]
My cluster has no SSL cert, and the thumbprint is added as "Admin client"
I can access the SF management portal using that cert (skipping the ssl validation)

Any ideas how to troubleshoot?
Thanks!

[2018-10-05 10:36] Fkarajeh commented on #261
Dears,

Any update please, are we done?

Can we test it?

With best regards

Fadi Karajeh    CMA,MBA,MBSS

Managing Director

Tel: +962 6 5850727

Fax: +962 6 5850161

Jordan Mobile: +962 795053602

KSA Mobile: +966 4910189

Skype: fkarajeh77

Email: fkarajeh@pioneersconsult.com <mailto:fkarajeh@pioneersconsult.com>

p.o. Box 11120 36202

From: Brandon Richards [mailto:notifications@github.com]
Se

[2018-10-05 14:21] NArnott opened #1303 "Invalid operation on MeshApplicationDescription defined application"
I was playing around with a new Service Fabric Mesh application in VS 2017, and deployed it to my local cluster. Everything worked great, and now I'm trying to delete the application my local dev cluster, but I get the error when I try:

Error:  Application deletion failed.
Code: E_FAIL
Message: Invalid operation on MeshApplicationDescription defined application. Use corresponding operation.

I tr

[2018-10-05 14:56] btastic commented on #1152
I have the same exact issue. Any news?

[2018-10-05 23:14] masnider opened #1304 "Compressed packages need to improve support for non-differential packages"
(Known issue: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-package-apps#compress-a-package, example customer impact: https://twitter.com/andrewdmoreno/status/1045137835530092544)

"When using compression, the checksums are computed on the zipped versions of each package. Generating a new zip from the same application package creates different checksums. To prevent validatio

[2018-10-06 18:42] pdylanross commented on #558
Jumping in on the pile here to say that this would improve our workflow a ton. Adding dotnet cli templates would also be hugely beneficial.

[2018-10-07 19:39] licjapodaca opened #1305 "[QUESTION] - About to reuse a certificate that I bought in GoDaddy"
I bought a Wildcard certificate in GoDaddy, can I use it to create a #ServiceFabric cluster as Cluster/Server certificate and to bind it to my ASP.NET Core frontend located in this cluster? if not, what kind of certificates I need to buy at GoDaddy (It's a requirement by the company) for primary and secondary certificates?

If I plan to use my custom domain for access the Frontend and API Gateway

[2018-10-08 10:02] IvanAlekseev commented on #1280
Hello, any chance to have an answer here?

[2018-10-08 11:21] JefSchraag opened #1306 "Unhelpful exception in Start-ServiceFabricApplicationUpgrade"
While trying to upgrade my application using the `Start-ServiceFabricApplicationUpgrade`, I get this exception:

[code]

The URL `aka.ms/upgrade-defaultservices` takes me to a general article mentioning which service parameter changes are supported.

The problem is that I have *not changed any default service* in this upgrade. Also, the application parameters I am passing as the -ApplicationParame

[2018-10-08 11:54] JefSchraag commented on #1306
I just tried to reproduce the problem in another application instance. I expected this sequence of commands to result in the same exception.

First
[code]
Then
[code]

In this case, the upgrade started as expected. Leaving me confused.

[2018-10-08 13:05] Adebeer commented on #1299
Ok - so I rebuilt **all** the VMs from fresh 2016 images...and I switched from X509 to gMSA authentication

On my FIRST attempt to create a cluster - I'm getting errors about service fabric looking for X509 certificates??? And it STILL contains error output from when I previously ran Service Fabric

Can you please explain to me where this incorrect json confic info is coming from cause this is ver

[2018-10-08 17:14] andrewcoll commented on #1060
This workaround did not work for me. It's still not working.

@raunakpandya is there any update on this? I attached logs a month ago.

[2018-10-08 17:40] motanv commented on #1306
Hello @JefSchraag,
Just to make sure,
You issued the following two cmdlets and got the exception:
(1) New-ServiceFabricApplication -ApplicationName fabric:/IbeMondayBlue -ApplicationTypeName IbeType -ApplicationTypeVersion 1840.0 -ApplicationParameter $params

(2) Start-ServiceFabricApplicationUpgrade -ApplicationName fabric:/IbeMondayBlue -ApplicationTypeVersion 1841.0 -UnmonitoredManual -Applica

[2018-10-09 02:07] Adebeer commented on #1299
Ok - so I'm guessing maybe I need to ignore the old errors (even though I don't know where they are coming from and causing a lot of noise)

**Note:** I've also added the gMSA account to the local administrators group on each machine.

So, from my attempt today - the only errors I can see are:

[code]

If I look inside the temp\ServiceFabricEventLogs directory (and again, ignoring errors from prev

[2018-10-09 09:02] rfcdejong commented on #573
I used DSC to add the rules and called it from my ARM deployment template, works fine.

[code]

[2018-10-09 10:00] kuvinodms commented on #1060
@andrewcoll
+1
Not working for me as well

[2018-10-09 11:07] Adebeer commented on #1299
Ok...maybe I'm getting somewhere...I'll have to ask our IT guy tomorrow as I think something is amiss with the gMSA setup. Note: I know the gmsa.sf-prod (the gMSA account) is already part of local administrators group on each machine

I saw the following in Security event log - **Audit Failure** on APWLLWS131:
_What does the below mean? Does it need login as a service account??_

[code]

[2018-10-09 11:18] raunakpandya commented on #1060
@andrewcoll  - Have you tried the workaround to set the FabricContainerAppsEnabled to false? If not, can you try adding the following section under the hosting section in the ClusterManifestTemplate.json files (depending on the type of one box you bringing up, there would be one file) under %programifiles%\Microsoft SDKs\Service Fabric\ClusterSetup:

Add the following section under the Hosting tab

[2018-10-09 12:12] MikkelHegn commented on #1296
@maburlik

[2018-10-09 12:13] MikkelHegn commented on #1296
From log file:

DownloadManager Error: 0 : Signature verification failed on downloaded file. URL: https://download.microsoft.com/download/1/A/A/1AA062F9-0E1D-40E9-BD4F-6F12ABB71083/MicrosoftServiceFabric.6.3.176.9494.exe. File location: C:\Users\damatov\AppData\Local\Microsoft\Web Platform Installer\installers\ServiceFabricRuntime_6_3_CU1\4899616B52FD9EB3F6EAB9F595BBC44D1081A5E4\MicrosoftServiceFa

[2018-10-09 12:32] MikkelHegn commented on #1103
@maburlik

[2018-10-09 12:39] MikkelHegn commented on #1150
Closing due to no response

[2018-10-09 12:39] #1150 closed

[2018-10-09 12:44] andrewcoll commented on #1060
@raunakpandya yes, I tried that, it didn't work either. I attached my logs in a previous comment.

[2018-10-09 13:34] raunakpandya commented on #1060
Yes. I did look at the logs. Strange, which json file did you modify, can you attach the same? Also, what one box mode are you trying to bring up (secure/unsecure/ 1 box/5 box)?

[2018-10-09 17:16] andrew-vandenbrink opened #1307 "Since upgraded to 6.3.187.9494, connection to service bus dropped"
I am contacting azure support at this moment.
I noticed that since our service fabric in production upgraded, the connection to service bus become intermittent, even the service bus is on premium tier.

What is the recommended way to fix this? Rollback the service fabric or ?

![image](https://user-images.githubusercontent.com/12871379/46686070-74b24180-cbf7-11e8-8763-9f9b9af7a210.png)

![image](h

[2018-10-09 18:19] linggengmsft commented on #1158
@nareshkhatri81 The doc describes how to configure Windows security for client to node security. What Octopus is doing is out of scope. Is there anything in the doc that is not clear enough?

[2018-10-09 18:44] sdkadam2017 commented on #1171
There was another issue with open network which is fixed in 6.4 (related to servicefabric_network not found). But to ensure you are not running into the same issue can you please forward the deployer logs?

[2018-10-09 19:46] oanapl commented on #1303
Unfortunately, SFX doesn't have support for Mesh applications yet. We will be adding support before GA. Meanwhile, you can use the mesh CLI to remove the app.

[2018-10-09 19:47] oanapl commented on #1293
@wuping2004 , did the above help? Do you have any other questions or follow-up issues?

[2018-10-09 19:49] oanapl commented on #1294
@groogiam , have you checked [this article](https://docs.microsoft.com/azure/service-fabric/service-fabric-application-runas-security)?

[2018-10-09 19:56] oanapl commented on #1292
@arunas-z , we haven't heard back from you. I will close this issue. If you still have questions or need more information, feel free to re-open.

[2018-10-09 19:56] #1292 closed

[2018-10-09 19:59] oanapl commented on #1245
@mtucker2112 , I haven't heard back from you for a while. Is this still an issue?

[2018-10-09 20:02] oanapl commented on #1181
@w-star , we haven't heard back from you in a while. I will close this issue. If you have another repro with traces, please re-open and we will take a look.

[2018-10-09 20:02] #1181 closed

[2018-10-09 20:04] #1036 closed

[2018-10-09 20:06] likevi-MSFT commented on #1136
@vmarsen We haven't heard from you in a while. I will be closing this issue. If the problem is still occurring please re-open and we will take a look.

[2018-10-09 20:09] #1136 closed

[2018-10-09 20:39] suhuruli commented on #712
Hi guys, sorry for the super late response (I was just assigned this), can you confirm if this sitll affects you?

[2018-10-09 20:40] linggengmsft commented on #1007
Which encode method is the yaml file using? Our assumption is UTF-8.

[2018-10-09 21:35] maburlik commented on #968
Based on the tracking email thread this has been resolved offline and the customer was able to upgrade to the destination version by resetting the UOS data, using the steps below, and then updating to a more recent configuration API version.

1.	Start-serviceFabricPartitionDataLoss -OperationId <Unique GUID> -DataLossMode FullDataLoss -PartitionId 00000000-0000-0000-0000-000000006000 -ServiceName

[2018-10-09 21:35] #968 closed

[2018-10-09 21:37] maburlik commented on #919
We've had some updates in the SDK over the last few versions to stabilize the cluster setup/reset experience. Please let us know if you still hit the same issue by creating a new item.

[2018-10-09 21:37] #919 closed

[2018-10-09 21:46] maburlik commented on #801
The reasoning for rebooting is based around the fact that Fabric must have complete control over its own lifetime and its installation files. If there is a powershell session, event viewer, or other executable holding handles to Fabric installation directory files and is running using administrative privileges, these handles may not be able to be automatically released by terminating processes fro

[2018-10-09 21:46] #801 closed

[2018-10-09 21:50] maburlik commented on #794
The issue is in fact caused by a pathing issue of FabricCommon.dll and could be related to a conflict between the SDK and standalone package versions, where there may have been a mismatch in the API mapping between the two versions. If running standalone package scripts, please use the same version standalone package as the installed version of the SDK.

Feel free to create a new item if you are s

[2018-10-09 21:50] #794 closed

[2018-10-09 21:54] maburlik commented on #781
It's possible this was caused due to a mismatch in version between the tools used to remove the cluster, and the version of the cluster. This can happen if running the tools on a machine where Service Fabric runtime and/or SDK is installed.

[2018-10-09 21:54] #781 closed

[2018-10-09 21:55] maburlik commented on #681
Similar to https://github.com/Azure/service-fabric-issues/issues/781

Seems this has been resolved offline. If not, feel free to create another item so we can actively track this.

[2018-10-09 21:55] #681 closed

[2018-10-09 21:57] maburlik commented on #648
This has been stale for a while. If you are still hitting issues please send a mail to maburlik@microsoft.com.

[2018-10-09 21:57] #648 closed

[2018-10-09 22:07] amanbha commented on #1301
@nareshkhatri81  What is the Service Fabric runtime version of the cluster and what is the nuget package versions of Microsoft.ServiceFabric.Services.Remoting and Microsoft.ServiceFabric.Services nuget package.

[2018-10-10 01:41] aljo-microsoft commented on #1156
Being multiple months without response that the user resolved their issue. #close

[2018-10-10 01:42] #1156 closed

[2018-10-10 02:57] srrengar commented on #1080
Has anyone been able to repro this from the portal recently?

[2018-10-10 02:57] #1030 closed

[2018-10-10 02:59] srrengar commented on #1142
@DulebT can you look into this?

[2018-10-10 02:59] #1154 closed

[2018-10-10 03:00] #1162 closed

[2018-10-10 03:00] srrengar commented on #1165
@haseeb-ahmed-tkxel could you share the error information?

[2018-10-10 03:01] srrengar commented on #1183
@aljo-microsoft do you know where this is tracked?

[2018-10-10 03:02] #1207 closed

[2018-10-10 03:05] srrengar commented on #1267
@dulebt could you look into this

[2018-10-10 04:29] nareshkhatri81 commented on #1301
@amanbha

SF runtime -  6.3.162.9494
**Below are packages.**

package id="Microsoft.ServiceFabric" version="6.3.176" targetFramework="net461"
package id="Microsoft.ServiceFabric.Data" version="3.2.176" targetFramework="net461"
package id="Microsoft.ServiceFabric.Data.Extensions" version="1.4.176" targetFramework="net461"
package id="Microsoft.ServiceFabric.Data.Interfaces" version="3.2.176" target

[2018-10-10 06:12] JefSchraag commented on #1306
Hi @motanv,

The `fabric:/IbeMondayBlue` application was instantiated many versions ago. It was not newly created at version 1840.0, it was upgraded from another version to get to 1840.0.

And indeed, the `fabric:/IbeMondayBlueAlt` version was newly instantiated at version 1840.0.

These are the [application manifest versions and parameters file](https://github.com/Azure/service-fabric-issues/file

[2018-10-10 06:47] Saphirim commented on #298
Any update on when we might see the CmdLet-Source revealed?
Would be especially interested in the routine Test-ServiceFabricConfiguration to assure compliant environments before the installation of a on premise cluster.

[2018-10-10 10:39] hrushib commented on #1288
@loekd, Service Fabric backup restore service requires storage to support Block blobs which are not supported by Premium tier Storage account. If you use Standard V2 storage account this should work as expected.
Is there any reason to use Premium tier Storage account for backup storage?

[2018-10-10 10:39] Adebeer commented on #1299
I finally solved the issues and can now create a gMSA secured cluster.

I've only created a cluster once before about 2 years ago...and all I can say is that it's still a painful experience... but...at least this short term pain will reward the rest of our teams with higher productivity by having a uniform hosting platform.

Anyway - some tips for anyone else needing to setup a Service fabric clus

[2018-10-10 10:39] #1299 closed

[2018-10-10 11:06] andrew-vandenbrink commented on #1307
Service bus broken (due OS update they said) on the same time when service fabric is upgraded

[2018-10-10 11:06] #1307 closed

[2018-10-10 12:19] hrushib commented on #1288
@loekd, closing this issue as Premium tier Storage account is not supported. Please file another issue in case Premium tier Storage account is must for backup storage for your scenario and we will treat that as feature request and prioritize appropriately.

[2018-10-10 12:19] #1288 closed

[2018-10-10 12:55] loekd commented on #1288
@hrushib Thanks for the update.
Could you mention this in the documentation, so people don't need to find out here why their backup doesn't work?

[2018-10-10 14:35] marclallen commented on #1056
I'm having the same "No cluster endpoint is reachable,...".  I've done everything EXCEPT enable access for Everyone to the machine keys.  I really don't want to do that.  There's got to be a better way, right?

[2018-10-10 14:46] marclallen commented on #1056
I tried it.  Here's my output of the acl script:

[code]

I still receive the following:

[code]
What can I provide you to help solve this?

[2018-10-10 15:35] coreConvention commented on #261
This change is in your/the users implementation of the Service context in the "CreateServiceInstanceListeners()" override (in my case Microsoft.ServiceFabric.Services.Runtime.StatelessService). I don't think its an issue with the service fabric code itself. I'm not sure why it would be required, but it fixed the issue for me. Although it seems like every issue with service fabric seems to throw a

[2018-10-10 15:44] hrushib commented on #828
@Soarc, didn't hear back from on this. Marking this issue as closed, you can re-open this with details about GitHub repo containing code with repro of this issue.

[2018-10-10 15:44] #828 closed

[2018-10-10 15:54] marclallen opened #1308 "How to control Build Configuration in PublishProfile when publishing from VS"
When I was deploying my solution as a Cloud Service, the publish profile included a build configuration.  So, no matter what the solution build configuration was set to, when I published to environment X, I always built and used the correct configuration.

That appears to be different for Service Fabric, and, frankly, it's causing grief.  I can't tell you the number of times I have accidentally de

[2018-10-10 16:00] oanapl commented on #465
There has been no activity in a long time, so I will close this issue. Please open a new issue if there is any follow up needed.

[2018-10-10 16:00] #465 closed

[2018-10-10 16:18] Angelicvorian commented on #772
What @kms254  has described works fine.
However for managing large clusters this is simply not practical.
We are in the early stages of implementing this on-premise using automation and being able to reliably add and remove nodes is essential.
Had the same issue mentioned above on none seednode type nodes.

This needs urgently looking at and reliable and repeatable documentation creating around it

[2018-10-10 16:22] amanbha commented on #833
@marvinvperez Is it working now or you need help from the AAD team on this?

[2018-10-10 16:31] #1217 closed

[2018-10-10 16:59] aljo-microsoft commented on #1224
That is correct. Portal is a great UI for common happy path Dev\Test provisioning, and providing UI for resource management. However, all settings for any azure resource, will not have all configurations available to you; forcing you to leverage appropriate ARM Rest API's to configure resources for production solutions.

[2018-10-10 16:59] #1224 closed

[2018-10-10 17:01] #1218 closed

[2018-10-10 17:02] aljo-microsoft commented on #1218
@uditjh Although I closed this, please reach out to me if this process is still confusing?

[2018-10-10 17:37] aljo-microsoft commented on #1209
@4c74356b41  @Aleksanderis

The supported distributions of the platform certificate algorithm, is implemented to always use the certificate that expires furthest into the future.

Explicitly this means there isn't a concept of Primary and Secondary cluster certificate for the platform; you should never need to use Secondary Declarative Property, other than long lived Dev\Test cluster using Self Si

[2018-10-10 17:37] #1209 closed

[2018-10-10 17:50] Aleksanderis commented on #1209
@aljo-microsoft , ok, thank you for explanation!

Everything what you are saying - makes sense of course. However everything is relative - needed effort, costs, system importance, how much system is critical in terms of privacy/security, etc. Not every system is nuclear plant management system. :)
There are always "more" ideal solutions - although I'm also usually trying to seek perfection, but mo

[2018-10-10 18:02] aljo-microsoft commented on #1194
@michaelseto

My understanding is you don't actually have LiveSite issue with a SF application?

If you have a LiveSite issue, please leverage a support option to resolve your issue:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-support

Properly configuring rules for an unsupported 3rd party monitoring solution (https://www.zabbix.com/), to know what common behavior distrib

[2018-10-10 18:02] #1194 closed

[2018-10-10 18:04] #1132 closed

[2018-10-10 18:09] aljo-microsoft commented on #1119
@qmarc

We appreciate your feedback on the usability of our client module. If you have any issues or concerns please don't hesitate to use support or file github issues.

[2018-10-10 18:09] #1119 closed

[2018-10-10 18:17] aljo-microsoft commented on #1077
@NISHANTH2066

If you have any future issues, please open a support case, and file any documentation issues against any document that isn't helping your achieve success.

[2018-10-10 18:17] #1077 closed

[2018-10-10 18:17] #963 closed

[2018-10-10 18:52] maburlik commented on #698
This has been left stale for a while. Let us know by opening a new issue if you are still hitting similar issues.

[2018-10-10 18:52] #698 closed

[2018-10-10 18:53] maburlik commented on #704
Are you still hitting this issue?

[2018-10-10 18:55] aljo-microsoft commented on #1183
@nareshkhatri81

User's can not perform any actions against management endpoint other than read; so explicitly only your admin can cause this. Further as a best practice you should not be using certificates for client identity; use Azure Active Directory. This will give you auditing, and eliminate certificates that need to be managed.

[2018-10-10 18:55] #1183 closed

[2018-10-10 18:56] amanbha commented on #1184
@knowhoper I am closing this because of lack of response, please feel free to reopen if the issue still persists or you need any help.

[2018-10-10 18:56] #1184 closed

[2018-10-10 18:59] amanbha commented on #955
This is expected in VS Refresh Application debug mode.

[2018-10-10 18:59] #955 closed

[2018-10-10 19:00] amanbha commented on #858
@pulkitaggarwl  Please let us know if this is fixed in VSTS

[2018-10-10 19:02] amanbha commented on #780
@berndku Closing this issue due to lack of response, please feel free to open if the issue still persists or you need any other help regarding Service fabric Actors and remoting in the repo at https://github.com/Microsoft/service-fabric-services-and-actors-dotnet

[2018-10-10 19:02] #780 closed

[2018-10-10 19:03] #742 closed

[2018-10-10 19:04] #706 closed

[2018-10-10 20:27] Eneuman commented on #573
@rfcdejong Thank you for your suggestions. I tried to configure my ARM template with DSC but I couldn't get it to work so in the end I created i powershell script that I manually ran on my VMs.

The script looks like this for anyone that needs it. (It needs to be run with elevated priv.)
[code]

I would be great if someone from the SF team could write a blog post about the different options

[2018-10-10 20:51] dharmeshtailor commented on #1056
I copied over following folders from my colleague, (who still has old version fortunately) and replace it on my machine.

[code]

Plus, I also modified the version in following registry keys

[code]

It is working now properly and am not updating Service fabric till this issue is resolved.

Thanks.

[2018-10-10 20:53] marclallen commented on #1056
Wow.  Ok.. I'll try anything.  Any chance of you zipping those bad boys up and putting them on a drive share, somewhere?

[2018-10-10 21:29] masnider commented on #1216
Hi @thuru were you able to get past this?

We haven't heard back from you for a bit, so I'm going to close this down for now. If you are still having problems and can provide the information I asked for above, that would be great. If you're still having problems or having other issues, please reopen here or file a new incident and we can help out.

[2018-10-10 21:29] #1216 closed

[2018-10-10 21:34] masnider commented on #175
I would file your behavior with SB as a separate issue, we've seen other people successfully do what you're attempting without this feature and just with service create/delete.

You might also just look at using some of the things the community has already built:

https://github.com/loekd/ServiceFabric.ServiceBus
https://github.com/ianrufus/BlogPosts/tree/master/ServiceBusTrigger

[2018-10-10 22:38] dharmeshtailor commented on #1056
Unfortunately it worked for some time, but same issue again. This time I am getting following error in Event Log

[code]

On further digging, I found this code System.fabric.HostingSettings.cs

[code]

Any idea, where it is loading host settings from?

[2018-10-10 23:04] maburlik commented on #1298
The issue is being caused by this condition:
            if ((currentConfig.Security == null || currentConfig.Security.CertificateInformation == null) && (newCsmConfig.Security != null && newCsmConfig.Security.CertificateInformation != null))
            {
                throw new ValidationException(ClusterManagementErrorCode.AuthenticationTypeCannotBeChangedByAddingCertificate);
            }

[2018-10-10 23:48] maburlik commented on #508
This thread has gone stale and the original poster has not sent an update since 2017. If you are still hitting issues please refer to #1056, and if the suggested mitigations don't work and you think your issue is not the same, please create another item so we can track this.

Thanks

[2018-10-10 23:48] #508 closed

[2018-10-10 23:52] maburlik commented on #704
This thread has been stale for a while so I will assume this is no longer relevant. If this is still impacting, please feel free to send a mail to me at maburlik@microsoft.com.

Thanks

[2018-10-10 23:52] #704 closed

[2018-10-11 00:00] maburlik commented on #1296
Based on this https://forums.iis.net/t/1195572.aspx
it seems this can happen if a firewall filters downloaded files. Can you check if this is applicable, and if so add an exception for downloaded files from: https://download.microsoft.com

In addition, delete the cached installer directory here to force a re-download of the file:
C:\Users\damatov\AppData\Local\Microsoft\Web Platform Installer\inst

[2018-10-11 00:35] maburlik commented on #764
This thread has been stale for a while after providing support info. If the issue is still impacting please create another item so we can actively track this.

[2018-10-11 00:35] #764 closed

[2018-10-11 02:34] Adebeer opened #1309 "gMSA Secured On-Premise Cluster with SSL Reverse Proxy and Gateway not working"
I'm trying to understand why Service Fabric is not working with provided HTTPS certificates. I've been through the documentation and believe I've configured it correctly.

Note:
* Cluster created just fine and I can connect just fine via powershell
* Get-ServiceFabricClusterHealth doesn't return any errors
* I can deploy app to it - and this app successfully uses the same HTTPS certificate
* CN of

[2018-10-11 03:08] baoduy commented on #1309
I successfully install the secure service fabric with gMSA. Follow the configuration here for your reference
[Config](https://github.com/baoduy/AzureProjects/blob/master/Service%20Fabric/Standalone%20Installation/Configurations/ClusterConfig.gMSA.Windows.HBD.MultiMachine.json)

I have uploaded a sample to include certificates, config files and command here to install Secured Service Fabric for bot

[2018-10-11 03:32] marvinvperez commented on #833
I haven't look at it for long time and abandon this since no good response from my last post. As of today, Is there an update on this so I can give it another try?

[2018-10-11 04:32] ChackDan commented on #573
Alex  - let us create a doc tracking defect for this and get this done

[2018-10-11 04:43] dharmeshtailor commented on #1302
In Azure DevOps, there are service connections, that we use in Release Pipeline. What is type of authentication you using there?

![image](https://user-images.githubusercontent.com/5554788/46781229-515cd300-cd6c-11e8-9f91-0cf883d30e60.png)

[2018-10-11 05:19] 4c74356b41 commented on #1209
@aljo-microsoft not sure what do you mean by the `letsencrypt paypal` issue you are bringing up here. how would using a digicert certificate for phishing would prevent phishing?

[2018-10-11 07:58] Adebeer commented on #1309
That's awesome, thank you @baoduy. I'll give it a go tonight to see where I went wrong

[2018-10-11 09:41] Eneuman commented on #573
Is there any reason for not adding the exclusions to Windows Defender?
If not, maby this should be default when creating a new cluster?

[2018-10-11 12:03] Adebeer commented on #1309
Thanks @baoduy for your help! Greatly appreciated.

So I now have reverse proxy working using HTTPS just fine! I believe where I went wrong is that I should have set SN to simply sf.corp.myorg.org and removed any additional OU/O/DC values in SN.

However I'm still not sure how to get the HTTP gateway (i.e. explorer on port 19080) to use HTTPS.

Essentially I've added the following under `fabricSet

[2018-10-11 14:05] nareshkhatri81 opened #1310 "Question - Can i connect onpremise service fabric cluster to AAD ?"
Team,

is it possible to connect AAD to Onpremise cluster for authentication ?
could you please let me know steps for same if possible ?

Thanks,
Naresh Khatri

[2018-10-11 14:37] puzovicnikola commented on #1277
Hi @Rakesh201180,

We haven't heard from you, so we're going to close this issue.
If you're still having this problem, please reopen and let us know what you are seeing.

Thanks.

[2018-10-11 14:37] #1277 closed

[2018-10-11 17:38] linggengmsft commented on #1310
Yes, the only difference is adding the AAD settings in the cluster config file instead of on azure portal, under security section: tenantId, clusterApplication, and clientApplication

[2018-10-11 18:02] masnider commented on #1229
@TassaduqBasu fyi

[2018-10-11 18:07] masnider commented on #1240
and @TassaduqBasu fyi

[2018-10-11 19:03] abnerescocio commented on #1060
The @raunakpandya 's [answer](https://github.com/Azure/service-fabric-issues/issues/1060#issuecomment-428154471) work for me. Thanks!!!

[2018-10-11 19:55] aljo-microsoft commented on #1240
@skwasiborski

I've created this PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/54747

To add the following statement:

[Azure virtual machine scale set automatic OS image upgrades](https://docs.microsoft.com/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-automatic-upgrade) is the best practice for keeping your Operating Systems patched in Azure, and the patch orchestration ap

[2018-10-11 19:57] aljo-microsoft commented on #1240
@skwasiborski

So being clear VMSS AutoOSUpgrade is an reimaging process, and is the recommendation.

If you have any other questions, please don't hesitate to reach out. Thanks

[2018-10-11 19:57] #1240 closed

[2018-10-11 20:03] aljo-microsoft commented on #1229
@skwasiborski

Cross AZ with Silver durability support isn't implemented yet, and is something we are working on.

Until its supported you'd need to reduce durability to Bronze for SF Clusters.

If you have any other questions, please don't hesitate to reach out.

[2018-10-11 20:03] #1229 closed

[2018-10-12 00:56] baoduy commented on #1309
Nice, congratulation

[2018-10-12 01:11] dharmeshtailor commented on #1056
Can we at least get hold of previous working versions? Microsoft Web Platform Installer does not show previous versions. Haven't done a single productive task since last 4 days. Just trying to resolve this issue.

[2018-10-12 01:37] dragav commented on #1056
@marclallen @dharmeshtailor I am truly sorry for the pain you're experiencing. If possible, please send me the SF traces, whose path you can find under $HKLM\Software\Microsoft\ServiceFabric\FabricLogRoot (I would only need the 'Traces' directory).

Please zip the directory and upload it here, or rename the zip and email me (dragosav at microsoft).

Alternatively, we can set up a phone call/online

[2018-10-12 01:59] dharmeshtailor commented on #1056
I have copied the folders from my colleague's machine. For me, it works for 5 minutes and then die. So every 5 minutes I run following command to make it work again:

.\CleanCluster.ps1
.\DevClusterSetup.ps1 -CreateOneNodeCluster -Auto

It fails with following error

[code]

[Traces.zip](https://github.com/Azure/service-fabric-issues/files/2471288/Traces.zip)

[2018-10-12 04:38] nareshkhatri81 commented on #1310
@linggengmsft
Thanks for providing information.
one more question.
With AAD authentication, does service fabric does auditing ?
like which admin user has updated application, scaled application or delete applications.

if we have multiple admins, is there way to see what actions were performed by which admin in logs ?

Thanks,
naresh Khatri

[2018-10-12 04:41] nareshkhatri81 opened #1311 "PruneContainerImages doesnt seems to be working."
Team,

we have added this flag in cluster config.
we are seeing service fabric runtime is not deleting images which are not used by containers.
is there way to troubleshoot if runtime is trying to remove images or using this flag ?

 {
                "name": "PruneContainerImages",
                "value": "True"
          },

Thanks,
Naresh

[2018-10-12 05:00] dragav commented on #1056
@dharmeshtailor in your case, the issue seems related to a mismatching of code vs config. Tracing back this thread, you mentioned that you copied over the SDK and Fabric folders from an older installation over a newer one. I don't think the cleanup was effective, and that would explain what you're seeing.

Are you using containers? If not, disabling them may avoid this crash (which eventually term

[2018-10-12 05:12] dharmeshtailor commented on #1056
Thank you for your response. How do I disable the container?

I'll update the SF to latest version on Monday and share the traces.

[2018-10-12 05:13] 4c74356b41 commented on #1209
this doesnt make any sense whatsoever. How do you expect that to work? You have to be able to point dns records for the domain to the web server you control or have to create a txt record in dns. both of those effectively mean you own the domain. nothing would prevent you from getting the certificate from godaddy or whatever. besides, even the article you've linked mentioned the fact that ssl cert

[2018-10-12 06:40] usamaazhar commented on #1295
Looks like no one wants to reply :)

[2018-10-12 11:31] ChesneyMark commented on #1267
Hi, the link seems to take me to an empty repository.

[2018-10-12 15:35] motanv commented on #1139
Hello @TomSmets86,
I could not repro on a clean Azure VM (Windows 10 Pro, SF Runtime 6.2.283 and SF SDK 3.1.283). It could be some environment issue specific to your machine. Could you please share the SF logs, they usually lives in C:\SfDevCluster\Log\Traces and have names like fabric_traces_6.2.283.9494_131838307785070975_0.etl

Also, what do you mean by "I tried upgrading my Service Fabric SDK

[2018-10-12 15:50] oanapl commented on #1245
Talked offline with @mtucker2112 , he can't repro the issue anymore. He made a change in how they shutdown services (basically caught an unhandled exception) and that seems to have eliminated the problem.

[2018-10-12 15:50] #1245 closed

[2018-10-12 16:30] oanapl commented on #1293
@wuping2004 , we haven't heard from you in a while, so I will close the issue. Feel free to re-open if you still have questions.

[2018-10-12 16:56] zacharyhumphrey commented on #877
@rishirsinha, why is this being marked as closed as outlined by @wpsmmb? This is a common issue that we are experiencing as well and are constantly stuck redeploying to fix corrupted instances or replacing the nodes as any updates take longer than redeploying a cluster. This is a small 5 node cluster and at times it takes over an hour for any updates to occur. Microsoft really needs to make this p

[2018-10-12 17:14] wacsintegra commented on #877
@rishirsinha, why is this being marked as closed as outlined by @wpsmmb? This is a common issue that we are experiencing as well and are constantly stuck redeploying to fix corrupted instances or replacing the nodes as any updates take longer than redeploying a cluster. This is a small 5 node cluster and at times it takes over an hour for any updates to occur. Microsoft really needs to make this p

[2018-10-12 17:29] VipulM-MSFT commented on #877
We sincerely apologize for the frustration caused by prematurely closing this issue. We do understand that the experience of auto-scale or manually scaling the cluster is not ideal and we are looking at ways to improve it.  If you do encounter the issue, please open the support ticket and let us know on this thread. We will use this thread to collect the feedback and shape the solution. Thank you

[2018-10-12 17:30] ejlevin1 opened #1312 "EmbedAppNameInHost build process step breaking everything."
I keep getting this error randomly: The "EmbedAppNameInHost" task failed unexpectedly and it subsequently makes the Service project not build at all.  It's odd because I thought that it was when I would a second ASP.NET Core Service, but then I was able to reproduce it on a brand new solution/project with the first service.  I'm running VS2017 in Admin mode.  Attached is the build log error.  I al

[2018-10-12 17:37] linggengmsft commented on #1310
I don't believe there is an easy way to user, though through our system traces we would be able to tell.

[2018-10-12 18:39] vturecek commented on #1295
The "Type" attribute in the Endpoint element doesn't do anything. You have to make the reverse proxy port inaccessible outside your cluster by closing the port on your load balancer.

[2018-10-12 18:50] zuhairp commented on #1239
@cosie90, a few questions:

* What version of Service Fabric are you using?
* How much contention are you expecting? Are many transactions changing a few keys?
* If you use an update lock for the TryGetValue in the original code, does the issue still repro? You can set the lock mode with [this API](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicefabric.data.collections.ireliabledictio

[2018-10-12 19:39] wacsintegra commented on #877
@VipulM-MSFT is there a better engagement model that can be leveraged for this product? In most cases, companies do not have time to wait days to hear back from Microsoft Support; which seems to be extremely limited in abilities. In my case, it takes a solid one-two days to get any kind of response, which in 99% of the time is an automated response on assignment to a resource as a part of your wor

[2018-10-12 21:00] motanv commented on #1306
@JefSchraag, thanks for sharing the application manifests. Between the two versions of the application, was there any change in any of the service manifests belonging to one of the default services listed in the application manifest?

[2018-10-12 21:00] amanbha commented on #833
@marvinvperez This seems more like a ADAL issue, its complaining of invalid JWT token, could you debug what was the token you got grom AAD.

[2018-10-12 21:04] denizusky opened #1313 "Build sfproj solution fails on VSTS. The OutputPath property is not set for project '.csproj'."
I've set up a new build pipeline on VSTS using the "Azure Service Fabric application" template however I'm not able to get past the "Build **SfProj** solution step" which is complaining (for all the class libraries added to the project) about "The OutputPath property is not set for project '########.csproj'." .

I'm using VS2017 Hosted Agent Queue, and the solution is building/running fine locally

[2018-10-12 21:42] aljo-microsoft commented on #1209
Absolutely. Please reach out to me (https://www.linkedin.com/in/mrjohnsonalexander/) so we can continue this conversion.

TL;DR Routing any public traffic to any web server is trivial, Trusted Certificate Authority's value add is distributed trust for public networks, and non-trusted CA's have NOT met the qualifications to be a Trusted CA.

Please review Microsoft Trusted Root Certificate Program

[2018-10-12 22:30] dragav commented on #1056
@dharmeshtailor Please see the comment from @knizkar earlier in this thread: "Hosting/FabricContainerAppsEnabled* to false in cluster manifest"
{
  "name": "Hosting",
  "parameter": [
...
{
            "name": "FabricContainerAppsEnabled",
            "value": "false"
}]

[2018-10-12 22:33] ninzavivek commented on #994
- Could you confirm that the DNS service is enabled and healthy on your SF Cluster?
- How are you creating the local cluster?
- What SF Version are you using?
- How are you deploying the app?
- Is the host machine a VM or bare metal machine?

Could you share the ipconfig/all command ( obfuscating in such a way that is easy to make sense, an IP address gets changes with same value everywhere )

Als

[2018-10-12 22:43] rn-3 commented on #994
Running across 3 physical hosts (VMs).

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Mikkel Mork Hegnhoj <notifications@github.com>
Sent: Monday, September 3, 2018 3:10:36 AM
To: Azure/service-fabric-issues
Cc: rn-3; Mention
Subject: Re: [Azure/service-fabric-issues] Service name resolution fails in multi-container (windows)

[2018-10-13 00:33] masnider commented on #1233
So as it is set up now, you can hit the network load balancer directly, and things work, but not when you go through AppGW? So the configuration issue must be somewhere between AppGW and the LB. What's different between how you are hitting the LB and how AppGW is doing it?

[2018-10-13 00:35] masnider commented on #1233
Some basic/similar patterns are documented here: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-patterns-networking

[2018-10-13 00:36] masnider commented on #1238
No particular reason other than time - those other mechanisms were less commonly used and when we initially wrote this part of the code we prioritized the most common ones, and haven't had a chance to revisit this. Is there a specific one that you want to use that you cannot?

[2018-10-14 15:17] usamaazhar commented on #1295
The thing is we are using reverse proxy for other services we want to expose, cant we have some services as internal ?  If this is not possible whats the whole point of having the internal stateful services ?

[2018-10-14 21:31] dharmeshtailor commented on #1056
@dragav I already have that setting in config. I'll clean up and reinstall the latest version and then we try to resolve it from there.

Thanks.

[2018-10-15 04:53] nareshkhatri81 commented on #1310
@linggengmsft
its fine it user doesnt know. but from service fabric ETW logs will we be able to get information ?
our idea is that if some admin performs scaling, deleting app, it should be log somewhere.
we are planning to push ETW logs to dynatrace. so if etw logs contains those information. we are good.
can you confirm on that ?

[2018-10-15 05:52] novino commented on #1243
+@juhacket for ARM based SF app deployment. Double checked the 1.2.2 [sfpkg ](https://aka.ms/POA/POA_v1.2.2.sfpkg) package does have applicationmanifest.xml.
@juhacket what could've gone wrong here ?

@avi1479, this isn't a known issue, could you paste your ARM snippet for SF application resource.

[2018-10-15 09:19] jmprieur commented on #833
This is actually Azure AD complaining of an invalid token. Do you want to contact me directly? (Jean-Marc.Prieur at Microsoft.com)

[2018-10-15 10:18] Adebeer commented on #1309
Can anyone give me an update on how to configure the explorer/http gateway to be https aswell??

The problem with having the LB/Reverse Proxy configured for HTTPS but not the explorer is that once you visit a HTTPS URL via LB/Reverse Proxy, you cannot visit the explorer because browser caches the HTTPS certificate - so you have to either clear HTTPS cache or visit website in incognito (or via a pa

[2018-10-15 11:35] enemaerke opened #1315 "UpgradeService.Primary SFRPStreamChannel fails intermittently"
Hi all

We are seeing some intermittent errors from the UpgradeService on our cluster, where an error with TTL of 10 minutes is raised. It seems like once we get the error (through our alerting system) and we go to inspect the cluster through  ServiceExplorer there are no other indications ofther than the TTl 10 minute error and the rest of the service reports OK. The following  stacktrace is show

[2018-10-15 13:20] stijnherreman commented on #1238
I'm specifically interested in `FindBySubjectDistinguishedName`.

I (perhaps incorrectly) assumed this functionality is backed by .NET and that it was simply a matter of adding the others to `ServiceFabricServiceModel.xsd`.

[2018-10-15 16:48] dragav commented on #1238
@stijnherreman the example you provided at the top of this thread refers to the cluster's 'secrets' certificate, used for encryption of customer data. The only supported find type for that certificate is thumbprint, as that ensures the resolving of the correct enc-/decryption key.

For other certificate types - namely cluster and client certs, respectively, which comprise a cluster's security sett

[2018-10-15 17:20] groogiam commented on #1294
Yes. All services are running under a domain account. The services have no issue accessing network resources using this network credential except for shared printers. I have created a driver with the same code and run it outside of service fabric on the cluster nodes and it works fine as well. The issue only manifest when running the code inside of a Service Fabric Stateless service on Server 2012

[2018-10-15 18:56] wacsintegra commented on #877
@VipulM-MSFT Please address questions that are tagged to your team....

[2018-10-15 19:14] Krishna-teja commented on #1139
@motanv I am also having this same exact issue whenever I am using 5 node cluster. Here are the trace logs -
[Traces.zip](https://github.com/Azure/service-fabric-issues/files/2480173/Traces.zip)

[2018-10-15 19:47] Krishna-teja commented on #1139
@motanv The problem occurs with both Core and full .NET for all stateful services. It happens with both 1Node cluster and 5Node cluster. Its affecting all the devs here. Could you please look into this issue?

[2018-10-15 19:50] Krishna-teja commented on #1139
One other strange behavior is that when this issue happens - The system process spikes up quite huge on CPU and Disk and over time it gradually keeps growing.
![image](https://user-images.githubusercontent.com/6452602/46974407-88432980-d089-11e8-8c08-bc68e73d2b51.png)

[2018-10-15 21:21] denizusky commented on #1313
This turned out to be due to a strange VS2017 behavior / resetting the target architecture, and resolved by manually editing the csproj files.

[2018-10-15 21:21] #1313 closed

[2018-10-15 22:05] motanv commented on #1139
@Krishna-teja, it appears that you are on Service Fabric runtime 6.3.176, which SDK version are you using?

[2018-10-15 22:15] motanv commented on #1139
@Krishna-teja, also could you please make sure if the logs you have shared correspond to the SFX screen snapshot ? (The reason I am asking is, I cannot find the partition ids or apps in the trace). Please stop the local cluster, remove the contents of C:\SfDevCluster\Log\Traces and then start the cluster and deploy the app, let it run (stuck on _Node_0) for a while and then please share the conten

[2018-10-15 23:37] masnider commented on #1295
This is not possible today with the built-in reverse proxy on Windows. If the reverse proxy is exposed outside the cluster, then all services are exposed externally. If it is used within the cluster only, then all services are exposed, but only internally. We are working on addressing this shortcoming of the reverse proxy in upcoming releases.

[2018-10-15 23:43] masnider commented on #1269
Hi @pavanpadavala

Some follow up questions:

- Can you share how you're making that call to KV (what API)?
- Also do you still have examples of environments where this is currently working and also not working?
- Was this environment that is not working an upgrade from a working environment, or is it a separate cluster that's only run this version?

[2018-10-15 23:49] masnider commented on #1282
This wasn't really Service Fabric's choice and unfortunately we don't have a lot of control over this.

What probably happened was the default in VMSS switched from D_V2 to D_V3, which afaik is the version that has the much smaller local drives by default. Today when you set up a cluster you do get to pick the VM size, but yeah that's not really saying anything other than "just keep picking Dv2".

[2018-10-15 23:52] masnider commented on #1282
@TassaduqBasu fyi

[2018-10-16 00:05] masnider commented on #1270
Usually this is some other issue with Azure, such as your subscription being out of quota for cores of that particular VM type, or Azure itself not having hardware that matches the request (though that usually happens only with the larger VMs or special types of VMs, like the N, M, or G series). I would route this through regular Azure support. Quota is most likely and they can help you increase t

[2018-10-16 00:11] masnider commented on #1281
This is usually that the replicator ports are not correctly allowed through the firewall. Can you confirm the steps in the doc were followed and what the ouput of the TestConfiguration.ps1 script?

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-standalone-deployment-preparation

[2018-10-16 01:02] dragav commented on #1269
You seem to have an issue with the MSI endpoint on the VMSS. If you have access to one of the nodes, please run the following from a PowerShell prompt:

$response = Invoke-WebRequest -Uri 'http://localhost:50342/oauth2/token?resource=https%3A%2F%2Fvault.azure.net' -Method GET -Headers @{Metadata="true"}
$response

$response = Invoke-WebRequest -Uri 'http://169.254.169.254/metadata/identity/oauth2/

[2018-10-16 01:30] dkkapur commented on #772
@Angelicvorian fair - the documentation currently has steps that should work if followed explicitly. I'll take a stab at making it clearer this week and share an update. If you ran into the same issue as other did earlier, could you walk me through the steps you took to remove the node?

[2018-10-16 02:03] pavanpadavala commented on #1269
Thanks for your replies @masnider and @dragav
We identified the issue in the ARM resources and/or portal.
When we enabled the MSI extension on the VM Scaleset in the portal, it was not adding the below extension to the resource. We edited and manually added that in the resource and it started working.

`          {
            "properties": {
              "autoUpgradeMinorVersion": true,

[2018-10-16 02:10] dharmeshtailor commented on #1056
@dragav I have updated the service fabric to latest version and attached are the traces. I saw one new error:

[code]

**Attached Log files:**
[Log.zip](https://github.com/Azure/service-fabric-issues/files/2481125/Log.zip)

[2018-10-16 02:28] VipulM-MSFT commented on #1280
Use V2_1.

Here is the bit of history:

The V2 remoting stack provided support for custom serialization and transport for remoting messaging. However in addition to the changes in the wire protocol, there were some changes in the way serialization types for method parameters were generated. This prevented some interfaces to be not functional over V2 remoting protocol. If your service was using suc

[2018-10-16 02:28] #1280 closed

[2018-10-16 02:30] VipulM-MSFT commented on #1241
@TomaszSynak - let us know if you have update for this issue. If this is resolved, please feel free to close the issue.

[2018-10-16 02:33] VipulM-MSFT commented on #590
@amanbha and @ikaros88 - are there any pending work on this issue?

The original issue was about the empty DC namespace, this should have been fixed with the interface compatibility work (V2_1).

[2018-10-16 02:40] VipulM-MSFT commented on #186
@artisticcheese - could you clarify the requirements? Every container gets Fabric_..environment variables that provides the identity for the container.

The original issue was about passing the value of the environment variables from the host to the container. The setup entry point methods works for that.

[2018-10-16 02:44] VipulM-MSFT commented on #340
This issue was not followed up - but it is not possible to update Service Fabric version on the local development environment without admin access. I will be closing the issue based on this being the general question for which the answer was provided.

[2018-10-16 02:44] #340 closed

[2018-10-16 03:06] dragav commented on #1269
Thanks for the update, will consider this resolved.

[2018-10-16 03:06] #1269 closed

[2018-10-16 03:13] VipulM-MSFT commented on #711
Thank you for your patience on this. We are working on improving the CI/CD scenarios. Today CI/CD is possible through Azure DevOps (https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-deploy-app-with-cicd-vsts); however the SDK cannot be installed in the cluster.

We are making investments on various fronts:

A) Ensure that Service Fabric runtime can be installed in the c

[2018-10-16 03:13] VipulM-MSFT commented on #711
@MikkelHegn and @raunakpandya

[2018-10-16 03:28] VipulM-MSFT commented on #1284
@likevi-MSFT, @motanv  - can you follow up?

[2018-10-16 03:31] VipulM-MSFT commented on #1261
@shahriarhossain  - is this issue resolved? If so, please close the issue.

[2018-10-16 03:34] VipulM-MSFT commented on #1210
The first time you create an actor proxy in the process, there is a time spent in the code generation. Later on any latency in the actor proxy calls are typically can be coorelated to a failover in the actor service.

[2018-10-16 04:03] qrli commented on #1282
@masnider The package image store of SF itself takes take about 4GB for a single version of our app packages. So 16GB is the minimum size for D drive to run. And it cannot store a new version of all packages for a complete hot upgrade. Our own data stored in D is negligible.

[2018-10-16 04:13] dharmeshtailor commented on #1056
So here is another update. My local Service fabric is working perfectly now (for the time being. Fingers crossed).

When I ran the clean and setup dev cluster scripts, I got usual error while starting the service.

But then I started local cluster manager and started the cluster and execute my code and it worked all perfect.

There are couple of things I did though:

Under **Hosting**:
[code]

And

[2018-10-16 04:35] TomaszSynak commented on #1241
Thanks @VipulM-MSFT - closing the issue as it's no longer a problem.

[2018-10-16 04:42] #1241 closed

[2018-10-16 04:56] nareshkhatri81 commented on #1311
@VipulM-MSFT
we have images in cluster.
we removed cluster and created again with prune flag.
After few hours, we still see images present in cluster.
is there way from logs to see if deletion manager is running ?

[2018-10-16 05:03] harahma commented on #1311
@nareshkhatri81 Did you unprovisioned your application types? After you unprovision it can take upto one hour for deletion to kick-in as it runs periodically every 1 hour.

[2018-10-16 05:12] nareshkhatri81 commented on #1311
@harahma

So service fabric doesn't look into existing docker images which are present in nodes in cluster and delete those.
App needs to be provisioned via SF and then we have to unprovisioned it, after that it kicks off prune.
so docker images which are part of provisioned app will be deleted ?
can you confirm that behavior ?

Thanks,
Naresh Khatri

[2018-10-16 06:36] julioas09 commented on #1281
Yeah, the problem was the dynamic ports were not allowed through a network firewall.

[2018-10-16 06:36] #1281 closed

[2018-10-16 09:39] qrli commented on #1282
@masnider I checked and found Dv2 can no longer be selected. The only choice without SSD D drive is A series, which use old hardware and often lack of capacity to provision a new cluster.

[2018-10-16 10:14] MikkelHegn commented on #1312
@dbreshears and @wli3 if they have any idea why the .net target cannot acces the file.

From the logs:

1>C:\Program Files\dotnet\sdk\2.1.403\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.Sdk.targets(306,5): error MSB4018: System.UnauthorizedAccessException: Access to the path 'C:\Users\ejlevin1\Documents\Visual Studio 2017\Projects\ServiceFabricTest\SmartHostWeb\obj\netcoreapp2.1\win7-x64\host\Sma

[2018-10-16 10:21] usamaazhar commented on #1295
Thanks for the update :)

[2018-10-16 11:29] artisticcheese commented on #186
You have environment variable called `Foo` which is defined on service fabric host. You want to pass that environment variable and it's value to a container which runs on this host as an environment variable. How do you do that in Service Fabric. It's possible to do in other orchestrators.

[2018-10-16 12:33] artisticcheese commented on #186
Please close this case. I will create another requirement for modifying start up option for docker itself to allow to modify parameters of actual container like swarm does (https://docs.docker.com/engine/reference/commandline/service_create/#create-services-using-templates)

[2018-10-16 14:20] wacsintegra commented on #877
@VipulM-MSFT thank you for the response and insights as well as the personel to reach out to for issues when normal support channels are not appropriately being resolve related to the clusters. Do you have any ETA for the updates for providing more documentation so we can be successful with this product?

[2018-10-16 15:18] ikaros88 commented on #590
@VipulM-MSFT
Looks good so far, I do not have any issues currently anymore!

[2018-10-16 15:41] hrushib commented on #1230
@qmarc, please share the Service Fabric cluster version where you saw above error.
Is it standalone cluster or the one created in Azure (using SFRP - Service Fabric Resource Provider)

[2018-10-16 16:15] dbreshears commented on #1312
No immediate idea.  Trying to repro based on your video but no luck.    @ejlevin1  Do you also hit this on F5 or when building the solution or via the SmartHost SFApp project?  Do you also hit this with just a new .NET Core 2.1 app outside of the Service Fabric solution?

[2018-10-16 16:20] pkcsf commented on #877
Please add pkc@microsoft.com  also with the support ticket number along with chackdan / vipulm

[2018-10-16 16:48] starforce commented on #730
Hello,
How long before this feature  will be ready for production release?

[2018-10-16 17:08] milovaz opened #1316 "Linux Containers can't resolve DNS"
Applications running inside linux docker containers on SF cluster can't resolve DNS names. I checked the "/etc/resolv.conf" file in the container and it contains only "nameserver 172.17.0.1".

How can i solve this? There's some configuration that needs to go in the Application or ServiceManifest in order to make DNS resolution works inside the containers?

[2018-10-16 17:58] dragav commented on #1056
Thank you for the update, as well as the hint. Will keep the issue open until we roll out a fix.

[2018-10-16 20:17] likevi-MSFT commented on #1284
Looking into the issue right now.

[2018-10-16 23:15] qmarc commented on #1230
Hi @hrushib, we are currently at v6.3.162.9494 and running an on-prem cluster. However after diving into the logs across all the cluster nodes across all our environments I do not see any entries for the above error at the moment, so I think we can close this one.

[2018-10-16 23:15] #1230 closed

[2018-10-17 04:59] #186 closed

[2018-10-17 10:37] nineralpha opened #1317 "Keep multiple versions of service in one Named application"
Here is the behavior i need...
I have a service A version 1.0.0. what i want is when i upgrade this service, running instances of this services should not be upgraded instead both version should now be available in Named application so i can create the new service instances with any of available versions.
like at runtime
CreateService A version 1.0.0
CreateService A version 2.0.0.
Is it possible?

[2018-10-17 16:09] oanapl commented on #1317
This is only possible while app upgrade is in progress. Depending on the nodes your service runs on, if they are in different upgrade domains, you could control the upgrade parameters to delay it. For example, if you use monitored upgrades, you could specify large [health checks intervals](https://docs.microsoft.com/azure/service-fabric/service-fabric-application-upgrade-parameters), which will de

[2018-10-17 18:36] oanapl commented on #1290
@rspandi1985 , as @guibirow replied, diff packaging will help you achieve this. I will close the issue, if you have other questions feel free to re-open this one or open new one.

[2018-10-17 18:36] #1290 closed

[2018-10-17 18:38] oanapl commented on #1007
There have been no activity on this thread for a while. @nareshkhatri81 , please re-open if you still have issues.

[2018-10-17 18:38] #1007 closed

[2018-10-17 19:03] motanv commented on #1306
@JefSchraag, the reason for asking about the service manifests is that recently there was an issue where customer did not think he changed the default service description because he did not touch the application manifest, but he did modify the placement constraints in the service manifest (for the default service). If you did not change the service manifests either, then I would need the Service F

[2018-10-17 19:13] VipulM-MSFT commented on #877
We are working on the testing the topology for the stateless workloads with schedule based auto-scale as the first scenario. Additionally, we plan to provide more details on the inner workings of the VMSS and Service Fabric integration to highlight the class of issues you can run in to and guidance to avoid them as well as mitigate them; while we work on improving the integration channel.

[2018-10-17 19:36] wacsintegra commented on #877
@VipulM-MSFT Thank you sir, any ETA for getting this information out there?

[2018-10-17 20:32] likevi-MSFT commented on #1284
I don't think the Restart CodePackage API would cause the Chaos related exceptions. I'm assuming you are calling Restart on your application and not FaultAnalysisService which is the service that runs Chaos.

[2018-10-17 21:28] hkuizenga opened #1318 "ApplicationGateway.exe stopped running on a few nodes in cluster"
Hi folks,

We have an existing cluster which abruptly started showing a handful of nodes as down in the cluster.  Upon investigating, we discovered that ApplicationGateway.exe is not running on those nodes (and that it is running on nodes still showing as up).  We have not made any configuration changes in our cluster, so I'm trying to figure out how to figure out why this is not running.  Are the

[2018-10-17 22:16] masnider commented on #1289
If you look in eventviewer for the nodes that are restarting, do you see any errors or any information that seems interesting in the Service Fabric events channels?

[2018-10-18 00:08] dbreshears commented on #1285
This appears to be what is failing.   Can you try to run this from the command line?

dev-certs https -ep <path> -p <password>

[2018-10-18 00:35] dharmeshtailor commented on #1056
Just an update, "Reset Local Cluster" still fails with error, but when I execute my code, it gets deployed and work properly.

[2018-10-18 06:02] ThiemeNL commented on #730
Hi @starforce I'm also waiting for the GA. @MikkelHegn mentioned something about the GA at ignite: https://www.youtube.com/watch?v=uVJx_WJ3xbY&t=1271s

[2018-10-18 06:48] hkuizenga commented on #1318
I found the following in my fabric_traces files around the time that the issue began.  I do not see any errors before these.

![image](https://user-images.githubusercontent.com/36278411/47135737-ba61b080-d26e-11e8-844a-d3725817dd50.png)

![image](https://user-images.githubusercontent.com/36278411/47135754-c51c4580-d26e-11e8-9140-99faad18d155.png)

![image](https://user-images.githubusercontent.com

[2018-10-18 07:05] nineralpha commented on #1317
@oanapl delaying upgrade and different applications are not options because there will be frequent updates resulting in many versions i wanted to keep them all and create an instance of any of these on demand in one single application that i think is not possible right now.

[2018-10-18 08:29] MikkelHegn commented on #730
The plan is to make the service general available with the 6.4 release coming up soon.

[2018-10-18 12:31] broersa commented on #1182
anyone?

[2018-10-18 12:58] MikkelHegn commented on #1182
@ReubenBond - any ideas?

[2018-10-18 14:07] starforce commented on #730
Thanks @ThiemeNL for the YouTube link. I am excited about it. However, in the demo they are using the same WebRefernce solution which is not built on .NET Core. Outside of using  existing .NET apps and porting  them over to service fabric, why wouldn't you create any new app using .NET Core?

[2018-10-18 18:19] VipulM-MSFT commented on #877
As I mentioned we are working on it actively. We will provide the update when we have an update; in meanwhile if you do have issues, feel free to reach out to us and we can provide specific guidance based on your cluster topology and workload.

[2018-10-18 20:54] pksorensen commented on #877
Feel free to see if you can get any information out of this one:
[code]

Its had 5 nodes stuck (other than the 5 primary nodes) for a day or so now. Autoscale based on CPU.

I also share the concern that I dont know if i would trust SF/VMSS to run a mission critial system right now that require scaling - i seen so many errors that require so much manual effort - and then also the time/effort requi

[2018-10-18 21:18] masnider commented on #1294
Yeah
  | 1801 | ERROR_INVALID_PRINTER_NAME | The printer name is invalid.

Would it be possible for you to share the code that you're trying to use to print? Things I have seen that have resulted in this error:

- The printer is not listed in AD as a resource
- The printer name had some illegal characters in its name
- The machine has just come up and something about the machine policies hasn't go

[2018-10-18 21:19] masnider commented on #1297
When you say outside service fabric, you mean on the same node you can launch the same process and that can connect?

Usually this is some permissions or connectivity issue on the cluster machines.

[2018-10-18 23:00] dbreshears commented on #1308
Seems like a reasonable request.   Will look into adding this to our Publish dialog in a future release.

[2018-10-19 03:48] VipulM-MSFT commented on #877
@pksorensen - thanks which region?

[2018-10-19 04:42] harahma commented on #1311
When you unprovison an application type, it is for a particular version. And container images associated with that particular version of application type would be pruned.

[2018-10-19 05:53] pksorensen commented on #877
@VipulM-MSFT WestEurope

It resolved itself now and are back to 5 nodes.

(clicked restart on a disabling node in explorer)

I will write again when it happens again

[2018-10-19 09:45] gicat opened #1319 "Reserved Instance for existing Service Fabric cluster"
Is it possible to apply reserved instance to an existing Service Fabric cluster?
Otherwise, how to modify an existing Service Fabric template to apply reserved instance during creation?
Thanks.

[2018-10-19 13:08] stijnherreman commented on #1238
I currently use that functionality to make an application certificate and an SSL certificate available to a Guest Executable application. IIRC it is necessary to ensure the application has access to the certificates, but perhaps I messed up during initial testing so I'll try to do some tests sometime next week without that part of the configuration.

[2018-10-19 14:10] nsoderberg opened #1320 "Event Log: Failed to open store '' at LocalMachine: E_INVALIDARG"
Directly after installing the Service Fabric SDK and running DevClusterSetup.ps1 to setup a one node secure cluster, I keep getting these event logs, once a minute:
- Failed to open store '' at LocalMachine: E_INVALIDARG
Followed by:
- Failed to get the Certificate's private key. Thumbprint:ServiceFabricDevClusterCert. Error: E_INVALIDARG
- Failed to get private key file. x509FindValue: ServiceFab

[2018-10-19 15:42] bigglesuk69 opened #1321 "Can't add additional Client Certificate with PowerShell"
I've been trying to add a second client certificate to a test Service Fabric cluster in Azure using the following command: -

_Add-AzureRmServiceFabricClientCertificate -ResourceGroupName $serviceFabricInstanceRG -Name $serviceFabricInstanceName -Thumbprint $clientThumbprint_

Every time it errors, but when trying through the portal it works without issues.

Any ideas why this isn't working? It se

[2018-10-19 15:55] marclallen commented on #1056
Sorry for the delay.  Other fires. :)

I see some progress has been made.  I'll try these fixes and if they don't work, I'll post a traces log.

[2018-10-19 16:11] pksorensen commented on #877
@VipulM-MSFT

Two nodes got stuck in disabling state again. Restarting them in explorer helps some times.

Since i cant wait for you guys when it happens - are there anything i can do to help. (its ubuntu, and if yo provide me with a script that i should run on the nodes that get stuck, i will do this.) Thinking that the script will dump and upload what ever logs/dumps that would be helpful for yo

[2018-10-19 16:35] pksorensen opened #1322 "ApplicationPrincipals. Error:ApplicationPrincipalAbortableError on working cluster"
I have a cluster where applications are deployed and works.

Then once a while I do see the following error:

[code]

in the explorer.  Restarting the node in explorer do not resolve it, when the application comes up again then it reports the error again.

Reimaging the node from azure portal works. But as i am evaluating SF for this project, i dont want to manually have to fix these things. But i

[2018-10-19 16:43] motanv commented on #1284
For telemetry GetChaosReport is called once an hour, if Chaos has never been enabled in the cluster, those benign exceptions will occur. @denisprsa it seems that the issue is gone after you have fixed the bug in your sevice, is that correct?

[2018-10-19 18:05] VipulM-MSFT commented on #877
@pksorensen - yes I looked at the cluster. The cluster has stateful workloads and the primary node type is being scaled. Do you want to scale both stateful and stateless workload or only stateless workloads?

I am giving a little bit longer answer to help understand the issues.

When a node containing stateful replicas is scaled back in (or being removed), the VMSS controller first asks the Servic

[2018-10-19 18:30] pksorensen commented on #877
Thanks for the suggestions. I will read it again, but i really am stuck at the "10 nodes". This is already way to expensive to run with 5 nodes for something you dont know will take off :)

Its not on purpose i scale the primary node, i just did not want to have more nodetypes - but maybe i need that. It really pains me that I pay for 5 nodes running at <5% CPU on the primary nodes to have 5 other

[2018-10-19 18:39] VipulM-MSFT commented on #877
Agree and that's what we are working on.

On the first set of guidance:
For the stateless workload, with the right settings we should be able to 3 on the primary node type and with additional work (which we are doing) on the secondary node you can go down to zero.

For the stateful workload, with the right setting initially, we should be able to do to 3 on the primary node type and 5 on the second

[2018-10-19 18:53] pksorensen commented on #877
Thanks for the update.

I will stick with what i have and manual fix when it get stuck.

To make sure i understand it correct . When a node get stuck, what would be the best action to take. (I can recover from state loose at this point in my application)

1. Restart Node (in explorer)
2. Restart Machine (in azure portal)
3. Reimage Machine ( in azure portal)

And another element that is blocking m

[2018-10-19 19:35] pksorensen commented on #877
@VipulM-MSFT Can i do a

<PlacementConstraints>(NodeTypeName==BackEnd)</PlacementConstraints>

that target seed nodes without knowing the NodeTypeName?

[2018-10-19 20:15] oanapl commented on #1322
Hosting tries to setup users for RunAs and for other Service Fabric internal operations. Looks like in your case setting the principals failed. The most localized mitigation to try is restarting FabricHostSvc service on the node. If that's not an option, try restarting the VM. When the service is restarted, it retries cleaning & setting the principals.
If that doesn't fix the problem, it may be be

[2018-10-19 20:18] pksorensen commented on #1322
@oanapl I am on a ubuntu cluster - not sure where i look as there is no eventlog i guess?

I get that its related to setting up users - but i find it odd that it happens later then when the application is deployed.

In my case two applications was deployed and its been running for some weeks, then it happens. I assume that it wont be creating new users later?